Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

feat: code chore on Dao classes
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandlerTest.kt
  coordinator/persistence/batch/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/BatchesPostgresDaoTest.kt
  coordinator/persistence/batch/src/main/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/BatchesDao.kt
  coordinator/persistence/batch/src/main/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/BatchesPostgresDao.kt
  coordinator/persistence/batch/src/main/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/PostgresBatchesRepository.kt
  coordinator/persistence/blob/src/main/kotlin/net/consensys/zkevm/persistence/dao/blob/BlobsPostgresDao.kt
Due: kotlin

feat: rename batchesDaoTableName to batchesTableName
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandlerTest.kt
  coordinator/persistence/batch/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/BatchesPostgresDaoTest.kt
  coordinator/persistence/batch/src/main/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/BatchesPostgresDao.kt
Due: kotlin

forge build working
  .gitignore
  .gitmodules
  contracts/foundry.toml
  contracts/hardhat.config.ts
  contracts/package.json
  pnpm-lock.yaml
Due: hardhat

poc done
  contracts/contracts/messageService/l2/L2MessageManager.london.sol
  contracts/contracts/messageService/l2/L2MessageService.london.sol
  contracts/foundry.toml
Due: hardhat

fix: Daily Blockchain Reference Test Workflow Failures (#1588)
  tracer/.github/workflows/gradle-ethereum-tests.yml
  tracer/.github/workflows/reference-blockchain-tests.yml
  tracer/gradle/lint.gradle
Due: none

Fixed sigterm propagation, making geth containers faster to stop and restart (#358)
  docker/compose.yml
  docker/geth/scripts/node.sh
  docker/scripts/functions.sh
  docker/scripts/node.sh
  docker/scripts/validator.sh
Due: none

Update docs/architecture-description.md
  docs/architecture-description.md
Due: none

Apply suggestions from code review
  docs/architecture-description.md
Due: none

update version and changelog (#1589)
  tracer/CHANGELOG.md
  tracer/gradle.properties
Due: none

Update contracts/README.md
  contracts/README.md
Due: hardhat

Coordinator - Extra tests for findConsecutiveProvenBlobs (#186)
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Aggregation.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Blob.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Conflation.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/proofcreation/ZkProofCreationCoordinatorImpl.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/persistence/AggregationsRepository.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/persistence/BatchesRepository.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/persistence/BlobsRepository.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorServiceTest.kt
  coordinator/core/src/testFixtures/kotlin/net/consensys/zkevm/domain/Aggregagtion.kt
  coordinator/core/src/testFixtures/kotlin/net/consensys/zkevm/domain/Batch.kt
  coordinator/core/src/testFixtures/kotlin/net/consensys/zkevm/domain/BlobRecord.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/AggregationFinalizationCoordinator.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/BlobSubmissionCoordinator.kt
  coordinator/ethereum/blob-submitter/src/test/kotlin/net/consensys/zkevm/ethereum/submission/BlobSubmissionCoordinatorTest.kt
  coordinator/persistence/aggregation/build.gradle
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsPostgresDaoTest.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandlerTest.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsDao.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsRepositoryImpl.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/PostgresAggregationsDao.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RetryingPostgresAggregationsDao.kt
  coordinator/persistence/aggregation/src/test/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RetryingPostgresAggregationsDaoTest.kt
  coordinator/persistence/batch/build.gradle
  coordinator/persistence/batch/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/BatchesPostgresDaoTest.kt
  coordinator/persistence/batch/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/PostgresBatchesRepositoryTest.kt
  coordinator/persistence/batch/src/main/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/BatchesDao.kt
  coordinator/persistence/batch/src/main/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/BatchesPostgresDao.kt
  coordinator/persistence/batch/src/main/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/PostgresBatchesRepository.kt
  coordinator/persistence/batch/src/main/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/RetryingBatchesPostgresDao.kt
  coordinator/persistence/blob/build.gradle
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/blob/BlobsPostgresDaoTest.kt
  coordinator/persistence/blob/src/main/kotlin/net/consensys/zkevm/persistence/dao/blob/BlobsDao.kt
  coordinator/persistence/blob/src/main/kotlin/net/consensys/zkevm/persistence/dao/blob/BlobsPostgresDao.kt
  coordinator/persistence/blob/src/main/kotlin/net/consensys/zkevm/persistence/dao/blob/BlobsRepositoryImpl.kt
  coordinator/persistence/blob/src/main/kotlin/net/consensys/zkevm/persistence/dao/blob/RetryingBlobsPostgresDao.kt
  coordinator/persistence/blob/src/test/kotlin/net/consensys/zkevm/persistence/dao/blob/RetryingBlobsPostgresDaoTest.kt
  coordinator/persistence/db-common/src/testFixtures/kotlin/net/consensys/zkevm/persistence/db/test/DbQueries.kt
Due: kotlin

[Chore] - Tweak readme documentation and audits (#359)
  contracts/README.md
  contracts/docs/audits.md
Due: hardhat

Update Linea Besu and Tracer (#112)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/LineaPluginTestBase.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits_sendRawTx.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/txOverflowModuleLimits.toml
  besu-plugins/linea-sequencer/gradle.properties
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/AbstractLineaRequiredPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/AbstractLineaSharedPrivateOptionsPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/extradata/LineaExtraDataPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/services/LineaEstimateGasEndpointPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/services/LineaSetExtraDataEndpointPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorPlugin.java
Due: none

3D pricing metrics (#107)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/LineaPluginTestBase.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/extradata/ExtraDataPricingTest.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/AbstractLineaSharedPrivateOptionsPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/bl/TransactionProfitabilityCalculator.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaProfitabilityCliOptions.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaProfitabilityConfiguration.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/extradata/LineaExtraDataPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/metrics/HistogramMetrics.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/metrics/LineaMetricCategory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/metrics/TransactionPoolProfitabilityMetrics.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/LineaTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/ProfitableTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/ProfitableTransactionSelectorTest.java
Due: none

Chore/goerli removal (#342)
  contracts/.env.template.uat
  contracts/docs/deployment.md
  contracts/docs/linea-token-bridge.md
  contracts/docs/operational.md
  contracts/scripts/gnosis/encodingTx2.ts
  contracts/scripts/operational/getCurrentFinalizedBlockNumberTask.ts
  contracts/scripts/operational/grantContractRolesTask.ts
  contracts/scripts/operational/renounceContractRolesTask.ts
  contracts/scripts/operational/setRateLimitTask.ts
  contracts/scripts/operational/setVerifierAddressTask.ts
  contracts/scripts/operational/transferOwnershipAndSetRemoteTokenBridgeTask.ts
Due: hardhat

commit
  contracts/contracts/messageService/l2/L2MessageManager.london.sol
  contracts/contracts/messageService/l2/L2MessageService.london.sol
  contracts/foundry.toml
Due: hardhat

did lint command
  contracts/.prettierignore
  contracts/.solhintignore
  contracts/foundry.toml
  contracts/test/foundry/ExampleFoundryTest.t.sol
Due: hardhat

remove caret from hardhat-foundry
  contracts/package.json
  pnpm-lock.yaml
Due: hardhat

add foundry installation to run-smc-tests.yml
  .github/workflows/run-smc-tests.yml
Due: none

update run-smc-tests.yml
  .github/workflows/run-smc-tests.yml
Due: none

staterecovery: improve JSON-RPC
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/JsonRpcMessageProcessor.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/JsonRpcResponse.kt
Due: kotlin

[Feat] - Foundry config, supports London EVM_VERSION for L2 Linea contracts (#361)
  .github/workflows/run-smc-tests.yml
  .gitignore
  .gitmodules
  contracts/.prettierignore
  contracts/.solhintignore
  contracts/foundry.toml
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/test/foundry/ExampleFoundryTest.t.sol
  pnpm-lock.yaml
Due: hardhat

use shared audits file and link it from contracts
  contracts/README.md
  docs/audits.md
Due: hardhat

fix: use the appropriate go-corset version
  prover/go.mod
  prover/go.sum
  prover/zkevm/arithmetization/definition.go
Due: none

fix: update sdk dependencies
  pnpm-lock.yaml
  sdk/package.json
  sdk/scripts/runSdk.ts
Due: none

fix: remove .env.sample file
  sdk/.env.sample
Due: none

fix: remove testing helpers from the build
  sdk/tsconfig.build.json
Due: none

add missing ZKSecurity report
  docs/audits.md
Due: none

test failing collectFields <> PI integration
  prover/backend/aggregation/craft.go
  prover/backend/aggregation/craft_test.go
  prover/backend/aggregation/prove.go
  prover/backend/aggregation/testdata/4461000-4461233-getZkAggregatedProof.json
  prover/backend/aggregation/testdata/responses/4459440-4461292-getZkBlobCompressionProof.json
  prover/backend/aggregation/testdata/responses/4461000-4461077-getZkProof.json
  prover/backend/aggregation/testdata/responses/4461078-4461155-getZkProof.json
  prover/backend/aggregation/testdata/responses/4461156-4461233-getZkProof.json
  prover/public-input/execution.go
Due: none

lots of little testing tools
  prover/backend/aggregation/craft_test.go
  prover/backend/aggregation/testdata/4461000-4461233-getZkAggregatedProof.json
  prover/backend/aggregation/testdata/responses/4461000-4461233-getZkBlobCompressionProof.json
Due: none

revert delete new tests
  prover/backend/aggregation/craft_test.go
  prover/backend/aggregation/testdata/4461000-4461233-getZkAggregatedProof.json
  prover/backend/aggregation/testdata/responses/4459440-4461292-getZkBlobCompressionProof.json
  prover/backend/aggregation/testdata/responses/4461000-4461077-getZkProof.json
  prover/backend/aggregation/testdata/responses/4461000-4461233-getZkBlobCompressionProof.json
  prover/backend/aggregation/testdata/responses/4461078-4461155-getZkProof.json
  prover/backend/aggregation/testdata/responses/4461156-4461233-getZkProof.json
Due: none

snapshot
  prover/backend/aggregation/craft.go
  prover/backend/aggregation/prove.go
  prover/public-input/execution.go
Due: none

fix: update gas provider in linea sdk and update postman client
  pnpm-lock.yaml
  postman/package.json
  postman/scripts/sendMessageOnL1.ts
  postman/src/application/postman/app/PostmanServiceClient.ts
  postman/src/index.ts
  postman/src/services/persistence/LineaMessageDBService.ts
  sdk/src/LineaSDK.ts
Due: none

refac check for chain id etc first
  prover/circuits/pi-interconnection/assign.go
  prover/circuits/pi-interconnection/circuit.go
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
