Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

explicit nonces and address correction
  bridge-ui/src/config/config.ts
  bridge-ui/src/services/tokenService.ts
  bridge-ui/test/constants.ts
  contracts/local-deployments-artifacts/deployBridgedTokenAndTokenBridgeV1_1.ts
  contracts/local-deployments-artifacts/deployPlonkVerifierAndLineaRollupV8.ts
  contracts/local-deployments-artifacts/deployTestERC20.ts
  e2e/src/config/tests-config/environments/dev.ts
  e2e/src/config/tests-config/environments/local.ts
  e2e/src/config/tests-config/environments/sepolia.ts
  e2e/src/config/tests-config/types.ts
Due: hardhat

fix(manual_shifter): bug fixes
  prover/protocol/distributed/manual_shifter.go
Due: none

[Feat] - Deploy FTX gateway in local stack (#2307)
  Makefile
  besu-plugins/state-recovery/test-cases/src/e2eTest/kotlin/linea/staterecovery/StateRecoveryE2ETest.kt
  bridge-ui/src/config/config.ts
  bridge-ui/src/services/tokenService.ts
  bridge-ui/test/constants.ts
  config/coordinator/coordinator-config-v2.toml
  contracts/.env.template
  contracts/.env.template.ci
  contracts/common/helpers/deployments.ts
  contracts/deploy/22_deploy_ForcedTransactionGateway.ts
  contracts/local-deployments-artifacts/deployBridgedTokenAndTokenBridgeV1_1.ts
  contracts/local-deployments-artifacts/deployPlonkVerifierAndLineaRollupV8.ts
  contracts/local-deployments-artifacts/deployTestERC20.ts
  contracts/local-deployments-artifacts/static-artifacts/ForcedTransactionGateway.json
  contracts/local-deployments-artifacts/static-artifacts/Mimc.json
  docker/compose-spec-l2-services.yml
  docker/config/maru/sequencer.config.toml
  docker/config/postman/env
  e2e/src/config/tests-config/environments/dev.ts
  e2e/src/config/tests-config/environments/local.ts
  e2e/src/config/tests-config/environments/sepolia.ts
  e2e/src/config/tests-config/types.ts
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/LogsSearcherIntTest.kt
  makefile-contracts.mk
  postman/.env.sample
Due: hardhat, kotlin

feat: implement LdoVotingContractFetcher with DB-derived fromBlock
  native-yield-operations/lido-governance-monitor/.env.sample
  native-yield-operations/lido-governance-monitor/package.json
  native-yield-operations/lido-governance-monitor/src/application/main/LidoGovernanceMonitorBootstrap.ts
  native-yield-operations/lido-governance-monitor/src/application/main/__tests__/LidoGovernanceMonitorBootstrap.test.ts
  native-yield-operations/lido-governance-monitor/src/application/main/__tests__/config.test.ts
  native-yield-operations/lido-governance-monitor/src/application/main/config/index.ts
  native-yield-operations/lido-governance-monitor/src/clients/db/ProposalRepository.ts
  native-yield-operations/lido-governance-monitor/src/clients/db/__tests__/ProposalRepository.test.ts
  native-yield-operations/lido-governance-monitor/src/core/entities/Proposal.ts
  native-yield-operations/lido-governance-monitor/src/core/repositories/IProposalRepository.ts
  native-yield-operations/lido-governance-monitor/src/services/__tests__/fetchers/LdoVotingContractFetcher.test.ts
  native-yield-operations/lido-governance-monitor/src/services/fetchers/LdoVotingContractFetcher.ts
  pnpm-lock.yaml
Due: none

manual integration test script for ldo voting contract fetcher
  native-yield-operations/lido-governance-monitor/scripts/test-ldo-voting-contract-fetcher.ts
Due: none

fix: add stub repository to LdoVotingContractFetcher test script
  native-yield-operations/lido-governance-monitor/scripts/test-ldo-voting-contract-fetcher.ts
Due: none

TX_AUTH: adding blank method for validity check of auth tuple
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blockdata/module/BlockData.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/AuthorizationFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxAuthorizationMacroSection.java
Due: none

refactor: replace maxVotesPerPoll with initialEventScanBlock
  native-yield-operations/lido-governance-monitor/.env.sample
  native-yield-operations/lido-governance-monitor/scripts/test-ldo-voting-contract-fetcher.ts
  native-yield-operations/lido-governance-monitor/src/application/main/LidoGovernanceMonitorBootstrap.ts
  native-yield-operations/lido-governance-monitor/src/application/main/__tests__/LidoGovernanceMonitorBootstrap.test.ts
  native-yield-operations/lido-governance-monitor/src/application/main/__tests__/config.test.ts
  native-yield-operations/lido-governance-monitor/src/application/main/config/index.ts
  native-yield-operations/lido-governance-monitor/src/services/__tests__/fetchers/LdoVotingContractFetcher.test.ts
  native-yield-operations/lido-governance-monitor/src/services/fetchers/LdoVotingContractFetcher.ts
Due: none

refactor: rewrite LdoVotingContractFetcher to use readContract + narrow getLogs
  native-yield-operations/lido-governance-monitor/.env.sample
  native-yield-operations/lido-governance-monitor/scripts/test-ldo-voting-contract-fetcher.ts
  native-yield-operations/lido-governance-monitor/src/application/main/LidoGovernanceMonitorBootstrap.ts
  native-yield-operations/lido-governance-monitor/src/application/main/__tests__/LidoGovernanceMonitorBootstrap.test.ts
  native-yield-operations/lido-governance-monitor/src/application/main/__tests__/config.test.ts
  native-yield-operations/lido-governance-monitor/src/application/main/config/index.ts
  native-yield-operations/lido-governance-monitor/src/services/__tests__/fetchers/LdoVotingContractFetcher.test.ts
  native-yield-operations/lido-governance-monitor/src/services/fetchers/LdoVotingContractFetcher.ts
Due: none

style: apply prettier formatting to service files
  native-yield-operations/lido-governance-monitor/src/services/ProposalFetcher.ts
  native-yield-operations/lido-governance-monitor/src/services/__tests__/ProposalFetcher.test.ts
  native-yield-operations/lido-governance-monitor/src/services/__tests__/fetchers/DiscourseFetcher.test.ts
Due: none

fix(distributed): test added in manual shifter
  prover/protocol/distributed/manual_shifter.go
  prover/protocol/distributed/manual_shifter_test.go
Due: none

fix(dedicated): circular logic is implemented in shift
  prover/protocol/dedicated/manual_shift.go
Due: none

ras
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpAuth/RlpAuth.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpAuth/RlpAuthOperation.java
Due: none

feat: add auto linea-besu-package release for build from source tracer and sequencer
  .github/workflows/linea-besu-package-release.yml
Due: none

create send forced transaction script
  contracts/scripts/operational/forcedTransactions/sendForcedTransaction.ts
Due: hardhat

log single lines in parse friendly format
  contracts/scripts/operational/forcedTransactions/sendForcedTransaction.ts
Due: hardhat

feat: changed the hash from mimc to Poseidon for generating invalidity public input
  prover/circuits/invalidity/pi.go
  prover/circuits/invalidity/pi_test.go
  prover/public-input/invalidity.go
Due: none

removed useless CodeDelegationTuple class
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpAuth/CodeDelegationTuple.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpAuth/RlpAuth.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpAuth/RlpAuthOperation.java
Due: none

use dynamic fork timestamp in local stack
  .gitignore
  contracts/scripts/operational/forcedTransactions/sendForcedTransaction.ts
  docker/config/l2-genesis-initialization/init.sh
  makefile-contracts.mk
Due: hardhat

fix: added the constraints over functional public inputs
  prover/circuits/invalidity/invalidity.go
  prover/circuits/invalidity/nonce_balance.go
  prover/circuits/invalidity/nonce_balance_test.go
Due: none

Remove unnecessary zkStateRootHash from FinalizationUpdate
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitor.kt
  coordinator/ethereum/finalization-monitor/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImpl.kt
  coordinator/ethereum/finalization-monitor/src/test/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImplTest.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandlerTest.kt
Due: kotlin

added alternative method to compute ecRecover input
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpAuth/RlpAuth.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpAuth/RlpAuthOperation.java
Due: none

TX_AUTH: implementation of tupleIsValid
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxAuthorizationMacroSection.java
Due: none

Solved ##2304
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitor.kt
  coordinator/ethereum/finalization-monitor/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImpl.kt
  coordinator/ethereum/finalization-monitor/src/test/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImplTest.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandlerTest.kt
Due: kotlin

refactor kzg setup
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
  contracts/test/hardhat/rollup/LineaRollup/Finalization.ts
  contracts/test/hardhat/rollup/helpers/index.ts
  contracts/test/hardhat/rollup/helpers/kzg-setup.ts
Due: hardhat

fix: linea-besu-package release for fleet plugin
  .github/actions/linea-besu-package/assemble/action.yml
  .github/actions/linea-besu-package/build-plugins-and-assemble/action.yml
  .github/actions/linea-besu-package/compute-metadata/action.yml
  .github/workflows/linea-besu-package-release.yml
Due: none

TX_AUTH: check list of necessary items for RLP_AUTH communication
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/AccountSnapshot.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/AuthorizationFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxAuthorizationMacroSection.java
Due: none

spotless
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/AuthorizationFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxAuthorizationMacroSection.java
Due: none

cleaned lookups and rlpauth inputs
  tracer-constraints/rlpauth/lookups/rlpauth_into_blockdata.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_hub.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_txndata.lisp
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

ras: imports
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/SimulationValidatorTest.java
  besu-plugins/state-recovery/test-cases/src/e2eTest/kotlin/linea/staterecovery/StateRecoveryE2ETest.kt
  besu-plugins/state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/LineaSubmissionEventsClientIntTest.kt
Due: none

More logs
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedProofAggregationClientV2.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/GenericFileBasedProverClient.kt
Due: kotlin

cleaned PEEK_AT_AUTH
  tracer-constraints/hub/osaka/columns/shared.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_hub.lisp
Due: none

fix: genesis import path
  e2e/src/config/schema/local.ts
Due: none

added dummy one for lookups
  tracer-constraints/rlpauth/lookups/rlpauth_into_blockdata.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_hub.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_txndata.lisp
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

fixed tracing in RLPAUTH
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/AuthorizationFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpAuth/RlpAuth.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpAuth/RlpAuthOperation.java
Due: none

fix: update restart coordinator test
  e2e/src/common/test-helpers/messaging.ts
  e2e/src/common/utils/gas.ts
  e2e/src/l2.spec.ts
  e2e/src/restart.spec.ts
  e2e/src/send-bundle.spec.ts
Due: none

more logs 2
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedProofAggregationClientV2.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/GenericFileBasedProverClient.kt
Due: kotlin
