Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

feat: update besu and plugin versions
  linea-besu-package/versions.env
Due: none

feat: update coordinator for limitless trace modules, add maru to the local stack, enable limitless on sequencer and besu nodes
  config/common/traces-limits-v2-reduced.toml
  config/common/traces-limits-v2.toml
  config/coordinator/coordinator-config-v2.toml
  coordinator/clients/traces-generator-api-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/TracesClientResponsesParser.kt
  docker/compose-spec-l2-services.yml
  docker/compose-tracing-v2.yml
  docker/config/l1-node/el/config.toml
  docker/config/l2-genesis-initialization/genesis-besu.json.template
  docker/config/l2-genesis-initialization/genesis-geth.json.template
  docker/config/l2-genesis-initialization/genesis-maru.json.template
  docker/config/l2-genesis-initialization/init.sh
  docker/config/l2-node-besu/l2-node-besu-config.toml
  docker/config/linea-besu-sequencer/sequencer.config.toml
  docker/config/maru/0x1b9abeec3215d8ade8a33607f2cf0f4f60e5f0d0.key
  docker/config/maru/0xbae3c3fcd73ccf7755ec8a10664f218ad6bbc775.key
  docker/config/maru/config.follower.toml
  docker/config/maru/config.sequencer.toml
  docker/config/maru/log4j.xml
  docker/config/traces-node/traces-node-config.toml
  docker/config/zkbesu-shomei/zkbesu-config.toml
  jvm-libs/linea/core/traces/src/main/kotlin/net/consensys/linea/traces/TracesCounters.kt
  jvm-libs/linea/core/traces/src/main/kotlin/net/consensys/linea/traces/TracingModule.kt
  jvm-libs/linea/core/traces/src/test/kotlin/net/consensys/linea/traces/TracesCountersTest.kt
  makefile-contracts.mk
Due: kotlin

implemented proofcol expansion
  prover/protocol/column/verifiercol/expand_proofcol_with_zero.go
Due: none

fix: spotless
  jvm-libs/linea/core/traces/src/main/kotlin/net/consensys/linea/traces/TracesCounters.kt
Due: kotlin

chore(stitchsplit): fixing some comments in stitcher
  prover/protocol/compiler/stitchsplit/stitcher.go
Due: none

cleanup BatchEvaluateLagrange
  prover/maths/common/smartvectors_mixed/polynomial.go
Due: none

fix: unit test
  coordinator/clients/traces-generator-api-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV2Test.kt
Due: kotlin

feat: update coordinator image and remove l2-node-besu from sequencer depends on
  docker/compose-spec-l2-services.yml
Due: none

revert the compilation suite
  prover/circuits/invalidity/invalidity.go
  prover/circuits/invalidity/transaction.go
  prover/circuits/pi-interconnection/circuit.go
Due: none

Revert "minor"
  prover/backend/aggregation/prove.go
  prover/circuits/compilation_suite.go
  prover/circuits/internal/utils.go
Due: none

feat: add l2-genesis-initialization on gradle localStack
  build.gradle
Due: none

call gnark batch functions
  prover/go.mod
  prover/go.sum
  prover/maths/common/fastpoly/lagrange.go
  prover/maths/common/smartvectors_mixed/polynomial.go
Due: none

Revert "call gnark batch functions"
  prover/go.mod
  prover/go.sum
  prover/maths/common/fastpoly/lagrange.go
  prover/maths/common/smartvectors_mixed/polynomial.go
Due: none

revert one commit, update gnark-crypto
  prover/go.mod
  prover/go.sum
Due: none

update gnark-crypto
  prover/go.mod
  prover/go.sum
Due: none

update version
  prover/go.mod
  prover/go.sum
  prover/maths/common/smartvectors_mixed/polynomial.go
Due: none

added FPI consistence
  prover/circuits/invalidity/invalidity.go
  prover/circuits/invalidity/nonce_balance.go
  prover/circuits/invalidity/nonce_balance_test.go
  prover/circuits/invalidity/pi.go
  prover/circuits/pi-interconnection/circuit.go
Due: none

cleanup lagrange
  prover/maths/common/fastpoly/gnark_poly_test.go
  prover/maths/common/fastpoly/lagrange.go
  prover/maths/common/fastpoly/lagrange_test.go
  prover/maths/common/fastpolyext/gnark_poly_test.go
  prover/maths/common/fastpolyext/lagrange.go
  prover/maths/common/fastpolyext/lagrange_test.go
  prover/maths/common/smartvectors/fft_test.go
  prover/maths/common/smartvectors/polynomial.go
  prover/maths/common/smartvectors/polynomial_ext.go
  prover/maths/common/smartvectors/polynomial_ext_test.go
  prover/maths/common/smartvectors/polynomial_test.go
  prover/protocol/compiler/splitextension/split.go
Due: none

rename lagrange basing on the poly value
  prover/crypto/vortex/commitment_test.go
  prover/crypto/vortex/gnark_test.go
  prover/crypto/vortex/opening_verifier.go
  prover/crypto/vortex/reedsolomon_ext_test.go
  prover/crypto/vortex/reedsolomon_test.go
  prover/maths/common/smartvectors/fft_ext_test.go
  prover/maths/common/smartvectors/polynomial.go
  prover/maths/common/smartvectors/polynomial_ext.go
  prover/maths/common/smartvectors/polynomial_ext_test.go
  prover/maths/common/smartvectors/polynomial_test.go
  prover/protocol/column/column_test.go
  prover/protocol/compiler/mpts/verifier.go
  prover/protocol/compiler/selfrecursion/selfrecursion_test.go
  prover/protocol/compiler/splitextension/split_test.go
  prover/protocol/compiler/univariates/naturalize_test.go
  prover/protocol/compiler/vortex/verifier.go
  prover/protocol/compiler/vortex/vortex_test.go
  prover/protocol/dedicated/functionals/interpolation_test.go
  prover/protocol/internal/testtools/univariate.go
  prover/protocol/query/univariate.go
  prover/protocol/variables/periodicsample_test.go
  prover/protocol/wizard/wizard_test.go
Due: none

keep BatchEvaluateLagrangeMixed for split
  prover/protocol/compiler/splitextension/split.go
Due: none

add concurrency safe primitives
  prover/protocol/serialization/serializer.go
Due: none

reftest: skip cancun time consuming tests (#2273)
  tracer/reference-tests/src/test/java/net/consensys/linea/BlockchainReferenceTestTools.java
Due: none

refTest: skip refTest with withdrawals (#2272)
  tracer/reference-tests/src/test/java/net/consensys/linea/BlockchainReferenceTestTools.java
Due: none

WIP - Type 4 transaction workaround
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/extradata/ExtraDataPricingTest.java
  coordinator/ethereum/gas-pricing/static-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/ExtraDataV1UpdaterImplTest.kt
  jvm-libs/linea/besu-rlp-and-mappers/src/main/kotlin/linea/domain/MapperBesuToLineaDomain.kt
  jvm-libs/linea/besu-rlp-and-mappers/src/main/kotlin/linea/domain/MapperLineaDomainToBesu.kt
  jvm-libs/linea/besu-rlp-and-mappers/src/main/kotlin/linea/rlp/RLP.kt
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressorTest.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/Transaction.kt
  jvm-libs/linea/core/domain-models/src/testFixtures/kotlin/linea/domain/TransactionFactory.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/EthGetBlockToLineaBlockMappers.kt
  jvm-libs/linea/web3j-extensions/src/test/kotlin/linea/web3j/EthGetBlockToLineaBlockMapperTest.kt
Due: kotlin

Removing unintentional code
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/extradata/ExtraDataPricingTest.java
  coordinator/ethereum/gas-pricing/static-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/ExtraDataV1UpdaterImplTest.kt
Due: kotlin

benchmark
  prover/circuits/invalidity/benchmark_test.go
  prover/zkevm/full.go
Due: none

Added a test for the Web3j decoder
  jvm-libs/linea/web3j-extensions/src/test/kotlin/linea/web3j/EthGetBlockToLineaBlockMapperTest.kt
Due: kotlin

Fixed equals and hashcode
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/Transaction.kt
Due: kotlin

Fixed recId
  jvm-libs/linea/besu-rlp-and-mappers/src/main/kotlin/linea/domain/MapperLineaDomainToBesu.kt
Due: kotlin

cleanup some poly Eval
  prover/crypto/vortex/opening_verifier.go
  prover/go.mod
  prover/go.sum
  prover/maths/common/poly/poly.go
  prover/maths/common/polyext/poly.go
  prover/maths/common/smartvectors/fft_test.go
  prover/maths/common/smartvectors/fuzzing_ext.go
  prover/maths/common/smartvectors/fuzzing_mixed.go
  prover/maths/common/smartvectors/polynomial.go
  prover/maths/common/smartvectors/polynomial_ext.go
  prover/maths/common/smartvectors/polynomial_ext_test.go
  prover/maths/common/smartvectors/polynomial_test.go
  prover/protocol/compiler/innerproduct/verifier.go
Due: none

typo
  prover/maths/common/smartvectors_mixed/polynomial.go
Due: none

update-tracer-release-name (#2275)
  tracer/gradle.properties
Due: none

edits for pr comments
  contracts/local-deployments-artifacts/deployPredeployContractsV1.ts
Due: hardhat

optimise ser/de of ring.sis params
  prover/protocol/serialization/custom.go
Due: none
