Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

add yield boost operational and testing scripts (#2079)
  bridge-ui/package.json
  contracts/common/helpers/encoding.ts
  contracts/common/helpers/environmentHelper.ts
  contracts/common/helpers/verifyContract.ts
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/scripts/operational/yieldBoost/addLidoStVaultYieldProvider.ts
  contracts/scripts/operational/yieldBoost/deployPaymentSplitter.ts
  contracts/scripts/operational/yieldBoost/prepareInitiateOssification.ts
  contracts/scripts/operational/yieldBoost/testing/addAndClaimMessage.ts
  contracts/scripts/operational/yieldBoost/testing/addAndClaimMessageForLST.ts
  contracts/scripts/operational/yieldBoost/testing/addAndClaimMessageHelper.ts
  contracts/scripts/operational/yieldBoost/testing/unstakePermissionless.ts
  contracts/src/operational/PaymentSplitterWrapper.sol
  contracts/test/hardhat/common/helpers/messaging.ts
  contracts/test/hardhat/messaging/l1/L1MessageService.ts
  contracts/test/hardhat/messaging/l2/L2MessageService.ts
  contracts/test/hardhat/yield/helpers/proof.ts
  contracts/test/hardhat/yield/helpers/setup.ts
  contracts/test/hardhat/yield/integration/YieldManager.integration.ts
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProvider.basic.ts
  contracts/test/hardhat/yield/unit/LineaRollupYieldExtension.ts
  contracts/test/hardhat/yield/unit/ValidatorContainerProofVerifier.ts
  pnpm-lock.yaml
Due: hardhat

shift tests to correct location
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
  contracts/test/hardhat/rollup/LineaRollup/CalldataSubmission.ts
  contracts/test/hardhat/rollup/LineaRollup/Finalization.ts
  contracts/test/hardhat/rollup/helpers/blob.ts
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProviderFactory.ts
  contracts/test/hardhat/yield/unit/ValidatorContainerProofVerifier.ts
Due: hardhat

ras
  besu-plugins/linea-sequencer/sequencer/src/test/resources/sequencer/line-limits.toml
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/bin/BinTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/ext/ExtTests.java
Due: none

add extra yield boost verify configs
  contracts/deployments/bytecode/2026-01-14/verification-configs/lido-stVault-yield-provider-factory.config.json
  contracts/deployments/bytecode/2026-01-14/verification-configs/linea-rollup.config.json
  contracts/deployments/bytecode/2026-01-14/verification-configs/validator-container-proof-verifier.config.json
  contracts/deployments/bytecode/2026-01-14/verification-configs/yield-manager.config.json
Due: hardhat

chore: disable PR comments for KICS Dockerfile scanning
  .github/workflows/bridge-ui-publish.yml
Due: none

chore: reinstate poseidon2 and remove debug statements
  prover/protocol/compiler/poseidon2/poseidon2.go
  prover/protocol/compiler/recursion/circuit.go
  prover/protocol/distributed/segment_compilation.go
Due: none

test(ethereum): add TestRlpDecodeWithSignature for signed tx decoding
  prover/backend/ethereum/signature_test.go
  prover/backend/ethereum/tx_encoding.go
  prover/backend/invalidity/craft.go
  prover/backend/invalidity/prove.go
  prover/backend/invalidity/request.go
  prover/circuits/invalidity/invalidity.go
  prover/circuits/invalidity/nonce_balance.go
  prover/circuits/invalidity/utils_test.go
Due: none

Sequencer plugin - Forced transactions implementation (#2094)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/LineaPluginTestBase.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/ForcedTransactionRequestResponse.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/ForcedTransactionTest.kt
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/AbstractLineaSharedPrivateOptionsPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaForcedTransactionCliOptions.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaForcedTransactionConfiguration.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/metrics/LineaMetricCategory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/methods/LineaGetForcedTransactionInclusionStatus.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/methods/LineaSendForcedRawTransaction.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/services/LineaForcedTransactionEndpointsPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/ForcedTransaction.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/ForcedTransactionInclusionResult.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/ForcedTransactionPoolService.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/ForcedTransactionStatus.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/LineaForcedTransactionPool.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/InvalidTransactionByLineCountCache.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectionResult.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/LineaTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/TraceLineLimitTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/rpc/methods/LineaGetForcedTransactionInclusionStatusTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/rpc/methods/LineaSendForcedRawTransactionTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/forced/LineaForcedTransactionPoolTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/PrecompileAddressValidatorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/TraceLineLimitValidatorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactoryTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/TraceLineLimitCacheIntegrationTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/TraceLineLimitTransactionSelectorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/utils/TestTransactionFactory.java
Due: none

export Limbs
  prover/protocol/dedicated/emulated/evaluation.go
  prover/protocol/dedicated/emulated/evaluation_assign.go
  prover/protocol/dedicated/emulated/limbs.go
  prover/protocol/dedicated/emulated/multiplication.go
  prover/protocol/dedicated/emulated/multiplication_assign.go
  prover/protocol/limbs/global.go
  prover/protocol/limbs/limbs.go
  prover/protocol/limbs/uints.go
  prover/zkevm/arithmetization/arithmetization.go
  prover/zkevm/prover/bls/module_msm.go
  prover/zkevm/prover/bls/module_pair.go
  prover/zkevm/prover/common/flatten_column.go
  prover/zkevm/prover/ecdsa/address.go
  prover/zkevm/prover/ecdsa/antichamber_columns.go
  prover/zkevm/prover/ecdsa/ecdata.go
  prover/zkevm/prover/ecdsa/unaligned_gnark.go
  prover/zkevm/prover/hash/importpad/import_pad.go
  prover/zkevm/prover/hash/keccak/acc_module/data_acc.go
  prover/zkevm/prover/hash/keccak/acc_module/info_acc.go
  prover/zkevm/prover/hash/keccak/glue/keccak_single_provider.go
  prover/zkevm/prover/hash/sha2/sha2.go
  prover/zkevm/prover/modexp/modexp.go
Due: none

feat(lido-governance-monitor): initialize project with core entities and interfaces
  native-yield-operations/lido-governance-monitor/.env.sample
  native-yield-operations/lido-governance-monitor/eslint.config.mjs
  native-yield-operations/lido-governance-monitor/jest.config.js
  native-yield-operations/lido-governance-monitor/package.json
  native-yield-operations/lido-governance-monitor/prisma/schema.prisma
  native-yield-operations/lido-governance-monitor/src/core/clients/IAIClient.ts
  native-yield-operations/lido-governance-monitor/src/core/clients/IDiscourseClient.ts
  native-yield-operations/lido-governance-monitor/src/core/clients/ISlackClient.ts
  native-yield-operations/lido-governance-monitor/src/core/entities/Assessment.ts
  native-yield-operations/lido-governance-monitor/src/core/entities/Proposal.ts
  native-yield-operations/lido-governance-monitor/src/core/entities/ProposalSource.ts
  native-yield-operations/lido-governance-monitor/src/core/entities/ProposalState.ts
  native-yield-operations/lido-governance-monitor/src/core/entities/RawDiscourseProposal.ts
  native-yield-operations/lido-governance-monitor/src/core/repositories/IProposalRepository.ts
  native-yield-operations/lido-governance-monitor/src/core/services/INormalizationService.ts
  native-yield-operations/lido-governance-monitor/src/core/services/INotificationService.ts
  native-yield-operations/lido-governance-monitor/src/core/services/IProposalPoller.ts
  native-yield-operations/lido-governance-monitor/src/core/services/IProposalProcessor.ts
  native-yield-operations/lido-governance-monitor/tsconfig.build.json
  native-yield-operations/lido-governance-monitor/tsconfig.jest.json
  native-yield-operations/lido-governance-monitor/tsconfig.json
  pnpm-lock.yaml
Due: none

chore: add design.md to gitignore
  .gitignore
Due: none

feat(lido-governance-monitor): add ProposalRepository, DiscourseClient, and ClaudeAIClient
  native-yield-operations/lido-governance-monitor/src/clients/ClaudeAIClient.ts
  native-yield-operations/lido-governance-monitor/src/clients/DiscourseClient.ts
  native-yield-operations/lido-governance-monitor/src/clients/__tests__/ClaudeAIClient.test.ts
  native-yield-operations/lido-governance-monitor/src/clients/__tests__/DiscourseClient.test.ts
  native-yield-operations/lido-governance-monitor/src/clients/db/ProposalRepository.ts
  native-yield-operations/lido-governance-monitor/src/clients/db/__tests__/ProposalRepository.test.ts
Due: none

- added filteredAddressFrom and filteredAddressTo - added json marshaling for invalidity type
  prover/backend/invalidity/prove.go
  prover/backend/invalidity/request.go
  prover/circuits/invalidity/invalidity.go
  prover/circuits/registry.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/random_gen.go
Due: none

fix: update bridge ui dependencies and optimize performance
  bridge-ui/.env.production
  bridge-ui/next.config.ts
  bridge-ui/package.json
  bridge-ui/src/app/(main)/native-bridge/layout.tsx
  bridge-ui/src/app/api-v1/revalidate/route.ts
  bridge-ui/src/components/bridge/bridge-layout/index.tsx
  bridge-ui/src/components/bridge/claiming/index.tsx
  bridge-ui/src/components/bridge/currency-dropdown/index.tsx
  bridge-ui/src/components/bridge/destination-address/index.tsx
  bridge-ui/src/components/bridge/form/index.tsx
  bridge-ui/src/components/bridge/modal/destination-address/index.tsx
  bridge-ui/src/components/bridge/modal/token-modal/index.tsx
  bridge-ui/src/components/bridge/modal/token-modal/token-details/index.tsx
  bridge-ui/src/components/bridge/submit/index.tsx
  bridge-ui/src/components/bridge/transaction-history/index.tsx
  bridge-ui/src/components/bridge/transaction-history/list-transaction/index.tsx
  bridge-ui/src/components/bridge/transaction-history/list-transaction/item/index.tsx
  bridge-ui/src/components/bridge/transaction-history/modal/transaction-details/index.tsx
  bridge-ui/src/components/header/header-connect/index.tsx
  bridge-ui/src/components/internal-nav/internal-nav.module.scss
  bridge-ui/src/components/layerswap/widget/LayerswapClientWrapper.tsx
  bridge-ui/src/components/layerswap/widget/index.tsx
  bridge-ui/src/components/layerswap/widget/useCustomEvm.ts
  bridge-ui/src/components/modal-base/user-wallet/index.tsx
  bridge-ui/src/components/modal-base/user-wallet/user-wallet-info/index.tsx
  bridge-ui/src/components/poh-check/index.tsx
  bridge-ui/src/contexts/ModalProvider.tsx
  bridge-ui/src/contexts/WalletDetectionProvider.tsx
  bridge-ui/src/contexts/Web3Provider.tsx
  bridge-ui/src/hooks/fees/useFees.ts
  bridge-ui/src/hooks/transaction-args/useClaimTransactionTxArgs.ts
  bridge-ui/src/hooks/transaction-args/useTransactionArgs.ts
  bridge-ui/src/hooks/useAllowance.ts
  bridge-ui/src/hooks/useTokenBalance.tsx
  bridge-ui/src/hooks/useTokenPrices.tsx
  bridge-ui/src/hooks/useTransactionHistory.ts
  bridge-ui/src/hooks/user/useEnsInfo.ts
  bridge-ui/src/proxy.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

coordinator: fix spotless
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
Due: kotlin

coordinator: remove unnecessary equals and hashCode methods
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/contract/events/FinalizedStateUpdatedEvent.kt
Due: kotlin

coordinator: fix typo
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/contract/l1/LineaSmartContractClient.kt
Due: kotlin

coordinator: forced transactions add contract V8 Abi and client (finalization not supported yet)
  contracts/abi/LineaRollupV8.0.abi
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupFunctionBuilders.kt
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/MakefileContractDeploymentHelper.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/contract/l1/LineaSmartContractClient.kt
  jvm-libs/linea/clients/linea-contract-clients/build.gradle
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
  jvm-libs/linea/linea-contracts/l1-rollup/build.gradle
Due: hardhat, kotlin

coordinator: adds FinalizedStateUpdated event
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/contract/events/FinalizedStateUpdatedEvent.kt
Due: kotlin

coordinator: fix EthLogsFilterPollerTest flakiness
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/EthLogsFilterPollerTest.kt
Due: kotlin

coordinator: fix spotless
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/EcDataLimitsTest.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/EthLogsFilterPollerTest.kt
Due: kotlin

added ID to lookups to SHAKIRADATA and ECDATA
  tracer-constraints/rlpauth/lookups/rlpauth_into_ecdata.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_hub.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_shakira_2_limbs.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_shakira_3_limbs.lisp
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

removed TODOs
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

coordinator: forced transactions add contract V8 Abi and client (#2174)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/EcDataLimitsTest.kt
  contracts/abi/LineaRollupV8.0.abi
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupFunctionBuilders.kt
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/MakefileContractDeploymentHelper.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/EthLogsFilterPollerTest.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/contract/events/FinalizedStateUpdatedEvent.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/contract/l1/LineaSmartContractClient.kt
  jvm-libs/linea/clients/linea-contract-clients/build.gradle
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
  jvm-libs/linea/linea-contracts/l1-rollup/build.gradle
Due: hardhat, kotlin

coordinator: adds ForcedTransactionApp (no conflation integration yet)
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/ForcedTransactionRecord.kt
  coordinator/ethereum/forced-transactions/build.gradle
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsApp.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsExecutionStatusUpdater.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsL1EventsFetcher.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsSenderForExecution.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/ForcedTransactionsAppTest.kt
  coordinator/persistence/aggregation/src/main/kotlin/linea/persistence/ftx/ForcedTransactionsDao.kt
  jvm-libs/linea/clients/interfaces/src/testFixtures/kotlin/linea/contrat/events/FactoryFinalizedStateUpdatedEvent.kt
  jvm-libs/linea/clients/interfaces/src/testFixtures/kotlin/linea/contrat/events/FactoryForcedTransactionAddedEvent.kt
  settings.gradle
Due: kotlin

ci: allow KICS SARIF upload to fail without blocking the build
  .github/workflows/bridge-ui-publish.yml
Due: none

- test(invalidity): add integration test for AccountTrieInputs with circuit - added missing rlp constraints to the circuit
  prover/backend/invalidity/prove.go
  prover/backend/invalidity/request.go
  prover/backend/invalidity/request_test.go
  prover/circuits/invalidity/invalidity.go
  prover/circuits/invalidity/nonce_balance.go
  prover/circuits/invalidity/nonce_balance_test.go
Due: none

immutableReference checks
  contract-integrity-verifier/verifier-core/package.json
  contract-integrity-verifier/verifier-core/src/index.ts
  contract-integrity-verifier/verifier-core/src/types.ts
  contract-integrity-verifier/verifier-core/src/utils/abi.ts
  contract-integrity-verifier/verifier-core/src/utils/bytecode.ts
  contract-integrity-verifier/verifier-core/src/verifier.ts
  contract-integrity-verifier/verifier-core/tests/integration.test.ts
  contract-integrity-verifier/verifier-core/tools/enrich-all-artifacts.ts
  contract-integrity-verifier/verifier-core/tools/enrich-hardhat-artifact.ts
  contracts/deployments/bytecode/2026-01-14/verification-configs/lido-stVault-yield-provider-factory.config.json
  contracts/deployments/bytecode/2026-01-14/verification-configs/yield-manager.config.json
Due: hardhat

feat: add GetZkEVMVirtualStateMerkleProofResponse and test cases
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerClientV1.kt
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerV1JsonRpcClient.kt
  jvm-libs/linea/clients/linea-state-manager/src/test/kotlin/build/linea/clients/StateManagerV1JsonRpcClientTest.kt
Due: kotlin

add better immutable handing
  contract-integrity-verifier/verifier-core/src/index.ts
  contract-integrity-verifier/verifier-core/src/types.ts
  contract-integrity-verifier/verifier-core/src/utils/bytecode.ts
  contract-integrity-verifier/verifier-core/src/verifier.ts
  contract-integrity-verifier/verifier-ui/src/components/results-section/index.tsx
  contract-integrity-verifier/verifier-ui/src/components/results-section/results-section.module.scss
  contracts/deployments/bytecode/2026-01-14/verification-configs/lido-stVault-yield-provider-factory.artifact.json
  contracts/deployments/bytecode/2026-01-14/verification-configs/yield-manager.artifact.json
Due: hardhat

Fix: fastReplay gradle setup to enable plugins, add Sepolia block 23985771
  Configure
  tracer/arithmetization/src/test/java/net/consensys/linea/osakaReplayTests/Incident1445.java
  tracer/arithmetization/src/test/resources/replays/osaka/23985771.sepolia.json.gz
  tracer/gradle/tests.gradle
Due: none

feat: revise based on comments
  besu-plugins/state-recovery/test-cases/src/main/kotlin/linea/staterecovery/test/FakeStateManagerClient.kt
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerClientV1.kt
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerV1JsonRpcClient.kt
Due: kotlin

enable static local UI
  contract-integrity-verifier/verifier-core/package.json
  contract-integrity-verifier/verifier-core/src/browser.ts
  contract-integrity-verifier/verifier-core/src/utils/abi.ts
  contract-integrity-verifier/verifier-core/src/utils/bytecode.ts
  contract-integrity-verifier/verifier-core/src/utils/storage.ts
  contract-integrity-verifier/verifier-core/src/verifier.ts
  contract-integrity-verifier/verifier-core/tests/run-tests.ts
  contract-integrity-verifier/verifier-core/tsup.config.ts
  contract-integrity-verifier/verifier-ui/.env.example
  contract-integrity-verifier/verifier-ui/next.config.mjs
  contract-integrity-verifier/verifier-ui/src/app/api/session/route.ts
  contract-integrity-verifier/verifier-ui/src/app/api/upload/route.ts
  contract-integrity-verifier/verifier-ui/src/app/api/verify/route.ts
  contract-integrity-verifier/verifier-ui/src/lib/indexed-db.ts
  contract-integrity-verifier/verifier-ui/src/services/client-verifier-service.ts
  contract-integrity-verifier/verifier-ui/src/services/index.ts
  contract-integrity-verifier/verifier-ui/src/services/server-verifier-service.ts
  contract-integrity-verifier/verifier-ui/src/services/types.ts
  contract-integrity-verifier/verifier-ui/src/stores/verifier.ts
Due: none

reenable yield manager proxy verify
  contracts/deployments/bytecode/2026-01-14/verification-configs/yield-manager.config.json
Due: hardhat

feat: change BaseZkEVMStateMerkleProofResponse to interface
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerClientV1.kt
Due: kotlin

feat: add zkStateManagerVersion in rollupGetVirtualStateMerkleProof request
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerV1JsonRpcClient.kt
Due: kotlin

feat: update linea-besu to 25.11.0-linea4.4
  linea-besu-package/versions.env
Due: none

reduced chain_id to u64 and written some temporary tests
  tracer-constraints/hub/osaka/columns/authority.lisp
  tracer-constraints/rlpauth/rlpauth.zkasm
  tracer-constraints/zkasm_test_tmp/byte.accepts
  tracer-constraints/zkasm_test_tmp/convert_hex_fields.py
Due: none
