Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

coordinator: fix regression o block creation monitor
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitor.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitorTest.kt
Due: kotlin

feat: add the origin release tag as output
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

debug test
  prover/protocol/compiler/standard_benchmark_test.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/prover.go
Due: none

debug
  prover/protocol/compiler/horner/horner.go
  prover/protocol/compiler/standard_benchmark_test.go
  prover/protocol/compiler/vortex/prover.go
Due: none

fix gnarkfext.NewE4GenFromBase
  prover/maths/common/fastpoly/gnark_lagrange.go
  prover/maths/common/fastpolyext/gnark_lagrange.go
  prover/maths/common/poly/gnarkpoly.go
  prover/maths/field/gnarkfext/e4_gen.go
  prover/protocol/accessors/from_expression.go
  prover/protocol/accessors/from_local_opening.go
  prover/protocol/compiler/globalcs/evaluation.go
  prover/protocol/compiler/horner/horner.go
  prover/protocol/compiler/logderivativesum/logderivativesum.go
  prover/protocol/compiler/mpts/verifier.go
  prover/protocol/compiler/permutation/verifier.go
  prover/protocol/variables/periodicsample.go
  prover/symbolic/lincomb.go
  prover/symbolic/product.go
  prover/utils/gnarkutil/arith.go
Due: none

WrapFrontendVariable
  prover/protocol/query/gnark_params.go
Due: none

replace GetColAssignmentGnarkExt with GetColAssignmentGnark
  prover/protocol/compiler/mpts/verifier.go
Due: none

fix SubsampleVerifierAction rungnark
  prover/protocol/compiler/compiler_test.go
  prover/protocol/compiler/vortex/prover.go
  prover/protocol/dedicated/selector/subsample.go
Due: none

zk.NewGenericApi
  prover/protocol/compiler/selfrecursion/column_opening.go
Due: none

CollapsingVerifierAction are ext4 values
  prover/protocol/compiler/selfrecursion/column_opening.go
  prover/protocol/compiler/standard_benchmark_test.go
Due: none

fix FoldPhaseVerifierAction
  prover/protocol/compiler/selfrecursion/column_opening.go
  prover/protocol/compiler/standard_benchmark_test.go
Due: none

add a test, TestGnarkSelfRecursionMultiLayered
  prover/protocol/compiler/selfrecursion/selfrecursion_test.go
  prover/protocol/query/global.go
  prover/protocol/query/local.go
  prover/utils/gnarkutil/arith.go
Due: none

feat: refactor modexp2
  prover/zkevm/prover/modexp2/modexp2.go
  prover/zkevm/prover/modexp2/module.go
Due: none

🐛 fix: update slot validation to account for historical roots
  contracts/contracts/yield/YieldManager.sol
Due: hardhat

♻️ refactor: pass required unstake amount as parameter
  contracts/contracts/yield/LidoStVaultYieldProvider.sol
  contracts/contracts/yield/YieldManager.sol
  contracts/contracts/yield/interfaces/IYieldProvider.sol
Due: hardhat

🚨 fix: update function signatures and tests after refactoring
  contracts/contracts/_testing/mocks/yield/MockYieldProvider.sol
  contracts/contracts/_testing/unit/yield/TestLidoStVaultYieldProvider.sol
  contracts/contracts/_testing/unit/yield/TestYieldManager.sol
  contracts/contracts/yield/LidoStVaultYieldProvider.sol
  contracts/test/yield/unit/LidoStVaultYieldProvider.basic.ts
Due: hardhat

feat(limbs): creates a helper package to manipulate limbs
  prover/protocol/distributed/pragmas/pragmas.go
  prover/protocol/limbs/endianness.go
  prover/protocol/limbs/limbs.go
  prover/protocol/limbs/row.go
  prover/protocol/limbs/sized.go
  prover/protocol/limbs/uints.go
  prover/protocol/limbs/vector_builder.go
Due: none

adds a typed row slice
  prover/protocol/limbs/limbs.go
  prover/protocol/limbs/utils.go
  prover/protocol/limbs/vector_builder.go
Due: none

adds swapping columns
  prover/protocol/limbs/limbs.go
  prover/protocol/limbs/row.go
Due: none

adds function for generating global and local constraints
  prover/protocol/limbs/global.go
  prover/protocol/limbs/limbs.go
Due: none

makes limb.C private
  prover/protocol/limbs/limbs.go
  prover/protocol/limbs/vector_builder.go
Due: none

fix cursor comments
  prover/go.mod
Due: none

fixup
  prover/go.sum
  prover/zkevm/prover/ecdsa/unaligned_gnark.go
Due: none

♻️ refactor: use isYieldProviderKnown function consistently
  contracts/contracts/yield/YieldManager.sol
Due: hardhat

♻️ refactor: remove redundant early return in _decrementPendingPermissionlessUnstake
  contracts/contracts/yield/YieldManager.sol
Due: hardhat

fixup: fix panic message for the flatten column
  prover/zkevm/prover/common/pad.go
Due: none

🔒️ fix: add reentrancy protection to YieldManager unstake functions
  contracts/contracts/yield/YieldManager.sol
Due: hardhat

more utilities for the limbs package
  prover/protocol/limbs/global.go
  prover/protocol/limbs/limbs.go
  prover/protocol/limbs/row.go
  prover/protocol/limbs/sized.go
  prover/protocol/limbs/uints.go
  prover/protocol/limbs/vector_builder.go
Due: none

📝 docs: clarify storage slot layout in YieldProviderStorage
  contracts/contracts/yield/YieldManagerStorageLayout.sol
Due: hardhat

📝 docs: correct refund recipient documentation in LidoStVaultYieldProvider
  contracts/contracts/yield/LidoStVaultYieldProvider.sol
Due: hardhat

♻️ refactor: improve comparison readability in reserve validation
  contracts/contracts/yield/YieldManager.sol
Due: hardhat

🐛 fix: enforce target reserve must be strictly above minimum
  contracts/contracts/yield/YieldManager.sol
Due: hardhat

📝 docs: correct refund recipient natspec in ICommonVaultOperations
  contracts/contracts/yield/interfaces/vendor/lido/ICommonVaultOperations.sol
Due: hardhat

✏️ fix: correct unit in _amounts parameter documentation
  contracts/contracts/yield/interfaces/vendor/lido/ICommonVaultOperations.sol
Due: hardhat

📝 docs: correct safeAddToWithdrawalReserve cap documentation
  contracts/contracts/yield/YieldManager.sol
Due: hardhat

✏️ fix: correct typo in comment (Validiate -> Validate)
  contracts/contracts/yield/YieldManager.sol
Due: hardhat

♻️ refactor: remove unused nextPow2 function from Math256
  contracts/contracts/_testing/unit/libraries/TestMath256.sol
  contracts/contracts/lib/Math256.sol
  contracts/test/lib/Math256.ts
Due: hardhat

feat: update to resized types (gas, chainid) for txndata and lookups (from linea-tracer PR#2563)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/transaction/UserTransactionFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/cancun/phaseSection/PhaseSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/txndata/cancun/rows/RlpRow.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/txndata/cancun/rows/hubRows/HubRowForUserTransactions.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/txndata/london/LondonTxnDataOperation.java
Due: none

🐛 fix: correct bitLength test expectation for 2^255 - 1
  contracts/test/lib/Math256.ts
Due: hardhat

converts ecadd and ecmul
  prover/protocol/limbs/endianness.go
  prover/protocol/limbs/limbs.go
  prover/protocol/limbs/uints.go
  prover/utils/csvtraces/csvtraces.go
  prover/zkevm/arithmetization/arithmetization.go
  prover/zkevm/prover/common/flatten_column.go
  prover/zkevm/prover/common/flatten_column_test.go
  prover/zkevm/prover/ecarith/ecadd.go
  prover/zkevm/prover/ecarith/ecadd_test.go
  prover/zkevm/prover/ecarith/ecmul.go
  prover/zkevm/prover/ecarith/ecmul_test.go
Due: none
