Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

passing tests with removal of setRemoteSender
  contracts/scripts/tokenBridge/test/deployTokenBridges.ts
  contracts/src/bridging/token/TokenBridge.sol
  contracts/src/bridging/token/interfaces/ITokenBridge.sol
  contracts/test/hardhat/bridging/token/TokenBridge.ts
Due: hardhat

remove operational task and dead role reference
  contracts/docs/linea-token-bridge.md
  contracts/docs/operational.md
  contracts/hardhat.config.ts
  contracts/scripts/operational/setRemoteTokenBridgeTask.ts
  contracts/src/bridging/token/TokenBridge.sol
  contracts/test/hardhat/common/constants/roles.ts
Due: hardhat

feat: use already-built image in Dockerfile of l1-node-genesis-generator
  docker/config/l1-node/Dockerfile
Due: none

feat: get genesis time automatically in generate-genesis.sh and make L1_GENESIS_TIME optional
  Makefile
  build.gradle
  docker/compose-spec-l1-services.yml
  docker/config/l1-node/generate-genesis.sh
Due: none

chore: update weekly and nightly tests (#1794)
  tracer/.github/workflows/gradle-weekly-tests.yml
  tracer/arithmetization/src/test/java/net/consensys/linea/replaytests/Issue1124Tests.java
  tracer/arithmetization/src/test/java/net/consensys/linea/replaytests/Issue1126Tests.java
Due: none

added more functionalities to the discoverer
  prover/protocol/distributed/compiler/permutation/permutation_test.go
  prover/protocol/distributed/compiler/permutation/settings.go
  prover/protocol/distributed/distributed.go
  prover/protocol/distributed/lpp/lpp.go
  prover/protocol/distributed/namebaseddiscoverer/period_separating_module_discoverer.go
  prover/protocol/distributed/namebaseddiscoverer/query_based_module_discoverer.go
  prover/utils/collection/mapping.go
Due: none

Fixing inability to remove json rpc gas pricing configuration
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L2NetworkGasPricingService.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/config/L2NetworkGasPricingConfig.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/config/L2NetworkGasPricingConfigTest.kt
Due: kotlin

Simplified configuration a bit more
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L2NetworkGasPricingService.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/config/L2NetworkGasPricingConfig.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/config/CoordinatorConfigTest.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/config/L2NetworkGasPricingConfigTest.kt
Due: kotlin

Fixing inability to remove json rpc gas pricing propagation (#682)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L2NetworkGasPricingService.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/config/L2NetworkGasPricingConfig.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/config/CoordinatorConfigTest.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/config/L2NetworkGasPricingConfigTest.kt
Due: kotlin

Update Linea Besu to 25.2-delivery48 (#1796)
  tracer/gradle.properties
Due: none

update constraints version to rc3.1
  prover/backend/execution/constraints-versions.txt
Due: none

feat: remove unused columns (#582)
  romlex/columns.lisp
Due: none

added tokenbridgev1_1 artifact to e2e tests
  contracts/local-deployments-artifacts/deployBridgedTokenAndTokenBridgeV1_1.ts
  contracts/local-deployments-artifacts/dynamic-artifacts/TokenBridgeV1_1.json
  e2e/src/common/utils.ts
  e2e/src/config/jest/global-setup.ts
  e2e/src/config/tests-config/setup.ts
  makefile-contracts.mk
Due: hardhat

adjustments
  contracts/local-deployments-artifacts/deployBridgedTokenAndTokenBridgeV1_1.ts
  contracts/src/bridging/token/TokenBridge.sol
Due: hardhat

fix nonce increment
  contracts/local-deployments-artifacts/deployBridgedTokenAndTokenBridgeV1_1.ts
Due: hardhat

staterecovery: remove unused execution-layer-json-rpc-client
  settings.gradle
  state-recovery/besu-plugin/build.gradle
  state-recovery/clients/execution-layer-json-rpc-client/build.gradle
  state-recovery/clients/execution-layer-json-rpc-client/src/main/kotlin/linea/staterecovery/clients/el/ExecutionLayerJsonRpcClient.kt
  state-recovery/clients/execution-layer-json-rpc-client/src/test/kotlin/linea/staterecovery/clients/el/ExecutionLayerJsonRpcClientTest.kt
  state-recovery/test-cases/build.gradle
Due: none

fixup(conglo): fix remaining bug in the conglomeration
  prover/protocol/column/store.go
Due: none

added more functionalities to the discoverer (#681)
  prover/protocol/distributed/compiler/permutation/permutation_test.go
  prover/protocol/distributed/compiler/permutation/settings.go
  prover/protocol/distributed/distributed.go
  prover/protocol/distributed/lpp/lpp.go
  prover/protocol/distributed/namebaseddiscoverer/period_separating_module_discoverer.go
  prover/protocol/distributed/namebaseddiscoverer/query_based_module_discoverer.go
  prover/utils/collection/mapping.go
Due: none

commit progress
  prover/cmd/controller/controller/fs_watcher.go
  prover/cmd/controller/controller/fs_watcher_limitless_test.go
  prover/cmd/controller/controller/job_definition.go
  prover/cmd/controller/controller/job_definition_limitless.go
  prover/cmd/controller/controller/job_definition_limitless_test.go
  prover/cmd/controller/controller/jobs.go
  prover/config/config.go
  prover/config/constants.go
Due: none

refactor multi-input job
  prover/cmd/controller/controller/fs_watcher.go
  prover/cmd/controller/controller/fs_watcher_limitless_test.go
Due: none

feat: add event filters options to the postman
  pnpm-lock.yaml
  postman/README.md
  postman/package.json
  postman/scripts/runPostman.ts
  postman/src/application/postman/app/config/config.ts
  postman/src/application/postman/app/config/utils.ts
  postman/src/core/services/processors/IMessageSentEventProcessor.ts
  postman/src/services/processors/MessageSentEventProcessor.ts
  postman/src/services/processors/__tests__/MessageSentEventProcessor.test.ts
Due: none

fix: update package lock file
  pnpm-lock.yaml
  postman/package.json
Due: none

staterecovery: adds starting block calculator
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/TypingsExtensions.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StartingBlockCalculator.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/datafetching/SubmissionEventsFetchingTask.kt
  state-recovery/appcore/logic/src/test/kotlin/linea/staterecovery/StartingBlockCalculatorTest.kt
Due: kotlin

staterecovery: improve LineaSubmissionEventsClient tests
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/LineaSubmissionEventsClient.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/LineaSubmissionEventsClientImpl.kt
  state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/LineaSubmissionEventsClientIntTest.kt
Due: none

chores(verifier): add the sepolia beta-v1.3 contract (fmtted)
  contracts/src/verifiers/PlonkVerifierSepoliaFull.sol
Due: hardhat

hotfix: temp dependency conflict (#1801)
  tracer/gradle/dependency-management.gradle
Due: none

test: no CFI duplicates (#1789)
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/romlex/NoCFIDuplicateTests.java
Due: none

conglomeration file watcher to be fixed
  prover/cmd/controller/controller/fs_watcher_limitless_test.go
  prover/cmd/controller/controller/job_definition_limitless.go
  prover/cmd/controller/controller/job_definition_limitless_test.go
  prover/config/config.go
Due: none

staterecovery: fix underflow
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StartingBlockCalculator.kt
  state-recovery/appcore/logic/src/test/kotlin/linea/staterecovery/StartingBlockCalculatorTest.kt
Due: none

staterecovery: adjust log level in test helper
  jvm-libs/linea/testing/l1-blob-and-proof-submission/src/main/kotlin/net/consensys/linea/testing/submission/SubmissionTestHelper.kt
Due: kotlin

1792 cleaning some todos (#1797)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blockdata/BlockdataOperation.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/ecdata/EcDataOperation.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/AccountSnapshot.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/defer/DeferRegistry.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/DomSubStampsSubFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/ImcFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/OobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/opcodes/CallDataLoadOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/opcodes/CallOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/opcodes/DeploymentOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/opcodes/JumpOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/opcodes/JumpiOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/opcodes/ReturnDataCopyOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/opcodes/SstoreOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/opcodes/XCallOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/precompiles/Blake2fCallDataSizeOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/precompiles/Blake2fParamsOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/precompiles/ModexpCallDataSizeOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/precompiles/ModexpExtractOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/precompiles/ModexpLeadOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/precompiles/ModexpPricingOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/precompiles/ModexpXbsOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/precompiles/PrecompileCommonOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/scenario/CreateScenarioFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/storage/StorageFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/CreateSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/call/CallSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/copy/ExtCodeCopySection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/halt/ReturnSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/mxp/MxpOperation.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxrcpt/RlpTxnRcpt.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/tables/instructionDecoder/InstructionDecoder.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/gas/GasConstants.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/Conversions.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/blockdata/GasLimitTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/hub/TestTwoPlusTwo.java
Due: none

test: mixture of non reverted, self reverted, and get reverted LOGX (#1784)
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/mmu/RevertingLogsTests.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/rlptxrcpt/LogTest.java
Due: none

Update Linea Besu to 25.2-delivery49 (#1803)
  tracer/gradle.properties
Due: none
