Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

jvm-libs: decompressor adds test for compression -> decompression loop
  jvm-libs/linea/besu-rlp-and-mappers/src/main/kotlin/linea/domain/MapperLineaDomainToBesu.kt
  jvm-libs/linea/blob-decompressor/build.gradle
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressorTest.kt
  jvm-libs/linea/core/domain-models/src/testFixtures/kotlin/linea/domain/BlockFactory.kt
Due: kotlin

staterecovery: adapte to Besu 25.1-delivery45
  Makefile
  docker/compose-spec-l2-services.yml
  jvm-libs/linea/besu-libs/build.gradle
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/TransactionMapper.kt
  state-recovery/test-cases/src/e2eTest/kotlin/linea/staterecovery/StateRecoveryE2ETest.kt
Due: kotlin

staterecovery: fix spotless
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateSynchronizerService.kt
  state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/StateRecoveryAppWithFakeExecutionClientIntTest.kt
Due: none

staterecovery: revert logger names
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/AppConfigurator.kt
Due: none

remove unused gradle lib file
  jvm-libs/linea/testing/teku-helper/build.gradle
Due: kotlin

staterecovery: support debugForceSyncStopBlockNumber
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateRecoveryApp.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateSynchronizerService.kt
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/LineaStateRecoveryPlugin.kt
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/PluginOptions.kt
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/RecoveryModeManager.kt
  state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/StateRecoveryAppWithFakeExecutionClientIntTest.kt
Due: none

staterecovery: code rearange on app configurator
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateSynchronizerService.kt
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/AppConfigurator.kt
Due: none

staterecovery: support debugForceSyncStopBlockNumber
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateSynchronizerService.kt
Due: none

staterecovery: remove unnecessary fields
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/BlobDecompressorAndDeserializer.kt
Due: none

staterecovery: improve stop logic
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/RecoveryModeManager.kt
Due: none

staterecovery: fix small regression
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateSynchronizerService.kt
Due: none

bug fixes
  prover/protocol/compiler/distributedprojection/prover.go
  prover/protocol/distributed/compiler/projection/projection.go
  prover/protocol/distributed/compiler/projection/projection_test.go
Due: none

debug: coordinator log json rpc requests to L2
  config/coordinator/log4j2-dev.xml
Due: none

refactor hashing to generic 5 words
  contracts/hardhat.config.ts
  contracts/src/_testing/unit/libraries/TestEfficientKeccak.sol
  contracts/src/_testing/unit/libraries/TestEfficientLeftRightKeccak.sol
  contracts/src/_testing/unit/messaging/TestSparseMerkleTreeVerifier.sol
  contracts/src/bridging/token/TokenBridge.sol
  contracts/src/libraries/EfficientKeccak.sol
  contracts/src/messaging/l1/L1MessageManager.sol
  contracts/src/messaging/l2/L2MessageManager.sol
  contracts/src/messaging/libraries/SparseMerkleTreeVerifier.sol
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/ZkEvmV2.sol
  contracts/src/rollup/interfaces/ILineaRollup.sol
  contracts/test/hardhat/libraries/EfficientKeccak.ts
  contracts/test/hardhat/libraries/EfficientLeftRightKeccak.ts
Due: hardhat

staterecovery: fix log statement
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateSynchronizerService.kt
Due: none

coordinator: use web3j factory and loggers
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
Due: kotlin

coordinator: adapt transaction mapper to support legacy Geth response with null yParity
  jvm-libs/linea/besu-rlp-and-mappers/src/main/kotlin/linea/domain/MapperLineaDomainToBesu.kt
  jvm-libs/linea/web3j-extensions/src/test/kotlin/linea/web3j/EthGetBlockToLineaBlockMapperTest.kt
Due: kotlin

chore: update `go-corset` to `301d5c4` (#1774)
  tracer/.github/actions/setup-go-corset/action.yml
  tracer/.github/workflows/gradle-nightly-tests.yml
Due: none

coordinator: default transactions v field to yParity when not defined
  jvm-libs/linea/besu-rlp-and-mappers/src/main/kotlin/linea/domain/MapperLineaDomainToBesu.kt
  jvm-libs/linea/core/domain-models/src/testFixtures/kotlin/linea/domain/TransactionFactory.kt
Due: kotlin

coordinator: revert trace log in the ci
  config/coordinator/log4j2-dev.xml
Due: none

feat: disabled docker cache
  .github/workflows/coordinator-testing.yml
  .github/workflows/reuse-run-e2e-tests.yml
  .github/workflows/staterecovery-testing.yml
  .github/workflows/testing.yml
Due: none

fix: unit test
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/proofcreation/ZkProofCreationCoordinatorImplTest.kt
Due: kotlin

feat: testing for docker cache pipeline
  .github/workflows/cache-docker-images.yml
  .github/workflows/coordinator-testing.yml
  .github/workflows/reuse-run-e2e-tests.yml
  .github/workflows/staterecovery-testing.yml
  .github/workflows/testing.yml
  docker/compose-spec-extra-observability.yml
Due: none

feat: add metrics in GlobalBlobAwareConflationCalculator and move bridge logs and state root hash retrieval from execution prover client to coordinator
  .github/workflows/cache-docker-images.yml
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedExecutionProverClientV2.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactory.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/CommonTestData.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/BatchExecutionProverRequestResponse.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Conflation.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/BlockToBatchSubmissionCoordinator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationCalculatorByDataCompressed.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/proofcreation/ZkProofCreationCoordinatorImpl.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/CommonTestData.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorServiceTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/upgrade/SwitchAwareCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/proofcreation/ZkProofCreationCoordinatorImplTest.kt
Due: kotlin

check test added
  prover/protocol/compiler/distributedprojection/prover.go
  prover/protocol/query/distributed_projection.go
  prover/protocol/query/distributed_projection_test.go
Due: none

incorporate Alex suggestion on PR 585
  prover/maths/common/poly/poly.go
  prover/protocol/compiler/distributedprojection/prover.go
  prover/protocol/compiler/projection/prover.go
  prover/protocol/distributed/compiler/projection/projection.go
  prover/protocol/query/distributed_projection.go
  prover/protocol/query/projection.go
Due: none

doc(com): adds some doc to explain how the input compiledIOP should be compiled
  prover/protocol/distributed/conglomeration/conglomeration.go
Due: none

refactor: introduce `TransparentProxy` in favor of `StakeManagerProxy`
  .gas-report
  .gas-snapshot
  script/DeployRewardsStreamerMP.s.sol
  src/TransparentProxy.sol
  src/interfaces/IStakeManagerProxy.sol
  src/interfaces/ITransparentProxy.sol
  test/RewardsStreamerMP.t.sol
  test/StakeVault.test.sol
Due: none

update upgrades-core dependency
  e2e/package.json
  pnpm-lock.yaml
Due: none

successful compile with removal of 0.8.19
  contracts/hardhat.config.ts
  contracts/src/_testing/mocks/base/LineaScenarioDelegatingProxy.sol
  contracts/src/_testing/mocks/bridging/MockMessageService.sol
  contracts/src/_testing/mocks/bridging/MockTokenBridge.sol
  contracts/src/_testing/mocks/bridging/TestTokenBridge.sol
  contracts/src/_testing/mocks/bridging/UpgradedBridgedToken.sol
  contracts/src/_testing/mocks/tokens/TestERC20.sol
  contracts/src/_testing/unit/messaging/TestL2MessageManager.sol
  contracts/src/_testing/unit/messaging/TestL2MessageService.sol
  contracts/src/_testing/unit/opcodes/ErrorAndDestructionTesting.sol
  contracts/src/_testing/unit/opcodes/OpcodeTestContract.sol
  contracts/src/_testing/unit/opcodes/OpcodeTester.sol
  contracts/src/_testing/unit/security/TestPauseManager.sol
  contracts/src/_testing/unit/security/TestRateLimiter.sol
  contracts/src/_testing/unit/tokens/TestLineaSurgeXP.sol
  contracts/src/bridging/token/BridgedToken.sol
  contracts/src/bridging/token/CustomBridgedToken.sol
  contracts/src/bridging/token/TokenBridge.sol
  contracts/src/governance/TimeLock.sol
  contracts/src/messaging/l2/L2MessageService.sol
  contracts/src/tokens/LineaSurgeXP.sol
  contracts/src/tokens/LineaVoyageXP.sol
  contracts/src/tokens/TokenMintingRateLimiter.sol
  testing-tools/app/src/main/solidity/DummyTestContract.sol
  testing-tools/app/src/main/solidity/TestContract.sol
Due: hardhat

cleanups
  prover/protocol/compiler/distributedprojection/prover.go
  prover/protocol/compiler/distributedprojection/verifier.go
  prover/protocol/distributed/compiler/projection/projection.go
  prover/protocol/wizard/verifier.go
Due: none

Dummy consensus EL driver (#27)
  maru/.editorconfig
  maru/app/build.gradle
  maru/app/src/main/kotlin/maru/app/MaruApp.kt
  maru/app/src/main/kotlin/maru/app/MaruAppCli.kt
  maru/app/src/main/kotlin/maru/app/config/Config.kt
  maru/app/src/main/kotlin/maru/app/config/HopliteFriendly.kt
  maru/app/src/test/kotlin/maru/app/config/HopliteFriendliesTest.kt
  maru/build.gradle
  maru/consensus/build.gradle
  maru/consensus/src/main/kotlin/maru/consensus/EngineApiBlockCreator.kt
  maru/consensus/src/main/kotlin/maru/consensus/dummy/BlockTimer.kt
  maru/consensus/src/main/kotlin/maru/consensus/dummy/DummyConsensusConfig.kt
  maru/consensus/src/main/kotlin/maru/consensus/dummy/DummyConsensusEventHandler.kt
  maru/consensus/src/main/kotlin/maru/consensus/dummy/DummyConsensusState.kt
  maru/consensus/src/main/kotlin/maru/consensus/dummy/ForksSchedule.kt
  maru/consensus/src/test/kotlin/maru/consensus/EngineApiBlockCreatorTest.kt
  maru/core/build.gradle
  maru/core/src/main/kotlin/maru/core/BeaconBlockBody.kt
  maru/core/src/main/kotlin/maru/core/ExecutionPayload.kt
  maru/core/src/main/kotlin/maru/core/Seal.kt
  maru/core/src/main/kotlin/maru/core/Validator.kt
  maru/core/src/main/kotlin/maru/executionlayer/manager/ExecutionLayerManager.kt
  maru/core/src/main/kotlin/maru/serialization/rlp/ExecutionPayloadSerializer.kt
  maru/core/src/main/kotlin/maru/serialization/rlp/RLPSerializer.kt
  maru/core/src/test/kotlin/maru/serialization/rlp/BeaconBlockBodySerializerTest.kt
  maru/core/src/test/kotlin/maru/serialization/rlp/BeaconBlockSerializerTest.kt
  maru/core/src/test/kotlin/maru/serialization/rlp/ExecutionPayloadSerializerTest.kt
  maru/core/src/testFixtures/kotlin/maru/core/ext/DataGenerators.kt
  maru/core/src/testFixtures/kotlin/maru/executionlayer/manager/DataGenerators.kt
  maru/docker/sequencer/log4j.xml
  maru/e2e/src/acceptanceTest/kotlin/maru/e2e/CliqueToPosTest.kt
  maru/e2e/src/acceptanceTest/kotlin/maru/e2e/Mappers.kt
  maru/e2e/src/acceptanceTest/kotlin/maru/e2e/TestEnvironment.kt
  maru/executionlayer/build.gradle
  maru/executionlayer/src/main/kotlin/maru/executionlayer/client/ExecutionLayerClient.kt
  maru/executionlayer/src/main/kotlin/maru/executionlayer/client/Web3jJsonRpcExecutionLayerClient.kt
  maru/executionlayer/src/main/kotlin/maru/executionlayer/manager/JsonRpcExecutionLayerManager.kt
  maru/executionlayer/src/test/kotlin/maru/executionlayer/manager/JsonRpcExecutionLayerManagerTest.kt
  maru/gradle/libs.versions.toml
  maru/settings.gradle
Due: none

silence openzeppelin-upgrades error for test fixtures
  contracts/src/_testing/mocks/bridging/TestTokenBridge.sol
  contracts/src/_testing/unit/messaging/TestL2MessageService.sol
  contracts/src/_testing/unit/rollup/TestLineaRollup.sol
Due: hardhat

Added documentation
  prover/protocol/compiler/distributedprojection/prover.go
  prover/protocol/compiler/distributedprojection/verifier.go
  prover/protocol/distributed/compiler/projection/projection.go
Due: none

gofmt fix
  prover/protocol/compiler/distributedprojection/prover.go
  prover/protocol/compiler/distributedprojection/verifier.go
  prover/protocol/distributed/compiler/projection/projection.go
Due: none

test(oogx): CALL different scenarios and gas accumulator (#1515)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/exceptions/OutOfGasExceptionTest.java
  tracer/testing/src/main/java/net/consensys/linea/testing/BytecodeRunner.java
Due: none

fixes after merge is added
  prover/protocol/compiler/distributedprojection/verifier.go
  prover/protocol/wizard/compiled.go
  prover/protocol/wizard/gnark_verifier.go
  prover/protocol/wizard/verifier.go
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
