Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

fix: simplified "checkForDelegation" constraint for delegate row in TX_SKIP
  tracer-constraints/hub/osaka/constraints/tx_skip/user/rows/03_account_delegate.lisp
Due: none

fix: condition for triggering ROM_LEX at transaction start
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/romlex/RomLex.java
Due: none

fix: TX_AUTH now always makes AccountFragment's with TRM
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxAuthorizationMacroSection.java
Due: none

coordinator: refactor PostgresForcedTransactionsDaoTest to improve assertion consistency and readability
  coordinator/persistence/aggregation/src/integrationTest/kotlin/linea/persistence/ftx/PostgresForcedTransactionsDaoTest.kt
Due: kotlin

coordinator: contract-clients: refactor finalized state retrieval into a dedicated method to improve clarity and reuse
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
Due: kotlin

feat: new "s"-related enums in delegation.Utils class
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/delegation/Utils.java
Due: none

feat: using new s-related enums + fixing the TupleAnalysis prediction
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/rlpauth/RlpAuthTest.java
Due: none

ras: removing comments + spotless
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/romlex/RomLex.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/trm/Trm.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/delegation/DelegationsMakingAccountsExecutableAndViceVersaTests.java
Due: none

coordinator: forced transactions: refactor and improve synchronization for safe block number management
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ForcedTransactionsSafeBlockNumberManager.kt
Due: kotlin

rename warmingScenario class
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/hub/AddressCollisionWarmingAndDeploymentTests.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/hub/WarmingScenario.java
Due: none

testing: adding the test for different cases of invalidity backend
  prover/backend/aggregation/craft.go
  prover/backend/aggregation/prove.go
  prover/backend/execution/statemanager/types.go
  prover/backend/invalidity/prove.go
  prover/backend/invalidity/request.go
  prover/circuits/invalidity/invalidity.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/cmd.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/invalidity_test.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/random_gen.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-agg-2.json
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-agg.json
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-invalidity-1.json
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-invalidity-2.json
  prover/cmd/prover/cmd/prove.go
  prover/config/config-devnet-full.toml
  prover/config/config-integration-development.toml
  prover/devnet-traces/13816817-13816879-getZkProof.json
  prover/devnet-traces/13816817-13816879.conflated.lt.gz
  prover/zkevm/full.go
Due: none

filter cases in the method source
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/hub/AddressCollisionWarmingAndDeploymentTests.java
Due: none

Fixed performance issue in the TxCompressor
  prover/lib/compressor/blob/v1/tx_compressor.go
  prover/lib/compressor/blob/v1/tx_compressor_bench_test.go
  prover/lib/compressor/blob/v1/tx_compressor_test.go
Due: none

Binaries update
  jvm-libs/linea/blob-compressor/build.gradle
  jvm-libs/linea/tx-compressor/build.gradle
Due: kotlin

[Prover] Add test to verify execution proof filename without etv and stv (#2447)
  prover/cmd/controller/controller/job_definition_test.go
Due: none

adjust validator count for flaky test
  contracts/test/hardhat/yield/unit/ValidatorContainerProofVerifier.ts
Due: hardhat

added trivialMultiDelegationMonoTransactionTest
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/delegation/MultiDelegationTest.java
Due: none

fix spotless
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/hub/AddressCollisionWarmingAndDeploymentTests.java
Due: none

[ZkTracer] test: add prewarming collision to skip/init 7702 address collision test
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/delegation/AddressCollisionTests.java
Due: none

coordinator: ForcedTransactionsAppTest use listener patter over poller to avoid flakiness
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsApp.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ForcedTransactionConflationSafeBlockNumberProvider.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ForcedTransactionsSafeBlockNumberManager.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/SafeBlockNumberUpdateListener.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/ForcedTransactionsAppTest.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/conflation/ForcedTransactionsSafeBlockNumberManagerTest.kt
Due: kotlin

coordinator: update forced transactions config with sequencer endpoint
  config/coordinator/coordinator-config-v2.toml
Due: none

coordinator: small fixes conflation app and forced transactions app;
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
Due: kotlin

agent friendly docs
  .cursor/BUGBOT.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  besu-plugins/AGENTS.md
  bridge-ui/AGENTS.md
  contracts/.cursor/BUGBOT.md
  contracts/AGENTS.md
  coordinator/AGENTS.md
  prover/AGENTS.md
  sdk/AGENTS.md
  tracer/AGENTS.md
  transaction-exclusion-api/AGENTS.md
Due: hardhat, kotlin

added way to add code delegation to toy transaction
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyTransaction.java
Due: none

Update coordinator/AGENTS.md
  coordinator/AGENTS.md
Due: kotlin

Update .cursor/BUGBOT.md
  .cursor/BUGBOT.md
Due: none

[Coordinator] Remove etv and stv from execution proof request filename (#2448)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedExecutionProverClientV2.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedProofAggregationClientV2.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactory.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverFileNameProvider.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverFileNameProvidersTest.kt
Due: kotlin

coordinator: rename INVALIDITY_PROOF to FORCED_TRANSACTION and improve conflation logic
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationCalculator.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/AggregationCalculatorByForcedTransaction.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ConflationCalculatorByForcedTransaction.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/ForcedTransactionsAppTest.kt
Due: kotlin

initial commit
  docs/architecture-description.md
  docs/features/README.md
  docs/features/bridge-ui.md
  docs/features/coordinator.md
  docs/features/forced-transactions.md
  docs/features/messaging.md
  docs/features/operational.md
  docs/features/pause-and-security.md
  docs/features/prover.md
  docs/features/rollup.md
  docs/features/sdk.md
  docs/features/sequencer.md
  docs/features/state-recovery.md
  docs/features/tge.md
  docs/features/token-bridge.md
  docs/features/tracer.md
  docs/features/transaction-exclusion.md
  docs/features/yield-management.md
Due: none

added draft of multi delegation mono transaction parametric test and changed type of keypair in toyaccount
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/delegation/MultiDelegationTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/delegation/TrivialMultiDelegationTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/instructionprocessing/callTests/CallDelegationTests.java
  tracer/reference-tests/src/test/java/net/consensys/linea/BlockchainReferenceTestTools.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyAccount.java
Due: none

fix: concurrency issues on DelegationAndAccessListTests
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/delegation/DelegationAndAccessListTests.java
Due: none

quotient optimization
  prover/13716229-13716328.conflated.beta-test-only-small-fields-rc1.25.12.0-linea4.lt.gz
  prover/cmd/dev-tools/srs-gen/main.go
  prover/cpu.prof
  prover/go.mod
  prover/go.sum
  prover/mem.prof
  prover/protocol/compiler/globalcs/global_test.go
  prover/protocol/compiler/globalcs/quotient.go
  prover/shared/v3/traces/conflated/13716229-13716328.conflated.beta-test-only-small-fields-rc1.25.12.0-linea4.lt.gz
  prover/symbolic/compiler.go
  prover/zkevm/arithmetization/zkevm.bin
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
