Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

coordinator: smart contract deploy helper improver regex
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/MakefileContractDeploymentHelper.kt
Due: kotlin

coordinator: smart contract deploy helper improver regex
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/MakefileContractDeploymentHelper.kt
  coordinator/ethereum/test-utils/src/test/kotlin/net/consensys/zkevm/ethereum/MakefileContractDeploymentHelperKtTest.kt
Due: kotlin

coordinator: fix integration test smart contract deploy helper (#197)
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/MakefileContractDeploymentHelper.kt
  coordinator/ethereum/test-utils/src/test/kotlin/net/consensys/zkevm/ethereum/MakefileContractDeploymentHelperKtTest.kt
Due: kotlin

enhance TracesFilesManager test coverage (#137)
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/TracesFilesManagerTest.kt
Due: kotlin

fix: refactor the brigdge ui history fetching
  bridge-ui/src/hooks/useFetchBridgeTransactions.ts
  bridge-ui/src/hooks/useFetchHistory.ts
Due: none

added missing javadoc comments (#98)
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/AbstractLineaRequiredPlugin.java
Due: none

fix coordinator local overrides file
  config/coordinator/coordinator-local-dev.config.overrides.toml
Due: none

coordinator: removes broken test
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/TracesFilesManagerTest.kt
Due: kotlin

fix coordinator local overrides file (#199)
  config/coordinator/coordinator-local-dev.config.overrides.toml
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/TracesFilesManagerTest.kt
Due: kotlin

adds jackson Serilaiser and Deserialisers
  coordinator/clients/prover-client/serialization/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/serialization/ProofToFinalizeJsonResponseTest.kt
  gradle/libs.versions.toml
  jvm-libs/generic/serialization/jackson/build.gradle
  jvm-libs/generic/serialization/jackson/src/main/kotlin/build/linea/s11n/jackson/BytesHexSerDe.kt
  jvm-libs/generic/serialization/jackson/src/main/kotlin/build/linea/s11n/jackson/InstantISO8601SerDe.kt
  jvm-libs/generic/serialization/jackson/src/main/kotlin/build/linea/s11n/jackson/NumbersHexSerDe.kt
  jvm-libs/generic/serialization/jackson/src/main/kotlin/build/linea/s11n/jackson/ObjectMappers.kt
  jvm-libs/generic/serialization/jackson/src/test/kotlin/build/linea/s11n/jackson/BytesSerDeTest.kt
  jvm-libs/generic/serialization/jackson/src/test/kotlin/build/linea/s11n/jackson/InstantISO8601SerDeTest.kt
  jvm-libs/generic/serialization/jackson/src/test/kotlin/build/linea/s11n/jackson/NumbersSerDeTest.kt
  settings.gradle
Due: kotlin

adds json-rpc client V2 with simpler interface
  jvm-libs/json-rpc/build.gradle
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/JsonRpcRequest.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/JsonRpcResponse.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcClient.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcRequestFanOut.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcRequestRetryer.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcRequestRetryerV2.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcV2Client.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcV2ClientImpl.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/ObjectMappers.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/SequentialIdSupplier.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClient.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClientFactory.kt
  jvm-libs/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcV2ClientImplTest.kt
  jvm-libs/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClientTest.kt
Due: kotlin

json-rpc client remove redundant mapper
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcClient.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/ObjectMappers.kt
  jvm-libs/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcV2ClientImplTest.kt
Due: kotlin

GHA - Only publish docker builds on main branch
  .github/actions/check-image-tags-exist/action.yml
  .github/actions/image-tag-and-push/action.yml
  .github/workflows/all-tools.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/coordinator-build-and-publish.yml
  .github/workflows/main.yml
  .github/workflows/postman-build-and-publish.yml
  .github/workflows/prover-build-and-publish.yml
  .github/workflows/reuse-check-images-tags-and-push.yml
  .github/workflows/reuse-run-e2e-tests.yml
  .github/workflows/reuse-store-image-name-and-tags.yml
  .github/workflows/reuse-tag-with-develop.yml
  .github/workflows/traces-api-facade-build-and-publish.yml
Due: none

GHA - Return develop_tag input
  .github/workflows/build-and-publish.yml
Due: none

GHA - push_image input required false
  .github/workflows/coordinator-build-and-publish.yml
  .github/workflows/postman-build-and-publish.yml
  .github/workflows/prover-build-and-publish.yml
  .github/workflows/traces-api-facade-build-and-publish.yml
Due: none

GHA - remove input last_commit_tag
  .github/workflows/build-and-publish.yml
  .github/workflows/main.yml
Due: none

GHA - remove input last_commit_tag 2
  .github/workflows/main.yml
Due: none

GHA - Fix if statement
  .github/workflows/coordinator-build-and-publish.yml
  .github/workflows/postman-build-and-publish.yml
  .github/workflows/prover-build-and-publish.yml
  .github/workflows/traces-api-facade-build-and-publish.yml
Due: none

GHA - Debug event name
  .github/workflows/traces-api-facade-build-and-publish.yml
Due: none

GHA - Fix event name check
  .github/workflows/coordinator-build-and-publish.yml
  .github/workflows/postman-build-and-publish.yml
  .github/workflows/prover-build-and-publish.yml
  .github/workflows/traces-api-facade-build-and-publish.yml
Due: none

GHA - Fix tags env var
  .github/workflows/coordinator-build-and-publish.yml
  .github/workflows/postman-build-and-publish.yml
  .github/workflows/prover-build-and-publish.yml
  .github/workflows/traces-api-facade-build-and-publish.yml
Due: none

GHA - Fix load input
  .github/workflows/coordinator-build-and-publish.yml
  .github/workflows/postman-build-and-publish.yml
  .github/workflows/prover-build-and-publish.yml
  .github/workflows/traces-api-facade-build-and-publish.yml
Due: none

GHA - Separate steps for pushing images because images can't be loaded with multiple platforms
  .github/workflows/coordinator-build-and-publish.yml
  .github/workflows/postman-build-and-publish.yml
  .github/workflows/traces-api-facade-build-and-publish.yml
Due: none

Support regeneration of `GlobalConstants.java` (#1421)
  tracer/buildSrc/src/main/groovy/TraceFilesTask.groovy
  tracer/gradle/trace-files.gradle
Due: none

fixed multi column (#171)
  prover/protocol/compiler/lookup/compiler.go
  prover/protocol/compiler/lookup/compiler_test.go
  prover/protocol/compiler/lookup/conditional_test.go
  prover/protocol/compiler/lookup/prover.go
  prover/protocol/compiler/lookup/utils.go
  prover/protocol/compiler/lookup/verifier.go
  prover/protocol/compiler/lookup/z_packing.go
  prover/protocol/compiler/selfrecursion/selfrecursion_test.go
  prover/protocol/compiler/specialqueries/range_test.go
  prover/protocol/wizardutils/evaluation.go
Due: none

fixing the round, adding the test
  prover/protocol/compiler/innerproduct/compiler.go
  prover/protocol/compiler/innerproduct/context.go
  prover/protocol/compiler/innerproduct/innerproduct_test.go
Due: none

Use NatSpec for ITokenBridge events and errors
  contracts/contracts/tokenBridge/interfaces/ITokenBridge.sol
Due: hardhat

Fix `GAS_COST` and `GAS_NEXT` in all cases except `CALL` and `CREATE` (#1426)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/common/CommonFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/common/CommonFragmentValues.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/signals/Exceptions.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/transients/OperationAncillaries.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/gas/projector/Call.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/gas/projector/Create.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/gas/projector/Create2.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/gas/projector/ExtCodeCopy.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/gas/projector/GasProjection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/gas/projector/GasProjector.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/instructionprocessing/SimpleGasCalculatorTest.java
Due: none

fixup(gen): adds the changes to the generator
  prover/wizard/internal/generator/metadata.go.tmpl
Due: none

make univariate eval queries unitaries
  prover/wizard/query_result.go
  prover/wizard/query_univariate.go
Due: none

pass 1 of NatSpec cleanup
  contracts/contracts/interfaces/IPauseManager.sol
  contracts/contracts/interfaces/l1/IL1MessageManager.sol
  contracts/contracts/interfaces/l1/IL1MessageManagerV1.sol
  contracts/contracts/interfaces/l1/ILineaRollup.sol
  contracts/contracts/interfaces/l2/IL2MessageManager.sol
  contracts/contracts/interfaces/l2/IL2MessageServiceV1.sol
  contracts/contracts/lib/L2MessageServicePauseManager.sol
  contracts/contracts/lib/LineaRollupPauseManager.sol
  contracts/contracts/lib/TokenBridgePauseManager.sol
  contracts/contracts/messageService/l2/v1/L2MessageServiceV1.sol
  contracts/contracts/messageService/lib/MessageHashing.sol
Due: hardhat

minor
  prover/protocol/compiler/innerproduct/context.go
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
