Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

staterecover: adds custom logger to execution layer client
  state-recover/clients/execution-layer-json-rpc-client/src/main/kotlin/build/linea/staterecover/clients/el/ExecutionLayerJsonRpcClient.kt
Due: none

coordinator: disable log on gasprice staticcaps which are noisy locally
  config/coordinator/log4j2-dev.xml
Due: none

Fix(328): ci testing workflow issue when no tests are run (#329)
  .github/workflows/main.yml
  .github/workflows/testing.yml
  jvm-libs/generic/persistence/db/src/testFixtures/kotlin/net/consensys/zkevm/persistence/db/test/CleanDbTestSuiteParallel.kt
Due: kotlin

add precompute script and readme documentation
  contracts/README.md
  contracts/scripts/operational/precomputeDeployedAddress.ts
Due: hardhat

minor typo fix
  prover/protocol/query/global.go
Due: none

fix: update testing workflow to always succeed in case all jobs are skipped
  .github/workflows/testing.yml
Due: none

fix: update testing workflow to always succeed in case all jobs are skipped (#330)
  .github/workflows/testing.yml
Due: none

current reinitialization script for all contracts
  contracts/deploy/04_deploy_L2MessageServiceWithReinitialization.ts
  contracts/deploy/06_deploy_TokenBridgeWithReinitialization.ts
Due: hardhat

use ethers address generation
  contracts/scripts/operational/precomputeDeployedAddress.ts
Due: hardhat

update linea-besu version (#110)
  besu-plugins/linea-sequencer/gradle.properties
Due: none

use shared functions consistently
  contracts/deploy/03_deploy_LineaRollupWithReinitialization.ts
  contracts/deploy/04_deploy_L2MessageServiceWithReinitialization.ts
  contracts/deploy/06_deploy_TokenBridgeWithReinitialization.ts
Due: hardhat

[Feat] 191 improve documentation (#316)
  Makefile
  contracts/README.md
  contracts/docs/audits.md
  contracts/docs/contract-style-guide.md
  contracts/scripts/operational/precomputeDeployedAddress.ts
  contracts/test/README.md
  docs/get-started.md
  e2e/src/common/generateL2Traffic.ts
Due: hardhat

remove verification in wrong file
  contracts/scripts/tokenBridge/test/deployBridgedTokenBeacon.ts
Due: hardhat

feat: set waitForTcpPorts as true to avoid postgres spin up race condition
  build.gradle
Due: none

test aggregation use existing SRS
  prover/circuits/aggregation/circuit_test.go
Due: none

Fix PI prover nil reference bug (#312)
  prover/backend/aggregation/prove.go
  prover/circuits/aggregation/circuit.go
  prover/circuits/setup_manifest.go
Due: none

fix complete arithmetic for PI proof verification
  prover/circuits/aggregation/circuit.go
  prover/circuits/aggregation/circuit_test.go
Due: none

fix all aggregation tests
  prover/circuits/aggregation/circuit_test.go
  prover/circuits/aggregation/test_utils/test_utils.go
  prover/integration/circuit-testing/aggregation/main.go
  prover/lib/compressor/blob/blob.go
  prover/lib/compressor/blob/v1/blob_maker_test.go
  prover/lib/compressor/blob/v1/test_utils/blob_maker_testing.go
  prover/utils/utils.go
Due: none

delete empty file
  prover/circuits/aggregation/test_utils/test_utils.go
Due: none

fix make dummy PI emulation friendlier
  prover/circuits/aggregation/circuit.go
  prover/circuits/pi-interconnection/dummy.go
Due: none

fix add pi prover mode to config
  prover/config/config-integration-benchmark.toml
  prover/config/config-integration-development.toml
  prover/config/config-integration-full.toml
Due: none

feat: improve tx-exclusion-api performance and increase size of reason message column
  transaction-exclusion-api/app/src/integrationTest/kotlin/net/consensys/linea/transactionexclusion/TransactionExclusionAppTest.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/TransactionExclusionApp.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/ArgumentParser.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/app/api/ArgumentParserTest.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDaoTest.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDao.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/main/resources/db/V003__increase_reject_reason_size_and_add_index_on_tx_hash_schema.sql
Due: none

feat: set waitForTcpPorts as true for localStackPostgresDbOnly and update prover-v3 image tag in compose
  build.gradle
  docker/compose-local-dev-traces-v2.overrides.yml
  jvm-libs/generic/persistence/db/src/testFixtures/kotlin/net/consensys/zkevm/persistence/db/test/CleanDbTestSuiteParallel.kt
Due: kotlin

`HUB` debugging continued (#514)
  exp/constraints.lisp
  exp/lookups/exp-into-wcp.lisp
  hub/constraints/generalities/context.lisp
  hub/constraints/instruction-handling/copy/codecopy.lisp
  hub/constraints/instruction-handling/copy/extcodecopy.lisp
Due: none

feat: change builder and final image to eclipse-temurin 21-alpine
  coordinator/Dockerfile
Due: kotlin

feat: use installDist in GHA job to avoid unzip
  .github/workflows/coordinator-build-and-publish.yml
  coordinator/Dockerfile
Due: kotlin

Fix copy location
  coordinator/Dockerfile
Due: kotlin

Add WORKDIR to improve readability, move removal of darwin dir out of case switches
  coordinator/Dockerfile
Due: kotlin

Revert to debian based image
  coordinator/Dockerfile
Due: kotlin

Fix mkdir command
  coordinator/Dockerfile
Due: kotlin

Merge mkdir commands
  coordinator/Dockerfile
Due: kotlin

Amended directories
  coordinator/Dockerfile
Due: kotlin

Switch if statement to case statement to uname call
  coordinator/Dockerfile
Due: kotlin

Use multi-stage builds to unzip and copy jars
  coordinator/Dockerfile
Due: kotlin

feat: update dockerfile to avoid hardcoded version for jar files
  coordinator/Dockerfile
Due: kotlin

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
