Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

[Fix] Remove targetExclude from Java linting config (#1085)
  build.gradle
Due: none

Fix/bump next and axios versions as per Dependabot (#1091)
  bridge-ui/package.json
  bridge-ui/src/app/RootLayout.tsx
  operations/package.json
  pnpm-lock.yaml
Due: none

fix: update postman docker image tag in the local stack (#1098)
  docker/compose-spec-l2-services.yml
Due: none

coordinator: reduce unnecessary JSON-RPC requests (#1114)
  coordinator/ethereum/message-anchoring/src/main/kotlin/linea/anchoring/MessageAnchoringService.kt
  coordinator/ethereum/message-anchoring/src/main/kotlin/linea/anchoring/clients/L1MessageSentEventsPoller.kt
Due: kotlin

chore(operations): fix typos and format in the Readme file (#1121)
  operations/README.md
  operations/package.json
Due: none

Update Tracer to beta-v3.1-rc2 (#1093)
  gradle/libs.versions.toml
Due: none

fix: update bridge ui lifi, dynamic and viem dependencies (#1116)
  bridge-ui/package.json
  bridge-ui/src/components/lifi/widget/index.tsx
  pnpm-lock.yaml
Due: none

coordinator: update inage on local stack (#1113)
  docker/compose-spec-l2-services.yml
Due: none

feat(bridge-ui): add base path config (#1095)
  .github/workflows/bridge-ui-e2e-tests.yml
  .github/workflows/bridge-ui-publish.yml
  bridge-ui/.env.template
  bridge-ui/Dockerfile
  bridge-ui/environment.d.ts
  bridge-ui/next.config.mjs
  bridge-ui/src/components/bridge/claiming/bridge-mode/index.tsx
  bridge-ui/src/components/header/data.js
  bridge-ui/src/components/layouts/Layout.tsx
  bridge-ui/src/components/modal/first-time-visit/index.tsx
  bridge-ui/src/components/top-banner/index.tsx
  bridge-ui/src/config/config.ts
  bridge-ui/src/services/tokenService.ts
  bridge-ui/src/utils/chains.ts
Due: none

Fix: Increase the block period for EcDataLimitsTest to avoid flackyness (#1117)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/EcDataLimitsTest.java
Due: none

fix: bridge ui e2e tests issue (#1119)
  bridge-ui/src/components/internal-nav/item/index.tsx
Due: none

feat: fix batch-limits, coordinator update for local run, and L1 d… (#1123)
  config/coordinator/coordinator-config-v2.toml
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  docs/l1-dynamic-gas-pricing.md
Due: kotlin

Use distribution artifact instead of uber jar for Tracer plugin (#1115)
  linea-besu-package/scripts/assemble-packages.sh
Due: none

Autoset the Sequencer dev version after Tracer version (#1142)
  besu-plugins/linea-sequencer/build.gradle
Due: none

chore(dependencies): update outdated dependencies (#1122)
  bridge-ui/package.json
  operations/package.json
  pnpm-lock.yaml
Due: none

merge gitignores (#1137)
  .gitignore
  besu-plugins/linea-sequencer/.gitignore
  bridge-ui/.gitignore
  contracts/.gitignore
  jvm-libs/linea/blob-compressor/src/main/resources/.gitignore
  jvm-libs/linea/blob-decompressor/src/main/resources/.gitignore
  jvm-libs/linea/blob-shnarf-calculator/src/main/resources/.gitignore
  prover/.gitignore
  prover/crypto/ringsis/.gitignore
  prover/integration/full-mode/.gitignore
Due: hardhat, kotlin

chore(bridge-ui): add a CSP header (#1134)
  bridge-ui/src/app/RootLayout.tsx
  bridge-ui/src/middleware.ts
Due: none

Fix jrereleaser errors for besu-rlp-and-mappers (#1141)
  .github/workflows/maven-release-all.yml
  gradle/publishing.gradle
  jvm-libs/linea/besu-rlp-and-mappers/build.gradle
Due: kotlin

fix(bridge-ui): revert CSP header (#1130)
  bridge-ui/src/app/RootLayout.tsx
  bridge-ui/src/middleware.ts
Due: none

fix(bridge-ui): local CSP header for development (#1128)
  bridge-ui/src/middleware.ts
Due: none

coordinator: fix duplicated anchoring on high frequency tick interval (#1135)
  config/coordinator/log4j2-dev.xml
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupSmartContractClient.kt
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l2/Web3JL2MessageServiceSmartContractClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/transactionmanager/AsyncFriendlyTransactionManager.kt
Due: kotlin

feat: update trace-limits and besu images (#1129)
  config/common/traces-limits-besu-v2.toml
  config/common/traces-limits-v2.toml
  coordinator/app/build.gradle
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
  linea-besu-package/linea-besu/config/trace-limits.mainnet.toml
  linea-besu-package/linea-besu/config/trace-limits.sepolia.toml
  linea-besu-package/linea-besu/genesis/genesis.sepolia.json
  linea-besu-package/linea-besu/profiles/advanced-sepolia.toml
  linea-besu-package/linea-besu/profiles/basic-sepolia.toml
Due: kotlin

remove usabilla, add gtm script path to csp header (#1143)
  bridge-ui/src/app/RootLayout.tsx
  bridge-ui/src/middleware.ts
  bridge-ui/src/scripts/usabilla.js
Due: none

Fix/linea sequencer release (#1140)
  .github/workflows/linea-sequencer-plugin-release.yml
  besu-plugins/linea-sequencer/gradle/build-aliases.gradle
  besu-plugins/linea-sequencer/gradle/java.gradle
  besu-plugins/linea-sequencer/sequencer/build.gradle
Due: none

add unsafe eval to dev (#1127)
  bridge-ui/.env.template
  bridge-ui/src/middleware.ts
Due: none

Add new timer and counter methods to metrics facade (#1097)
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressor.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobShnarfCalulator.kt
  gradle/libs.versions.toml
  jvm-libs/generic/extensions/futures/src/main/kotlin/net/consensys/linea/async/VertxFutureExtensions.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/JsonRpcMessageProcessor.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClient.kt
  jvm-libs/linea/core/metrics/src/main/kotlin/net/consensys/linea/metrics/MetricsFacade.kt
  jvm-libs/linea/metrics/micrometer/build.gradle
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/AbstractTimerCapture.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/DynamicTagTimerCapture.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/DynamicTagTimerImpl.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/Extensions.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/MicrometerCounterAdapter.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/MicrometerMetricsFacade.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/MicrometerTimerAdapter.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/SimpleTimerCapture.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/DynamicTagTimerCaptureTest.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/DynamicTagTimerTest.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/MicrometerCounterAdapterTest.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/MicrometerMetricsFacadeTest.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/MicrometerTimerAdapterTest.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/SimpleTimerCaptureTest.kt
Due: kotlin

Chore: update arithmetization to beta-v3.1-rc3 (#1147)
  gradle/libs.versions.toml
Due: none

fix(ci): input sanitizing on Slack pipeline (#1156)
  .github/workflows/slack-notify-external-contributions.yml
Due: none

Chore: Update Besu artifacts coordinates (#1155)
  besu-plugins/linea-sequencer/acceptance-tests/build.gradle
  besu-plugins/linea-sequencer/gradle/dependency-management.gradle
  besu-plugins/linea-sequencer/sequencer/build.gradle
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/rpc/methods/LineaSendBundleTest.java
  build.gradle
  gradle/libs.versions.toml
  jvm-libs/linea/besu-libs/build.gradle
Due: kotlin

feat(ops): notify Slack on external contribution (#1133)
  .github/workflows/slack-notify-external-contributions.yml
Due: none

coordinator: carveout conflation app (#1138)
  config/coordinator/coordinator-config-v2-override-local-dev.toml
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/MessageAnchoringAppConfigurator.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationAppHelper.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/ConflationAppTest.kt
Due: kotlin

adjust gtm url (#1145)
  bridge-ui/src/middleware.ts
Due: none

feat(docs): Improve documentation for local coordinator development (#1037)
  README.md
  docs/get-started.md
  docs/local-development-guide.md
Due: none

Feat: integrate ZkCounter into the Sequencer (#1101)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/EcDataLimitsTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/ExcludedPrecompilesLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/ModExpLimitsTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/TransactionTraceLimitLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/TransactionTraceLimitOverflowLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EstimateGasModuleLimitOverflowLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EthSendRawTransactionSimulationCheckLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EthSendRawTransactionSimulationModExpLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/log4j2-test.xml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimitsLimitless.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/strictModuleLimitsLimitless.toml
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaTracerCliOptions.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaTracerConfiguration.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/methods/LineaEstimateGas.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/services/LineaEstimateGasEndpointPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/modulelimit/ModuleLineCountValidator.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/validators/SimulationValidator.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/LineaTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/TraceLineLimitTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/SimulationValidatorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactoryTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/TraceLineLimitTransactionSelectorTest.java
Due: none

fix(ops): on external Issue creation, notify Slack (#1152)
  .github/workflows/slack-notify-external-contributions.yml
Due: none

chore(deps): update dependencies (#1164)
  package.json
  pnpm-lock.yaml
Due: none

fix: added test fixtures dependencies for linea-contract-clients (#1166)
  jvm-libs/linea/clients/linea-contract-clients/build.gradle
Due: kotlin
