Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

ras
  arithmetization/src/main/riscv/instruction_processing/i_type.zkc
Due: none

add a unit test to catch missing circuits
  prover/cmd/prover/cmd/setup_test.go
Due: none

fix(sequencer): bypass background scheduler collision in buildNewBlockAndWait(Long)
  linea-besu/plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/LineaPluginPoSTestBase.kt
Due: none

fix(sequencer): bypass background scheduler collision in buildNewBlockAndWait(Long) (#3072)
  linea-besu/plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/LineaPluginPoSTestBase.kt
Due: none

chore(2876): rename catch variable from it to e in GoBackedBlobShnarfCalculator (#2889)
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/GoBackedBlobShnarfCalculator.kt
Due: kotlin

chore(deps): migrate lsv-cli to 1.8
  contracts/package.json
  contracts/scripts/operational/yieldBoost/testing/unstakePermissionless.ts
  pnpm-lock.yaml
Due: hardhat

chore(deps): update jest to 30.4
  contracts/integrity-verifier/verifier-core/package.json
  contracts/integrity-verifier/verifier-ethers/package.json
  contracts/integrity-verifier/verifier-viem/package.json
  e2e/package.json
  operations/native-yield-operations/automation-service/package.json
  operations/native-yield-operations/lido-governance-monitor/package.json
  operations/operations-cli/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  postman/package.json
  ts-libs/linea-native-libs/package.json
  ts-libs/linea-shared-utils/package.json
  ts-libs/sdk/sdk-core/package.json
  ts-libs/sdk/sdk-ethers/package.json
  ts-libs/sdk/sdk-viem/package.json
Due: hardhat

test(contracts): stabilize token bridge event assertion
  contracts/test/hardhat/bridging/token/TokenBridge.ts
Due: hardhat

chore(coordinator): revert some changes
  coordinator/core/src/main/kotlin/linea/conflation/calculators/AggregationTriggerCalculatorByDeadline.kt
  coordinator/core/src/main/kotlin/linea/conflation/calculators/AggregationTriggerCalculatorByProofLimit.kt
Due: kotlin

chore(coordinator): small changes
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ConfigLoaderHelper.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
Due: kotlin

chore(coordinator): small clean up
  jvm-libs/generic/persistence/db/src/main/kotlin/linea/persistence/db/DbHelper.kt
Due: kotlin

chore(coordinator): small clean up
  coordinator/core/src/main/kotlin/linea/conflation/calculators/GlobalBlobAwareConflationCalculator.kt
Due: kotlin

removed comment
  arithmetization/src/main/riscv/instruction_processing/i_type.zkc
Due: none

added constants for syscalls
  arithmetization/src/main/riscv/instruction_processing/i_type.zkc
  arithmetization/src/main/riscv/utils/constants.zkc
Due: none

ras
  arithmetization/src/main/riscv/utils/constants.zkc
Due: none

chore(finalization): update exception handling to use Throwable
  coordinator/ethereum/finalization-monitor/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImpl.kt
Due: kotlin

chore(finalization): tinny optimization
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupSmartContractClient.kt
Due: kotlin

chore(coordinator): tinny improv
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationL2StateProvider.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/RollingBlobShnarfCalculator.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/AggregationFinalizationCoordinator.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/linea/kotlin/ByteArrayExtensions.kt
Due: kotlin

chore(coordinator): fix spotless
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/RollingBlobShnarfCalculator.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/AggregationFinalizationCoordinator.kt
Due: kotlin

chore(misc): Add maru to allowed scopes
  .husky/commit-msg
Due: none

chore(maru): remove imported github metadata
  maru/.github/ISSUE_TEMPLATE/bug-report.md
  maru/.github/ISSUE_TEMPLATE/config.yml
  maru/.github/ISSUE_TEMPLATE/epic.md
  maru/.github/ISSUE_TEMPLATE/feature_request.md
  maru/.github/dependabot.yml
  maru/.github/pull_request_template.md
  maru/.github/workflows/chaos-testing.yml
  maru/.github/workflows/e2e-tests.yml
  maru/.github/workflows/main.yml
  maru/.github/workflows/maru-build-and-publish.yml
  maru/.github/workflows/release.yml
  maru/.github/workflows/security-code-scanner.yml
  maru/.github/workflows/smoke-tests.yml
  maru/.github/workflows/testing.yml
Due: none

chore(maru): remove standalone settings
  maru/settings.gradle
Due: none

build(maru): include projects in monorepo settings
  settings.gradle
Due: none

build(maru): apply zkevm convention plugins
  buildSrc/src/main/groovy/net.consensys.zkevm.kotlin-common-minimal-conventions.gradle
  gradle/libs.versions.toml
  maru/api/build.gradle
  maru/app/build.gradle
  maru/build.gradle
  maru/chaos-testing/build.gradle
  maru/chaos-testing/health-checker/build.gradle
  maru/config/build.gradle
  maru/consensus/build.gradle
  maru/core/build.gradle
  maru/crypto/build.gradle
  maru/e2e/build.gradle
  maru/executionlayer/build.gradle
  maru/jvm-libs/build.gradle
  maru/jvm-libs/extensions/build.gradle
  maru/jvm-libs/mappers/build.gradle
  maru/jvm-libs/teku-web3j/build.gradle
  maru/jvm-libs/test-utils/build.gradle
  maru/jvm-libs/utils/build.gradle
  maru/linea-finalization-provider/build.gradle
  maru/observability/build.gradle
  maru/p2p/build.gradle
  maru/serialization/build.gradle
  maru/storage/build.gradle
  maru/syncing/build.gradle
Due: none

chore(maru): drop standalone buildSrc
  maru/buildSrc/build.gradle
  maru/buildSrc/settings.gradle
  maru/buildSrc/src/main/groovy/maru.kotlin-application-conventions.gradle
  maru/buildSrc/src/main/groovy/maru.kotlin-common-conventions.gradle
  maru/buildSrc/src/main/groovy/maru.kotlin-common-minimal-conventions.gradle
  maru/buildSrc/src/main/groovy/maru.kotlin-library-conventions.gradle
  maru/buildSrc/src/main/groovy/maru.kotlin-library-minimal-conventions.gradle
Due: none

build(maru): fold dependency versions into monorepo catalog
  gradle/libs.versions.toml
  maru/build.gradle
  maru/consensus/build.gradle
  maru/gradle/libs.versions.toml
  maru/gradle/versions.gradle
Due: none

ci(maru): add monorepo workflows
  .github/workflows/maru-build-and-publish.yml
  .github/workflows/maru-chaos-testing.yml
  .github/workflows/maru-e2e-tests.yml
  .github/workflows/maru-main.yml
  .github/workflows/maru-release.yml
  .github/workflows/maru-security-code-scanner.yml
  .github/workflows/maru-smoke-tests.yml
  .github/workflows/maru-testing.yml
Due: none

build(maru): align import with monorepo APIs
  maru/app/src/main/kotlin/maru/app/ConsensusMetrics.kt
  maru/build.gradle
Due: none

test(maru): restore broader verification runtime
  maru/app/build.gradle
  maru/jvm-libs/test-utils/build.gradle
  maru/jvm-libs/test-utils/src/main/kotlin/io/vertx/ext/web/healthchecks/HealthCheckHandler.kt
Due: none

Prover/adding local constraints (#3055)
  prover-ray/wiop/query_local_constraint.go
  prover-ray/wiop/query_local_constraint_test.go
Due: none

prover (refactor): fix linter errors
  prover-ray/wiop/compilers/logderivativesum/logderivativesum_test.go
  prover-ray/wiop/compilers/lookuptologderivsum/lookuptologderivsum.go
  prover-ray/wiop/compilers/lookuptologderivsum/lookuptologderivsum_test.go
  prover-ray/wiop/compilers/lookuptologderivsum/prover_tasks.go
Due: none

Update query_local_constraint.go
  prover-ray/wiop/query_local_constraint.go
Due: none

Update query_local_constraint.go (#3081)
  prover-ray/wiop/query_local_constraint.go
Due: none

Update query_local_constraint_test.go
  prover-ray/wiop/query_local_constraint_test.go
Due: none

Update query_local_constraint_test.go (#3082)
  prover-ray/wiop/query_local_constraint_test.go
Due: none

chore(misc): Add maru to allowed scopes (#3078)
  .husky/commit-msg
Due: none

message capital
  tracer/reference-tests/build.gradle
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
