Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

feat: detect if accounts have code via bytecode .size() rather than .hash() (#2463)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/AccountSnapshot.java
Due: none

debuggin io keccakf initial circuit test passes
  prover/zkevm/prover/hash/keccak/io_keccakf-kb/io_keccakf.go
  prover/zkevm/prover/hash/keccak/io_keccakf-kb/io_keccakf_test.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/base_conversion/to_basex.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/base_conversion/to_basex_test.go
Due: none

feat: update arithmetization in libs.versions.toml
  gradle/libs.versions.toml
Due: none

feat: separate wrapped implem of poseidon2
  prover/crypto/poseidon2/docs.go
  prover/crypto/poseidon2/poseidon2.go
  prover/crypto/poseidon2/poseidon2_test.go
  prover/crypto/poseidon2_wrapped/poseidon2_circuit.go
  prover/crypto/poseidon2_wrapped/poseidon2_test.go
  prover/crypto/state-management/smt_koalabear/gnark.go
  prover/crypto/state-management/smt_koalabear/proof.go
  prover/crypto/state-management/smt_koalabear/tree.go
  prover/crypto/state-management/smt_koalabear/update.go
Due: none

Fix MaruCluster config after merge regression (#459)
  maru/jvm-libs/test-utils/src/main/kotlin/maru/test/cluster/MaruConfigHelper.kt
  maru/jvm-libs/test-utils/src/main/kotlin/maru/test/cluster/TestMaruAppFactory.kt
Due: none

feat: added regular poseidon2 circuit
  prover/crypto/poseidon2/doc.go
  prover/crypto/poseidon2/poseidon2_circuit.go
  prover/crypto/poseidon2_wrapped/doc.go
Due: none

feat: update linea-besu-pkg versions for tracer, sequencer
  linea-besu-package/versions.env
Due: none

Besu version bump (#461)
  maru/docker/compose.yaml
  maru/gradle/versions.gradle
Due: none

maru-cluster-support no EL node (#462)
  maru/jvm-libs/test-utils/src/main/kotlin/maru/test/cluster/MaruCluster.kt
  maru/jvm-libs/test-utils/src/main/kotlin/maru/test/cluster/NodeBuilder.kt
  maru/jvm-libs/test-utils/src/test/kotlin/maru/test/MaruClusterTest.kt
Due: none

refactor: add a dummy implementation
  prover/crypto/state-management/accumulator/operation_test.go
  prover/crypto/state-management/accumulator/testvectors_poseidon2_test.go
Due: none

Add testvectors for accumulator (#1700)
  prover/crypto/state-management/accumulator/operation_test.go
  prover/crypto/state-management/accumulator/testvectors_poseidon2_test.go
  prover/crypto/state-management/smt/proof.go
Due: none

add extras checks to LidoStVaultYieldProvider.fundYieldProvider
  contracts/contracts/yield/LidoStVaultYieldProvider.sol
  contracts/contracts/yield/interfaces/IYieldProvider.sol
  contracts/test/yield/integration/YieldManager.integration.ts
  contracts/test/yield/unit/LidoStVaultYieldProvider.basic.ts
  pnpm-lock.yaml
Due: hardhat

Review comments
  besu-plugins/finalized-tag-updater/src/main/kotlin/net/consensys/linea/FinalizationUpdatePoller.kt
  besu-plugins/finalized-tag-updater/src/main/kotlin/net/consensys/linea/LineaL1FinalizationUpdaterService.kt
  besu-plugins/state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateRecoveryApp.kt
  besu-plugins/state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateSynchronizerService.kt
  besu-plugins/state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/datafetching/BlobDecompressionTask.kt
  besu-plugins/state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/datafetching/BlobsFetchingTask.kt
  besu-plugins/state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/datafetching/SubmissionEventsFetchingTask.kt
  besu-plugins/state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/datafetching/SubmissionsFetchingTask.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/DisabledLongRunningService.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L2NetworkGasPricingService.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/MessageAnchoringAppConfigurator.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitor.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByDeadline.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationCalculatorByTimeDeadline.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/AggregationFinalizationCoordinator.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/BlobSubmissionCoordinator.kt
  coordinator/ethereum/finalization-monitor/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImpl.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/FeeHistoryCachingService.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/ExtraDataV1PricerService.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/MinMineableFeesPricerService.kt
  coordinator/ethereum/message-anchoring/src/main/kotlin/linea/anchoring/MessageAnchoringApp.kt
  coordinator/ethereum/message-anchoring/src/main/kotlin/linea/anchoring/MessageAnchoringService.kt
  coordinator/ethereum/message-anchoring/src/main/kotlin/linea/anchoring/clients/L1MessageSentEventsPoller.kt
  jvm-libs/linea/core/long-running-service/src/main/kotlin/linea/GenericPeriodicPollingService.kt
  jvm-libs/linea/core/long-running-service/src/main/kotlin/linea/LongRunningService.kt
  jvm-libs/linea/core/long-running-service/src/main/kotlin/linea/PeriodicPollingService.kt
  jvm-libs/linea/core/long-running-service/src/main/kotlin/linea/timer/JvmTimer.kt
  jvm-libs/linea/core/long-running-service/src/main/kotlin/linea/timer/Timer.kt
  jvm-libs/linea/core/long-running-service/src/main/kotlin/linea/timer/VertxTimer.kt
  jvm-libs/linea/core/long-running-service/src/main/kotlin/net/consensys/zkevm/VertxTimer.kt
  jvm-libs/linea/core/long-running-service/src/test/kotlin/linea/GenericPeriodicPollingServiceTest.kt
  jvm-libs/linea/core/long-running-service/src/test/kotlin/linea/timer/TimerTest.kt
  transaction-decoder-tool/src/test/kotlin/linea/test/BlockEncodingValidator.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/RejectedTransactionCleanupService.kt
Due: kotlin

Fix build
  jvm-libs/linea/core/long-running-service/src/main/kotlin/linea/timer/VertxTimer.kt
  jvm-libs/linea/core/long-running-service/src/test/kotlin/linea/timer/TimerTest.kt
Due: kotlin

revised userFunds semantics for fundYieldProvider, withdraw from StakingVault flows and withdrawLST
  contracts/contracts/_testing/mocks/yield/MockYieldProvider.sol
  contracts/contracts/_testing/unit/yield/TestYieldManager.sol
  contracts/contracts/yield/LidoStVaultYieldProvider.sol
  contracts/contracts/yield/YieldManager.sol
  contracts/contracts/yield/YieldManagerStorageLayout.sol
  contracts/contracts/yield/interfaces/IYieldManager.sol
  contracts/contracts/yield/interfaces/IYieldProvider.sol
Due: hardhat

adjust _payMaximumPossibleLSTLiability for Lido Vaulthub forceRebalance() impl
  contracts/contracts/yield/LidoStVaultYieldProvider.sol
Due: hardhat

amend LidoStVaultYieldProvider::reportYield for revised userFunds semantics
  contracts/contracts/_testing/mocks/yield/MockDashboard.sol
  contracts/contracts/_testing/unit/yield/TestLidoStVaultYieldProvider.sol
  contracts/contracts/_testing/unit/yield/TestYieldManager.sol
  contracts/contracts/yield/LidoStVaultYieldProvider.sol
  contracts/contracts/yield/interfaces/vendor/lido/IDashboard.sol
Due: hardhat

fix: tidy up after replay tests PR (#2471)
  tracer/arithmetization/src/test/java/net/consensys/linea/pragueReplayTests/BlockHashTests.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/blockhash/BlockhashTest.java
  tracer/reference-tests/build.gradle
Due: none

use transient storage on Linea (#1699)
  contracts/src/_testing/unit/messaging/TestL2MessageService.sol
  contracts/src/bridging/token/TokenBridgeBase.sol
  contracts/src/messaging/l2/L2MessageServiceBase.sol
  contracts/src/messaging/l2/v1/L2MessageServiceV1.sol
  contracts/test/hardhat/bridging/token/TokenBridge.ts
  contracts/test/hardhat/messaging/MessageServiceBase.ts
  contracts/test/hardhat/messaging/l2/L2MessageService.ts
Due: hardhat

feat: poseidon2 native koalabear ok
  prover/crypto/poseidon2/poseidon2_circuit.go
  prover/crypto/poseidon2_wrapped/poseidon2_circuit.go
Due: none

feat: add test
  prover/crypto/poseidon2/poseidon2_test.go
Due: none

feat(theta): cols are explicitly declared and assigned
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/theta.go
Due: none

did tests for contracts/test/yield/unit/YieldManager.funds.ts
  contracts/contracts/_testing/mocks/yield/MockYieldProvider.sol
  contracts/contracts/yield/LidoStVaultYieldProvider.sol
  contracts/contracts/yield/YieldManager.sol
  contracts/contracts/yield/interfaces/IYieldManager.sol
  contracts/contracts/yield/interfaces/IYieldProvider.sol
  contracts/test/yield/unit/YieldManager.funds.ts
Due: hardhat

did tests for contracts/test/yield/unit/LidoStVaultYieldProvider.basic.ts
  contracts/test/yield/helpers/setup.ts
  contracts/test/yield/unit/LidoStVaultYieldProvider.basic.ts
Due: hardhat

fix(theta): constraints are added
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/theta.go
Due: none

fix condition on LidoStVaultYieldProvider.sol
  contracts/contracts/yield/LidoStVaultYieldProvider.sol
Due: hardhat

fix: cleanup added, test passing
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/theta.go
Due: none

did tests for contracts/test/yield/unit/LidoStVaultYieldProvider.yield.ts
  contracts/contracts/_testing/unit/yield/TestLidoStVaultYieldProvider.sol
  contracts/contracts/_testing/unit/yield/TestYieldManager.sol
  contracts/contracts/yield/LidoStVaultYieldProvider.sol
  contracts/test/yield/unit/LidoStVaultYieldProvider.yield.ts
Due: hardhat

missing test fix
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
Due: hardhat

io-keccakf is passing with all constraints.
  prover/maths/common/vector/vector_wizard.go
  prover/zkevm/prover/hash/keccak/io_keccakf-kb/io_keccakf.go
  prover/zkevm/prover/hash/keccak/io_keccakf-kb/io_keccakf_test.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/base_conversion/to_basex.go
Due: none

did YieldManager.integration.ts
  contracts/test/yield/helpers/setup.ts
  contracts/test/yield/integration/YieldManager.integration.ts
Due: hardhat

cleaning
  prover/zkevm/prover/hash/keccak/io_keccakf-kb/io.go
  prover/zkevm/prover/hash/keccak/io_keccakf-kb/io_test.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/chi_iota.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/chi_iota_test.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/common/common.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/common/types.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/iokeccakf/io_keccakf.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/iokeccakf/io_keccakf_test.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/iota_to_theta.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/iota_to_theta_test.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/keccakf.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/protocols/lin_comb.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/protocols/lin_comb_test.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/rho_pi.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/rho_pi_test.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/theta.go
Due: none

fix maru clients log names (#463)
  maru/app/src/main/kotlin/maru/app/MaruAppFactory.kt
  maru/jvm-libs/test-utils/src/main/kotlin/maru/test/cluster/Configuration.kt
Due: none

fix and refactor: gnark vortex, remove compilation errors, plug in merkle proof for bls12377
  prover/crypto/vortex/commitment.go
  prover/crypto/vortex/commitment_test.go
  prover/crypto/vortex/gnark_commitment.go
  prover/crypto/vortex/gnark_test.go
  prover/crypto/vortex/gnark_utils.go
  prover/crypto/vortex/opening_prover.go
  prover/crypto/vortex/opening_verifier.go
  prover/crypto/vortex/reedsolomon.go
  prover/crypto/vortex/reedsolomon_ext.go
  prover/crypto/vortex/reedsolomon_ext_test.go
  prover/crypto/vortex/reedsolomon_test.go
  prover/protocol/compiler/vortex/prover.go
Due: none

fix and refactor: gnark vortex, remove compilation errors, plug in merkle proof for bls12377
  prover/crypto/vortex/vortex_bls12377/gnark_commitment.go
  prover/crypto/vortex/vortex_bls12377/gnark_params.go
  prover/crypto/vortex/vortex_bls12377/gnark_test.go
  prover/crypto/vortex/vortex_bls12377/gnark_utils.go
  prover/crypto/vortex/vortex_bls12377/prover.go
  prover/crypto/vortex/vortex_bls12377/verifier.go
Due: none

refactor: convert merkle leaf and root to frontend.Variable , fix some merkle computation
  prover/crypto/vortex/vortex_bls12377/gnark_commitment.go
  prover/crypto/vortex/vortex_bls12377/gnark_utils.go
Due: none

add lastReportNegativeYield to YieldProvider state
  contracts/contracts/_testing/unit/yield/TestYieldManager.sol
  contracts/contracts/yield/YieldManager.sol
  contracts/contracts/yield/YieldManagerStorageLayout.sol
  contracts/test/yield/unit/YieldManager.basic.ts
  contracts/test/yield/unit/YieldManager.funds.ts
Due: hardhat

add extra negativeYield safety buffer to withdrawLAT
  contracts/contracts/yield/YieldManager.sol
  contracts/test/yield/integration/YieldManager.integration.ts
  contracts/test/yield/unit/YieldManager.funds.ts
Due: hardhat

feat(prover): version 6.1.1 to fix the beta-v4.1 deployment
  contracts/src/verifiers/beta-v4.1/PlonkVerifierMainnet.sol
  contracts/src/verifiers/beta-v4.1/PlonkVerifierSepolia.sol
  contracts/test/hardhat/_testData/betaV4_1/proof/20106872-20107472-da29c954a5734a97a851964dc88ec7034f5f3ebd569d3f88b43acc00c9263124-getZkAggregatedProof.json
  prover/config/config-mainnet-limitless.toml
  prover/config/config-sepolia-limitless.toml
  prover/protocol/compiler/stitchsplit/stitcher_constraints.go
Due: hardhat

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
