Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

coordinator: rename anchoring and contracts modules (#975)
  besu-plugins/finalized-tag-updater/build.gradle
  besu-plugins/state-recovery/besu-plugin/build.gradle
  coordinator/app/build.gradle
  coordinator/clients/smart-contract-client/build.gradle
  coordinator/ethereum/message-anchoring/build.gradle
  coordinator/ethereum/message-anchoring/src/main/kotlin/linea/anchoring/MessageAnchoringApp.kt
  coordinator/ethereum/message-anchoring/src/main/kotlin/linea/anchoring/MessageAnchoringService.kt
  coordinator/ethereum/message-anchoring/src/main/kotlin/linea/anchoring/MessageNumberAndRollingHash.kt
  coordinator/ethereum/message-anchoring/src/main/kotlin/linea/anchoring/clients/L1MessageSentEventsFetcher.kt
  coordinator/ethereum/message-anchoring/src/main/kotlin/linea/anchoring/clients/L1MessageSentEventsPoller.kt
  coordinator/ethereum/message-anchoring/src/test/kotlin/linea/anchoring/MessageAnchoringAppTest.kt
  jvm-libs/linea/clients/linea-contract-clients/build.gradle
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/Web3JContractAsyncHelper.kt
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l2/SmartContractFunctionCallBuilders.kt
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l2/Web3JL2MessageServiceSmartContractClient.kt
  settings.gradle
  state-recovery/besu-plugin/build.gradle
Due: kotlin

chore: update nav to sync with linea.build (#987)
  bridge-ui/src/components/header/data.js
  bridge-ui/src/components/header/mobile-navigation/mobile-navigation.module.scss
Due: none

Set besuVersion=25.5.0-linea1 and arithmetizationVersion=beta-v2.1-rc16.1 (#192)
  besu-plugins/linea-sequencer/gradle.properties
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/methods/LineaEstimateGas.java
Due: none

feat: restructure and integrate layerswap (#953)
  .github/workflows/bridge-ui-e2e-tests.yml
  .github/workflows/bridge-ui-publish.yml
  bridge-ui/.env.production
  bridge-ui/.env.template
  bridge-ui/Dockerfile
  bridge-ui/RELEASE-NOTES.md
  bridge-ui/package.json
  bridge-ui/src/app/bridge-aggregator/page.module.scss
  bridge-ui/src/app/bridge-aggregator/page.tsx
  bridge-ui/src/app/centralized-exchange/page.module.scss
  bridge-ui/src/app/centralized-exchange/page.tsx
  bridge-ui/src/app/faq/page.tsx
  bridge-ui/src/app/layerswap/page.tsx
  bridge-ui/src/app/page.module.scss
  bridge-ui/src/app/page.tsx
  bridge-ui/src/assets/icons/bridge-aggregator.svg
  bridge-ui/src/assets/icons/buy.svg
  bridge-ui/src/assets/icons/centralized-exchange.svg
  bridge-ui/src/assets/icons/native-bridge.svg
  bridge-ui/src/components/bridge/faq-help/faq-help.module.scss
  bridge-ui/src/components/bridge/faq-help/index.tsx
  bridge-ui/src/components/bridge/form/index.tsx
  bridge-ui/src/components/internal-nav/index.tsx
  bridge-ui/src/components/internal-nav/internal-nav.module.scss
  bridge-ui/src/components/internal-nav/item/index.tsx
  bridge-ui/src/components/internal-nav/item/item.module.scss
  bridge-ui/src/components/layerswap/index.tsx
  bridge-ui/src/components/layerswap/layerswap.module.scss
  bridge-ui/src/components/layerswap/widget/index.tsx
  bridge-ui/src/components/layouts/Layout.tsx
  bridge-ui/src/components/modal/first-time-visit/index.tsx
  bridge-ui/src/components/modal/index.tsx
  bridge-ui/src/config/config.schema.ts
  bridge-ui/src/config/config.ts
  bridge-ui/src/contexts/web3.context.tsx
  pnpm-lock.yaml
Due: none

localstack: update prover and coordinator
  docker/compose-spec-l2-services.yml
Due: none

localstack: update prover and coordinator (#993)
  docker/compose-spec-l2-services.yml
Due: none

coordinator: revert compressor lib update
  jvm-libs/linea/blob-compressor/build.gradle
Due: kotlin

coordinator: update compressor dependencies to released in maven
  besu-plugins/state-recovery/appcore/logic/build.gradle
  coordinator/core/build.gradle
  gradle/libs.versions.toml
  jvm-libs/linea/blob-compressor/build.gradle
  jvm-libs/linea/blob-decompressor/build.gradle
  jvm-libs/linea/blob-shnarf-calculator/build.gradle
Due: kotlin

update compressor libraries with new dictionary
  jvm-libs/linea/blob-compressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/main/resources/compressor_dict.bin
  jvm-libs/linea/blob-compressor/src/main/resources/dict/25-04-21.bin
  jvm-libs/linea/blob-decompressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressor.kt
  jvm-libs/linea/blob-decompressor/src/main/resources/dict/25-04-21.bin
Due: kotlin

coordinator: add new dictionary to blob compressor and decompressor
  besu-plugins/state-recovery/appcore/logic/build.gradle
  besu-plugins/state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateRecoveryApp.kt
  besu-plugins/state-recovery/appcore/logic/src/test/kotlin/linea/staterecovery/BlobDecompressorAndDeserializerV1Test.kt
  besu-plugins/state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/datafetching/SubmissionsFetchingTaskIntTest.kt
  coordinator/core/build.gradle
  jvm-libs/linea/blob-compressor/build.gradle
  jvm-libs/linea/blob-compressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/main/resources/compressor-dictionaries/v2025-04-21.bin
  jvm-libs/linea/blob-decompressor/build.gradle
  jvm-libs/linea/blob-decompressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressor.kt
  jvm-libs/linea/blob-decompressor/src/main/resources/compressor-dictionaries/compressor_dict.bin
  jvm-libs/linea/blob-decompressor/src/main/resources/compressor-dictionaries/v2025-04-21.bin
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/BlobDecompressorDataDecodingTest.kt
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressorTest.kt
  transaction-decoder-tool/src/test/kotlin/linea/test/BlockEncodingValidator.kt
Due: kotlin

coordinator: compressor change dependencies from implementation to compileOnly
  jvm-libs/linea/blob-compressor/build.gradle
Due: kotlin

update local stack images
  e2e/src/config/tests-config/environments/local.ts
Due: none

update blob compressor library version
  gradle/libs.versions.toml
Due: none

localstack: revert L2 node endpoit
  e2e/src/config/tests-config/environments/local.ts
Due: none

localstack: update postman image
  docker/compose-spec-l2-services.yml
Due: none

besu-package: update state recovery
  linea-besu-package/versions.env
Due: none

fix(Karma): prevent overflow errors when issuing rewards
  .gas-report
  .gas-snapshot
  src/Karma.sol
  test/Karma.t.sol
Due: none

fix: update bridge ui e2e tests
  bridge-ui/package.json
  bridge-ui/src/components/internal-nav/item/index.tsx
  bridge-ui/src/components/layerswap/index.tsx
  bridge-ui/src/components/layerswap/layerswap.module.scss
  bridge-ui/test/advancedFixtures.ts
  bridge-ui/test/e2e/bridge-l1-l2.spec.ts
  pnpm-lock.yaml
Due: none

fix: update bridge ui e2e tests (#994)
  bridge-ui/package.json
  bridge-ui/src/components/internal-nav/item/index.tsx
  bridge-ui/src/components/layerswap/index.tsx
  bridge-ui/src/components/layerswap/layerswap.module.scss
  bridge-ui/test/advancedFixtures.ts
  bridge-ui/test/e2e/bridge-l1-l2.spec.ts
  pnpm-lock.yaml
Due: none

refactor(StakeManager): move `lockUntil` into `StakeVault`
  .gas-report
  .gas-snapshot
  certora/confs/MPLessEqualMaxMP.conf
  certora/confs/StakeManager.conf
  certora/harness/StakeManagerHarness.sol
  certora/specs/StakeManager.spec
  certora/specs/shared.spec
  src/StakeManager.sol
  src/StakeVault.sol
  src/interfaces/IStakeManager.sol
  src/interfaces/IStakeVault.sol
  src/math/StakeMath.sol
  test/RewardsStreamerMP.t.sol
Due: none

staterecovery: add missing dependencies to uberjar
  besu-plugins/state-recovery/besu-plugin/build.gradle
Due: none

staterecovery: update version in linea-besu-package
  linea-besu-package/versions.env
Due: none

bumping Hardhat and Solidity to latest
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/src/_testing/integration/IntegrationTestTrueVerifier.sol
  contracts/src/_testing/mocks/base/RevertingVerifier.sol
  contracts/src/_testing/mocks/base/TestClaimingCaller.sol
  contracts/src/_testing/mocks/base/TestL1RevertContract.sol
  contracts/src/_testing/mocks/bridging/MockMessageServiceV2.sol
  contracts/src/_testing/unit/TestExternalCalls.sol
  contracts/src/_testing/unit/libraries/TestEfficientLeftRightKeccak.sol
  contracts/src/_testing/unit/messaging/TestL1MessageManager.sol
  contracts/src/_testing/unit/messaging/TestL1MessageService.sol
  contracts/src/_testing/unit/messaging/TestL1MessageServiceMerkleProof.sol
  contracts/src/_testing/unit/messaging/TestMessageServiceBase.sol
  contracts/src/_testing/unit/messaging/TestSparseMerkleTreeVerifier.sol
  contracts/src/_testing/unit/rollup/TestLineaRollup.sol
  contracts/src/_testing/unit/verifiers/TestPlonkVerifierForDataAggregation.sol
  contracts/src/proxies/CallForwardingProxy.sol
  contracts/src/recovery/RecoverFunds.sol
  contracts/src/rollup/LineaRollup.sol
  contracts/src/verifiers/PlonkVerifierDev.sol
  contracts/src/verifiers/PlonkVerifierForDataAggregation.sol
  contracts/src/verifiers/PlonkVerifierForMultiTypeDataAggregation.sol
  contracts/src/verifiers/PlonkVerifierMainnetFull.sol
  contracts/src/verifiers/PlonkVerifierSepoliaFull.sol
  contracts/test/foundry/ExampleFoundryTest.t.sol
  contracts/test/foundry/LineaRollup.t.sol
  pnpm-lock.yaml
Due: hardhat

bump coverage plugin
  contracts/package.json
  pnpm-lock.yaml
Due: hardhat

add coverage var to command execute
  contracts/package.json
Due: hardhat

revert test
  contracts/package.json
Due: hardhat

minor(horner): alias the import of symbolic expression to sym
  prover/protocol/compiler/horner/projection_to_horner.go
Due: none

feat(horner): make the changes to the horner compiler
  prover/protocol/compiler/horner/horner.go
Due: none

update build script to use 0.8.28
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/autoupdate.sh
Due: none

commit progress
  prover/protocol/dedicated/plonk/alignment.go
  prover/protocol/dedicated/plonk/alignment_test.go
  prover/protocol/serialization/compiled_iop.go
  prover/protocol/serialization/func_registry.go
  prover/protocol/serialization/implementation_registry.go
  prover/protocol/serialization/serialization.go
  prover/zkevm/prover/ecarith/ecadd.go
  prover/zkevm/prover/ecarith/ecmul.go
  prover/zkevm/prover/ecdsa/antichamber.go
  prover/zkevm/prover/ecpair/ecpair.go
  prover/zkevm/zkevm_test.go
Due: none

serde for verifier action
  prover/protocol/serialization/compiled_iop.go
  prover/zkevm/zkevm_test.go
Due: none

serde subProverAction successful
  prover/protocol/dedicated/bigrange/bigrange.go
  prover/protocol/dedicated/byte32cmp/byte32cmp.go
  prover/protocol/serialization/implementation_registry.go
  prover/protocol/serialization/serialization.go
  prover/zkevm/prover/hash/packing/dedicated/pip_query.go
Due: none

update zkevm_test
  prover/zkevm/zkevm_test.go
Due: none

serde ZKEVM success
  prover/protocol/dedicated/plonk/alignment.go
  prover/protocol/serialization/implementation_registry.go
  prover/protocol/serialization/serialization.go
  prover/protocol/wizard/actions.go
  prover/protocol/wizard/prover.go
  prover/zkevm/zkevm_test.go
Due: none

serde for pcsCtx
  prover/protocol/serialization/compiled_iop.go
  prover/protocol/serialization/serialization.go
  prover/zkevm/zkevm_test.go
Due: none

serde support FSSetup
  prover/protocol/serialization/compiled_iop.go
  prover/zkevm/zkevm_test.go
Due: none

serde compiledIOP successful
  prover/protocol/dedicated/manual_shift.go
  prover/protocol/serialization/implementation_registry.go
  prover/protocol/serialization/serialization.go
  prover/zkevm/prover/hash/sha2/circuit.go
  prover/zkevm/prover/modexp/circuit.go
Due: none

serde compiledIOP test pass
  prover/protocol/serialization/compiled_iop.go
  prover/zkevm/zkevm_test.go
Due: none

refine zkevm test
  prover/zkevm/zkevm_test.go
Due: none

commit progress
  prover/protocol/serialization/implementation_registry.go
  prover/protocol/serialization/serialization.go
  prover/zkevm/zkevm_test.go
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
