Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

Update Linea Besu to 25.2-delivery49 (#1803)
  tracer/gradle.properties
Due: none

chores(contracts): update the testdata proof
  contracts/test/hardhat/_testData/betaV1/proof/7027059-7042723-d2221f5035e3dcbbc46e8a6130fef34fdec33c252b7d31fb8afa6848660260ba-getZkAggregatedProof.json
Due: hardhat

fixup(testdata): readd the wrongly deleted fields
  contracts/test/hardhat/_testData/betaV1/proof/7027059-7042723-d2221f5035e3dcbbc46e8a6130fef34fdec33c252b7d31fb8afa6848660260ba-getZkAggregatedProof.json
Due: hardhat

conglomeration individual pass
  prover/cmd/controller/controller/fs_watcher_limitless_test.go
Due: none

limitless file system watcher all tests pass
  prover/cmd/controller/controller/fs_watcher_limitless_test.go
Due: none

wrapping existing field elements into field extensions, wip
  prover/maths/field/fext/element.go
  prover/protocol/coin/variable.go
  prover/symbolic/constant.go
  prover/symbolic/evaluation_board.go
  prover/symbolic/expression.go
  prover/symbolic/expression_board.go
  prover/symbolic/lincomb.go
  prover/symbolic/pattern.go
  prover/symbolic/polyeval.go
  prover/symbolic/product.go
  prover/symbolic/simplification.go
  prover/symbolic/simplify/factor.go
  prover/symbolic/simplify/factor_test.go
  prover/symbolic/variable.go
Due: none

feat(plonk-in-wizard): creates the plonk in wizard query
  prover/protocol/query/plonk_in_wizard.go
Due: none

staterecovery: l1 data fetching refactor and tests
  jvm-libs/linea/core/domain-models/src/main/kotlin/build/linea/domain/BlockInterval.kt
  jvm-libs/linea/testing/l1-blob-and-proof-submission/src/main/kotlin/net/consensys/linea/testing/submission/ProverResponsesFileLoader.kt
  jvm-libs/linea/testing/l1-blob-and-proof-submission/src/main/kotlin/net/consensys/linea/testing/submission/SubmissionTestHelper.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/datafetching/BlobDecompressionTask.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/datafetching/BlobsFetchingTask.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/datafetching/SubmissionEventsFetchingTask.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/datafetching/SubmissionsFetchingTask.kt
  state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/datafetching/SubmissionsFetchingTaskIntTest.kt
Due: kotlin

staterecovery: l1 data fetching refactor and tests
  state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/datafetching/SubmissionsFetchingTaskIntTest.kt
Due: none

staterecovery: fix test
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/LookBackBlockHashesFetcher.kt
Due: none

staterecovery: WIP to fix blockhash opcode with looback hashes
  state-recovery/appcore/clients-interfaces/src/main/kotlin/linea/staterecovery/ExecutionLayerClient.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateRecoveryApp.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateSynchronizerService.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/datafetching/BlobDecompressionTask.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/datafetching/SubmissionsFetchingTask.kt
  state-recovery/appcore/logic/src/test/kotlin/linea/staterecovery/StartingBlockCalculatorTest.kt
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/clients/ExecutionLayerInProcessClient.kt
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/BlockImporter.kt
  state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/StateRecoveryAppWithFakeExecutionClientIntTest.kt
  state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/datafetching/SubmissionsFetchingTaskIntTest.kt
  state-recovery/test-cases/src/main/kotlin/linea/staterecovery/test/FakeExecutionLayerClient.kt
Due: none

cumNumOnes added
  prover/protocol/compiler/distributedprojection/compiler.go
  prover/protocol/compiler/distributedprojection/prover.go
  prover/protocol/compiler/distributedprojection/verifier.go
  prover/protocol/distributed/compiler/projection/projection.go
  prover/protocol/distributed/compiler/projection/projection_test.go
  prover/protocol/query/distributed_projection.go
Due: none

bug fix wip
  prover/protocol/distributed/compiler/projection/projection_test.go
Due: none

Support stateful block tx selectors (#140)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/log4j2-test.xml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/logback.xml
  besu-plugins/linea-sequencer/gradle.properties
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/modulelimit/ModuleLimitsValidationResult.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/modulelimit/ModuleLineCountValidator.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/LineaTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/MaxBlockCallDataTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/MaxBlockGasTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/TraceLineLimitTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/modulelimit/ModuleLineCountValidatorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/MaxBlockCallDataSizeTransactionSelectorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/MaxBlockGasTransactionSelectorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/TestTransactionEvaluationContext.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/TraceLineLimitTransactionSelectorTest.java
Due: none

feat: remove romlex unused columns (#1791)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/romlex/RomLex.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/romlex/RomOperation.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/romlex/NoCFIDuplicatesTests.java
Due: none

staterecovery: tests validate addres on contract deployment
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/MakefileContractDeploymentHelper.kt
Due: kotlin

[20] Rocks db implementation of the database api (#30)
  maru/core/src/main/kotlin/maru/database/Database.kt
  maru/core/src/main/kotlin/maru/database/Updater.kt
  maru/core/src/testFixtures/kotlin/maru/core/ext/DataGenerators.kt
  maru/gradle/versions.gradle
  maru/jvm-libs/build.gradle
  maru/jvm-libs/extensions/build.gradle
  maru/jvm-libs/extensions/src/main/kotlin/ByteArrayExtensions.kt
  maru/serialization/build.gradle
  maru/serialization/src/main/kotlin/maru/serialization/rlp/BeaconBlockBodySerializer.kt
  maru/serialization/src/main/kotlin/maru/serialization/rlp/BeaconBlockHeaderSerializer.kt
  maru/serialization/src/main/kotlin/maru/serialization/rlp/BeaconBlockSerializer.kt
  maru/serialization/src/main/kotlin/maru/serialization/rlp/BeaconStateSerializer.kt
  maru/serialization/src/main/kotlin/maru/serialization/rlp/ExecutionPayloadSerializer.kt
  maru/serialization/src/main/kotlin/maru/serialization/rlp/RLPSerializer.kt
  maru/serialization/src/main/kotlin/maru/serialization/rlp/RLPSerializers.kt
  maru/serialization/src/main/kotlin/maru/serialization/rlp/SealSerializer.kt
  maru/serialization/src/main/kotlin/maru/serialization/rlp/ValidatorSerializer.kt
  maru/serialization/src/test/kotlin/maru/serialization/rlp/BeaconBlockBodySerializerTest.kt
  maru/serialization/src/test/kotlin/maru/serialization/rlp/BeaconBlockHeaderSerializerTest.kt
  maru/serialization/src/test/kotlin/maru/serialization/rlp/BeaconBlockSerializerTest.kt
  maru/serialization/src/test/kotlin/maru/serialization/rlp/BeaconStateSerializerTest.kt
  maru/serialization/src/test/kotlin/maru/serialization/rlp/ExecutionPayloadSerializerTest.kt
  maru/serialization/src/test/kotlin/maru/serialization/rlp/SealSerializerTest.kt
  maru/serialization/src/test/kotlin/maru/serialization/rlp/ValidatorSerializerTest.kt
  maru/settings.gradle
  maru/storage/build.gradle
  maru/storage/src/main/kotlin/maru/database/kv/BytesSerializer.kt
  maru/storage/src/main/kotlin/maru/database/kv/KvDatabase.kt
  maru/storage/src/main/kotlin/maru/database/kv/KvDatabaseFactory.kt
  maru/storage/src/main/kotlin/maru/database/kv/KvStoreSerializerAdapter.kt
  maru/storage/src/main/kotlin/maru/database/kv/KvStoreSerializers.kt
  maru/storage/src/test/kotlin/maru/database/kv/KvDatabaseTest.kt
Due: none

chores(verifier): add the sepolia beta-v1.3 contract (fmtted) (#684)
  contracts/src/verifiers/PlonkVerifierSepoliaFull.sol
  contracts/test/hardhat/_testData/betaV1/proof/7027059-7042723-d2221f5035e3dcbbc46e8a6130fef34fdec33c252b7d31fb8afa6848660260ba-getZkAggregatedProof.json
Due: hardhat

hotfix: rm following closed issue (#1805)
  tracer/gradle/dependency-management.gradle
Due: none

fix: update postman params and event filtering
  postman/README.md
  postman/scripts/runPostman.ts
  postman/src/application/postman/app/__tests__/PostmanServiceClient.test.ts
  postman/src/application/postman/app/config/__tests__/utils.test.ts
  postman/src/application/postman/app/config/config.ts
  postman/src/application/postman/app/config/utils.ts
  postman/src/core/services/processors/IMessageSentEventProcessor.ts
  postman/src/services/processors/MessageSentEventProcessor.ts
  postman/src/services/processors/__tests__/MessageSentEventProcessor.test.ts
Due: none

staterecovery: debug receipt polling
  jvm-libs/linea/web3j-extensions/src/testFixtures/kotlin/linea/web3j/Pollers.kt
Due: kotlin

staterecovery: debug receipt polling
  jvm-libs/linea/testing/l1-blob-and-proof-submission/src/main/kotlin/net/consensys/linea/testing/submission/SubmissionTestHelper.kt
Due: kotlin

fix: MODEXP_lead_log OOB instruction tracing (#1806)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/precompiles/ModexpLeadOobCall.java
Due: none

release: bump version to beta v1.3.0-rc1 and update changelog (#1807)
  tracer/CHANGELOG.md
  tracer/gradle.properties
Due: none

staterecovery: better logging
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateSynchronizerService.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/datafetching/SubmissionEventsFetchingTask.kt
Due: none

feat: add metrics in GlobalBlobAwareConflationCalculator and move bridge logs and state root hash retrieval from execution prover client to coordinator
  .github/workflows/cache-docker-images.yml
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedExecutionProverClientV2.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactory.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/CommonTestData.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/BatchExecutionProverRequestResponse.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Conflation.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/BlockToBatchSubmissionCoordinator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationCalculatorByDataCompressed.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/proofcreation/ZkProofCreationCoordinatorImpl.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/CommonTestData.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorServiceTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/upgrade/SwitchAwareCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/proofcreation/ZkProofCreationCoordinatorImplTest.kt
Due: kotlin

fix: compare with hex string instead of ulong for bridgelog block number
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedExecutionProverClientV2.kt
Due: kotlin

feat: disabled docker cache
  .github/workflows/coordinator-testing.yml
  .github/workflows/reuse-run-e2e-tests.yml
  .github/workflows/staterecovery-testing.yml
  .github/workflows/testing.yml
Due: none

feat: testing for docker cache pipeline
  .github/workflows/cache-docker-images.yml
  .github/workflows/coordinator-testing.yml
  .github/workflows/reuse-run-e2e-tests.yml
  .github/workflows/staterecovery-testing.yml
  .github/workflows/testing.yml
  docker/compose-spec-extra-observability.yml
Due: none

feat: move encoder back to file-based prover client
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedExecutionProverClientV2.kt
  coordinator/core/build.gradle
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/BatchExecutionProverRequestResponse.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/proofcreation/ZkProofCreationCoordinatorImpl.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/proofcreation/ZkProofCreationCoordinatorImplTest.kt
Due: kotlin

fix: unit test
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/proofcreation/ZkProofCreationCoordinatorImplTest.kt
Due: kotlin

feat: add test case for ExecutionProofRequestDtoMapper
  coordinator/clients/prover-client/file-based-client/build.gradle
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ExecutionProofRequestDtoMapperTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/proofcreation/ZkProofCreationCoordinatorImplTest.kt
  coordinator/core/src/testFixtures/kotlin/net/consensys/zkevm/domain/CommonTestData.kt
Due: kotlin

feat: revise metric names and add testing for the added metrics
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculator.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorServiceTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculatorTest.kt
Due: kotlin

feat: revise ExecutionProofRequestDtoMapper test case
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ExecutionProofRequestDtoMapperTest.kt
  coordinator/core/src/testFixtures/kotlin/net/consensys/zkevm/domain/CommonTestData.kt
Due: kotlin

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
