Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

Update e2e/src/config/tests-config/accounts/account-manager.ts
  e2e/src/config/tests-config/accounts/account-manager.ts
Due: none

Prover: prerelease fixes (#503)
  prover/cmd/prover/cmd/setup.go
  prover/cmd/prover/main.go
  prover/go.mod
  prover/go.sum
  prover/protocol/compiler/dummy/dummy_prover_level.go
  prover/zkevm/prover/publicInput/public_input.go
  prover/zkevm/zkevm.go
Due: none

feat: reactivate the ecadd module
  prover/zkevm/zkevm.go
Due: none

feat: add the new contract (in prover folder)
  prover/PlonkVerifierSepoliaFull.sol
Due: none

chores: move the plonk verifier in the contract folder
  contracts/contracts/verifiers/PlonkVerifierSepoliaFull.sol
Due: hardhat

fix: set inputresult only once
  prover/zkevm/prover/ecpair/ecpair_assignment.go
Due: none

jvm: fix resource loading on compressor/decompressor
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/build/linea/jvm/ResourcesUtil.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/build/linea/jvm/ResourcesUtilTest.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobCompressor.kt
  jvm-libs/linea/blob-decompressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressor.kt
Due: kotlin

Prover: new beta-v1 contract (#504)
  contracts/contracts/verifiers/PlonkVerifierSepoliaFull.sol
  prover/zkevm/zkevm.go
Due: hardhat

jvm: fix resource loading on compressor/decompressor (#505)
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/build/linea/jvm/ResourcesUtil.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/build/linea/jvm/ResourcesUtilTest.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobCompressor.kt
  jvm-libs/linea/blob-decompressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressor.kt
Due: kotlin

removed commented out code + automatic trigger for finalized-tag-updated-github-release
  .github/workflows/finalized-tag-updater-github-release.yml
  .github/workflows/main.yml
Due: none

add betaV1 sepolia proof verification test
  contracts/contracts/test-contracts/TestLineaRollup.sol
  contracts/test/LineaRollup.ts
  contracts/test/common/helpers/dataGeneration.ts
  contracts/test/testData/betaV1/7027059-7027404-bcv0.0-ccv0.0-f35234dd6ca6f59ef4ce2f12629b46889ce5d7d315a6f6e8b280c720328a7a5f-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7027405-7027679-bcv0.0-ccv0.0-117d8a20a28a432735db922bcdb46ceffcb879a1858f54cf0d6c1d7214f06b7a-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7027680-7028156-bcv0.0-ccv0.0-3b6ad9785d10dcf9d7a009054c91bf12e08ecdc28b9d3350a88e6f78a3d277a3-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7028157-7028656-bcv0.0-ccv0.0-fb8f197551bc5a471638f05fdc2b538f62fbfb5677e4724a5958d7c78b0490c0-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7028657-7029167-bcv0.0-ccv0.0-10ec011c96199be5cff9dc9211cafb645cb36463c4544a94c68825fd11137414-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7029168-7029694-bcv0.0-ccv0.0-ce8f71dae3a557895a9cd61d61f6b9d13c6afc382c201e2f2f087e6d395671cb-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7029695-7030131-bcv0.0-ccv0.0-a833fa555f8ceab3af11bfc2ccb6c96e3028a3148058e57e7b28c954a8aac47b-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7030132-7030601-bcv0.0-ccv0.0-faa9ec608c0829293fec06099ad4df8752f3452e0a76559530a9bb97b4a0933b-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7030602-7031170-bcv0.0-ccv0.0-e6c94fa4172eb5e243681289aff4f1ee85b430efc9228c76dc860429def3f4f3-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7031171-7031698-bcv0.0-ccv0.0-4507d3b41564a8d33c5c161f9789fcdd7f1a80120af524b9360f5ae8cd4a4bd8-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7031699-7032250-bcv0.0-ccv0.0-97920f348ce63054c8e1f8e13032c25413887b3955c4996322e214536f90c5ab-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7032251-7032782-bcv0.0-ccv0.0-4e76d551e1c4a036aba4c2e12d73bcac413c69fcba7447fd85d8da30545f4b1e-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7032783-7033310-bcv0.0-ccv0.0-91a7de3637e6a17379a01b5288cccafa6056f46e77a7e6ad3b8398e2d36944d4-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7033311-7033901-bcv0.0-ccv0.0-8821db3c1317f9f4eda63eb05250460a4dd596f027bc99bea578523d309801e0-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7033902-7034408-bcv0.0-ccv0.0-42fff36c167a293d859f8c24df241acbb7e6df120b543d78306bf59b2795408b-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7034409-7034992-bcv0.0-ccv0.0-d7f4f287dc31f3d5de856e1cfb29defd21d018cbd554660ec6de18f05e8c1624-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7034993-7035542-bcv0.0-ccv0.0-7c70da82273905425810a217c1cc2b42aae0e57892b3ef4b1572ce6b5d92d2d7-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7035543-7036246-bcv0.0-ccv0.0-b46e7b3d9851c708cfbbe49042e5dd445954bea50b49d85f64fd23f2eeb674ba-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7036247-7036667-bcv0.0-ccv0.0-58d0398616dd0791b95d08da761e17f6e31c7b0c0713b8c57b26c344df3df752-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7036668-7037005-bcv0.0-ccv0.0-9a8cde645ac7a147aeeb6649817daf62b1c37b8c4c3fe9b6a98c66c63d8c7e8d-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7037006-7037387-bcv0.0-ccv0.0-deb38648b5052f6e9b752e3d1a32e9469a27f1e325f82e23c4fa60c25237e75f-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7037388-7037688-bcv0.0-ccv0.0-012b30abf341a0f07a4d9570bd6c0807b2c4f026e31aedd225036f19fa0976bd-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7037689-7038050-bcv0.0-ccv0.0-575afbfd09729da3e74b033c7f95350c4aa3382eced91e0fa7bd4c4fe86ef6f1-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7038051-7038452-bcv0.0-ccv0.0-1f3cf2d5c4f28cf19a95c20dcbf0e2f5555f987b7888a97bffbe7971d548c2c8-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7038453-7038794-bcv0.0-ccv0.0-d0569772a2576404182a1b572d214e355fd5c8f53849bf4320b3d78fa0d7c79a-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7038795-7039119-bcv0.0-ccv0.0-a2e40246a4fca6f33900d6ee8418005621517a8e646f45c0b6ae1a6759c939f0-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7039120-7039526-bcv0.0-ccv0.0-e6d7fcc56d5915581b5fe62f0cf46e978db7c2771dc02a9f45d0fdbcea57068c-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7039527-7039846-bcv0.0-ccv0.0-7ef7c243058241c81322143509e14eff7f694e518a056f8de831a2aaf6b10ca2-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7039847-7040221-bcv0.0-ccv0.0-54d26ced2341a22eb232d8e7615ab4d603bd36df46364f6e095c8784c17326b6-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7040222-7040694-bcv0.0-ccv0.0-dfe80906db55131a07c76ef7b5878e846d400ff6efa0172f70cea517af8000d5-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7040695-7041007-bcv0.0-ccv0.0-335ddd518e2159ed984c2a767d8a090658dede8c330485d2b35e315ed22d2885-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7041008-7041411-bcv0.0-ccv0.0-7ef2206b083819d0da849404a4067ef68909a083db438cda83eb44621d071568-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7041412-7041712-bcv0.0-ccv0.0-d211f1fe8b249e054b1c1f85311b5369ed6074dd7444549102a5233bab50a987-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7041713-7042084-bcv0.0-ccv0.0-1525c1f407c2d7f82b5d04c127b97da07cddc39558104fcb59ed23ca02872792-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7042085-7042723-bcv0.0-ccv0.0-7a136069d307ccefc5b6717ea36f57cb2b84a46252f5187eb33b97293014817b-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/proof/7027059-7042723-d2221f5035e3dcbbc46e8a6130fef34fdec33c252b7d31fb8afa6848660260ba-getZkAggregatedProof.json
Due: hardhat

removed dead references to finalized-tag-updater in main.yml
  .github/workflows/main.yml
Due: none

move functions closer to use
  contracts/test/LineaRollup.ts
Due: hardhat

feat(bridge-ui): Simplify the wallet connection modal
  bridge-ui/package.json
  bridge-ui/src/components/ConnectButton.tsx
  bridge-ui/src/config/wagmi.ts
  bridge-ui/src/contexts/web3.context.tsx
  pnpm-lock.yaml
Due: none

chore: make function comments match function names
  prover/zkevm/prover/statemanager/mock/shomei.go
  prover/zkevm/zkevm.go
Due: none

Fix copy on metadata
  bridge-ui/src/contexts/web3.context.tsx
Due: none

fix: update account manager logs
  e2e/src/config/tests-config/accounts/account-manager.ts
Due: none

Fix: add retry mechanism in e2e account manager (#497)
  e2e/src/config/tests-config/accounts/account-manager.ts
Due: none

bench(sis): adds a benchmark for the ringsis hash
  prover/crypto/ringsis/ringsis_64_16/transerval_hash_bench_test.go
Due: none

fix lint
  prover/crypto/ringsis/ringsis_64_16/transerval_hash_bench_test.go
Due: none

bench(sis): adds a benchmark for the ringsis hash (#511)
  prover/crypto/ringsis/ringsis_64_16/transerval_hash_bench_test.go
Due: none

Extensions for FFT + fast poly WIP
  prover/maths/common/polyext/poly.go
  prover/maths/fft/bitreverseext.go
  prover/maths/fft/fastpoly/fastpoly_test.go
  prover/maths/fft/fastpolyext/fastpoly.go
  prover/maths/fft/fastpolyext/fastpoly_test.go
  prover/maths/fft/fastpolyext/gnark_poly_test.go
  prover/maths/fft/fastpolyext/interpolation.go
  prover/maths/fft/fastpolyext/interpolation_test.go
  prover/maths/fft/fftext.go
  prover/maths/fft/fftext_test.go
  prover/maths/field/fext/additional.go
Due: none

fix: revert gnark go mod change
  prover/go.mod
  prover/go.sum
Due: none

remove empty *.mdx page for storagefiller39
  contracts/docs/api/tokenBridge/lib/StorageFiller39.mdx
  contracts/hardhat.config.ts
Due: hardhat

[Fix] Remove dead code for finalized-tag-updater-github-release.yml automatic trigger (#506)
  .github/workflows/finalized-tag-updater-github-release.yml
  .github/workflows/main.yml
Due: none

[Fix] stucture typo (#502)
  contracts/contracts/interfaces/l1/ILineaRollup.sol
  contracts/contracts/test-contracts/LineaRollupV5.sol
  contracts/docs/api/interfaces/l1/ILineaRollup.mdx
Due: hardhat

remove empty *.mdx page for storagefiller39 (#512)
  contracts/docs/api/tokenBridge/lib/StorageFiller39.mdx
  contracts/hardhat.config.ts
Due: hardhat

[Chore] - Add beta v1 proof verification test (#508)
  contracts/contracts/test-contracts/TestLineaRollup.sol
  contracts/test/LineaRollup.ts
  contracts/test/common/helpers/dataGeneration.ts
  contracts/test/testData/betaV1/7027059-7027404-bcv0.0-ccv0.0-f35234dd6ca6f59ef4ce2f12629b46889ce5d7d315a6f6e8b280c720328a7a5f-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7027405-7027679-bcv0.0-ccv0.0-117d8a20a28a432735db922bcdb46ceffcb879a1858f54cf0d6c1d7214f06b7a-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7027680-7028156-bcv0.0-ccv0.0-3b6ad9785d10dcf9d7a009054c91bf12e08ecdc28b9d3350a88e6f78a3d277a3-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7028157-7028656-bcv0.0-ccv0.0-fb8f197551bc5a471638f05fdc2b538f62fbfb5677e4724a5958d7c78b0490c0-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7028657-7029167-bcv0.0-ccv0.0-10ec011c96199be5cff9dc9211cafb645cb36463c4544a94c68825fd11137414-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7029168-7029694-bcv0.0-ccv0.0-ce8f71dae3a557895a9cd61d61f6b9d13c6afc382c201e2f2f087e6d395671cb-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7029695-7030131-bcv0.0-ccv0.0-a833fa555f8ceab3af11bfc2ccb6c96e3028a3148058e57e7b28c954a8aac47b-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7030132-7030601-bcv0.0-ccv0.0-faa9ec608c0829293fec06099ad4df8752f3452e0a76559530a9bb97b4a0933b-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7030602-7031170-bcv0.0-ccv0.0-e6c94fa4172eb5e243681289aff4f1ee85b430efc9228c76dc860429def3f4f3-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7031171-7031698-bcv0.0-ccv0.0-4507d3b41564a8d33c5c161f9789fcdd7f1a80120af524b9360f5ae8cd4a4bd8-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7031699-7032250-bcv0.0-ccv0.0-97920f348ce63054c8e1f8e13032c25413887b3955c4996322e214536f90c5ab-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7032251-7032782-bcv0.0-ccv0.0-4e76d551e1c4a036aba4c2e12d73bcac413c69fcba7447fd85d8da30545f4b1e-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7032783-7033310-bcv0.0-ccv0.0-91a7de3637e6a17379a01b5288cccafa6056f46e77a7e6ad3b8398e2d36944d4-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7033311-7033901-bcv0.0-ccv0.0-8821db3c1317f9f4eda63eb05250460a4dd596f027bc99bea578523d309801e0-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7033902-7034408-bcv0.0-ccv0.0-42fff36c167a293d859f8c24df241acbb7e6df120b543d78306bf59b2795408b-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7034409-7034992-bcv0.0-ccv0.0-d7f4f287dc31f3d5de856e1cfb29defd21d018cbd554660ec6de18f05e8c1624-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7034993-7035542-bcv0.0-ccv0.0-7c70da82273905425810a217c1cc2b42aae0e57892b3ef4b1572ce6b5d92d2d7-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7035543-7036246-bcv0.0-ccv0.0-b46e7b3d9851c708cfbbe49042e5dd445954bea50b49d85f64fd23f2eeb674ba-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7036247-7036667-bcv0.0-ccv0.0-58d0398616dd0791b95d08da761e17f6e31c7b0c0713b8c57b26c344df3df752-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7036668-7037005-bcv0.0-ccv0.0-9a8cde645ac7a147aeeb6649817daf62b1c37b8c4c3fe9b6a98c66c63d8c7e8d-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7037006-7037387-bcv0.0-ccv0.0-deb38648b5052f6e9b752e3d1a32e9469a27f1e325f82e23c4fa60c25237e75f-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7037388-7037688-bcv0.0-ccv0.0-012b30abf341a0f07a4d9570bd6c0807b2c4f026e31aedd225036f19fa0976bd-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7037689-7038050-bcv0.0-ccv0.0-575afbfd09729da3e74b033c7f95350c4aa3382eced91e0fa7bd4c4fe86ef6f1-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7038051-7038452-bcv0.0-ccv0.0-1f3cf2d5c4f28cf19a95c20dcbf0e2f5555f987b7888a97bffbe7971d548c2c8-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7038453-7038794-bcv0.0-ccv0.0-d0569772a2576404182a1b572d214e355fd5c8f53849bf4320b3d78fa0d7c79a-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7038795-7039119-bcv0.0-ccv0.0-a2e40246a4fca6f33900d6ee8418005621517a8e646f45c0b6ae1a6759c939f0-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7039120-7039526-bcv0.0-ccv0.0-e6d7fcc56d5915581b5fe62f0cf46e978db7c2771dc02a9f45d0fdbcea57068c-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7039527-7039846-bcv0.0-ccv0.0-7ef7c243058241c81322143509e14eff7f694e518a056f8de831a2aaf6b10ca2-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7039847-7040221-bcv0.0-ccv0.0-54d26ced2341a22eb232d8e7615ab4d603bd36df46364f6e095c8784c17326b6-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7040222-7040694-bcv0.0-ccv0.0-dfe80906db55131a07c76ef7b5878e846d400ff6efa0172f70cea517af8000d5-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7040695-7041007-bcv0.0-ccv0.0-335ddd518e2159ed984c2a767d8a090658dede8c330485d2b35e315ed22d2885-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7041008-7041411-bcv0.0-ccv0.0-7ef2206b083819d0da849404a4067ef68909a083db438cda83eb44621d071568-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7041412-7041712-bcv0.0-ccv0.0-d211f1fe8b249e054b1c1f85311b5369ed6074dd7444549102a5233bab50a987-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7041713-7042084-bcv0.0-ccv0.0-1525c1f407c2d7f82b5d04c127b97da07cddc39558104fcb59ed23ca02872792-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/7042085-7042723-bcv0.0-ccv0.0-7a136069d307ccefc5b6717ea36f57cb2b84a46252f5187eb33b97293014817b-getZkBlobCompressionProof.json
  contracts/test/testData/betaV1/proof/7027059-7042723-d2221f5035e3dcbbc46e8a6130fef34fdec33c252b7d31fb8afa6848660260ba-getZkAggregatedProof.json
Due: hardhat

replacing external coins and passing m columns to the module
  prover/protocol/distributed/compiler/inclusion/inclusion.go
  prover/protocol/distributed/compiler/inclusion/inclusion_test.go
Due: none

Updating geth tracing sequencer
  docker/compose.yml
Due: none

Updating geth tracing sequencer (#516)
  docker/compose.yml
Due: none

add Dummy JacksonTestPlugin to handover debugging with peers
  docker/compose.yml
  docker/config/shomei/log4j.xml
  docker/config/zkbesu-shomei/log4j-staterecovery.xml
  settings.gradle
  state-recover/besu-plugin-jackson-test/build.gradle
  state-recover/besu-plugin-jackson-test/src/main/java/linea/staterecover/plugin/JacksonHelper.java
  state-recover/besu-plugin-jackson-test/src/main/java/linea/staterecover/plugin/MyDataJ.java
  state-recover/besu-plugin-jackson-test/src/main/kotlin/linea/staterecover/plugin/JacksonTestPlugin.kt
  state-recover/besu-plugin-jackson-test/src/main/kotlin/linea/staterecover/plugin/MyDataK.kt
  state-recover/besu-plugin-jackson-test/src/main/resources/META-INF/services/org.hyperledger.besu.plugin.BesuPlugin
Due: none

Add support for foundry compilation and testing (#277)
  contracts/.gitignore
  contracts/README.md
  contracts/foundry.toml
  contracts/hardhat.config.ts
  contracts/test/foundry/LineaRollup.t.sol
  pnpm-lock.yaml
Due: hardhat

hacky fix to check for forge install on pnpm run solidity:docgen (#501)
  contracts/package.json
Due: hardhat

adding size and zCatalog in the query
  prover/protocol/query/grand_product.go
  prover/protocol/query/grand_product_test.go
  prover/protocol/wizard/compiled.go
Due: none

update Cyfrin audit link
  docs/audits.md
Due: none

remove incorrect setting
  docs/audits.md
Due: none

[Chore] - Update Cyfrin audit link (#519)
  docs/audits.md
Due: none
