Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

Rename "Verifier (Sequencer) Components" to "Sequencer Components" and add "RLN Bridge" for JNI interface details on RLN proof verification
  README.md
Due: none

Add a link to the RLN prover service and its relation to Karma in the TxForwarder Transaction Pool Validator
  README.md
Due: none

Rename `Prover Component` to `Besu Plugin component`
  README.md
Due: none

Update README.md to reflect the Status Network implementations
  README.md
Due: none

Improve RLN related expressions and implementation url
  README.md
Due: none

deploy script for TestEIP7702Delegation
  contracts/scripts/testEIP7702/deploy_TestEIP7702Delegation.ts
  contracts/scripts/testEIP7702/sendType4Tx.ts
  contracts/src/_testing/mocks/base/TestEIP7702Delegation.sol
Due: hardhat

fix(StakeVault): prevent StakeVault from transferring ownership
  status-network-contracts/.gas-report
  status-network-contracts/.gas-snapshot
  status-network-contracts/src/StakeVault.sol
  status-network-contracts/test/StakeVault.test.sol
Due: none

On new fork, update forkId in Discovery Service (#345)
  maru/app/src/main/kotlin/maru/app/MaruApp.kt
  maru/app/src/main/kotlin/maru/app/MaruAppFactory.kt
  maru/consensus/src/main/kotlin/maru/consensus/ProtocolStarter.kt
  maru/consensus/src/test/kotlin/maru/consensus/ProtocolStarterTest.kt
  maru/core/src/main/kotlin/maru/subscription/SubscriptionManager.kt
  maru/p2p/src/main/kotlin/maru/p2p/NoOpP2PNetwork.kt
  maru/p2p/src/main/kotlin/maru/p2p/P2PNetwork.kt
  maru/p2p/src/main/kotlin/maru/p2p/P2PNetworkImpl.kt
  maru/p2p/src/test/kotlin/maru/p2p/P2PTest.kt
  maru/syncing/src/test/kotlin/maru/syncing/beaconchain/CLSyncServiceImplTest.kt
Due: none

Feat/isPrecompile and isAddressWarm fork dependent (#2152)
  tracer/.github/workflows/reference-blockchain-tests.yml
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/AccountSnapshot.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/LondonHub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/account/AccountFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/StpCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxPreWarmingMacroSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/call/CallSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/copy/ExtCodeCopySection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/skip/TxSkipSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/trm/TrmOperation.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/gas/projector/AccountAccess.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/gas/projector/Call.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/gas/projector/ExtCodeCopy.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/gas/projector/GasProjector.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/gas/projector/SelfDestruct.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/AddressUtils.java
Due: none

feat: revised liveness metrics and registered them on start
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/liveness/LineaLivenessService.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorPlugin.java
Due: none

Rename latestBeaconBlockHeader to beaconBlockHeader in BeaconState (#351)
  maru/api/src/main/kotlin/maru/api/ChainDataProviderImpl.kt
  maru/api/src/test/kotlin/maru/api/ApiServerTest.kt
  maru/app/src/main/kotlin/maru/app/BeaconChainInitialization.kt
  maru/app/src/main/kotlin/maru/app/MaruApp.kt
  maru/consensus/src/main/kotlin/maru/consensus/blockimport/BeaconBlockImporter.kt
  maru/consensus/src/main/kotlin/maru/consensus/qbft/ProposerSelectorImpl.kt
  maru/consensus/src/main/kotlin/maru/consensus/qbft/QbftBlockCreatorFactory.kt
  maru/consensus/src/main/kotlin/maru/consensus/qbft/QbftValidatorFactory.kt
  maru/consensus/src/main/kotlin/maru/consensus/qbft/adapters/QbftBlockchainAdapter.kt
  maru/consensus/src/main/kotlin/maru/consensus/state/StateTransition.kt
  maru/consensus/src/main/kotlin/maru/consensus/validation/BlockValidator.kt
  maru/consensus/src/test/kotlin/maru/consensus/qbft/FollowerBeaconBlockImporterTest.kt
  maru/consensus/src/test/kotlin/maru/consensus/state/StateTransitionImplTest.kt
  maru/consensus/src/test/kotlin/maru/consensus/validation/BlockValidatorTest.kt
  maru/core/src/main/kotlin/maru/consensus/ForkId.kt
  maru/core/src/main/kotlin/maru/core/BeaconState.kt
  maru/core/src/main/kotlin/maru/database/BeaconChain.kt
  maru/core/src/test/kotlin/maru/core/InMemoryBeaconChainTest.kt
  maru/core/src/testFixtures/kotlin/maru/core/ext/DataGenerators.kt
  maru/core/src/testFixtures/kotlin/maru/database/InMemoryBeaconChain.kt
  maru/p2p/src/main/kotlin/maru/p2p/P2PNetworkImpl.kt
  maru/p2p/src/main/kotlin/maru/p2p/messages/StatusMessageFactory.kt
  maru/p2p/src/test/kotlin/maru/p2p/P2PTest.kt
  maru/p2p/src/test/kotlin/maru/p2p/QbftForkIdComputerTest.kt
  maru/p2p/src/test/kotlin/maru/p2p/messages/StatusHandlerTest.kt
  maru/serialization/src/main/kotlin/maru/serialization/rlp/BeaconStateSerDe.kt
  maru/serialization/src/test/kotlin/maru/serialization/rlp/BeaconStateSerializerTest.kt
  maru/storage/src/main/kotlin/maru/database/kv/KvDatabase.kt
  maru/storage/src/test/kotlin/maru/database/kv/KvDatabaseTest.kt
  maru/syncing/src/main/kotlin/maru/syncing/ELSyncService.kt
  maru/syncing/src/main/kotlin/maru/syncing/PeerChainTracker.kt
  maru/syncing/src/main/kotlin/maru/syncing/SyncController.kt
  maru/syncing/src/main/kotlin/maru/syncing/beaconchain/CLSyncServiceImpl.kt
  maru/syncing/src/test/kotlin/maru/syncing/PeerChainTrackerTest.kt
  maru/syncing/src/test/kotlin/maru/syncing/beaconchain/CLSyncServiceImplTest.kt
Due: none

chaos: improv wait target (#349)
  maru/.github/workflows/main.yml
  maru/chaos-testing/chaos-mesh.mk
  maru/chaos-testing/experiments/workflow-linea-resilience.yaml
  maru/chaos-testing/helm.mk
  maru/chaos-testing/helm/charts/maru/templates/_helpers.tpl
  maru/chaos-testing/helm/values/besu-bootnode-0.yaml
  maru/chaos-testing/helm/values/besu-follower-1.yaml
  maru/chaos-testing/helm/values/besu-follower-2.yaml
  maru/chaos-testing/helm/values/besu-follower-3.yaml
  maru/chaos-testing/helm/values/besu-sequencer-0.yaml
  maru/chaos-testing/helm/values/maru-bootnode-0.yaml
  maru/chaos-testing/helm/values/maru-follower-1.yaml
  maru/chaos-testing/helm/values/maru-follower-2.yaml
  maru/chaos-testing/helm/values/maru-follower-3.yaml
  maru/chaos-testing/helm/values/maru-sequencer-0.yaml
Due: none

fix(StakeVault): add lockUntil validity check
  status-network-contracts/.gas-report
  status-network-contracts/.gas-snapshot
  status-network-contracts/src/StakeVault.sol
  status-network-contracts/test/mocks/MockStakeManager.sol
Due: none

feat(StakeManager): allow for setting rewards when pending period
  status-network-contracts/.gas-report
  status-network-contracts/.gas-snapshot
  status-network-contracts/src/StakeManager.sol
  status-network-contracts/test/RewardsStreamerMP.t.sol
Due: none

Added additional try-catch for the case when Trace Generator is down completely
  coordinator/clients/traces-generator-api-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV2.kt
Due: kotlin

Added a test for the fallback logic
  coordinator/clients/traces-generator-api-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV2Test.kt
Due: kotlin

Spotless
  coordinator/clients/traces-generator-api-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV2Test.kt
Due: kotlin

Mainnet-Besu edge peering fix
  linea-besu-package/versions.env
Due: none

updated linea besu image
  linea-besu-package/versions.env
Due: none

fix edge case while padding cols
  prover/protocol/distributed/module_discovery_standard.go
Due: none

feat: revised liveness metrics and registered them on start (#1352)
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/liveness/LineaLivenessService.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorPlugin.java
Due: none

feat: update linea-sequencer version for liveness
  linea-besu-package/versions.env
Due: none

feat: update linea-sequencer version for liveness (#1355)
  linea-besu-package/versions.env
Due: none

[Fix] Use Etherscan V2 API (#1319)
  contracts/.env.template
  contracts/.env.template.uat
  contracts/common/helpers/verifyContract.ts
  contracts/common/supportedNetworks.ts
  contracts/deploy/15_deploy_UpgradeableConsolidationQueuePredeploy.ts
  contracts/deploy/16_deploy_EIP4788SystemContract.ts
  contracts/deploy/17_deploy_UpgradeableBeaconChainDepositPredeploy.ts
  contracts/docs/deployment.md
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/src/predeploy/UpgradeableBeaconChainDepositPredeploy.sol
  contracts/src/predeploy/UpgradeableConsolidationQueuePredeploy.sol
  pnpm-lock.yaml
Due: hardhat

fix typo
  contracts/scripts/testEIP7702/sendType4Tx.ts
Due: hardhat

reduce num of concurrent writing go routines
  prover/backend/execution/limitless/prove.go
Due: none

rate limit the number of writing go routines for serialization
  prover/backend/execution/limitless/prove.go
Due: none

add changeProxyAdmin.ts
  contracts/scripts/operational/changeProxyAdmin.ts
Due: hardhat

add hardhat override
  contracts/hardhat_overrides.ts
Due: hardhat

staterecovery: update blobscan (#1338)
  docker/compose-spec-l2-services.yml
Due: none

Use Besu plugin Gradle plugin for Sequencer plugin
  besu-plugins/linea-sequencer/acceptance-tests/build.gradle
  besu-plugins/linea-sequencer/build.gradle
  besu-plugins/linea-sequencer/gradle/common-dependencies.gradle
  besu-plugins/linea-sequencer/gradle/dependency-management.gradle
  besu-plugins/linea-sequencer/gradle/dist.gradle
  besu-plugins/linea-sequencer/gradle/java.gradle
  besu-plugins/linea-sequencer/sequencer/build.gradle
  gradle/libs.versions.toml
  settings.gradle
Due: none

exit on block keccak limit overflow instead of panic
  prover/zkevm/prover/hash/packing/lane.go
Due: none

Reuse tx-over-line-count-limit cache in transaction pool validation (#1310)
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/AbstractLineaSharedPrivateOptionsPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/validators/TraceLineLimitValidator.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/InvalidTransactionByLineCountCache.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/LineaTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/TraceLineLimitTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/TraceLineLimitValidatorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactoryTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/TraceLineLimitCacheIntegrationTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/TraceLineLimitTransactionSelectorTest.java
Due: none

fix: add system contracts in the world for blockchain ref tests (#2215)
  tracer/reference-tests/src/test/java/net/consensys/linea/BlockchainReferenceTestTools.java
Due: none

certora: add rule to check that ownership of a StakeVault can't change
  status-network-contracts/certora/confs/StakeVault.conf
  status-network-contracts/certora/harness/StakeVaultHarness.sol
  status-network-contracts/certora/specs/StakeVault.spec
  status-network-contracts/package.json
Due: none
