Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

message
  linea-besu/besu/scripts/checkout-and-resolve-version.sh
Due: none

message space
  tracer/reference-tests/build.gradle
Due: none

revert changes in the rest of the config
  tracer/reference-tests/build.gradle
Due: none

copy paste
  tracer/reference-tests/build.gradle
Due: none

ras
  tracer/reference-tests/build.gradle
Due: none

reduce parallelism of besu
  .github/workflows/reusable-tracer-blockchain-tests.yml
  tracer/reference-tests/build.gradle
Due: none

revert changes for custom Besu build
  linea-besu/besu/scripts/checkout-and-resolve-version.sh
Due: none

[ZkTracer] fix(ref test): no parallelism
  .github/workflows/reusable-tracer-blockchain-tests.yml
  tracer/reference-tests/src/test/java/net/consensys/linea/BlockchainReferenceTestTools.java
Due: none

build besu from Karim branch
  linea-besu/besu/scripts/checkout-and-resolve-version.sh
Due: none

revert change
  tracer/reference-tests/build.gradle
Due: none

add fix for ref test to disable state root //
  tracer/reference-tests/build.gradle
  tracer/reference-tests/src/test/java/net/consensys/linea/BlockchainReferenceTestTools.java
Due: none

Prover/adding lookups and logderivsums (#3021)
  prover-ray/wiop/compilers/logderivativesum/logderivativesum.go
  prover-ray/wiop/compilers/logderivativesum/logderivativesum_test.go
  prover-ray/wiop/compilers/lookuptologderivsum/context.go
  prover-ray/wiop/compilers/lookuptologderivsum/lookuptologderivsum.go
  prover-ray/wiop/compilers/lookuptologderivsum/lookuptologderivsum_test.go
  prover-ray/wiop/compilers/lookuptologderivsum/prover_tasks.go
  prover-ray/wiop/expression_compiler.go
  prover-ray/wiop/query_log_derivative_sum.go
Due: none

upgrade Besu
  gradle/libs.versions.toml
Due: none

chore: update gnark
  prover/go.mod
  prover/go.sum
Due: none

update doc
  prover/protocol/compiler/multilinvortex/PACKED_VS_UNPACKED.md
  prover/protocol/compiler/multilinvortex/compiler.go
Due: none

Removed verifyingKeyShaSum from the request
  rollup_spec/prover_inputs/README.md
  rollup_spec/prover_inputs/getZkAggregatedProof.request.json
  rollup_spec/prover_inputs/getZkBlobProof.request.json
Due: none

fix(contracts): use the UI signer for ftx (#3070)
  contracts/.env.template
  contracts/.env.template.ci
  contracts/.env.template.uat
  contracts/deploy/03_deploy_LineaRollupV8WithReinitialization.ts
  contracts/deploy/21_deploy_AddressFilter.ts
  contracts/deploy/22_deploy_ForcedTransactionGateway.ts
  contracts/docs/deployment/l1/address-filter.md
  contracts/docs/deployment/l1/linea-rollup.md
Due: hardhat

chore(2876): coordinator review fixes — dead code, null safety, exception handling, dedup (#2882)
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/ProverConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ConfigLoaderHelper.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ConflationToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/TracesToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorAppCli.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverFileNameProvider.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupSmartContractClient.kt
  coordinator/core/src/main/kotlin/linea/conflation/calculators/AggregationTriggerCalculatorByDeadline.kt
  coordinator/core/src/main/kotlin/linea/conflation/calculators/ConflationTriggerCalculatorByTimeDeadline.kt
  coordinator/core/src/main/kotlin/linea/conflation/calculators/GlobalBlobAwareConflationCalculator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationL2StateProvider.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/GoBackedBlobCompressorAdapter.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/RollingBlobShnarfCalculator.kt
  coordinator/core/src/testFixtures/kotlin/net/consensys/zkevm/ethereum/coordination/blob/FakeBlobCompressor.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/AggregationFinalizationCoordinator.kt
  coordinator/ethereum/common/src/main/kotlin/net/consensys/zkevm/ethereum/error/handling/ErrorHandling.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ForcedTransactionsSafeBlockNumberManager.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/FeeHistoriesRepositoryImpl.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapProviderForDataSubmission.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapProviderForFinalization.kt
  coordinator/ethereum/gas-pricing/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/WMAFeesCalculator.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/HistoricVariableCostProviderImpl.kt
  coordinator/ethereum/message-anchoring/src/main/kotlin/linea/anchoring/MessageNumberAndRollingHash.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/linea/UrlExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/linea/kotlin/ByteArrayExtensions.kt
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/Web3jReadOnlyCredentials.kt
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l1/Web3JLineaValidiumSmartContractClientReadOnly.kt
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l2/Web3JL2MessageServiceSmartContractClient.kt
  jvm-libs/linea/core/long-running-service/src/main/kotlin/linea/timer/JvmTimer.kt
Due: kotlin

perf(prover-ray): send Vortex U_alpha in coefficient form (T elements)
  prover-ray/crypto/koalabear/reedsolomon/reedsolomon.go
  prover-ray/crypto/koalabear/vortex/prover.go
  prover-ray/crypto/koalabear/vortex/verifier.go
  prover-ray/crypto/koalabear/vortex/verifier_common.go
  prover-ray/crypto/koalabear/vortex/verifier_test.go
Due: none

chore(coordinator): move Web3SignerTxSignService into web3j-extensions lib
  coordinator/app/build.gradle
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/BlockchainClientHelper.kt
  coordinator/clients/smart-contract-client/build.gradle
  coordinator/core-interfaces/src/main/kotlin/linea/crypto/Signer.kt
  coordinator/ethereum/blob-submitter/build.gradle
  coordinator/ethereum/common/build.gradle
  coordinator/ethereum/finalization-monitor/build.gradle
  coordinator/ethereum/message-anchoring/build.gradle
  coordinator/ethereum/test-utils/build.gradle
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ECKeypairSignerAdapter.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/Web3SignerFriendlyTransactionEncoder.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/Web3SignerTxSignService.kt
  settings.gradle
Due: kotlin

fix(minor): improve global verifier
  prover-ray/wiop/compilers/global/global.go
Due: none

fix: coefficients with the wrong length
  prover-ray/crypto/koalabear/vortex/verifier.go
Due: none

fix golangci-lint issue report
  prover-ray/crypto/koalabear/vortex/verifier.go
Due: none

chore(coordinator): move Web3SignerTxSignService into web3j-extensions lib (#3091)
  coordinator/app/build.gradle
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/BlockchainClientHelper.kt
  coordinator/clients/smart-contract-client/build.gradle
  coordinator/core-interfaces/src/main/kotlin/linea/crypto/Signer.kt
  coordinator/ethereum/blob-submitter/build.gradle
  coordinator/ethereum/common/build.gradle
  coordinator/ethereum/finalization-monitor/build.gradle
  coordinator/ethereum/message-anchoring/build.gradle
  coordinator/ethereum/test-utils/build.gradle
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ECKeypairSignerAdapter.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/Web3SignerFriendlyTransactionEncoder.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/Web3SignerTxSignService.kt
  settings.gradle
Due: kotlin

chore(coordinator): refactor package structure for clients
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerClientV1.kt
  jvm-libs/linea/core/client-interface/src/main/kotlin/linea/clients/Client.kt
Due: kotlin

chore(coordinator): update package imports to align with new structure
  coordinator/app/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinatorIntTest.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobZkStateProviderImpl.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ExecutionProofRequestDtoMapperTest.kt
  coordinator/core-interfaces/src/main/kotlin/linea/clients/BatchExecutionProverRequestResponse.kt
  coordinator/core-interfaces/src/main/kotlin/linea/clients/InvalidtyProofRequestResponse.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/TracesConflationCoordinator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/TracesConflationCoordinatorImpl.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/proofcreation/ZkProofCreationCoordinatorImplTest.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsApp.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/InvalidityProofAssembler.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/FakeStateManagerClient.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/ForcedTransactionsAppTest.kt
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/linea/clients/StateManagerAccountProofClient.kt
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/linea/clients/StateManagerClientV1.kt
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/linea/clients/StateManagerV1JsonRpcClient.kt
  jvm-libs/linea/clients/linea-state-manager/src/test/kotlin/linea/clients/StateManagerV1JsonRpcClientTest.kt
  linea-besu/plugins/state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/BlockImporter.kt
  linea-besu/plugins/state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateRecoveryApp.kt
  linea-besu/plugins/state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/AppConfigurator.kt
  linea-besu/plugins/state-recovery/test-cases/src/e2eTest/kotlin/linea/staterecovery/StateRecoveryE2ETest.kt
  linea-besu/plugins/state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/StateRecoveryWithRealBesuAndStateManagerIntTest.kt
  linea-besu/plugins/state-recovery/test-cases/src/main/kotlin/linea/staterecovery/test/FakeStateManagerClient.kt
  linea-besu/plugins/state-recovery/test-cases/src/test/kotlin/linea/staterecovery/ManualTestWithFakeExecutionClient.kt
  linea-besu/plugins/state-recovery/test-cases/src/test/kotlin/linea/staterecovery/test/AssertionsHelper.kt
Due: kotlin

chore(coordinator): remove build prefix from package names
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitorTest.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/FunctionBuildersV8.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/LineaRollupEnhancedWrapper.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/LineaValidiumEnhancedWrapper.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupFunctionBuilders.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupSmartContractClient.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaValidiumFunctionBuilders.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaValidiumSmartContractClient.kt
  jvm-libs/generic/extensions/tuweni/src/main/kotlin/linea/tuweni/Bytes32.kt
  jvm-libs/generic/extensions/tuweni/src/test/kotlin/linea/tuweni/Bytes32Test.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/ObjectMappers.kt
  jvm-libs/generic/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcV2ClientImplTest.kt
  jvm-libs/generic/serialization/jackson/src/main/kotlin/linea/s11n/jackson/BytesHexSerDe.kt
  jvm-libs/generic/serialization/jackson/src/main/kotlin/linea/s11n/jackson/InstantAsHexNumberSerDe.kt
  jvm-libs/generic/serialization/jackson/src/main/kotlin/linea/s11n/jackson/InstantISO8601SerDe.kt
  jvm-libs/generic/serialization/jackson/src/main/kotlin/linea/s11n/jackson/NumbersHexSerDe.kt
  jvm-libs/generic/serialization/jackson/src/main/kotlin/linea/s11n/jackson/ObjectMappers.kt
  jvm-libs/generic/serialization/jackson/src/test/kotlin/linea/s11n/jackson/BytesSerDeTest.kt
  jvm-libs/generic/serialization/jackson/src/test/kotlin/linea/s11n/jackson/InstantAsHexNumberSerDeTest.kt
  jvm-libs/generic/serialization/jackson/src/test/kotlin/linea/s11n/jackson/InstantISO8601SerDeTest.kt
  jvm-libs/generic/serialization/jackson/src/test/kotlin/linea/s11n/jackson/NumbersSerDeTest.kt
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l1/Web3JLineaValidiumSmartContractClientReadOnly.kt
  jvm-libs/linea/linea-contracts/l1-rollup/build.gradle
  jvm-libs/linea/linea-contracts/l1-validium/build.gradle
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/domain/Eip4844EthCall.kt
Due: kotlin

spotless
  tracer/reference-tests/build.gradle
  tracer/reference-tests/src/test/java/net/consensys/linea/BlockchainReferenceTestTools.java
Due: none

chore: update @types/node and add dev tooling
  package.json
Due: none

ci: update reusable-tracer-unit-tests.yml workflow configuration
  .github/workflows/reusable-tracer-unit-tests.yml
Due: none

feat(prover-ray): support dynamic module sizes in global compiler
  prover-ray/wiop/compilers/global/global.go
  prover-ray/wiop/expression.go
  prover-ray/wiop/wiop_cell.go
  prover-ray/wiop/wiop_coin.go
  prover-ray/wiop/wiop_column.go
  prover-ray/wiop/wioptest/vanishing_scenario.go
  prover-ray/wiop/wioptest/vanishing_scenarios.go
Due: none

Document idle L2 block behavior
  docs/getting-started/linea-stack/README.md
Due: none

fix(prover-ray): ratio computation
  prover-ray/wiop/compilers/global/global.go
Due: none

Spec adjustment
  rollup_spec/Readme.md
  rollup_spec/prover_inputs/README.md
  rollup_spec/prover_inputs/getZkAggregatedProof.request.json
  rollup_spec/prover_inputs/getZkBlobProof.request.json
  rollup_spec/prover_inputs/getZkExecutionProof.request.json
Due: none

Spec adjustment
  rollup_spec/prover_inputs/getZkAggregatedProof.request.json
Due: none

chore(ci): add id-token write permission in milestone release wf
  .github/workflows/linea-milestone-release.yml
Due: none

chore(ci): temp remove check-branch job
  .github/workflows/linea-milestone-release.yml
Due: none

chore(ci): add manual milestone release related workflows
  .github/actions/get-latest-release-image-tag/action.yml
  .github/workflows/coordinator-release.yml
  .github/workflows/linea-besu-release.yml
  .github/workflows/linea-milestone-release.yml
  .github/workflows/postman-release.yml
  .github/workflows/prover-release.yml
  .github/workflows/reusable-component-release.yml
  .github/workflows/reuse-run-e2e-tests.yml
  .github/workflows/tx-exclusion-api-release.yml
  CHANGELOG.md
Due: none

feat(coordinator): testing bump version
  coordinator/CHANGELOG.md
Due: kotlin
