Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

fix maxNumBlock in packing test
  prover/zkevm/prover/hash/packing/packing_test.go
Due: none

chore(make): adds the bin/checker in the .PHONY
  prover/Makefile
Due: none

fix(arithmetization): fix invalid casting into a variable
  prover/zkevm/arithmetization/definition.go
Due: none

feat(partial): changes the structure of the partial prover
  prover/backend/execution/prove.go
Due: none

change the tag of the prover-v3
  docker/compose-local-dev-traces-v2.overrides.yml
Due: none

feat(partial): changes the structure of the partial prover (#92)
  docker/compose-local-dev-traces-v2.overrides.yml
  prover/backend/execution/prove.go
Due: none

Tracer update
  config/coordinator/coordinator-docker-traces-v2-override.config.toml
  docker/compose-local-dev-traces-v2.overrides.yml
Due: none

chore: bump go-corset to latest version and tidy dependencies (#91)
  prover/Dockerfile
  prover/go.mod
  prover/go.sum
  prover/zkevm/prover/hash/packing/packing_test.go
Due: none

import foundry template (#1)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/add-issue-to-project-board.yml
  .github/workflows/add-pr-to-project-board.yml
  .github/workflows/ci.yml
  .prettierignore
  .prettierrc.yml
  .solhint.json
  CHANGELOG.md
  LICENSE.md
  PROPERTIES.md
  README.md
  certora/certora.conf
  certora/specs/RewardsStreamerMP.spec
  codecov.yml
  foundry.toml
  githooks/pre-commit-adorno
  package.json
  pnpm-lock.yaml
  remappings.txt
  script/RewardsStreamer.s.sol
  slither.config.json
  src/RewardsStreamer.sol
  src/RewardsStreamerMP.sol
  test/RewardsStreamer.t.sol
  test/RewardsStreamerMP.t.sol
  test/mocks/MockToken.sol
Due: none

coordinator: add Web3jClientManager to improve test code reuse (#85)
  coordinator/core/build.gradle
  coordinator/ethereum/message-anchoring/src/integrationTest/kotlin/net.consensys.zkevm.ethereum.coordination.messageanchoring/L1EventQuerierIntegrationTest.kt
  coordinator/ethereum/message-anchoring/src/integrationTest/kotlin/net.consensys.zkevm.ethereum.coordination.messageanchoring/L2MessageAnchorerIntegrationTest.kt
  coordinator/ethereum/message-anchoring/src/integrationTest/kotlin/net.consensys.zkevm.ethereum.coordination.messageanchoring/MessageServiceIntegrationTest.kt
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/AccountManager.kt
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/ContractsManager.kt
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/Web3jClientManager.kt
  jvm-libs/web3j-extensions/src/main/kotlin/net/consensys/linea/web3j/OkHttpClientLogging.kt
Due: kotlin

chore: fix repo name in package.json (#6)
  package.json
Due: none

chore: make linter and formatter happy
  .gas-report
  .gas-snapshot
  script/RewardsStreamer.s.sol
  src/RewardsStreamer.sol
  src/RewardsStreamerMP.sol
Due: none

Tracer update (#93)
  config/coordinator/coordinator-docker-traces-v2-override.config.toml
  docker/compose-local-dev-traces-v2.overrides.yml
Due: none

Separate input and out json files (#1303)
  tracer/reference-tests/src/test/java/net/consensys/linea/BlockchainReferenceTestTools.java
  tracer/reference-tests/src/test/java/net/consensys/linea/ReferenceTestWatcher.java
  tracer/reference-tests/src/test/resources/templates/BlockchainReferenceTest.java.template
Due: none

Use L2MessageService versioned API
  contracts/abi/L2MessageServiceV1.0.abi
  contracts/abi/LineaRollupV6.0.abi
  contracts/abi/ZkEvmV2.abi
  contracts/contracts/messageService/l2/L2MessageService.sol
  contracts/scripts/hardhat/postCompile.ts
  jvm-libs/linea-contracts/l2-message-service/build.gradle
Due: hardhat

fix(max_nonce): is -1 for BESU because stored as a (signed) long (#1306)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/OobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/signals/AbortingConditions.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/oob/OobOperation.java
Due: none

Coordinator - Allowing endless retries and setting them throughout th… (#89)
  config/coordinator/coordinator-docker.config.toml
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/config/CoordinatorConfig.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/config/CoordinatorConfigTest.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcRequestRetryer.kt
Due: kotlin

fix: codecov.yml
  .github/workflows/coordinator-testing.yml
  .github/workflows/run-smc-tests.yml
  codecov.yml
  contracts/test/LineaRollup.ts
Due: hardhat

Added metrics for highest blob submission and finalization block numbers and their delays using Histogram
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/MaxLongTracker.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/SubmittedEventTracker.kt
  coordinator/core/build.gradle
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Aggregation.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Blob.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/EventDispatcher.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/EventDispatcherTest.kt
  coordinator/ethereum/blob-submitter/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/finalization/BlobAndAggregationFinalizationIntTest.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/AggregationFinalizationCoordinator.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/AggregationSubmitter.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/BlobSubmissionCoordinator.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/BlobSubmitterAsEIP4844MultipleBlobsPerTx.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/L1ShnarfBasedAlreadySubmittedBlobsFilter.kt
  coordinator/ethereum/blob-submitter/src/test/kotlin/net/consensys/zkevm/ethereum/submission/L1ShnarfBasedAlreadySubmittedBlobsFilterTest.kt
  jvm-libs/core/metrics/src/main/kotlin/net/consensys/linea/metrics/MetricsFacade.kt
  jvm-libs/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/MicrometerHistogramAdapter.kt
  jvm-libs/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/MicrometerMetricsFacade.kt
  jvm-libs/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/MicrometerMetricsFacadeTest.kt
Due: kotlin

coordinator: adds slice ByteArrayExtensions.kt
  jvm-libs/kotlin-extensions/src/main/kotlin/net/consensys/ByteArrayExtensions.kt
  jvm-libs/kotlin-extensions/src/main/kotlin/net/consensys/TypingsExtensions.kt
  jvm-libs/kotlin-extensions/src/test/kotlin/net/consensys/ByteArrayExtensionsTest.kt
  jvm-libs/kotlin-extensions/src/test/kotlin/net/consensys/TypingsExtensionsTest.kt
Due: none

coordinator: adds testing file system helper
  jvm-libs/testing/file-system/build.gradle
  jvm-libs/testing/file-system/src/main/kotlin/net/consensys/linea/testing/filesystem/Files.kt
  jvm-libs/testing/file-system/src/test/kotlin/net/consensys/linea/testing/filesystem/FilesTest.kt
Due: none

Use log to verify test
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/EventDispatcher.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/EventDispatcherTest.kt
Due: kotlin

Blockchain reference tests report - success and failure counters (#1311)
  tracer/reference-tests/src/main/java/net/consensys/linea/BlockchainReferenceTestJson.java
  tracer/reference-tests/src/main/java/net/consensys/linea/BlockchainReferenceTestOutcome.java
  tracer/reference-tests/src/main/java/net/consensys/linea/ModuleToConstraints.java
  tracer/reference-tests/src/main/java/net/consensys/linea/ReferenceTestOutcomeRecorderTool.java
  tracer/reference-tests/src/test/java/net/consensys/linea/BlockchainReferenceTestTools.java
  tracer/reference-tests/src/test/java/net/consensys/linea/ReferenceTestOutcomeRecorderToolTest.java
  tracer/reference-tests/src/test/java/net/consensys/linea/ReferenceTestWatcher.java
Due: none

Test - Remove atMost
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/BlockToBatchSubmissionCoordinatorTest.kt
Due: kotlin

feat/1731 code coverage in Codecov (#13)
  .github/workflows/coordinator-testing.yml
  .github/workflows/run-smc-tests.yml
  codecov.yml
  contracts/test/LineaRollup.ts
Due: hardhat

Emit LineaRollupVersionChanged on upgrade
  contracts/contracts/LineaRollup.sol
  contracts/contracts/interfaces/l1/ILineaRollup.sol
  contracts/test/LineaRollup.ts
  contracts/test/utils/helpers.ts
Due: hardhat

make padded hex bytes generic
  contracts/test/LineaRollup.ts
  contracts/test/utils/helpers.ts
Due: hardhat

remove PREVIOUS_CONTRACT_VERSION
  contracts/contracts/LineaRollup.sol
Due: hardhat

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/
