Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

Reproducing an issue when a conflation with 2 blocks from different forks can be produced
  docker/config/l2-genesis-initialization/genesis-besu.json.template
  docker/config/l2-genesis-initialization/genesis-geth.json.template
  docker/config/l2-genesis-initialization/genesis-maru.json.template
Due: none

disable test temporarl to allow build
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressorTest.kt
Due: kotlin

compressor: rename enum to just V2
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/GoNativeBlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/test/java/linea/blob/CompressorJavaAccessTest.java
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorTest.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/net/consensys/linea/blob/GoNativeCompressorAndShnarfCalculatorIntTest.kt
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressorTest.kt
Due: kotlin

fix
  contracts/scripts/testEIP7702/sendType4Tx.ts
Due: hardhat

chore(deps): update dependencies
  bridge-ui/package.json
  operations/package.json
  package.json
  pnpm-lock.yaml
Due: none

Refactor/sendtype4tx (#1430)
  contracts/scripts/testEIP7702/sendType4Tx.ts
Due: hardhat

coordinator: update to compressor v2.1.0-rc1
  config/coordinator/coordinator-config-v2.toml
  gradle/libs.versions.toml
Due: none

enable test again
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressorTest.kt
Due: kotlin

perf: less go routines in quotient
  prover/protocol/compiler/globalcs/quotient.go
Due: none

refactor: kill the mempool package
  prover/crypto/vortex/gnark_utils.go
  prover/maths/common/mempool/debug_pool.go
  prover/maths/common/mempool/debug_pool_test.go
  prover/maths/common/mempool/from_sync_pool.go
  prover/maths/common/mempool/mempool.go
  prover/maths/common/mempool/slice_arena.go
  prover/maths/common/smartvectors/arithmetic_basic.go
  prover/maths/common/smartvectors/arithmetic_basic_ext.go
  prover/maths/common/smartvectors/arithmetic_basic_mixed.go
  prover/maths/common/smartvectors/arithmetic_ext_test.go
  prover/maths/common/smartvectors/arithmetic_gen.go
  prover/maths/common/smartvectors/arithmetic_gen_ext.go
  prover/maths/common/smartvectors/arithmetic_test.go
  prover/maths/common/smartvectors/fft.go
  prover/maths/common/smartvectors/regular.go
  prover/maths/common/smartvectors/regular_ext.go
  prover/maths/common/smartvectors/rotated.go
  prover/maths/common/smartvectors/smartvectors.go
  prover/maths/common/smartvectors_mixed/arithmetic_basic.go
  prover/maths/common/smartvectors_mixed/arithmetic_gen.go
  prover/protocol/compiler/mpts/multipoint_to_singlepoint_test.go
  prover/protocol/compiler/mpts/prover.go
  prover/symbolic/constant.go
  prover/symbolic/expression.go
  prover/symbolic/lincomb.go
  prover/symbolic/polyeval.go
  prover/symbolic/product.go
  prover/symbolic/variable.go
Due: none

feat: inject lastFinalizedBlockNumberSupplier to ProofAggregationCoordinatorService
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/LastProvenBlockNumberProviderAsync.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/BatchesRepoBasedLastProvenBlockNumberProviderTest.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
Due: kotlin

Chore: set arithmetization="beta-v4.0-rc7-CANCUN"
  gradle/libs.versions.toml
Due: none

fix: missing poly in hint
  prover/crypto/vortex/gnark_utils.go
Due: none

fix: use java Supplier and fix unit test
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorServiceTest.kt
Due: kotlin

refactor: remove more pool related stuff
  prover/maths/common/smartvectors/arithmetic_basic_ext.go
  prover/maths/common/smartvectors/arithmetic_gen_ext.go
  prover/maths/common/smartvectors/fft_ext.go
  prover/maths/common/smartvectors/regular.go
  prover/maths/common/smartvectors/regular_ext.go
  prover/maths/common/smartvectors/rotated_ext.go
  prover/maths/common/smartvectors/smartvectors.go
  prover/maths/field/fext/utils.go
Due: none

Chore: set arithmetization="beta-v4.0-rc7-CANCUN" (#1448)
  gradle/libs.versions.toml
Due: none

update mimc-->poseidon2
  prover/protocol/dedicated/merkle/flat_proof.go
  prover/protocol/dedicated/merkle/flat_proof_test.go
  prover/protocol/dedicated/merkle/flat_proof_verification.go
  prover/protocol/dedicated/mimc/horizontal_hash.go
  prover/protocol/dedicated/mimc/linear_hash.go
  prover/protocol/dedicated/mimc/linear_hash_test.go
Due: none

update mimc-->poseidon2
  prover/protocol/dedicated/poseidon2/horizontal_hash.go
  prover/protocol/dedicated/poseidon2/linear_hash.go
  prover/protocol/dedicated/poseidon2/linear_hash_test.go
Due: none

refactor: kill fft wrappers
  prover/crypto/vortex/reedsolomon.go
  prover/crypto/vortex/reedsolomon_ext.go
  prover/maths/common/smartvectors/fft.go
  prover/maths/common/smartvectors/fft_ext.go
  prover/maths/common/smartvectors/fft_ext_test.go
  prover/maths/common/smartvectors/fft_test.go
  prover/protocol/dedicated/reedsolomon/reedsolomon.go
  prover/protocol/dedicated/reedsolomon/reedsolomon_test.go
  prover/protocol/variables/periodicsample_test.go
Due: none

Chore: set besu = "25.8.0-linea2"
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/LineaPluginTestBasePrague.java
  gradle/libs.versions.toml
Due: none

flatproof test ok
  prover/protocol/dedicated/merkle/flat_proof.go
  prover/protocol/dedicated/merkle/flat_proof_test.go
  prover/protocol/dedicated/merkle/flat_proof_verification.go
Due: none

feat: add experimental vector horner eval
  prover/protocol/compiler/logderivativesum/prover_tasks.go
  prover/protocol/query/horner.go
Due: none

feat: remove maru-follower and make template coordinator config for hardforks config injection
  .gitignore
  docker/compose-spec-l2-services.yml
  docker/compose-tracing-v2-ci-extension.yml
  docker/config/l2-genesis-initialization/init.sh
  docker/config/maru/0xf897807365c936f351969863aeac729841e27c1b.key
  docker/config/maru/follower.config.toml
  docker/config/maru/sequencer.config.toml
Due: none

perf: more minor perf adjustements
  prover/protocol/column/column.go
  prover/protocol/compiler/horner/horner.go
  prover/symbolic/evaluation.go
Due: none

linea hash update, only the last value check fail
  prover/Makefile
  prover/protocol/dedicated/poseidon2/horizontal_hash.go
  prover/protocol/dedicated/poseidon2/linear_hash.go
  prover/protocol/dedicated/poseidon2/linear_hash_test.go
Due: none

Refactor Transactional beacon block importer (#374)
  maru/consensus/src/main/kotlin/maru/consensus/blockimport/SealedBeaconBlockImporter.kt
Due: none

test: "failing" blob
  prover/lib/compressor/blob/v1/encode_test.go
Due: none

refactor: move set-code blob test to blob_test
  prover/lib/compressor/blob/blob_test.go
  prover/lib/compressor/blob/v1/encode_test.go
Due: none

fix: cursor suggestions
  prover/backend/ethereum/tx_encoding.go
Due: none

update to go-corset v1.1.20
  prover/go.mod
  prover/go.sum
Due: none

update go-corset setup action (#2310)
  tracer/.github/actions/setup-go-corset/action.yml
Due: none

feat: update linea-besu-package plugin versions
  linea-besu-package/versions.env
Due: none

fix: missing equals and hashcode for `ExpCall` and `GasParameters` (#2296)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/gas/GasParameters.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/exp/ExplogExpCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/exp/ModexpLogExpCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/OobCall.java
Due: none

doc: add some comments (#2284)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TraceSection.java
Due: none

feat: update linea-besu-package plugin versions and plugin-shomei-zktrace-comparison-mode=31
  config/coordinator/coordinator-config-v2.toml
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
  e2e/package.json
  e2e/src/liveness.spec.ts
Due: none
