Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

fix(coordinator): fix metric "aggregation.highest.accepted.block.number"
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
Due: kotlin

chore(coordinator): replace DynamicBlockNumberSet by standard MutableSet interface (with ThreadSafe collection)
  coordinator/core/src/main/kotlin/linea/conflation/DynamicBlockNumberSet.kt
  coordinator/core/src/main/kotlin/linea/conflation/calculators/CalculatorsFactory.kt
  coordinator/core/src/main/kotlin/linea/conflation/calculators/GlobalBlobAwareConflationCalculator.kt
  coordinator/core/src/test/kotlin/linea/conflation/calculators/GlobalBlobAwareConflationCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/DynamicBlockNumberSetTest.kt
Due: kotlin

chore(coordinator): small log code rearange
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
Due: kotlin

chore(coordinator): fix conflations resuming regression bug
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationAppHelper.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/LastProcessedBlocks.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
  coordinator/core/src/main/kotlin/linea/conflation/calculators/CalculatorsFactory.kt
  coordinator/core/src/test/kotlin/linea/conflation/calculators/GlobalAggregationCalculatorTest.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/ForcedTransactionsAppTest.kt
Due: kotlin

fix(coordinator): fix metric "blob.highest.accepted.block.number"
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
Due: kotlin

chore(coordinator): refactor aggregation target block number handling for clarity and consistency
  coordinator/core/src/main/kotlin/linea/conflation/calculators/CalculatorsFactory.kt
  coordinator/core/src/main/kotlin/linea/conflation/calculators/GlobalAggregationCalculator.kt
  coordinator/core/src/test/kotlin/linea/conflation/calculators/GlobalAggregationCalculatorTest.kt
Due: kotlin

feat: besu checkout with -filter=tree:0 to reduce checkout time, and revert besuCommit and its cache
  gradle/libs.versions.toml
  linea-besu/.besu-resolved
  linea-besu/build.gradle
  linea-besu/scripts/checkout-and-resolve-version.sh
Due: none

chore: update .besu-resolved accordingly with latest besuCommit
  linea-besu/.besu-resolved
Due: none

fix: gate AI analysis on run-e2e-tests failure only
  .github/workflows/main.yml
Due: none

fix: paginate GitHub jobs API to avoid silently dropping failures
  .github/workflows/slack-notify-failed-jobs.yml
Due: none

fix(coordinator): ftx conflation and fix metrics (#2911)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationAppHelper.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/LastProcessedBlocks.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/FixedLaggingHeadSafeBlockProvider.kt
  coordinator/core-interfaces/src/main/kotlin/linea/conflation/SafeBlockProvider.kt
  coordinator/core/src/main/kotlin/linea/conflation/DynamicBlockNumberSet.kt
  coordinator/core/src/main/kotlin/linea/conflation/calculators/AggregationCalculatorFactory.kt
  coordinator/core/src/main/kotlin/linea/conflation/calculators/AggregationTriggerCalculatorByDeadline.kt
  coordinator/core/src/main/kotlin/linea/conflation/calculators/CalculatorsFactory.kt
  coordinator/core/src/main/kotlin/linea/conflation/calculators/ConflationCalculatorFactory.kt
  coordinator/core/src/main/kotlin/linea/conflation/calculators/ConflationTriggerCalculatorByTimeDeadline.kt
  coordinator/core/src/main/kotlin/linea/conflation/calculators/GlobalAggregationCalculator.kt
  coordinator/core/src/main/kotlin/linea/conflation/calculators/GlobalBlobAwareConflationCalculator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationServiceImpl.kt
  coordinator/core/src/test/kotlin/linea/conflation/calculators/AggregationTriggerCalculatorByDeadlineTest.kt
  coordinator/core/src/test/kotlin/linea/conflation/calculators/ConflationTriggerCalculatorByTimeDeadlineTest.kt
  coordinator/core/src/test/kotlin/linea/conflation/calculators/GlobalAggregationCalculatorTest.kt
  coordinator/core/src/test/kotlin/linea/conflation/calculators/GlobalBlobAwareConflationCalculatorTest.kt
  coordinator/core/src/test/kotlin/linea/conflation/calculators/GlobalBlockConflationCalculatorIntTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/DynamicBlockNumberSetTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorServiceTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/BlockToBatchSubmissionCoordinatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationServiceImplTest.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsApp.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/FtxProcessedQueuerForConflation.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/AggregationCalculatorByForcedTransaction.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ForcedTransactionConflationSafeBlockNumberProvider.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ForcedTransactionsSafeBlockNumberManager.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/ForcedTransactionsAppTest.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/conflation/AggregationCalculatorByForcedTransactionTest.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/Block.kt
Due: kotlin

fix(ci): suppress artifact link block when upload fails
  .github/workflows/slack-notify-failed-jobs.yml
Due: none

fix(coordinator): Fixing the state root hash verification for the invalidity proofs (#2907)
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/InvalidityProofAssembler.kt
Due: kotlin

fix(ci): scope Claude Write permission to output files only
  .github/workflows/slack-notify-failed-jobs.yml
Due: none

spacing on address book
  contracts/docs/mainnet-address-book.csv
Due: hardhat

chore(misc): remove docker/* from coordinator ci trigger
  .github/workflows/main.yml
Due: none

ras
  arithmetization/src/test/examples/main.go
Due: none

chore(misc): remove docker/* from coordinator ci trigger (#2935)
  .github/workflows/main.yml
Due: none

updated print
  arithmetization/src/test/examples/main.go
Due: none

chore(misc): ci triggers optimization
  .github/workflows/main.yml
Due: none

run make zkc-lint-apply
  arithmetization/src/main/riscv/main.zkc
  arithmetization/src/main/riscv/memory.zkc
Due: none

chore(misc): ci triggers optimization (#2936)
  .github/workflows/main.yml
Due: none

chore(misc): update compose profiles
  docker/compose-spec-l2-services.yml
Due: none

chore(misc): update compose profiles
  .github/workflows/reuse-run-e2e-tests.yml
Due: none

chore(misc): update compose profiles
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
Due: none

chore(misc): update compose profiles
  docker/compose-spec-l1-services.yml
Due: none

chore(misc): ci optimization
  .github/workflows/reuse-run-e2e-tests.yml
Due: none

feat : validating the request file w.r.t the timestamp
  prover/backend/invalidity/request.go
  prover/backend/invalidity/request_test.go
  prover/utils/types/full_bytes_32.go
Due: none

Potential fix for pull request finding 'Writable file handle closed without error handling'
  prover/circuits/prove.go
Due: none

fix : validating timestamp for dev and e2e tests
  prover/backend/invalidity/request.go
Due: none

Fixing prover response shape and the parent zk state root hash (#2903)
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedInvalidityProverClient.kt
Due: kotlin

[ZkTracer] run zkc code formatter on pr (#2929)
  .github/workflows/arithmetization-zkc-riscv-check-compilation.yml
  arithmetization/Makefile
  arithmetization/src/main/riscv/instruction_processing/b_type.zkc
  arithmetization/src/main/riscv/instruction_processing/i_type.zkc
  arithmetization/src/main/riscv/instruction_processing/j_type.zkc
  arithmetization/src/main/riscv/instruction_processing/r_type.zkc
  arithmetization/src/main/riscv/instruction_processing/s_type.zkc
  arithmetization/src/main/riscv/instruction_processing/u_type.zkc
  arithmetization/src/main/riscv/interpreter.zkc
  arithmetization/src/main/riscv/main.zkc
  arithmetization/src/main/riscv/memory.zkc
  arithmetization/src/main/riscv/ram/read.zkc
  arithmetization/src/main/riscv/ram/write.zkc
  arithmetization/src/main/riscv/utils/absolute_value.zkc
  arithmetization/src/main/riscv/utils/bit_flip.zkc
  arithmetization/src/main/riscv/utils/constants.zkc
  arithmetization/src/main/riscv/utils/negative.zkc
  arithmetization/src/main/riscv/utils/sign_bit.zkc
  arithmetization/src/main/riscv/utils/sign_extend.zkc
  arithmetization/src/main/riscv/utils/signed_comparisons.zkc
  arithmetization/src/main/riscv/utils/type.zkc
Due: none

fix(coordinator): enforce l2blocks fetch limit for conflation backtesting (#2908)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ProofGeneratingConflationHandlerImpl.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/proofcreation/BatchProofHandler.kt
Due: kotlin

Prover-ray : adds support for dynamically-sized module (#2900)
  prover-ray/go.mod
  prover-ray/go.sum
  prover-ray/wiop/common.go
  prover-ray/wiop/expression.go
  prover-ray/wiop/expression_compiler_test.go
  prover-ray/wiop/query_lagrange_eval.go
  prover-ray/wiop/query_local_opening.go
  prover-ray/wiop/query_log_derivative_sum.go
  prover-ray/wiop/query_table_relation.go
  prover-ray/wiop/wiop_column.go
  prover-ray/wiop/wiop_dynamic_test.go
  prover-ray/wiop/wiop_runtime.go
  prover-ray/wiop/wiop_system.go
Due: none

chore: add dependency maintenance skill (#2909)
  .agents/skills/linea-dependency-maintenance/SKILL.md
  .agents/skills/linea-dependency-maintenance/agents/openai.yaml
  .agents/skills/linea-dependency-maintenance/evals/evals.json
  .agents/skills/linea-dependency-maintenance/references/npm.md
  .agents/skills/linea-dependency-maintenance/references/pnpm.md
  .agents/skills/linea-dependency-maintenance/scripts/eligible-updates
  .agents/skills/linea-dependency-maintenance/scripts/package.json
Due: none

yield manager bytecode (#2930)
  contracts/deployments/bytecode/2026-04-24/YieldManager.json
  contracts/deployments/bytecode/2026-04-24/YieldManager.txt
Due: hardhat

feat(contracts): encode upgrade calldata in YieldManager deploy script (#2932)
  contracts/.env.template.ci
  contracts/.env.template.uat
  contracts/deploy/22_deploy_YieldManagerUpgrade.ts
Due: hardhat
