Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/

github_checks:
  annotations: false
slack_app: false

fix type error
  prover/lib/compressor/libdecompressor/libdecompressor.go
Due: none

fix remove stray beta
  prover/circuits/blobdecompression/v0/assign_test.go
Due: none

fix: nightly tests (#1355)
  tracer/.github/workflows/gradle-nightly-tests.yml
  tracer/gradle/tests.gradle
Due: none

Set besuVersion=24.10-delivery34 and arithmetizationVersion=0.8.0-rc1 (#90)
  besu-plugins/linea-sequencer/gradle.properties
Due: none

Fixing issues related to tracing all blocks in the reference tests (#1350)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/ZkTracer.java
  tracer/reference-tests/src/test/java/net/consensys/linea/BlockchainReferenceTestTools.java
  tracer/reference-tests/src/test/java/net/consensys/linea/CorsetBlockProcessor.java
Due: none

Besu and sequencer plugin update
  docker/compose-local-dev-traces-v2.overrides.yml
  docker/compose.yml
Due: none

Added missing option for the tracer plugin
  docker/compose-local-dev-traces-v2.overrides.yml
  docker/compose.yml
  docker/config/traces-node-v2/traces-node-v2-config.toml
Due: none

Bumped coordinator tracer version
  config/coordinator/coordinator-docker-traces-v2-override.config.toml
Due: none

build bump lib version to test3
  jvm-libs/blob-decompressor/build.gradle
Due: kotlin

Reverting a change in testing tools
  testing-tools/app/src/main/resources/sepolia/request-addmod-small-execution-gas.json
Due: none

docs and LoadDictionary -> LoadDictionaries
  jvm-libs/blob-decompressor/build.gradle
  jvm-libs/blob-decompressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressor.kt
  prover/lib/compressor/libdecompressor/libdecompressor.go
Due: kotlin

fix flaky test
  contracts/test/LineaRollup.ts
Due: hardhat

build decompressor vtest5
  jvm-libs/blob-decompressor/build.gradle
Due: kotlin

fix regression
  contracts/contracts/interfaces/l1/ILineaRollup.sol
  contracts/test/LineaRollup.ts
Due: hardhat

fix incorrect reference
  jvm-libs/blob-decompressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressor.kt
Due: kotlin

dictionary paths: colon-sep
  jvm-libs/blob-decompressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressor.kt
Due: kotlin

fix: resolve broken nightly test (#1361)
  tracer/arithmetization/src/test/java/net/consensys/linea/replaytests/Issue1274Tests.java
Due: none

fix lib must be initialized before use
  jvm-libs/blob-decompressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressor.kt
Due: kotlin

staterecover: reusable statemanager client
  jvm-libs/clients/linea-state-manager/build.gradle
  jvm-libs/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerCleintV1.kt
  jvm-libs/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerV1JsonRpcClient.kt
  jvm-libs/clients/linea-state-manager/src/test/kotlin/build/linea/clients/StateManagerV1JsonRpcClientTest.kt
  jvm-libs/core/client-interface/build.gradle
  jvm-libs/core/client-interface/src/main/kotlin/net/consensys/linea/clients/Client.kt
  jvm-libs/core/domain-models/src/main/kotlin/net/consensys/linea/BlockInterval.kt
  settings.gradle
Due: kotlin

Updating Sequencer plugin to accomodate linea_estimateGas fix (#112)
  config/coordinator/coordinator-docker-traces-v2-override.config.toml
  docker/compose-local-dev-traces-v2.overrides.yml
  docker/compose.yml
  docker/config/linea-besu-sequencer/sequencer.config.toml
  docker/config/traces-node-v2/traces-node-v2-config.toml
Due: none

style format
  jvm-libs/blob-decompressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressor.kt
Due: kotlin

Blockchain reference tests switch to go-corset (#1358)
  tracer/.github/workflows/reference-blockchain-tests.yml
Due: none

coordinator: adpate statemanager client to reuse common one
  coordinator/clients/type2-state-manager-client/build.gradle
  coordinator/clients/type2-state-manager-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/Type2StateManagerJsonRpcClient.kt
  coordinator/clients/type2-state-manager-client/src/test/kotlin/net/consensys/zkevm/ethereum/type2statemanagerjsonrpcclient/Type2StateManagerJsonRpcClientTest.kt
  coordinator/core/build.gradle
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/Type2StateManagerClient.kt
Due: kotlin

Use required plugins in ATs to not register tracer plugins (#91)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/BlockGasLimitTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/LineaPluginTestBase.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/TestCommandLineOptionsBuilder.java
Due: none

fix: refactor test utils structure
  contracts/test/utils/constants.ts
  contracts/test/utils/constants/calldata.ts
  contracts/test/utils/constants/errorMessages.ts
  contracts/test/utils/constants/fees.ts
  contracts/test/utils/constants/general.ts
  contracts/test/utils/constants/index.ts
  contracts/test/utils/constants/merkleTree.ts
  contracts/test/utils/constants/messageStatuses.ts
  contracts/test/utils/constants/pauseTypes.ts
  contracts/test/utils/constants/roles.ts
  contracts/test/utils/constants/submissionData.ts
  contracts/test/utils/constants/time.ts
  contracts/test/utils/helpers/dataGeneration.ts
  contracts/test/utils/helpers/dataLoader.ts
  contracts/test/utils/helpers/encoding.ts
  contracts/test/utils/helpers/expectations.ts
  contracts/test/utils/helpers/general.ts
  contracts/test/utils/helpers/hashing.ts
  contracts/test/utils/helpers/index.ts
  contracts/test/utils/helpers/messaging.ts
  contracts/test/utils/types.ts
Due: hardhat

fix: add events to PauseManager for pauseType setting
  contracts/contracts/LineaRollup.sol
  contracts/contracts/interfaces/IPauseManager.sol
  contracts/contracts/lib/PauseManager.sol
  contracts/test/L2MessageService.ts
  contracts/test/LineaRollup.ts
  contracts/test/PauseManager.ts
Due: hardhat

fix: update linea rollup deployment script
  contracts/deploy/03_deploy_LineaRollup.ts
Due: hardhat

state-recover: make StateSynchronizerService long running service
  state-recover/app-core/build.gradle
  state-recover/app-core/src/main/kotlin/net/consensys/linea/staterecover/core/StateSynchronizerService.kt
Due: none

blob-decompressor: improve interface
  jvm-libs/blob-decompressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressor.kt
  jvm-libs/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressorTest.kt
Due: kotlin

Change coordinator-testing to a medium runner
  .github/workflows/coordinator-testing.yml
Due: none

Remove danielpalme/ReportGenerator-GitHub-Action steps
  .github/workflows/coordinator-testing.yml
Due: none

clean(OOB): delete binary dupliacte constraints + from `call_gas` to `callee_gas` (#413)
  oob/constraints.lisp
Due: none

fix(OOB_CALL): confusion between call and callee gas for BLAKE (#1366)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/ImcFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/oob/precompiles/Blake2fParamsOobCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/call/precompileSubsection/BlakeSubsection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/oob/OobOperation.java
Due: none
