Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

add bls test and rm unused function
  contracts/src/_testing/unit/yield/vendor/libs/TestBLS.sol
  contracts/src/yield/libs/vendor/lido/BLS.sol
  contracts/test/hardhat/yield/unit/vendor/BLS.t.sol
  contracts/test/hardhat/yield/unit/vendor/BLS.ts
Due: hardhat

fix rm depends_on, networks, version
  docker/linea-sepolia/docker-compose.yml
Due: none

feat: symbolic ok
  prover/symbolic/constant.go
  prover/symbolic/evaluation.go
  prover/symbolic/expression.go
  prover/symbolic/lincomb.go
  prover/symbolic/polyeval.go
  prover/symbolic/product.go
  prover/symbolic/variable.go
Due: none

feat(SimpleKarmaDistributor): add SimpleKarmaDistributor contract
  status-network-contracts/script/DeploySimpleKarmaDistributor.s.sol
  status-network-contracts/src/SimpleKarmaDistributor.sol
  status-network-contracts/test/SimpleKarmaDistributor.t.sol
Due: none

Fix bug when p2p Port and discovery port set to 0 (#421)
  maru/p2p/src/main/kotlin/maru/p2p/P2PNetworkImpl.kt
  maru/p2p/src/main/kotlin/maru/p2p/discovery/MaruDiscoveryService.kt
  maru/p2p/src/test/kotlin/maru/p2p/P2PTest.kt
Due: none

feat: adjusting public-inputs for Cancun, ensure that only non-zero chainIDs are fetched
  prover/zkevm/prover/publicInput/fetchers_arithmetization/rlp_txn_fetcher.go
  prover/zkevm/prover/publicInput/testdata/rlp_txn_mock.csv
Due: none

feat(bridge-ui): accept images from Contentful
  .github/workflows/bridge-ui-e2e-tests.yml
  .github/workflows/bridge-ui-publish.yml
  bridge-ui/.env.production
  bridge-ui/.env.template
  bridge-ui/.env.test
  bridge-ui/Dockerfile
  bridge-ui/next.config.mjs
Due: none

chore(RLN): move errors and events to the top of the contract
  status-network-contracts/src/rln/RLN.sol
Due: none

feat(RLN): add commit-reveal scheme to slash accounts
  status-network-contracts/src/rln/RLN.sol
  status-network-contracts/test/RLN.t.sol
Due: none

Chore: set besu = "25.10.0-RC2-linea1"
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/TestTransactionEvaluationContext.java
  gradle/libs.versions.toml
Due: none

first passing clproofverifier test
  contracts/package.json
  contracts/src/_testing/unit/yield/TestCLProofVerifier.sol
  contracts/src/_testing/unit/yield/vendor/libs/SSZBLSHelpers.sol
  contracts/src/_testing/unit/yield/vendor/libs/SSZMerkleTree.sol
  contracts/src/yield/libs/CLProofVerifier.sol
  contracts/test/hardhat/yield/helpers/deploy.ts
  contracts/test/hardhat/yield/helpers/proof.ts
  contracts/test/hardhat/yield/helpers/types.ts
  contracts/test/hardhat/yield/unit/CLProofVerifier.ts
  contracts/test/hardhat/yield/unit/vendor/BLS.t.sol
  pnpm-lock.yaml
Due: hardhat

Chore: update Besu to 25.10.0-RC2-linea1 (#2419)
  tracer/gradle.properties
  tracer/reference-tests/src/test/java/net/consensys/linea/CorsetBlockProcessor.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ExecutionEnvironment.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyExecutionTools.java
Due: none

change constant name
  contracts/test/hardhat/yield/helpers/proof.ts
  contracts/test/hardhat/yield/unit/CLProofVerifier.ts
Due: hardhat

feat: variables, ifaces, column ok
  prover/protocol/column/column.go
  prover/protocol/column/fake_column.go
  prover/protocol/column/gnark_derive.go
  prover/protocol/column/natural.go
  prover/protocol/column/shifted.go
  prover/protocol/column/verifiercol/expand_verifcol.go
  prover/protocol/column/verifiercol/from_accessors.go
  prover/protocol/column/verifiercol/from_alleged_ys.go
  prover/protocol/column/verifiercol/full_constant.go
  prover/protocol/column/verifiercol/repeated_accessor.go
  prover/protocol/variables/periodicsample.go
  prover/protocol/variables/x.go
Due: none

feat: coin ok
  prover/protocol/coin/coin.go
Due: none

Chore: set besu = "25.10.0-RC2-linea1" (#1538)
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/TestTransactionEvaluationContext.java
  gradle/libs.versions.toml
Due: none

Fix: when selection is cancelled, tracer exceptions are not considered internal errors
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/TraceLineLimitTransactionSelector.java
Due: none

do not retry for conglomeration job
  prover/cmd/controller/controller/executor.go
Due: none

refactor custom ser/de
  prover/protocol/serialization/custom.go
Due: none

log res memory per request
  prover/cmd/controller/controller/executor.go
  prover/config/assets/preload.go
Due: none

perf: add lockOsThread
  prover/protocol/compiler/globalcs/quotient.go
  prover/utils/parallel/parallel.go
Due: none

add limitless settings to config file
  prover/config/config-mainnet-limitless.toml
  prover/config/config-sepolia-limitless.toml
Due: none

feat(bridge-ui): accept images from Contentful (#1537)
  .github/workflows/bridge-ui-e2e-tests.yml
  .github/workflows/bridge-ui-publish.yml
  bridge-ui/.env.production
  bridge-ui/.env.template
  bridge-ui/.env.test
  bridge-ui/Dockerfile
  bridge-ui/next.config.mjs
Due: none

feat: log the profile for MPTS
  prover/protocol/compiler/mpts/multipoint_to_singlepoint.go
Due: none

perf: optimize the compilation parameters for the limitless prover
  prover/protocol/distributed/segment_compilation.go
Due: none

add 0x02 validator struct
  contracts/test/hardhat/yield/helpers/proof.ts
Due: hardhat

Enable on conflation app to recreate Shanghai execution proofs
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
Due: kotlin

feat: add tx metrics to the postman
  postman/src/application/postman/api/metrics/SingletonMetricsService.ts
  postman/src/application/postman/api/metrics/TransactionMetricsUpdater.ts
  postman/src/application/postman/api/metrics/__tests__/SingletonMetricsService.test.ts
  postman/src/application/postman/api/metrics/__tests__/TransactionMetricsUpdater.test.ts
  postman/src/application/postman/app/PostmanServiceClient.ts
  postman/src/application/postman/persistence/repositories/TypeOrmMessageRepository.ts
  postman/src/core/metrics/IMetricsService.ts
  postman/src/core/metrics/ITransactionMetricsUpdater.ts
  postman/src/core/metrics/index.ts
  postman/src/services/processors/MessageClaimingPersister.ts
  postman/src/services/processors/__tests__/MessageClaimingPersister.test.ts
Due: none

update to rc11-hotfix (eb3fc85)
  prover/zkevm/arithmetization/zkevm.bin
Due: none

2 more unit tests for clproofverifier
  contracts/test/hardhat/common/constants/yield.ts
  contracts/test/hardhat/yield/unit/CLProofVerifier.ts
Due: hardhat

successfully adjusted clfproofverifier unit tests
  contracts/test/hardhat/yield/helpers/proof.ts
  contracts/test/hardhat/yield/unit/CLProofVerifier.ts
Due: hardhat

feat: globalcs ok
  prover/protocol/compiler/globalcs/evaluation.go
Due: none

fix: add revert when balance == 0 in burner contract
  contracts/src/operational/L1LineaTokenBurner.sol
  contracts/src/operational/interfaces/IL1LineaTokenBurner.sol
  contracts/test/hardhat/operational/L1LineaTokenBurner.ts
Due: hardhat

chore: update contract mdx doc
  contracts/docs/api/operational/interfaces/IL1LineaTokenBurner.mdx
Due: hardhat

refactor: update column names for rc11-hotfix
  prover/zkevm/prover/ecdsa/ecdsa.go
  prover/zkevm/prover/publicInput/public_input.go
  prover/zkevm/prover/statemanager/arith_columns.go
Due: none

feat: protocol/compiler/horner/ ok
  prover/protocol/compiler/horner/horner.go
Due: none

feat: innerproduct ok
  prover/protocol/compiler/innerproduct/verifier.go
Due: none

feat: logderivativesum ok
  prover/protocol/compiler/logderivativesum/logderivativesum.go
Due: none

successfully converted 0x02 validator
  contracts/src/_testing/unit/yield/vendor/libs/SSZMerkleTree.sol
  contracts/test/hardhat/yield/helpers/proof.ts
  contracts/test/hardhat/yield/unit/CLProofVerifier.ts
Due: hardhat
