Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

fix: claimOnL1 custom address param issue and tests
  sdk/sdk-viem/src/actions/claimOnL1.test.ts
  sdk/sdk-viem/src/actions/claimOnL1.ts
  sdk/sdk-viem/src/actions/claimOnL2.test.ts
  sdk/sdk-viem/src/actions/deposit.test.ts
  sdk/sdk-viem/src/actions/getMessageByMessageHash.test.ts
  sdk/sdk-viem/src/actions/getMessageProof.test.ts
  sdk/sdk-viem/src/actions/getMessageProof.ts
  sdk/sdk-viem/src/actions/getMessagesByTransactionHash.test.ts
  sdk/sdk-viem/src/actions/getTransactionReceiptByMessageHash.test.ts
  sdk/sdk-viem/src/actions/withdraw.test.ts
Due: none

fix decorators
  sdk/sdk-viem/src/decorators/walletL1.test.ts
  sdk/sdk-viem/src/decorators/walletL1.ts
Due: none

configure unit tests to use KOALABEAR_16
  .github/workflows/reusable-tracer-unit-tests.yml
  tracer/gradle/corset.gradle
Due: none

feat: add versions for sequencer release and besu pkg
  gradle/libs.versions.toml
  linea-besu-package/versions.env
Due: none

allow testing contracts to be big
  contracts/hardhat.config.ts
  contracts/hardhat_overrides.ts
Due: hardhat

fix: extract-constraints-git-archive make command with new folder name for constraints
  prover/Makefile
Due: none

Fix/update viem sdk package (#1892)
  sdk/sdk-viem/src/actions/claimOnL1.test.ts
  sdk/sdk-viem/src/actions/claimOnL1.ts
  sdk/sdk-viem/src/actions/claimOnL2.test.ts
  sdk/sdk-viem/src/actions/claimOnL2.ts
  sdk/sdk-viem/src/actions/deposit.test.ts
  sdk/sdk-viem/src/actions/deposit.ts
  sdk/sdk-viem/src/actions/getBlockExtraData.ts
  sdk/sdk-viem/src/actions/getL1ToL2MessageStatus.test.ts
  sdk/sdk-viem/src/actions/getL1ToL2MessageStatus.ts
  sdk/sdk-viem/src/actions/getL2ToL1MessageStatus.test.ts
  sdk/sdk-viem/src/actions/getL2ToL1MessageStatus.ts
  sdk/sdk-viem/src/actions/getMessageByMessageHash.test.ts
  sdk/sdk-viem/src/actions/getMessageByMessageHash.ts
  sdk/sdk-viem/src/actions/getMessageProof.test.ts
  sdk/sdk-viem/src/actions/getMessageProof.ts
  sdk/sdk-viem/src/actions/getMessageSentEvents.ts
  sdk/sdk-viem/src/actions/getMessagesByTransactionHash.test.ts
  sdk/sdk-viem/src/actions/getMessagesByTransactionHash.ts
  sdk/sdk-viem/src/actions/getTransactionReceiptByMessageHash.test.ts
  sdk/sdk-viem/src/actions/getTransactionReceiptByMessageHash.ts
  sdk/sdk-viem/src/actions/withdraw.test.ts
  sdk/sdk-viem/src/actions/withdraw.ts
  sdk/sdk-viem/src/decorators/publicL1.ts
  sdk/sdk-viem/src/decorators/walletL1.test.ts
  sdk/sdk-viem/src/decorators/walletL1.ts
  sdk/sdk-viem/src/errors/account.test.ts
  sdk/sdk-viem/src/errors/account.ts
  sdk/sdk-viem/src/errors/bridge.test.ts
  sdk/sdk-viem/src/errors/bridge.ts
  sdk/sdk-viem/src/index.ts
  sdk/sdk-viem/src/utils/computeMessageHash.ts
  sdk/sdk-viem/src/utils/getNextMessageNonce.ts
Due: none

chore(global): bump Node.js and pnpm
  .nvmrc
  contracts/package.json
  operations/package.json
  package.json
Due: hardhat

chore: bump geth to 1.16.8 and erigon to linea-patched image
  docs/getting-started/linea-mainnet/docker-compose.yml
  docs/getting-started/linea-sepolia/docker-compose.yml
Due: none

introduce fee for forced transaction
  contracts/common/constants/roles.ts
  contracts/hardhat.config.ts
  contracts/src/libraries/Poseidon2.sol
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/forcedTransactions/ForcedTransactionGateway.sol
  contracts/src/rollup/forcedTransactions/interfaces/IAcceptForcedTransactions.sol
  contracts/src/rollup/forcedTransactions/interfaces/IForcedTransactionGateway.sol
  contracts/test/hardhat/common/constants/forcedTransaction.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
  contracts/test/hardhat/rollup/helpers/forced-transaction.ts
Due: hardhat

test permissions on sequencer release
  .github/workflows/linea-sequencer-plugin-release.yml
Due: none

try release installing go
  .github/workflows/linea-sequencer-plugin-release.yml
Due: none

try setup tracer
  .github/workflows/linea-sequencer-plugin-release.yml
Due: none

fix: make command zkevm/arithmetization/zkevm.bin
  prover/Makefile
Due: none

fix: SumMerkleDamgardDynamicLength
  prover/circuits/blobdecompression/v2/circuit.go
  prover/go.mod
  prover/go.sum
  prover/utils/gnarkutil/hash.go
Due: none

use unit in the forced transaction fee
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/forcedTransactions/interfaces/IAcceptForcedTransactions.sol
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
Due: hardhat

update structure for address filter in finalization
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/interfaces/ILineaRollupBase.sol
  contracts/test/hardhat/common/helpers/dataGeneration.ts
  contracts/test/hardhat/common/types.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/rollup/LineaRollup/Finalization.ts
  contracts/test/hardhat/rollup/helpers/expect.ts
Due: hardhat

move comment
  contracts/src/rollup/LineaRollupBase.sol
Due: hardhat

checkpoint
  prover/protocol/compiler/standard_benchmark_test.go
Due: none

improve gnarkfext
  prover/maths/field/gnarkfext/e2_gen.go
  prover/maths/field/gnarkfext/hints.go
  prover/protocol/compiler/standard_benchmark_test.go
Due: none

fix a few errors in the shomei trace inspector
  prover/backend/execution/statemanager/parsing_test.go
  prover/backend/execution/statemanager/proof_checks.go
  prover/backend/execution/statemanager/types.go
  prover/backend/execution/statemanager/types_test.go
  prover/backend/execution/statemanager/worldstate.go
  prover/crypto/state-management/accumulator/deletion.go
  prover/crypto/state-management/accumulator/insertion.go
  prover/crypto/state-management/accumulator/readnonzero.go
  prover/crypto/state-management/accumulator/readzero.go
  prover/crypto/state-management/accumulator/update.go
  prover/crypto/state-management/accumulator/verifierstate_test.go
  prover/utils/types/account.go
  prover/utils/types/account_test.go
  prover/utils/types/common.go
  prover/utils/types/field_koalaoctuplet.go
Due: none

fix error when unjsoning account
  prover/utils/types/account.go
  prover/utils/types/common.go
Due: none

remove annoying v in linea-sequencer name
  .github/workflows/reuse-linea-besu-package-build-test-push.yml
  linea-besu-package/scripts/assemble-packages.sh
Due: none

Dump pg database on e2e tests log dump (#2031)
  .github/workflows/reuse-run-e2e-tests.yml
  config/coordinator/log4j2-dev.xml
Due: none

[Coordinator] Refactor blob compression proof flow part 1
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/MaxLongTracker.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofHandler.kt
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinatorIntTest.kt
  coordinator/persistence/blob/src/test/kotlin/net/consensys/zkevm/ethereum/coordinator/blob/BlobCompressionProofCoordinatorTest.kt
Due: kotlin

perf: cast intermediate result (#866)
  mmio/instructions.lisp
  mmio/patterns.lisp
Due: none

fix(protocol): debug wip
  prover/protocol/accessors/from_logderivsum.go
  prover/protocol/coin/coin.go
  prover/protocol/distributed/conglomeration_test.go
  prover/protocol/distributed/segment_compilation.go
  prover/protocol/wizard/gnark_verifier.go
Due: none

fix(recursion): bug fix for logderivsum accessor
  prover/protocol/compiler/recursion/circuit.go
Due: none
