Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

fix: TypeScript enum strip-only mode compatibility and missing deps
  contracts/common/supportedNetworks.ts
  contracts/package.json
  contracts/test/hardhat/common/constants/yield.ts
  contracts/test/hardhat/common/helpers/dataLoader.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/yield/helpers/deploy.ts
  contracts/test/hardhat/yield/helpers/mocks.ts
  contracts/test/hardhat/yield/helpers/proof.ts
  contracts/test/hardhat/yield/helpers/setup.ts
  contracts/test/hardhat/yield/unit/YieldManager.basic.ts
  contracts/test/hardhat/yield/unit/vendor/SSZ.ts
  pnpm-lock.yaml
Due: hardhat

fix: ESM module compatibility fixes for Hardhat v3
  contracts/test/hardhat/bridging/token/TokenBridge.ts
  contracts/test/hardhat/common/helpers/dataLoader.ts
  contracts/test/hardhat/messaging/MessageServiceBase.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
  contracts/test/hardhat/rollup/Validium.ts
  contracts/test/hardhat/rollup/helpers/before.ts
  contracts/test/hardhat/rollup/helpers/blob.ts
  contracts/test/hardhat/rollup/helpers/deploy.ts
  contracts/test/hardhat/yield/unit/vendor/GIndex.ts
  contracts/test/hardhat/yield/unit/vendor/SSZ.ts
Due: hardhat

fix: type-only barrel exports and type imports through index modules
  contracts/test/hardhat/yield/helpers/index.ts
  contracts/test/hardhat/yield/integration/YieldManager.integration.ts
  contracts/test/hardhat/yield/unit/ValidatorContainerProofVerifier.ts
  contracts/test/hardhat/yield/unit/YieldManager.funds.ts
Due: hardhat

fix: Add missing upgrades module functions and fix network context
  contracts/scripts/tokenBridge/test/deployBridgedTokenBeacon.ts
  contracts/scripts/tokenBridge/test/deployTokenBridges.ts
  contracts/scripts/tokenBridge/test/deployTokens.ts
  contracts/test/hardhat/common/upgrades.ts
Due: hardhat

doc(audit): add documentation consistency audit report
  docs/audit-report-2026-03-01.md
Due: none

chore: re-enable CodeQL java-kotlin analysis
  .github/workflows/codeql.yml
Due: none

fix: c-kzg ESM import - use default import instead of namespace
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
  contracts/test/hardhat/rollup/helpers/blob.ts
Due: hardhat

fix: explicit network name in connection.ts for allowUnlimitedContractSize
  contracts/test/hardhat/common/connection.ts
Due: hardhat

fix: Additional ESM import path fixes
  contracts/package.json
  contracts/test/hardhat/operational/V3DexSwapAdapter.ts
  contracts/test/hardhat/operational/V3DexWethDepositAdapter.ts
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
  contracts/test/hardhat/rollup/LineaRollup/Finalization.ts
  contracts/test/hardhat/rollup/helpers/blob.ts
  contracts/test/hardhat/rollup/helpers/expect.ts
  contracts/test/hardhat/yield/helpers/mocks.ts
  contracts/test/hardhat/yield/helpers/proof.ts
  contracts/test/hardhat/yield/helpers/setup.ts
  contracts/test/hardhat/yield/integration/YieldManager.integration.ts
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProvider.basic.ts
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProvider.yield.ts
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProviderFactory.ts
  contracts/test/hardhat/yield/unit/LineaRollupYieldExtension.ts
  contracts/test/hardhat/yield/unit/ValidatorContainerProofVerifier.ts
  contracts/test/hardhat/yield/unit/YieldManager.basic.ts
  contracts/test/hardhat/yield/unit/YieldManager.controls.ts
  contracts/test/hardhat/yield/unit/YieldManager.funds.ts
  contracts/test/hardhat/yield/unit/vendor/GIndex.ts
  contracts/test/hardhat/yield/unit/vendor/SSZ.ts
  pnpm-lock.yaml
Due: hardhat

fix: explicit hardhat network, mnemonic resolution, kzg trusted setup
  contracts/test/hardhat/rollup/helpers/blob.ts
  contracts/test/hardhat/rollup/helpers/wallet.ts
Due: hardhat

fix: Share single network connection across test helpers
  contracts/test/hardhat/common/deployment.ts
  contracts/test/hardhat/common/hardhat-connection.ts
  contracts/test/hardhat/common/hardhat-ethers.ts
  contracts/test/hardhat/common/hardhat-network-helpers.ts
  contracts/test/hardhat/common/upgrades.ts
  contracts/test/hardhat/messaging/MessageServiceBase.ts
  contracts/test/hardhat/security/RateLimiter.ts
Due: hardhat

fix: remaining .reverted matchers, nonce calc for token bridge deploy
  contracts/scripts/tokenBridge/test/deployTokenBridges.ts
  contracts/test/hardhat/bridging/token/MockedE2E.ts
  contracts/test/hardhat/bridging/token/TokenBridge.ts
  contracts/test/hardhat/yield/unit/YieldManager.funds.ts
Due: hardhat

fix: idempotent kzg.loadTrustedSetup calls for multi-file tests
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/rollup/helpers/blob.ts
Due: hardhat

fix: Use shared network connection in deployment scripts
  contracts/hardhat.config.ts
  contracts/hardhat_overrides.ts
  contracts/scripts/tokenBridge/test/deployBridgedTokenBeacon.ts
  contracts/scripts/tokenBridge/test/deployTokenBridges.ts
  contracts/scripts/tokenBridge/test/deployTokens.ts
  contracts/test/hardhat/common/hardhat-connection.ts
Due: hardhat

fix: Update deprecated chai matchers and fix library linking
  contracts/test/hardhat/bridging/token/MockedE2E.ts
  contracts/test/hardhat/messaging/MessageServiceBase.ts
  contracts/test/hardhat/messaging/l1/L1MessageService.ts
  contracts/test/hardhat/messaging/l2/L2MessageService.ts
  contracts/test/hardhat/recovery/RecoverFunds.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
  contracts/test/hardhat/rollup/LineaRollup/Finalization.ts
  contracts/test/hardhat/rollup/Validium.ts
  contracts/test/hardhat/verifiers/PlonkVerifierForDataAggregation.ts
  contracts/test/hardhat/yield/integration/YieldManager.integration.ts
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProvider.basic.ts
  contracts/test/hardhat/yield/unit/LineaRollupYieldExtension.ts
  contracts/test/hardhat/yield/unit/YieldManager.basic.ts
  contracts/test/hardhat/yield/unit/YieldManager.controls.ts
  contracts/test/hardhat/yield/unit/YieldManager.funds.ts
Due: hardhat

fix: L1MessageService nonce, shared ProxyAdmin revert, merkle proof tests
  contracts/test/hardhat/messaging/l1/L1MessageService.ts
Due: hardhat

fix: PlonkVerifier TypeChain library key and cascading snapshot failures
  contracts/test/hardhat/verifiers/PlonkVerifierForDataAggregation.ts
Due: hardhat

fix: missing await on async assertions (pre-existing bugs)
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
Due: hardhat

fix: BlobSubmission test - correct isMultiple flag in shnarf data
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
Due: hardhat

fix: clear stale snapshots before yield tests to prevent HHE60013
  contracts/hardhat.config.ts
  contracts/src/_testing/unit/verifiers/TestPlonkVerifierForDataAggregation.sol
  contracts/src/verifiers/PlonkVerifierForDataAggregation.sol
  contracts/test/hardhat/_testData/compressedData/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-82-153.json
  contracts/test/hardhat/_testData/compressedData/test/aggregatedProof-1-46.json
  contracts/test/hardhat/_testData/compressedDataEip4844/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-82-153.json
  contracts/test/hardhat/_testData/compressedDataEip4844/test/aggregatedProof-1-46.json
  contracts/test/hardhat/yield/helpers/deploy.ts
  contracts/test/hardhat/yield/integration/YieldManager.integration.ts
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProvider.basic.ts
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProvider.yield.ts
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProviderFactory.ts
  contracts/test/hardhat/yield/unit/LineaRollupYieldExtension.ts
  contracts/test/hardhat/yield/unit/YieldManager.basic.ts
  contracts/test/hardhat/yield/unit/YieldManager.controls.ts
  contracts/test/hardhat/yield/unit/YieldManager.funds.ts
Due: hardhat

fix: add clearSnapshots to integration test, clean up local wrappers
  contracts/test/hardhat/common/deployment.ts
  contracts/test/hardhat/yield/integration/YieldManager.integration.ts
Due: hardhat

chores(limitless): reinstate the zkevm/limitless.go
  prover/zkevm/limitless.go
Due: none

chores(limitless); reinstate the limitless circuit
  prover/circuits/execution/builder_limitless.go
  prover/circuits/execution/circuit.go
Due: none

minor: bug fixes
  prover/protocol/distributed/distribute.go
  prover/protocol/distributed/module_discovery.go
  prover/protocol/distributed/module_filtering.go
  prover/protocol/distributed/module_lpp.go
Due: none

more testing for conglomeration basic
  prover/protocol/distributed/conglomeration_test.go
  prover/protocol/distributed/distribute_test.go
  prover/protocol/distributed/helper_test.go
  prover/protocol/distributed/module_discovery_test.go
Due: none

feat: implements module discovery advices for the distributed testcases and uses it for the conglomeration.
  prover/protocol/distributed/conglomeration_test.go
  prover/protocol/distributed/distribute_test.go
Due: none

fixup: uses the Advices in the TestDistributedWizard
  prover/protocol/distributed/distribute_test.go
Due: none

sequencer plugin: log blocked address filtering as INFO
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/AllowedAddressTransactionSelector.java
Due: none

sequencer plugin: log blocked addresses in validator as INFO
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/validators/DeniedAddressValidator.java
Due: none

style: replace full qualifiers with imports in acceptance tests
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/EIP7702AuthListDenyReloadTest.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/EIP7702AuthListDenyTest.kt
Due: none

delete godepgraph
  prover/godepgraph.pdf
Due: none

refactor: use real CodeDelegation in denied/allowed address tests
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/DeniedAddressValidatorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/AllowedAddressTransactionSelectorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/utils/EIP7702TestUtils.java
Due: none

refactor: extract assertDeniedWithMessage helper in validator test
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/DeniedAddressValidatorTest.java
Due: none

fix(factory): fix setState to also set the value of lastSum
  prover/crypto/hasherfactory_koalabear/factories.go
Due: none

[Coordinator] Cleanup prover version from coordinator config (#2501)
  config/coordinator/coordinator-config-v2.toml
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ProverToml.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ProverParsingTest.kt
Due: kotlin

clean remove a few noisy logs in the compilation
  prover/protocol/wizard/prover.go
Due: none

remove noisy logs in the VerifierCircuit
  prover/protocol/wizard/gnark_verifier.go
Due: none

refactor: extract denied-message suffix constant in validator test
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/DeniedAddressValidatorTest.java
Due: none

fix: use datatypes.CodeDelegation and sign test transactions
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/DeniedAddressValidatorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/AllowedAddressTransactionSelectorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/utils/EIP7702TestUtils.java
Due: none

refactor: remove unused sender parameter from test helpers
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/AllowedAddressTransactionSelectorTest.java
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
