Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

Feat/state manager part2 (#1950)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blockdata/Blockdata.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blockdata/BlockdataOperation.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/statemanager/BlockwiseAccountTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/statemanager/BlockwiseStorageTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/statemanager/ConflationAccountTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/statemanager/ConflationStorageTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/statemanager/StateManagerUtils.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/statemanager/TransactionAccountTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/statemanager/TransactionStorageTest.java
Due: none

RLP Writing of eip1559 tx
  contracts/src/_testing/unit/libraries/TestEip1559RlpEncoder.sol
  contracts/src/libraries/Eip1559RlpEncoder.sol
  contracts/src/libraries/RlpWriter.sol
  contracts/src/messaging/l1/v1/L1MessageServiceV1.sol
  contracts/src/messaging/l2/v1/L2MessageServiceV1.sol
  contracts/src/rollup/LineaRollup.sol
  contracts/src/security/pausing/PauseManager.sol
  contracts/src/verifiers/PlonkVerifierDev.sol
  contracts/test/foundry/LineaRollup.t.sol
  contracts/test/hardhat/_testData/eip1559RlpEncoderTransactions/withCalldata.json
  contracts/test/hardhat/_testData/eip1559RlpEncoderTransactions/withoutCalldata.json
  contracts/test/hardhat/common/helpers/hashing.ts
  contracts/test/hardhat/common/types.ts
  contracts/test/hardhat/libraries/Eip1559RlpEncoder.ts
Due: hardhat

remove restriction
  contracts/test/hardhat/libraries/Eip1559RlpEncoder.ts
Due: hardhat

reset with pnpm i
  contracts/src/libraries/RlpWriter.sol
  contracts/src/messaging/l1/v1/L1MessageServiceV1.sol
  contracts/src/messaging/l2/v1/L2MessageServiceV1.sol
  contracts/src/rollup/LineaRollup.sol
  contracts/src/verifiers/PlonkVerifierDev.sol
  pnpm-lock.yaml
Due: hardhat

fix/display-wallet-btn-for-non-connected-users
  bridge-ui/package.json
  bridge-ui/src/app/native-bridge/layout.tsx
  bridge-ui/src/app/native-bridge/page.module.scss
  bridge-ui/src/app/native-bridge/page.tsx
  bridge-ui/src/app/page.module.scss
  bridge-ui/src/app/page.tsx
  bridge-ui/src/components/bridge/bridge-layout/index.tsx
  bridge-ui/src/components/bridge/destination-address/index.tsx
  bridge-ui/src/components/bridge/form/index.tsx
  bridge-ui/src/components/bridge/submit/index.tsx
  bridge-ui/src/components/bridge/submit/submit.module.scss
  bridge-ui/src/components/layouts/Layout.tsx
  bridge-ui/src/components/layouts/layout.module.scss
  bridge-ui/src/hooks/useTransactionHistory.ts
  pnpm-lock.yaml
Due: none

fix(permutation); fix compilation error coming from conflict and clean the folder
  prover/protocol/compiler/permutation/permutation.go
  prover/protocol/compiler/permutation/permutation_full.go
  prover/protocol/compiler/permutation/permutation_to_grand_product.go
Due: none

cleanup(wizard): makes the gnark verifier flow identical to the non-gnark one
  prover/protocol/wizard/gnark_verifier.go
Due: none

clean-up
  .github/workflows/bridge-ui-e2e-tests.yml
  bridge-ui/package.json
  bridge-ui/src/utils/cctp.spec.ts
  bridge-ui/src/utils/history/fetchCctpBridgeEvents.ts
  bridge-ui/src/utils/history/fetchETHBridgeEvents.ts
Due: none

test
  .github/workflows/bridge-ui-e2e-tests.yml
Due: none

change get token balance mechanic
  .github/workflows/bridge-ui-e2e-tests.yml
  bridge-ui/src/components/bridge/transaction-history/index.tsx
  bridge-ui/test/advancedFixtures.ts
  bridge-ui/test/e2e/bridge-l1-l2.spec.ts
  bridge-ui/test/utils/getBridgeTransactionsCountImpl.ts
  bridge-ui/test/utils/index.ts
  bridge-ui/test/utils/selectTokenAndWaitForBalance.ts
Due: none

fix import
  bridge-ui/test/advancedFixtures.ts
  bridge-ui/test/utils/getNativeBridgeTransactionsCountImpl.ts
Due: none

fixes
  bridge-ui/src/components/bridge/transaction-history/index.tsx
  bridge-ui/test/advancedFixtures.ts
  bridge-ui/test/constants.ts
  bridge-ui/test/e2e/bridge-l1-l2.spec.ts
  bridge-ui/test/utils/selectTokenAndWaitForBalance.ts
Due: none

clean up
  bridge-ui/test/advancedFixtures.ts
  bridge-ui/test/e2e/bridge-l1-l2.spec.ts
Due: none

test
  pnpm-lock.yaml
Due: none

feat: delete all aggregation records from last finalized block plus one onwards
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/L1DependentAppTest.kt
Due: kotlin

Modified round number to be Int instead of Long in BeaconBlockHeader (#69)
  maru/consensus/src/main/kotlin/maru/consensus/qbft/QbftBlockCreator.kt
  maru/consensus/src/main/kotlin/maru/consensus/qbft/adapters/QbftBlockInterfaceAdapter.kt
  maru/consensus/src/test/kotlin/maru/consensus/qbft/QbftBlockCreatorTest.kt
  maru/consensus/src/test/kotlin/maru/consensus/qbft/adapters/QbftBlockInterfaceAdapterTest.kt
  maru/core/src/main/kotlin/maru/core/BeaconBlockHeader.kt
  maru/core/src/testFixtures/kotlin/maru/core/ext/DataGenerators.kt
  maru/serialization/src/main/kotlin/maru/serialization/rlp/BeaconBlockHeaderSerializer.kt
  maru/serialization/src/test/kotlin/maru/serialization/rlp/BeaconBlockHeaderSerializerTest.kt
  maru/serialization/src/test/kotlin/maru/serialization/rlp/BeaconBlockSerializerTest.kt
  maru/serialization/src/test/kotlin/maru/serialization/rlp/BeaconStateSerializerTest.kt
  maru/serialization/src/test/kotlin/maru/serialization/rlp/SealedBeaconBlockSerializerTest.kt
Due: none

feat: code linting
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
Due: kotlin

use better variable name
  contracts/src/libraries/RlpWriter.sol
Due: hardhat

try headless
  .github/workflows/bridge-ui-e2e-tests.yml
  bridge-ui/test/constants.ts
  pnpm-workspace.yaml
Due: none

feat(mimc): implements an external hasher builder
  prover/crypto/mimc/factories.go
  prover/crypto/mimc/gkrmimc/factory.go
Due: none

redo headful
  .github/workflows/bridge-ui-e2e-tests.yml
Due: none

rename and add NatSpec
  contracts/src/libraries/Eip1559RlpEncoder.sol
  contracts/src/libraries/RlpEncoder.sol
  contracts/src/libraries/RlpWriter.sol
  contracts/test/hardhat/common/types.ts
  contracts/test/hardhat/libraries/Eip1559RlpEncoder.ts
Due: hardhat

[Feat] Bridge UI Test Workflow (#814)
  .github/actions/setup-nodejs/action.yml
  .github/workflows/bridge-ui-e2e-tests.yml
  bridge-ui/package.json
  bridge-ui/playwright.config.ts
  bridge-ui/src/components/bridge/claiming/received-amount/index.tsx
  bridge-ui/src/components/bridge/form/index.tsx
  bridge-ui/src/components/bridge/modal/confirm-destination-address/index.tsx
  bridge-ui/src/components/bridge/modal/token-modal/token-details/index.tsx
  bridge-ui/src/components/bridge/token-list/index.tsx
  bridge-ui/src/components/bridge/transaction-history/index.tsx
  bridge-ui/src/components/bridge/transaction-history/list-transaction/index.tsx
  bridge-ui/src/components/setting/index.tsx
  bridge-ui/src/components/ui/toggle-switch/index.tsx
  bridge-ui/src/types/cctp.ts
  bridge-ui/src/utils/cctp.spec.ts
  bridge-ui/src/utils/cctp.ts
  bridge-ui/test/advancedFixtures.ts
  bridge-ui/test/constants.ts
  bridge-ui/test/e2e/bridge-l1-l2.spec.ts
  bridge-ui/test/utils/getNativeBridgeTransactionsCountImpl.ts
  bridge-ui/test/utils/index.ts
  bridge-ui/test/utils/selectTokenAndWaitForBalance.ts
  bridge-ui/test/wallet-setup/metamask.setup.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

cleanup(KarmaNFT): remove unused `Ownable` import
  test/KarmaNFT.t.sol
Due: none

finish test coverage and split helper file
  contracts/src/_testing/unit/libraries/TestRlpEncoder.sol
  contracts/src/libraries/RlpEncoder.sol
  contracts/test/hardhat/common/helpers/index.ts
  contracts/test/hardhat/common/helpers/typedTransactionBuilding.ts
  contracts/test/hardhat/libraries/Eip1559RlpEncoder.ts
  contracts/test/hardhat/libraries/RlpEncoder.ts
Due: hardhat

cleanup: specify exact compiler version
  src/Karma.sol
  src/KarmaNFT.sol
  src/RewardsStreamerMP.sol
  src/StakeVault.sol
  src/TransparentProxy.sol
  src/TrustedCodehashAccess.sol
  src/VaultFactory.sol
  src/interfaces/INFTMetadataGenerator.sol
  src/interfaces/IRewardDistributor.sol
  src/interfaces/IStakeConstants.sol
  src/interfaces/IStakeManager.sol
  src/interfaces/IStakeManagerProxy.sol
  src/interfaces/IStakeVault.sol
  src/interfaces/ITransparentProxy.sol
  src/interfaces/ITrustedCodehashAccess.sol
  src/math/MultiplierPointMath.sol
  src/math/StakeMath.sol
Due: none

fix attempt
  bridge-ui/src/components/bridge/submit/index.tsx
Due: none

add new e2e test
  bridge-ui/test/advancedFixtures.ts
  bridge-ui/test/e2e/bridge-l1-l2.spec.ts
Due: none

add new ci comments
  .github/workflows/bridge-ui-e2e-tests.yml
Due: none

new ci key
  .github/workflows/bridge-ui-e2e-tests.yml
Due: none

clean(plonk-in-wizard): reorganize the package handling plonk in wizard
  prover/protocol/internal/plonkinternal/compile.go
  prover/protocol/internal/plonkinternal/context.go
  prover/protocol/internal/plonkinternal/external_rangechecker.go
  prover/protocol/internal/plonkinternal/external_rangechecker_test.go
  prover/protocol/internal/plonkinternal/options.go
  prover/protocol/internal/plonkinternal/prover_commit.go
  prover/protocol/internal/plonkinternal/prover_nocommit.go
Due: none

compute totalLen in assembly 2k gas save
  contracts/src/libraries/RlpEncoder.sol
Due: hardhat

reorg(counterPrecomputed): creates a specific type of precomputed columns that caches itself
  prover/protocol/compiler/specialqueries/fixed_permutation.go
  prover/protocol/dedicated/counter_precomputed.go
Due: none

!refactor(RewardsStreamerMP): rename `RewardsStreamerMP` to `StakeManager`
  .gas-report
  .gas-snapshot
  .github/workflows/ci.yml
  certora/confs/EmergencyMode.conf
  certora/confs/MPLessEqualMaxMP.conf
  certora/confs/StakeManager.conf
  certora/confs/StakeVault.conf
  certora/specs/EmergencyMode.spec
  certora/specs/StakeManager.spec
  certora/specs/StakeVault.spec
  certora/specs/shared.spec
  package.json
  script/DeployStakeManager.s.sol
  script/UpgradeStakeManager.s.sol
  src/StakeManager.sol
  src/interfaces/IStakeManager.sol
  test/RewardsStreamerMP.t.sol
  test/StakeVault.test.sol
Due: none

reuse memory variable for consistency
  contracts/src/libraries/RlpEncoder.sol
Due: hardhat

chore(release): 0.2.0
  CHANGELOG.md
  package.json
Due: none

add larger calldata test
  contracts/test/hardhat/_testData/eip1559RlpEncoderTransactions/withLargeCalldata.json
  contracts/test/hardhat/libraries/Eip1559RlpEncoder.ts
Due: hardhat

support access lists
  contracts/src/libraries/Eip1559RlpEncoder.sol
  contracts/src/libraries/RlpEncoder.sol
  contracts/test/hardhat/_testData/eip1559RlpEncoderTransactions/withCalldataAndAccessList.json
  contracts/test/hardhat/common/helpers/typedTransactionBuilding.ts
  contracts/test/hardhat/common/types.ts
  contracts/test/hardhat/libraries/Eip1559RlpEncoder.ts
Due: hardhat

use standard naming conventions
  contracts/src/_testing/unit/libraries/TestEip1559RlpEncoder.sol
  contracts/src/libraries/Eip1559RlpEncoder.sol
Due: hardhat

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
