Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

implemented YieldManager::safeAddToWithdrawalReserve
  contracts/contracts/yield/YieldManager.sol
  contracts/test/yield/unit/YieldManager.funds.ts
Due: hardhat

fix YieldManager.funds.ts test
  contracts/test/yield/unit/YieldManager.funds.ts
Due: hardhat

rm redundant double bracket
  contracts/contracts/yield/LidoStVaultYieldProvider.sol
Due: hardhat

minor(logs): adds info in the panic message when finding two global constraints with different domain size
  prover/protocol/compiler/globalcs/merging.go
Due: none

fix: panic message for local openings on verifier cols
  prover/protocol/query/local.go
Due: none

Revert "fix: panic message for local openings on verifier cols"
  prover/protocol/query/local.go
Due: none

change LSTMinted event param name
  contracts/contracts/yield/interfaces/IYieldManager.sol
Due: hardhat

fix: make NBytes chain id not be a verifier col
  prover/zkevm/prover/publicInput/fetchers_arithmetization/chain_id_fetcher.go
Due: none

Added agents.md file (#466)
  maru/AGENTS.md
Due: none

coordinator: allow aggregation deadline to skip no l2 activity requirement
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/ConflationConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ConflationToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ConflationParsingTest.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Aggregation.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByDeadline.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByDeadlineTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/GlobalAggregationCalculatorTest.kt
Due: kotlin

reverting config files
  prover/config/config-sepolia-limitless.toml
  prover/config/config_default.go
  prover/config/traces_limit.go
Due: none

add encoding functions
  prover/crypto/vortex/vortex_bls12377/gnark_commitment.go
  prover/crypto/vortex/vortex_bls12377/gnark_test.go
  prover/crypto/vortex/vortex_bls12377/gnark_utils.go
  prover/crypto/vortex/vortex_bls12377/verifier.go
Due: none

fix(accumulator): compilation errors fixes (wip)
  prover/zkevm/prover/common/flatten_column.go
  prover/zkevm/prover/statemanager/accumulator/assign.go
  prover/zkevm/prover/statemanager/accumulator/define.go
Due: none

coordinator: fix potential NPE
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByDeadline.kt
Due: kotlin

add mainnet test
  contracts/test/hardhat/_testData/betaV4_1_mainnet/proof/25472845-25473115-e76c58a6fad553315848a4e8f1793bfef5667a5434de1fdbc45d4a324c3301d6-getZkAggregatedProof.json
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
Due: hardhat

fix compiler err after merging with main
  prover/cmd/controller/controller/controller.go
  prover/cmd/controller/controller/controller_test.go
  prover/cmd/controller/controller/executor.go
  prover/config/config.go
  prover/go.mod
  prover/maths/field/bls12_377.go
Due: none

fix more compiler err after merging with main
  prover/protocol/serialization/zkevm_test.go
  prover/zkevm/arithmetization/zkevm.bin
Due: none

fix: TestEvaluateLagrangeCircuit ok
  prover/crypto/vortex/vortex_bls12377/encode.go
  prover/crypto/vortex/vortex_bls12377/gnark_test.go
  prover/crypto/vortex/vortex_bls12377/gnark_utils.go
  prover/maths/field/gnarkfext/e2_gen.go
  prover/maths/field/gnarkfext/e4_gen.go
  prover/maths/zk/mixed_api.go
Due: none

coordinator: small rearange
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByDeadline.kt
Due: kotlin

coordinator: fix flacky test
  jvm-libs/generic/extensions/futures/src/test/kotlin/net/consensys/linea/async/AsyncRetryerTest.kt
Due: kotlin

rm compute lagrange test, as it is included in gnarkEvaluateLagrange
  prover/crypto/vortex/vortex_bls12377/gnark_test.go
Due: none

coordinator: fix race condition
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByDeadline.kt
Due: kotlin

add gnarkComputeLagrangeAtZ, for future tests, it's easier from a simplier test
  prover/crypto/vortex/vortex_bls12377/gnark_test.go
Due: none

fix: FFTInverse ok
  prover/crypto/vortex/vortex_bls12377/gnark_test.go
Due: none

AssertIsCodeWord ok
  prover/crypto/vortex/vortex_bls12377/gnark_test.go
  prover/crypto/vortex/vortex_bls12377/gnark_utils.go
Due: none

add limitless config for devnet
  prover/config/config-devnet-limitless.toml
Due: none

feat: add test for multiple overrides config files (#457)
  maru/app/src/main/kotlin/maru/app/MaruApp.kt
  maru/app/src/main/kotlin/maru/app/MaruAppCli.kt
  maru/app/src/main/kotlin/maru/app/MaruAppFactory.kt
  maru/app/src/test/kotlin/maru/app/MaruAppCliTest.kt
Due: none

feat: wip
  prover/crypto/poseidon2_bls12377/poseidon2_circuit.go
  prover/crypto/poseidon2_koalabear/poseidon2.go
Due: none

bump teku
  docker/compose-spec-l1-services.yml
Due: none

getProofVortexNCommitmentsWithMerkleNoSis ok
  prover/crypto/vortex/vortex_bls12377/encode.go
  prover/crypto/vortex/vortex_bls12377/gnark_test.go
  prover/crypto/vortex/vortex_bls12377/verifier.go
Due: none

chore(global): revert minimumReleaseAge exclusions (#1710)
  bridge-ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor: cleanup data type ,debug
  prover/crypto/vortex/vortex_bls12377/encode.go
  prover/crypto/vortex/vortex_bls12377/gnark_commitment.go
  prover/crypto/vortex/vortex_bls12377/gnark_test.go
  prover/crypto/vortex/vortex_bls12377/gnark_utils.go
Due: none

Prover/gnark vortex (#1722)
  prover/crypto/vortex/vortex_bls12377/encode.go
  prover/crypto/vortex/vortex_bls12377/gnark_commitment.go
  prover/crypto/vortex/vortex_bls12377/gnark_test.go
  prover/crypto/vortex/vortex_bls12377/gnark_utils.go
  prover/crypto/vortex/vortex_bls12377/verifier.go
  prover/maths/field/gnarkfext/e2_gen.go
  prover/maths/field/gnarkfext/e4_gen.go
  prover/maths/zk/mixed_api.go
Due: none

Qbft gossip validation (#454)
  maru/app/src/integrationTest/kotlin/maru/app/MaruMultiValidatorTest.kt
  maru/app/src/main/kotlin/maru/app/MaruApp.kt
  maru/consensus/build.gradle
  maru/consensus/src/main/kotlin/maru/consensus/qbft/MinimalQbftMessageDecoder.kt
  maru/consensus/src/main/kotlin/maru/consensus/qbft/QbftMessageProcessor.kt
  maru/consensus/src/main/kotlin/maru/consensus/qbft/QbftValidatorFactory.kt
  maru/consensus/src/main/kotlin/maru/consensus/validation/SealVerifier.kt
  maru/consensus/src/test/kotlin/maru/consensus/qbft/MinimalQbftMessageDecoderTest.kt
  maru/consensus/src/test/kotlin/maru/consensus/qbft/QbftMessageProcessorTest.kt
  maru/consensus/src/test/kotlin/maru/consensus/validation/SCEP256SealVerifierTest.kt
  maru/crypto/build.gradle
  maru/crypto/src/main/kotlin/maru/crypto/Crypto.kt
  maru/crypto/src/testFixtures/kotlin/maru/crypto/PrivateKeyGenerator.kt
  maru/jvm-libs/test-utils/src/main/kotlin/testutils/maru/MaruFactory.kt
  maru/p2p/src/main/kotlin/maru/p2p/ENR.kt
  maru/p2p/src/main/kotlin/maru/p2p/P2PNetworkImpl.kt
  maru/syncing/src/test/kotlin/maru/syncing/beaconchain/CLSyncServiceImplTest.kt
Due: none

clean: tx skip w address collision follow up of PR 2454 (#2474)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/skip/TxSkipSection.java
Due: none

Unorderd execute blocking
  jvm-libs/linea/core/long-running-service/src/main/kotlin/linea/timer/VertxTimer.kt
Due: kotlin

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
