Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

[Coordinator] Dynamic target end block numbers (#2671)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationAppHelper.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/DynamicBlockNumberSet.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByTargetBlockNumbers.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculator.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/DynamicBlockNumberSetTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByTargetBlockNumbersTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/GlobalAggregationCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculatorTest.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsApp.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/AggregationCalculatorByForcedTransaction.kt
Due: kotlin

chore: Changelog update (#504)
  maru/AGENTS.md
  maru/CHANGELOG.md
Due: none

feat: create interface LineaRollupSmartContractClientReadOnlyWithFinalizedState
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/ethereum/finalization-monitor/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImpl.kt
  coordinator/ethereum/finalization-monitor/src/test/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImplTest.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/contract/l1/LineaSmartContractClient.kt
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
Due: kotlin

fix verify hanging
  contracts/common/helpers/verifyContract.ts
  contracts/scripts/hardhat/run-verify-task.ts
  contracts/scripts/hardhat/signer-ui-bridge.ts
  contracts/scripts/hardhat/utils.ts
  contracts/signer-ui/app/globals.css
  contracts/signer-ui/app/page.tsx
Due: hardhat

docs(lido-governance-monitor): add evals.md
  native-yield-operations/lido-governance-monitor/docs/evals.md
Due: none

docs(lido-governance-monitor): use pnpm exec in evals.md run commands
  native-yield-operations/lido-governance-monitor/docs/evals.md
Due: none

docs(lido-governance-monitor): add usage instructions to run-eval.ts
  native-yield-operations/lido-governance-monitor/scripts/run-eval.ts
Due: none

chore: add comment
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitor.kt
Due: kotlin

fix: update sdk release worfklows
  .github/workflows/sdk-publish.yml
  .github/workflows/sdk-release.yml
  sdk/sdk-core/package.json
  sdk/sdk-viem/package.json
Due: none

fix: remove leading whitespace from PR body heredoc in sdk-release workflow
  .github/workflows/sdk-release.yml
Due: none

fix: prevent expression injection via github.ref in sdk workflows
  .github/workflows/sdk-publish.yml
  .github/workflows/sdk-release.yml
Due: none

fix: update sdk release worfklows (#2695)
  .github/workflows/sdk-publish.yml
  .github/workflows/sdk-release.yml
  sdk/sdk-core/package.json
  sdk/sdk-viem/package.json
Due: none

add signer on scripts
  contracts/scripts/hardhat/signer-ui-bridge.ts
  contracts/scripts/operational/yieldBoost/testing/addAndClaimMessageHelper.ts
  contracts/scripts/operational/yieldBoost/testing/unstakePermissionless.ts
Due: hardhat

fix(sdk-release): fix workflow syntax issues
  .github/workflows/sdk-release.yml
Due: none

fix(sdk-release): fix workflow syntax issues (#2697)
  .github/workflows/sdk-release.yml
Due: none

fix: rename fast fast-sync-min-peers to sync-min-peers
  linea-besu-package/linea-besu/profiles/advanced-mainnet.toml
  linea-besu-package/linea-besu/profiles/advanced-sepolia.toml
  linea-besu-package/linea-besu/profiles/basic-mainnet.toml
  linea-besu-package/linea-besu/profiles/basic-sepolia.toml
Due: none

typing fixes
  contracts/scripts/hardhat/signer-ui-bridge.ts
Due: hardhat

bugbot fixes
  contracts/common/helpers/verifyContract.ts
  contracts/scripts/hardhat/run-verify-task.ts
Due: hardhat

bugs
  contracts/scripts/hardhat/signer-ui-bridge.ts
  contracts/signer-ui/app/layout.tsx
  contracts/signer-ui/app/page.tsx
  contracts/signer-ui/eslint.config.mjs
Due: hardhat

Feat: FTX virtual trace generation
  tracer/arithmetization/build.gradle
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/RequestLimiter.java
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/GenerateVirtualBlockConflatedTracesV1.java
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/VirtualBlockTraceRequestParams.java
  tracer/arithmetization/src/main/java/net/consensys/linea/tracewriter/TraceWriter.java
  tracer/arithmetization/src/test/java/net/consensys/linea/plugins/rpc/tracegeneration/GenerateVirtualBlockConflatedTracesV1IntegrationTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/plugins/rpc/tracegeneration/VirtualBlockTraceRequestParamsTest.java
  tracer/plugins/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/TracesEndpointServicePlugin.java
Due: none

fix: added missing constraints, range check over FPI in invalidity circuit
  prover/circuits/invalidity/invalidity.go
  prover/circuits/invalidity/pi.go
Due: none

Spotless, fixed virtual conflation file naming
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/GenerateVirtualBlockConflatedTracesV1.java
  tracer/arithmetization/src/main/java/net/consensys/linea/tracewriter/TraceWriter.java
  tracer/arithmetization/src/test/java/net/consensys/linea/plugins/rpc/tracegeneration/GenerateVirtualBlockConflatedTracesV1IntegrationTest.java
Due: none

Fixes
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/TraceRequestParams.java
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/VirtualBlockTraceRequestParams.java
  tracer/arithmetization/src/main/java/net/consensys/linea/tracewriter/TraceWriter.java
Due: none

codeQL even though local
  contracts/signer-ui/app/page.tsx
Due: hardhat

Simplified the plugin registration, fixed the tests
  tracer/arithmetization/src/test/java/net/consensys/linea/plugins/rpc/tracegeneration/VirtualBlockTraceRequestParamsTest.java
  tracer/plugins/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/TracesEndpointServicePlugin.java
Due: none

Spotless
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/VirtualBlockTraceRequestParams.java
Due: none

refactor(tests): simplify LidoAccountingReportClient test setup
  native-yield-operations/automation-service/src/clients/__tests__/LidoAccountingReportClient.test.ts
Due: none

refactor(tests): replace beforeAll/await import with static imports
  native-yield-operations/automation-service/src/clients/contracts/__tests__/DashboardContractClient.test.ts
  native-yield-operations/automation-service/src/clients/contracts/__tests__/LazyOracleContractClient.test.ts
  native-yield-operations/automation-service/src/clients/contracts/__tests__/LineaRollupYieldExtensionContractClient.test.ts
  native-yield-operations/automation-service/src/clients/contracts/__tests__/STETHContractClient.test.ts
  native-yield-operations/automation-service/src/clients/contracts/__tests__/StakingVaultContractClient.test.ts
  native-yield-operations/automation-service/src/clients/contracts/__tests__/VaultHubContractClient.test.ts
  native-yield-operations/automation-service/src/clients/contracts/__tests__/YieldManagerContractClient.test.ts
  native-yield-operations/automation-service/src/services/__tests__/OperationModeSelector.test.ts
  native-yield-operations/automation-service/src/services/operation-mode-processors/__tests__/OssificationCompleteProcessor.test.ts
  native-yield-operations/automation-service/src/services/operation-mode-processors/__tests__/OssificationPendingProcessor.test.ts
  native-yield-operations/automation-service/src/services/operation-mode-processors/__tests__/YieldReportingProcessor.test.ts
  native-yield-operations/automation-service/src/services/operation-mode-processors/__tests__/vaultReportSubmission.test.ts
Due: none

session and factory
  contracts/deploy/03_deploy_ImplementationForProxy.ts
  contracts/deploy/03_deploy_LineaRollupWithReinitialization.ts
  contracts/deploy/04_deploy_L2MessageServiceWithReinitialization.ts
  contracts/deploy/05_deploy_BridgedToken.ts
  contracts/deploy/06_deploy_TokenBridge.ts
  contracts/deploy/06_deploy_TokenBridgeWithReinitialization.ts
  contracts/deploy/11_deploy_TestERC20.ts
  contracts/deploy/18_deploy_RollupRevenueVaultWithReinitialization.ts
  contracts/deploy/19_deploy_L1LineaTokenBurner.ts
  contracts/deploy/20_deploy_V3DexSwapAdapter.ts
  contracts/scripts/hardhat/utils.ts
  contracts/signer-ui/app/page.tsx
Due: hardhat

chore: update linea-besu-package image with shomei plugin 1.0.0
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
Due: none

clean up rs and fiatshamir
  prover/crypto/encoding/encode.go
  prover/crypto/encoding/encode_circuit.go
  prover/crypto/encoding/encoding_circuit_test.go
  prover/crypto/fiatshamir_koalabear/bitreader.go
  prover/crypto/fiatshamir_koalabear/fiatshamir_circuit.go
  prover/crypto/fiatshamir_koalabear/fiatshamir_circuit_test.go
  prover/crypto/fiatshamir_koalabear/interface.go
  prover/crypto/keccak/hash.go
  prover/crypto/keccak/hash_test.go
  prover/crypto/keccak/keccakf.go
  prover/crypto/keccak/reference_test.go
  prover/crypto/keccak/util.go
  prover/crypto/multisethashing_koalabear/msethash.go
  prover/crypto/multisethashing_koalabear/msethash_test.go
  prover/crypto/reedsolomon/reedsolomon_ext_test.go
  prover/crypto/reedsolomon/reedsolomon_test.go
  prover/maths/koalabear/field/elem.go
  prover/wiop/context.go
  prover/wiop/wiop_column.go
  prover/wiop/wiop_ids.go
  prover/wiop/wiop_round.go
  prover/wiop/wiop_runtime.go
  prover/wiop/wiop_system.go
Due: none

docs: add E2E CI runtime report design spec
  docs/superpowers/specs/2026-03-31-e2e-ci-runtime-report-design.md
Due: none

docs: add E2E CI runtime report implementation plan
  docs/superpowers/plans/2026-03-31-e2e-ci-runtime-report.md
Due: none

low fix
  contracts/common/helpers/verifyContract.ts
Due: hardhat

fix: refactor postman transaction lifecycle with viem improvements
  postman/.env.sample
  postman/src/core/constants/blockchain.ts
  postman/src/core/services/ITransactionRetrier.ts
  postman/src/core/services/contracts/IMessageServiceContract.ts
  postman/src/infrastructure/blockchain/viem/ViemTransactionRetrier.ts
  postman/src/infrastructure/blockchain/viem/__tests__/ViemTransactionRetrier.test.ts
  postman/src/infrastructure/blockchain/viem/clients/ViemLineaRollupClient.ts
  postman/src/infrastructure/blockchain/viem/gas/ViemEthereumGasProvider.ts
  postman/src/infrastructure/blockchain/viem/gas/ViemLineaGasProvider.ts
  postman/src/services/processors/MessageClaimingProcessor.ts
  postman/src/services/processors/ReceiptStatusResolver.ts
  postman/src/services/processors/TransactionLifecycleManager.ts
  postman/src/services/processors/__tests__/MessageClaimingPersister.test.ts
  postman/src/services/processors/__tests__/MessageClaimingProcessor.test.ts
  postman/src/services/processors/__tests__/TransactionLifecycleManager.test.ts
  postman/src/utils/testing/helpers.ts
Due: none

clean the ring-sis package
  prover/crypto/ringsis/ringsis.go
  prover/crypto/ringsis/ringsis_test.go
Due: none

refactor: rename hex.ts to primitives.ts and fix dual-write spin in retryWithBump
  postman/src/application/postman/app/config/config.ts
  postman/src/application/postman/app/config/schema.ts
  postman/src/core/clients/blockchain/ethereum/IMerkleTreeService.ts
  postman/src/core/constants/blockchain.ts
  postman/src/core/entities/Message.ts
  postman/src/core/services/ICalldataDecoder.ts
  postman/src/core/services/ITransactionValidationService.ts
  postman/src/core/services/processors/IL2ClaimMessageTransactionSizeProcessor.ts
  postman/src/core/services/processors/IL2ClaimTransactionSizeCalculator.ts
  postman/src/core/services/processors/IMessageAnchoringProcessor.ts
  postman/src/core/services/processors/IMessageClaimingProcessor.ts
  postman/src/core/services/processors/IMessageSentEventProcessor.ts
  postman/src/core/types/Block.ts
  postman/src/core/types/Log.ts
  postman/src/core/types/MessageSent.ts
  postman/src/core/types/TransactionReceipt.ts
  postman/src/core/types/TransactionRequest.ts
  postman/src/core/types/TransactionSubmission.ts
  postman/src/core/types/index.ts
  postman/src/core/types/primitives.ts
  postman/src/infrastructure/persistence/mappers/messageMappers.ts
  postman/src/services/processors/TransactionLifecycleManager.ts
  postman/src/services/processors/__tests__/TransactionLifecycleManager.test.ts
  postman/src/utils/testing/constants.ts
Due: none

bugs
  contracts/common/helpers/verifyContract.ts
Due: hardhat

fix: remove unused mock in tests
  postman/src/services/processors/__tests__/MessageClaimingProcessor.test.ts
Due: none
