Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

fix: update docs files with errors (#1506)
  tracer/docs/get-started.md
Due: none

statereover: smart contract client with static versions
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/LastFinalizedBlockProvider.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/L1BasedLastFinalizedBlockProviderTest.kt
  coordinator/clients/smart-contract-client/build.gradle
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/LineaRollupAsyncFriendly.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/LineaRollupEnhancedWrapper.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JFunctionBuilders.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupSmartContractClient.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
  coordinator/ethereum/message-anchoring/src/integrationTest/kotlin/net.consensys.zkevm.ethereum.coordination.messageanchoring/L1EventQuerierIntegrationTest.kt
  coordinator/ethereum/message-anchoring/src/integrationTest/kotlin/net.consensys.zkevm.ethereum.coordination.messageanchoring/MessageServiceIntegrationTest.kt
  coordinator/ethereum/message-anchoring/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/messageanchoring/L1EventQuerierImpl.kt
  coordinator/ethereum/message-anchoring/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/messageanchoring/L1EventQuerierImplTest.kt
  finalized-tag-updater/build.gradle
  finalized-tag-updater/src/main/kotlin/net/consensys/linea/FinalizationUpdatePoller.kt
  finalized-tag-updater/src/main/kotlin/net/consensys/linea/LineaL1FinalizationUpdaterService.kt
  state-recover/clients/smartcontract/build.gradle
Due: kotlin

fix: exo sum must be decoded for LIMB_VANISHES MMIO inst (#509)
  mmio/constraints.lisp
Due: none

statereover: smart contract client with static versions
  coordinator/ethereum/message-anchoring/src/integrationTest/kotlin/net.consensys.zkevm.ethereum.coordination.messageanchoring/L1EventQuerierIntegrationTest.kt
  coordinator/ethereum/message-anchoring/src/integrationTest/kotlin/net.consensys.zkevm.ethereum.coordination.messageanchoring/MessageServiceIntegrationTest.kt
Due: kotlin

staterecover: adds blobscan to local stack (#279)
  Makefile
  build.gradle
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/AccountManager.kt
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/CommonUtils.kt
  docker/compose.yml
  docker/config/blobscan/env
  docker/postgres/init/create-schema.sql
Due: kotlin

fix(modexpZero): mmio inst constant values (#1503)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/mmio/Mmio.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/mmio/MmioData.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/mmu/instructions/ModexpZero.java
Due: none

[Fix] M-01 Prevent fallback operator calling renounceRole (#298)
  contracts/contracts/LineaRollup.sol
  contracts/contracts/interfaces/l1/ILineaRollup.sol
  contracts/test/LineaRollup.ts
Due: hardhat

[Fix] - L-01 - Validate default admin and fallback operator (#305)
  contracts/contracts/LineaRollup.sol
  contracts/contracts/messageService/l2/L2MessageService.sol
  contracts/contracts/tokenBridge/TokenBridge.sol
  contracts/contracts/tokenBridge/interfaces/ITokenBridge.sol
  contracts/test/LineaRollup.ts
  contracts/test/messageService/l2/L2MessageService.ts
  contracts/test/tokenBridge/E2E.ts
Due: hardhat

remove extra NB: and add missing return value (#304)
  contracts/contracts/LineaRollup.sol
  contracts/contracts/interfaces/l1/IPlonkVerifier.sol
Due: hardhat

[Fix] - L-03 - Add better explicit docstrings (#307)
  contracts/contracts/LineaRollup.sol
  contracts/contracts/ZkEvmV2.sol
  contracts/contracts/lib/L2MessageServicePauseManager.sol
  contracts/contracts/lib/LineaRollupPauseManager.sol
  contracts/contracts/lib/PauseManager.sol
  contracts/contracts/messageService/MessageServiceBase.sol
  contracts/contracts/messageService/l1/L1MessageManager.sol
  contracts/contracts/messageService/l1/v1/L1MessageManagerV1.sol
  contracts/contracts/messageService/l1/v1/L1MessageServiceV1.sol
  contracts/contracts/messageService/l2/L2MessageManager.sol
  contracts/contracts/messageService/l2/v1/L2MessageManagerV1.sol
  contracts/contracts/messageService/l2/v1/L2MessageServiceV1.sol
  contracts/contracts/tokenBridge/TokenBridge.sol
Due: hardhat

use security contact and library description (#301)
  contracts/contracts/lib/Utils.sol
Due: hardhat

[Fix] N-02 - add indexes to pause events (#302)
  contracts/contracts/interfaces/IPauseManager.sol
Due: hardhat

[Fix] N-03 - Use 0x20 vs. 32 for memory offset (#300)
  contracts/contracts/LineaRollup.sol
  contracts/contracts/messageService/l1/L1MessageService.sol
  contracts/contracts/messageService/l2/v1/L2MessageServiceV1.sol
Due: hardhat

check permit allowance before calling permit (#306)
  contracts/contracts/tokenBridge/TokenBridge.sol
Due: hardhat

make some functions external (#299)
  contracts/contracts/tokenBridge/TokenBridge.sol
Due: hardhat

fix: gas price issue during global tests setup
  .github/workflows/reuse-run-e2e-tests.yml
  e2e/jest.config.ts
  e2e/src/config/jest/global-setup.ts
Due: none

statereover: improve contract versions (#320)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/LastFinalizedBlockProvider.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/L1BasedLastFinalizedBlockProviderTest.kt
  coordinator/clients/smart-contract-client/build.gradle
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/LineaRollupAsyncFriendly.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/LineaRollupEnhancedWrapper.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JFunctionBuilders.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupSmartContractClient.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
  coordinator/ethereum/message-anchoring/src/integrationTest/kotlin/net.consensys.zkevm.ethereum.coordination.messageanchoring/L1EventQuerierIntegrationTest.kt
  coordinator/ethereum/message-anchoring/src/integrationTest/kotlin/net.consensys.zkevm.ethereum.coordination.messageanchoring/MessageServiceIntegrationTest.kt
  coordinator/ethereum/message-anchoring/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/messageanchoring/L1EventQuerierImpl.kt
  coordinator/ethereum/message-anchoring/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/messageanchoring/L1EventQuerierImplTest.kt
  finalized-tag-updater/build.gradle
  finalized-tag-updater/src/main/kotlin/net/consensys/linea/FinalizationUpdatePoller.kt
  finalized-tag-updater/src/main/kotlin/net/consensys/linea/LineaL1FinalizationUpdaterService.kt
  jvm-libs/linea/linea-contracts/l1-rollup/build.gradle
  state-recover/clients/smartcontract/build.gradle
Due: kotlin

fix: add high gas price in global setup txs
  e2e/src/config/jest/global-setup.ts
Due: none

Fix: jest e2e tests stuck in CI (#315)
  .github/workflows/reuse-run-e2e-tests.yml
  e2e/src/config/jest/global-setup.ts
Due: none

[FIX] N-04 - Use constants for known fixed values (#303)
  contracts/contracts/tokenBridge/TokenBridge.sol
Due: hardhat

add docgen dependency
  contracts/package.json
Due: hardhat

lint fixing
  contracts/hardhat.config.ts
Due: hardhat

statereover: fix test and helper
  jvm-libs/linea/testing/l1-blob-and-proof-submission/src/main/kotlin/net/consensys/linea/testing/submission/SubmissionTestHelper.kt
  state-recover/clients/smartcontract/src/integrationTest/kotlin/linea/build/staterecover/clients/smartcontract/LineaSubmissionEventsClientIntTest.kt
Due: kotlin

statereover: remove besu transitive dependencies
  jvm-libs/linea/besu-libs/build.gradle
  jvm-libs/linea/web3j-extensions/build.gradle
  settings.gradle
Due: kotlin
