Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

fix(coordinator) - centralize GENESIS zero hash into constant GENESIS_ZERO_HASH in `AggregationL2StateProvider` and refactor tests accordingly
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationL2StateProvider.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationL2StateProviderImplTest.kt
Due: kotlin

reuse existing MiMC where possible (#2868)
  contracts/.env.template
  contracts/.env.template.ci
  contracts/.env.template.uat
  contracts/deploy/01_deploy_PlonkVerifier.ts
  contracts/docs/deployment/chained-deployments.md
  contracts/docs/deployment/l1/verifier.md
Due: hardhat

chore(deps): bump anthropics/claude-code-action to v1.0.101
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-coordinator-review.yml
  .github/workflows/claude.yml
Due: none

fix(coordinator) - ensure GENESIS constants use safe copies of GENESIS_ZERO_HASH
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationL2StateProvider.kt
Due: kotlin

benchmark poseidon2 hashes
  prover/protocol/compiler/logdata/stats.go
  prover/protocol/compiler/standard_benchmark_test.go
Due: none

benchmark results
  prover/benchmark_result_iter1-3.txt
  prover/benchmark_result_iter2.txt
Due: none

chore: remove noisy logging and CI updated cached besu version and commit to avoid redundant checkout and besu build
  .github/workflows/linea-besu-build-and-publish.yml
  linea-besu/build.gradle
Due: none

fix : assigning zkevm witness for badprecompile case
  prover/backend/invalidity/limitless/prove.go
  prover/backend/invalidity/prove.go
  prover/circuits/invalidity/bad_precompile.go
  prover/circuits/invalidity/check_native.go
  prover/circuits/invalidity/invalidity.go
  prover/zkevm/prover/ecdsa/antichamber_constraints.go
  prover/zkevm/zkevm.go
Due: none

chore: update besu commit to 6f5b43a
  gradle/libs.versions.toml
  linea-besu/build.gradle
Due: none

fix: write ai analysis output to workspace instead of /tmp
  .github/workflows/slack-notify-failed-jobs.yml
Due: none

fix: allow Claude Write tool so analysis files are created before artifact upload
  .github/workflows/slack-notify-failed-jobs.yml
Due: none

chore: add write permission in linea-besu-build-and-publish
  .github/workflows/linea-besu-build-and-publish.yml
Due: none

fix : assigning zkevm witness in partial mod
  prover/backend/invalidity/prove.go
  prover/circuits/invalidity/bad_precompile.go
  prover/zkevm/prover/ecdsa/antichamber_constraints.go
Due: none

chore(ci): temporarily skip prover tests on main.yml-only changes
  .github/workflows/main.yml
Due: none

fix: use heredoc for summary GITHUB_OUTPUT to handle special chars
  .github/workflows/slack-notify-failed-jobs.yml
Due: none

fix: ci error
  prover/circuits/invalidity/check_native.go
Due: none

fix: use settings permissions to allow Claude Write tool for output files
  .github/workflows/slack-notify-failed-jobs.yml
Due: none

fix(coordinator) - ftx aggregated into correct aggregation interval (#2853)
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationL2StateProvider.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationL2StateProviderImplTest.kt
Due: kotlin

chore: update besu commit to 6529db0
  gradle/libs.versions.toml
Due: none

fix :debug badprecompile (#2771)
  prover/backend/invalidity/limitless/prove.go
  prover/backend/invalidity/prove.go
  prover/circuits/invalidity/check_native.go
  prover/circuits/invalidity/invalidity.go
  prover/zkevm/zkevm.go
Due: none

chores(prover-ray): update the CI
  .github/workflows/main.yml
  .github/workflows/prover-ray-testing.yml
  .github/workflows/testing.yml
  prover-ray/.golangci.yml
Due: none

deps(actions): bump anthropics/claude-code-action to v1.0.101 (#2870)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-coordinator-review.yml
  .github/workflows/claude.yml
Due: none

fix: anchor AI analysis strictly to Jest-reported failures
  .github/workflows/slack-notify-failed-jobs.yml
Due: none

fix: fetch individual job logs instead of whole-run logs
  .github/workflows/slack-notify-failed-jobs.yml
Due: none

cleaning : remove the dead code
  prover/zkevm/prover/common/vector_builder.go
Due: none

chore(coordinator) - remove unused import in ConflationCalculatorByForcedTransaction
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ConflationCalculatorByForcedTransaction.kt
Due: kotlin

fix(coordinator) - enable conflation and aggregation tests; clean up unused logic in forced transaction processing
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/AggregationCalculatorByForcedTransaction.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ConflationCalculatorByForcedTransaction.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/ForcedTransactionsAppTest.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/conflation/ConflationCalculatorByForcedTransactionTest.kt
Due: kotlin

fix(coordinator) - adjust ftx conflation logic to make aggregation cutoff on included transactions
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/AggregationCalculatorByForcedTransaction.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ConflationCalculatorByForcedTransaction.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/ForcedTransactionsAppTest.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/conflation/ConflationCalculatorByForcedTransactionTest.kt
Due: kotlin

fix(coordinator) - prevent redundant safeBlockNumber updates and add detailed logging
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ForcedTransactionsSafeBlockNumberManager.kt
Due: kotlin

fix: make run ID a hyperlink to the GitHub Actions run
  .github/workflows/slack-notify-failed-jobs.yml
Due: none

chore(ci): re-enable Slack notify job after testing
  .github/workflows/slack-notify-failed-jobs.yml
Due: none

fix: address cursor bugbot feedback in slack-notify-failed-jobs.yml
  .github/workflows/slack-notify-failed-jobs.yml
Due: none

fix(coordinator) - ftx conflation: make aggregation cuttof on Included FTX
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/AggregationCalculatorByForcedTransaction.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ConflationCalculatorByForcedTransaction.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ForcedTransactionsSafeBlockNumberManager.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/ForcedTransactionsAppTest.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/conflation/ConflationCalculatorByForcedTransactionTest.kt
Due: kotlin

added option to strip binary files
  arithmetization/src/test/examples/Makefile
Due: none

Improved gas estimations for the deployment transactions on L2
  e2e/src/forced-transactions.spec.ts
Due: none

chore(java) update to java 25 (#509)
  maru/.github/workflows/chaos-testing.yml
  maru/.github/workflows/e2e-tests.yml
  maru/.github/workflows/maru-build-and-publish.yml
  maru/.github/workflows/security-code-scanner.yml
  maru/.github/workflows/testing.yml
  maru/.gitignore
  maru/AGENTS.md
  maru/README.md
  maru/app/Dockerfile
  maru/build.gradle
  maru/buildSrc/src/main/groovy/maru.kotlin-common-minimal-conventions.gradle
  maru/gradle/wrapper/gradle-wrapper.jar
  maru/gradle/wrapper/gradle-wrapper.properties
  maru/gradlew
  maru/gradlew.bat
  maru/jvm-libs/utils/README.md
Due: none

feat: use one single cache version file and compatible with configuration cache enable
  .github/workflows/linea-besu-build-and-publish.yml
  .gitignore
  linea-besu/.besu-resolved-commit
  linea-besu/.besu-resolved-version
  linea-besu/build.gradle
Due: none

chore: add write to cache besu version file immediately after parsing version
  linea-besu/build.gradle
Due: none

reduced size of riscv binary from zig test
  arithmetization/src/test/examples/zig/build.zig
  arithmetization/src/test/examples/zig/src/test.zig
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
