Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

add new e2e case
  bridge-ui/test/e2e/bridge-l1-l2.spec.ts
Due: none

remove .only
  bridge-ui/test/e2e/bridge-l1-l2.spec.ts
Due: none

new test case
  bridge-ui/test/advancedFixtures.ts
  bridge-ui/test/e2e/bridge-l1-l2.spec.ts
  bridge-ui/test/utils/selectTokenAndWaitForBalance.ts
Due: none

fix: update unit tests and fix minor issues
  postman/jest.config.js
  postman/scripts/runPostman.ts
  postman/src/application/postman/api/Api.ts
  postman/src/application/postman/api/__tests__/Api.test.ts
  postman/src/application/postman/api/metrics/MessageMetricsService.ts
  postman/src/application/postman/api/metrics/MetricsService.ts
  postman/src/application/postman/api/metrics/__tests__/MessageMetricsService.test.ts
  postman/src/application/postman/api/metrics/__tests__/MetricsService.test.ts
  postman/src/application/postman/app/PostmanServiceClient.ts
  postman/src/application/postman/app/__tests__/PostmanServiceClient.test.ts
  postman/src/application/postman/app/config/__tests__/utils.test.ts
  postman/src/application/postman/app/config/config.ts
  postman/src/application/postman/app/config/utils.ts
  postman/src/application/postman/persistence/subscribers/MessageStatusSubscriber.ts
  postman/src/core/metrics/IMetricsService.ts
Due: none

adding extension support, still missing some accessors
  prover/maths/field/fext/element.go
  prover/maths/field/fext/gnarkfext/api.go
  prover/protocol/accessors/from_coin.go
  prover/protocol/accessors/from_constant.go
  prover/protocol/accessors/from_expression.go
  prover/protocol/accessors/from_univ_x.go
  prover/protocol/coin/coin.go
  prover/protocol/coin/variable.go
  prover/protocol/column/natural.go
  prover/protocol/column/shifted.go
  prover/protocol/column/verifiercol/full_constant.go
  prover/protocol/column/verifiercol/verifiercol.go
  prover/protocol/ifaces/accessor.go
  prover/protocol/ifaces/columns.go
  prover/protocol/ifaces/prover_verifier.go
  prover/protocol/variables/periodicsample.go
  prover/protocol/variables/x.go
  prover/protocol/wizard/gnark_verifier.go
  prover/protocol/wizard/prover.go
  prover/protocol/wizard/verifier.go
  prover/symbolic/constant.go
  prover/symbolic/constructor_ext_test.go
  prover/symbolic/evaluation_board.go
  prover/symbolic/evaluation_ext.go
  prover/symbolic/expression.go
  prover/symbolic/expression_board.go
  prover/symbolic/lincomb.go
  prover/symbolic/pattern.go
  prover/symbolic/polyeval.go
  prover/symbolic/product.go
  prover/symbolic/simplification.go
  prover/symbolic/variable.go
  prover/utils/gnarkutil/gnarkutil.go
Due: none

fix: update token list order + add Linea as default lifi destination chain
  bridge-ui/src/components/lifi/widget/index.tsx
  bridge-ui/src/constants/tokens.ts
  bridge-ui/src/services/tokenService.ts
Due: none

EIP-3651-warm-coinbase (#1961)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/AccountSnapshot.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/LondonHub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/ShanghaiHub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxFinalizationSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxPreWarmingMacroSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/txInitializationSection/LondonInitializationSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/txInitializationSection/ShanghaiInitializationSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/txInitializationSection/TxInitializationSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/state/TransactionStack.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/TransactionProcessingMetadata.java
Due: none

test 2 workers for e2e
  bridge-ui/playwright.config.ts
Due: none

Revert "test 2 workers for e2e"
  bridge-ui/playwright.config.ts
Due: none

refactor: use zustand to store modal state
  bridge-ui/src/components/modal/first-time-visit/index.tsx
  bridge-ui/src/stores/configStore.ts
Due: none

Setting fixed Geth 1.15 tag, as the latest one doesn't work (#79)
  maru/docker/compose.yaml
Due: none

intermediary mixed commit
  prover/maths/common/mempool/generic_mempool.go
  prover/maths/common/mempool/mempool.go
  prover/maths/common/mempoolext/mempool.go
  prover/maths/common/smartvectors_mixed/arithmetic_basic.go
  prover/maths/field/fext/element.go
  prover/symbolic/evaluation.go
  prover/symbolic/evaluation_ext.go
Due: none

coordinator: fix feature toggle
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/config/CoordinatorConfig.kt
Due: kotlin

typos and comments
  contracts/src/rollup/ForcedTransactionGateway.sol
  contracts/src/rollup/LineaRollup.sol
Due: hardhat

coordinator: remove unnecessary configs
  config/coordinator/coordinator-docker.config.toml
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/config/CoordinatorConfig.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/config/CoordinatorConfigTest.kt
Due: kotlin

coordinator: remove unnecessary configs
  coordinator/app/src/test/resources/configs/coordinator.config.toml
Due: kotlin

coordinator: update config V2
  config/coordinator/coordinator-config-v2-sample.toml
Due: none

coordinator: fix feature toggle (#874)
  config/coordinator/coordinator-docker.config.toml
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/config/CoordinatorConfig.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/config/CoordinatorConfigTest.kt
  coordinator/app/src/test/resources/configs/coordinator.config.toml
Due: kotlin

edit tests
  contracts/src/rollup/ForcedTransactionGateway.sol
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
  contracts/test/hardhat/rollup/helpers/forced-transaction.ts
  contracts/test/hardhat/rollup/helpers/index.ts
Due: hardhat

more changes
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
Due: hardhat

one mempool for both base and extension
  prover/maths/common/mempool/debug_pool.go
  prover/maths/common/mempool/debug_pool_test.go
  prover/maths/common/mempool/from_sync_pool.go
  prover/maths/common/mempool/generic_mempool.go
  prover/maths/common/mempool/mempool.go
  prover/maths/common/mempool/slice_arena.go
  prover/maths/common/mempoolext/debug_pool.go
  prover/maths/common/mempoolext/debug_pool_test.go
  prover/maths/common/mempoolext/from_sync_pool.go
  prover/maths/common/mempoolext/mempool.go
  prover/maths/common/mempoolext/slice_arena.go
Due: none

feat(conglomeration): implements the conglomeration.
  prover/protocol/compiler/logdata/csv.go
  prover/protocol/compiler/recursion/recursion.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/option.go
  prover/protocol/distributed/conglomeration.go
  prover/protocol/distributed/distribute.go
  prover/protocol/distributed/module_gl.go
  prover/protocol/distributed/module_lpp.go
  prover/protocol/distributed/segment_compilation.go
  prover/utils/utils.go
Due: none

fixing compiler errors, work in progress
  prover/maths/common/smartvectors_mixed/arithmetic_basic.go
  prover/maths/common/smartvectorsext/arithmetic_basic.go
  prover/maths/common/smartvectorsext/arithmetic_gen.go
  prover/maths/common/smartvectorsext/fft.go
  prover/maths/common/smartvectorsext/regular.go
  prover/protocol/accessors/from_expression.go
  prover/protocol/accessors/from_grandprod.go
  prover/protocol/accessors/from_horner.go
  prover/protocol/accessors/from_integer_vec_coin.go
  prover/protocol/accessors/from_local_opening.go
  prover/protocol/accessors/from_logderivsum.go
  prover/protocol/accessors/from_public_position.go
  prover/protocol/column/verifiercol/expand_verifcol.go
  prover/protocol/column/verifiercol/from_accessors.go
  prover/protocol/column/verifiercol/from_alleged_ys.go
  prover/protocol/column/verifiercol/repeated_accessor.go
  prover/symbolic/constant.go
  prover/symbolic/evaluation_board.go
  prover/symbolic/evaluation_ext.go
  prover/symbolic/expression.go
  prover/symbolic/lincomb.go
  prover/symbolic/polyeval.go
  prover/symbolic/product.go
  prover/symbolic/variable.go
Due: none

Update arithmetic_test.go
  prover/maths/common/smartvectorsext/arithmetic_test.go
Due: none

save stash
  contracts/test/hardhat/rollup/helpers/forced-transaction.ts
Due: hardhat

adjust for comments 1
  bridge-ui/src/app/native-bridge/layout.tsx
  bridge-ui/src/components/bridge/claiming/index.tsx
  bridge-ui/src/components/bridge/modal/token-modal/index.tsx
  bridge-ui/src/hooks/fees/useBridgingFee.ts
  bridge-ui/src/hooks/fees/useERC20BridgingGasUsed.ts
  bridge-ui/src/hooks/fees/useEthBridgingGasUsed.ts
  bridge-ui/src/hooks/fees/useFees.ts
  bridge-ui/src/stores/formStore.ts
  bridge-ui/src/types/bridge.ts
  bridge-ui/test/advancedFixtures.ts
  postman/src/application/postman/persistence/repositories/TypeOrmMessageRepository.ts
Due: none

move betav1 test
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
  contracts/test/hardhat/rollup/LineaRollup/Finalization.ts
Due: hardhat

minor edit
  contracts/deploy/01_deploy_PlonkVerifier.ts
Due: hardhat

adjust for comment 2
  bridge-ui/src/components/bridge/claiming/index.tsx
Due: none

did boilerplate for migration test
  contracts/test/hardhat/common/constants/time.ts
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
  contracts/test/hardhat/rollup/helpers/deploy.ts
Due: hardhat

new
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
Due: hardhat

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
