Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

remove commented out tests for conglomeration
  prover/protocol/distributed/conglomeration_test.go
Due: none

unit tests for safeAddToWithdrawalReserve
  contracts/src/yield/YieldManager.sol
  contracts/test/hardhat/yield/unit/YieldManager.funds.ts
Due: hardhat

more tests for safeAddToWithdrawalReserve
  contracts/test/hardhat/yield/unit/YieldManager.funds.ts
Due: hardhat

fix: remove initialize function in RollupRevenueVault
  contracts/src/operational/RollupRevenueVault.sol
  contracts/test/hardhat/operational/RollupRevenueVault.ts
  contracts/test/hardhat/operational/constants.ts
  contracts/test/hardhat/operational/helpers/deploy.ts
Due: hardhat

chore: update mdx contracts doc
  contracts/docs/api/operational/RollupRevenueVault.mdx
Due: hardhat

fix: remove _sqrtPriceLimitX96 params
  contracts/src/operational/V3DexSwap.sol
  contracts/src/operational/interfaces/IV3DexSwap.sol
  contracts/test/hardhat/operational/RollupRevenueVault.ts
  contracts/test/hardhat/operational/V3DexSwap.ts
Due: hardhat

chore: update mdx contracts docs
  contracts/docs/api/operational/V3DexSwap.mdx
  contracts/docs/api/operational/interfaces/IV3DexSwap.mdx
Due: hardhat

feat: wip
  prover/crypto/mimc/mimc.go
  prover/crypto/state-management/smt/gnark.go
  prover/crypto/state-management/smt/gnark_test.go
  prover/protocol/compiler/compiler_test.go
  prover/protocol/internal/testtools/horner.go
  prover/protocol/internal/testtools/testcase.go
Due: none

move WinstonLogger to shared utils
  pnpm-lock.yaml
  postman/Dockerfile
  postman/README.md
  postman/jest.config.js
  postman/package.json
  postman/src/application/postman/api/Api.ts
  postman/src/application/postman/api/__tests__/Api.test.ts
  postman/src/application/postman/app/PostmanServiceClient.ts
  postman/src/application/postman/app/__tests__/PostmanServiceClient.test.ts
  postman/src/application/postman/persistence/subscribers/MessageStatusSubscriber.ts
  postman/src/services/persistence/DatabaseCleaner.ts
  postman/src/services/persistence/__tests__/DatabaseCleaner.test.ts
  postman/src/services/pollers/DatabaseCleaningPoller.ts
  postman/src/services/pollers/L2ClaimMessageTransactionSizePoller.ts
  postman/src/services/pollers/MessageAnchoringPoller.ts
  postman/src/services/pollers/MessageClaimingPoller.ts
  postman/src/services/pollers/MessagePersistingPoller.ts
  postman/src/services/pollers/MessageSentEventPoller.ts
  postman/src/services/processors/L2ClaimMessageTransactionSizeProcessor.ts
  postman/src/services/processors/MessageAnchoringProcessor.ts
  postman/src/services/processors/MessageClaimingPersister.ts
  postman/src/services/processors/MessageClaimingProcessor.ts
  postman/src/services/processors/MessageSentEventProcessor.ts
  postman/src/services/processors/__tests__/MessageSentEventProcessor.test.ts
  postman/src/utils/testing/helpers.ts
  postman/tsconfig.json
  ts-libs/linea-shared-utils/.eslintignore
  ts-libs/linea-shared-utils/.eslintrc.js
  ts-libs/linea-shared-utils/.prettierignore
  ts-libs/linea-shared-utils/.prettierrc.js
  ts-libs/linea-shared-utils/jest.config.js
  ts-libs/linea-shared-utils/package.json
  ts-libs/linea-shared-utils/src/index.ts
  ts-libs/linea-shared-utils/src/logging/ILogger.ts
  ts-libs/linea-shared-utils/src/logging/WinstonLogger.ts
  ts-libs/linea-shared-utils/tsconfig.build.json
  ts-libs/linea-shared-utils/tsconfig.json
  ts-libs/linea-shared-utils/tsup.config.ts
Due: none

create postman winston logger
  postman/jest.config.js
  postman/src/application/postman/app/PostmanServiceClient.ts
  postman/src/application/postman/app/__tests__/PostmanServiceClient.test.ts
  ts-libs/linea-shared-utils/package.json
  ts-libs/linea-shared-utils/src/logging/WinstonLogger.ts
Due: none

create postman winston logger
  postman/src/utils/PostmanWinstonLogger.ts
Due: none

updated pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Implement configuration reload for LineaTransactionPoolValidatorPlugin (#1553)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/LineaPluginTestBase.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/TransactionPoolDenyListReloadTest.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaTransactionPoolValidatorCliOptions.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/services/LineaBundleEndpointsPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/validators/AllowedAddressValidator.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/AllowedAddressValidatorTest.java
Due: none

made IMetricsService generic
  postman/src/application/postman/api/Api.ts
  postman/src/application/postman/api/__tests__/Api.test.ts
  postman/src/application/postman/api/metrics/MessageMetricsUpdater.ts
  postman/src/application/postman/api/metrics/SingletonMetricsService.ts
  postman/src/application/postman/api/metrics/SponsorshipMetricsUpdater.ts
  postman/src/application/postman/api/metrics/TransactionMetricsUpdater.ts
  postman/src/application/postman/api/metrics/__tests__/SingletonMetricsService.test.ts
  postman/src/application/postman/app/PostmanServiceClient.ts
  postman/src/core/metrics/IMetricsService.ts
Due: none

rm injectWorkspacePackages
  pnpm-lock.yaml
Due: none

new pnpm lock
  pnpm-lock.yaml
Due: none

more changes to singletonmetricsservices
  postman/src/application/postman/api/metrics/SingletonMetricsService.ts
  postman/src/application/postman/api/metrics/__tests__/MessageMetricsUpdater.test.ts
  postman/src/application/postman/api/metrics/__tests__/SingletonMetricsService.test.ts
  postman/src/application/postman/api/metrics/__tests__/SponsorshipMetricsUpdater.test.ts
  postman/src/application/postman/api/metrics/__tests__/TransactionMetricsUpdater.test.ts
  postman/src/application/postman/app/PostmanServiceClient.ts
Due: none

update pnpm lock again
  pnpm-lock.yaml
Due: none

undo the changes in symbolic
  prover/symbolic/evaluation.go
  prover/symbolic/evaluation_board.go
  prover/symbolic/expression.go
  prover/symbolic/expression_board.go
  prover/symbolic/expression_board_test.go
  prover/symbolic/simplify/cost_stat.go
  prover/symbolic/simplify/cost_stat_test.go
  prover/symbolic/simplify/factor.go
  prover/symbolic/simplify/factor_test.go
Due: none

first structure for ny operations
  .github/workflows/postman-testing.yml
  native-yield-operations/cronjob/.env.sample
  native-yield-operations/cronjob/.eslintignore
  native-yield-operations/cronjob/.eslintrc.js
  native-yield-operations/cronjob/.prettierignore
  native-yield-operations/cronjob/.prettierrc.js
  native-yield-operations/cronjob/Dockerfile
  native-yield-operations/cronjob/README.md
  native-yield-operations/cronjob/jest.config.js
  native-yield-operations/cronjob/package.json
  native-yield-operations/cronjob/run.ts
  native-yield-operations/cronjob/src/application/main/NativeYieldCronJobClient.ts
  native-yield-operations/cronjob/src/core/entities/LazyOracleReportData.ts
  native-yield-operations/cronjob/src/core/entities/YieldManager.ts
  native-yield-operations/cronjob/src/core/entities/index.ts
  native-yield-operations/cronjob/src/core/enums/OperationModeEnums.ts
  native-yield-operations/cronjob/src/core/services/contracts/ILazyOracle.ts
  native-yield-operations/cronjob/src/core/services/contracts/ILineaRollup.ts
  native-yield-operations/cronjob/src/core/services/contracts/IYieldManager.ts
  native-yield-operations/cronjob/src/core/services/processor/IOperationModeProcessor.ts
  native-yield-operations/cronjob/tsconfig.build.json
  native-yield-operations/cronjob/tsconfig.json
  pnpm-workspace.yaml
Due: none

remove fieldhasher interface for poseidon2, directly using struct
  prover/crypto/fiatshamir/fiatshamir.go
  prover/crypto/fiatshamir/fiatshamir_test.go
  prover/crypto/state-management/hashtypes/fieldhasher.go
  prover/crypto/state-management/smt/tree.go
  prover/crypto/vortex/commitment.go
  prover/crypto/vortex/params.go
  prover/protocol/coin/coin.go
  prover/protocol/ifaces/query.go
  prover/protocol/query/grand_product.go
  prover/protocol/query/horner.go
  prover/protocol/query/innerproduct.go
  prover/protocol/query/local_opening.go
  prover/protocol/query/logderiv_sum.go
  prover/protocol/query/univariate.go
  prover/protocol/wizard/prover.go
  prover/protocol/wizard/verifier.go
Due: none

code rearrange on web3j EthApi implementation (#1583)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/GethCliqueSafeBlockProvider.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/Block.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ExtendedWeb3J.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/mappers/EthGetBlockToLineaBlockMappers.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/mappers/TransactionMapper.kt
  jvm-libs/linea/web3j-extensions/src/test/kotlin/linea/web3j/mappers/EthGetBlockToLineaBlockMapperTest.kt
  transaction-decoder-tool/src/test/kotlin/linea/test/BlocksFetcher.kt
Due: kotlin

chore(bridge-ui): revert minimumReleaseAge exclusions (#1586)
  pnpm-workspace.yaml
Due: none

refactor(tests): Split StakeManager test files into a meaningful directory tree
  status-network-contracts/test/StakeVault.test.sol
  status-network-contracts/test/stakemanager/Fuzz.t.sol
  status-network-contracts/test/stakemanager/IntegrationTest.t.sol
  status-network-contracts/test/stakemanager/StakeManagerBase.t.sol
  status-network-contracts/test/stakemanager/concrete/admin/Pause.t.sol
  status-network-contracts/test/stakemanager/concrete/karma/Votes.t.sol
  status-network-contracts/test/stakemanager/concrete/staking/Lock.t.sol
  status-network-contracts/test/stakemanager/concrete/staking/MultipleVaults.t.sol
  status-network-contracts/test/stakemanager/concrete/staking/RedeemRewards.t.sol
  status-network-contracts/test/stakemanager/concrete/staking/Rewards.t.sol
  status-network-contracts/test/stakemanager/concrete/staking/Stake.t.sol
  status-network-contracts/test/stakemanager/concrete/staking/StakeMath.t.sol
  status-network-contracts/test/stakemanager/concrete/staking/Unstake.t.sol
  status-network-contracts/test/stakemanager/concrete/upgradability/Leave.t.sol
  status-network-contracts/test/stakemanager/concrete/upgradability/MaliciousUpgrade.t.sol
  status-network-contracts/test/stakemanager/concrete/upgradability/Upgrade.t.sol
  status-network-contracts/test/stakemanager/concrete/vault/EmergencyExit.t.sol
  status-network-contracts/test/stakemanager/concrete/vault/TrustedCodehashAccess.t.sol
  status-network-contracts/test/stakemanager/concrete/vault/UpgradeVault.t.sol
  status-network-contracts/test/stakemanager/concrete/vault/VaultRegistration.t.sol
  status-network-contracts/test/stakemanager/concrete/vault/Withdraw.t.sol
Due: none

fix storage location for LineaRollupYieldExtension
  contracts/src/rollup/LineaRollupYieldExtension.sol
Due: hardhat

did config for cronjob
  bridge-ui/package.json
  native-yield-operations/cronjob/README.md
  native-yield-operations/cronjob/package.json
  native-yield-operations/cronjob/run.ts
  native-yield-operations/cronjob/src/application/main/NativeYieldCronJobClient.ts
  native-yield-operations/cronjob/src/application/main/config/NativeYieldCronJobClientOptions.ts
  native-yield-operations/cronjob/src/application/main/config/config.schema.ts
  native-yield-operations/cronjob/src/application/main/config/config.ts
  pnpm-workspace.yaml
Due: none

fix: add events in constructors, update natspecs, optimize state reads
  contracts/src/operational/L1LineaTokenBurner.sol
  contracts/src/operational/RollupRevenueVault.sol
  contracts/src/operational/V3DexSwap.sol
  contracts/src/operational/interfaces/IL1LineaToken.sol
  contracts/src/operational/interfaces/IL1LineaTokenBurner.sol
  contracts/src/operational/interfaces/IRollupRevenueVault.sol
  contracts/src/operational/interfaces/IV3DexSwap.sol
  contracts/test/hardhat/operational/L1LineaTokenBurner.ts
  contracts/test/hardhat/operational/RollupRevenueVault.ts
  contracts/test/hardhat/operational/V3DexSwap.ts
Due: hardhat

chore: update contracts mdx docs
  contracts/docs/api/operational/V3DexSwap.mdx
  contracts/docs/api/operational/interfaces/IL1LineaToken.mdx
  contracts/docs/api/operational/interfaces/IL1LineaTokenBurner.mdx
  contracts/docs/api/operational/interfaces/IRollupRevenueVault.mdx
  contracts/docs/api/operational/interfaces/IV3DexSwap.mdx
Due: hardhat

new logic for trigger env
  native-yield-operations/cronjob/run.ts
  native-yield-operations/cronjob/src/application/main/config/NativeYieldCronJobClientOptions.ts
  native-yield-operations/cronjob/src/application/main/config/loadConfigFromEnv.ts
Due: none

fix: rename dex storage variable name
  contracts/src/operational/RollupRevenueVault.sol
  contracts/src/operational/interfaces/IRollupRevenueVault.sol
  contracts/test/hardhat/operational/RollupRevenueVault.ts
  contracts/test/hardhat/operational/helpers/deploy.ts
Due: hardhat

chore: update contracts mdx docs
  contracts/docs/api/operational/RollupRevenueVault.mdx
  contracts/docs/api/operational/interfaces/IRollupRevenueVault.mdx
Due: hardhat

fix: add natspec for sqrtPriceLimitX96
  contracts/src/operational/V3DexSwap.sol
Due: hardhat

fix: update natspecs
  contracts/src/operational/RollupRevenueVault.sol
  contracts/src/operational/interfaces/IRollupRevenueVault.sol
Due: hardhat

maru genesis update mainnet
  docs/getting-started/linea-mainnet/maru/maru-genesis.json
Due: none

maru genesis update mainnet (#1593)
  docs/getting-started/linea-mainnet/maru/maru-genesis.json
Due: none

fix: rename V3DexSwap to V3DexAdapter
  contracts/docs/api/operational/V3DexSwap.mdx
  contracts/docs/api/operational/interfaces/IV3DexSwap.mdx
  contracts/src/_testing/mocks/operational/TestDexAdapter.sol
  contracts/src/operational/V3DexAdapter.sol
  contracts/src/operational/interfaces/IV3DexAdapter.sol
  contracts/test/hardhat/operational/RollupRevenueVault.ts
  contracts/test/hardhat/operational/V3DexAdapter.ts
  contracts/test/hardhat/operational/helpers/deploy.ts
Due: hardhat

chore: update contracts mdx docs
  contracts/docs/api/operational/V3DexAdapter.mdx
  contracts/docs/api/operational/interfaces/IV3DexAdapter.mdx
Due: hardhat

seperated base conversion, added rho test
  prover/maths/common/vector/vector_wizard.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/keccakf.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/rho.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/rho_test.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/sub_protocols/base_conversions.go
Due: none

perf: improve smt tree build perf
  prover/crypto/state-management/smt/new.txt
  prover/crypto/state-management/smt/new2.txt
  prover/crypto/state-management/smt/new3.txt
  prover/crypto/state-management/smt/new4.txt
  prover/crypto/state-management/smt/new5.txt
  prover/crypto/state-management/smt/proof.go
  prover/crypto/state-management/smt/ref.txt
  prover/crypto/state-management/smt/smt_test.go
  prover/crypto/state-management/smt/tree.go
  prover/crypto/state-management/smt/update.go
Due: none
