Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

fix: ensure fleet and normal image can be loaded
  .github/workflows/linea-besu-package-build-and-upload.yml
  .github/workflows/reuse-linea-besu-package-build-test-push.yml
  .github/workflows/reuse-linea-besu-package-run-e2e-tests.yml
  .github/workflows/reuse-linea-besu-package-run-test.yml
  .github/workflows/reuse-run-e2e-tests.yml
Due: none

feat: add dump log for besu node leader for fleet e2e tests
  .github/workflows/reuse-linea-besu-package-run-e2e-tests.yml
Due: none

chore: remove redundant step after merging
  .github/workflows/linea-besu-package-e2e-tests-with-partial-prover.yml
Due: none

fix: update tests
  postman/jest.config.js
  postman/src/application/postman/app/__tests__/L1ToL2App.test.ts
  postman/src/application/postman/app/__tests__/L2ToL1App.test.ts
  postman/src/application/postman/app/__tests__/PostmanAppClass.test.ts
  postman/src/application/postman/app/config/__tests__/envLoader.test.ts
  postman/src/application/postman/app/config/__tests__/utils.test.ts
  postman/src/core/errors/__tests__/BaseError.test.ts
  postman/src/core/errors/__tests__/UnsupportedOperationError.test.ts
  postman/src/core/utils/__tests__/shared.test.ts
  postman/src/infrastructure/api/__tests__/PostmanApi.test.ts
  postman/src/infrastructure/blockchain/viem/__tests__/ViemCalldataDecoder.test.ts
  postman/src/infrastructure/blockchain/viem/__tests__/ViemErrorParser.test.ts
  postman/src/infrastructure/blockchain/viem/__tests__/ViemTransactionRetrier.test.ts
  postman/src/infrastructure/blockchain/viem/clients/__tests__/ViemL2MessageServiceClient.test.ts
  postman/src/infrastructure/blockchain/viem/clients/__tests__/ViemL2MessageServiceLogClient.test.ts
  postman/src/infrastructure/blockchain/viem/clients/__tests__/ViemLineaRollupClient.test.ts
  postman/src/infrastructure/blockchain/viem/gas/__tests__/ViemEthereumGasProvider.test.ts
  postman/src/infrastructure/blockchain/viem/gas/__tests__/ViemLineaGasProvider.test.ts
  postman/src/infrastructure/blockchain/viem/mappers/__tests__/mappers.test.ts
  postman/src/infrastructure/blockchain/viem/providers/__tests__/ViemLineaProvider.test.ts
  postman/src/infrastructure/blockchain/viem/signers/__tests__/createChainContext.test.ts
  postman/src/infrastructure/blockchain/viem/signers/createChainContext.ts
  postman/src/infrastructure/metrics/__tests__/MessageMetricsUpdater.test.ts
  postman/src/infrastructure/metrics/__tests__/SponsorshipMetricsUpdater.test.ts
  postman/src/infrastructure/metrics/__tests__/TransactionMetricsUpdater.test.ts
  postman/src/infrastructure/persistence/__tests__/dataSource.test.ts
  postman/src/infrastructure/persistence/mappers/__tests__/messageMappers.test.ts
  postman/src/services/pollers/__tests__/IntervalPoller.test.ts
  postman/src/services/pollers/__tests__/MessageSentEventPoller.test.ts
  postman/src/services/processors/__tests__/L2ClaimMessageTransactionSizeProcessor.test.ts
  postman/src/services/processors/__tests__/LineaTransactionValidationService.test.ts
  postman/src/services/processors/__tests__/MessageClaimingPersister.test.ts
  postman/src/services/processors/__tests__/MessageClaimingProcessor.test.ts
  postman/src/services/processors/__tests__/MessageSentEventProcessor.test.ts
  postman/src/utils/testing/fixtures.ts
  postman/src/utils/testing/helpers.ts
  postman/src/utils/testing/mocks.ts
Due: none

default to to coefficient mode
  prover/crypto/reedsolomon/reedsolomon.go
  prover/crypto/reedsolomon/reedsolomon_ext_test.go
  prover/crypto/reedsolomon/reedsolomon_test.go
  prover/crypto/vortex/verifier_circuit_common.go
  prover/crypto/vortex/verifier_circuit_common_test.go
  prover/crypto/vortex/verifier_common.go
  prover/crypto/vortex/vortex_bls12377/verifier.go
  prover/crypto/vortex/vortex_bls12377/verifier_test.go
  prover/crypto/vortex/vortex_koalabear/verifier.go
  prover/crypto/vortex/vortex_koalabear/verifier_test.go
  prover/protocol/compiler/recursion/recursion.go
  prover/protocol/compiler/selfrecursion/column_opening.go
  prover/protocol/compiler/selfrecursion/context.go
  prover/protocol/compiler/selfrecursion/lincomb_phase.go
  prover/protocol/compiler/standard_benchmark_test.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/gnark_verifier.go
  prover/protocol/compiler/vortex/option.go
  prover/protocol/compiler/vortex/prover.go
  prover/protocol/compiler/vortex/verifier.go
  prover/protocol/compiler/vortex/vortex_bench_test.go
  prover/protocol/dedicated/reedsolomon/reedsolomon.go
  prover/zkevm/full.go
Due: none

cleanup LinearCombination
  prover/crypto/reedsolomon/reedsolomon.go
  prover/crypto/vortex/prover_common.go
  prover/crypto/vortex/verifier_common.go
  prover/crypto/vortex/vortex_bls12377/prover.go
  prover/crypto/vortex/vortex_bls12377/verifier_circuit_test.go
  prover/crypto/vortex/vortex_bls12377/verifier_test.go
  prover/crypto/vortex/vortex_koalabear/prover.go
  prover/crypto/vortex/vortex_koalabear/verifier_circuit_test.go
  prover/crypto/vortex/vortex_koalabear/verifier_test.go
  prover/docs/vortex-proof-size-optimization.md
  prover/go.mod
  prover/go.sum
  prover/protocol/compiler/vortex/prover.go
  prover/protocol/compiler/vortex/verifier.go
Due: none

cleanup rs unused code
  prover/crypto/reedsolomon/reedsolomon.go
Due: none

perf(limitless): stream-decompress to mmap and immediate circuit release (memory optimization)
  prover/backend/execution/limitless/perf_log.go
  prover/backend/execution/limitless/prove.go
  prover/protocol/serde/files.go
  prover/protocol/wizard/prover.go
  prover/zkevm/limitless.go
Due: none

added nested delegation test
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/EIP7702RuntimeDenylistTest.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/solidity/Eip77022Delegated.sol
  besu-plugins/linea-sequencer/acceptance-tests/src/test/solidity/Eip7702TestEntrypoint.sol
  besu-plugins/linea-sequencer/acceptance-tests/src/test/solidity/Eip7702TestNested.sol
Due: none

cleanup unused lagrange code
  prover/crypto/vortex/utils.go
  prover/crypto/vortex/verifier_circuit_common.go
  prover/crypto/vortex/verifier_circuit_common_test.go
Due: none

feat(contracts): add PlonkVerifierMainnet for 7702
  contracts/src/verifiers/7702/PlonkVerifierMainnet.sol
Due: hardhat

chore(contracts): rename PlonkVerifierMainnet to PlonkVerifierMainnetFull
  contracts/src/verifiers/7702/PlonkVerifierMainnetFull.sol
Due: hardhat

perf(limitless): parallel conglomeration merges and setup load overlap
  prover/backend/execution/limitless/prove.go
Due: none

fix: removed double quotes on --plugin-linea-conflated-trace-generation-traces-output-path
  docker/compose-spec-l2-services.yml
Due: none

chore: add back linea-besu-package build step in partial prover workflow
  .github/workflows/linea-besu-package-e2e-tests-with-partial-prover.yml
Due: none

additional plugin addition
  docker/compose-spec-l2-services.yml
  docker/config/linea-besu-sequencer/deny-list.txt
  e2e/src/common/test-helpers/deny-list.spec.ts
  e2e/src/common/test-helpers/deny-list.ts
  e2e/src/config/clients/linea-rpc/sequencer-plugins.ts
  e2e/src/eip7702.spec.ts
Due: none

feat(contracts): add PlonkVerifierMainnetFull for EIP-7702
  contracts/src/verifiers/7702/PlonkVerifierMainnetFull
Due: hardhat

fix: update claiming persistence
  postman/src/application/postman/app/L1ToL2App.ts
  postman/src/application/postman/app/L2ToL1App.ts
  postman/src/application/postman/app/PostmanApp.ts
  postman/src/application/postman/app/PostmanContainer.ts
  postman/src/application/postman/app/config/utils.ts
  postman/src/core/services/processors/IMessageClaimingPersister.ts
  postman/src/core/services/processors/IReceiptStatusResolver.ts
  postman/src/core/services/processors/ITransactionLifecycleManager.ts
  postman/src/infrastructure/blockchain/viem/signers/__tests__/createChainContext.test.ts
  postman/src/infrastructure/blockchain/viem/signers/createChainContext.ts
  postman/src/main.ts
  postman/src/services/processors/MessageClaimingPersister.ts
  postman/src/services/processors/ReceiptStatusResolver.ts
  postman/src/services/processors/TransactionLifecycleManager.ts
  postman/src/services/processors/__tests__/MessageClaimingPersister.test.ts
  postman/src/services/processors/index.ts
  postman/src/utils/testing/fixtures.ts
  postman/src/utils/testing/mocks.ts
Due: none

coordinator: align conflation calculator IDs with ConflationTrigger enum
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationCalculatorByTargetBlockNumbers.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsApp.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ConflationCalculatorByForcedTransaction.kt
Due: kotlin

coordinator: align conflation calculator IDs with ConflationTrigger enum (#2616)
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationCalculatorByTargetBlockNumbers.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsApp.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ConflationCalculatorByForcedTransaction.kt
Due: kotlin

fix: update readme and add agents.md
  postman/AGENTS.md
  postman/README.md
Due: none

temp: disable failing constraints temporarily
  prover/circuits/execution/builder_limitless.go
Due: none

(chore): add mainnet verifier contract with .sol ext
  contracts/src/verifiers/7702/PlonkVerifierMainnetFull.sol
Due: hardhat

(chore): lint fix
  contracts/src/verifiers/7702/PlonkVerifierMainnetFull.sol
Due: hardhat

Hopefully fixed new Besu startup
  docker/config/l1-node/el/config.toml
  docker/config/l2-genesis-initialization/genesis-besu.json.template
  docker/config/l2-genesis-initialization/genesis-maru.json.template
  docker/config/l2-genesis-initialization/init.sh
  docker/config/linea-besu-sequencer/sequencer.config.toml
  gradle/libs.versions.toml
  linea-besu-package/linea-besu/Dockerfile
Due: none

Fixed Besu version
  gradle/libs.versions.toml
Due: none

fix: update tests and add db migrations
  .github/workflows/postman-testing.yml
  postman/Dockerfile
  postman/src/application/postman/app/__tests__/L1ToL2App.test.ts
  postman/src/application/postman/app/__tests__/L2ToL1App.test.ts
  postman/src/application/postman/app/__tests__/PostmanAppClass.test.ts
  postman/src/application/postman/app/config/__tests__/envLoader.test.ts
  postman/src/application/postman/app/config/__tests__/utils.test.ts
  postman/src/infrastructure/blockchain/__tests__/L2ClaimTransactionSizeCalculator.test.ts
  postman/src/infrastructure/blockchain/viem/__tests__/ViemErrorParser.test.ts
  postman/src/infrastructure/blockchain/viem/__tests__/ViemReceiptPoller.test.ts
  postman/src/infrastructure/blockchain/viem/__tests__/ViemTransactionRetrier.test.ts
  postman/src/infrastructure/blockchain/viem/clients/__tests__/ViemL2MessageServiceClient.test.ts
  postman/src/infrastructure/blockchain/viem/clients/__tests__/ViemL2MessageServiceLogClient.test.ts
  postman/src/infrastructure/blockchain/viem/clients/__tests__/ViemLineaRollupClient.test.ts
  postman/src/infrastructure/blockchain/viem/clients/__tests__/ViemLineaRollupLogClient.test.ts
  postman/src/infrastructure/blockchain/viem/gas/__tests__/ViemLineaGasProvider.test.ts
  postman/src/infrastructure/blockchain/viem/mappers/__tests__/mappers.test.ts
  postman/src/infrastructure/blockchain/viem/providers/__tests__/ViemProvider.test.ts
  postman/src/infrastructure/blockchain/viem/signers/__tests__/NonceManager.test.ts
  postman/src/infrastructure/blockchain/viem/signers/__tests__/contractSignerToViemAccount.test.ts
  postman/src/infrastructure/blockchain/viem/signers/__tests__/createChainContext.test.ts
  postman/src/infrastructure/blockchain/viem/signers/__tests__/createSignerClient.test.ts
  postman/src/infrastructure/persistence/dataSource.ts
  postman/src/infrastructure/persistence/migrations/1773239214353-AddNeedsManualInterventionStatus.ts
  postman/src/services/processors/__tests__/LineaTransactionValidationService.test.ts
  postman/src/utils/testing/constants.ts
Due: none

feat(contracts): add PlonkVerifierMainnetFull for EIP-7702- prover v6.1.7 (#2614)
  contracts/src/verifiers/7702/PlonkVerifierMainnetFull.sol
Due: hardhat

fix broken test
  prover/crypto/vortex/verifier_common.go
  prover/protocol/serde/impl_registry.go
  prover/protocol/serde/registry.go
Due: none

Updating Shomei
  config/coordinator/coordinator-config-v2.toml
  docker/compose-spec-l2-services.yml
Due: none

Updated shomei plugin version
  linea-besu-package/versions.env
Due: none

linear combination cleanup , compute lineacombination on polys
  prover/crypto/reedsolomon/reedsolomon.go
  prover/crypto/vortex/vortex_bls12377/prover.go
  prover/crypto/vortex/vortex_bls12377/verifier_test.go
  prover/crypto/vortex/vortex_koalabear/prover.go
  prover/crypto/vortex/vortex_koalabear/verifier_test.go
  prover/protocol/compiler/recursion/actions.go
  prover/protocol/compiler/recursion/recursion.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/names.go
  prover/protocol/compiler/vortex/prover.go
Due: none

cleanup dead code
  prover/crypto/vortex/utils.go
  prover/crypto/vortex/verifier_circuit_common.go
Due: none

move gkr_poseidon2 to another work
  prover/protocol/compiler/poseidon2/gkr_poseidon2.go
  prover/protocol/compiler/poseidon2/gkr_poseidon2_gnark.go
  prover/protocol/compiler/poseidon2/gkr_poseidon2_test.go
  prover/protocol/compiler/standard_benchmark_test.go
  prover/zkevm/full.go
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
