Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

style: replace em dashes with regular dashes
  docs/yield-boost-fund-flow.md
Due: none

docs: improve Quick Reference table accuracy and terminology
  docs/yield-boost-fund-flow.md
Due: none

docs: correct fund flow accuracy in roles and sequences
  docs/yield-boost-fund-flow.md
Due: none

[Coordinator] Add tests for hash function
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedProofAggregationClientV2.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/crypto/HashFunctionTest.kt
Due: kotlin

chore: remove .agents and native-yield-tech-spec.md from .gitignore
  .gitignore
Due: none

chore: restore .gitignore to match main branch
  .gitignore
Due: none

Fix test for concurrency
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/crypto/HashFunctionTest.kt
Due: kotlin

Add failure test
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/crypto/HashFunctionTest.kt
Due: kotlin

docs: refactor bridge-ui README draft (refs #959) (#2107)
  bridge-ui/README.md
  operations/README.md
Due: none

refactor witness assignment
  prover/crypto/encoding/encoding_circuit_test.go
  prover/crypto/fiatshamir/fs_circuit_test.go
  prover/crypto/fiatshamir_bls12377/fiatshamir_circuit.go
  prover/crypto/fiatshamir_bls12377/fiatshamir_circuit_test.go
  prover/crypto/fiatshamir_koalabear/fiatshamir_circuit.go
  prover/crypto/fiatshamir_koalabear/fiatshamir_circuit_test.go
  prover/crypto/poseidon2_bls12377/poseidon2_test.go
  prover/crypto/poseidon2_koalabear/poseidon2_koalagnark.go
  prover/crypto/poseidon2_koalabear/poseidon2_koalagnark_test.go
  prover/crypto/ringsis/gen.go
  prover/crypto/state-management/smt_bls12377/gnark_test.go
  prover/crypto/vortex/verifier_circuit_common_test.go
  prover/crypto/vortex/vortex_bls12377/verifier_circuit_test.go
  prover/crypto/vortex/vortex_koalabear/verifier_circuit_test.go
  prover/maths/common/fastpoly/gnark_poly_test.go
  prover/maths/common/fastpolyext/gnark_lagrange.go
  prover/maths/common/fastpolyext/gnark_poly_test.go
  prover/maths/common/smartvectors/smartvectors.go
  prover/maths/common/vector/vector_wizard.go
  prover/maths/common/vectorext/vector_wizard.go
  prover/maths/field/koalagnark/api.go
  prover/maths/field/koalagnark/api_test.go
  prover/maths/field/koalagnark/element.go
  prover/maths/field/koalagnark/ext.go
  prover/maths/polynomials/canonica_test.go
  prover/maths/polynomials/lagrange_test.go
  prover/protocol/compiler/splitextension/split.go
  prover/protocol/query/gnark_params.go
  prover/protocol/wizard/gnark_verifier.go
  prover/utils/gnarkutil/io.go
Due: none

[Coordinator] Add tests for hash function (#2334)
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedProofAggregationClientV2.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/crypto/HashFunctionTest.kt
Due: kotlin

fix variable bin
  tracer-constraints/bin/bin.zkasm
Due: none

feat: optimize constraints generated by ifs by testing on boolean vs u256
  tracer-constraints/alu/mod.zkasm
  tracer-constraints/bin/bin.zkasm
  tracer-constraints/exp/exp.zkasm
  tracer-constraints/shf/shf.zkasm
  tracer-constraints/stp/stp.zkasm
Due: none

in other modules
  tracer-constraints/util/byte_size.zkasm
  tracer-constraints/util/modulus.zkasm
  tracer-constraints/util/pow.zkasm
Due: none

another fix for OOB
  tracer-constraints/oob/oob.zkasm
Due: none

Revert "another fix for OOB"
  tracer-constraints/oob/oob.zkasm
Due: none

refactor OOB function(s)
  tracer-constraints/oob/oob.zkasm
  tracer-constraints/oob/oob_modexp.zkasm
  tracer-constraints/oob/oob_prc.zkasm
  tracer-constraints/util/cast.zkasm
Due: none

Revert "refactor OOB function(s)"
  tracer-constraints/oob/oob.zkasm
  tracer-constraints/oob/oob_modexp.zkasm
  tracer-constraints/oob/oob_prc.zkasm
  tracer-constraints/util/cast.zkasm
Due: none

added code delegation just for type 4 transactions
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyTransaction.java
Due: none

refactor const and constext
  prover/crypto/fiatshamir_bls12377/fiatshamir_circuit.go
  prover/crypto/fiatshamir_koalabear/fiatshamir_circuit.go
  prover/crypto/fiatshamir_koalabear/fiatshamir_circuit_test.go
  prover/crypto/poseidon2_bls12377/poseidon2_test.go
  prover/crypto/poseidon2_koalabear/poseidon2_koalagnark.go
  prover/crypto/state-management/smt_bls12377/gnark_test.go
  prover/crypto/vortex/verifier_circuit_common.go
  prover/maths/common/fastpoly/gnark_lagrange.go
  prover/maths/common/fastpolyext/gnark_lagrange.go
  prover/maths/field/koalagnark/api.go
  prover/maths/field/koalagnark/ext.go
  prover/maths/field/koalagnark/extapi.go
  prover/maths/polynomials/lagrange.go
  prover/protocol/accessors/from_constant.go
  prover/protocol/accessors/from_expression.go
  prover/protocol/accessors/from_integer_vec_coin.go
  prover/protocol/accessors/from_local_opening.go
  prover/protocol/column/column.go
  prover/protocol/column/verifiercol/expand_proof_or_verifying_key_with_zero.go
  prover/protocol/column/verifiercol/from_accessors.go
  prover/protocol/column/verifiercol/from_alleged_ys.go
  prover/protocol/column/verifiercol/full_constant.go
  prover/protocol/compiler/horner/horner.go
  prover/protocol/compiler/horner/projection_to_horner.go
  prover/protocol/compiler/mpts/verifier.go
  prover/protocol/compiler/recursion/circuit.go
  prover/protocol/compiler/selfrecursion/column_opening.go
  prover/protocol/compiler/splitextension/split.go
  prover/protocol/compiler/vortex/gnark_verifier.go
  prover/protocol/distributed/module_gl.go
  prover/protocol/query/global.go
  prover/protocol/variables/periodicsample.go
  prover/protocol/variables/x.go
  prover/protocol/wizard/gnark_verifier.go
  prover/public-input/execution.go
  prover/symbolic/evaluation.go
  prover/symbolic/lincomb.go
  prover/symbolic/polyeval.go
Due: none

remove UpdateFrVariable and refactor N0 N1 data types
  prover/crypto/fiatshamir/fs.go
  prover/crypto/fiatshamir_bls12377/fiatshamir_circuit.go
  prover/crypto/fiatshamir_koalabear/fiatshamir_circuit.go
  prover/protocol/compiler/horner/horner.go
  prover/protocol/compiler/horner/projection_to_horner.go
  prover/protocol/distributed/module_lpp.go
  prover/protocol/query/gnark_params.go
  prover/protocol/wizard/gnark_verifier.go
Due: none

fix: registered invalidity public inputs in big-endian order
  prover/zkevm/prover/publicInput/invalidity_pi/invalidity_pi.go
  prover/zkevm/prover/publicInput/invalidity_pi/invalidity_pi_test.go
  prover/zkevm/prover/publicInput/invalidity_pi/test_helpers.go
Due: none

fix: update awaitUntil function
  e2e/scripts/generateAbi.ts
  e2e/src/common/utils/block.ts
  e2e/src/common/utils/events/generic.ts
  e2e/src/common/utils/wait.ts
  e2e/src/config/schema/sepolia.ts
  e2e/src/linea-besu-fleet.spec.ts
  e2e/src/liveness.spec.ts
  e2e/src/shomei-get-proof.spec.ts
  e2e/src/submission-finalization.spec.ts
  e2e/src/transaction-exclusion.spec.ts
Due: none

fix: format abis index exports
  e2e/scripts/generateAbi.ts
Due: none

[Tracer] Add CodeDelegation list to ToyTransaction (#2310)
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyTransaction.java
Due: none

use per pause type expiry
  contracts/src/security/pausing/PauseManager.sol
  contracts/src/security/pausing/interfaces/IPauseManager.sol
  contracts/test/hardhat/security/PauseManager.ts
Due: hardhat

add back unchecked
  contracts/src/security/pausing/PauseManager.sol
Due: hardhat

fix: enable alerts for tracer
  .github/workflows/all-tools.yml
  .github/workflows/bridge-ui-e2e-tests.yml
  .github/workflows/bridge-ui-publish.yml
  .github/workflows/main.yml
  .github/workflows/slack-notify-failed-jobs.yml
Due: none

fix: test extra message option
  .github/workflows/bridge-ui-publish.yml
Due: none

fix: test extra message
  .github/workflows/bridge-ui-publish.yml
Due: none

fix: revert changes for testing
  .github/workflows/bridge-ui-publish.yml
Due: none

fix : extract public inputs from wizard verifier in bad-precompile circuit
  prover/circuits/invalidity/bad_precompile.go
  prover/circuits/invalidity/invalidity.go
  prover/circuits/invalidity/nonce_balance.go
  prover/zkevm/prover/publicInput/invalidity_pi/invalidity_pi_test.go
Due: none

allow other pause types to be paused during initial window
  contracts/src/security/pausing/PauseManager.sol
  contracts/test/hardhat/security/PauseManager.ts
Due: hardhat

add docstring on role restriction
  contracts/src/security/pausing/interfaces/IPauseManager.sol
Due: hardhat

add public instead of external for better inheritence
  contracts/src/bridging/token/TokenBridgeBase.sol
  contracts/src/messaging/l1/L1MessageService.sol
  contracts/src/messaging/l1/v1/ClaimMessageV1.sol
  contracts/src/messaging/l2/L2MessageServiceBase.sol
  contracts/src/messaging/l2/v1/L2MessageServiceV1.sol
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/LineaRollupYieldExtension.sol
  contracts/src/rollup/Validium.sol
  contracts/src/rollup/_exampleImplementations/ExternalShnarfStorageRollup.sol
  contracts/src/rollup/dataAvailability/CalldataBlobAcceptor.sol
  contracts/src/rollup/dataAvailability/Eip4844BlobAcceptor.sol
  contracts/src/rollup/dataAvailability/ShnarfDataAcceptor.sol
Due: hardhat

spotless + aligned columns naming between constraints and java to make it compile
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/transaction/UserTransactionFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/txndata/rows/hubRows/HubRowForUserTransactions.java
Due: none

feat: enable notification for tracers jobs
  .github/workflows/reusable-tracer-blockchain-tests.yml
  .github/workflows/reusable-tracer-nightly-tests.yml
  .github/workflows/reusable-tracer-weekly-prc-tests.yml
  .github/workflows/reusable-tracer-weekly-tests.yml
  .github/workflows/tracer-gradle-nightly-tests.yml
  .github/workflows/tracer-gradle-weekly-tests.yml
  .github/workflows/tracer-reference-blockchain-daily-tests.yml
Due: none

fix: update condition for notify jobs
  .github/workflows/all-tools.yml
  .github/workflows/bridge-ui-e2e-tests.yml
  .github/workflows/bridge-ui-publish.yml
  .github/workflows/main.yml
Due: none

fix: cancel bridge ui update
  .github/workflows/bridge-ui-publish.yml
Due: none

added column TRANSACTION_TYPE_SUPPORTS_DELEGATION_LIST
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/transaction/UserTransactionFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/txndata/rows/hubRows/HubRowForUserTransactions.java
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
