Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

gofmt fix
  prover/protocol/wizard/compiled.go
Due: none

staterecovery: bump besu version
  jvm-libs/linea/besu-libs/build.gradle
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateSynchronizerService.kt
Due: kotlin

swapped out tstore implementation of reentrancyguard
  contracts/src/bridging/token/TokenBridge.sol
Due: hardhat

conglomeration fixes
  prover/protocol/distributed/conglomeration/translator.go
Due: none

gofmt fix
  prover/protocol/distributed/conglomeration/translator.go
Due: none

init limitless job def
  prover/cmd/controller/controller/executor.go
  prover/cmd/controller/controller/job_definition.go
  prover/cmd/controller/controller/job_definition_limitless.go
Due: none

add trivial change clause to contributing md (#445)
  README.md
Due: none

passing npx hardhat test
  contracts/test/hardhat/bridging/token/TokenBridge.ts
Due: hardhat

Staterecovery adapt to new besu (#642)
  Makefile
  config/coordinator/log4j2-dev.xml
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  docker/compose-spec-l2-services.yml
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/MathExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/TypingsExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/net/consensys/MathExtensionsTest.kt
  jvm-libs/linea/besu-libs/build.gradle
  jvm-libs/linea/besu-rlp-and-mappers/src/main/kotlin/linea/domain/MapperLineaDomainToBesu.kt
  jvm-libs/linea/blob-decompressor/build.gradle
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressorTest.kt
  jvm-libs/linea/core/domain-models/build.gradle
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/Transaction.kt
  jvm-libs/linea/core/domain-models/src/testFixtures/kotlin/linea/domain/BlockFactory.kt
  jvm-libs/linea/core/domain-models/src/testFixtures/kotlin/linea/domain/TransactionFactory.kt
  jvm-libs/linea/testing/teku-helper/build.gradle
  jvm-libs/linea/web3j-extensions/src/test/kotlin/linea/web3j/EthGetBlockToLineaBlockMapperTest.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/BlobDecompressorAndDeserializer.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateRecoveryApp.kt
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateSynchronizerService.kt
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/AppConfigurator.kt
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/LineaStateRecoveryPlugin.kt
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/PluginOptions.kt
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/RecoveryModeManager.kt
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/TransactionMapper.kt
  state-recovery/test-cases/src/e2eTest/kotlin/linea/staterecovery/StateRecoveryE2ETest.kt
  state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/StateRecoveryAppWithFakeExecutionClientIntTest.kt
Due: kotlin

feat: enable lookup rlpTxn into Hub (#578)
  rlptxn/lookups/rlp_txn_into_hub.lisp
Due: none

fix floating version for integrationtesttrue
  contracts/src/_testing/integration/IntegrationTestTrueVerifier.sol
Due: hardhat

remove 0.8.26
  contracts/hardhat.config.ts
  contracts/src/_testing/unit/verifiers/TestPlonkVerifierForDataAggregation.sol
  contracts/src/verifiers/PlonkVerifierDev.sol
  contracts/src/verifiers/PlonkVerifierForDataAggregation.sol
  contracts/src/verifiers/PlonkVerifierForMultiTypeDataAggregation.sol
  contracts/src/verifiers/PlonkVerifierSepoliaFull.sol
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/autoupdate.sh
Due: hardhat

Revert "passing npx hardhat test"
  contracts/test/hardhat/bridging/token/TokenBridge.ts
Due: hardhat

Revert "swapped out tstore implementation of reentrancyguard"
  contracts/src/bridging/token/TokenBridge.sol
Due: hardhat

change 0.8.28 to prague
  contracts/hardhat.config.ts
Due: hardhat

Swap out reentrancy for TokenBridge
  contracts/src/bridging/token/TokenBridge.sol
  contracts/test/hardhat/bridging/token/TokenBridge.ts
Due: hardhat

Revert "Swap out reentrancy for TokenBridge"
  contracts/src/bridging/token/TokenBridge.sol
  contracts/test/hardhat/bridging/token/TokenBridge.ts
Due: hardhat

feat: introduce proxy clones
  .gas-report
  .gas-snapshot
  script/DeployRewardsStreamerMP.s.sol
  src/StakeVault.sol
  src/VaultFactory.sol
  test/RewardsStreamerMP.t.sol
  test/StakeVault.test.sol
Due: none

chore: make linter happy
  docs/xp-token.md
  src/interfaces/IStakeConstants.sol
  src/interfaces/IStakeManagerProxy.sol
  src/math/StakeMath.sol
  test/mocks/StackOverflowStakeManager.sol
  test/mocks/XPProviderMock.sol
Due: none

Revert "Revert "Swap out reentrancy for TokenBridge""
  contracts/src/bridging/token/TokenBridge.sol
  contracts/test/hardhat/bridging/token/TokenBridge.ts
Due: hardhat

Revert "Revert "Revert "Swap out reentrancy for TokenBridge"""
  contracts/src/bridging/token/TokenBridge.sol
  contracts/test/hardhat/bridging/token/TokenBridge.ts
Due: hardhat

Did TransientStorageReentrancyGuardUpgradeable for L2MessageServiceV1
  contracts/src/messaging/l2/L2MessageService.sol
  contracts/src/messaging/l2/v1/L2MessageServiceV1.sol
  contracts/test/hardhat/messaging/l2/L2MessageService.ts
Due: hardhat

Revert "Did TransientStorageReentrancyGuardUpgradeable for L2MessageServiceV1"
  contracts/src/messaging/l2/L2MessageService.sol
  contracts/src/messaging/l2/v1/L2MessageServiceV1.sol
  contracts/test/hardhat/messaging/l2/L2MessageService.ts
Due: hardhat

[Feat] L1 contracts bump to solidity 0.8.28 (#656)
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/src/_testing/integration/IntegrationTestTrueVerifier.sol
  contracts/src/_testing/mocks/base/RevertingVerifier.sol
  contracts/src/_testing/mocks/base/TestClaimingCaller.sol
  contracts/src/_testing/mocks/base/TestL1RevertContract.sol
  contracts/src/_testing/mocks/base/TestReceivingContract.sol
  contracts/src/_testing/mocks/bridging/MockMessageServiceV2.sol
  contracts/src/_testing/mocks/bridging/TestTokenBridge.sol
  contracts/src/_testing/mocks/security/reentrancy/MaliciousERC777.sol
  contracts/src/_testing/unit/TestExternalCalls.sol
  contracts/src/_testing/unit/libraries/TestEfficientLeftRightKeccak.sol
  contracts/src/_testing/unit/messaging/TestL1MessageManager.sol
  contracts/src/_testing/unit/messaging/TestL1MessageService.sol
  contracts/src/_testing/unit/messaging/TestL1MessageServiceMerkleProof.sol
  contracts/src/_testing/unit/messaging/TestL2MessageService.sol
  contracts/src/_testing/unit/messaging/TestMessageServiceBase.sol
  contracts/src/_testing/unit/messaging/TestSparseMerkleTreeVerifier.sol
  contracts/src/_testing/unit/rollup/TestLineaRollup.sol
  contracts/src/_testing/unit/security/TestPauseManager.sol
  contracts/src/_testing/unit/security/TestRateLimiter.sol
  contracts/src/_testing/unit/security/TestSetPauseTypeRoles.sol
  contracts/src/_testing/unit/verifiers/TestPlonkVerifierForDataAggregation.sol
  contracts/src/governance/TimeLock.sol
  contracts/src/proxies/CallForwardingProxy.sol
  contracts/src/recovery/RecoverFunds.sol
  contracts/src/rollup/LineaRollup.sol
  contracts/src/verifiers/PlonkVerifierDev.sol
  contracts/src/verifiers/PlonkVerifierForDataAggregation.sol
  contracts/src/verifiers/PlonkVerifierForMultiTypeDataAggregation.sol
  contracts/src/verifiers/PlonkVerifierSepoliaFull.sol
  contracts/test/foundry/ExampleFoundryTest.t.sol
  contracts/test/foundry/LineaRollup.t.sol
  e2e/package.json
  pnpm-lock.yaml
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/autoupdate.sh
Due: hardhat

did tstore changes for msgSender, commented out a failing case
  contracts/src/messaging/l2/L2MessageService.sol
  contracts/src/messaging/l2/v1/L2MessageServiceV1.sol
  contracts/test/hardhat/messaging/MessageServiceBase.ts
Due: hardhat

Revert "did tstore changes for msgSender, commented out a failing case"
  contracts/src/messaging/l2/L2MessageService.sol
  contracts/src/messaging/l2/v1/L2MessageServiceV1.sol
  contracts/test/hardhat/messaging/MessageServiceBase.ts
Due: hardhat

add tests for soundness alerting
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/interfaces/ILineaRollup.sol
  contracts/test/hardhat/_testData/compressedDataEip4844/aggregatedProof-1-46.json
  contracts/test/hardhat/common/constants/general.ts
  contracts/test/hardhat/common/constants/index.ts
  contracts/test/hardhat/common/constants/soundnessAlert.ts
  contracts/test/hardhat/common/types.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
Due: hardhat

set correct pragma version
  contracts/src/_testing/unit/libraries/TestEfficientKeccak.sol
Due: hardhat

fix(consistency): adds a smaller size to the consistency module
  prover/zkevm/prover/statemanager/codehashconsistency/consistency.go
Due: none

limitless prover job definitions and unit tests successful
  prover/cmd/controller/controller/job_definition.go
  prover/cmd/controller/controller/job_definition_limitless.go
  prover/cmd/controller/controller/job_definition_limitless_test.go
  prover/cmd/controller/controller/job_definition_test.go
  prover/cmd/controller/controller/tmp_test.go
Due: none

delete tmp test dirs
  prover/cmd/controller/controller/tmp_test.go
Due: none

cleanup of testing and error messaging
  contracts/src/_testing/mocks/base/ScenarioBasedVerifier.sol
  contracts/src/_testing/mocks/bridging/TestTokenBridge.sol
  contracts/src/_testing/unit/messaging/TestL2MessageService.sol
  contracts/src/rollup/ZkEvmV2.sol
  contracts/src/rollup/interfaces/IZkEvmV2.sol
  contracts/test/hardhat/rollup/LineaRollup.ts
Due: hardhat

remove static inputs from soundness check
  contracts/src/_testing/mocks/tokens/TestERC20.sol
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/interfaces/ILineaRollup.sol
  contracts/test/hardhat/common/types.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
Due: hardhat

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
