Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

Feat: Sequencer fully remove uber jar distribution (#1118)
  besu-plugins/linea-sequencer/gradle/dist.gradle
Due: none

chore: migrate project to Kotlin 2.0.0 and fix null-safety in tests (#1040)
  besu-plugins/state-recovery/besu-plugin/build.gradle
  buildSrc/build.gradle
  buildSrc/gradle.properties
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/GenericFileBasedProverClient.kt
  coordinator/core/build.gradle
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/MakefileContractDeploymentHelper.kt
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  jvm-libs/generic/json-rpc/build.gradle
  jvm-libs/linea/blob-compressor/build.gradle
  jvm-libs/linea/clients/interfaces/build.gradle
  jvm-libs/linea/core/domain-models/build.gradle
  jvm-libs/linea/web3j-extensions/build.gradle
  testing-tools/app/build.gradle
Due: kotlin

chore(deps): update compromised dependencies (#1157)
  package.json
  pnpm-lock.yaml
Due: none

coordinator: adds FakeLineaRollupSmartContractClient (#1161)
  .github/workflows/maven-release-all.yml
  jvm-libs/linea/clients/linea-contract-clients/src/testFixtures/kotlin/linea/contract/l1/FakeLineaRollupSmartContractClient.kt
Due: kotlin

chore(ci): improve CodeQL analysis (#1160)
  .github/workflows/codeql.yml
  .github/workflows/main.yml
Due: none

[linea-sequencer-plugin] Block blob tx (#1150)
  besu-plugins/linea-sequencer/CHANGELOG.md
  besu-plugins/linea-sequencer/acceptance-tests/build.gradle
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/BlobTransactionDenialTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/LineaPluginTestBase.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/LineaPluginTestBasePrague.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/org/hyperledger/besu/tests/acceptance/dsl/EngineAPIService.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/blob.txt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/clique/clique-prague-no-blobs.json.tpl
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/clique/clique-prague-one-blob.json.tpl
  besu-plugins/linea-sequencer/build.gradle
  besu-plugins/linea-sequencer/docs/plugins.md
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/AbstractLineaSharedPrivateOptionsPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaTransactionValidatorCliOptions.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaTransactionValidatorConfiguration.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txvalidation/LineaTransactionValidatorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txvalidation/LineaTransactionValidatorPluginTest.java
Due: none

Chore: Update Tracer to beta-v3.1-rc5 (#1165)
  gradle/libs.versions.toml
Due: none

fix: update bridge ui next js image config (#1171)
  bridge-ui/next.config.mjs
Due: none

Fix: update csp headers in bridge ui (#1187)
  bridge-ui/src/middleware.ts
Due: none

chore: added test fixtures dependencies in kotlin-common-conventions (#1178)
  .github/workflows/github-release-besu-plugin.yml
  buildSrc/src/main/groovy/net.consensys.zkevm.kotlin-common-conventions.gradle
  jvm-libs/generic/json-rpc/build.gradle
  jvm-libs/linea/clients/interfaces/build.gradle
  jvm-libs/linea/clients/linea-contract-clients/build.gradle
Due: kotlin

fix: update csp headers in bridge ui (#1183)
  bridge-ui/src/middleware.ts
Due: none

chore: switch to Consensys fork of Tuweni and update it to 2.7.0 (#1074)
  besu-plugins/linea-sequencer/gradle/dependency-management.gradle
  besu-plugins/linea-sequencer/sequencer/build.gradle
  coordinator/persistence/aggregation/build.gradle
  coordinator/persistence/blob/build.gradle
  gradle/libs.versions.toml
  jvm-libs/generic/extensions/tuweni/build.gradle
  jvm-libs/linea/besu-libs/build.gradle
  jvm-libs/linea/blob-decompressor/build.gradle
  jvm-libs/linea/clients/linea-state-manager/build.gradle
  jvm-libs/linea/core/traces/build.gradle
Due: kotlin

add intercom to csp whitelist (#1177)
  bridge-ui/src/middleware.ts
Due: none

Update arithmetization to beta-v3.1-rc6 and adapt Sequencer to the new version (#1194)
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/AbstractLineaSharedPrivateOptionsPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaTracerCliOptions.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaTracerLineLimitConfiguration.java
  gradle/libs.versions.toml
Due: none

chore(ci): improve pipelines security (#1188)
  .github/actions/image-tag-and-push/action.yml
  .github/workflows/all-tools.yml
  .github/workflows/bridge-ui-e2e-tests.yml
  .github/workflows/bridge-ui-publish.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/codecov-external-pr.yml
  .github/workflows/codeql.yml
  .github/workflows/coordinator-build-and-publish.yml
  .github/workflows/coordinator-testing.yml
  .github/workflows/get-has-changes-requiring-e2e-testing.yml
  .github/workflows/github-release-besu-plugin.yml
  .github/workflows/linea-sequencer-plugin-release.yml
  .github/workflows/linea-sequencer-plugin-testing.yml
  .github/workflows/load-test.yml
  .github/workflows/main.yml
  .github/workflows/maven-release-all.yml
  .github/workflows/maven-release.yml
  .github/workflows/postman-build-and-publish.yml
  .github/workflows/postman-testing.yml
  .github/workflows/prover-build-and-publish.yml
  .github/workflows/prover-testing.yml
  .github/workflows/reuse-check-images-tags-and-push.yml
  .github/workflows/reuse-linea-besu-package-build-test-push.yml
  .github/workflows/reuse-linea-besu-package-run-e2e-tests.yml
  .github/workflows/reuse-run-e2e-tests.yml
  .github/workflows/reuse-store-image-name-and-tags.yml
  .github/workflows/run-smc-tests.yml
  .github/workflows/security-report-to-csv.yml
  .github/workflows/slack-notify-external-contributions.yml
  .github/workflows/staterecovery-testing.yml
  .github/workflows/testing.yml
  .github/workflows/transaction-exclusion-api-build-and-publish.yml
  .github/workflows/transaction-exclusion-api-testing.yml
  .github/workflows/valid-audit-pr-has-tags.yml
  operations/src/commands/eth-transfer.ts
  operations/src/commands/synctx.ts
Due: none

[Chore] Add consideration to templates (#1180)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/operational_task_template.md
  .github/workflows/main.yml
Due: none

feat: add calldata based pricing for variable cost (#1189)
  config/coordinator/coordinator-config-v2.toml
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/L2NetworkGasPricingConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/CoordinatorConfigFilesToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/L2NetworkGasPricingConfigToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L2NetworkGasPricingService.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitor.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/L2NetWorkingGasPricingConfigParsingTest.kt
  coordinator/ethereum/gas-pricing/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/DynamicGasPrice.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/ExtraDataV1PricerService.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataBasedVariableFeesCalculator.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataSizeAccumulatorImpl.kt
  coordinator/ethereum/gas-pricing/static-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/ExtraDataV1PricerServiceTest.kt
  coordinator/ethereum/gas-pricing/static-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataBasedVariableFeesCalculatorTest.kt
  coordinator/ethereum/gas-pricing/static-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataSizeAccumulatorImplTest.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ExtendedWeb3J.kt
Due: kotlin

fix: remove l2FeesAdapters file (#1196)
  l2FeesAdapter.ts
Due: none

Feat: Improve the logging of Besu during e2e tests (#1197)
  .github/workflows/reuse-linea-besu-package-run-e2e-tests.yml
  .github/workflows/reuse-run-e2e-tests.yml
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
  docker/config/l1-node/el/config.toml
  docker/config/l1-node/el/log4j.xml
  docker/config/l2-node-besu/log4j.xml
  docker/config/linea-besu-sequencer/sequencer.config.toml
  docker/linea-mainnet/linea-besu.config.toml
  docker/linea-sepolia/linea-besu.config.toml
Due: none

feat: add request timeout for conflated trace, trace counter, and sta… (#1125)
  config/coordinator/coordinator-config-v2.toml
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/StateManagerConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/TracesConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/StateManagerToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/TracesToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/StateManagerParsingTest.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/TracesParsingTest.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClient.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClientFactory.kt
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerV1JsonRpcClient.kt
Due: kotlin

Fix: correct the name of the traces-node container when collecting Docker logs (#1186)
  .github/workflows/reuse-linea-besu-package-run-e2e-tests.yml
Due: none

chores(tmpl): adds the ^ in the solidity pragma of the mimc template (#1192)
  prover/cmd/dev-tools/mimc/mimc.sol.gotmpl
Due: none

Fix: e2e tests l2 traffic generation issue (#1203)
  e2e/src/common/utils.ts
  e2e/src/config/tests-config/accounts/genesis-based-account-manager.ts
Due: none

fix: besu sha256 display on release page (#1202)
  .github/actions/linea-besu-package/assemble/action.yml
Due: none

[Chore] - 1086 variable cleanup (#1206)
  contracts/.env.template
  contracts/.env.template.ci
  contracts/.env.template.uat
  contracts/README.md
  contracts/deploy/01_deploy_PlonkVerifier.ts
  contracts/docs/deployment.md
  contracts/docs/operational.md
  contracts/scripts/operational/tasks/setVerifierAddressTask.ts
  contracts/scripts/upgrades/upgradeLineaRollup.ts
  contracts/src/verifiers/PlonkVerifierForMultiTypeDataAggregation.sol
  contracts/test/hardhat/rollup/helpers/deploy.ts
Due: hardhat

try force-dynamic for root layout (#1209)
  bridge-ui/src/app/RootLayout.tsx
  bridge-ui/src/middleware.ts
Due: none

Adjust CSP header for Cloudflare (#1211)
  bridge-ui/src/app/RootLayout.tsx
  bridge-ui/src/middleware.ts
Due: none

chore(ci): improve pipelines security (#1200)
  .github/workflows/all-tools.yml
  .github/workflows/bridge-ui-publish.yml
  .github/workflows/github-release-besu-plugin.yml
  .github/workflows/linea-besu-package-release.yml
  .github/workflows/linea-sequencer-plugin-testing.yml
  .github/workflows/load-test.yml
  .github/workflows/main.yml
  .github/workflows/maven-release-all.yml
  .github/workflows/maven-release.yml
  .github/workflows/prover-native-lib-blob-compressor-release.yml
  .github/workflows/prover-testing.yml
  .github/workflows/reuse-linea-besu-package-build-test-push.yml
  .github/workflows/reuse-linea-besu-package-run-e2e-tests.yml
  .github/workflows/transaction-exclusion-api-build-and-publish.yml
Due: none

Revert "Adjust CSP header for Cloudflare (#1211)" (#1217)
  bridge-ui/src/app/RootLayout.tsx
  bridge-ui/src/middleware.ts
Due: none

fix: bridge ui workflow node version issue (#1214)
  .github/workflows/bridge-ui-publish.yml
Due: none

fix(ci): filter out commit changes for e2e tests (#1216)
  .github/workflows/main.yml
Due: none

feat: update faq with seo enhancement (#1190)
  bridge-ui/src/app/(main)/faq/page.tsx
Due: none

(fix): docker build err: bump up go version (#1215)
  prover/Dockerfile
Due: none

feat: update coordinator image tag (#1225)
  docker/compose-spec-l2-services.yml
Due: none

feat: add support of TLS connection between coordinator and web3signer (#1213)
  config/coordinator/coordinator-config-v2.toml
  config/coordinator/tls-files/coordinator-client-keystore.p12
  config/coordinator/tls-files/web3signer-truststore.p12
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/SignerConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/MessageAnchoringConfigToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/SignerConfigToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/BlockchainClientHelper.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/L1SubmissionConfigParsingTest.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/MessageAnchoringConfigParsingTest.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/SignerConfigParsingTest.kt
  docker/compose-spec-l2-services.yml
  docker/web3signer/conf/config.yaml
  docker/web3signer/key-files/anchoring-signer.yaml
  docker/web3signer/key-files/data-submission-signer.yaml
  docker/web3signer/key-files/finalization-signer.yaml
  docker/web3signer/tls-files/known-clients.txt
  docker/web3signer/tls-files/web3signer-keystore-password.txt
  docker/web3signer/tls-files/web3signer-keystore.p12
  docs/l1-dynamic-gas-pricing.md
Due: kotlin

add wss to csp header (#1219)
  bridge-ui/src/middleware.ts
Due: none

Update Besu to 25.5.0-linea2.1 in package (#1212)
  .github/workflows/linea-besu-package-release.yml
  linea-besu-package/versions.env
Due: none

Fix: e2e tests transaction pricing issue (#1210)
  config/coordinator/coordinator-config-v2.toml
  e2e/src/bridge-tokens.spec.ts
  e2e/src/common/utils.ts
  e2e/src/config/jest/global-setup.ts
  e2e/src/config/tests-config/accounts/account-manager.ts
  e2e/src/l2.spec.ts
  e2e/src/messaging.spec.ts
  e2e/src/restart.spec.ts
  e2e/src/send-bundle.spec.ts
  e2e/src/shomei-get-proof.spec.ts
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
