Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

fix: enable conditional Docker image push in automation service workflow
  .github/workflows/native-yield-automation-service-build-and-publish.yml
Due: none

fix: remove .only in contracts test
  contracts/test/hardhat/libraries/SparseMerkleProof.ts
Due: hardhat

fixing compilation
  prover/Makefile
  prover/circuits/execution/circuit.go
  prover/config/config-mainnet-limitless.toml
  prover/protocol/compiler/globalcs/degree_reduction.go
  prover/protocol/limbs/uints.go
  prover/protocol/plonkinternal/context.go
  prover/protocol/serialization/distributed_wizard_test.go
  prover/protocol/serialization/zkevm_test.go
  prover/protocol/wizard/gnark_verifier.go
  prover/zkevm/arithmetization/zkevm.bin
  prover/zkevm/checker.go
  prover/zkevm/full.go
  prover/zkevm/limitless.go
  prover/zkevm/partial.go
  prover/zkevm/prover/bls/arithmetization_integration_add_test.go
  prover/zkevm/prover/bls/arithmetization_integration_map_test.go
  prover/zkevm/prover/bls/arithmetization_integration_msm_test.go
  prover/zkevm/prover/bls/arithmetization_integration_pair_test.go
  prover/zkevm/prover/bls/arithmetization_integration_pointeval_test.go
  prover/zkevm/prover/bls/module_add.go
  prover/zkevm/prover/bls/module_add_test.go
  prover/zkevm/prover/bls/module_map.go
  prover/zkevm/prover/bls/module_map_test.go
  prover/zkevm/prover/bls/module_msm.go
  prover/zkevm/prover/bls/module_msm_test.go
  prover/zkevm/prover/bls/module_pair.go
  prover/zkevm/prover/bls/module_pair_test.go
  prover/zkevm/prover/bls/module_pointeval.go
  prover/zkevm/prover/bls/module_pointeval_test.go
  prover/zkevm/prover/bls/zkevm_modules.go
  prover/zkevm/prover/p256verify/arithmetization_integration_test.go
  prover/zkevm/prover/p256verify/module.go
  prover/zkevm/prover/p256verify/module_test.go
  prover/zkevm/prover/publicInput/public_input.go
  prover/zkevm/settings.go
  prover/zkevm/zkevm.go
Due: none

fix: add a condition in the sparseMerkleProof contract (#2152)
  contracts/src/libraries/SparseMerkleProof.sol
  contracts/test/hardhat/libraries/SparseMerkleProof.ts
Due: hardhat

fix(recursion): alloc and assign of circuit is fixed
  prover/protocol/compiler/recursion/circuit.go
  prover/protocol/wizard/gnark_verifier.go
Due: none

perf: found Params for minimum constraints (156M) and proof size
  prover/protocol/compiler/standard_benchmark_test.go
Due: none

add comments for small-field-release
  prover/backend/aggregation/request.go
Due: none

fixing compilation- cherry-pick 2d2318fc
  prover/Makefile
  prover/circuits/execution/circuit.go
  prover/config/config-mainnet-limitless.toml
  prover/protocol/compiler/globalcs/degree_reduction.go
  prover/protocol/limbs/uints.go
  prover/protocol/plonkinternal/context.go
  prover/protocol/serialization/distributed_wizard_test.go
  prover/protocol/serialization/zkevm_test.go
  prover/protocol/wizard/gnark_verifier.go
  prover/zkevm/arithmetization/zkevm.bin
  prover/zkevm/checker.go
  prover/zkevm/full.go
  prover/zkevm/limitless.go
  prover/zkevm/partial.go
  prover/zkevm/prover/bls/arithmetization_integration_add_test.go
  prover/zkevm/prover/bls/arithmetization_integration_map_test.go
  prover/zkevm/prover/bls/arithmetization_integration_msm_test.go
  prover/zkevm/prover/bls/arithmetization_integration_pair_test.go
  prover/zkevm/prover/bls/arithmetization_integration_pointeval_test.go
  prover/zkevm/prover/bls/module_add.go
  prover/zkevm/prover/bls/module_add_test.go
  prover/zkevm/prover/bls/module_map.go
  prover/zkevm/prover/bls/module_map_test.go
  prover/zkevm/prover/bls/module_msm.go
  prover/zkevm/prover/bls/module_msm_test.go
  prover/zkevm/prover/bls/module_pair.go
  prover/zkevm/prover/bls/module_pair_test.go
  prover/zkevm/prover/bls/module_pointeval.go
  prover/zkevm/prover/bls/module_pointeval_test.go
  prover/zkevm/prover/bls/zkevm_modules.go
  prover/zkevm/prover/p256verify/arithmetization_integration_test.go
  prover/zkevm/prover/p256verify/module.go
  prover/zkevm/prover/p256verify/module_test.go
  prover/zkevm/prover/publicInput/public_input.go
  prover/zkevm/settings.go
  prover/zkevm/zkevm.go
Due: none

created zkevm witness for invalidity
  prover/backend/execution/craft.go
  prover/backend/execution/request.go
  prover/backend/invalidity/prove.go
  prover/circuits/registry.go
  prover/zkevm/prover/publicInput/invalidity_pi/fetcher.go
  prover/zkevm/prover/publicInput/invalidity_pi/invalidity_pi.go
  prover/zkevm/prover/publicInput/invalidity_pi/test_helpers.go
  prover/zkevm/zkevm.go
Due: none

feat: computing the multi-commitment out of gnark
  prover/backend/execution/craft.go
  prover/backend/execution/response.go
  prover/public-input/execution.go
  prover/zkevm/witness.go
Due: none

coordinator: remove unused/usuported Web3JExtended client
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ExtendedWeb3J.kt
Due: kotlin

coordinator: extend ForcedTransactionInclusionResult enum
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/forcedtx/ForcedTransactionsClient.kt
Due: kotlin

coordinator: adds EthLogsFilterSubscriptionManager implementation and tests
  jvm-libs/linea/clients/eth-logs-searcher/src/main/kotlin/linea/ethapi/EthLogsFilterSubscriptionPollingBased.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/EthLogsFilterPollerTest.kt
  jvm-libs/linea/clients/interfaces/build.gradle
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/extensions/EthLogsFilterSubscription.kt
Due: kotlin

coordinator: fix log message placeholders
  jvm-libs/linea/clients/eth-logs-searcher/src/main/kotlin/linea/ethapi/EthLogsFilterSubscriptionPollingBased.kt
Due: kotlin

documentation
  docs/diagrams/forced-transactions/complete-flow.mmd
  docs/diagrams/forced-transactions/contract-architecture.mmd
  docs/diagrams/forced-transactions/finalization-flow.mmd
  docs/diagrams/forced-transactions/submission-flow.mmd
  docs/diagrams/forced-transactions/system-overview.mmd
  docs/forced-transactions-architecture.md
Due: none

emit contract version on initialize
  contracts/abi/LineaRollupV8.0.abi
  contracts/local-deployments-artifacts/dynamic-artifacts/LineaRollupV8.json
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/interfaces/ILineaRollupBase.sol
  contracts/test/hardhat/common/types.ts
  contracts/test/hardhat/rollup/LineaRollup/AddressFilter.ts
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransaction_sample_0.ts
  contracts/test/hardhat/rollup/helpers/deploy.ts
Due: hardhat

Docs: GnarkEvalCanonicalBatch, explain the constraint size optimization
  prover/maths/polynomials/canonical.go
Due: none

Simplified the tentative rejections handling algorithm
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/LineaForcedTransactionPool.java
Due: none

documentation tweak
  docs/diagrams/forced-transactions/contract-architecture.mmd
  docs/forced-transactions-architecture.md
Due: none

word tweak
  docs/forced-transactions-architecture.md
Due: none

better wording
  docs/forced-transactions-architecture.md
Due: none

coordinator: improve EthLogsFilterSubscription efficieny on edge case
  jvm-libs/linea/clients/eth-logs-searcher/src/main/kotlin/linea/ethapi/EthLogsFilterSubscriptionPollingBased.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/EthLogsFilterPollerTest.kt
Due: kotlin

use correct terminology
  docs/forced-transactions-architecture.md
Due: none

coordinator: favour functional interface over inline fun interface
  jvm-libs/linea/clients/eth-logs-searcher/src/main/kotlin/linea/ethapi/EthLogsFilterSubscriptionPollingBased.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/extensions/EthLogsFilterSubscription.kt
Due: kotlin

make CONTRACT_VERSION public for initialization and overrides
  contracts/src/bridging/token/TokenBridgeBase.sol
  contracts/src/messaging/l2/L2MessageServiceBase.sol
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/Validium.sol
  contracts/src/rollup/_exampleImplementations/ExternalShnarfStorageRollup.sol
  contracts/test/hardhat/rollup/LineaRollup.ts
Due: hardhat

fix test
  contracts/test/hardhat/rollup/LineaRollup/AddressFilter.ts
Due: hardhat

helpers and checklist
  contracts/test/hardhat/MIGRATION_PATTERNS.md
  contracts/test/hardhat/TEST_CONSOLIDATION_CHECKLIST.md
  contracts/test/hardhat/common/helpers/accessControl.ts
  contracts/test/hardhat/common/helpers/index.ts
  contracts/test/hardhat/common/helpers/initialization.ts
  contracts/test/hardhat/common/helpers/pauseManager.ts
  contracts/test/hardhat/common/helpers/rollingHash.ts
Due: hardhat

postman: try to improve docker image
  .dockerignore
  postman/Dockerfile
Due: none

postman: try to improve docker image (revert to slim base)
  postman/Dockerfile
Due: none

Coordinator - adds EthLogsfilter subscription through polling (#2171)
  jvm-libs/linea/clients/eth-logs-searcher/src/main/kotlin/linea/ethapi/EthLogsFilterSubscriptionPollingBased.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/EthLogsFilterPollerTest.kt
  jvm-libs/linea/clients/interfaces/build.gradle
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/extensions/EthLogsFilterSubscription.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/forcedtx/ForcedTransactionsClient.kt
Due: kotlin

fixed compute rlp and keccak
  tracer-constraints/rlpauth/lookups/rlpauth_into_shakira_for_code_hash.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_shakira_for_ecrecover.lisp
  tracer-constraints/rlpauth/rlpauth.zkasm
  tracer-constraints/util/byte.zkasm
  tracer-constraints/util/padding.zkasm
Due: none

feat: add replay faulty block test to run with Besu, change replayTestTools api to make it configurable to run with Besu, update Besu to 25.11.0-linea4.3 that has hotfix
  gradle/libs.versions.toml
  tracer/arithmetization/src/test/java/net/consensys/linea/ReplayTestTools.java
  tracer/arithmetization/src/test/java/net/consensys/linea/osakaReplayTests/Incident1445.java
  tracer/build.gradle
Due: none

fix: manual release flow
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

fix replay import
  tracer/arithmetization/src/test/java/net/consensys/linea/ReplayTestTools.java
  tracer/build.gradle
Due: none

feat: release sequencer rc10.1 + pkg with besu 25.11.0-linea4.3
  gradle/libs.versions.toml
  linea-besu-package/versions.env
Due: none

rc10 for arith
  gradle/libs.versions.toml
  linea-besu-package/versions.env
Due: none

fixed logic of keccak and rlp functions
  tracer-constraints/rlpauth/lookups/rlpauth_into_blockdata.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_ecdata.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_hub.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_shakira_2_limbs.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_shakira_3_limbs.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_shakira_for_ecrecover.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_txndata.lisp
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

coordinator: forced transactions add contract V8 Abi and client (finalization not supported yet)
  contracts/abi/LineaRollupV8.0.abi
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupFunctionBuilders.kt
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/MakefileContractDeploymentHelper.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/contract/l1/LineaSmartContractClient.kt
  jvm-libs/linea/clients/linea-contract-clients/build.gradle
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
  jvm-libs/linea/linea-contracts/l1-rollup/build.gradle
Due: hardhat, kotlin

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
