Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

added the compiler for logderivativesum
  prover/protocol/column/column.go
  prover/protocol/compiler/logderivative_sum.go/compile.go
  prover/protocol/compiler/lookup/compiler.go
  prover/protocol/compiler/lookup/prover.go
  prover/protocol/compiler/lookup/verifier.go
  prover/protocol/compiler/lookup/z_packing.go
  prover/protocol/distributed/preparation.go
  prover/protocol/query/logderiv_sum.go
Due: none

fix: rename Utils contract + update autoupdate script
  contracts/src/_testing/unit/TestSparseMerkleTreeVerifier.sol
  contracts/src/_testing/unit/TestUtils.sol
  contracts/src/bridging/token/TokenBridge.sol
  contracts/src/libraries/EfficientLeftRightKeccak.sol
  contracts/src/messaging/l1/L1MessageManager.sol
  contracts/src/messaging/l2/L2MessageManager.sol
  contracts/src/messaging/libraries/SparseMerkleTreeVerifier.sol
  contracts/src/rollup/LineaRollup.sol
  contracts/src/verifiers/Utils.sol
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/autoupdate.sh
Due: hardhat

replace zero check against the expected sum
  prover/protocol/compiler/logderivative_sum.go/compile.go
  prover/protocol/compiler/lookup/compiler.go
  prover/protocol/compiler/lookup/verifier.go
  prover/protocol/distributed/compiler/inclusion/inclusion.go
Due: none

fix: add retry mechanism in e2e account manager
  e2e/src/config/tests-config/accounts/account-manager.ts
Due: none

fix: update solidity doc
  contracts/docs/api/libraries/EfficientLeftRightKeccak.mdx
Due: hardhat

coordinator: update commit tag
  docker/compose.yml
Due: none

coordinator: update besu dependency
  .github/workflows/coordinator-build-and-publish.yml
  gradle/libs.versions.toml
Due: none

coordinator: retry account funding
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/AccountManager.kt
Due: kotlin

staterecover: remove redundant dependencys in gradle
  buildSrc/src/main/groovy/net.consensys.zkevm.kotlin-common-minimal-conventions.gradle
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitorTest.kt
  jvm-libs/linea/besu-libs/build.gradle
  jvm-libs/linea/blob-decompressor/build.gradle
  settings.gradle
  state-recover/clients/smartcontract/build.gradle
Due: kotlin

fixed the verifier check against the claimed sum
  prover/protocol/compiler/logderivative_sum.go/compile.go
Due: none

coordinator: update besu dependency (#475)
  .github/workflows/coordinator-build-and-publish.yml
  buildSrc/src/main/groovy/net.consensys.zkevm.kotlin-common-minimal-conventions.gradle
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitorTest.kt
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/AccountManager.kt
  docker/compose.yml
  gradle/libs.versions.toml
  jvm-libs/linea/besu-libs/build.gradle
  jvm-libs/linea/blob-decompressor/build.gradle
  settings.gradle
  state-recover/clients/smartcontract/build.gradle
Due: kotlin

staterecover: use linea-besu jars
  jvm-libs/linea/besu-libs/build.gradle
  state-recover/appcore/logic/build.gradle
Due: kotlin

staterecover: fix blocks rlp
  jvm-libs/linea/blob-compressor/src/testFixtures/resources/blocks_rlp.bin
Due: kotlin

Update docker-compose.yml
  docker/linea-mainnet/docker-compose.yml
Due: none

bug fix
  prover/maths/common/smartvectorsext/regular_ext.go
  prover/maths/common/smartvectorsext/smartvector_ext_test.go
Due: none

Update docker-compose.yml
  docker/linea-sepolia/docker-compose.yml
Due: none

replace fext with Youssef's field extensions
  prover/maths/common/smartvectorsext/smartvector_ext_test.go
  prover/maths/field/fext/doc.go
  prover/maths/field/fext/e12.go
  prover/maths/field/fext/e12_pairing.go
  prover/maths/field/fext/e12_test.go
  prover/maths/field/fext/e2.go
  prover/maths/field/fext/e2_amd64.go
  prover/maths/field/fext/e2_amd64.s
  prover/maths/field/fext/e2_bls377.go
  prover/maths/field/fext/e2_fallback.go
  prover/maths/field/fext/e2_fallback_new.go
  prover/maths/field/fext/e2_test.go
  prover/maths/field/fext/e2new.go
  prover/maths/field/fext/e2new_bls377.go
  prover/maths/field/fext/e2new_test.go
  prover/maths/field/fext/e3.go
  prover/maths/field/fext/e3_test.go
  prover/maths/field/fext/e4.go
  prover/maths/field/fext/e4_test.go
  prover/maths/field/fext/e6.go
  prover/maths/field/fext/element.go
  prover/maths/field/fext/frobenius.go
  prover/maths/field/fext/generators_test.go
  prover/maths/field/fext/parameters.go
  prover/maths/field/fext/utils.go
Due: none

feat: use class directly in getLogger
  finalized-tag-updater/src/main/java/net/consensys/linea/consensus/L1FinalizationTagUpdaterPlugin.java
Due: none

feat: add try catch exit pattern in register function of finalized tag updater
  finalized-tag-updater/src/main/java/net/consensys/linea/consensus/L1FinalizationTagUpdaterPlugin.java
Due: none

testing the logderivativesum compilation
  prover/protocol/compiler/logderivative_sum.go/compile.go
  prover/protocol/compiler/logderivative_sum.go/logderivsum_test.go
  prover/protocol/query/gnark_params.go
  prover/protocol/wizard/gnark_verifier.go
Due: none

Add Docker Compose setup for Linea Sepolia and mainnet with Erigon (#409)
  docker/linea-mainnet/docker-compose.yml
  docker/linea-sepolia/docker-compose.yml
Due: none

removed the changes unrelavant to the PR
  prover/protocol/distributed/preparation.go
Due: none

fix: clean test contracts folder structure
  contracts/deploy/09_deploy_TestEIP4844.ts
  contracts/src/_testing/unit/TestEIP4844.sol
  contracts/src/_testing/unit/TestPublicInputVerifier.sol
  contracts/src/_testing/unit/libraries/TestEfficientLeftRightKeccak.sol
  contracts/src/_testing/unit/messaging/TestL1MessageManager.sol
  contracts/src/_testing/unit/messaging/TestL1MessageService.sol
  contracts/src/_testing/unit/messaging/TestL1MessageServiceMerkleProof.sol
  contracts/src/_testing/unit/messaging/TestL2MessageManager.sol
  contracts/src/_testing/unit/messaging/TestL2MessageService.sol
  contracts/src/_testing/unit/messaging/TestMessageServiceBase.sol
  contracts/src/_testing/unit/messaging/TestSparseMerkleTreeVerifier.sol
  contracts/src/_testing/unit/opcodes/ErrorAndDestructionTesting.sol
  contracts/src/_testing/unit/opcodes/LondonEvmCodes.yul
  contracts/src/_testing/unit/opcodes/OpcodeTestContract.sol
  contracts/src/_testing/unit/opcodes/OpcodeTester.sol
  contracts/src/_testing/unit/rollup/TestLineaRollup.sol
  contracts/src/_testing/unit/rollup/TestLineaRollupV5.sol
  contracts/src/_testing/unit/security/TestPauseManager.sol
  contracts/src/_testing/unit/security/TestRateLimiter.sol
  contracts/src/_testing/unit/security/TestSetPauseTypeRoles.sol
  contracts/src/_testing/unit/tokens/TestLineaSurgeXP.sol
  contracts/src/_testing/unit/verifiers/TestPlonkVerifierForDataAggregation.sol
  contracts/test/lib/EfficientLeftRightKeccak.ts
Due: hardhat

minor; clarifing the panic error
  prover/protocol/compiler/logderivative_sum.go/compile.go
Due: none

minor; changing the file name
  prover/protocol/compiler/logderivativesum/compile.go
  prover/protocol/compiler/logderivativesum/logderivsum_test.go
Due: none

hacky fix to check for forge install on pnpm run solidity:docgen
  contracts/package.json
Due: hardhat

remove dedicated field operations that break CI
  prover/maths/field/fext/e2_amd64.go
  prover/maths/field/fext/e2_amd64.s
  prover/maths/field/fext/e2_fallback.go
Due: none

minor typo
  prover/protocol/compiler/logderivativesum/logderivsum_test.go
Due: none

added the compiler for logderivativesum (#496)
  prover/protocol/column/column.go
  prover/protocol/compiler/logderivativesum/compile.go
  prover/protocol/compiler/logderivativesum/logderivsum_test.go
  prover/protocol/compiler/lookup/compiler.go
  prover/protocol/compiler/lookup/prover.go
  prover/protocol/compiler/lookup/z_packing.go
  prover/protocol/distributed/compiler/inclusion/inclusion.go
  prover/protocol/distributed/preparation.go
  prover/protocol/query/gnark_params.go
  prover/protocol/query/logderiv_sum.go
  prover/protocol/wizard/gnark_verifier.go
Due: none

fix: update autoupdate.sh script
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/autoupdate.sh
Due: none

fix structure typo
  contracts/contracts/interfaces/l1/ILineaRollup.sol
  contracts/contracts/test-contracts/LineaRollupV5.sol
Due: hardhat

fix structure typo
  contracts/docs/api/interfaces/l1/ILineaRollup.mdx
Due: hardhat

feat(setup): run setup in deterministic order
  prover/cmd/prover/cmd/setup.go
  prover/cmd/prover/main.go
Due: none

fix(pubinp): fix the public input names
  prover/zkevm/prover/publicInput/public_input.go
Due: none

fix: update solcover file
  contracts/.solcover.js
Due: hardhat

fix: remove static nonce in LineaRollup test
  contracts/test/hardhat/rollup/LineaRollup.ts
Due: hardhat

fix(gate-wire): bumps gnark's version to incorporate the fix
  prover/go.mod
  prover/go.sum
Due: none

feat(dummy): the dummy prover does not change the columns status anymore
  prover/protocol/compiler/dummy/dummy_prover_level.go
Due: none

tmp(ecpair): deactivate the ecpair module
  prover/zkevm/zkevm.go
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
