Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

remove manual computation of COMMIT_TAG in run-smc-tests
  .github/workflows/run-smc-tests.yml
  .github/workflows/testing.yml
Due: none

minor(race): solves race condition for the FFT
  prover/maths/common/smartvectors/polynomial.go
Due: none

test for precomputed polys and cleanup
  prover/circuits/pi-interconnection/circuit.go
  prover/cmd/dev-tools/corset-checker/main.go
  prover/crypto/vortex/commitment.go
  prover/crypto/vortex/commitment_test.go
  prover/crypto/vortex/gnark_test.go
  prover/protocol/compiler/recursion/recursion.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/option.go
  prover/protocol/compiler/vortex/prover.go
  prover/protocol/compiler/vortex/verifier.go
  prover/protocol/compiler/vortex/vortex_test.go
  prover/zkevm/full.go
Due: none

Removed Web3j dependency from Signer client, removed missing signer module from the project
  coordinator/clients/web3signer-client/build.gradle
  settings.gradle
Due: kotlin

fix: update network logo references from 'ethereum' to 'linea'
  bridge-ui/src/components/layerswap/widget/custom-hooks/useCustomEvm.ts
Due: none

adding more documentation
  contracts/docs/interaction/administration/upgradeAndCallContract.md
  contracts/docs/interaction/administration/upgradeContract.md
  contracts/docs/interaction/administration/verifierSettingUnsetting.md
Due: hardhat

fix: added dry round
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/prover.go
Due: none

Tried improving the queue usage for the anchoring
  coordinator/ethereum/message-anchoring-i2/src/main/kotlin/linea/anchoring/MessageAnchoringApp.kt
  coordinator/ethereum/message-anchoring-i2/src/main/kotlin/linea/anchoring/MessageAnchoringService.kt
  coordinator/ethereum/message-anchoring-i2/src/main/kotlin/linea/anchoring/clients/L1MessageSentEventsPoller.kt
  coordinator/ethereum/message-anchoring-i2/src/test/kotlin/linea/anchoring/MessageAnchoringAppTest.kt
Due: kotlin

feat: add symbiosis as bridge provider to the lifi widget
  bridge-ui/src/components/lifi/widget/index.tsx
Due: none

Removed useless log
  coordinator/ethereum/message-anchoring-i2/src/main/kotlin/linea/anchoring/MessageAnchoringService.kt
Due: kotlin

documentation work in progress
  contracts/docs/interaction/L2MessageService.md
  contracts/docs/interaction/LineaRollup.md
  contracts/docs/interaction/administration/pausing.md
  contracts/docs/interaction/administration/rateLimiting.md
  contracts/docs/interaction/administration/roleManagement.md
  contracts/docs/interaction/administration/settingMinimumL2Fee.md
  contracts/docs/interaction/administration/tokenBridge.md
  contracts/docs/interaction/administration/unpausing.md
  contracts/docs/interaction/entryPoints/L2MessageService.md
  contracts/docs/interaction/entryPoints/LineaRollup.md
  contracts/docs/interaction/entryPoints/TokenBridge.md
  contracts/docs/interaction/messaging/canonicalL1ToL2Messaging.md
  contracts/docs/interaction/messaging/canonicalL1ToL2TokenBridging.md
  contracts/docs/interaction/messaging/canonicalL2ToL1Messaging.md
  contracts/docs/interaction/messaging/canonicalL2ToL1TokenBridging.md
  contracts/docs/interaction/operators/blobSubmissionAndFinalization.md
  contracts/docs/interaction/operators/l2MessageHashAnchoring.md
Due: hardhat

add main linking or index documents
  contracts/docs/interaction/entryPoints/L2MessageService.md
  contracts/docs/interaction/entryPoints/LineaRollup.md
  contracts/docs/interaction/entryPoints/TokenBridge.md
Due: hardhat

Fixing the arithmetization version conflict between the sequencer and tracer plugins (#914)
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
Due: none

fix: adopted Alex's suggestion
  prover/crypto/vortex/commitment.go
Due: none

remove claimtxgasused and claimtxgasprice db columns, refactor metricsservice design pattern
  postman/src/application/postman/api/metrics/MessageMetricsService.ts
  postman/src/application/postman/api/metrics/MessageMetricsUpdater.ts
  postman/src/application/postman/api/metrics/SingletonMetricsService.ts
  postman/src/application/postman/api/metrics/__tests__/MessageMetricsService.test.ts
  postman/src/application/postman/api/metrics/__tests__/MessageMetricsUpdater.test.ts
  postman/src/application/postman/api/metrics/__tests__/SingletonMetricsService.test.ts
  postman/src/application/postman/app/PostmanServiceClient.ts
  postman/src/application/postman/app/__tests__/PostmanServiceClient.test.ts
  postman/src/application/postman/persistence/entities/Message.entity.ts
  postman/src/application/postman/persistence/mappers/__tests__/messageMappers.test.ts
  postman/src/application/postman/persistence/mappers/messageMappers.ts
  postman/src/application/postman/persistence/migrations/1745569276097-AddSponsorshipMetrics.ts
  postman/src/application/postman/persistence/subscribers/MessageStatusSubscriber.ts
  postman/src/application/postman/persistence/subscribers/SponsorshipFeesSubscriber.ts
  postman/src/core/entities/Message.ts
  postman/src/core/metrics/IMessageMetricsUpdater.ts
  postman/src/core/metrics/IMetricsService.ts
  postman/src/core/metrics/MessageMetricsAttributes.ts
  postman/src/core/metrics/index.ts
  postman/src/services/processors/MessageClaimingPersister.ts
  postman/src/services/processors/__tests__/MessageClaimingPersister.test.ts
Due: none

quick e2e test fix
  bridge-ui/test/e2e/bridge-l1-l2.spec.ts
Due: none

quick e2e test fix (#927)
  bridge-ui/test/e2e/bridge-l1-l2.spec.ts
Due: none

feat(distributed): reduces by 4 the size of the gnark verifier circuit
  prover/protocol/distributed/segment_compilation.go
Due: none

SponsorshipMetricsUpdater.ts
  postman/src/application/postman/api/metrics/SingletonMetricsService.ts
  postman/src/application/postman/api/metrics/SponsorshipMetricsUpdater.ts
  postman/src/application/postman/api/metrics/__tests__/MessageMetricsUpdater.test.ts
  postman/src/application/postman/api/metrics/__tests__/SponsorshipMetricsUpdater.test.ts
  postman/src/core/metrics/IMetricsService.ts
  postman/src/core/metrics/ISponsorshipMetricsUpdater.ts
  postman/src/core/metrics/index.ts
Due: none

fixing compile errors
  prover/protocol/column/verifiercol/full_constant.go
  prover/protocol/column/verifiercol/verifiercol.go
  prover/zkevm/prover/common/common_constraints/common_constraints.go
Due: none

feat: add symbiosis as bridge provider to the lifi widget (#925)
  bridge-ui/src/components/lifi/widget/index.tsx
Due: none

add a link images
  contracts/docs/interaction/administration/pausing.md
  contracts/docs/interaction/administration/rateLimiting.md
  contracts/docs/interaction/administration/roleManagement.md
  contracts/docs/interaction/administration/settingMinimumL2Fee.md
  contracts/docs/interaction/administration/tokenBridge.md
  contracts/docs/interaction/administration/unpausing.md
  contracts/docs/interaction/administration/upgradeAndCallContract.md
  contracts/docs/interaction/administration/upgradeContract.md
  contracts/docs/interaction/administration/verifierSettingUnsetting.md
  contracts/docs/interaction/diagrams/pausing.png
  contracts/docs/interaction/diagrams/rateLimiting.png
  contracts/docs/interaction/diagrams/roleManagement.png
  contracts/docs/interaction/diagrams/settingMinimumL2Fee.png
  contracts/docs/interaction/diagrams/tokenBridge.png
  contracts/docs/interaction/diagrams/unpausing.png
  contracts/docs/interaction/diagrams/upgradeAndCallContract.png
  contracts/docs/interaction/diagrams/upgradeContract.png
  contracts/docs/interaction/diagrams/verifierSettingUnsetting.png
Due: hardhat

add messaging flows
  contracts/docs/interaction/diagrams/canonicalL1ToL2Messaging.png
  contracts/docs/interaction/diagrams/canonicalL1ToL2TokenBridging.png
  contracts/docs/interaction/diagrams/canonicalL2ToL1Messaging.png
  contracts/docs/interaction/diagrams/canonicalL2ToL1TokenBridging.png
  contracts/docs/interaction/messaging/canonicalL1ToL2Messaging.md
  contracts/docs/interaction/messaging/canonicalL1ToL2TokenBridging.md
  contracts/docs/interaction/messaging/canonicalL2ToL1Messaging.md
  contracts/docs/interaction/messaging/canonicalL2ToL1TokenBridging.md
Due: hardhat

coordinator: message anchoring - fix test after small refactor ot use Deque
  coordinator/ethereum/message-anchoring-i2/src/main/kotlin/linea/anchoring/MessageAnchoringApp.kt
  coordinator/ethereum/message-anchoring-i2/src/test/kotlin/linea/anchoring/MessageAnchoringAppTest.kt
  coordinator/ethereum/message-anchoring-i2/src/test/kotlin/linea/anchoring/fakes/FakeL2MessageService.kt
Due: kotlin

update @layerswap/widget to 0.1.14
  bridge-ui/package-lock.json
  bridge-ui/package.json
  bridge-ui/src/components/layerswap/widget/index.tsx
Due: none

coordinator: message anchoring improve log message
  coordinator/ethereum/message-anchoring-i2/src/main/kotlin/linea/anchoring/MessageAnchoringApp.kt
  coordinator/ethereum/message-anchoring-i2/src/main/kotlin/linea/anchoring/clients/L1MessageSentEventsPoller.kt
Due: kotlin

coordinator: message anchoring - fix test after queue refactor (#928)
  coordinator/ethereum/message-anchoring-i2/src/main/kotlin/linea/anchoring/MessageAnchoringApp.kt
  coordinator/ethereum/message-anchoring-i2/src/main/kotlin/linea/anchoring/clients/L1MessageSentEventsPoller.kt
  coordinator/ethereum/message-anchoring-i2/src/test/kotlin/linea/anchoring/MessageAnchoringAppTest.kt
  coordinator/ethereum/message-anchoring-i2/src/test/kotlin/linea/anchoring/fakes/FakeL2MessageService.kt
Due: kotlin

linking operator documentation and folder cleanup
  contracts/docs/interaction/diagrams/canonicalL1ToL2Messaging.png
  contracts/docs/interaction/diagrams/canonicalL1ToL2TokenBridging.png
  contracts/docs/interaction/diagrams/canonicalL2ToL1Messaging.png
  contracts/docs/interaction/diagrams/canonicalL2ToL1TokenBridging.png
  contracts/docs/interaction/operators/blobSubmissionAndFinalization.md
  contracts/docs/interaction/operators/l2MessageHashAnchoring.md
  contracts/docs/workflows/L2MessageService.md
  contracts/docs/workflows/LineaRollup.md
  contracts/docs/workflows/TokenBridge.md
  contracts/docs/workflows/administration/pausing.md
  contracts/docs/workflows/administration/rateLimiting.md
  contracts/docs/workflows/administration/roleManagement.md
  contracts/docs/workflows/administration/settingMinimumL2Fee.md
  contracts/docs/workflows/administration/tokenBridge.md
  contracts/docs/workflows/administration/unpausing.md
  contracts/docs/workflows/administration/upgradeAndCallContract.md
  contracts/docs/workflows/administration/upgradeContract.md
  contracts/docs/workflows/administration/verifierSettingUnsetting.md
  contracts/docs/workflows/diagrams/blobSubmissionAndFinalization.png
  contracts/docs/workflows/diagrams/canonicalL1ToL2Messaging.png
  contracts/docs/workflows/diagrams/canonicalL1ToL2TokenBridging.png
  contracts/docs/workflows/diagrams/canonicalL2ToL1Messaging.png
  contracts/docs/workflows/diagrams/canonicalL2ToL1TokenBridging.png
  contracts/docs/workflows/diagrams/l2MessageHashAnchoring.png
  contracts/docs/workflows/diagrams/pausing.png
  contracts/docs/workflows/diagrams/rateLimiting.png
  contracts/docs/workflows/diagrams/roleManagement.png
  contracts/docs/workflows/diagrams/settingMinimumL2Fee.png
  contracts/docs/workflows/diagrams/tokenBridge.png
  contracts/docs/workflows/diagrams/unpausing.png
  contracts/docs/workflows/diagrams/upgradeAndCallContract.png
  contracts/docs/workflows/diagrams/upgradeContract.png
  contracts/docs/workflows/diagrams/verifierSettingUnsetting.png
  contracts/docs/workflows/messaging/canonicalL1ToL2Messaging.md
  contracts/docs/workflows/messaging/canonicalL1ToL2TokenBridging.md
  contracts/docs/workflows/messaging/canonicalL2ToL1Messaging.md
  contracts/docs/workflows/messaging/canonicalL2ToL1TokenBridging.md
  contracts/docs/workflows/operations/blobSubmissionAndFinalization.md
  contracts/docs/workflows/operations/l2MessageHashAnchoring.md
Due: hardhat

Refactored evm wallet hook
  bridge-ui/src/components/layerswap/widget/custom-hooks/useCustomEvm.ts
  bridge-ui/src/components/layerswap/widget/index.tsx
Due: none

Renamed nav
  bridge-ui/src/components/internal-nav/index.tsx
Due: none

Removed Web3j dependency from Signer client, removed missing signer module from the project (#923)
  coordinator/clients/web3signer-client/build.gradle
  settings.gradle
Due: kotlin

add link to dict update guide to readme
  prover/lib/compressor/Readme.md
Due: none

docs: indicate version checking
  prover/circuits/blobdecompression/v1/snark.go
  prover/lib/compressor/blob/v1/blob_maker.go
Due: none

remove unused dictionary
  prover/lib/compressor/dict/25-01-15-INCOMPLETE.bin
Due: none

feat: decompression "v2" circuit
  prover/backend/blobdecompression/prove.go
  prover/circuits/blobdecompression/circuit.go
  prover/circuits/blobdecompression/v1/snark.go
Due: none

change isForSponsorship semantics
  postman/src/core/services/ITransactionValidationService.ts
  postman/src/services/EthereumTransactionValidationService.ts
  postman/src/services/LineaTransactionValidationService.ts
  postman/src/services/processors/__tests__/MessageClaimingProcessor.test.ts
Due: none

fix(determinism): address the determinism in the gnark circuit
  prover/go.mod
  prover/go.sum
  prover/protocol/compiler/mpts/multipoint_to_singlepoint.go
  prover/protocol/compiler/mpts/verifier.go
  prover/protocol/compiler/stitchsplit/splitter.go
  prover/protocol/compiler/stitchsplit/stitcher.go
  prover/protocol/compiler/vortex/gnark_verifier.go
  prover/protocol/compiler/vortex/verifier.go
Due: none

fixup(tests): ensures the two GL module are not identical
  prover/protocol/distributed/distribute_test.go
Due: none

fix(lookup); makes the Z column global constraint not needed for length-1 tables
  prover/protocol/compiler/logderivativesum/z_packing.go
Due: none
