Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

reduced size of number of authorizations, fixed computeEffectiveGasPrice and feeRateForCoinbase
  tracer-constraints/txndata/columns/hub_view.lisp
  tracer-constraints/txndata/columns/rlp_view.lisp
  tracer-constraints/txndata/processing/user/shorthands_rlp.lisp
  tracer-constraints/txndata/processing/user/transfer_to_hub_from_rlptxn.lisp
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/TransactionProcessingMetadata.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyTransaction.java
Due: none

debug: test for the bad precompile circuit is passing
  prover/circuits/invalidity/bad_precompile.go
  prover/circuits/invalidity/bad_precompile_test.go
  prover/circuits/invalidity/invalidity.go
  prover/circuits/invalidity/nonce_balance.go
  prover/circuits/invalidity/pi.go
  prover/circuits/pi-interconnection/assign.go
  prover/public-input/invalidity.go
  prover/zkevm/prover/publicInput/invalidity_pi/invalidity_pi.go
Due: none

test: revert spotless to v8.1 and klint to 1.0.1
  build.gradle
  gradle/libs.versions.toml
Due: none

tracer fix spotless check
  .github/workflows/tracer-gradle-tests.yml
Due: none

tracer fix spotless check
  tracer/arithmetization/src/test/java/net/consensys/linea/ReplayTestTools.java
  tracer/arithmetization/src/test/java/net/consensys/linea/osakaReplayTests/Incident1445.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyTransaction.java
Due: none

allow SC cooldown reset
  contracts/src/security/pausing/PauseManager.sol
  contracts/src/security/pausing/interfaces/IPauseManager.sol
  contracts/test/hardhat/security/PauseManager.ts
Due: hardhat

update tag for coordinator
  docker/compose-spec-l2-services.yml
Due: none

fix: refactor L2 traffic generation
  e2e/package.json
  e2e/src/common/utils/traffic.ts
  e2e/src/config/jest/global-setup.ts
Due: none

Revert "test: revert spotless to v8.1 and klint to 1.0.1"
  build.gradle
  gradle/libs.versions.toml
Due: none

feat: revert test changes
  jvm-libs/build.gradle
Due: kotlin

fix: increase traffic polling interval
  e2e/package.json
  e2e/src/config/jest/global-setup.ts
Due: none

Fix tracer spotless (#2349)
  .github/workflows/tracer-gradle-tests.yml
  tracer/arithmetization/src/test/java/net/consensys/linea/ReplayTestTools.java
  tracer/arithmetization/src/test/java/net/consensys/linea/osakaReplayTests/Incident1445.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyTransaction.java
Due: none

Some review comments
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/CompressionAwareBlockBuildingTest.kt
  besu-plugins/linea-sequencer/docs/plugins.md
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaTransactionPoolValidatorCliOptions.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaTransactionSelectorCliOptions.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/CompressionAwareBlockTransactionSelector.java
Due: none

Fixed overhead value
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/CompressionAwareBlockTransactionSelectorTest.java
Due: none

Spotless
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/CompressionAwareBlockBuildingTest.kt
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/CompressionAwareBlockTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/LineaTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/SimulationValidatorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/CompressionAwareBlockTransactionSelectorTest.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/ZkCounter.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2fmodexpdata/BlakeModexpData.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/call/precompileSubsection/BlakeSubsection.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ExecutionEnvironment.java
Due: none

feat: added always in docker-build job
  .github/workflows/main.yml
Due: none

fix: getZkEVMBlockNumber return type
  e2e/src/config/clients/linea-rpc/rollup-get-zkevm-block-number.ts
Due: none

Random fix
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/CompressionAwareBlockBuildingTest.kt
Due: none

Spotless
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/CompressionAwareBlockBuildingTest.kt
Due: none

fix: using wrong besu version in release note when build from source
  .github/actions/linea-besu-package/assemble/action.yml
  .github/actions/linea-besu-package/build-plugins-and-assemble/action.yml
  .github/actions/linea-besu-package/compute-metadata/action.yml
  .github/actions/parse-release-versions/action.yml
Due: none

Sequencer - Added sorting by ftx number before adding to the pool
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/methods/LineaSendForcedRawTransaction.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/rpc/methods/LineaSendForcedRawTransactionTest.java
Due: none

Workaround for the stackoverflow issue
  tracer/gradle/tests.gradle
Due: none

Fixed some failing sequencer plugin tests
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/TransactionEventFilterTest.java
Due: none

Fixed compilation of the state recovery plugin
  besu-plugins/state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/LineaStateRecoveryPlugin.kt
Due: none

[ZkTracer] feat: comment defcall to blake2f until perf issues fixed, re-enable t… (#2330)
  tracer-constraints/blake2fmodexpdata/columns.lisp
  tracer-constraints/blake2fmodexpdata/lookups/blakemodexp_into_blake2f.lispX
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/instructionprocessing/callTests/sixtyThreeSixtyFourthsPrecompiles/SixtyThreeSixtyFourthsPrecompileTests.java
Due: none

updated artifact
  contracts/local-deployments-artifacts/dynamic-artifacts/LineaRollupV7.1.json
Due: hardhat

Enable limitless/ZkCounter for all acceptance tests
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/TestCommandLineOptionsBuilder.kt
Due: none

add docstring
  contracts/src/security/pausing/PauseManager.sol
Due: hardhat

v7.1 ABI
  contracts/abi/LineaRollupV7.1.abi
Due: hardhat

updated doc
  contracts/docs/pause-by-type-flow.txt
Due: hardhat

fix: readme typo
  docs/linea-besu-package-releases.md
Due: none

abi patch
  contracts/abi/LineaRollupV7.1.abi
Due: hardhat

feat: removed the check of releases.versions.toml changes
  .github/workflows/main.yml
Due: none

fix: swapping the TX_AUTH and TX_WARM phases
  tracer-constraints/hub/osaka/constraints/system/phase_flags/legality.lisp
  tracer-constraints/hub/osaka/constraints/system/phase_flags/transition.lisp
  tracer-constraints/hub/osaka/constraints/tx_auth/perspectives.lisp
  tracer-constraints/hub/osaka/constraints/tx_init/rows/00_transaction.lisp
  tracer-constraints/hub/osaka/constraints/tx_skip/user/rows/00_transaction.lisp
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/ExecutionType.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxAuthorizationMacroSection.java
Due: none

coordinator: use kotlin.time over kotlinx.datetime for instant handling
  coordinator/ethereum/gas-pricing/dynamic-cap/build.gradle
  coordinator/ethereum/gas-pricing/dynamic-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapProviderImpl.kt
Due: kotlin

coordinator: use kotlin.time over kotlinx.datetime for instant handling
  gradle/libs.versions.toml
  testing-tools/app/build.gradle
Due: none

use working image and support dynamic chain config e2e
  contracts/local-deployments-artifacts/dynamic-artifacts/IntegrationTestTrueVerifier.json
  docker/compose-spec-l2-services.yml
Due: hardhat

fix: accept DELEGATE_CODE in ZkCounter
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/ZkCounter.java
Due: none
