Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

Improving fatal error logging (#1294)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorAppCli.kt
Due: kotlin

fix: filter USDC bridge event in the bridge UI (#1300)
  bridge-ui/src/utils/history/fetchCctpBridgeEvents.ts
Due: none

feat(1280): implement tls for web3signer in eth transfer script (#1297)
  .github/workflows/all-tools.yml
  operations/Dockerfile
  operations/package.json
  operations/src/commands/eth-transfer.ts
  operations/src/utils/eth-transfer/config.ts
  operations/src/utils/eth-transfer/misc.ts
  operations/src/utils/eth-transfer/transactions.ts
  operations/tsconfig.json
  pnpm-lock.yaml
Due: none

feat: update versions of linea-besu, linea-sequencer, finalized-tag-u… (#1298)
  .github/workflows/reuse-linea-besu-package-run-e2e-tests.yml
  .github/workflows/reuse-run-e2e-tests.yml
  config/coordinator/coordinator-config-v2.toml
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
  docker/config/linea-besu-sequencer/log4j.xml
  docker/config/linea-besu-sequencer/sequencer.config.toml
  e2e/package.json
  e2e/src/common/utils.ts
  e2e/src/liveness.spec.ts
  linea-besu-package/versions.env
Due: none

fix(ecdsa): fail on overflow instead of just crashing (#1308)
  prover/cmd/controller/controller/controller_test.go
  prover/zkevm/prover/ecdsa/antichamber.go
Due: none

update prover to go v1.24.0 (#1306)
  .github/workflows/prover-testing.yml
  prover/Dockerfile
  prover/backend/execution/prove.go
  prover/go.mod
  prover/protocol/dedicated/byte32cmp/decompose.go
  prover/protocol/dedicated/byte32cmp/multi_limb_cmp.go
  prover/protocol/dedicated/merkle/computemod.go
  prover/protocol/dedicated/merkle/merkle_test.go
  prover/protocol/dedicated/mimc/linear_hash.go
  prover/zkevm/arithmetization/definition.go
  prover/zkevm/prover/hash/packing/block.go
  prover/zkevm/prover/hash/packing/dedicated/accumulate_upto.go
  prover/zkevm/prover/hash/packing/lane.go
  prover/zkevm/prover/statemanager/accumulator/define.go
  prover/zkevm/prover/statemanager/mimccodehash/define.go
Due: none

fix: update http agent config in eth-transfer script (#1331)
  operations/src/utils/eth-transfer/transactions.ts
Due: none

fix: update natspec in LineaSequencerUptimeFeed contract (#1334)
  contracts/src/operational/LineaSequencerUptimeFeed.sol
Due: hardhat

feat: update linea-besu-package image version in local stack (#1315)
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
  docker/config/linea-besu-sequencer/log4j.xml
Due: none

change system contracts to 0.8.30 (#1318)
  contracts/hardhat.config.ts
  contracts/hardhat_overrides.ts
  contracts/src/predeploy/UpgradeableConsolidationQueuePredeploy.sol
  contracts/src/predeploy/UpgradeableWithdrawalQueuePredeploy.sol
Due: hardhat

Releasing new linea besu version (#1314)
  linea-besu-package/versions.env
Due: none

fix: update certs decoding for eth-transfer script (#1332)
  operations/src/utils/eth-transfer/transactions.ts
Due: none

Feat(1281): implement RBAC in LineaSequencerUptimeFeed contract (#1292)
  contracts/deploy/13_deploy_BaseSequencerUptimeFeed.ts
  contracts/hardhat_overrides.ts
  contracts/local-deployments-artifacts/static-artifacts/LineaSequencerUptimeFeed.json
  contracts/package.json
  contracts/src/_testing/unit/libraries/TestLineaSequencerUpTimeFeedAccess.sol
  contracts/src/libraries/LineaSequencerUptimeFeed.sol
  contracts/src/libraries/LineaSequencerUptimeFeedInterface.sol
  contracts/src/operational/LineaSequencerUptimeFeed.sol
  contracts/src/operational/interfaces/ILineaSequencerUptimeFeed.sol
  contracts/test/hardhat/operational/LineaSequencerUptimeFeed.ts
  e2e/src/config/jest/global-setup.ts
  e2e/src/liveness.spec.ts
  pnpm-lock.yaml
Due: hardhat

eth-api: adds support for blockNumber method (#1313)
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/EthApiClient.kt
  jvm-libs/linea/clients/interfaces/src/testFixtures/kotlin/linea/ethapi/FakeEthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClientFactory.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClientWithRetries.kt
Due: kotlin

fix: eth-transfer script args parsing (#1329)
  operations/src/commands/eth-transfer.ts
  operations/src/utils/eth-transfer/config.ts
Due: none

feat: update linea-besu-package image version with latest linea-seque… (#1316)
  .github/workflows/linea-sequencer-plugin-release.yml
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
  linea-besu-package/versions.env
Due: none

Chores/add la limitless prover audit (#1333)
  docs/audits.md
  docs/audits/2025 August - Least Authority - Linea zkEVM Limitless Prover Final Audit Report.pdf
Due: none

chore(bridge-ui): add Events and Rewards tabs to the navigation bar (#1327)
  bridge-ui/src/assets/icons/event.svg
  bridge-ui/src/assets/icons/reward.svg
  bridge-ui/src/components/side-bar-mobile/index.tsx
  bridge-ui/src/components/side-bar/index.tsx
Due: none

fix: eth-transfer script tls setup (#1324)
  operations/package.json
  operations/src/commands/eth-transfer.ts
  operations/src/utils/eth-transfer/config.ts
  operations/src/utils/eth-transfer/misc.ts
  operations/src/utils/eth-transfer/transactions.ts
  pnpm-lock.yaml
Due: none

[Feat] Maru predeploy contracts (#1291)
  contracts/common/constants/general.ts
  contracts/deploy/13_deploy_EIP2935SystemContract.ts
  contracts/deploy/14_deploy_UpgradeableWithdrawalQueuePredeploy.ts
  contracts/deploy/15_deploy_UpgradeableConsolidationQueuePredeploy.ts
  contracts/docs/deployment.md
  contracts/hardhat.config.ts
  contracts/src/predeploy/UpgradeableConsolidationQueuePredeploy.sol
  contracts/src/predeploy/UpgradeableWithdrawalQueuePredeploy.sol
Due: hardhat

feat: update linea-sequencer version for liveness (#1355)
  linea-besu-package/versions.env
Due: none

Traces api client fallback (#1375)
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/TracesConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/TracesToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/TracesParsingTest.kt
  coordinator/clients/traces-generator-api-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV2.kt
  coordinator/clients/traces-generator-api-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV2Test.kt
Due: kotlin

throw FileNotFoundException instead of IllegalArgumentException (#1336)
  jvm-libs/linea/testing/file-system/src/main/kotlin/net/consensys/linea/testing/filesystem/Files.kt
Due: kotlin

Reuse tx-over-line-count-limit cache in transaction pool validation (#1310)
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/AbstractLineaSharedPrivateOptionsPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/validators/TraceLineLimitValidator.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/InvalidTransactionByLineCountCache.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/LineaTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/TraceLineLimitTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/TraceLineLimitValidatorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactoryTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/TraceLineLimitCacheIntegrationTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/TraceLineLimitTransactionSelectorTest.java
Due: none

feat: revised liveness metrics and registered them on start (#1352)
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/liveness/LineaLivenessService.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorPlugin.java
Due: none

[Fix] Use Etherscan V2 API (#1319)
  contracts/.env.template
  contracts/.env.template.uat
  contracts/common/helpers/verifyContract.ts
  contracts/common/supportedNetworks.ts
  contracts/deploy/15_deploy_UpgradeableConsolidationQueuePredeploy.ts
  contracts/deploy/16_deploy_EIP4788SystemContract.ts
  contracts/deploy/17_deploy_UpgradeableBeaconChainDepositPredeploy.ts
  contracts/docs/deployment.md
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/src/predeploy/UpgradeableBeaconChainDepositPredeploy.sol
  contracts/src/predeploy/UpgradeableConsolidationQueuePredeploy.sol
  pnpm-lock.yaml
Due: hardhat

ci: try fix postgres reset on CI (#1341)
  build.gradle
  docker/compose-spec-l2-services.yml
  gradle/libs.versions.toml
Due: none

staterecovery: update blobscan (#1338)
  docker/compose-spec-l2-services.yml
Due: none

Fix - CI job cleanup-deployments (#1340)
  .github/workflows/main.yml
Due: none

1328 controller skip log search for exceptions (#1330)
  jvm-libs/linea/clients/eth-logs-searcher/src/main/kotlin/linea/ethapi/EthLogsSearcherImpl.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/LogsSearcherTest.kt
  jvm-libs/linea/clients/interfaces/src/testFixtures/kotlin/linea/ethapi/FakeEthApiClient.kt
Due: kotlin

update besu to 25.8.0-RC1-linea2 (#1337)
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/liveness/LivenessService.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/liveness/LivenessTxBuilder.java
  gradle/libs.versions.toml
  linea-besu-package/versions.env
Due: none

new config for ForwardBundleTest (#1345)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/ForwardBundleTest.java
Due: none

Chore: update Besu to 25.8.0-linea1 (#1364)
  gradle/libs.versions.toml
Due: none

[Feat] changeProxyAdmin script (#1358)
  contracts/hardhat_overrides.ts
  contracts/scripts/operational/changeProxyAdmin.ts
Due: hardhat

Fix: Add log4j annotation for GraalVM (#1387)
  besu-plugins/linea-sequencer/acceptance-tests/build.gradle
Due: none

coordinator: optimize conflation to skip trace conflation and shomei … (#1397)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/ABProverClientRouter.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/GenericFileBasedProverClient.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactory.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/ProverClient.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ProofGeneratingConflationHandlerImpl.kt
Due: kotlin

coordinator: log BATCHES_LIMIT when blob reaches batches limit (#1389)
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculator.kt
  settings.gradle
Due: kotlin

Json rpc retry with order (#1369)
  build.gradle
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/clients/traces-generator-api-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV2.kt
  coordinator/clients/traces-generator-api-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/TracesApiRequestPriorityComparatorTest.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/LoadBalancingJsonRpcClient.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/PriorityQueueWithFIFOFallback.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClientFactory.kt
  jvm-libs/generic/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/client/FakeJsonRpcHandler.kt
  jvm-libs/generic/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/client/LoadBalancingJsonRpcClientTest.kt
  jvm-libs/generic/json-rpc/src/test/resources/log4j2.xml
Due: kotlin

Ci tweaks (#1382)
  .github/workflows/main.yml
  build.gradle
Due: none

Coordiantor add comment (#1390)
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculator.kt
  coordinator/ethereum/finalization-monitor/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImpl.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/ExtraDataV1PricerService.kt
Due: kotlin

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
