Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

feat: TransactionProcessingMetadata now supports DELEGATE_CODE transactions
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/TransactionProcessingMetadata.java
Due: none

coordinator: LineaRollupContractClient implement getLatestFinalizedState method
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupSmartContractClient.kt
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
Due: kotlin

coordinator: add ForcedTransactions APP to conflation (without conflation calculators)
  coordinator/app/build.gradle
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationServiceImpl.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/BlockToBatchSubmissionCoordinatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationServiceImplTest.kt
Due: kotlin

coordinator: add Web3j.getWeb3jService to help instantiate Web3jService in EthApiClient
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/Web3JFactory.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClientFactory.kt
Due: kotlin

coordinator: add FORCED_TRANSACTION trigger list
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Conflation.kt
Due: kotlin

coordinator: add INVALIDITY_PROOF to trigger list
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationCalculator.kt
Due: kotlin

add files
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/interfaces/ILineaRollupBase.sol
  contracts/test/hardhat/rollup/LineaRollup.ts
Due: hardhat

fix: NUMBER_OF_AUTHORIZATIONS => LENGTH_OF_DELEGATION_LIST in the constraints
  tracer-constraints/rlptxn/columns/shared.lisp
  tracer-constraints/rlptxn/constraints/generalities/constancies.lisp
  tracer-constraints/rlptxn/constraints/generalities/miscellanous.lisp
  tracer-constraints/rlptxn/constraints/phase/authorization_list/shorthands.lisp
  tracer-constraints/rlptxn/constraints/phase/authorization_list/tuple_index.lisp
  tracer-constraints/rlptxn/lookups/rlptxn_into_txndata.lisp
  tracer-constraints/txndata/columns/hub_view.lisp
  tracer-constraints/txndata/columns/rlp_view.lisp
  tracer-constraints/txndata/processing/user/shorthands_rlp.lisp
  tracer-constraints/txndata/processing/user/transfer_to_hub_from_rlptxn.lisp
Due: none

fix: make it compile
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/phaseSection/PhaseSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/TransactionProcessingMetadata.java
Due: none

ras: formatting + remove redundant constraint
  tracer-constraints/txndata/processing/user/decoding.lisp
Due: none

ras: debug constraint made into defproperty
  tracer-constraints/txndata/processing/user/transfer_to_hub_from_rlptxn.lisp
Due: none

fix: simplify docker build process in ci
  .github/actions/image-tag-and-push/action.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/main.yml
  .github/workflows/reuse-check-images-tags-and-push.yml
  .github/workflows/reuse-run-e2e-tests.yml
Due: none

export ABI and artifact
  contracts/abi/LineaRollupV8.0.abi
  contracts/local-deployments-artifacts/dynamic-artifacts/LineaRollupV8.json
Due: hardhat

fix: some kotlin imports ... ?
  besu-plugins/state-recovery/test-cases/src/e2eTest/kotlin/linea/staterecovery/StateRecoveryE2ETest.kt
  besu-plugins/state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/LineaSubmissionEventsClientIntTest.kt
Due: none

fix: typo in constraints
  tracer-constraints/txndata/processing/user/transfer_to_hub_from_rlptxn.lisp
Due: none

feat: computing NUMBER_OF_SUCCESSFUL_SENDER_DELEGATIONS and tracing it
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxAuthorizationMacroSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/txndata/rows/hubRows/HubRowForUserTransactions.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/TransactionProcessingMetadata.java
Due: none

spotless
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/AccountSnapshot.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxInitializationSection.java
Due: none

coordinator: add conflation and invalidity proof aggregation calculators to ForcedTransactionsApp
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsApp.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsExecutionStatusUpdater.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/AggregationCalculatorByForcedTransaction.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ConflationCalculatorByForcedTransaction.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/ForcedTransactionsAppTest.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/forcedtx/ForcedTransactionsClient.kt
Due: kotlin

fixed expected bytecode for delegated accounts (it had leading zeros)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/AuthorizationFragment.java
Due: none

feat: counting successful delegations for Refunds
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxAuthorizationMacroSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/TransactionProcessingMetadata.java
Due: none

feat: final refund computation
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
Due: none

fix: tuple vs state nonce tests now feature all distinct accounts
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/rlpauth/TestRlpAuth.java
Due: none

feat: trigger linea-besu-package local build and auto release when relevant code changes
  .github/workflows/build-and-publish.yml
  .github/workflows/linea-besu-package-release.yml
  .github/workflows/main.yml
  .github/workflows/reuse-linea-besu-package-build-test-push.yml
  linea-besu-package/versions.env
Due: none

feat: set permission content as write on build-and-publish.yml
  .github/workflows/build-and-publish.yml
Due: none

feat: revert permission content as read on build-and-publish.yml and trigger release workflow
  .github/workflows/build-and-publish.yml
Due: none

fix: when to reset refunds in a TraceSection's commonValues
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TraceSection.java
Due: none

fix: fixing checkForDelegation sanity check
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/AccountSnapshot.java
Due: none

fix: typo in method name
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/phaseSection/AccessListPhaseSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/phaseSection/AuthorizationListSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/phaseSection/BetaPhaseSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/phaseSection/DataPhaseSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/phaseSection/GlobalPrefixPhaseSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/phaseSection/IntegerPhaseSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/phaseSection/PhaseSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/phaseSection/ToPhaseSection.java
Due: none

feat: refactoring "malformed delegation tuple" tests
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/rlpauth/TestRlpAuth.java
Due: none

ras add cast
  tracer-constraints/oob/oob_modexp.zkasm
Due: none

one more cast
  tracer-constraints/oob/oob_modexp.zkasm
Due: none

feat: update oob for small fields
  tracer-constraints/oob/oob.zkasm
  tracer-constraints/oob/oob_modexp.zkasm
  tracer-constraints/oob/oob_prc.zkasm
  tracer/gradle/corset.gradle
Due: none

fix: xbsNz setting in oob_modexp_xbs
  tracer-constraints/oob/oob_modexp.zkasm
Due: none

further tweaks to oob module
  tracer-constraints/oob/oob_modexp.zkasm
Due: none

fix: removed duplicate "tracePhaseX" call in RLP_TXN
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/phaseSection/AuthorizationListSection.java
Due: none

tweaks to fix infinite loop
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

invoked the rlpAuth module from TxAuthorizationMacroSection + spotless
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/AccountSnapshot.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/AuthorizationFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxAuthorizationMacroSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/TransactionProcessingMetadata.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/rlpauth/TestRlpAuth.java
Due: none

added authorizationTupleIsValid to AuthorizationFragment
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/AuthorizationFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxAuthorizationMacroSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpAuth/RlpAuthOperation.java
Due: none

removed invalid setter from the hub
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
Due: none

feat: AuthFragment traces TUPLE_IS_VALID and some mild refactoring
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/AuthorizationFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxAuthorizationMacroSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpAuth/RlpAuthOperation.java
Due: none
