Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

Gradle dependencies improv (#224)
  buildSrc/src/main/groovy/net.consensys.zkevm.kotlin-common-conventions.gradle
  buildSrc/src/main/groovy/net.consensys.zkevm.kotlin-common-minimal-conventions.gradle
  buildSrc/src/main/groovy/net.consensys.zkevm.kotlin-library-conventions.gradle
  buildSrc/src/main/groovy/net.consensys.zkevm.kotlin-library-minimal-conventions.gradle
  coordinator/clients/prover-client/serialization/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/serialization/JsonSerialization.kt
  coordinator/clients/type2-state-manager-client/build.gradle
  coordinator/ethereum/models-helper/build.gradle
  gradle/libs.versions.toml
  jvm-libs/generic/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClientTest.kt
  jvm-libs/linea/core/domain-models/build.gradle
  jvm-libs/linea/testing/teku-helper/build.gradle
  jvm-libs/linea/web3j-extensions/build.gradle
Due: kotlin

Update CodeQL github action, add 'Upload CodeQL Results' step (#225)
  .github/workflows/codeql.yml
Due: none

remove unused fmt
  kzgsrs/.gitignore
  prover/circuits/pi-interconnection/circuit.go
Due: none

Validate final blob was submitted on finalization
  contracts/contracts/LineaRollup.sol
  contracts/contracts/interfaces/l1/ILineaRollup.sol
  contracts/test/LineaRollup.ts
Due: hardhat

Use new error code in Coordinator
  config/common/smart-contract-errors.toml
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/config/CoordinatorConfigTest.kt
Due: kotlin

Use correct name for error
  config/common/smart-contract-errors.toml
Due: none

coordinator: remove dep on tuweni in domain model
  coordinator/app/build.gradle
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/TracesCountersV1WatcherClient.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitorTest.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/blockcreation/ForkChoiceUpdaterImplTest.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ExecutionProofRequestDataDecoratorTest.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactoryTest.kt
  coordinator/clients/prover-client/serialization/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/serialization/JsonSerialization.kt
  coordinator/clients/shomei-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/ShomeiClient.kt
  coordinator/clients/shomei-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/ShomeiClientTest.kt
  coordinator/clients/traces-generator-api-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV1.kt
  coordinator/clients/traces-generator-api-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV1Test.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blockcreation/SafeBlockProvider.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/BlockToBatchSubmissionCoordinator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ProofGeneratingConflationHandlerImpl.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByDeadlineTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/GlobalAggregationCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/BlockToBatchSubmissionCoordinatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationCalculatorByTimeDeadlineTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationServiceImplTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlockConflationCalculatorIntTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/TracesConflationCoordinatorImplTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/upgrade/SwitchAwareConflationHandlerTest.kt
  coordinator/ethereum/finalization-monitor/src/test/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImplTest.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandlerTest.kt
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinatorIntTest.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/ByteArrayExtensions.kt
  jvm-libs/linea/core/domain-models/build.gradle
  jvm-libs/linea/core/domain-models/src/main/kotlin/net/consensys/linea/BlockNumberAndHash.kt
  jvm-libs/linea/testing/teku-helper/build.gradle
  jvm-libs/linea/testing/teku-helper/src/main/kotlin/tech/pegasys/teku/ethereum/executionclient/schema/ExecutionPayloadV1.kt
  traces-api-facade/app/build.gradle
  traces-api-facade/app/src/main/kotlin/net/consensys/linea/traces/app/api/RequestHandlersV1.kt
  traces-api-facade/app/src/main/kotlin/net/consensys/linea/traces/repository/FilesystemTracesRepositoryV1.kt
Due: kotlin

chore bring over changes from other branch
  prover/backend/blobsubmission/blobcompression_test.go
  prover/backend/blobsubmission/craft.go
  prover/backend/blobsubmission/craft_eip4844.go
  prover/backend/ethereum/signature_test.go
  prover/backend/ethereum/tx_encoding.go
  prover/circuits/blobdecompression/v0/assign_test.go
  prover/circuits/blobdecompression/v0/prelude.go
  prover/circuits/blobdecompression/v1/assign_test.go
  prover/circuits/blobdecompression/v1/circuit.go
  prover/circuits/blobdecompression/v1/snark_test.go
  prover/lib/compressor/blob/blob.go
  prover/lib/compressor/blob/blob_test.go
  prover/lib/compressor/blob/dictionary/dictionary.go
  prover/lib/compressor/blob/encode/encode.go
  prover/lib/compressor/blob/encode/test_utils/test_utils.go
  prover/lib/compressor/blob/testdata/v0/sample-blob-0151eda71505187b5.bin
  prover/lib/compressor/blob/testdata/v0/sample-blob-01b9918c3f0ceb6a.bin
  prover/lib/compressor/blob/v0/blob_maker.go
  prover/lib/compressor/blob/v0/blob_maker_test.go
  prover/lib/compressor/blob/v0/encode.go
  prover/lib/compressor/blob/v0/header.go
  prover/lib/compressor/blob/v1/blob_maker.go
  prover/lib/compressor/blob/v1/blob_maker_test.go
  prover/lib/compressor/blob/v1/encode.go
  prover/lib/compressor/blob/v1/encode_test.go
  prover/lib/compressor/blob/v1/test_utils/blob_maker_testing.go
  prover/lib/compressor/libcompressor/libcompressor.go
  prover/lib/compressor/libcompressor/libcompressor.h
  prover/lib/compressor/libdecompressor/libdecompressor.go
  prover/utils/test_utils/test_utils.go
Due: none

coordinator: workaround on teku test helper instantiation
  coordinator/app/build.gradle
  jvm-libs/linea/core/domain-models/build.gradle
  jvm-libs/linea/testing/teku-helper/src/main/kotlin/tech/pegasys/teku/ethereum/executionclient/schema/ExecutionPayloadV1.kt
Due: kotlin

coordinator: rename ByteArrayExt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitorTest.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/blockcreation/ForkChoiceUpdaterImplTest.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactoryTest.kt
  coordinator/clients/shomei-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/ShomeiClientTest.kt
  coordinator/clients/traces-generator-api-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV1Test.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByDeadlineTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/GlobalAggregationCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationCalculatorByTimeDeadlineTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlockConflationCalculatorIntTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/TracesConflationCoordinatorImplTest.kt
  coordinator/ethereum/finalization-monitor/src/test/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImplTest.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/ByteArrayExtensions.kt
  jvm-libs/linea/testing/teku-helper/src/main/kotlin/tech/pegasys/teku/ethereum/executionclient/schema/ExecutionPayloadV1.kt
Due: kotlin

improve encodeHex, and decodeHex
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/ByteArrayExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/StringExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/TypingsExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/net/consensys/ByteArrayExtensionsTest.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/net/consensys/StringExtensionsTest.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/net/consensys/TypingsExtensionsTest.kt
Due: kotlin

fix integration tests
  coordinator/persistence/aggregation/build.gradle
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandlerTest.kt
  coordinator/persistence/blob/build.gradle
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinatorIntTest.kt
Due: kotlin

coordinator: remove dep on tuweni in domain model (#227)
  coordinator/app/build.gradle
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/TracesCountersV1WatcherClient.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitorTest.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/blockcreation/ForkChoiceUpdaterImplTest.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ExecutionProofRequestDataDecoratorTest.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactoryTest.kt
  coordinator/clients/prover-client/serialization/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/serialization/JsonSerialization.kt
  coordinator/clients/shomei-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/ShomeiClient.kt
  coordinator/clients/shomei-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/ShomeiClientTest.kt
  coordinator/clients/traces-generator-api-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV1.kt
  coordinator/clients/traces-generator-api-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV1Test.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blockcreation/SafeBlockProvider.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/BlockToBatchSubmissionCoordinator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ProofGeneratingConflationHandlerImpl.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByDeadlineTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/GlobalAggregationCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/BlockToBatchSubmissionCoordinatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationCalculatorByTimeDeadlineTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationServiceImplTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlockConflationCalculatorIntTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/TracesConflationCoordinatorImplTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/upgrade/SwitchAwareConflationHandlerTest.kt
  coordinator/ethereum/finalization-monitor/src/test/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImplTest.kt
  coordinator/persistence/aggregation/build.gradle
  coordinator/persistence/blob/build.gradle
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/ByteArrayExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/StringExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/TypingsExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/net/consensys/ByteArrayExtensionsTest.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/net/consensys/StringExtensionsTest.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/net/consensys/TypingsExtensionsTest.kt
  jvm-libs/linea/core/domain-models/build.gradle
  jvm-libs/linea/core/domain-models/src/main/kotlin/net/consensys/linea/BlockNumberAndHash.kt
  jvm-libs/linea/testing/teku-helper/build.gradle
  jvm-libs/linea/testing/teku-helper/src/main/kotlin/tech/pegasys/teku/ethereum/executionclient/schema/ExecutionPayloadV1.kt
  traces-api-facade/app/build.gradle
  traces-api-facade/app/src/main/kotlin/net/consensys/linea/traces/app/api/RequestHandlersV1.kt
  traces-api-facade/app/src/main/kotlin/net/consensys/linea/traces/repository/FilesystemTracesRepositoryV1.kt
Due: kotlin

Simplified executionPayloadV1 testing util
  coordinator/app/build.gradle
  jvm-libs/linea/testing/teku-helper/src/main/kotlin/tech/pegasys/teku/ethereum/executionclient/schema/ExecutionPayloadV1.kt
Due: kotlin

chore: blocks as byte arrays not lists; tx.S <- 1
  prover/lib/compressor/blob/blob.go
  prover/lib/compressor/blob/blob_test.go
  prover/lib/compressor/blob/encode/encode.go
  prover/lib/compressor/blob/testdata/sample-blob-0.bin
Due: none

Simplified executionPayloadV1 testing util (#228)
  coordinator/app/build.gradle
  jvm-libs/linea/testing/teku-helper/src/main/kotlin/tech/pegasys/teku/ethereum/executionclient/schema/ExecutionPayloadV1.kt
Due: kotlin

build: update compressor lib release script by jpnovais
  .github/workflows/prover-native-lib-blob-compressor-release.yml
Due: none

docs and go generate
  prover/lib/compressor/blob/blob.go
  prover/lib/compressor/libdecompressor/libdecompressor.go
  prover/lib/compressor/libdecompressor/libdecompressor.h
Due: none

Decompressor Library (#229)
  .github/workflows/prover-native-lib-blob-compressor-release.yml
  prover/backend/blobsubmission/blobcompression_test.go
  prover/backend/blobsubmission/craft.go
  prover/backend/blobsubmission/craft_eip4844.go
  prover/backend/ethereum/signature_test.go
  prover/backend/ethereum/tx_encoding.go
  prover/circuits/blobdecompression/v0/assign_test.go
  prover/circuits/blobdecompression/v0/prelude.go
  prover/circuits/blobdecompression/v1/assign_test.go
  prover/circuits/blobdecompression/v1/circuit.go
  prover/circuits/blobdecompression/v1/snark_test.go
  prover/lib/compressor/blob/blob.go
  prover/lib/compressor/blob/blob_test.go
  prover/lib/compressor/blob/dictionary/dictionary.go
  prover/lib/compressor/blob/encode/encode.go
  prover/lib/compressor/blob/encode/test_utils/test_utils.go
  prover/lib/compressor/blob/testdata/sample-blob-0.bin
  prover/lib/compressor/blob/testdata/v0/sample-blob-0151eda71505187b5.bin
  prover/lib/compressor/blob/testdata/v0/sample-blob-01b9918c3f0ceb6a.bin
  prover/lib/compressor/blob/v0/blob_maker.go
  prover/lib/compressor/blob/v0/blob_maker_test.go
  prover/lib/compressor/blob/v0/encode.go
  prover/lib/compressor/blob/v0/header.go
  prover/lib/compressor/blob/v1/blob_maker.go
  prover/lib/compressor/blob/v1/blob_maker_test.go
  prover/lib/compressor/blob/v1/encode.go
  prover/lib/compressor/blob/v1/encode_test.go
  prover/lib/compressor/blob/v1/test_utils/blob_maker_testing.go
  prover/lib/compressor/libcompressor/libcompressor.go
  prover/lib/compressor/libcompressor/libcompressor.h
  prover/lib/compressor/libdecompressor/libdecompressor.go
  prover/lib/compressor/libdecompressor/libdecompressor.h
  prover/utils/test_utils/test_utils.go
Due: none

fix test jvm-libs:generic:extensions:tuweni
  jvm-libs/generic/extensions/tuweni/src/test/kotlin/build/linea/tuweni/Bytes32Test.kt
Due: kotlin

adds blob decompressor
  settings.gradle
Due: none

add jvm-libs:generic:extensions:tuweni
  jvm-libs/generic/extensions/tuweni/build.gradle
  jvm-libs/generic/extensions/tuweni/src/main/kotlin/build/linea/tuweni/Bytes32.kt
  jvm-libs/generic/extensions/tuweni/src/test/kotlin/build/linea/tuweni/Bytes32Test.kt
  settings.gradle
Due: kotlin

adds blob decompressor
  jvm-libs/linea/blob-compressor/src/test/resources/net/consensys/linea/nativecompressor/rlp_blocks.bin
  jvm-libs/linea/blob-decompressor/build.gradle
  jvm-libs/linea/blob-decompressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressor.kt
  jvm-libs/linea/blob-decompressor/src/main/resources/.gitignore
  jvm-libs/linea/blob-decompressor/src/main/resources/compressor_dict.bin
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/BlobDecompressorDataDecodingTest.kt
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressorTest.kt
Due: kotlin

move ResourcesUti to kotlin extensions
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/build/linea/UrlExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/build/linea/jvm/ResourcesUtil.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/build/linea/URIExtensionsTest.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/build/linea/jvm/ResourcesUtilTest.kt
  jvm-libs/generic/extensions/kotlin/src/test/resources/root-resource.txt
  jvm-libs/generic/extensions/kotlin/src/test/resources/test/folder/nested-resource.txt
  jvm-libs/generic/extensions/kotlin/src/test/resources/test/folder2/nested-resource.txt
  jvm-libs/linea/blob-compressor/build.gradle
  jvm-libs/linea/blob-compressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobCompressor.kt
Due: kotlin

feat: add nethermind-node to linea-mainnet and linea-sepolia
  docker/linea-mainnet/docker-compose.yml
  docker/linea-sepolia/docker-compose.yml
Due: none

add vertx client options helper
  jvm-libs/generic/vertx-helper/build.gradle
  jvm-libs/generic/vertx-helper/src/main/kotlin/net/consensys/linea/vertx/ClientOptions.kt
Due: kotlin

fix VertxHttpJsonRpcClientFactory#createV2
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClientFactory.kt
  jvm-libs/generic/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcV2ClientImplTest.kt
Due: kotlin

adds BlockInterval jvm-libs
  jvm-libs/linea/core/domain-models/src/main/kotlin/build/linea/domain/BlockInterval.kt
  jvm-libs/linea/core/domain-models/src/test/kotlin/build/linea/domain/BlockIntervalsTest.kt
Due: kotlin

adapt code to new BlockInterval
  coordinator/app/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ConsecutiveProvenBlobsProviderWithLastEndBlockNumberTrackerTest.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/ABProverClientRouter.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/GenericFileBasedProverClient.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactory.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/GenericFileBasedProverClientTest.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactoryTest.kt
  coordinator/clients/prover-client/serialization/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/serialization/BlobJsonFileRequestResponse.kt
  coordinator/clients/prover-client/serialization/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/serialization/BlobCompressionProofJsonResponseTest.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/BatchExecutionProverRequestResponse.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/BlobCompressionProverRequestResponse.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Aggregation.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Blob.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Conflation.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/ProofIndex.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByTargetBlockNumbers.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofHandler.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobShnarfCalulator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/RollingBlobShnarfCalculator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculator.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/coordination/blob/GoBackedCalculateShnarfCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorServiceTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/blob/RollingBlobShnarfCalculatorTest.kt
  coordinator/core/src/testFixtures/kotlin/net/consensys/zkevm/domain/BlobRecord.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/BlobSubmissionCoordinator.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/BlobSubmissionHelper.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/BlobSubmitterAsEIP4844MultipleBlobsPerTx.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/BlobsGrouperForSubmission.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/ContractUpgradeSubmissionLatchFilter.kt
  coordinator/ethereum/blob-submitter/src/test/kotlin/net/consensys/zkevm/ethereum/submission/BlobSubmissionCoordinatorTest.kt
  coordinator/ethereum/blob-submitter/src/test/kotlin/net/consensys/zkevm/ethereum/submission/BlobSubmissionHelperKtTest.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsPostgresDaoTest.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/PostgresAggregationsDao.kt
  coordinator/persistence/aggregation/src/test/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RetryingPostgresAggregationsDaoTest.kt
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinatorIntTest.kt
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/blob/BlobsPostgresDaoTest.kt
  coordinator/persistence/blob/src/test/kotlin/net/consensys/zkevm/ethereum/coordinator/blob/BlobCompressionProofCoordinatorTest.kt
  coordinator/persistence/blob/src/test/kotlin/net/consensys/zkevm/persistence/dao/blob/RetryingBlobsPostgresDaoTest.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/build/linea/domain/BlockInterval.kt
Due: kotlin

adds generic upstream client interface
  jvm-libs/linea/core/client-interface/build.gradle
  jvm-libs/linea/core/client-interface/src/main/kotlin/build/linea/clients/Client.kt
  settings.gradle
Due: kotlin

add state-manager client (C&P) from coordinator one for now
  jvm-libs/linea/clients/linea-state-manager/build.gradle
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerClientV1.kt
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerV1JsonRpcClient.kt
  jvm-libs/linea/clients/linea-state-manager/src/test/kotlin/build/linea/clients/StateManagerV1JsonRpcClientTest.kt
  settings.gradle
Due: kotlin

GHA - Only publish docker builds on main branch
  .github/actions/check-image-tags-exist/action.yml
  .github/actions/image-tag-and-push/action.yml
  .github/workflows/all-tools.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/coordinator-build-and-publish.yml
  .github/workflows/main.yml
  .github/workflows/postman-build-and-publish.yml
  .github/workflows/prover-build-and-publish.yml
  .github/workflows/reuse-check-images-tags-and-push.yml
  .github/workflows/reuse-run-e2e-tests.yml
  .github/workflows/reuse-store-image-name-and-tags.yml
  .github/workflows/reuse-tag-with-develop.yml
  .github/workflows/traces-api-facade-build-and-publish.yml
Due: none

GHA - remove input last_commit_tag 2
  .github/workflows/main.yml
Due: none

GHA - Fix if statement
  .github/workflows/coordinator-build-and-publish.yml
  .github/workflows/postman-build-and-publish.yml
  .github/workflows/prover-build-and-publish.yml
  .github/workflows/traces-api-facade-build-and-publish.yml
Due: none
