Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

fix(coordinator) - message anchoring app hardcoded L1HighestBlockTag to FINALIZED (#2807)
  coordinator/ethereum/message-anchoring/src/main/kotlin/linea/anchoring/clients/L1MessageSentEventsFetcher.kt
  coordinator/ethereum/message-anchoring/src/test/kotlin/linea/anchoring/MessageAnchoringAppTest.kt
Due: kotlin

retry mechanics
  e2e/src/common/test-helpers/eip7702-delegation.ts
  e2e/src/common/test-helpers/index.ts
  e2e/src/common/utils/index.ts
  e2e/src/common/utils/retry.ts
  e2e/src/eip7702.spec.ts
  e2e/src/l2.spec.ts
Due: none

fix(coordinator) - message anchoring app hardcoded L1HighestBlockTag to FINALIZED
  e2e/src/shomei-get-proof.spec.ts
Due: none

Add more tests
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/ConflationTargetCheckpointPauseController.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/ConflationTargetCheckpointPauseControllerTest.kt
Due: kotlin

chore(e2e) - update coordinator image tag and rename to LINEA_COORDINATOR_TAG
  coordinator/AGENTS.md
  docker/compose-spec-l2-services.yml
  docs/local-development-guide.md
  docs/tech/components/coordinator.md
  docs/tech/development/README.md
Due: kotlin

chore(e2e) - update coordinator image tag and rename to LINEA_COORDINATOR_TAG (#2809)
  coordinator/AGENTS.md
  docker/compose-spec-l2-services.yml
  docs/local-development-guide.md
  docs/tech/components/coordinator.md
  docs/tech/development/README.md
Due: kotlin

fix(e2e) - linea_getProof flakiness
  e2e/src/shomei-get-proof.spec.ts
Due: none

[Coordinator] Local setup for testing conflation backtesting
  config/coordinator/coordinator-config-v2.toml
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
  docs/features/coordinator.md
Due: kotlin

prover: fix review comments and clean up on-the-fly limitless prover
  prover/backend/execution/limitless/perf_log.go
  prover/backend/execution/limitless/prove.go
  prover/backend/execution/limitless/prove_onthefly.go
  prover/protocol/compiler/vortex/prover.go
  prover/protocol/distributed/conglomeration_hierarchical.go
  prover/protocol/distributed/module_discovery_standard.go
Due: none

feat: changed to use local build prover and linea-besu-package images in e2e test
  .github/workflows/linea-besu-package-e2e-tests-with-partial-prover.yml
Due: none

ras fix JALR
  arithmetization/src/main/riscv/instruction_processing/i_type.zkc
Due: none

feat: add else if and prepare for system
  arithmetization/src/main/riscv/instruction_processing/i_type.zkc
  arithmetization/src/main/riscv/interpreter.zkc
Due: none

feat: update prover constraints commit hash
  prover/Makefile
Due: none

feat: added back resolvedBesuVer check in sequencer and tracer build.gradle
  besu-plugins/linea-sequencer/build.gradle
  tracer/build.gradle
Due: none

fix: remove commented out lines to install go-corset
  tracer/gradle/corset.gradle
Due: none

feat: remove manual buildAndUpdateBesuVersionInLibsVersions from CI
  .github/actions/linea-besu-package/build-plugins-and-assemble/action.yml
  .github/actions/setup-tracer-environment/action.yml
  .github/workflows/coordinator-build-and-publish.yml
  .github/workflows/coordinator-testing.yml
  .github/workflows/staterecovery-testing.yml
  .github/workflows/transaction-exclusion-api-build-and-publish.yml
  .github/workflows/transaction-exclusion-api-testing.yml
Due: none

chore: skip besu build and update for clean and spotless tasks
  buildSrc/src/main/groovy/LineaBesuPlugin.groovy
Due: none

feat: add changes for gradle configuration cache compatibility and remove besu in libs.versions.toml and its pre-hook and relevant logics
  .githooks/pre-commit
  .github/actions/linea-besu-package/build-plugins-and-assemble/action.yml
  .github/actions/parse-release-versions/action.yml
  .github/workflows/linea-besu-build-and-publish.yml
  besu-plugins/linea-sequencer/build.gradle
  build.gradle
  buildSrc/src/main/groovy/LineaBesuPlugin.groovy
  docs/linea-besu-package-releases.md
  gradle/libs.versions.toml
  jvm-libs/linea/besu-libs/build.gradle
  linea-besu-package/Makefile
  linea-besu/build.gradle
  linea-besu/src/main/java/net/consensys/linea/besu/prepare/LineaBesuPrepareMarker.java
  settings.gradle
  tracer/build.gradle
  tracer/gradle/corset.gradle
Due: kotlin

fix: execOperations scope issue
  buildSrc/src/main/groovy/LineaBesuPlugin.groovy
Due: none

feat: remove linea-besu plugin and add file cache for resolved besu version
  .gitignore
  besu-plugins/linea-sequencer/build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/groovy/LineaBesuPlugin.groovy
  gradle/libs.versions.toml
  jvm-libs/linea/besu-libs/build.gradle
  linea-besu/build.gradle
  settings.gradle
  tracer/build.gradle
Due: kotlin

feat: set linea-besu as a gradle module
  besu-plugins/linea-sequencer/build.gradle
  build.gradle
  buildSrc/src/main/groovy/LineaBesuPlugin.groovy
  coordinator/app/build.gradle
  gradle/libs.versions.toml
  jvm-libs/linea/besu-libs/build.gradle
  linea-besu-package/Makefile
  linea-besu/build.gradle
  linea-besu/scripts/build-dist-and-publish.sh
  linea-besu/src/main/java/net/consensys/linea/besu/prepare/LineaBesuPrepareMarker.java
  settings.gradle
  tracer/build.gradle
  transaction-exclusion-api/app/build.gradle
Due: kotlin

Moved the solidity source files
  besu-plugins/linea-sequencer/acceptance-tests/src/test/solidity/ExcludedPrecompiles.sol
  besu-plugins/linea-sequencer/acceptance-tests/src/test/solidity/MultiMessageSender.sol
  contracts/local-deployments-artifacts/static-artifacts/ExcludedPrecompiles.json
  contracts/local-deployments-artifacts/static-artifacts/MultiMessageSender.json
  contracts/src/_testing/integration/ExcludedPrecompiles.sol
  contracts/src/_testing/integration/MultiMessageSender.sol
Due: hardhat

fix: parse-release-versions failure if besu distribution was not found
  .github/actions/parse-release-versions/action.yml
Due: none

cleaning: removed trace files
  prover/devnet-traces/13816817-13816879-getZkProof.json
  prover/devnet-traces/13816817-13816879.conflated.lt.gz
  prover/zkevm/zkevm_osaka.bin
Due: none

chore(e2e) - prefix docker image env vars with LINEA_
  .github/workflows/reuse-linea-besu-package-build-test-push.yml
  .github/workflows/reuse-linea-besu-package-run-e2e-tests.yml
  .github/workflows/reuse-run-e2e-tests.yml
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
  docs/tech/architecture/EXTERNAL-DEPENDENCIES.md
  docs/tech/development/README.md
  linea-besu-package/Makefile
Due: none

fix(e2e) - correct typo in LINEA_BESU_PACKAGE_TAG variable name
  .github/workflows/reuse-run-e2e-tests.yml
Due: none

chore(e2e) - prefix docker image env vars with LINEA_ (#2812)
  .github/workflows/reuse-linea-besu-package-build-test-push.yml
  .github/workflows/reuse-linea-besu-package-run-e2e-tests.yml
  .github/workflows/reuse-run-e2e-tests.yml
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
  docs/tech/architecture/EXTERNAL-DEPENDENCIES.md
  docs/tech/development/README.md
  linea-besu-package/Makefile
Due: none

fix: typos or minors
  prover/backend/invalidity/prove.go
  prover/circuits/invalidity/bad_precompile.go
  prover/circuits/invalidity/filtered_address.go
  prover/circuits/invalidity/invalidity.go
  prover/circuits/invalidity/nonce_balance.go
  prover/circuits/invalidity/pi.go
Due: none

feat: use relative paths to specific dir in makefile, add flags to toolchain, update README, use ternary operator in signed_comp, remove tags from vscode
  .ctags.d/zkc.ctags
  .gitignore
  arithmetization/README.md
  arithmetization/src/main/riscv/instruction_processing/r_type.zkc
  arithmetization/src/main/riscv/utils/signed_comparisons.zkc
  arithmetization/src/test/examples/Makefile
  arithmetization/src/test/examples/asm/makefile
  arithmetization/src/test/examples/rust/add.rs
  arithmetization/src/test/examples/rust/blake.rs
  arithmetization/src/test/riscv-program/add
  arithmetization/src/test/riscv-program/add.o
  arithmetization/src/test/riscv-program/add.zig
Due: none

feat: update makefile
  arithmetization/src/test/examples/Makefile
Due: none

chore: add LINEA_ prefix for image envs
  .github/workflows/linea-besu-package-e2e-tests-with-partial-prover.yml
Due: none

fix: add main in add
  arithmetization/src/test/examples/rust/add.rs
Due: none

typos
  prover/circuits/invalidity/bad_precompile_test.go
  prover/circuits/invalidity/mock_zkevm.go
  prover/circuits/invalidity/setup_test.go
Due: none

fixed : typos
  prover/backend/invalidity/prove_test.go
Due: none

feat: rm asm-test
  arithmetization/src/test/examples/Makefile
  arithmetization/src/test/examples/asm-test.json
Due: none

chore(e2e) - build local prover instead of hardcoded version
  .github/workflows/reuse-run-e2e-tests.yml
Due: none

fix copy paste
  arithmetization/src/test/examples/Makefile
Due: none

chore(e2e) - build local prover instead of hardcoded version (#2813)
  .github/workflows/reuse-run-e2e-tests.yml
Due: none

cleaning : removed duplicated functions
  prover/circuits/execution/pi_check.go
  prover/circuits/invalidity/bad_precompile.go
Due: none

fix: CI error (prover static checks)
  prover/circuits/invalidity/pi.go
  prover/circuits/invalidity/utils_test.go
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
