Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

feat: too many things ...
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/AccountSnapshot.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/ExecutionType.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxAuthorizationMacroSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxInitializationSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxPreWarmingMacroSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxSkipSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/Bytecode.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/TransactionProcessingMetadata.java
Due: none

Security improvement: use DockerHub OAT (#494)
  maru/.github/workflows/chaos-testing.yml
  maru/.github/workflows/e2e-tests.yml
  maru/.github/workflows/main.yml
  maru/.github/workflows/maru-build-and-publish.yml
  maru/.github/workflows/release.yml
  maru/.github/workflows/smoke-tests.yml
  maru/.github/workflows/testing.yml
Due: none

feat: we must trigger TRM in the TX_AUTH phase
  tracer-constraints/hub/osaka/constraints/tx_auth/constraints.lisp
Due: none

finish the glue
  tracer-constraints/blake2fmodexpdata/constants.lisp
  tracer-constraints/blake2fmodexpdata/modexp_selector.lisp
Due: none

ras spotless
  tracer/arithmetization/src/test/java/net/consensys/linea/ReplayTestTools.java
  tracer/arithmetization/src/test/java/net/consensys/linea/osakaReplayTests/Incident1445.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyTransaction.java
Due: none

ras
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/AccountSnapshot.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/account/AccountFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxSkipSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/Bytecode.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/TransactionProcessingMetadata.java
Due: none

corset + missing glue constraints
  prover/Makefile
  tracer-constraints/alu/mod.zkasm
  tracer-constraints/blake2fmodexpdata/lookups/blakemodexp_into_small_modexp.lisp
  tracer-constraints/blake2fmodexpdata/modexp_selector.lisp
  tracer/gradle/corset.gradle
Due: none

[ZkTracer] feat: delegation phase in ZkCounter
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/ZkCounter.java
Due: none

ras
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/delegation/DelegatesAndRevertsTests.java
Due: none

ras add checks
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/delegation/DelegatesAndRevertsTests.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyTransaction.java
Due: none

feat: upgrade tracer release workflow to use med instance
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

test: update versions.env to test linea-besu-package manual release with download
  linea-besu-package/versions.env
Due: none

test: revert spotless to v8.1 and klint to 1.0.1 with force dependency on jgit 6.7
  build.gradle
  gradle/libs.versions.toml
  jvm-libs/build.gradle
Due: kotlin

ras update corset
  tracer/gradle/corset.gradle
Due: none

test: revert spotless to v8.1 and klint to 1.0.1 with force dependency on jgit 6.7
  build.gradle
  jvm-libs/build.gradle
Due: kotlin

feat: revert versions.env update for testing and update linea-besu-package image in local stack for trace-limits v5
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
  docker/compose-tracing-v2-fleet-ci-extension.yml
  linea-besu-package/versions.env
Due: none

[ZkTracer] tmp disable blake constraints
  tracer-constraints/Makefile
Due: none

test: revert force dependency on jgit 6.7 and upgrade jreleaser to 1.22
  build.gradle
  gradle/libs.versions.toml
Due: none

fix: spotless issue
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/linecounts/LineCountsRequestParams.java
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/TraceRequestParams.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/ZkTracer.java
Due: none

feat: upgrade bouncycastle
  gradle/libs.versions.toml
Due: none

feat: revert jreleaser to 1.15 and bouncycastle to 1.79
  gradle/libs.versions.toml
Due: none

feat: set to use blob compression v3 in test
  jvm-libs/linea/blob-compressor/src/test/kotlin/net/consensys/linea/blob/GoNativeCompressorAndShnarfCalculatorIntTest.kt
Due: kotlin

[ZkTracer] feat: delegation phase in ZkCounter (#2356)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/ZkCounter.java
Due: none

[ZkTracer] tmp disable blake constraints (#2359)
  tracer-constraints/Makefile
Due: none

use live values
  contracts/src/bridging/token/TokenBridge.sol
  contracts/test/hardhat/bridging/token/TokenBridge.ts
Due: hardhat

updates Readme to link to active repos & minor style fixes (#1869)
  README.md
Due: none

refactoring: simplifying some functions and structs
  prover/circuits/invalidity/account_trie_test.go
  prover/circuits/invalidity/nonce_balance.go
  prover/circuits/invalidity/utils_test.go
  prover/zkevm/prover/publicInput/invalidity_pi/invalidity_pi.go
  prover/zkevm/prover/publicInput/invalidity_pi/invalidity_pi_test.go
  prover/zkevm/prover/publicInput/invalidity_pi/test_helpers.go
Due: none

match name to version
  contracts/src/bridging/token/TokenBridge.sol
  contracts/test/hardhat/bridging/token/TokenBridge.ts
Due: hardhat

Benchmark for the fast vs slow path
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/CompressionAwareBlockTransactionSelectorBenchmarkTest.java
Due: none

coordinator: allow easier debug on docker
  docker/compose-spec-l2-services.yml
Due: none

coordinator: eth logs searcher support for state listener
  jvm-libs/linea/clients/eth-logs-searcher/src/main/kotlin/linea/ethapi/EthLogsFilterSubscriptionPollingBased.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/EthLogsFilterPollerTest.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/extensions/EthLogsFilterSubscription.kt
Due: kotlin

coordinator: add ForcedTransactionsDao implementation and tests
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/ForcedTransactionRecord.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/linea/persistence/ftx/PostgresForcedTransactionsDaoTest.kt
  coordinator/persistence/aggregation/src/main/kotlin/linea/persistence/ftx/PostgresForcedTransactionsDao.kt
  coordinator/persistence/db-common/src/main/resources/db/V005__add_forced_transactions_schema.sql
Due: kotlin

coordinator: open DisabledService
  jvm-libs/linea/core/long-running-service/src/main/kotlin/linea/LongRunningService.kt
Due: kotlin

coordinator: add Disabled LongRunning Service placeholder for disabled services
  jvm-libs/linea/core/long-running-service/src/main/kotlin/linea/LongRunningService.kt
Due: kotlin

coordinator: adds forced transactions config parsing
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/CoordinatorConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/ForcedTransactionsConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/CoordinatorConfigFilesToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ForcedTransactionsConfigToml.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/CoordinatorConfigTest.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ForcedTransactionsConfigParsingTest.kt
Due: kotlin

coordinator: forced transactions conflations safe block manager logic
  coordinator/ethereum/forced-transactions/build.gradle
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsApp.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsExecutionStatusUpdater.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsL1EventsFetcher.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsResumePointProvider.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsSenderForExecution.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ForcedTransactionsSafeBlockNumberManager.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/ForcedTransactionsAppTest.kt
Due: kotlin

coordinator: checking some changes left behind
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ForcedTransactionsSafeBlockNumberManager.kt
  coordinator/persistence/aggregation/src/main/kotlin/linea/persistence/ftx/ForcedTransactionsDao.kt
  jvm-libs/linea/clients/linea-contract-clients/src/testFixtures/kotlin/linea/contract/l1/FakeLineaRollupSmartContractClient.kt
  jvm-libs/linea/clients/linea-contract-clients/src/testFixtures/kotlin/linea/contract/l1/FakeLineaRollupSmartContractClientReadOnlyFinalizedStateProvider.kt
Due: kotlin

coordinator: add ContractVersionAwaiter
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/contract/l1/LineaSmartContractClient.kt
Due: kotlin

coordinator: fix spotless
  coordinator/persistence/aggregation/src/integrationTest/kotlin/linea/persistence/ftx/PostgresForcedTransactionsDaoTest.kt
Due: kotlin

coordinator: add ConflationSafeBlockNumberProvider
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blockcreation/SafeBlockProvider.kt
Due: kotlin
