Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

perf: don't reallocate modulus in mixed_api
  prover/maths/zk/mixed_api.go
Due: none

perf: replaced mulFp by mulConst when appropriate
  prover/maths/common/fastpoly/gnark_lagrange.go
  prover/maths/common/fastpolyext/gnark_lagrange.go
  prover/maths/field/gnarkfext/e2_gen.go
  prover/maths/field/gnarkfext/e4_gen.go
  prover/maths/polynomials/lagrange_wv.go
  prover/protocol/column/gnark_derive.go
  prover/protocol/compiler/.gitignore
  prover/protocol/compiler/globalcs/evaluation.go
  prover/protocol/compiler/standard_benchmark_test.go
  prover/protocol/variables/periodicsample.go
  prover/symbolic/lincomb.go
Due: none

feat (public-input): adding assignment for exec data to be hashed
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector_hashing_test.go
  prover/zkevm/prover/publicInput/execution_data_collector/generic_padder_packer.go
  prover/zkevm/prover/publicInput/execution_data_collector/poseidon_padder_packer.go
  prover/zkevm/prover/publicInput/execution_data_collector/poseidon_padder_packer_test.go
  prover/zkevm/prover/publicInput/public_input.go
Due: none

fix(conglo): optimisation
  prover/protocol/distributed/conglomeration_test.go
  prover/protocol/plonkinternal/context.go
Due: none

[Coordinator] Add json rpc endpoint for conflation backtesting
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/ApiConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ApiConfigToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/api/Api.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/api/dto/ConflationCreateProverRequestJsonDto.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/api/requesthandlers/ConflationCreateProverRequestHandler.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/api/requesthandlers/ConflationGetJobStatusRequestHandler.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingService.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ApiConfigParsingTest.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/api/dto/ConflationCreateProverRequestJsonDtoTest.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/api/requesthandlers/ConflationGetJobStatusRequestHandlerTest.kt
Due: kotlin

fix: after merge
  prover/protocol/compiler/recursion/actions.go
  prover/protocol/compiler/recursion/circuit.go
  prover/protocol/distributed/CACHE_IMPLEMENTATION.md
  prover/protocol/distributed/CACHE_README.md
  prover/protocol/distributed/QUICKSTART.md
  prover/protocol/distributed/SUMMARY.md
  prover/protocol/distributed/conglomeration_cached_test.go
  prover/protocol/distributed/test-cached-twice.sh
  prover/protocol/distributed/test-cached.sh
  prover/protocol/distributed/test_cache_test.go
Due: none

fix: update finalizeBlocks function signature for call forwarding proxy test
  contracts/test/hardhat/rollup/helpers/expect.ts
Due: hardhat

fix: add missing await keywords in test files (#2110)
  contracts/test/hardhat/recovery/RecoverFunds.ts
  contracts/test/hardhat/yield/integration/YieldManager.integration.ts
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProvider.basic.ts
  contracts/test/hardhat/yield/unit/LineaRollupYieldExtension.ts
  contracts/test/hardhat/yield/unit/ValidatorContainerProofVerifier.ts
  contracts/test/hardhat/yield/unit/YieldManager.funds.ts
Due: hardhat

feat: adding the support for bad precompile case in the invalidity circuit (wip)
  prover/RipTests_basicRipTest_arg0=15_osaka_983287149254501254.lt
  prover/backend/invalidity/craft.go
  prover/backend/invalidity/prove.go
  prover/backend/invalidity/request.go
  prover/circuits/invalidity/bad-precompile.go
  prover/circuits/invalidity/invalidity.go
  prover/circuits/invalidity/pi.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/cmd.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/random_gen.go
  prover/zkevm/prover/ecdsa/address.go
  prover/zkevm/prover/ecdsa/address_test.go
  prover/zkevm/prover/ecdsa/antichamber.go
  prover/zkevm/prover/ecdsa/antichamber_test.go
  prover/zkevm/prover/ecdsa/ecdsa.go
  prover/zkevm/prover/ecdsa/utils_for_test.go
  prover/zkevm/prover/invalidityPI/invalidity_pi.go
  prover/zkevm/zkevm.go
  prover/zkevm/zkevm_osaka.bin
Due: none

fixed CI go-lint errors
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/invalidity_test.go
  prover/public-input/aggregation_testdata_test.go
Due: none

Delete mimc_hasher.go
  prover/zkevm/prover/publicInput/execution_data_collector/mimc_hasher.go
Due: none

fix the checkout for the execution_data_hash
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector_vectors.go
  prover/zkevm/prover/publicInput/execution_data_collector/poseidon2_hasher.go
Due: none

Update generic_padder_packer.go
  prover/zkevm/prover/publicInput/execution_data_collector/generic_padder_packer.go
Due: none

feat: update images in local stacks and chores (#2091)
  .github/workflows/linea-tracer-plugin-release.yml
  config/coordinator/coordinator-config-v2.toml
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
  docker/compose-tracing-v2-fleet-ci-extension.yml
  docker/config/l2-genesis-initialization/genesis-besu.json.template
  docs/getting-started/linea-mainnet/docker-compose.yml
  docs/getting-started/linea-sepolia/docker-compose.yml
  e2e/src/messaging.spec.ts
  linea-besu-package/linea-besu/config/trace-limits.mainnet.toml
  linea-besu-package/linea-besu/config/trace-limits.sepolia.toml
  linea-besu-package/linea-besu/profiles/advanced-sepolia.toml
Due: none

Update public_input.go
  prover/zkevm/prover/publicInput/public_input.go
Due: none

feat: add addressFilter in deployment scripts + add proxy admin check in reinitialize function
  contracts/common/constants/index.ts
  contracts/common/constants/precompiles.ts
  contracts/deploy/03_deploy_LineaRollup.ts
  contracts/deploy/21_deploy_AddressFilter.ts
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/forcedTransactions/ForcedTransactionGateway.sol
  contracts/src/rollup/forcedTransactions/interfaces/IForcedTransactionGateway.sol
  contracts/test/hardhat/common/deployment.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
  contracts/test/hardhat/rollup/helpers/deploy.ts
Due: hardhat

fix after merge completed
  prover/circuits/pi-interconnection/circuit.go
  prover/circuits/pi-interconnection/keccak/snark.go
  prover/protocol/compiler/recursion/circuit.go
  prover/protocol/distributed/conglomeration_hierarchical.go
  prover/protocol/plonkinternal/compile.go
  prover/public-input/aggregation.go
  prover/public-input/execution.go
Due: none

tracer should be ok
  tracer-constraints/constants/constants.lisp
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpUtils/InstructionInteger.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/GenericTracedValue.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/RlpTxnOperation.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/phaseSection/AccessListPhaseSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/phaseSection/AuthorizationListSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/phaseSection/PhaseSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/phaseSection/ToPhaseSection.java
Due: none

rm prev. dangling inprogress files under same ctrler local-id
  prover/cmd/controller/controller/controller.go
  prover/cmd/controller/controller/fs_watcher.go
  prover/config/constants.go
Due: none

refine comments
  prover/cmd/controller/controller/controller.go
Due: none

fix(conglo): fixed and running test with same params for all ckt
  prover/protocol/compiler/recursion/circuit.go
  prover/protocol/distributed/conglomeration_hierarchical.go
  prover/protocol/distributed/conglomeration_test.go
  prover/protocol/plonkinternal/context.go
Due: none

perf: optimize mpts
  prover/protocol/compiler/mpts/verifier.go
Due: none

init commit
  contracts/scripts/operational/bytecode-verifier/README.md
  contracts/scripts/operational/bytecode-verifier/abi-utils.ts
  contracts/scripts/operational/bytecode-verifier/bytecode-utils.ts
  contracts/scripts/operational/bytecode-verifier/config.example.json
  contracts/scripts/operational/bytecode-verifier/config.ts
  contracts/scripts/operational/bytecode-verifier/index.ts
  contracts/scripts/operational/bytecode-verifier/types.ts
  contracts/scripts/operational/bytecode-verifier/verifier.ts
Due: hardhat

coordinator: adjust ForcedTransactionsClient
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/forcedtx/ForcedTransactionsClient.kt
Due: kotlin

[Coordinator] Refactor rolling blob shnarf calculator (#2085)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/ParentBlobDataProvider.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/RollingBlobShnarfCalculator.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/blob/RollingBlobShnarfCalculatorTest.kt
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinatorIntTest.kt
Due: kotlin

rm prev. dangling inprogress files under same ctrler local-id (#2113)
  prover/cmd/controller/controller/controller.go
  prover/cmd/controller/controller/fs_watcher.go
  prover/config/constants.go
Due: none

update
  prover/crypto/vortex/prover_common.go
  prover/crypto/vortex/utils.go
  prover/crypto/vortex/verifier_circuit_common.go
  prover/crypto/vortex/vortex_bls12377/prover.go
  prover/crypto/vortex/vortex_bls12377/verifier.go
  prover/crypto/vortex/vortex_bls12377/verifier_test.go
  prover/crypto/vortex/vortex_koalabear/prover.go
  prover/crypto/vortex/vortex_koalabear/verifier.go
  prover/crypto/vortex/vortex_koalabear/verifier_test.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/gnark_verifier.go
  prover/protocol/compiler/vortex/names.go
  prover/protocol/compiler/vortex/prover.go
  prover/protocol/compiler/vortex/verifier.go
Due: none

(fix): rm prev dangling inprogress file for ctrler with same id
  prover/cmd/controller/controller/controller.go
  prover/cmd/controller/controller/fs_watcher.go
  prover/config/constants.go
Due: none

rm hard-coded suffix and unwanted logs
  prover/cmd/controller/controller/controller.go
Due: none

test for circuit bad precomile passes
  prover/circuits/invalidity/bad-precompile.go
  prover/circuits/invalidity/bad_precompile.go
  prover/circuits/invalidity/bad_precompile_test.go
  prover/circuits/invalidity/invalidity.go
  prover/circuits/invalidity/pi.go
Due: none

Comments
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/ApiConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ApiConfigToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/api/Api.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorApp.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ApiConfigParsingTest.kt
Due: kotlin

[Coordinator] Add json rpc endpoint for conflation backtesting (#2111)
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/ApiConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ApiConfigToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/api/Api.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/api/dto/ConflationCreateProverRequestJsonDto.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/api/requesthandlers/ConflationCreateProverRequestHandler.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/api/requesthandlers/ConflationGetJobStatusRequestHandler.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingService.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ApiConfigParsingTest.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/api/dto/ConflationCreateProverRequestJsonDtoTest.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/api/requesthandlers/ConflationGetJobStatusRequestHandlerTest.kt
Due: kotlin

feat: add new FinalizedStateUpdated event in the finalizeBlocks function
  contracts/abi/LineaRollupV8.0.abi
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/interfaces/ILineaRollupBase.sol
  contracts/test/hardhat/rollup/helpers/expect.ts
Due: hardhat

Linea-besu-package--Build image with new shomei plugin version
  linea-besu-package/versions.env
Due: none

fixed limb in the lookups to SHAKIRADATA and ECDATA
  tracer-constraints/rlpauth/lookups/rlpauth_into_ecdata.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_shakira_for_code_hash.lisp
  tracer-constraints/rlpauth/lookups/rlpauth_into_shakira_for_ecrecover.lisp
Due: none

add extra examples and state verification
  contracts/scripts/operational/bytecode-verifier/abi-utils.ts
  contracts/scripts/operational/bytecode-verifier/config.example.json
  contracts/scripts/operational/bytecode-verifier/types.ts
  contracts/scripts/operational/contract-integrity-verifier/README.md
  contracts/scripts/operational/contract-integrity-verifier/__tests__/run-tests.ts
  contracts/scripts/operational/contract-integrity-verifier/abi-utils.ts
  contracts/scripts/operational/contract-integrity-verifier/bytecode-utils.ts
  contracts/scripts/operational/contract-integrity-verifier/config.ts
  contracts/scripts/operational/contract-integrity-verifier/configs/chains.json
  contracts/scripts/operational/contract-integrity-verifier/configs/config.example.json
  contracts/scripts/operational/contract-integrity-verifier/configs/sepolia-linea-rollup-v7.json
  contracts/scripts/operational/contract-integrity-verifier/configs/sepolia-linea-rollup-v7.md
  contracts/scripts/operational/contract-integrity-verifier/index.ts
  contracts/scripts/operational/contract-integrity-verifier/state-utils.ts
  contracts/scripts/operational/contract-integrity-verifier/types.ts
  contracts/scripts/operational/contract-integrity-verifier/verifier.ts
  contracts/src/libraries/Poseidon2.sol
Due: hardhat

[Coordinator] some minor fixes
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/ApiConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ApiConfigToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ConflationToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/api/Api.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorApp.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ApiConfigParsingTest.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ConflationParsingTest.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedBlobCompressionProverClientV2.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedProofAggregationClientV2.kt
Due: kotlin

schema + restructure
  contracts/scripts/operational/contract-integrity-verifier/README.md
  contracts/scripts/operational/contract-integrity-verifier/configs/example.json
  contracts/scripts/operational/contract-integrity-verifier/configs/sepolia-linea-rollup-v7.json
  contracts/scripts/operational/contract-integrity-verifier/schemas/linea-rollup.json
  contracts/scripts/operational/contract-integrity-verifier/src/cli.ts
  contracts/scripts/operational/contract-integrity-verifier/src/config.ts
  contracts/scripts/operational/contract-integrity-verifier/src/index.ts
  contracts/scripts/operational/contract-integrity-verifier/src/types.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/abi.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/bytecode.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/index.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/state.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/storage-path.ts
  contracts/scripts/operational/contract-integrity-verifier/src/verifier.ts
  contracts/scripts/operational/contract-integrity-verifier/tests/run-tests.ts
  contracts/scripts/operational/contract-integrity-verifier/tools/generate-schema.ts
Due: hardhat

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
