Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

use blockhash with current block (#663)
  contracts/local-deployments-artifacts/static-artifacts/OpcodeTester.json
  contracts/src/_testing/unit/opcodes/OpcodeTester.sol
Due: hardhat

fix for L2MessageService
  contracts/src/messaging/l2/L2MessageService.sol
Due: hardhat

staterecovery: try to make local stack more reliable
  Makefile
  docker/compose-spec-l2-services.yml
Due: none

staterecovery: small log improvement and timeout increase for CI
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateRecoveryApp.kt
  state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/StateRecoveryAppWithFakeExecutionClientIntTest.kt
Due: none

staterecovery: update blobscan nodes
  docker/compose-spec-l2-services.yml
  docker/config/blobscan/env
Due: none

staterecovery: make some stateless methods static
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/BlockImporter.kt
Due: none

jvm-apps: disable unnecessary distZip task
  buildSrc/src/main/groovy/net.consensys.zkevm.kotlin-application-conventions.gradle
  coordinator/app/build.gradle
Due: kotlin

transaction-exclusion-api: update besu dependency
  gradle/libs.versions.toml
  jvm-libs/linea/besu-libs/build.gradle
  transaction-exclusion-api/app/build.gradle
Due: kotlin

remove warning silencer for demo purpose
  contracts/src/_testing/unit/messaging/TestL1MessageService.sol
  contracts/src/_testing/unit/messaging/TestL1MessageServiceMerkleProof.sol
  contracts/src/rollup/LineaRollup.sol
Due: hardhat

Revert "remove warning silencer for demo purpose"
  contracts/src/_testing/unit/messaging/TestL1MessageService.sol
  contracts/src/_testing/unit/messaging/TestL1MessageServiceMerkleProof.sol
  contracts/src/rollup/LineaRollup.sol
Due: hardhat

improve interface NatSpec
  contracts/src/rollup/interfaces/ILineaRollup.sol
Due: hardhat

fix (public-input): changed the hashing method to match compression
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector_hashing_test.go
  prover/zkevm/prover/publicInput/execution_data_collector/mimc_hasher.go
Due: none

perf(mem): adds a detector for constant regular column.
  prover/maths/common/smartvectors/smartvectors.go
  prover/protocol/wizard/prover.go
Due: none

fixup(mem): support the edge-case for smartvectors of size 1
  prover/maths/common/smartvectors/smartvectors.go
Due: none

remove reinit function in tokenbridge
  contracts/src/bridging/token/TokenBridge.sol
  contracts/test/hardhat/bridging/token/TokenBridge.ts
Due: hardhat

add limitless prover components to file watcher
  prover/cmd/controller/controller/fs_watcher.go
  prover/cmd/controller/controller/fs_watcher_test.go
  prover/cmd/controller/controller/job_definition_limitless.go
  prover/cmd/controller/controller/job_definition_limitless_test.go
  prover/config/config.go
  prover/config/config_default.go
Due: none

define fswatcher for limitless prover
  prover/cmd/controller/controller/fs_watcher_test.go
Due: none

fix(codehash): support the case where the ROM is empty
  prover/zkevm/prover/statemanager/codehashconsistency/assign.go
Due: none

doc: Improve the "Get Started" section
  docs/get-started.md
Due: none

feat: use linea_estimateGas instead of getFeeData for all L2 transactions
  docker/config/l2-node-besu/l2-node-besu-config.toml
  docker/config/linea-besu-sequencer/sequencer.config.toml
  e2e/src/bridge-tokens.spec.ts
  e2e/src/common/utils.ts
  e2e/src/config/jest/global-setup.ts
  e2e/src/config/tests-config/setup.ts
  e2e/src/gas-limit.spec.ts
  e2e/src/l2.spec.ts
  e2e/src/messaging.spec.ts
Due: none

staterecovery: rename FakeStateManagerClient
  state-recovery/test-cases/src/main/kotlin/linea/staterecovery/test/FakeStateManagerClient.kt
Due: none

staterecovery: log fix
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateRecoveryApp.kt
Due: none

staterecovery: log fix
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateSynchronizerService.kt
Due: none

staterecovery: improve Web3JLogsSearcher thread safety
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/Web3JLogsSearcher.kt
  state-recovery/test-cases/build.gradle
Due: kotlin

feat: use linea_estimateGas instead of getFeeData for L2 transactionswith call data and enable json-rpc-pricing-propagation
  docker/compose-tracing-v1.yml
  docker/compose-tracing-v2.yml
  docker/config/l2-node-besu/l2-node-besu-config.toml
  docker/config/linea-besu-sequencer/sequencer.config.toml
  e2e/src/common/utils.ts
  e2e/src/config/jest/global-setup.ts
  e2e/src/gas-limit.spec.ts
  e2e/src/l2.spec.ts
Due: none

simplified structs and added extra tests
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/ZkEvmV2.sol
  contracts/src/rollup/interfaces/ILineaRollup.sol
  contracts/src/rollup/interfaces/IZkEvmV2.sol
  contracts/test/hardhat/common/types.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
Due: hardhat

cleanup + natspec
  contracts/src/rollup/LineaRollup.sol
Due: hardhat

staterecovery: small efficiency improve on Web3JLogsSearcher
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/Web3JLogsSearcher.kt
Due: kotlin

staterecovery: refactor in the tests
  jvm-libs/linea/testing/l1-blob-and-proof-submission/src/main/kotlin/net/consensys/linea/testing/submission/SubmissionTestHelper.kt
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/AppConfigurator.kt
  state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/StateRecoveryAppWithFakeExecutionClientIntTest.kt
Due: kotlin

Updated file-downloader.sh
  docker/scripts/file-downloader.sh
Due: none

feat: set DISABLE_JSON_RPC_PRICING_PROPAGATION of coordinator as false for e2e ci
  Makefile
  docker/compose-tracing-v1.yml
  docker/compose-tracing-v2.yml
Due: none

chore: update header nav
  bridge-ui/src/components/v2/header/data.js
  bridge-ui/src/components/v2/header/desktop-navigation/index.tsx
  bridge-ui/src/components/v2/header/mobile-navigation/index.tsx
  bridge-ui/src/types/index.ts
Due: none

chore: more parallelism to unit/replay/ref tests (#1786)
  tracer/.github/workflows/gradle-tests.yml
  tracer/.github/workflows/reference-blockchain-tests.yml
Due: none

fixing minor typos
  prover/protocol/distributed/comp_splitting.go
  prover/protocol/distributed/lpp/lpp_test.go
  prover/protocol/wizard/prover.go
Due: none

perf(prover): reduce synchronization allocs for FFT
  prover/maths/fft/fft.go
Due: none

add incorrect-initializer-flag to upgrades constructor function
  contracts/src/_testing/unit/messaging/TestL1MessageService.sol
  contracts/src/_testing/unit/messaging/TestL1MessageServiceMerkleProof.sol
  contracts/src/rollup/LineaRollup.sol
  contracts/test/hardhat/L1MessageService.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
Due: hardhat

feat: use already-built image in Dockerfile of l1-node-genesis-generator
  docker/compose-tracing-v1.yml
  docker/compose-tracing-v2.yml
  docker/config/l1-node/Dockerfile
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
