Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

[Fix] - merge all audit fixes (#2346)
  contracts/abi/LineaRollupV7.1.abi
  contracts/docs/pause-by-type-flow.txt
  contracts/src/_testing/unit/rollup/TestLineaRollup.sol
  contracts/src/bridging/token/TokenBridge.sol
  contracts/src/bridging/token/TokenBridgeBase.sol
  contracts/src/bridging/token/interfaces/ITokenBridge.sol
  contracts/src/common/InitializationVersionCheck.sol
  contracts/src/interfaces/IGenericErrors.sol
  contracts/src/messaging/l1/L1MessageManager.sol
  contracts/src/messaging/l1/L1MessageService.sol
  contracts/src/messaging/l1/L1MessageServiceBase.sol
  contracts/src/messaging/l1/v1/ClaimMessageV1.sol
  contracts/src/messaging/l1/v1/interfaces/IClaimMessageV1.sol
  contracts/src/messaging/l2/L2MessageManager.sol
  contracts/src/messaging/l2/L2MessageService.sol
  contracts/src/messaging/l2/L2MessageServiceBase.sol
  contracts/src/messaging/l2/v1/L2MessageServiceV1.sol
  contracts/src/messaging/libraries/SparseMerkleTreeVerifier.sol
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/LineaRollupYieldExtension.sol
  contracts/src/rollup/LivenessRecovery.sol
  contracts/src/rollup/Validium.sol
  contracts/src/rollup/_exampleImplementations/ExternalShnarfStorageRollup.sol
  contracts/src/rollup/_exampleImplementations/LineaRollupClaimingV2.sol
  contracts/src/rollup/dataAvailability/CalldataBlobAcceptor.sol
  contracts/src/rollup/dataAvailability/Eip4844BlobAcceptor.sol
  contracts/src/rollup/dataAvailability/ShnarfDataAcceptor.sol
  contracts/src/rollup/interfaces/ILineaRollup.sol
  contracts/src/rollup/interfaces/ILineaRollupBase.sol
  contracts/src/security/pausing/PauseManager.sol
  contracts/src/security/pausing/interfaces/IPauseManager.sol
  contracts/src/security/reentrancy/TransientStorageReentrancyGuardUpgradeable.sol
  contracts/test/hardhat/bridging/token/TokenBridge.ts
  contracts/test/hardhat/messaging/l2/L2MessageService.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/security/PauseManager.ts
  contracts/test/hardhat/yield/unit/YieldManager.controls.ts
Due: hardhat

deploy 7_1 for 7
  makefile-contracts.mk
Due: none

fix: postman processing time metric issue
  postman/src/services/processors/MessageClaimingPersister.ts
Due: none

Remove unused `proofIndex` parameter from `PostgresForcedTransactionsDaoTest`.
  coordinator/persistence/aggregation/src/integrationTest/kotlin/linea/persistence/ftx/PostgresForcedTransactionsDaoTest.kt
Due: kotlin

coordinator: add test fixtures for StateManager and InvalidityProver clients, update ForcedTransactionsApp with mock dependencies
  coordinator/core/src/testFixtures/kotlin/net/consensys/zkevm/coordinator/clients/FakeTracesConflationVirtualBlockClientV1.kt
  coordinator/ethereum/forced-transactions/build.gradle
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsL1EventsFetcher.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/FakeInvalidityProverClient.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/FakeStateManagerClient.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/ForcedTransactionsAppTest.kt
Due: kotlin

coordinator: add `schemaVersion` support to DatabaseConfig and DatabaseToml, update migration logic and tests
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/DatabaseConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/DatabaseToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorApp.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/DataBaseConfigParsingTest.kt
Due: kotlin

coordinator: add optional `invalidity` prover configuration and update parsing logic
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ProverToml.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ProverParsingTest.kt
Due: kotlin

coordinator: enforce `schemaVersion` within `supportedSchemas`, update tests and config handling
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/DatabaseConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/DatabaseToml.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/DataBaseConfigParsingTest.kt
Due: kotlin

coordinator: ForcedTransactionsAppTest revert merge regression
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/ForcedTransactionsAppTest.kt
Due: kotlin

change ParentStateRootHash from KoalaOctuplet to string
  prover/backend/aggregation/craft.go
  prover/backend/aggregation/prove.go
  prover/backend/aggregation/request.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/random_gen.go
Due: none

switched back to unchecked in the lookup rlptxn to rlpauth
  tracer-constraints/rlptxn/lookups/rlptxn_into_rlpauth.lisp
Due: none

fix: "start of new transaction" bits
  tracer-constraints/hub/osaka/constraints/system/transaction_numbers/housekeeping.lisp
  tracer-constraints/hub/osaka/constraints/system/transaction_numbers/shorthands_start.lisp
Due: none

feat: we trace TX_END_STAMP for all transactions now
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/common/CommonFragment.java
Due: none

fix: correct initial warmth of addresses in TX_SKIP
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxSkipSection.java
Due: none

fix: counting for ECDATA, SHAKIRA, ECRECOVER_EFFECTIVE_CALLS, BLOCK_KECCAK
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/ZkCounter.java
Due: none

feat: delegation address snapshots in simple EOA calling case
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/call/CallSection.java
Due: none

refactor
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/rlpauth/RlpAuthTest.java
Due: none

fixed lookup rlptxn-into-rlpauth
  tracer-constraints/rlpauth/rlpauth.zkasm
  tracer-constraints/rlptxn/lookups/rlptxn_into_rlpauth.lisp
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/rlpauth/RlpAuthTest.java
Due: none

added TupleValidity and run spotless
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/ZkCounter.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/AuthorizationFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/common/CommonFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TupleValidity.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxAuthorizationMacroSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxInitializationSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/call/CallSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpAuth/RlpAuthOperation.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/delegation/AccountDelegationAndRevertTests.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/rlpauth/RlpAuthTest.java
Due: none

added comment
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/rlpauth/RlpAuthTest.java
Due: none

various ...
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/AccountSnapshot.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/account/AccountFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxAuthorizationMacroSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxInitializationSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxSkipSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/transients/Conflation.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/romlex/RomLex.java
Due: none

ras
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxInitializationSection.java
Due: none

conflation: update logger names for improved classification of FTX and L1 clients
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
Due: kotlin

httpserver: include `serverName` in debug log for improved clarity
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/httpserver/HttpJsonRpcServer.kt
Due: kotlin

coordinator: remove unused `LineaGenesisStateProvider` interface
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/smartcontract/LineaRollupSmartContractClient.kt
Due: kotlin

fix: typo
  tracer-constraints/rlptxn/lookups/rlptxn_into_rlpauth.lisp
Due: none

coordinator: implement `buildFinalizeBlocksFunctionV8` support for L1 Rollup V8 contracts
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/FunctionBuildersV8.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupFunctionBuilders.kt
Due: kotlin

coordinator: update log4j2 config to adjust root logging level to INFO and add TRACE logger for `clients.l2.ftx`
  config/coordinator/log4j2-dev.xml
Due: none

docker: update `linea-besu-package`
  docker/compose-spec-l2-services.yml
  docker/config/linea-besu-sequencer/sequencer.config.toml
Due: none

coordinator: add forced-transactions config options and update schema version to 5
  config/coordinator/coordinator-config-v2-override-local-dev.toml
Due: none

configure unit tests to use KOALABEAR_16
  .github/workflows/reusable-tracer-unit-tests.yml
  tracer/gradle/corset.gradle
Due: none

update corset
  tracer/gradle/corset.gradle
Due: none

try release installing go
  .github/workflows/linea-sequencer-plugin-release.yml
Due: none

test permissions on sequencer release
  .github/workflows/linea-sequencer-plugin-release.yml
Due: none

remove annoying v in linea-sequencer name
  .github/workflows/reuse-linea-besu-package-build-test-push.yml
  linea-besu-package/scripts/assemble-packages.sh
Due: none

feat: update shomei to 3.0.0
  linea-besu-package/versions.env
Due: none

revert shomei
  linea-besu-package/versions.env
Due: none

feat: restructure BUGBOT rules and add API versioning guidelines
  .cursor/BUGBOT.md
  .cursor/rules/security-logging-guidelines/RULES.md
  .cursor/rules/versioning-guidelines/EXAMPLES.md
  .cursor/rules/versioning-guidelines/RULES.md
  .gitignore
Due: none

[ZkTracer] fix: constraints in SELFDESTRUCT (#2398)
  gradle/releases.versions.toml
  tracer-constraints/hub/osaka/constraints/instruction-handling/halting/selfdestruct/constraints.lisp
  tracer-constraints/hub/osaka/constraints/instruction-handling/halting/selfdestruct/shorthands.lisp
  tracer/gradle/corset.gradle
Due: none
