Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

sequencer plugin: fix GHA
  .github/workflows/linea-sequencer-plugin-testing.yml
Due: none

sequencer plugin: depend on local tracer
  besu-plugins/linea-sequencer/acceptance-tests/build.gradle
Due: none

feat: update constraints to blake in BE and change operation
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2f/Blake2fOperation.java
Due: none

[Coordinator] Web3j to EthApiMigration 6/N
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L2NetworkGasPricingService.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapProviderImpl.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapProviderImplTest.kt
  coordinator/ethereum/gas-pricing/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/DynamicGasPrice.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/HistoricVariableCostProviderImpl.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataBasedVariableFeesCalculator.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataSizeAccumulatorImpl.kt
  coordinator/ethereum/gas-pricing/static-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/HistoricVariableCostProviderImplTest.kt
  coordinator/ethereum/gas-pricing/static-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataBasedVariableFeesCalculatorTest.kt
  coordinator/ethereum/gas-pricing/static-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataSizeAccumulatorImplTest.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/Block.kt
  jvm-libs/linea/core/domain-models/src/testFixtures/kotlin/linea/domain/BlockFactory.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/mappers/EthGetBlockToLineaBlockMappers.kt
Due: kotlin

[Coordinator] Web3j to EthApiMigration 7/N
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
Due: kotlin

GasPriceCapFeeHistoryFetcher, web3j to ethapiclient
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapFeeHistoryFetcherImpl.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapFeeHistoryFetcherImplTest.kt
Due: kotlin

cursor bot comment
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/Block.kt
Due: kotlin

Fix build
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
Due: kotlin

feat: remove constraints commit checkout in tracer
  .github/workflows/constraints-check-compilation.yml
  tracer/arithmetization/src/main/java/net/consensys/linea/corset/CorsetValidator.java
  tracer/build.gradle
  tracer/gradle/corset.gradle
Due: none

feat: update arithmetization to v4.4-rc7.2 for testing
  gradle/libs.versions.toml
Due: none

feat: added tracer/gradle/corset.gradle for constraints change filter paths
  .github/workflows/main.yml
Due: none

feat: revert arithmetization to v4.4-rc7 and besu to 25.11.0
  gradle/libs.versions.toml
Due: none

fix(stack_column): address cursor and copilot comments
  prover/protocol/compiler/selfrecursion/linearhashandmerkle.go
  prover/protocol/compiler/selfrecursion/roothashandq.go
  prover/protocol/dedicated/stack_columns.go
Due: none

Prover/Reinstate Non Power of Two Number of Column Opening (#2012)
  prover/protocol/compiler/plonkinwizard/compile.go
  prover/protocol/compiler/selfrecursion/column_opening.go
  prover/protocol/compiler/selfrecursion/context.go
  prover/protocol/compiler/selfrecursion/linearhashandmerkle.go
  prover/protocol/compiler/selfrecursion/names.go
  prover/protocol/compiler/selfrecursion/roothashandq.go
  prover/protocol/compiler/selfrecursion/selfrecursion_optional_sis_hash_test.go
  prover/protocol/compiler/vortex/vortex_test.go
  prover/protocol/dedicated/stack_columns.go
Due: none

Downgrading greclipse (#2015)
  build.gradle
Due: none

fix: add logs to postman
  postman/src/services/processors/MessageClaimingProcessor.ts
  postman/src/services/processors/__tests__/MessageClaimingProcessor.test.ts
Due: none

fix(recursion) : used SetInterface to get field.element from different types.
  prover/protocol/compiler/recursion/recursion.go
Due: none

✨ feat: add SHOULD_REPORT_YIELD config flag
  native-yield-operations/automation-service/src/application/main/NativeYieldAutomationServiceBootstrap.ts
  native-yield-operations/automation-service/src/application/main/__tests__/NativeYieldAutomationServiceBootstrap.test.ts
  native-yield-operations/automation-service/src/application/main/config/__tests__/config.schema.test.ts
  native-yield-operations/automation-service/src/application/main/config/__tests__/config.test.ts
  native-yield-operations/automation-service/src/application/main/config/__tests__/loadConfigFromEnv.test.ts
  native-yield-operations/automation-service/src/application/main/config/config.schema.ts
  native-yield-operations/automation-service/src/application/main/config/config.ts
  native-yield-operations/automation-service/src/services/operation-mode-processors/YieldReportingProcessor.ts
  native-yield-operations/automation-service/src/services/operation-mode-processors/__tests__/YieldReportingProcessor.test.ts
Due: none

add addL2YieldRecipient
  contracts/hardhat.config.ts
  contracts/scripts/operational/addL2YieldRecipient.ts
Due: hardhat

fix: rename mimcCodeHash field to snarkCodeHash
  contracts/src/libraries/SparseMerkleProof.sol
  contracts/test/hardhat/libraries/SparseMerkleProof.ts
Due: hardhat

v1 for unstakePermissionlessV2
  contracts/scripts/operational/unstakePermissionlessV2.ts
Due: hardhat

fix: update shomei config
  docker/compose-spec-l2-services.yml
Due: none

toy debugging
  prover/circuits/pi-interconnection/keccak/snark.go
  prover/maths/field/gnarkfext/e4_gen.go
  prover/maths/zk/mixed_api.go
  prover/protocol/column/verifiercol/from_alleged_ys.go
  prover/protocol/compiler/recursion/circuit.go
  prover/protocol/distributed/distribute.go
  prover/protocol/distributed/distribute_test.go
  prover/protocol/distributed/segment_compilation.go
  prover/protocol/query/gnark_params.go
  prover/protocol/serialization/implementation_registry.go
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector.go
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector_hashing_test.go
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector_test.go
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector_vectors.go
  prover/zkevm/prover/publicInput/execution_data_collector/mimc_hasher.go
  prover/zkevm/prover/publicInput/execution_data_collector/poseidon2_hasher.go
  prover/zkevm/prover/publicInput/public_input.go
  prover/zkevm/prover/publicInput/public_input_test.go
  prover/zkevm/prover/publicInput/stub.go
Due: none

add modifier to tokenbridge
  contracts/src/bridging/token/TokenBridgeBase.sol
Due: hardhat

add pending partial withdrawals to unstakePermissionlessV2
  contracts/package.json
  contracts/scripts/operational/unstakePermissionlessV2.ts
  pnpm-lock.yaml
Due: hardhat

add additional space for the dynamic chain config
  contracts/src/rollup/LineaRollupBase.sol
Due: hardhat

missing linting fixes
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
Due: hardhat

successful run of unstakePermissionlessV2
  contracts/hardhat.config.ts
  contracts/scripts/operational/unstakePermissionlessV2.ts
Due: hardhat

Reduce the plugin max selection time to adapt to the faster line counting
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/LineaPluginTestBase.kt
Due: none

emit version v7.1 on reinitializing
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/LineaRollupBase.sol
  contracts/test/hardhat/rollup/LineaRollup.ts
Due: hardhat

changes for the coordinator and make scripts
  .husky/pre-commit
  Makefile
  contracts/abi/LineaRollupV7.1.abi
  contracts/local-deployments-artifacts/deployPlonkVerifierAndLineaRollupV7_1.ts
  contracts/local-deployments-artifacts/dynamic-artifacts/LineaRollupV7.1.json
  makefile-contracts.mk
Due: hardhat

minor
  prover/backend/aggregation/craft.go
  prover/circuits/internal/utils.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/cmd.go
  prover/public-input/invalidity.go
Due: none

sequencer at improv test assertions
  besu-plugins/linea-sequencer/acceptance-tests/src/main/kotlin/linea/plugin/acc/test/utils/Web3jExtensions.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/SendBundleRequestResponse.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/BundleSelectionTimeoutTest.kt
Due: none

revert commit of #
  .husky/pre-commit
Due: none

sequencer plugin: depend on local tracer (#2014)
  .github/workflows/linea-sequencer-plugin-testing.yml
  besu-plugins/linea-sequencer/acceptance-tests/build.gradle
  besu-plugins/linea-sequencer/acceptance-tests/src/main/kotlin/linea/plugin/acc/test/utils/Web3jExtensions.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/LineaPluginTestBase.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/SendBundleRequestResponse.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/BundleSelectionTimeoutTest.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/EstimateGasTest.kt
  besu-plugins/linea-sequencer/sequencer/build.gradle
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/SimulationValidatorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactoryTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/TraceLineLimitCacheIntegrationTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/TraceLineLimitTransactionSelectorTest.java
Due: none

[Coordinator] Web3j to EthApiMigration 7/N (#2018)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
Due: kotlin

slight gas tweak
  contracts/src/libraries/Poseidon2.sol
Due: hardhat
