Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

commit before try double inherit interface
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/yield/LineaNativeYieldAdaptor.sol
  contracts/src/yield/interfaces/ILineaNativeYieldExtension.sol
Due: hardhat

Revert "commit before try double inherit interface"
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/yield/LineaNativeYieldAdaptor.sol
  contracts/src/yield/interfaces/ILineaNativeYieldExtension.sol
Due: hardhat

Backports/linea sequencer v3.1 rc6.3 time limited bundle selection (#1465)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/BundleSelectionTimeoutTest.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactory.java
  gradle/libs.versions.toml
Due: none

file rename
  contracts/src/yield/LineaNativeYieldExtension.sol
Due: hardhat

commit before double interface inherit
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/yield/LineaNativeYieldExtension.sol
  contracts/src/yield/interfaces/ILineaNativeYieldExtension.sol
Due: hardhat

Updating Besu and Sequencer plugin
  linea-besu-package/versions.env
Due: none

v1 done for ILineaNativeYieldExtension impl
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/yield/LineaNativeYieldExtension.sol
  contracts/src/yield/interfaces/ILineaNativeYieldExtension.sol
Due: hardhat

create _hashMessageWithEmptyCalldata function
  contracts/src/messaging/libraries/MessageHashing.sol
  contracts/src/rollup/LineaRollupBase.sol
Due: hardhat

init dist. Bootstrapper
  prover/backend/execution/limitless/distributed/bootstrap.go
Due: none

write metadata file atomically after bootstrap
  prover/backend/execution/limitless/distributed/bootstrap.go
  prover/backend/files/files.go
Due: none

add IYieldProvider
  contracts/src/yield/YieldManager.sol
  contracts/src/yield/interfaces/ILineaNativeYieldExtension.sol
  contracts/src/yield/interfaces/IYieldProvider.sol
Due: hardhat

did first delegatecall
  contracts/src/yield/YieldManager.sol
  contracts/src/yield/interfaces/IYieldManager.sol
Due: hardhat

changed stream hash to rolling hash
  contracts/test/hardhat/_testData/compressedData/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-82-153.json
  contracts/test/hardhat/_testData/compressedData/test/aggregatedProof-1-46.json
  contracts/test/hardhat/_testData/compressedDataEip4844/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-82-153.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/forcedTransaction-0.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/forcedTransaction-1.json
  contracts/test/hardhat/_testData/compressedDataEip4844/test/aggregatedProof-1-46.json
  prover/backend/aggregation/craft.go
  prover/backend/aggregation/prove.go
  prover/backend/aggregation/request.go
  prover/backend/aggregation/response.go
  prover/backend/invalidity/craft.go
  prover/backend/invalidity/request.go
  prover/circuits/aggregation/circuit_test.go
  prover/circuits/invalidity/invalidity.go
  prover/circuits/invalidity/pi.go
  prover/circuits/pi-interconnection/circuit.go
  prover/circuits/pi-interconnection/e2e_test.go
  prover/circuits/pi-interconnection/test_utils/test_utils.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/cmd.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/random_gen.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-agg-2.json
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-agg.json
  prover/public-input/aggregation.go
  prover/public-input/invalidity.go
Due: hardhat

added transaction hash to the test data
  contracts/test/hardhat/_testData/compressedData/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-82-153.json
  contracts/test/hardhat/_testData/compressedData/test/aggregatedProof-1-46.json
  contracts/test/hardhat/_testData/compressedDataEip4844/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-82-139.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-82-153.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/blocks-111-139.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/blocks-120-153.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/blocks-82-110.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/blocks-82-119.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/forcedTransaction-0.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/forcedTransaction-1.json
  contracts/test/hardhat/_testData/compressedDataEip4844/test/aggregatedProof-1-46.json
  prover/backend/invalidity/prove.go
  prover/backend/invalidity/response.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/random_gen.go
Due: hardhat

rename fns in distributed.Bootstrap.go
  prover/backend/execution/limitless/distributed/bootstrap.go
Due: none

changed prevStreamHash to PrevFtxRollingHash.
  prover/circuits/invalidity/invalidity.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/cmd.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/invalidity_test.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/random_gen.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-invalidity-1.json
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-invalidity-2.json
Due: none

add cmd for bootstrapper
  prover/cmd/prover/cmd/prove.go
  prover/cmd/prover/main.go
Due: none

Chore: set arithmetization="beta-v4.0-rc8-CANCUN"
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits_sendRawTx.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/noModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/strictModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/txOverflowModuleLimits.toml
  besu-plugins/linea-sequencer/sequencer/src/test/resources/sequencer/line-limits.toml
  gradle/libs.versions.toml
Due: none

ctx cancl err
  prover/backend/execution/limitless/distributed/bootstrap.go
Due: none

remove all errors
  prover/protocol/compiler/recursion/actions.go
  prover/protocol/compiler/recursion/circuit.go
  prover/protocol/compiler/recursion/recursion.go
  prover/protocol/compiler/selfrecursion/column_opening.go
  prover/protocol/compiler/selfrecursion/lincomb_phase.go
  prover/protocol/compiler/selfrecursion/roothashandq.go
  prover/protocol/compiler/selfrecursion/selfrecursion_optional_sis_hash_test.go
  prover/protocol/serialization/implementation_registry.go
Due: none

fix merge errors
  prover/Makefile
  prover/go.mod
  prover/go.sum
  prover/maths/field/utils.go
  prover/protocol/dedicated/bits/bitdecompose.go
  prover/protocol/dedicated/byte32cmp/multi_limb_cmp.go
  prover/protocol/serialization/custom.go
  prover/utils/csvtraces/csvtraces.go
  prover/zkevm/prover/hash/keccak/keccakf/utils.go
Due: none

fix test errors
  prover/Makefile
  prover/go.mod
  prover/go.sum
  prover/protocol/dedicated/bits/bitdecompose.go
Due: none

further cleanup, add plonk in makefile for test
  prover/Makefile
  prover/protocol/compiler/selfrecursion/selfrecursion_optional_sis_hash_test.go
Due: none

feat: use prefix product in parallel and ensure intoRegSaveAlloc doesn't copy
  prover/go.mod
  prover/go.sum
  prover/maths/common/smartvectors/regular_ext.go
  prover/protocol/compiler/permutation/prover.go
Due: none

feat: made the constraint oriented changes
  prover/protocol/compiler/stitchsplit/common.go
  prover/protocol/compiler/stitchsplit/splitter.go
  prover/protocol/compiler/stitchsplit/splitter_constraints.go
  prover/protocol/compiler/stitchsplit/stitcher.go
  prover/protocol/compiler/stitchsplit/stitcher_constraints.go
  prover/protocol/compiler/stitchsplit/stitcher_test.go
Due: none

did erc7201 namespace
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/interfaces/ILineaRollup.sol
  contracts/src/yield/LineaNativeYieldExtension.sol
Due: hardhat

added pause on reportyield
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/yield/LineaNativeYieldExtension.sol
Due: hardhat

add pausing
  contracts/src/security/pausing/LineaRollupPauseManager.sol
  contracts/src/security/pausing/interfaces/IPauseManager.sol
  contracts/src/yield/LineaNativeYieldExtension.sol
Due: hardhat

add YieldManagerPauseManager
  contracts/src/security/pausing/YieldManagerPauseManager.sol
  contracts/src/yield/YieldManager.sol
Due: hardhat

fix(stitcher): debug wip
  prover/protocol/compiler/stitchsplit/stitcher_constraints.go
  prover/protocol/compiler/stitchsplit/stitcher_test.go
Due: none

business logic for yieldmanager
  contracts/src/yield/YieldManager.sol
  contracts/src/yield/interfaces/IYieldManager.sol
Due: hardhat

fix(stitcher): bug fixed
  prover/protocol/compiler/stitchsplit/stitcher_constraints.go
Due: none

fix(stitcher): bug fix concluded
  prover/protocol/compiler/stitchsplit/stitcher_constraints.go
Due: none

fix: code cleanup
  prover/protocol/compiler/stitchsplit/common.go
  prover/protocol/compiler/stitchsplit/splitter_constraints.go
  prover/protocol/compiler/stitchsplit/stitcher_constraints.go
Due: none

fix: gofmt
  prover/protocol/compiler/stitchsplit/splitter.go
Due: none

Chore: set arithmetization="beta-v4.0-rc8-CANCUN" (#1467)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits_sendRawTx.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/noModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/strictModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/txOverflowModuleLimits.toml
  besu-plugins/linea-sequencer/sequencer/src/test/resources/sequencer/line-limits.toml
  gradle/libs.versions.toml
Due: none

add and remove yield provider
  contracts/src/yield/YieldManager.sol
  contracts/src/yield/interfaces/IYieldManager.sol
  contracts/src/yield/interfaces/IYieldProvider.sol
Due: hardhat

feat: revert to enforce strict rules on traces modules
  config/common/traces-limits-v2.toml
  coordinator/clients/traces-generator-api-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/TracesClientResponsesParser.kt
  coordinator/clients/traces-generator-api-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV2Test.kt
  jvm-libs/linea/core/traces/src/main/kotlin/net/consensys/linea/traces/TracesCounters.kt
  jvm-libs/linea/core/traces/src/main/kotlin/net/consensys/linea/traces/TracingModule.kt
  jvm-libs/linea/core/traces/src/test/kotlin/net/consensys/linea/traces/TracesCountersTest.kt
Due: kotlin

feat: update besu and plugin versions
  linea-besu-package/versions.env
Due: none
