Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

refactor: remove eip4844Enabled
  prover/backend/blobdecompression/prove.go
  prover/circuits/blobdecompression/circuit.go
  prover/circuits/blobdecompression/public-input/pi.go
  prover/circuits/blobdecompression/public-input/pi_test.go
  prover/circuits/blobdecompression/v0/assign_test.go
  prover/circuits/blobdecompression/v1/assign_test.go
  prover/circuits/blobdecompression/v1/circuit.go
  prover/circuits/blobdecompression/v1/snark.go
  prover/circuits/pi-interconnection/assign.go
Due: none

chore: delete arg again
  prover/circuits/blobdecompression/circuit.go
Due: none

fix: remove flag from test
  prover/circuits/blobdecompression/v1/circuit_test.go
Due: none

feat: improve blob size maximizer interface
  prover/circuits/blobdecompression/large-tests/maximize_blob_size/main.go
Due: none

refactor: make eip-4844 mandatory in backend
  prover/backend/blobsubmission/craft.go
  prover/backend/blobsubmission/craft_eip4844.go
  prover/backend/blobsubmission/craft_test.go
Due: none

Low gas stipend precompile calls (#1754)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/container/stacked/ModuleOperationStackedList.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/oob/OobOperation.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/instructionprocessing/callTests/Utilities.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/precompiles/LowGasStipendPrecompileCallTests.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/precompiles/PrecompileUtils.java
Due: none

fixup: bug fix wip
  prover/protocol/compiler/distributedprojection/verifier.go
  prover/protocol/distributed/compiler/projection/projection.go
Due: none

implemented feature flag for prague local stack (#715)
  docker/compose-spec-l1-services.yml
  docker/config/l1-node/cl/config.yaml
  docker/config/l1-node/el/config.toml
  docker/config/l1-node/generate-genesis.sh
Due: none

fixup : mislaneous bug fixes
  prover/protocol/compiler/distributedprojection/compiler.go
  prover/protocol/compiler/distributedprojection/prover.go
  prover/protocol/compiler/distributedprojection/verifier.go
  prover/protocol/distributed/compiler/projection/projection.go
  prover/protocol/distributed/compiler/projection/projection_test.go
Due: none

Simplify and optimize bundle and pending tx relation plus improve bundle gas limit check (#148)
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaTransactionSelectorCliOptions.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/methods/LineaSendBundle.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/services/BundlePoolService.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/services/LineaLimitedBundlePool.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectionResult.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/BundleConstraintTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/LineaSendBundleTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/LineaTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/MaxBundleGasPerBlockTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/rpc/methods/LineaSendBundleTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/rpc/services/LineaLimitedBundlePoolTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactoryTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/BundleConstraintTransactionSelectorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/MaxBundleBlockGasTransactionSelectorTest.java
Due: none

refactor(RewardsStreamerMP): move `totalMpStaked` to avoid collision
  src/RewardsStreamerMP.sol
Due: none

Fix: skip bridge UI e2e test and docker build for forked PR (#712)
  .github/workflows/bridge-ui-e2e-tests.yml
  .github/workflows/bridge-ui-publish.yml
Due: none

change
  .github/workflows/bridge-ui-publish.yml
Due: none

fix: build issue
  bridge-ui/src/components/bridge/BridgeExternal.tsx
  bridge-ui/src/components/bridge/BridgeLayout.tsx
  pnpm-lock.yaml
Due: none

did pausemanager + ipausemanager
  contracts/src/security/pausing/PauseManager.sol
  contracts/src/security/pausing/interfaces/IPauseManager.sol
Due: hardhat

fix: update bridge ui e2e tests paths filters + remove unecessary actions in workflow
  .github/workflows/bridge-ui-e2e-tests.yml
  .github/workflows/bridge-ui-publish.yml
Due: none

added security_council onlyrole to updatepausetyperole
  contracts/src/security/pausing/PauseManager.sol
  contracts/test/hardhat/common/constants/roles.ts
Due: hardhat

fix: update bridge ui e2e tests paths filters + remove unecessary actions in workflow (#717)
  .github/workflows/bridge-ui-e2e-tests.yml
  .github/workflows/bridge-ui-publish.yml
Due: none

refactor(IStakeManager): move error codes to interface and remove unused ones
  .gas-report
  .gas-snapshot
  src/RewardsStreamerMP.sol
  src/interfaces/IStakeManager.sol
  test/RewardsStreamerMP.t.sol
Due: none

changes to pausemanager
  contracts/src/security/pausing/PauseManager.sol
  contracts/src/security/pausing/interfaces/IPauseManager.sol
  contracts/test/hardhat/common/constants/roles.ts
Due: hardhat

add space
  contracts/src/security/pausing/PauseManager.sol
Due: hardhat

refactor(IStakeManager): introduce events
  .gas-report
  .gas-snapshot
  src/RewardsStreamerMP.sol
  src/interfaces/IStakeManager.sol
Due: none

fixup: bug fix wip
  prover/protocol/compiler/distributedprojection/compiler.go
  prover/protocol/compiler/distributedprojection/verifier.go
  prover/protocol/distributed/compiler/projection/projection.go
  prover/protocol/query/distributed_projection.go
  prover/protocol/wizard/prover.go
Due: none

working pausemanager tests
  contracts/test/hardhat/common/constants/pauseTypes.ts
  contracts/test/hardhat/security/PauseManager.ts
Due: hardhat

release beta-v2.0-rc1: updated `gradle.properties` + `CHANGELOG` (#1840)
  tracer/CHANGELOG.md
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/limits/precompiles/RipemdBlocks.java
  tracer/gradle.properties
Due: none

Extensive `OOGX` tests involving memory expansion + gas estimation tool `BytecodeRunner.runOnlyForGasCost` + `MSIZE` (#1783) (#1783)
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/exceptions/ExceptionUtils.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/exceptions/OutOfGasExceptionTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/exceptions/OutOfGasMemExpExceptionTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/mmu/MemoryTests.java
  tracer/docs/Local-test-coverage.md
  tracer/testing/src/main/java/net/consensys/linea/testing/BytecodeRunner.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ExecutionEnvironment.java
  tracer/testing/src/main/java/net/consensys/linea/testing/GeneralStateReferenceTestTools.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyExecutionEnvironmentV2.java
Due: none

chore: improve package consistency jvm lib
  coordinator/ethereum/gas-pricing/static-cap/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/coordination/dynamicgasprice/MinMineableFeesPricerServiceIntegrationTest.kt
  coordinator/ethereum/message-anchoring/src/integrationTest/kotlin/net.consensys.zkevm.ethereum.coordination.messageanchoring/L1EventQuerierIntegrationTest.kt
  coordinator/ethereum/message-anchoring/src/integrationTest/kotlin/net.consensys.zkevm.ethereum.coordination.messageanchoring/MessageServiceIntegrationTest.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsPostgresDaoTest.kt
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/blob/BlobsPostgresDaoTest.kt
  transaction-exclusion-api/app/src/integrationTest/kotlin/net/consensys/linea/transactionexclusion/TransactionExclusionAppTest.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDaoTest.kt
Due: kotlin

npx hardhat test working for existing suite
  contracts/src/_testing/unit/messaging/TestL2MessageManager.sol
  contracts/test/hardhat/L1MessageService.ts
  contracts/test/hardhat/messaging/l2/L2MessageManager.ts
Due: hardhat

test for multiple global
  prover/protocol/distributed/compiler/global/global.go
  prover/protocol/distributed/compiler/global/global_test.go
  prover/protocol/distributed/compiler/global/prover.go
  prover/protocol/distributed/conglomeration/conglomeration.go
  prover/protocol/distributed/conglomeration/conglomeration_test.go
  prover/protocol/distributed/conglomeration/cross_segment_consistency.go
  prover/protocol/distributed/constants/constant.go
Due: none

debug wip
  prover/protocol/distributed/compiler/projection/projection_test.go
  prover/protocol/query/distributed_projection.go
Due: none

tests are passing
  prover/protocol/distributed/compiler/global/global.go
  prover/protocol/distributed/constants/constant.go
  prover/protocol/distributed/namebaseddiscoverer/query_based_module_discoverer.go
  prover/protocol/distributed/segment_comp.go/segcomp.go
Due: none

chore: fix docker config
  docker/compose-spec-l2-services.yml
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
