Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

Trying to update jreleaser to the latest version
  gradle/libs.versions.toml
Due: none

refactor(exit): use exit.OnTooManySegments instead of raw os.Exit
  prover/backend/execution/limitless/prove.go
  prover/utils/exit/exit.go
Due: none

feat(limitless): defer to full-large when GL segments exceed 100
  prover/backend/execution/limitless/prove.go
  prover/cmd/controller/controller/executor.go
  prover/config/config_default.go
Due: none

use prover v6.1.7 config
  prover/config/config-mainnet-limitless.toml
Due: none

Bouncycastle update
  gradle/libs.versions.toml
Due: none

feat: kotlin side
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/GoNativeBlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorTest.kt
Due: kotlin

docs
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/GoNativeBlobCompressor.kt
Due: kotlin

Bouncycastle force for the buildscript
  gradle/libs.versions.toml
  jvm-libs/build.gradle
Due: kotlin

Trying to fix bouncycastle again
  gradle/publishing.gradle
  jvm-libs/build.gradle
Due: kotlin

chore: update referenceExecutionSpecBlockchainTests task for Gradle 9 compatibility
  tracer/reference-tests/build.gradle
Due: none

(chore): set fullProverSegmentsThreshold to 180 (empirical)
  prover/backend/execution/limitless/prove.go
Due: none

Trying to fix bouncycastle again
  .github/workflows/maven-release-all.yml
  .github/workflows/maven-release.yml
  buildSrc/build.gradle
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  jvm-libs/build.gradle
Due: kotlin

chore(global): bump NodeJS and pnpm (#2667)
  .nvmrc
  AGENTS.md
  CONTRIBUTING.md
  bridge-ui/README.md
  contracts/package.json
  docs/get-started.md
  docs/local-development-guide.md
  docs/tech/components/README.md
  operations/package.json
  package.json
Due: hardhat

Trying to fix bouncycastle again
  .github/workflows/maven-release.yml
Due: none

fix: change log level for viem provider
  postman/src/infrastructure/blockchain/viem/providers/ViemProvider.ts
  postman/src/infrastructure/blockchain/viem/providers/__tests__/ViemProvider.test.ts
Due: none

test v4
  jvm-libs/linea/blob-compressor/build.gradle
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorLegacyTest.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorTest.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/net/consensys/linea/blob/GoNativeCompressorAndShnarfCalculatorIntTest.kt
  prover/lib/compressor/libcompressor/libcompressor.h
Due: kotlin

chore: improve GitHub Actions tracer workflow for better branch handling and add artifact retention
  .github/workflows/reusable-tracer-blockchain-tests.yml
Due: none

fix: update key hashing in sparse merkle proof contract (#2472)
  contracts/src/libraries/SparseMerkleProof.sol
  contracts/test/hardhat/_testData/account-key-test-vectors.json
  contracts/test/hardhat/libraries/SparseMerkleProof.ts
Due: hardhat

chore: disable submodule checkout in GitHub Actions workflows for simplification
  .github/workflows/coordinator-testing.yml
  .github/workflows/reusable-tracer-nightly-tests.yml
  .github/workflows/reusable-tracer-weekly-prc-tests.yml
  .github/workflows/reusable-tracer-weekly-tests.yml
  .github/workflows/testing.yml
  .github/workflows/tracer-gradle-nightly-tests.yml
  .github/workflows/tracer-gradle-weekly-tests.yml
Due: none

fix: Init error handling
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/GoNativeBlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorTest.kt
  prover/lib/compressor/libcompressor/libcompressor.go
Due: kotlin

build: regen c header
  prover/lib/compressor/libcompressor/libcompressor.h
Due: none

chore: remove deprecated compiler arguments and update JSON parser to use strictness configuration
  build.gradle
  testing-tools/app/src/main/java/net/consensys/zkevm/load/model/JSON.java
Due: none

chore: remove artifact retention configurations from tracer blockchain tests workflow
  .github/workflows/reusable-tracer-blockchain-tests.yml
Due: none

fix: cursor feedback
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/GoNativeBlobCompressor.kt
Due: kotlin

fix: feedback
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorTest.kt
Due: kotlin

[Coordinator] Dynamic aggregation target end block numbers based on conflation hard fork
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/HardForkAggregationTargetEndBlocks.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculator.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/HardForkAggregationTargetEndBlocksTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculatorTest.kt
Due: kotlin

Trying a workaround for JGit gat
  .github/workflows/maven-release.yml
  gradle/publishing.gradle
Due: none

fix(ci): run load test with Java 21
  .github/workflows/load-test.yml
Due: none

fix(testing-tools): redact wallet secrets from reports
  testing-tools/app/src/main/kotlin/net/consensys/zkevm/load/model/Wallet.kt
  testing-tools/app/src/test/kotlin/swagger/TestJson.kt
Due: none

fix(testing-tools): validate deploy request gas limits
  testing-tools/app/src/main/kotlin/net/consensys/zkevm/load/model/inner/Request.kt
  testing-tools/app/src/main/resources/sepolia/load-test.json
  testing-tools/app/src/test/kotlin/net/consensys/zkevm/load/model/inner/RequestTest.kt
  testing-tools/app/src/test/kotlin/swagger/TestJson.kt
Due: none

fix(testing-tools): align deploy fixtures with gas limits
  testing-tools/app/src/main/kotlin/net/consensys/zkevm/load/model/Wallet.kt
  testing-tools/app/src/main/resources/devnet/deploy-contract.json
  testing-tools/app/src/main/resources/local/deploy-contract.json
  testing-tools/app/src/main/resources/local/load-test.json
  testing-tools/app/src/test/kotlin/net/consensys/zkevm/load/model/inner/RequestTest.kt
Due: none

feat: support delegation revocation in sendSelfSponsoredType4Tx
  contracts/scripts/testEIP7702/sendSelfSponsoredType4Tx.ts
Due: hardhat

[Coordinator] Poll multiple execution proof response per tick
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ProofGeneratingConflationHandlerImpl.kt
Due: kotlin

fix: resync load test source nonce before estimation
  testing-tools/app/src/main/kotlin/net/consensys/zkevm/load/TestExecutor.kt
  testing-tools/app/src/test/kotlin/net/consensys/zkevm/load/TestExecutorTest.kt
Due: none

fix: address cursor feedback in contracts/scripts/testEIP7702/sendSelfSponsoredType4Tx.ts
  contracts/scripts/testEIP7702/sendSelfSponsoredType4Tx.ts
Due: hardhat

fix: restore besu version catalog entry
  gradle/libs.versions.toml
Due: none

add unit tests for the hot fix
  prover/zkevm/prover/hash/sha2/assignment_test.go
Due: none

update prover image tag (sepolia hotfix) and config
  .github/workflows/linea-besu-package-e2e-tests-with-partial-prover.yml
  docker/config/prover/v3/prover-config-partial.toml
  docker/config/prover/v3/prover-config.toml
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
