Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

(fix): set process group when controller launches child process
  prover/cmd/controller/controller/executor.go
Due: none

style: cosmetics
  prover/cmd/prover/cmd/prove.go
  prover/crypto/state-management/smt/tree.go
  prover/maths/common/smartvectors/rotated.go
  prover/maths/field/bls12_377.go
  prover/protocol/compiler/globalcs/evaluation.go
  prover/protocol/compiler/mpts/prover.go
  prover/symbolic/evaluation.go
Due: none

(fix): make executor track all child process - direct & indirect
  prover/cmd/controller/controller/executor.go
Due: none

Linea Besu Package update (#1582)
  linea-besu-package/versions.env
Due: none

log for active job
  prover/cmd/controller/controller/controller.go
Due: none

fix comments on runCmd executor
  prover/cmd/controller/controller/executor.go
Due: none

commit config file
  prover/config/config-mainnet-limitless.toml
Due: none

fix: target selector for blockhash lookup (#805)
  hub/cancun/columns/shared.lisp
  hub/cancun/lookups/hub_into_block_hash.lisp
  hub/london/lookups/hub_into_block_hash.lisp
  hub/osaka/columns/shared.lisp
  hub/osaka/lookups/hub_into_block_hash.lisp
  hub/prague/columns/shared.lisp
  hub/prague/lookups/hub_into_block_hash.lisp
  hub/shanghai/lookups/hub_into_block_hash.lisp
Due: none

fix: Sum compute the hash of msg, add description
  prover/crypto/fiatshamir/fiatshamir.go
  prover/crypto/state-management/hashtypes/fieldhasher.go
Due: none

code rearrange on web3j EthApi implementation
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/GethCliqueSafeBlockProvider.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/Block.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ExtendedWeb3J.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/mappers/EthGetBlockToLineaBlockMappers.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/mappers/TransactionMapper.kt
  jvm-libs/linea/web3j-extensions/src/test/kotlin/linea/web3j/mappers/EthGetBlockToLineaBlockMapperTest.kt
  transaction-decoder-tool/src/test/kotlin/linea/test/BlocksFetcher.kt
Due: kotlin

draft EthApiClient
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/EthApiClient.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/EthLogsClient.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/LineaApiClient.kt
  jvm-libs/linea/clients/interfaces/src/testFixtures/kotlin/linea/ethapi/FakeEthApiClient.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/TransactionForEthCall.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/TransactionReceipt.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClientWithRetries.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/mappers/TransactionForEthCallMapper.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/mappers/TransactionReceiptMapper.kt
Due: kotlin

draft EthApiClient
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/EthApiClient.kt
Due: kotlin

draft EthApiClient
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/EthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClient.kt
Due: kotlin

draft EthApiClient - remove unused methods
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/EthApiClient.kt
Due: kotlin

draft EthApiClient - remove unused methods
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/EthApiClient.kt
  jvm-libs/linea/clients/interfaces/src/testFixtures/kotlin/linea/ethapi/FakeEthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClientWithRetries.kt
Due: kotlin

all tests case pass
  prover/cmd/controller/controller/executor.go
Due: none

fix: permissions to write on manual release (#2436)
  tracer/.github/workflows/manual-release.yml
Due: none

feat: run units and replay in // of jar building for releases (#2437)
  tracer/.github/workflows/manual-release.yml
Due: none

added nil check to cmd.Process
  prover/cmd/controller/controller/controller_test.go
  prover/cmd/controller/controller/executor.go
Due: none

fic toctou race in process kill logic
  prover/cmd/controller/controller/executor.go
Due: none

sigetrm before sigkill inside executor during process kill
  prover/cmd/controller/controller/controller.go
  prover/cmd/controller/controller/executor.go
Due: none

sending sigterm before sigkill when ctx done
  prover/cmd/controller/controller/executor.go
  prover/config/config-mainnet-limitless.toml
Due: none

Return failed future if factory is not available
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorPlugin.java
Due: none

Return failed future if exception is thrown
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/services/LineaBundleEndpointsPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorPlugin.java
Due: none

remedied integration test situation
  contracts/test/hardhat/yield/helpers/setup.ts
  contracts/test/hardhat/yield/integration/YieldManager.integration.ts
Due: hardhat

fix: panics when the number of public inputs is a bad match
  prover/protocol/internal/plonkinternal/context.go
  prover/protocol/internal/plonkinternal/prover_commit.go
  prover/protocol/internal/plonkinternal/prover_nocommit.go
Due: none

feat(mset): sets the right parameters for mset hash to 128 bits of security
  prover/crypto/mimc/msethash.go
Due: none

feat: makes the MSetHash use the external hash for performances
  prover/crypto/mimc/msethash.go
  prover/protocol/distributed/conglomeration_hierarchical.go
  prover/protocol/distributed/module_gl.go
  prover/protocol/distributed/module_lpp.go
Due: none

limitless: separate the ECPAIR into its own module
  prover/zkevm/limitless.go
Due: none

clean: remove the eval costs that was not retained
  prover/protocol/compiler/globalcs/merging.go
Due: none

perf(mpts): optimize out the RepeatedCol accessors for mpts
  prover/protocol/compiler/mpts/verifier.go
Due: none

test; use the zkevm advices for the discovery test
  prover/protocol/distributed/module_discovery_test.go
Due: none

test: use the zkevm advices for the serialization test
  prover/protocol/serialization/distributed_wizard_test.go
Due: none

test: better naming for the module serialization
  prover/protocol/serialization/distributed_wizard_test.go
Due: none

perf: compilation parameters targetting 2**18 constraints
  prover/protocol/distributed/segment_compilation.go
Due: none

cleanup: remove RandChooseWeighted
  prover/utils/utils.go
  prover/utils/utils_test.go
Due: none

rm coupling between userFunds and lstLiabilityPrincipal state mutation
  contracts/src/yield/LidoStVaultYieldProvider.sol
  contracts/src/yield/YieldManager.sol
  contracts/src/yield/YieldManagerStorageLayout.sol
  contracts/test/hardhat/yield/helpers/setup.ts
  contracts/test/hardhat/yield/integration/YieldManager.integration.ts
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProvider.yield.ts
  contracts/test/hardhat/yield/unit/YieldManager.funds.ts
Due: hardhat

chore(bridge-ui): revert minimumReleaseAge exclusions
  pnpm-workspace.yaml
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
