Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

some more operations
  prover/maths/common/smartvectors_mixed/arithmetic_basic.go
  prover/maths/common/smartvectors_mixed/arithmetic_gen.go
  prover/maths/common/smartvectors_mixed/arithmetic_op.go
  prover/maths/common/smartvectors_mixed/vecutil.go
  prover/symbolic/evaluation_ext.go
Due: none

refactors
  contracts/test/hardhat/common/constants/time.ts
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
  contracts/test/hardhat/rollup/helpers/forced-transaction.ts
Due: hardhat

fix: refator metrics
  postman/src/application/postman/api/metrics/MessageMetricsService.ts
  postman/src/application/postman/api/metrics/MetricsService.ts
  postman/src/application/postman/api/metrics/__tests__/MessageMetricsService.test.ts
  postman/src/application/postman/api/metrics/__tests__/MetricsService.test.ts
  postman/src/application/postman/persistence/subscribers/MessageStatusSubscriber.ts
  postman/src/core/metrics/IMetricsService.ts
  postman/src/services/persistence/LineaMessageDBService.ts
Due: none

fix: naming of the besu-plugins folder
  .github/workflows/github-release-besu-plugin.yml
Due: none

fix: update typeorm query
  postman/src/application/postman/app/PostmanServiceClient.ts
  postman/src/application/postman/persistence/repositories/TypeOrmMessageRepository.ts
  postman/src/core/persistence/IMessageRepository.ts
  postman/src/services/persistence/LineaMessageDBService.ts
Due: none

fix: update postman docker config
  docker/compose-spec-l2-services.yml
  docker/config/postman/env
  postman/.env.sample
Due: none

fix: update token list order + add Linea as default lifi destination chain (#872)
  bridge-ui/src/components/lifi/widget/index.tsx
  bridge-ui/src/constants/tokens.ts
  bridge-ui/src/services/tokenService.ts
Due: none

refactored smartvectors
  prover/maths/common/smartvectors/arithmetic_basic_ext.go
  prover/maths/common/smartvectors/arithmetic_basic_ext_test.go
  prover/maths/common/smartvectors/arithmetic_basic_test.go
  prover/maths/common/smartvectors/arithmetic_gen_ext.go
  prover/maths/common/smartvectors/arithmetic_op_ext.go
  prover/maths/common/smartvectors/arithmetic_test_ext.go
  prover/maths/common/smartvectors/constant_ext.go
  prover/maths/common/smartvectors/fft_ext.go
  prover/maths/common/smartvectors/fft_ext_test.go
  prover/maths/common/smartvectors/fuzzing_ext.go
  prover/maths/common/smartvectors/padding_parameters_ext.go
  prover/maths/common/smartvectors/polynomial_ext.go
  prover/maths/common/smartvectors/polynomial_ext_test.go
  prover/maths/common/smartvectors/polynomial_test.go
  prover/maths/common/smartvectors/regular_ext.go
  prover/maths/common/smartvectors/rotated_ext.go
  prover/maths/common/smartvectors/rotated_ext_test.go
  prover/maths/common/smartvectors/smartvector_ext_test.go
  prover/maths/common/smartvectors/smartvectors.go
  prover/maths/common/smartvectors/smartvectors_op_ext.go
  prover/maths/common/smartvectors/vecutil.go
  prover/maths/common/smartvectors/windowed_ext.go
  prover/maths/common/smartvectors/windowed_ext_test.go
  prover/maths/common/smartvectors_mixed/arithmetic_basic.go
  prover/maths/common/smartvectors_mixed/arithmetic_gen.go
  prover/maths/common/smartvectorsext/padding_parameters.go
  prover/maths/common/smartvectorsext/smartvectors_op.go
  prover/maths/common/smartvectorsext/vecutil.go
  prover/protocol/wizard/gnark_verifier.go
  prover/symbolic/evaluation_board.go
  prover/symbolic/evaluation_ext.go
  prover/symbolic/expression.go
  prover/symbolic/lincomb.go
  prover/symbolic/polyeval.go
  prover/symbolic/product.go
Due: none

feat(conglo): implements the prover and the compilation for the conglomerator
  prover/protocol/distributed/conglomeration.go
  prover/protocol/distributed/segment_compilation.go
Due: none

test(conglo): implements a tests for the conglomerator
  prover/protocol/distributed/conglomeration_test.go
Due: none

fix: remove .only in tests
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
Due: hardhat

minor edit
  contracts/deploy/01_deploy_PlonkVerifier.ts
Due: hardhat

did boilerplate for migration test
  contracts/test/hardhat/common/constants/time.ts
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
  contracts/test/hardhat/rollup/helpers/deploy.ts
Due: hardhat

new
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
Due: hardhat

move betav1 test
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
  contracts/test/hardhat/rollup/LineaRollup/Finalization.ts
Due: hardhat

feat: update description for pluginName
  .github/workflows/github-release-besu-plugin.yml
Due: none

perf(gnark): optimize the direct evaluation of the polynomials with a BatchInterpolation circuit
  prover/maths/fft/fastpoly/gnark_interpolation.go
  prover/protocol/compiler/vortex/gnark_verifier.go
Due: none

chores(plonk): adds subscript to identify the profiling assets
  prover/protocol/compiler/recursion/recursion.go
  prover/protocol/distributed/segment_compilation.go
  prover/protocol/internal/plonkinternal/context.go
  prover/protocol/internal/plonkinternal/options.go
Due: none

temporary name change, mixed operators
  prover/maths/common/smartvectors_mixed/arithmetic_basic.go
  prover/maths/common/smartvectors_mixed/arithmetic_gen.go
  prover/maths/common/smartvectors_mixed/arithmetic_op.go
Due: none

minor edits
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
Due: hardhat

feat: comment out unused task in gradle.build
  besu-plugins/finalized-tag-updater/build.gradle
Due: none

add new unit test and fix testverifierindex variable
  contracts/test/hardhat/common/constants/time.ts
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
Due: hardhat

feat: align the same besu version used across all modules
  besu-plugins/finalized-tag-updater/build.gradle
  gradle/libs.versions.toml
  jvm-libs/linea/besu-libs/build.gradle
Due: kotlin

feat: removed vertx-helper dependency in message-anchoring module
  coordinator/ethereum/message-anchoring/build.gradle
Due: kotlin

same hashedPayload
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
Due: hardhat

chore: improve first visit modal
  bridge-ui/src/app/buy/page.tsx
  bridge-ui/src/app/layout.tsx
  bridge-ui/src/app/native-bridge/page.tsx
  bridge-ui/src/app/page.tsx
  bridge-ui/src/components/modal/first-time-visit/index.tsx
Due: none

feat: add modal when user first visit
  bridge-ui/public/images/illustration/bridge-first-time-modal-illustration.svg
  bridge-ui/public/images/illustration/buy-first-time-modal-illustration.svg
  bridge-ui/src/app/buy/page.tsx
  bridge-ui/src/app/native-bridge/page.tsx
  bridge-ui/src/app/page.tsx
  bridge-ui/src/assets/logos/linea.svg
  bridge-ui/src/components/modal/first-time-visit/first-time-visit.module.scss
  bridge-ui/src/components/modal/first-time-visit/index.tsx
  bridge-ui/src/components/modal/index.tsx
  bridge-ui/src/components/modal/modal.module.scss
  bridge-ui/src/hooks/useFirstVisitModal.tsx
Due: none

refactor: use zustand to store modal state
  bridge-ui/src/components/modal/first-time-visit/index.tsx
  bridge-ui/src/stores/configStore.ts
Due: none

refactor: improve first visit modal
  bridge-ui/src/app/buy/page.tsx
  bridge-ui/src/app/native-bridge/page.tsx
  bridge-ui/src/app/page.tsx
  bridge-ui/src/components/modal/first-time-visit/index.tsx
  bridge-ui/src/hooks/useFirstVisitModal.tsx
Due: none

successful dynamic forced tx rolling hash
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
  contracts/test/hardhat/rollup/helpers/forced-transaction.ts
Due: hardhat

fix: e2e tests issue bridge ui
  bridge-ui/src/components/modal/first-time-visit/index.tsx
  bridge-ui/test/advancedFixtures.ts
  bridge-ui/test/e2e/bridge-l1-l2.spec.ts
Due: none

fix: close first visit modal twice
  bridge-ui/test/e2e/bridge-l1-l2.spec.ts
Due: none

fix
  bridge-ui/test/advancedFixtures.ts
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
