Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

fix
  bridge-ui/test/advancedFixtures.ts
Due: none

more consistent estimated time text
  bridge-ui/src/components/bridge/claiming/estimated-time/index.tsx
  bridge-ui/src/components/bridge/modal/estimated-time/index.tsx
  bridge-ui/src/components/bridge/transaction-history/list-transaction/item/index.tsx
  bridge-ui/src/utils/index.ts
  bridge-ui/src/utils/message.ts
Due: none

swap enable/visible check ordeR
  bridge-ui/test/advancedFixtures.ts
Due: none

fix: warm of coinbase in case of address collision and exceptionnal tx (#1983)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/LondonHub.java
Due: none

Fix: e2e tests issue bridge ui (#882)
  bridge-ui/src/components/modal/first-time-visit/index.tsx
  bridge-ui/test/advancedFixtures.ts
  bridge-ui/test/e2e/bridge-l1-l2.spec.ts
Due: none

fixup: removing dryThreshHold
  prover/crypto/vortex/commitment.go
  prover/example/test_cases/framework_test.go
  prover/protocol/compiler/recursion/recursion.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/option.go
  prover/zkevm/partial.go
Due: none

coordinator: add extension functions to Kotlin
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/linea/kotlin/ByteArrayExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/linea/kotlin/ULongExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/linea/kotlin/ByteArrayExtensionsTest.kt
Due: kotlin

coordinator: EthLog implements Comparable interface
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/EthLog.kt
  jvm-libs/linea/core/domain-models/src/test/kotlin/linea/domain/EthLogTest.kt
Due: kotlin

chore: fixed empty error message in the `.catch` block
  postman/scripts/runPostman.ts
Due: none

EIP-3855-PUSH0 (#1965)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/Fork.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/ZkTracer.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/StackFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/common/CommonFragmentValues.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/romlex/RomOperation.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/tables/instructionDecoder/InstructionDecoder.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/DataLocation.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/OpCode.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/OpCodeData.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/OpCodes.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/RamSettings.java
  tracer/arithmetization/src/main/resources/londonOpcodes.yml
  tracer/arithmetization/src/main/resources/shanghaiOpcodes.yml
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/hub/signals/ExceptionsTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/rlptxn/RlptxnTests.java
  tracer/testing/src/main/java/net/consensys/linea/testing/BytecodeCompiler.java
  tracer/testing/src/main/java/net/consensys/linea/testing/MultiBlockExecutionEnvironment.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyExecutionEnvironmentV2.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyTransaction.java
Due: none

Update README.md
  prover/lib/compressor/blob/v0/compress/README.md
Due: none

Update README.md
  operations/README.md
Due: none

tmp: conglomeration debugging -> needs changing mpts
  prover/backend/aggregation/craft.go
  prover/config/config-sepolia-full.toml
  prover/crypto/ringsis/params.go
  prover/protocol/column/store.go
  prover/protocol/compiler/recursion/actions.go
  prover/protocol/compiler/recursion/recursion.go
  prover/protocol/compiler/recursion/translator.go
  prover/protocol/compiler/selfrecursion/column_opening.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/names.go
  prover/protocol/compiler/vortex/option.go
  prover/protocol/compiler/vortex/prover.go
  prover/protocol/distributed/conglomeration.go
  prover/protocol/distributed/conglomeration_test.go
  prover/protocol/distributed/distribute_test.go
  prover/protocol/distributed/module_lpp.go
  prover/protocol/distributed/segment_compilation.go
  prover/protocol/internal/plonkinternal/context.go
  prover/protocol/internal/plonkinternal/external_hashchecker.go
  prover/protocol/wizard/gnark_verifier.go
  prover/protocol/wizard/prover.go
  prover/utils/utils.go
Due: none

docs: compressor dictionary update guide
  prover/lib/compressor/dict/update-guide.md
Due: none

fixup: remove commitPrecomputed threshold
  prover/example/test_cases/framework_test.go
  prover/protocol/compiler/recursion/recursion.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/option.go
  prover/zkevm/partial.go
Due: none

fixup: more cleanup on dryThreshold
  prover/protocol/compiler/recursion/recursion.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/option.go
Due: none

jvm-libs: create EthAPi and EthLogs interface carveout eth logs searcher
  besu-plugins/state-recovery/besu-plugin/build.gradle
  besu-plugins/state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/AppConfigurator.kt
  besu-plugins/state-recovery/test-cases/src/e2eTest/kotlin/linea/staterecovery/StateRecoveryE2ETest.kt
  besu-plugins/state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/LineaSubmissionEventsClientIntTest.kt
  besu-plugins/state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/datafetching/SubmissionsFetchingTaskIntTest.kt
  besu-plugins/state-recovery/test-cases/src/test/kotlin/linea/staterecovery/test/LogEventsFetchHelper.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/Web3JL2MessageServiceLogsClient.kt
  jvm-libs/linea/clients/eth-logs-searcher/build.gradle
  jvm-libs/linea/clients/eth-logs-searcher/src/main/kotlin/linea/ethapi/Web3JLogsSearcher.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/main/kotlin/linea/ethapi/cursor/BinarySearchCursor.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/main/kotlin/linea/ethapi/cursor/ConsecutiveSearchCursor.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/LogsSearcherIntTest.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/ULongRangesHelperTest.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/cursor/BinarySearchCursorTest.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/EthLogsSearcher.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/EthApiClient.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/EthLogsClient.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/BlockParameter.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/EthLog.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/Web3JLogsClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClientFactory.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClientWithRetries.kt
  jvm-libs/linea/web3j-extensions/src/test/kotlin/build/linea/web3j/Web3JLogsClientIntTest.kt
  jvm-libs/linea/web3j-extensions/src/test/kotlin/build/linea/web3j/Web3JLogsClientTest.kt
  settings.gradle
Due: kotlin

jvm-libs: add Cursor tests
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/cursor/ConsecutiveSearchCursorTest.kt
Due: kotlin

tmp: mpts started implementing
  prover/protocol/compiler/mpts/multipoint_to_singlepoint.go
  prover/protocol/compiler/mpts/options.go
  prover/protocol/compiler/mpts/prover.go
  prover/protocol/compiler/mpts/shadow_columns.go
  prover/utils/utils.go
Due: none

tmp
  prover/protocol/compiler/mpts/prover.go
Due: none

feat (compiler.go): compiler changes added
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/option.go
Due: none

feat new dictionary
  prover/lib/compressor/dict/25-04-21.bin
Due: none

jvm-libs: segregate getBlock into 2 methods with/out transaction data
  jvm-libs/linea/clients/eth-logs-searcher/src/main/kotlin/linea/ethapi/Web3JLogsSearcher.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/EthApiClient.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/Block.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/EthGetBlockToLineaBlockMappers.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClientWithRetries.kt
Due: kotlin

refactor: move dictionary update guide out of dict
  prover/lib/compressor/dictionary-update-guide.md
Due: none

feat(mpts): rewrite of the mpts compiler
  prover/protocol/compiler/arcane.go
  prover/protocol/compiler/compiler_test.go
  prover/protocol/compiler/mpts/multipoint_to_singlepoint.go
  prover/protocol/compiler/mpts/multipoint_to_singlepoint_test.go
  prover/protocol/compiler/mpts/prover.go
  prover/protocol/compiler/mpts/verifier.go
  prover/protocol/internal/testtools/univariate.go
  prover/protocol/wizard/prover.go
Due: none

more consistent estimated time text (#884)
  bridge-ui/src/components/bridge/claiming/estimated-time/index.tsx
  bridge-ui/src/components/bridge/modal/estimated-time/index.tsx
  bridge-ui/src/components/bridge/transaction-history/list-transaction/item/index.tsx
  bridge-ui/src/utils/index.ts
  bridge-ui/src/utils/message.ts
Due: none

fixup(mpts): debug and cleaning
  prover/protocol/compiler/mpts/multipoint_to_singlepoint_test.go
  prover/protocol/compiler/mpts/prover.go
Due: none

testing(mpts): adds the tests with the profile enforcing
  prover/protocol/compiler/mpts/multipoint_to_singlepoint_test.go
Due: none

chores(gitignore): auto ignores the artefacts
  prover/.gitignore
Due: none

jvm-libs: small code rearrange
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/EthGetBlockToLineaBlockMappers.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClient.kt
Due: kotlin

Feat: Add metrics to postman (#871)
  docker/compose-spec-l2-services.yml
  docker/config/postman/env
  pnpm-lock.yaml
  postman/.env.sample
  postman/jest.config.js
  postman/package.json
  postman/scripts/runPostman.ts
  postman/src/application/postman/api/Api.ts
  postman/src/application/postman/api/__tests__/Api.test.ts
  postman/src/application/postman/api/metrics/MessageMetricsService.ts
  postman/src/application/postman/api/metrics/MetricsService.ts
  postman/src/application/postman/api/metrics/__tests__/MessageMetricsService.test.ts
  postman/src/application/postman/api/metrics/__tests__/MetricsService.test.ts
  postman/src/application/postman/app/PostmanServiceClient.ts
  postman/src/application/postman/app/__tests__/PostmanServiceClient.test.ts
  postman/src/application/postman/app/config/__tests__/utils.test.ts
  postman/src/application/postman/app/config/config.ts
  postman/src/application/postman/app/config/utils.ts
  postman/src/application/postman/persistence/repositories/TypeOrmMessageRepository.ts
  postman/src/application/postman/persistence/subscribers/MessageStatusSubscriber.ts
  postman/src/core/metrics/IMetricsService.ts
  postman/src/services/processors/MessageClaimingProcessor.ts
Due: none

jvm-libs: rename to EthLogsSearcherImpl
  besu-plugins/state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/AppConfigurator.kt
  besu-plugins/state-recovery/test-cases/src/e2eTest/kotlin/linea/staterecovery/StateRecoveryE2ETest.kt
  besu-plugins/state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/LineaSubmissionEventsClientIntTest.kt
  besu-plugins/state-recovery/test-cases/src/test/kotlin/linea/staterecovery/test/LogEventsFetchHelper.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/main/kotlin/linea/ethapi/EthLogsSearcherImpl.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/LogsSearcherIntTest.kt
Due: kotlin

compute forcedTransaction number on storing
  contracts/src/rollup/ForcedTransactionGateway.sol
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/interfaces/IAcceptForcedTransactions.sol
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
Due: hardhat

remove extra memory array for unsigned
  contracts/src/libraries/RlpEncoder.sol
  contracts/src/rollup/ForcedTransactionGateway.sol
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/interfaces/IAcceptForcedTransactions.sol
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
Due: hardhat

[Feat] Edits for feat/tx-gateway branch (#881)
  contracts/src/libraries/RlpEncoder.sol
  contracts/src/rollup/ForcedTransactionGateway.sol
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/interfaces/IAcceptForcedTransactions.sol
  contracts/test/hardhat/common/constants/time.ts
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
  contracts/test/hardhat/rollup/helpers/forced-transaction.ts
  contracts/test/hardhat/rollup/helpers/index.ts
Due: hardhat

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
