Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

coordinator: EthLogsFilterPollerTest replace mutableListOf with CopyOnWriteArrayList to ensure thread safety
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/EthLogsFilterPollerTest.kt
Due: kotlin

test: temporarily disable BlobAndAggregationFinalizationIntTest until new sample data is generated
  coordinator/ethereum/blob-submitter/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/finalization/BlobAndAggregationFinalizationIntTest.kt
Due: kotlin

github-workflows: remove unused config paths from workflow triggers
  .github/workflows/main.yml
Due: none

fix: more complete DELEGATION <> REVERT tests
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/delegation/AccountDelegationAndRevertTests.java
Due: none

feat: adding _some_ 7702-related BlockchainReferenceTests back
  tracer/reference-tests/src/test/java/net/consensys/linea/BlockchainReferenceTestTools.java
Due: none

Coordinator small ci fixes (#2434)
  .github/workflows/main.yml
  coordinator/ethereum/blob-submitter/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/finalization/BlobAndAggregationFinalizationIntTest.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/EthLogsFilterPollerTest.kt
Due: kotlin

fix: update e2e doc and scripts names
  .github/workflows/reuse-linea-besu-package-run-e2e-tests.yml
  .github/workflows/reuse-run-e2e-tests.yml
  .github/workflows/run-validium-e2e-tests.yml
  e2e/.env.template
  e2e/README.md
  e2e/package.json
  linea-besu-package/Makefile
Due: none

ras
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/romlex/RomLex.java
Due: none

fix: update readme
  e2e/README.md
Due: none

fix: update e2e doc and scripts names (#2436)
  .github/workflows/reuse-linea-besu-package-run-e2e-tests.yml
  .github/workflows/reuse-run-e2e-tests.yml
  .github/workflows/run-validium-e2e-tests.yml
  e2e/.env.template
  e2e/README.md
  e2e/package.json
  linea-besu-package/Makefile
Due: none

local-stack: bump shomei image and state manager to v3.0.0
  config/coordinator/coordinator-config-v2.toml
  docker/compose-spec-l2-services.yml
Due: none

local-stack: update components for small fields readiness
  config/coordinator/coordinator-config-v2.toml
  docker/compose-spec-l2-services.yml
  docker/config/prover/v3/prover-config.toml
Due: none

coordinator-config: update signer types from Web3j to Web3signer
  config/coordinator/coordinator-config-v2.toml
Due: none

local-stack: bump shomei image to v3.0.0 and update genesis shnarf for contract V6
  config/coordinator/coordinator-config-v2.toml
  docker/compose-spec-l2-services.yml
Due: none

update: change state root hash and signer type in coordinator and makefile configs
  config/coordinator/coordinator-config-v2.toml
  makefile-contracts.mk
Due: none

local-stack: update prover-v3 image, and adjust logging level
  config/coordinator/log4j2-dev.xml
  docker/compose-spec-l2-services.yml
  docker/config/prover/v3/prover-config.toml
Due: none

local-stack: bump linea-besu-package images to beta-v4.4-rc7.4-20260216145722-8e1bcfb
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
Due: none

local-stack: bump linea-besu-package image to beta-v4.4-rc7.4-20260216145722-8e1bcfb
  docker/compose-spec-l2-services.yml
Due: none

feat: treat modexp nighlty separately for performance reasons
  .github/workflows/reusable-tracer-weekly-tests.yml
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/precompiles/modexp/ModexpEIP7883Tests.java
  tracer/gradle/tests.gradle
Due: none

Restored compressor interface
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/AbstractLineaSharedPrivateOptionsPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/utils/CachingTransactionCompressor.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/utils/Compressor.java
Due: none

feat: treat modexp nighlty separately for performance reasons
  .github/workflows/reusable-tracer-nightly-tests.yml
  .github/workflows/reusable-tracer-weekly-tests.yml
  tracer/gradle/tests.gradle
Due: none

fix nonce
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/utilities/AccountDelegationType.java
Due: none

fix leak
  tracer/gradle/tests.gradle
Due: none

fix timeout regression
  tracer/gradle/tests.gradle
Due: none

fix spotless
  tracer/arithmetization/src/test/java/net/consensys/linea/ZkCounterTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/hub/AddressCollisionWarmingAndDeploymentTests.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/utilities/AccountDelegationType.java
Due: none

prevent creation of rom operation when delegating to a precompile
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/romlex/RomLex.java
Due: none

spotless
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/romlex/RomLex.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/delegation/AccountDelegationAndRevertTests.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/rlpauth/RlpAuthTest.java
Due: none

e2e: submission-finalization: remove unused constants, helpers, and redundant test logic
  e2e/src/submission-finalization.spec.ts
Due: none

fix: update SparseMerkleProof abi and add Poseidon2 abi to e2e tests
  e2e/scripts/generateAbi.ts
  e2e/src/config/jest/prerequisites.ts
Due: none

fix: update abis
  contracts/local-deployments-artifacts/static-artifacts/Poseidon2.json
  contracts/local-deployments-artifacts/static-artifacts/SparseMerkleProof.json
Due: hardhat

fixing spotless blank line errors
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/SimulationValidatorTest.java
  coordinator/ethereum/finalization-monitor/src/test/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImplTest.kt
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/ZkCounter.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2fmodexpdata/BlakeModexpData.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/call/precompileSubsection/BlakeSubsection.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ExecutionEnvironment.java
Due: kotlin

New compression method and fixes
  jvm-libs/linea/tx-compressor/src/main/kotlin/linea/blob/GoNativeTxCompressor.kt
  jvm-libs/linea/tx-compressor/src/main/kotlin/linea/blob/TxCompressor.kt
  jvm-libs/linea/tx-compressor/src/test/kotlin/linea/blob/GoBackedTxCompressorTest.kt
  prover/lib/compressor/blob/v1/tx_compressor.go
  prover/lib/compressor/blob/v1/tx_compressor_test.go
  prover/lib/compressor/libtxcompressor/libtxcompressor.go
Due: kotlin

ras
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/rlpauth/RlpAuthTest.java
Due: none

Added the forgotten header file
  prover/lib/compressor/libtxcompressor/libtxcompressor.h
Due: none

Fixed generated header
  prover/lib/compressor/libtxcompressor/libtxcompressor.h
Due: none

Released the compressor and used it in the gradle module
  jvm-libs/linea/tx-compressor/build.gradle
Due: kotlin

standardize naming
  contracts/.env.template
  contracts/.env.template.ci
  contracts/.env.template.uat
  contracts/common.ts
  contracts/deploy/03_deploy_LineaRollup.ts
  contracts/deploy/03_deploy_LineaRollupV7WithReinitialization.ts
  contracts/deploy/03_deploy_LineaRollupWithReinitialization.ts
  contracts/deploy/03_deploy_Validium.ts
  contracts/deploy/04_deploy_L2MessageService.ts
  contracts/deploy/04_deploy_L2MessageServiceV1Deployed.ts
  contracts/deploy/04_deploy_L2MessageServiceWithReinitialization.ts
  contracts/deploy/06_deploy_TokenBridge.ts
  contracts/deploy/10_deploy_RecoverFunds.ts
  contracts/deploy/13_deploy_EIP2935SystemContract.ts
  contracts/deploy/16_deploy_EIP4788SystemContract.ts
  contracts/deploy/18_deploy_RollupRevenueVault.ts
  contracts/deploy/18_deploy_RollupRevenueVaultWithReinitialization.ts
  contracts/deploy/21_deploy_YieldManager.ts
  contracts/deploy/21_deploy_YieldManagerArtifacts.ts
  contracts/docs/deployment.md
  contracts/docs/linea-token-bridge.md
  contracts/docs/operational.md
  contracts/hardhat.config.ts
  contracts/local-deployments-artifacts/deployBridgedTokenAndTokenBridgeV1_1.ts
  contracts/local-deployments-artifacts/deployL2MessageServiceV1.ts
  contracts/local-deployments-artifacts/deployPlonkVerifierAndLineaRollupV6.ts
  contracts/local-deployments-artifacts/deployPlonkVerifierAndLineaRollupV7.ts
  contracts/local-deployments-artifacts/deployPlonkVerifierAndLineaRollupV7_1.ts
  contracts/local-deployments-artifacts/deployPlonkVerifierAndValidiumV1.ts
  contracts/scripts/operational/yieldBoost/addLidoStVaultYieldProvider.ts
  contracts/scripts/operational/yieldBoost/prepareInitiateOssification.ts
  contracts/scripts/operational/yieldBoost/testing/addAndClaimMessage.ts
  contracts/scripts/operational/yieldBoost/testing/addAndClaimMessageForLST.ts
  contracts/scripts/operational/yieldBoost/testing/addAndClaimMessageHelper.ts
  contracts/scripts/operational/yieldBoost/testing/unstakePermissionless.ts
  contracts/scripts/testEIP7702/deploy_TestEIP7702Delegation.ts
  contracts/scripts/upgrades/upgradeLineaRollup_with_reinitialisation.ts
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/MakefileContractDeploymentHelper.kt
  makefile-contracts.mk
Due: hardhat, kotlin

doc(release): add E2E requirement
  .github/pull_request_template.md
  docs/contribute.md
Due: none
