Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

[Coordinator] Web3j to EthApiMigration 6/N (#2017)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L2NetworkGasPricingService.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapFeeHistoryFetcherImpl.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapProviderImpl.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapFeeHistoryFetcherImplTest.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapProviderImplTest.kt
  coordinator/ethereum/gas-pricing/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/DynamicGasPrice.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/HistoricVariableCostProviderImpl.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataBasedVariableFeesCalculator.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataSizeAccumulatorImpl.kt
  coordinator/ethereum/gas-pricing/static-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/HistoricVariableCostProviderImplTest.kt
  coordinator/ethereum/gas-pricing/static-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataBasedVariableFeesCalculatorTest.kt
  coordinator/ethereum/gas-pricing/static-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataSizeAccumulatorImplTest.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/Block.kt
  jvm-libs/linea/core/domain-models/src/testFixtures/kotlin/linea/domain/BlockFactory.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/mappers/EthGetBlockToLineaBlockMappers.kt
Due: kotlin

refactor: replace bigint to v.Uint64()
  prover/maths/zk/mixed_api.go
Due: none

feat: include P256 trace integration test
  prover/zkevm/prover/p256verify/arithmetization_integration_test.go
Due: none

Chore: update Besu to 25.12.0-linea2
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/EcDataLimitsTest.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/EstimateGasTest.kt
  gradle/libs.versions.toml
Due: none

fix: postman nonce issue when nonce == 0
  postman/src/services/processors/MessageClaimingProcessor.ts
  postman/src/utils/ErrorParser.ts
Due: none

CI: improv jacocco jobs
  .github/workflows/coordinator-testing.yml
  .github/workflows/testing.yml
Due: none

chore: bump Web3Signer image to 25.12.0 (refs #980)
  docker/compose-spec-l2-services.yml
  ts-libs/linea-shared-utils/scripts/test-ethereum-mainnet-client-library-web3-signer.ts
  ts-libs/linea-shared-utils/scripts/test-web3-signer-client-adapter.ts
Due: none

Migrate web3j to ethapi 8/N
  besu-plugins/state-recovery/test-cases/src/e2eTest/kotlin/linea/staterecovery/StateRecoveryE2ETest.kt
  besu-plugins/state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/LineaSubmissionEventsClientIntTest.kt
  besu-plugins/state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/StateRecoveryAppWithFakeExecutionClientIntTest.kt
  besu-plugins/state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/StateRecoveryWithRealBesuAndStateManagerIntTest.kt
  besu-plugins/state-recovery/test-cases/src/integrationTest/kotlin/linea/staterecovery/datafetching/SubmissionsFetchingTaskIntTest.kt
  besu-plugins/state-recovery/test-cases/src/test/kotlin/linea/staterecovery/test/AssertionsHelper.kt
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/AccountManager.kt
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/EthApiClientManager.kt
  jvm-libs/linea/testing/l1-blob-and-proof-submission/src/main/kotlin/net/consensys/linea/testing/submission/SubmissionTestHelper.kt
  jvm-libs/linea/web3j-extensions/src/testFixtures/kotlin/linea/web3j/Pollers.kt
  transaction-decoder-tool/src/test/kotlin/linea/test/BlocksFetcher.kt
  transaction-decoder-tool/src/test/kotlin/linea/test/FetchAndValidationRunner.kt
Due: kotlin

cursor bot comments
  jvm-libs/linea/web3j-extensions/src/testFixtures/kotlin/linea/web3j/Pollers.kt
Due: kotlin

rework gas optimization for hashing contract
  contracts/src/libraries/Poseidon2.sol
Due: hardhat

fix: update genesis file in e2e tests
  docker/config/l2-genesis-initialization/genesis-besu.json.template
  e2e/src/config/tests-config/environments/local.ts
Due: none

fix: liveness account index
  e2e/src/config/jest/global-setup.ts
  e2e/src/liveness.spec.ts
Due: none

init opt
  prover/maths/field/gnarkfext/e4_gen.go
  prover/protocol/compiler/selfrecursion/selfrecursion_test.go
  prover/protocol/compiler/standard_benchmark_test.go
  prover/symbolic/lincomb.go
  prover/symbolic/polyeval.go
  prover/symbolic/product.go
  prover/utils/gnarkutil/arith.go
Due: none

configure unit tests to use KOALABEAR_16
  .github/workflows/reusable-tracer-unit-tests.yml
  tracer/gradle/corset.gradle
Due: none

update zkevm.bin
  prover/zkevm/arithmetization/zkevm.bin
Due: none

update go-corset to `v1.2.0-rc4`
  prover/go.mod
  prover/go.sum
Due: none

🔇 fix: reduce OAuth2 token client log verbosity
  ts-libs/linea-shared-utils/src/clients/OAuth2TokenClient.ts
  ts-libs/linea-shared-utils/src/clients/__tests__/OAuth2TokenClient.test.ts
Due: none

change logging level to info in _getRebalanceRequirements
  native-yield-operations/automation-service/src/clients/contracts/YieldManagerContractClient.ts
Due: none

♻️ refactor: remove MIN_STAKING_VAULT_BALANCE_TO_UNPAUSE_STAKING_WEI config
  native-yield-operations/automation-service/scripts/test-yield-manager-contract-client.ts
  native-yield-operations/automation-service/src/application/main/NativeYieldAutomationServiceBootstrap.ts
  native-yield-operations/automation-service/src/application/main/__tests__/NativeYieldAutomationServiceBootstrap.test.ts
  native-yield-operations/automation-service/src/application/main/config/__tests__/config.schema.test.ts
  native-yield-operations/automation-service/src/application/main/config/__tests__/config.test.ts
  native-yield-operations/automation-service/src/application/main/config/__tests__/loadConfigFromEnv.test.ts
  native-yield-operations/automation-service/src/application/main/config/config.schema.ts
  native-yield-operations/automation-service/src/application/main/config/config.ts
  native-yield-operations/automation-service/src/clients/contracts/YieldManagerContractClient.ts
  native-yield-operations/automation-service/src/clients/contracts/__tests__/YieldManagerContractClient.test.ts
Due: none

fix(conglo): compile the test with temp build fix
  prover/circuits/execution/circuit.go
  prover/circuits/pi-interconnection/keccak/snark.go
  prover/protocol/serialization/implementation_registry.go
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector.go
  prover/zkevm/prover/publicInput/execution_data_collector/mimc_hasher.go
  prover/zkevm/prover/publicInput/execution_data_collector/poseidon2_hasher.go
  prover/zkevm/prover/publicInput/public_input.go
Due: none

CI: improv jacoco jobs
  .github/workflows/coordinator-testing.yml
  .github/workflows/linea-sequencer-plugin-testing.yml
  .github/workflows/staterecovery-testing.yml
  .github/workflows/testing.yml
  .github/workflows/transaction-exclusion-api-testing.yml
Due: none

CI: improv jacoco jobs
  .github/workflows/testing.yml
Due: none

feat: preliminary fixes for small fields (#859)
  .github/workflows/check.yml
  hub/osaka/constraints/instruction-handling/call/precompiles/modexp/common/__02__bbs_extraction_row.lisp
  hub/osaka/constraints/instruction-handling/call/precompiles/modexp/common/__03__ebs_extraction_row.lisp
  hub/osaka/constraints/instruction-handling/call/precompiles/modexp/common/__04__mbs_extraction_row.lisp
  hub/osaka/constraints/instruction-handling/call/precompiles/modexp/common/__06__pricing_row.lisp
  mxp/computations/not_msize.lisp
  mxp/computations/state_update.lisp
  romlex/constraints.lisp
Due: none

check data type in EvaluationVerifier and GnarkEvaluateLagrangeExt
  prover/maths/polynomials/lagrange_wv.go
  prover/protocol/compiler/globalcs/evaluation.go
  prover/protocol/query/global.go
Due: none

restored the package contracts from main
  contracts/src/_testing/unit/verifiers/TestPlonkVerifierForDataAggregation.sol
  contracts/src/verifiers/PlonkVerifierForDataAggregation.sol
  contracts/test/hardhat/_testData/compressedData/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedData/blocks-1-46.json
  contracts/test/hardhat/_testData/compressedData/blocks-115-155.json
  contracts/test/hardhat/_testData/compressedData/blocks-47-81.json
  contracts/test/hardhat/_testData/compressedData/blocks-82-114.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-82-153.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/blocks-1-46.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/blocks-47-81.json
  contracts/test/hardhat/_testData/compressedData/test/aggregatedProof-1-46.json
  contracts/test/hardhat/_testData/compressedData/test/blocks-1-46.json
  contracts/test/hardhat/_testData/compressedDataEip4844/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedDataEip4844/blocks-1-46.json
  contracts/test/hardhat/_testData/compressedDataEip4844/blocks-115-155.json
  contracts/test/hardhat/_testData/compressedDataEip4844/blocks-47-81.json
  contracts/test/hardhat/_testData/compressedDataEip4844/blocks-82-114.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/blocks-1-46.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/blocks-120-153.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/blocks-47-81.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/blocks-82-119.json
  contracts/test/hardhat/_testData/compressedDataEip4844/test/aggregatedProof-1-46.json
  contracts/test/hardhat/_testData/compressedDataEip4844/test/blocks-1-46.json
Due: hardhat

CI: improv jacocco jobs (#2022)
  .github/workflows/coordinator-testing.yml
  .github/workflows/linea-sequencer-plugin-testing.yml
  .github/workflows/staterecovery-testing.yml
  .github/workflows/testing.yml
  .github/workflows/transaction-exclusion-api-testing.yml
Due: none

deleted the extra files from contracts
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-82-139.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/blocks-111-139.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/blocks-82-110.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/forcedTransaction-0.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/forcedTransaction-1.json
Due: hardhat

📝 docs: add contract verification reminder to addLidoStVaultYieldProvider script
  contracts/scripts/operational/addLidoStVaultYieldProvider.ts
Due: hardhat

simplify test
  besu-plugins/linea-sequencer/acceptance-tests/build.gradle
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/EcDataLimitsTest.kt
Due: none

tracer: reftests adapt to latest besu
  tracer/reference-tests/src/test/java/net/consensys/linea/BlockchainReferenceTestTools.java
Due: none

tracer: small tweak on codeql task
  .github/workflows/codeql.yml
Due: none

Revert "tracer: small tweak on codeql task"
  .github/workflows/codeql.yml
Due: none

fix: update poseidon2 test vectors
  contracts/test/hardhat/_testData/poseidon2-test-data.json
Due: hardhat

tracer: improve check tasks
  .github/workflows/tracer-gradle-tests.yml
Due: none

test: ignore arithmetization integration tests until example traces
  prover/zkevm/prover/bls/arithmetization_integration_add_test.go
  prover/zkevm/prover/bls/arithmetization_integration_map_test.go
  prover/zkevm/prover/bls/arithmetization_integration_msm_test.go
  prover/zkevm/prover/bls/arithmetization_integration_pair_test.go
  prover/zkevm/prover/bls/arithmetization_integration_pointeval_test.go
  prover/zkevm/prover/bls/arithmetization_integration_test.go
  prover/zkevm/prover/p256verify/arithmetization_integration_test.go
Due: none

test: use non-magic constant in modexp test
  prover/zkevm/prover/modexp/modexp_test.go
Due: none

simplify test
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/EcDataLimitsTest.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/LineaPluginTestBase.kt
Due: none
