Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

rm getWithdrawalReserveBalance
  contracts/src/yield/YieldManager.sol
  contracts/src/yield/interfaces/IYieldManager.sol
Due: hardhat

feat: dummy value limit for bls_data on limitless
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimitsLimitless.toml
Due: none

rm more exzternal fns
  contracts/src/yield/YieldManager.sol
  contracts/src/yield/interfaces/IYieldManager.sol
Due: hardhat

feat: diff module limit crossed for estimateGasFailsForExceedingModuleLineCountTest, set unchecked modules in limitless at 16 to account for spillage)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EstimateGasModuleLimitOverflowTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimitsLimitless.toml
Due: none

update prover bin to incl requests/ and move files to requests-done/ after
  prover/backend/execution/limitless/distributed/bootstrap.go
  prover/backend/execution/limitless/distributed/conglomeration.go
  prover/backend/execution/limitless/distributed/gl.go
  prover/backend/execution/limitless/distributed/lpp.go
  prover/backend/execution/limitless/distributed/sh/reset.sh
  prover/backend/execution/limitless/distributed/sh/reset_witness.sh
  prover/backend/files/files.go
Due: none

check status before connecting (#270)
  maru/app/src/integrationTest/kotlin/maru/app/MaruPeerScoringTest.kt
  maru/app/src/integrationTest/kotlin/testutils/MisbehavingP2PNetwork.kt
  maru/app/src/main/kotlin/maru/app/MaruApp.kt
  maru/app/src/main/kotlin/maru/app/MaruAppFactory.kt
  maru/config/src/main/kotlin/maru/config/Config.kt
  maru/config/src/main/kotlin/maru/config/consensus/qbft/QbftConsensusConfigs.kt
  maru/config/src/test/kotlin/maru/config/HopliteFriendlinessTest.kt
  maru/core/src/main/kotlin/maru/consensus/ForkId.kt
  maru/core/src/main/kotlin/maru/consensus/ForkSchedule.kt
  maru/core/src/main/kotlin/maru/serialization/SerDe.kt
  maru/core/src/test/kotlin/maru/consensus/ForkIdHashManagerImplTest.kt
  maru/core/src/test/kotlin/maru/consensus/ForksScheduleTest.kt
  maru/jvm-libs/test-utils/src/main/kotlin/testutils/maru/MaruFactory.kt
  maru/p2p/src/main/kotlin/maru/p2p/MaruPeer.kt
  maru/p2p/src/main/kotlin/maru/p2p/MaruPeerManager.kt
  maru/p2p/src/main/kotlin/maru/p2p/P2PNetworkImpl.kt
  maru/p2p/src/main/kotlin/maru/p2p/PeerDiscoveryTask.kt
  maru/p2p/src/main/kotlin/maru/p2p/RpcMethods.kt
  maru/p2p/src/main/kotlin/maru/p2p/discovery/MaruDiscoveryService.kt
  maru/p2p/src/main/kotlin/maru/p2p/messages/StatusHandler.kt
  maru/p2p/src/main/kotlin/maru/p2p/messages/StatusManager.kt
  maru/p2p/src/test/kotlin/maru/p2p/DefaultMaruPeerTest.kt
  maru/p2p/src/test/kotlin/maru/p2p/MaruPeerManagerTest.kt
  maru/p2p/src/test/kotlin/maru/p2p/P2PTest.kt
  maru/p2p/src/test/kotlin/maru/p2p/QbftForkIdComputerTest.kt
  maru/p2p/src/test/kotlin/maru/p2p/discovery/MaruDiscoveryServiceTest.kt
  maru/p2p/src/test/kotlin/maru/p2p/messages/StatusHandlerTest.kt
  maru/syncing/src/main/kotlin/maru/syncing/beaconchain/pipeline/DownloadBlocksStep.kt
  maru/syncing/src/test/kotlin/maru/syncing/beaconchain/CLSyncServiceImplTest.kt
Due: none

update error message with new module names and limits from limitless file
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EstimateGasModuleLimitOverflowLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EthSendRawTransactionSimulationCheckLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EthSendRawTransactionSimulationModExpLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimitsLimitless.toml
Due: none

feat: wizardutils ok
  prover/protocol/wizardutils/evaluation.go
  prover/protocol/wizardutils/utils.go
  prover/protocol/wizardutils/wizardutils_test.go
Due: none

System smart contract testing revision (#2370)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/systemTransaction/EIP4788BeaconBlockRootSection.java
  tracer/arithmetization/src/test/java/net/consensys/linea/LineCountingTracerTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/forkSpecific/systemTransaction/DeployerScenario.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/forkSpecific/systemTransaction/SystemSmartContractScenario.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/forkSpecific/systemTransaction/SystemTransactionTestUtils.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/forkSpecific/systemTransaction/SystemTransactionTests.java
  tracer/testing/src/main/java/net/consensys/linea/testing/MultiBlockExecutionEnvironment.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyExecutionEnvironmentV2.java
Due: none

System smart contract testing revision (#2370)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/systemTransaction/EIP4788BeaconBlockRootSection.java
  tracer/arithmetization/src/test/java/net/consensys/linea/LineCountingTracerTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/forkSpecific/systemTransaction/DeployerScenario.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/forkSpecific/systemTransaction/SystemSmartContractScenario.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/forkSpecific/systemTransaction/SystemTransactionTestUtils.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/forkSpecific/systemTransaction/SystemTransactionTests.java
  tracer/arithmetization/src/test/resources/replays/captured_conflation.json.gz
  tracer/testing/src/main/java/net/consensys/linea/testing/MultiBlockExecutionEnvironment.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyExecutionEnvironmentV2.java
Due: none

spotless
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EstimateGasModuleLimitOverflowLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EthSendRawTransactionSimulationCheckLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits.toml
Due: none

fix accumulator, wrap hash.Hash in poseidon2hasher
  prover/Makefile
  prover/crypto/state-management/accumulator/common.go
  prover/crypto/state-management/accumulator/deletion.go
  prover/crypto/state-management/accumulator/insertion.go
  prover/crypto/state-management/accumulator/leafopening.go
  prover/crypto/state-management/accumulator/operation_test.go
  prover/crypto/state-management/accumulator/proverstate.go
  prover/crypto/state-management/accumulator/readnonzero.go
  prover/crypto/state-management/accumulator/readzero.go
  prover/crypto/state-management/accumulator/testvectors_mimc_test.go
  prover/crypto/state-management/accumulator/update.go
  prover/crypto/state-management/accumulator/verifierstate.go
  prover/crypto/state-management/hashtypes/fieldhasher.go
  prover/crypto/state-management/smt/tree.go
  prover/crypto/vortex/commitment.go
  prover/crypto/vortex/opening_verifier.go
  prover/crypto/vortex/params.go
  prover/protocol/dedicated/merkle/flat_proof_test.go
  prover/utils/types/common.go
Due: none

feat: keep unchecked to same value as ZkTracer, BLS DATA limit set to 4096
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimitsLimitless.toml
Due: none

feat: innerproduct ok
  prover/protocol/compiler/innerproduct/compiler.go
  prover/protocol/compiler/innerproduct/context.go
  prover/protocol/compiler/innerproduct/innerproduct_test.go
  prover/protocol/compiler/innerproduct/utils.go
  prover/protocol/compiler/innerproduct/verifier.go
Due: none

feat: set all BLS_DATA to 4096
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits_sendRawTx.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/strictModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/txOverflowModuleLimits.toml
  besu-plugins/linea-sequencer/sequencer/src/test/resources/sequencer/line-limits.toml
Due: none

Unsubscribing the old protocols from P2P block handling on a protocol… (#401)
  maru/app/src/main/kotlin/maru/app/Helpers.kt
  maru/app/src/main/kotlin/maru/app/MaruApp.kt
  maru/app/src/main/kotlin/maru/app/QbftFollowerFactory.kt
  maru/app/src/main/kotlin/maru/app/QbftProtocolValidatorFactory.kt
  maru/chaos-testing/helm/charts/besu/values.yaml
  maru/consensus/src/main/kotlin/maru/consensus/ProtocolStarter.kt
  maru/consensus/src/main/kotlin/maru/consensus/qbft/DifficultyAwareQbft.kt
  maru/consensus/src/main/kotlin/maru/consensus/qbft/QbftConsensusFollower.kt
  maru/consensus/src/main/kotlin/maru/consensus/qbft/QbftConsensusValidator.kt
  maru/consensus/src/test/kotlin/maru/consensus/ProtocolStarterTest.kt
  maru/core/src/main/kotlin/maru/core/Protocol.kt
Due: none

fix: accumulator/operation_test
  prover/Makefile
  prover/crypto/state-management/accumulator/operation_test.go
  prover/protocol/dedicated/merkle/flat_proof_test.go
Due: none

Update ATs
  besu-plugins/linea-sequencer/acceptance-tests/build.gradle
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/ExcludedPrecompilesLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimitsLimitless.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits_sendRawTx.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/strictModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/strictModuleLimitsLimitless.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/txOverflowModuleLimits.toml
Due: none

[Chore] - 1491 cancun opcode testing (#1501)
  contracts/hardhat_overrides.ts
  contracts/local-deployments-artifacts/deployCancunEvmTestingFramework.ts
  contracts/local-deployments-artifacts/deployLondonEvmTestingFramework.ts
  contracts/local-deployments-artifacts/static-artifacts/LondonEvmCodes.json
  contracts/local-deployments-artifacts/static-artifacts/OpcodeTester.json
  contracts/local-deployments-artifacts/static-artifacts/ShanghaiEvmCodes.json
  contracts/src/_testing/unit/opcodes/OpcodeTester.sol
  contracts/src/_testing/unit/opcodes/ShanghaiEvmCodes.yul
  makefile-contracts.mk
Due: hardhat

Chore: update Besu and arithmetization (#1502)
  besu-plugins/linea-sequencer/acceptance-tests/build.gradle
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/ExcludedPrecompilesLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EstimateGasModuleLimitOverflowLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EstimateGasModuleLimitOverflowTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EthSendRawTransactionSimulationCheckLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EthSendRawTransactionSimulationModExpLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimitsLimitless.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits_sendRawTx.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/noModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/strictModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/strictModuleLimitsLimitless.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/txOverflowModuleLimits.toml
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/TraceLineLimitTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/test/resources/sequencer/line-limits.toml
  gradle/libs.versions.toml
Due: none

Update Sequencer and Tracer
  linea-besu-package/versions.env
Due: none

fix: fix broken merkle tests
  prover/Makefile
  prover/crypto/state-management/hashtypes/fieldhasher.go
  prover/crypto/state-management/smt/tree.go
  prover/crypto/vortex/commitment.go
  prover/protocol/dedicated/merkle/merkle_test.go
Due: none

cleanup Bytes32
  prover/protocol/dedicated/merkle/flat_proof_test.go
Due: none

cleanup Bytes32
  prover/crypto/state-management/smt/gnark_test.go
  prover/crypto/state-management/smt/smt_test.go
  prover/crypto/vortex/gnark_commitment.go
  prover/maths/field/element.go
Due: none

remove payLstInterest
  contracts/src/yield/LidoStVaultYieldProvider.sol
Due: hardhat

Remove extra space
  linea-besu-package/versions.env
Due: none

fixing unit tests for linearollup
  contracts/hardhat.config.ts
  contracts/src/_testing/mocks/yield/MockYieldManager.sol
  contracts/src/_testing/unit/yield/TestYieldManager.sol
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/yield/LineaNativeYieldExtension.sol
  contracts/test/hardhat/common/constants/general.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/rollup/helpers/deploy.ts
  contracts/test/hardhat/yield/YieldManager.ts
Due: hardhat

Update trace limits config
  config/common/traces-limits-v2.toml
Due: none

fix non-determinism in definition.go
  prover/zkevm/arithmetization/definition.go
Due: none

cleanup naming of poseiond2 and hasher
  prover/crypto/state-management/hashtypes/fieldhasher.go
  prover/crypto/state-management/hashtypes/hasher.go
  prover/crypto/state-management/smt/tree.go
  prover/crypto/vortex/commitment.go
  prover/crypto/vortex/params.go
  prover/protocol/serialization/serializer.go
Due: none

added new roles to unit test fixtures
  contracts/common/constants/roles.ts
  contracts/src/yield/LineaNativeYieldExtension.sol
  contracts/src/yield/YieldManager.sol
  contracts/src/yield/interfaces/ILineaNativeYieldExtension.sol
  contracts/src/yield/interfaces/IYieldManager.sol
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
Due: hardhat

Update Coordinator tracing modules
  jvm-libs/linea/core/traces/src/main/kotlin/net/consensys/linea/traces/TracingModule.kt
Due: kotlin

added new test cases to LineaRollup
  contracts/common/constants/pauseTypes.ts
  contracts/docs/workflows/administration/unpausing.md
  contracts/test/hardhat/common/constants/pauseTypes.ts
  contracts/test/hardhat/common/constants/roles.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
Due: hardhat

LineaRollupYieldExtension move
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/LineaRollupYieldExtension.sol
  contracts/src/rollup/interfaces/ILineaRollupYieldExtension.sol
  contracts/src/yield/YieldManager.sol
  contracts/test/hardhat/rollup/LineaRollup/LineaNativeYieldExtension.ts
Due: hardhat

minor
  prover/crypto/vortex/gnark_commitment.go
Due: none

Update Coordinator Docker image
  docker/compose-spec-l2-services.yml
Due: none

wrote first unit tests for LineaRollupYieldExtension
  contracts/src/rollup/LineaRollupYieldExtension.sol
  contracts/test/hardhat/rollup/LineaRollup/LineaNativeYieldExtension.ts
  contracts/test/hardhat/rollup/LineaRollup/LineaRollupYieldExtension.ts
Due: hardhat

did some yield reporting tests
  contracts/src/rollup/LineaRollupBase.sol
  contracts/test/hardhat/rollup/LineaRollup/LineaRollupYieldExtension.ts
Due: hardhat
