Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

Fixing the 3rd account rows for CREATE's of the FAILURE_WILL_REVERT variety (#1649)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/CreateSection.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/call/CallSection.java
Due: none

Remove extra `MISC` row for calls to the `IDENTITY` precompile of the `FAILURE_KNOWN_TO_HUB` variety
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/call/precompileSubsection/IdentitySubsection.java
Due: none

minor cleaning
  prover/protocol/distributed/distributed.go
Due: none

Support for chainId and EIP-1559 fee market in linea_estimateGas (#94)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EstimateGasCompatibilityModeTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EstimateGasModuleLimitOverflowTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EstimateGasTest.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/methods/LineaEstimateGas.java
Due: none

added a test, not working yet
  prover/protocol/query/grand_product.go
  prover/protocol/query/grand_product_test.go
Due: none

Fine tune dependencies (#1653)
  tracer/arithmetization/build.gradle
  tracer/gradle/common-dependencies.gradle
  tracer/plugins/build.gradle
Due: none

feature:440 added ref. link to prover codebase
  docs/architecture-description.md
Due: none

feature:440 - update prover api specs (#441)
  docs/architecture-description.md
Due: none

changed sparseMerkleProof
  .github/workflows/contracts-docgen.yml
  .github/workflows/main.yml
  contracts/contracts/lib/SparseMerkleProof.sol
  contracts/docs/api/lib/SparseMerkleProof.mdx
Due: hardhat

first draft of contracts-docgen
  .github/workflows/contracts-docgen.yml
Due: none

fix typos
  .github/workflows/contracts-docgen.yml
Due: none

fix: converting from long to int may reveal unintended valid jump destinations (#1654)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/signals/Exceptions.java
Due: none

fix: `TX_WARM` fix for addresses which don't exist in the state (#1655)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TxPreWarmingMacroSection.java
Due: none

Fixed divergence from spec in the "return data size" macro for `ECADD`/`ECMUL`/`ECPAIRING` (#549)
  hub/constraints/instruction-handling/call/precompiles/ec_add_mul_pairing/success_case.lisp
Due: none

initial commit of all opcode testing
  Makefile
  contracts/contracts/test-contracts/ErrorAndDestructionTesting.sol
  contracts/contracts/test-contracts/LondonEvmCodes.yul
  contracts/contracts/test-contracts/OpcodeTester.sol
  contracts/local-deployments-artifacts/deployLondonEvmTestingFramework.ts
  contracts/local-deployments-artifacts/executeAllOpcodes.ts
  contracts/local-deployments-artifacts/static-artifacts/LondonEvmCodes.json
  contracts/local-deployments-artifacts/static-artifacts/OpcodeTester.json
Due: hardhat

linting
  contracts/contracts/test-contracts/OpcodeTester.sol
Due: hardhat

add initialization check for default admin
  contracts/contracts/tokenBridge/TokenBridge.sol
  contracts/test/tokenBridge/TokenBridge.ts
Due: hardhat

use better names - refactored + no optimizer
  Makefile
  contracts/contracts/test-contracts/OpcodeTester.sol
  contracts/local-deployments-artifacts/static-artifacts/OpcodeTester.json
Due: hardhat

coordinator: adds TestingJsonRpcServer
  jvm-libs/generic/json-rpc/build.gradle
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/JsonRpcMessageProcessor.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/JsonRpcResponse.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/httpserver/HttpJsonRpcServer.kt
  jvm-libs/generic/json-rpc/src/test/kotlin/linea/jsonrpc/TestingJsonRpcServerTest.kt
  jvm-libs/generic/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/JsonRpcMessageProcessorTest.kt
  jvm-libs/generic/json-rpc/src/testFixtures/kotlin/linea/jsonrpc/TestingJsonRpcServer.kt
Due: kotlin

coordinator: adds testes for BlockCreationMonitor
  coordinator/app/build.gradle
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitor.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitorTest.kt
  jvm-libs/generic/logging/src/main/kotlin/linea/log4j/Configuration.kt
  jvm-libs/linea/core/domain-models/src/testFixtures/kotlin/linea/domain/BlockFactory.kt
  jvm-libs/linea/web3j-extensions/build.gradle
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/Web3JFactory.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/net/consensys/linea/web3j/ExtendedWeb3J.kt
Due: kotlin

store timestamp on verbatim execution
  Makefile
  contracts/contracts/test-contracts/LondonEvmCodes.yul
  contracts/local-deployments-artifacts/static-artifacts/LondonEvmCodes.json
Due: hardhat

coordinator: small code cosmetic and unit test fixes
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitorTest.kt
  gradle/libs.versions.toml
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/net/consensys/StringExtensionsTest.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/JsonRpcMessageProcessor.kt
  jvm-libs/generic/json-rpc/src/testFixtures/kotlin/linea/jsonrpc/TestingJsonRpcServer.kt
  jvm-libs/linea/besu-rlp-and-mappers/src/main/kotlin/linea/domain/MapperBesuToLineaDomain.kt
Due: kotlin

coordinator: small code cosmetic and unit test fixes
  build.gradle
Due: none

test: extend INVALID opcode (#1645)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/opcode/OpCodes.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/exceptions/InvalidOpcodeExceptionTest.java
Due: none

test: program invoking all OpCodes (#1647)
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/OpCodesTest.java
Due: none

fix: `undoDepStatusAndNumberUpdate` wrong constraint fix (#551)
  hub/constraints/account-rows/specialized.lisp
Due: none

Fix mix up between account address / code address when executing `CODESIZE` / `SELFBALANCE` (#550)
  hub/constraints/instruction-handling/acc.lisp
Due: none

chores(prover): remove the overly verbose log
  prover/protocol/compiler/vortex/compiler.go
Due: none

fix(public-input): point to data_hilo instead of addr_hilo
  prover/zkevm/prover/publicInput/logs/extracted_data.go
  prover/zkevm/prover/publicInput/logs/mock_logs.go
  prover/zkevm/prover/publicInput/logs/selectors.go
  prover/zkevm/prover/publicInput/public_input.go
Due: none

revert(execution): reinstate the panic if the traes do not match the checksum.
  prover/backend/execution/prove.go
Due: none

clean(circuit): remove the systematic circuit profiling
  prover/circuits/execution/builder.go
Due: none
