Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

folder and readme tweaks
  contracts/scripts/operational/contract-integrity-verifier/README.md
  contracts/scripts/operational/contract-integrity-verifier/configs/example.json
  contracts/scripts/operational/contract-integrity-verifier/configs/sepolia-linea-rollup-v7.md
  contracts/scripts/operational/contract-integrity-verifier/examples/configs/chains.json
  contracts/scripts/operational/contract-integrity-verifier/examples/configs/example.json
  contracts/scripts/operational/contract-integrity-verifier/examples/configs/sepolia-linea-rollup-v7.config.json
  contracts/scripts/operational/contract-integrity-verifier/examples/configs/sepolia-linea-rollup-v7.config.md
  contracts/scripts/operational/contract-integrity-verifier/examples/schemas/linea-rollup.json
  contracts/scripts/operational/contract-integrity-verifier/examples/schemas/yield-manager.json
Due: hardhat

crypto vortex ok
  prover/crypto/vortex/verifier_circuit_common.go
  prover/crypto/vortex/vortex_bls12377/verifier_circuit_test.go
  prover/crypto/vortex/vortex_koalabear/verifier.go
  prover/crypto/vortex/vortex_koalabear/verifier_circuit_test.go
  prover/maths/polynomials/lagrange_wv.go
  prover/protocol/compiler/vortex/compiler.go
Due: none

chore: migrate contracts from Hardhat V2 to V3
  .gitignore
  contracts/.eslintrc.cjs
  contracts/.prettierrc.cjs
  contracts/hardhat.config.ts
  contracts/package.json
  pnpm-lock.yaml
Due: hardhat

chore: remove old .js config files after ESM migration
  contracts/.eslintrc.js
  contracts/.prettierrc.js
Due: hardhat

chore: add V3 verify config and docgen compatibility notes
  contracts/hardhat.config.ts
Due: hardhat

chore: match trace limit getters
  prover/config/traces_limit.go
  prover/zkevm/full.go
Due: none

chore: go.mod update
  prover/go.mod
  prover/go.sum
Due: none

compiler ok
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/prover.go
Due: none

fix: remove blockhash fields from finalization data
  contracts/abi/LineaRollupV8.0.abi
  contracts/src/_testing/unit/rollup/TestLineaRollup.sol
  contracts/src/libraries/FinalizedStateHashing.sol
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/LivenessRecovery.sol
  contracts/src/rollup/forcedTransactions/ForcedTransactionGateway.sol
  contracts/src/rollup/forcedTransactions/interfaces/IForcedTransactionGateway.sol
  contracts/src/rollup/interfaces/ILineaRollupBase.sol
  contracts/src/rollup/interfaces/ILivenessRecovery.sol
  contracts/test/hardhat/_testData/compressedData/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-82-153.json
  contracts/test/hardhat/_testData/compressedData/test/aggregatedProof-1-46.json
  contracts/test/hardhat/_testData/compressedDataEip4844/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-82-139.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/forcedTransaction-0.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/forcedTransaction-1.json
  contracts/test/hardhat/_testData/compressedDataEip4844/test/aggregatedProof-1-46.json
  contracts/test/hardhat/common/helpers/dataGeneration.ts
  contracts/test/hardhat/common/helpers/hashing.ts
  contracts/test/hardhat/common/types.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
  contracts/test/hardhat/rollup/helpers/expect.ts
  prover/backend/aggregation/craft.go
  prover/circuits/aggregation/circuit_test.go
  prover/circuits/pi-interconnection/e2e_test.go
  prover/circuits/pi-interconnection/test_utils/test_utils.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/cmd.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/random_gen.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-agg-2.json
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-agg.json
  prover/public-input/aggregation.go
  prover/public-input/aggregation_testdata_test.go
Due: hardhat

tests
  contracts/scripts/operational/contract-integrity-verifier/tests/run-tests.ts
Due: hardhat

readme tweak
  contracts/scripts/operational/contract-integrity-verifier/README.md
Due: hardhat

extract invalidity public inputs from wizard zkevm
  prover/zkevm/prover/invalidityPI/invalidity_pi.go
  prover/zkevm/prover/publicInput/invalidityPI/invalidity_pi.go
  prover/zkevm/prover/publicInput/invalidityPI/invalidity_pi_test.go
  prover/zkevm/zkevm.go
Due: none

removed BlockHash from the aggregation response
  prover/backend/aggregation/craft.go
  prover/backend/aggregation/response.go
Due: none

fix: remove blockhash fields from finalization data (#2134)
  contracts/abi/LineaRollupV8.0.abi
  contracts/src/_testing/unit/rollup/TestLineaRollup.sol
  contracts/src/libraries/FinalizedStateHashing.sol
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/LivenessRecovery.sol
  contracts/src/rollup/forcedTransactions/ForcedTransactionGateway.sol
  contracts/src/rollup/forcedTransactions/interfaces/IForcedTransactionGateway.sol
  contracts/src/rollup/interfaces/ILineaRollupBase.sol
  contracts/src/rollup/interfaces/ILivenessRecovery.sol
  contracts/test/hardhat/_testData/compressedData/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-82-153.json
  contracts/test/hardhat/_testData/compressedData/test/aggregatedProof-1-46.json
  contracts/test/hardhat/_testData/compressedDataEip4844/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-82-139.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/forcedTransaction-0.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/forcedTransaction-1.json
  contracts/test/hardhat/_testData/compressedDataEip4844/test/aggregatedProof-1-46.json
  contracts/test/hardhat/common/helpers/dataGeneration.ts
  contracts/test/hardhat/common/helpers/hashing.ts
  contracts/test/hardhat/common/types.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
  contracts/test/hardhat/rollup/helpers/expect.ts
  prover/backend/aggregation/craft.go
  prover/backend/aggregation/response.go
  prover/circuits/aggregation/circuit_test.go
  prover/circuits/pi-interconnection/e2e_test.go
  prover/circuits/pi-interconnection/test_utils/test_utils.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/cmd.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/random_gen.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-agg-2.json
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-agg.json
  prover/public-input/aggregation.go
  prover/public-input/aggregation_testdata_test.go
Due: hardhat

docs: add NatSpec to PaymentSplitterWrapper constructor
  contracts/src/operational/PaymentSplitterWrapper.sol
Due: hardhat

chore: gofmt
  prover/cmd/controller/controller/controller_test.go
  prover/cmd/controller/controller/job_definition.go
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector.go
Due: none

new
  .cursor/skills/migrate-to-hardhat-v3/references/migration-plan.md
  .gitignore
Due: none

fix: update finalization test data
  contracts/test/hardhat/_testData/compressedData/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-82-153.json
  contracts/test/hardhat/_testData/compressedData/test/aggregatedProof-1-46.json
  contracts/test/hardhat/_testData/compressedDataEip4844/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-82-139.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/forcedTransaction-0.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/forcedTransaction-1.json
  contracts/test/hardhat/_testData/compressedDataEip4844/test/aggregatedProof-1-46.json
Due: hardhat

fix: remove block hash in test
  contracts/test/hardhat/rollup/LineaRollup/Finalization.ts
  contracts/test/hardhat/rollup/helpers/type.ts
Due: hardhat

bug fixes, still at compile
  prover/protocol/distributed/conglomeration_hierarchical.go
  prover/protocol/distributed/module_gl.go
  prover/protocol/distributed/module_lpp.go
  prover/protocol/wizard/gnark_verifier.go
Due: none

optimize GnarkEvaluateLagrangeExt
  prover/crypto/vortex/verifier_circuit_common.go
  prover/maths/polynomials/lagrange.go
  prover/protocol/compiler/standard_benchmark_test.go
Due: none

testing the assignment of invalidity public inputs, test passes
  prover/zkevm/prover/ecdsa/address.go
  prover/zkevm/prover/ecdsa/address_test.go
  prover/zkevm/prover/ecdsa/antichamber.go
  prover/zkevm/prover/ecdsa/antichamber_columns.go
  prover/zkevm/prover/ecdsa/antichamber_constraints.go
  prover/zkevm/prover/ecdsa/antichamber_test.go
  prover/zkevm/prover/ecdsa/ecdsa.go
  prover/zkevm/prover/ecdsa/txn_signature.go
  prover/zkevm/prover/ecdsa/txn_signature_test.go
  prover/zkevm/prover/ecdsa/utils_for_test.go
  prover/zkevm/prover/publicInput/invalidityPI/invalidity_pi_test.go
Due: none

optimize GnarkEvaluateLagrangeExt (#2135)
  prover/crypto/vortex/verifier_circuit_common.go
  prover/maths/polynomials/lagrange.go
  prover/protocol/compiler/standard_benchmark_test.go
Due: none

[Coordinator] Test unhappy path in ProofAggregationCoordinatorService (#2118)
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorServiceTest.kt
Due: kotlin

comments
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ConflationToml.kt
Due: kotlin

fix: input fillers
  prover/zkevm/prover/bls/input_fillers.go
Due: none

[Coordinator] some minor fixes (#2117)
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/ApiConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ApiConfigToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ConflationToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/api/Api.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorApp.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ApiConfigParsingTest.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ConflationParsingTest.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedBlobCompressionProverClientV2.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedProofAggregationClientV2.kt
Due: kotlin

feat: add deploy scripts for linea rollup v8
  contracts/deploy/03_deploy_LineaRollupV8WithReinitialization.ts
  contracts/local-deployments-artifacts/deployPlonkVerifierAndLineaRollupV8.ts
  contracts/local-deployments-artifacts/dynamic-artifacts/LineaRollupV8.json
  contracts/local-deployments-artifacts/static-artifacts/AddressFilter.json
Due: hardhat

chore(bridge-ui): aligne design with Linea Hub (#2063)
  bridge-ui/src/assets/icons/app.svg
  bridge-ui/src/assets/icons/reward.svg
  bridge-ui/src/assets/icons/tokens.svg
  bridge-ui/src/components/side-bar-mobile/index.tsx
  bridge-ui/src/components/side-bar-mobile/side-bar-mobile.module.scss
  bridge-ui/src/components/side-bar/index.tsx
  bridge-ui/src/components/side-bar/side-bar.module.scss
Due: none

implemented the define function for public input of invalidity (defining constraints)
  prover/zkevm/prover/common/common_constraints/common_constraints.go
  prover/zkevm/prover/publicInput/invalidityPI/invalidity_pi.go
  prover/zkevm/prover/publicInput/invalidityPI/invalidity_pi_test.go
Due: none

bug bot fixes
  contracts/scripts/operational/contract-integrity-verifier/src/utils/markdown-config.ts
  contracts/scripts/operational/contract-integrity-verifier/src/verifier.ts
Due: hardhat

[Coordinator] Refactor conflation calculator creation for code reuse
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationAppHelper.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/TimestampHardForkConflationCalculator.kt
Due: kotlin

Spotless
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/ForcedTransactionTest.kt
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/methods/LineaSendForcedRawTransaction.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/LineaForcedTransactionPool.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/AllowedAddressTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/rpc/methods/LineaGetForcedTransactionInclusionStatusTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/rpc/methods/LineaSendForcedRawTransactionTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/forced/LineaForcedTransactionPoolTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactoryTest.java
Due: none

Removed useless param
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/ForcedTransactionPoolService.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/LineaForcedTransactionPool.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/rpc/methods/LineaGetForcedTransactionInclusionStatusTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/forced/LineaForcedTransactionPoolTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactoryTest.java
Due: none

[Coordinator] Refactor conflation calculator creation for code reuse (#2136)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationAppHelper.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/TimestampHardForkConflationCalculator.kt
Due: kotlin

fix: all params including mpts are fixed
  prover/protocol/distributed/conglomeration_test.go
  prover/protocol/distributed/segment_compilation.go
Due: none

bug hunt
  contracts/scripts/operational/contract-integrity-verifier/src/types.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/abi.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/bytecode.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/markdown-config.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/state.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/storage-path.ts
  contracts/scripts/operational/contract-integrity-verifier/src/verifier.ts
  contracts/scripts/operational/contract-integrity-verifier/tests/run-tests.ts
  contracts/scripts/operational/contract-integrity-verifier/tools/generate-schema.ts
Due: hardhat

more bug hunting
  contracts/scripts/operational/contract-integrity-verifier/src/utils/abi.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/bytecode.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/markdown-config.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/state.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/storage-path.ts
  contracts/scripts/operational/contract-integrity-verifier/src/verifier.ts
  contracts/scripts/operational/contract-integrity-verifier/tests/run-tests.ts
Due: hardhat

update readme
  contracts/scripts/operational/contract-integrity-verifier/README.md
Due: hardhat

fix(mpts): change query naming to clear iop diff bug
  prover/protocol/compiler/mpts/multipoint_to_singlepoint.go
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
