Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

fix: update event name
  contracts/src/operational/V3DexSwapAdapter.sol
  contracts/src/operational/interfaces/IV3DexSwapAdapter.sol
Due: hardhat

Optimize poseidon2 compiler to reduce proof size (#1632)
  prover/crypto/poseidon2/poseidon2.go
  prover/crypto/vortex/commitment.go
  prover/maths/field/element.go
  prover/protocol/column/store.go
  prover/protocol/compiler/poseidon2/definition_helper.go
  prover/protocol/compiler/poseidon2/poseidon2.go
  prover/protocol/compiler/standard_benchmark_test.go
  prover/protocol/dedicated/byte32cmp/multi_limb_cmp.go
  prover/protocol/dedicated/byte32cmp/one_limb_cmp.go
  prover/protocol/dedicated/counter.go
  prover/protocol/dedicated/counter_precomputed.go
  prover/protocol/dedicated/manual_shift.go
  prover/protocol/dedicated/repeated_pattern.go
  prover/protocol/dedicated/stack_columns.go
  prover/protocol/dedicated/ternary.go
Due: none

add withdrawal fee to unstake
  native-yield-operations/automation-service/src/clients/contracts/YieldManagerContractClient.ts
  native-yield-operations/automation-service/src/core/abis/StakingVault.ts
  native-yield-operations/automation-service/src/services/operation-mode-processors/OssificationPendingProcessor.ts
  ts-libs/linea-shared-utils/src/clients/ViemBlockchainClientAdapter.ts
  ts-libs/linea-shared-utils/src/core/client/IBlockchainClient.ts
Due: none

fix: rename event and deployment script
  contracts/deploy/20_deploy_V3DexSwapAdapter.ts
  contracts/docs/api/operational/RollupRevenueVault.mdx
  contracts/docs/api/operational/V3DexSwapAdapter.mdx
  contracts/docs/api/operational/V3DexSwapWethDepositAdapter.mdx
  contracts/docs/api/operational/interfaces/IL1LineaToken.mdx
  contracts/docs/api/operational/interfaces/IRollupRevenueVault.mdx
  contracts/docs/api/operational/interfaces/ISwapRouterV3.mdx
  contracts/docs/api/operational/interfaces/IV3DexSwapAdapter.mdx
  contracts/test/hardhat/operational/V3DexSwapAdapter.ts
Due: hardhat

fix
  native-yield-operations/automation-service/src/clients/contracts/YieldManagerContractClient.ts
Due: none

null -> undefined
  native-yield-operations/automation-service/src/application/metrics/recordUnstakeRebalanceFromSafeWithdrawalResult.ts
  native-yield-operations/automation-service/src/application/metrics/updateMetricsForReportYieldResult.ts
  native-yield-operations/automation-service/src/clients/contracts/YieldManagerContractClient.ts
  native-yield-operations/automation-service/src/core/clients/contracts/IYieldManager.ts
Due: none

rm Write and ReadInt64On32Bytes, update to On16Bytes
  prover/crypto/state-management/accumulator/leafopening.go
  prover/crypto/state-management/accumulator/proverstate.go
  prover/crypto/state-management/accumulator/verifierstate.go
  prover/utils/types/account.go
  prover/utils/types/common.go
  prover/utils/types/common_test.go
  prover/zkevm/prover/statemanager/statesummary/assignment.go
Due: none

fix metric update
  native-yield-operations/automation-service/src/application/metrics/updateMetricsForReportYieldResult.ts
Due: none

feat: add event in V3DexSwapWethDepositAdapter
  contracts/src/operational/V3DexSwapWethDepositAdapter.sol
  contracts/test/hardhat/operational/V3DexWethDepositAdapter.ts
Due: hardhat

added liability principal payment metric to withdrawal
  native-yield-operations/automation-service/src/application/main/NativeYieldAutomationServiceBootstrap.ts
  native-yield-operations/automation-service/src/application/metrics/recordUnstakeRebalanceFromSafeWithdrawalResult.ts
  native-yield-operations/automation-service/src/application/metrics/updateMetricsForProgressOssification.ts
  native-yield-operations/automation-service/src/application/metrics/updateMetricsForSafeWithdrawalResult.ts
  native-yield-operations/automation-service/src/clients/contracts/YieldManagerContractClient.ts
  native-yield-operations/automation-service/src/core/clients/contracts/IYieldManager.ts
  native-yield-operations/automation-service/src/core/entities/WithdrawalEvent.ts
  native-yield-operations/automation-service/src/services/operation-mode-processors/OssificationCompleteProcessor.ts
  native-yield-operations/automation-service/src/services/operation-mode-processors/OssificationPendingProcessor.ts
  native-yield-operations/automation-service/src/services/operation-mode-processors/YieldReportingProcessor.ts
Due: none

added liability payment to all paths
  native-yield-operations/automation-service/src/application/metrics/updateMetricsForProgressOssificationResult.ts
  native-yield-operations/automation-service/src/application/metrics/updateMetricsForTransferFundsResult.ts
  native-yield-operations/automation-service/src/services/operation-mode-processors/OssificationPendingProcessor.ts
  native-yield-operations/automation-service/src/services/operation-mode-processors/YieldReportingProcessor.ts
Due: none

print stack trace when GL/LPP provers panic
  prover/backend/execution/limitless/prove.go
Due: none

feat: set plugin-linea-max-block-calldata-size to 109000
  linea-besu-package/linea-besu/profiles/advanced-mainnet.toml
  linea-besu-package/linea-besu/profiles/advanced-sepolia.toml
Due: none

Add option to consider all peers a direct connection for gossip broadcast (#441)
  maru/config/src/main/kotlin/maru/config/Config.kt
  maru/config/src/test/kotlin/maru/config/HopliteFriendlinessTest.kt
  maru/p2p/src/main/kotlin/maru/p2p/Libp2pNetworkFactory.kt
Due: none

fix: rename variables and event params
  contracts/src/operational/RollupRevenueVault.sol
  contracts/src/operational/V3DexSwapWethDepositAdapter.sol
  contracts/src/operational/interfaces/IRollupRevenueVault.sol
Due: hardhat

test for chi is passing
  prover/protocol/dedicated/repeated_pattern_test.go
  prover/zkevm/prover/hash/keccak/keccakf/lookups.go
  prover/zkevm/prover/hash/keccak/keccakf/lookups_test.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/chi.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/chi_test.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/sub_protocols/protocols.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/sub_protocols/protocols_test.go
Due: none

[Fix] All Cyfrin Fixes (#1620)
  contracts/deploy/18_deploy_RollupRevenueVault.ts
  contracts/deploy/18_deploy_RollupRevenueVaultWithReinitialization.ts
  contracts/deploy/20_deploy_V3DexSwapAdapter.ts
  contracts/docs/api/operational/RollupRevenueVault.mdx
  contracts/docs/api/operational/V3DexSwapAdapter.mdx
  contracts/docs/api/operational/V3DexSwapWethDepositAdapter.mdx
  contracts/docs/api/operational/interfaces/IL1LineaToken.mdx
  contracts/docs/api/operational/interfaces/IRollupRevenueVault.mdx
  contracts/docs/api/operational/interfaces/ISwapRouterV3.mdx
  contracts/docs/api/operational/interfaces/IV3DexSwapAdapter.mdx
  contracts/src/_testing/mocks/operational/TestDexRouter.sol
  contracts/src/_testing/mocks/operational/TestDexSwapAdapter.sol
  contracts/src/operational/RollupRevenueVault.sol
  contracts/src/operational/V3DexSwapAdapter.sol
  contracts/src/operational/V3DexSwapWethDepositAdapter.sol
  contracts/src/operational/interfaces/IRollupRevenueVault.sol
  contracts/src/operational/interfaces/ISwapRouterV3.sol
  contracts/src/operational/interfaces/IV3DexSwapAdapter.sol
  contracts/test/hardhat/common/helpers/expectations.ts
  contracts/test/hardhat/operational/RollupRevenueVault.ts
  contracts/test/hardhat/operational/V3DexSwapAdapter.ts
  contracts/test/hardhat/operational/V3DexWethDepositAdapter.ts
  contracts/test/hardhat/operational/helpers/deploy.ts
Due: hardhat

add return after recover
  prover/backend/execution/limitless/prove.go
Due: none

chore: add contracts bytecodes, update MDX contracts docs
  contracts/deploy/18_deploy_RollupRevenueVault.ts
  contracts/deploy/19_deploy_L1LineaTokenBurner.ts
  contracts/deploy/20_deploy_V3DexSwapAdapter.ts
  contracts/deployments/bytecode/2025-10-27/L1LineaTokenBurner.json
  contracts/deployments/bytecode/2025-10-27/L1LineaTokenBurner.txt
  contracts/deployments/bytecode/2025-10-27/RollupRevenueVault.json
  contracts/deployments/bytecode/2025-10-27/RollupRevenueVault.txt
  contracts/deployments/bytecode/2025-10-27/V3DexSwapAdapter.json
  contracts/deployments/bytecode/2025-10-27/V3DexSwapAdapter.txt
  contracts/deployments/bytecode/2025-10-27/V3DexSwapWethDepositAdapter.json
  contracts/deployments/bytecode/2025-10-27/V3DexSwapWethDepositAdapter.txt
  contracts/docs/api/operational/RollupRevenueVault.mdx
  contracts/docs/api/operational/V3DexAdapter.mdx
  contracts/docs/api/operational/interfaces/IRollupRevenueVault.mdx
  contracts/docs/api/operational/interfaces/IV3DexAdapter.mdx
  contracts/hardhat_overrides.ts
Due: hardhat

feat: aligning advanced and basic mainnet besu config in linea-besu-p… (#1625)
  .github/workflows/linea-besu-package-release.yml
  docker/compose-spec-l2-services.yml
  docs/getting-started/linea-mainnet/docker-compose.yml
  docs/getting-started/linea-sepolia/docker-compose.yml
  linea-besu-package/README.md
  linea-besu-package/docker/docker-compose-advanced-mainnet.yaml
  linea-besu-package/docker/docker-compose-advanced-sepolia.yaml
  linea-besu-package/docker/docker-compose-basic-mainnet.yaml
  linea-besu-package/docker/docker-compose-basic-sepolia.yaml
  linea-besu-package/linea-besu/profiles/advanced-mainnet.toml
  linea-besu-package/linea-besu/profiles/advanced-sepolia.toml
  linea-besu-package/linea-besu/profiles/basic-mainnet.toml
  linea-besu-package/scripts/assemble-packages.sh
Due: none

integrating iota step
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/chi.go
  prover/zkevm/prover/hash/keccak/keccakf_koalabear/chi_test.go
Due: none

use chan ptr for cong. proof
  prover/backend/execution/limitless/prove.go
Due: none

refactor: WriteInt64On16Bytes and ReadInt64On16Bytes store 2 bytes in every 4 bytes(one field.Element)
  prover/utils/types/common.go
  prover/utils/types/common_test.go
Due: none

fix: refactor scripts and fix issues
  operations/src/commands/burn-and-bridge.ts
  operations/src/commands/submit-invoice.ts
Due: none

add generic padding and remove padding helpers
  prover/utils/types/common.go
Due: none

fix: a merge problem, naming change
  prover/crypto/poseidon2/poseidon2.go
  prover/crypto/poseidon2/poseidon2_test.go
  prover/crypto/state-management/smt/tree_test.go
Due: none

refactor: read and write big int ok
  prover/utils/types/account.go
  prover/utils/types/common.go
  prover/utils/types/common_test.go
Due: none

refactor: ethadd + bytes32
  prover/backend/execution/statemanager/worldstate.go
  prover/crypto/state-management/accumulator/leafopening.go
  prover/crypto/state-management/accumulator/testvectors_poseidon2_test.go
  prover/utils/types/account.go
  prover/utils/types/account_test.go
  prover/utils/types/bytes32.go
  prover/utils/types/common.go
  prover/utils/types/ethaddress.go
  prover/utils/types/ethaddress_test.go
  prover/utils/types/full_bytes_32.go
  prover/utils/types/full_bytes_32_test.go
  prover/zkevm/prover/statemanager/mock/shomei.go
  prover/zkevm/prover/statemanager/statesummary/account_peek.go
Due: none

did lido dashboard interface changes
  contracts/src/_testing/mocks/yield/MockDashboard.sol
  contracts/src/yield/LidoStVaultYieldProvider.sol
  contracts/src/yield/interfaces/vendor/lido/IDashboard.sol
  contracts/test/hardhat/yield/integration/YieldManager.integration.ts
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProvider.yield.ts
Due: hardhat

did try-catch for Dashboard.disburseFees
  contracts/src/_testing/mocks/yield/MockDashboard.sol
  contracts/src/yield/LidoStVaultYieldProvider.sol
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProvider.yield.ts
Due: hardhat

add ossified check to fundYieldProvider
  contracts/src/yield/LidoStVaultYieldProvider.sol
  contracts/src/yield/interfaces/IYieldProvider.sol
  contracts/test/hardhat/common/constants/yield.ts
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProvider.basic.ts
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProvider.yield.ts
Due: hardhat

rm unused fields in _syncExternalLiabilitySettlement
  contracts/src/_testing/unit/yield/TestLidoStVaultYieldProvider.sol
  contracts/src/_testing/unit/yield/TestYieldManager.sol
  contracts/src/yield/LidoStVaultYieldProvider.sol
  contracts/test/hardhat/yield/unit/LidoStVaultYieldProvider.yield.ts
Due: hardhat

Workflow to publish all jvm-libs with default version 0.0.<timestamp> (#1063)
  .github/workflows/maven-release-all.yml
Due: none

Make MetricsCategory an interface and add default tags (#1088)
  coordinator/core/src/main/kotlin/net/consensys/linea/metrics/LineaMetricsCategory.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/JsonRpcMessageProcessor.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClient.kt
  jvm-libs/linea/core/metrics/src/main/kotlin/net/consensys/linea/metrics/MetricsFacade.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/DynamicTagTimerCapture.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/Extensions.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/MicrometerMetricsFacade.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/MicrometerMetricsFacadeTest.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/metrics/LineaMetricsCategory.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/TransactionExclusionServiceV1Impl.kt
Due: kotlin

[WIP Fix] Linea Sequencer Plugin Unit Tests (#1100)
  .github/workflows/linea-sequencer-plugin-testing.yml
  besu-plugins/linea-sequencer/sequencer/build.gradle
Due: none

coordinator: delete legacy MinMineableFeesPricerServiceIntegrationTest (#1112)
  coordinator/ethereum/gas-pricing/static-cap/build.gradle
  coordinator/ethereum/gas-pricing/static-cap/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/coordination/dynamicgasprice/MinMineableFeesPricerServiceIntegrationTest.kt
  coordinator/ethereum/gas-pricing/static-cap/src/integrationTest/resources/log4j2.xml
  coordinator/ethereum/gas-pricing/static-cap/src/integrationTest/resources/vertx-options.json
Due: kotlin

Localstack web3j default signer (#1111)
  Makefile
  docker/compose-spec-l2-services.yml
  docker/compose-tracing-v2-ci-extension.yml
  docker/compose-tracing-v2-extra-extension.yml
  docker/compose-tracing-v2.yml
Due: none

feat: add script for assemble linea besu packages and makefile (#1050)
  .github/actions/linea-besu-package/assemble/action.yml
  .github/workflows/linea-besu-package-release.yml
  .github/workflows/reuse-linea-besu-package-run-test.yml
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  docker/compose-spec-l2-services.yml
  e2e/src/common/utils.ts
  e2e/src/shomei-get-proof.spec.ts
  linea-besu-package/Makefile
  linea-besu-package/README.md
  linea-besu-package/scripts/assemble-packages.sh
  linea-besu-package/scripts/besu-container-verify.sh
Due: kotlin
