Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

temp: on push
  .github/workflows/arithmetization-zkc-riscv-check-compilation.yml
Due: none

fix: go corset install
  .github/actions/setup-arithmetization-riscv/action.yml
  .github/workflows/arithmetization-zkc-riscv-check-compilation.yml
Due: none

bum shomei to v3.1.0
  docker/compose-spec-l2-services.yml
  gradle/libs.versions.toml
Due: none

feat: on sm gh runner + checkout go-corset repo
  .github/workflows/arithmetization-zkc-riscv-check-compilation.yml
Due: none

ci: fix tracer paths trigger
  .github/workflows/main.yml
Due: none

temp: breaking zkc compilation
  arithmetization/src/main/riscv/main.zkc
Due: none

feat: compiling is back
  arithmetization/src/main/riscv/main.zkc
Due: none

feat: enable compilation on pr and push
  .github/workflows/arithmetization-zkc-riscv-check-compilation.yml
Due: none

feat: add README with CI section
  arithmetization/README.md
Due: none

Maru update in the local stack test
  docker/compose-spec-l2-services.yml
Due: none

bump state-manager version to 3.1.0 in coordinator config
  config/coordinator/coordinator-config-v2.toml
Due: none

Update shomei to v3.1.0 with Besu 26.2 (#2764)
  .github/workflows/main.yml
  config/coordinator/coordinator-config-v2.toml
  docker/compose-spec-l2-services.yml
  gradle/libs.versions.toml
Due: none

fixed makefile
  arithmetization/src/test/examples/asm/makefile
Due: none

fix: else-if's in the interpreter loop + no resolved automatic fail
  arithmetization/src/main/riscv/interpreter.zkc
Due: none

restructured Makefile
  arithmetization/src/test/examples/asm/makefile
Due: none

fixed PC print
  arithmetization/src/main/riscv/main.zkc
Due: none

wip: debug badprecompile
  prover/backend/execution/limitless/perf_log.go
  prover/backend/invalidity/limitless/prove.go
  prover/backend/invalidity/prove.go
  prover/backend/testing/k/14809306-14809361-getZkInvalidityProof-badprecompile.json
  prover/cmd/prover/cmd/prove.go
  prover/cmd/prover/main.go
  prover/zkevm/prover/ecdsa/antichamber_constraints.go
Due: none

fixup: go fmt
  prover/circuits/execution/pi_check.go
Due: none

fix: update bridge token e2e tests timeout
  e2e/src/bridge-tokens.spec.ts
Due: none

fix: update default postman docker image
  docker/compose-spec-l2-services.yml
Due: none

postman codecov
  .github/workflows/codecov-external-pr.yml
  .github/workflows/postman-testing.yml
  .github/workflows/testing.yml
  AGENTS.md
  codecov.yml
  docs/ci.md
Due: none

pathing changes
  .github/workflows/codecov-external-pr.yml
  .github/workflows/postman-testing.yml
  docs/ci.md
Due: none

feat: add cleanup ftx db (#2658)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/proofcreation/ZkProofCreationCoordinatorImpl.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitor.kt
  coordinator/ethereum/finalization-monitor/build.gradle
  coordinator/ethereum/finalization-monitor/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImpl.kt
  coordinator/ethereum/finalization-monitor/src/test/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImplTest.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandlerTest.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandler.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/contract/l1/FinalizedStateDataProvider.kt
  jvm-libs/linea/clients/interfaces/src/testFixtures/kotlin/linea/contract/l1/FakeFinalizedStateDataProvider.kt
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
Due: kotlin

feat: create polling service to monitor highest consecutive proven batch block number (#2676)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitor.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitorTest.kt
Due: kotlin

chore: Besu update
  gradle/libs.versions.toml
Due: none

more coverage
  .github/workflows/codecov-external-pr.yml
  .github/workflows/lido-governance-monitor-testing.yml
  .github/workflows/linea-tracer-plugin-release.yml
  .github/workflows/native-yield-automation-service-testing.yml
  .github/workflows/postman-testing.yml
  .github/workflows/prover-testing.yml
  .github/workflows/reusable-tracer-unit-tests.yml
  .github/workflows/sdk-testing.yml
  .github/workflows/testing.yml
  .github/workflows/tracer-gradle-tests.yml
  AGENTS.md
  codecov.yml
  docs/ci.md
  ts-libs/linea-native-libs/jest.config.js
Due: none

feat: multiple compressor instances in libcompressor.go
  prover/lib/compressor/libcompressor/libcompressor.go
Due: none

feat: kotlin side
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/GoNativeBlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorTest.kt
Due: kotlin

docs
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/GoNativeBlobCompressor.kt
Due: kotlin

test v4
  jvm-libs/linea/blob-compressor/build.gradle
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorLegacyTest.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorTest.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/net/consensys/linea/blob/GoNativeCompressorAndShnarfCalculatorIntTest.kt
  prover/lib/compressor/libcompressor/libcompressor.h
Due: kotlin

fix: Init error handling
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/GoNativeBlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorTest.kt
  prover/lib/compressor/libcompressor/libcompressor.go
Due: kotlin

build: regen c header
  prover/lib/compressor/libcompressor/libcompressor.h
Due: none

fix: cursor feedback
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/GoNativeBlobCompressor.kt
Due: kotlin

fix: feedback
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorTest.kt
Due: kotlin

Refactor kotlin blob compressor code
  besu-plugins/state-recovery/appcore/logic/src/test/kotlin/linea/staterecovery/BlobDecompressorAndDeserializerV1Test.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressorSelector.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/GoBackedBlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/GoNativeBlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/test/java/linea/blob/CompressorJavaAccessTest.java
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/BlobCompressorSelectorTest.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorLegacyTest.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorTest.kt
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressorTest.kt
  transaction-decoder-tool/src/test/kotlin/linea/test/BlockEncodingValidator.kt
Due: kotlin

Add canAppend test, remove comp v1_2 and v3 fallbacks to v4
  besu-plugins/state-recovery/appcore/logic/src/test/kotlin/linea/staterecovery/BlobDecompressorAndDeserializerV1Test.kt
  jvm-libs/linea/blob-compressor/build.gradle
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/GoBackedBlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/GoNativeBlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/BlobCompressorSelectorTest.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorLegacyTest.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorTest.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/net/consensys/linea/blob/GoNativeCompressorAndShnarfCalculatorIntTest.kt
  transaction-decoder-tool/src/test/kotlin/linea/test/BlockEncodingValidator.kt
Due: kotlin

Review comments
  besu-plugins/state-recovery/appcore/logic/src/test/kotlin/linea/staterecovery/BlobDecompressorAndDeserializerTest.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressorSelector.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorTest.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/net/consensys/linea/blob/GoNativeCompressorAndShnarfCalculatorIntTest.kt
  jvm-libs/linea/blob-shnarf-calculator/build.gradle
  jvm-libs/linea/blob-shnarf-calculator/src/main/kotlin/linea/blob/GoNativeBlobShnarfCalculator.kt
  jvm-libs/linea/blob-shnarf-calculator/src/test/kotlin/linea/blob/GoNativeBlobShnarfCalculatorTest.kt
Due: kotlin

rename actions for prover actions
  prover/wiop/class_diagram.mmd
  prover/wiop/docs.go
  prover/wiop/wiop_actions.go
  prover/wiop/wiop_round.go
  prover/wiop/wiop_runtime.go
  prover/wiop/wioptest/vanishing_scenario.go
Due: none

fix: update bridge token e2e tests timeout and update postman default docker image tag (#2772)
  docker/compose-spec-l2-services.yml
  e2e/src/bridge-tokens.spec.ts
Due: none

revert and correct verifiers
  contracts/docs/deployment/README.md
  contracts/src/verifiers/7702/PlonkVerifierMainnetFull.sol
  contracts/src/verifiers/7702/PlonkVerifierSepoliaFull.sol
  contracts/src/verifiers/PlonkVerifierMainnetFull.sol
  contracts/src/verifiers/PlonkVerifierSepoliaFull.sol
  contracts/src/verifiers/osaka/PlonkVerifierMainnetFull.sol
  contracts/src/verifiers/osaka/PlonkVerifierSepoliaFull.sol
  contracts/test/hardhat/rollup/helpers/deploy.ts
  docs/tech/components/contracts.md
Due: hardhat
