Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

Add signer field to invalidity response and update test data
  contracts/test/hardhat/_testData/compressedData/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-82-153.json
  contracts/test/hardhat/_testData/compressedData/test/aggregatedProof-1-46.json
  contracts/test/hardhat/_testData/compressedDataEip4844/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-82-139.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/forcedTransaction-0.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/forcedTransaction-1.json
  contracts/test/hardhat/_testData/compressedDataEip4844/test/aggregatedProof-1-46.json
  prover/backend/invalidity/prove.go
  prover/backend/invalidity/response.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/invalidity_test.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/random_gen.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-invalidity-2.json
Due: hardhat

feat: switch costGEQStipendTest test to nightly to run blake with 2300+ rounds
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/instructionprocessing/callTests/sixtyThreeSixtyFourthsPrecompiles/SixtyThreeSixtyFourthsPrecompileTests.java
  tracer/gradle/tests.gradle
Due: none

coordinator: support for contract version 7
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/contract/l1/LineaSmartContractClient.kt
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
Due: kotlin

coordinator: remove unused method in compressor
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressor.kt
Due: kotlin

coordinator: support for contract version 7
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupFunctionBuilders.kt
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/MakefileContractDeploymentHelper.kt
Due: kotlin

coordinator: fix flacky test
  jvm-libs/generic/vertx-helper/src/test/kotlin/net/consensys/linea/vertx/ObservabilityServerTest.kt
Due: kotlin

coordinator: support contract v7 by using v6 impl (#2060)
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupFunctionBuilders.kt
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/MakefileContractDeploymentHelper.kt
  jvm-libs/generic/vertx-helper/src/test/kotlin/net/consensys/linea/vertx/ObservabilityServerTest.kt
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/BlobCompressor.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/contract/l1/LineaSmartContractClient.kt
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
Due: kotlin

migrated rlpauth to monorepo
  tracer-constraints/Makefile
  tracer-constraints/hub/osaka/columns/shared.lisp
  tracer-constraints/rlpauth/rlpauth.zkasm
  tracer-constraints/rlpauth/test/compute_rlp.json
Due: none

chore(bridge-ui): aligne design with Linea Hub
  bridge-ui/src/assets/icons/app.svg
  bridge-ui/src/assets/icons/reward.svg
  bridge-ui/src/assets/icons/tokens.svg
  bridge-ui/src/components/side-bar-mobile/index.tsx
  bridge-ui/src/components/side-bar-mobile/side-bar-mobile.module.scss
  bridge-ui/src/components/side-bar/index.tsx
  bridge-ui/src/components/side-bar/side-bar.module.scss
Due: none

added description of step_8 about setting the code of authority
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

commented out kekkak unused function
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

feat: do Blake2f call at BlakeModexpData module
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2f/Blake2f.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2f/Blake2fOperation.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2fmodexpdata/BlakeModexpData.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/call/precompileSubsection/BlakeSubsection.java
Due: none

docs: document network flags for maru and besu (refs #1787) (#2037)
  docker/compose-spec-l2-services.yml
  linea-besu-package/README.md
  linea-besu-package/docker/docker-compose-advanced-mainnet.yaml
  linea-besu-package/docker/docker-compose-advanced-sepolia.yaml
  linea-besu-package/docker/docker-compose-basic-mainnet.yaml
  linea-besu-package/docker/docker-compose-basic-sepolia.yaml
Due: none

[Coordinator] Refactor blob compression proof flow part 1 (#2045)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/MaxLongTracker.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofHandler.kt
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinatorIntTest.kt
  coordinator/persistence/blob/src/test/kotlin/net/consensys/zkevm/ethereum/coordinator/blob/BlobCompressionProofCoordinatorTest.kt
Due: kotlin

Revert "chore: bump Web3Signer image to 25.12.0 (refs #980) (#2023)"
  docker/compose-spec-l2-services.yml
  ts-libs/linea-shared-utils/scripts/test-ethereum-mainnet-client-library-web3-signer.ts
  ts-libs/linea-shared-utils/scripts/test-web3-signer-client-adapter.ts
Due: none

fix traceEndconflation when not blakeé
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2fmodexpdata/BlakeModexpData.java
Due: none

feat: move call only to Blakemodexpdata
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2f/Blake2f.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2fmodexpdata/BlakeModexpData.java
Due: none

added missing bound checks
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

add targetReleaseVersion in tracer folder
  tracer/build.gradle
Due: none

remove erigon patch version
  docs/getting-started/linea-mainnet/docker-compose.yml
  docs/getting-started/linea-sepolia/docker-compose.yml
Due: none

added logic for rlp of ecrecover input
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

fix(msethash): support external hashing for mset hasher
  prover/crypto/hasher_factory/msethash.go
Due: none

loop in blockdata
  tracer-constraints/blockdata/blockdata.zkasm
  tracer-constraints/blockdata/blockdata_checker.zkasm
  tracer-constraints/hub/osaka/lookups/hub_into_block_data.lisp
  tracer/gradle/corset.gradle
Due: none

Sequencer - prepare new release - v4.4-rc7.3.1
  gradle/libs.versions.toml
Due: none

feat: add 128-bit limbs constants
  prover/zkevm/prover/bls/circuits_element.go
Due: none

fix: projection queries
  prover/zkevm/prover/bls/module_msm.go
Due: none

Sequencer - prepare new release - v4.4-rc7.3.1 (#2066)
  gradle/libs.versions.toml
Due: none

linea-besu-package - prepare new release
  linea-besu-package/versions.env
Due: none

copy-paste audit signed off bytecode
  contracts/deployments/bytecode/2026-01-14/LidoStVaultYieldProviderFactory.json
  contracts/deployments/bytecode/2026-01-14/LidoStVaultYieldProviderFactory.txt
  contracts/deployments/bytecode/2026-01-14/LineaRollup.json
  contracts/deployments/bytecode/2026-01-14/LineaRollup.txt
  contracts/deployments/bytecode/2026-01-14/ValidatorContainerProofVerifier.json
  contracts/deployments/bytecode/2026-01-14/ValidatorContainerProofVerifier.txt
  contracts/deployments/bytecode/2026-01-14/YieldManager.json
  contracts/deployments/bytecode/2026-01-14/YieldManager.txt
Due: hardhat

feat: add FilteredAddresses to aggregation public input with variable-length hashing
  prover/backend/aggregation/craft.go
  prover/backend/aggregation/prove.go
  prover/backend/aggregation/request.go
  prover/circuits/aggregation/circuit_test.go
  prover/circuits/pi-interconnection/assign.go
  prover/circuits/pi-interconnection/circuit.go
  prover/circuits/pi-interconnection/circuit_test.go
  prover/circuits/pi-interconnection/compile/test_compile.go
  prover/circuits/pi-interconnection/e2e_test.go
  prover/circuits/pi-interconnection/test_utils/test_utils.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/random_gen.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-agg-2.json
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-agg.json
  prover/config/config.go
  prover/public-input/aggregation.go
  prover/public-input/public_inputs_test.go
Due: none

feat: add projection query from unaligned gnark data MSM to gnark data
  prover/zkevm/prover/bls/module_msm.go
Due: none

linea-besu-package - prepare new release (#2067)
  linea-besu-package/versions.env
Due: none

debug ...
  tracer-constraints/Makefile
  tracer-constraints/blockdata/blockdata.zkasm
  tracer-constraints/blockdata/blockdata_checker.zkasm
  tracer-constraints/blockdata/blockdata_relnumchecker.zkasm
  tracer-constraints/blockdata/lookups/blockdata_into_txndata.lisp
  tracer-constraints/blockdata/lookups/into_itself.lispX
  tracer-constraints/blockhash/lookups/blockhash_into_blockdata.lisp
  tracer-constraints/hub/osaka/lookups/hub_into_block_data.lispX
  tracer-constraints/rlptxn/lookups/rlptxn_into_blockdata.lisp
  tracer-constraints/txndata/lookups/txndata_into_block_data.lispX
Due: none

ras
  tracer-constraints/blockdata/blockdata_checker.zkasm
Due: none

fix: MSM membership masks
  prover/zkevm/prover/bls/module_msm.go
Due: none

fix: change ordering within every line
  prover/zkevm/prover/bls/module_msm.go
Due: none

chore: cleanup
  prover/zkevm/prover/bls/module_msm.go
  prover/zkevm/prover/bls/module_msm_test.go
Due: none

test: use plonkinwizard.Compile until dummy plonk in wizard works
  prover/zkevm/prover/bls/module_msm_test.go
Due: none

public input computation
  contracts/hardhat.config.ts
  contracts/src/_testing/unit/rollup/TestLineaRollup.sol
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/forcedTransactions/ForcedTransactionGateway.sol
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransaction_sample_0.ts
  contracts/test/hardhat/rollup/helpers/deploy.ts
  contracts/test/hardhat/rollup/helpers/expect.ts
Due: hardhat

export v8.0 ABI
  contracts/abi/LineaRollupV8.0.abi
Due: hardhat

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
