Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

update docs
  prover/lib/compressor/blob/v0/blob_spec.md
  prover/lib/compressor/blob/v1/blob_spec.md
Due: none

fix: Prevent underflow in LastFinalizedBlockNumber calculation
  prover/backend/aggregation/craft.go
Due: none

useFetchBridgeTransactions.ts
  bridge-ui/src/hooks/useFetchBridgeTransactions.ts
Due: none

antichamber_constraints.go
  prover/zkevm/prover/ecdsa/antichamber_constraints.go
Due: none

coordinator-docker.config.toml
  config/coordinator/coordinator-docker.config.toml
Due: none

Update README.md
  bridge-ui/README.md
Due: none

fix(lint): remove ineffectual assignment
  prover/protocol/compiler/fullrecursion/actions.go
Due: none

fix(test): fix the public-input interconnection e2e tests
  prover/circuits/pi-interconnection/e2e_test.go
  prover/circuits/pi-interconnection/test_utils/test_utils.go
  prover/protocol/wizard/gnark_verifier.go
Due: none

Prover/Global Constraint Boundary Cancellation Explainer (#335)
  prover/protocol/query/global.go
  prover/protocol/query/global_test.go
Due: none

feat: add winston logger in e2e tests
  e2e/jest.config.ts
  e2e/jest.testnet.config.ts
  e2e/package.json
  e2e/src/bridge-tokens.spec.ts
  e2e/src/common/deployments.ts
  e2e/src/common/utils.ts
  e2e/src/config/global.d.ts
  e2e/src/config/jest/global-setup.ts
  e2e/src/config/jest/setup.ts
  e2e/src/config/logger/base-logger.ts
  e2e/src/config/logger/index.ts
  e2e/src/config/logger/logger.ts
  e2e/src/config/tests-config/accounts/account-manager.ts
  e2e/src/gas-limit.spec.ts
  e2e/src/l2.spec.ts
  e2e/src/messaging.spec.ts
  e2e/src/restart.spec.ts
  e2e/src/submission-finalization.spec.ts
  e2e/src/transaction-exclusion.spec.ts
  e2e/tsconfig.json
  pnpm-lock.yaml
Due: none

feat: run gaslimit e2e test only and increased block gas limit to 2b
  docker/config/linea-besu-sequencer/sequencer.config.toml
  e2e/jest.config.ts
  e2e/src/gas-limit.spec.ts
Due: none

feat: improve slack report for daily blockchain tests (#1677)
  tracer/.github/workflows/reference-blockchain-tests.yml
Due: none

fixed complains on the module discoverer
  prover/protocol/distributed/compiler/inclusion/inclusion.go
  prover/protocol/distributed/compiler/inclusion/inclusion_expr_test.go
  prover/protocol/distributed/module_discoverer/module_discoverer.go
  prover/protocol/distributed/module_discoverer/period_separating_module_discoverer.go
Due: none

fix: rename appendTestName function to prefixWithTestName
  e2e/src/config/logger/logger.ts
Due: none

fix: change some log level
  e2e/src/bridge-tokens.spec.ts
  e2e/src/transaction-exclusion.spec.ts
Due: none

Feat: add winston logger in e2e tests (#489)
  e2e/jest.config.ts
  e2e/jest.testnet.config.ts
  e2e/package.json
  e2e/src/bridge-tokens.spec.ts
  e2e/src/common/deployments.ts
  e2e/src/common/utils.ts
  e2e/src/config/global.d.ts
  e2e/src/config/jest/global-setup.ts
  e2e/src/config/jest/setup.ts
  e2e/src/config/logger/base-logger.ts
  e2e/src/config/logger/index.ts
  e2e/src/config/logger/logger.ts
  e2e/src/config/tests-config/accounts/account-manager.ts
  e2e/src/gas-limit.spec.ts
  e2e/src/l2.spec.ts
  e2e/src/messaging.spec.ts
  e2e/src/restart.spec.ts
  e2e/src/submission-finalization.spec.ts
  e2e/src/transaction-exclusion.spec.ts
  e2e/tsconfig.json
  pnpm-lock.yaml
Due: none

add additional test cases
  contracts/contracts/test-contracts/OpcodeTestContract.sol
  contracts/test/lib/PauseManager.ts
Due: hardhat

[Fix] - Compute genesis shnarf dynamically (#353)
  Makefile
  contracts/abi/LineaRollupV6.0.abi
  contracts/contracts/LineaRollup.sol
  contracts/local-deployments-artifacts/deployBridgedTokenAndTokenBridge.ts
  contracts/local-deployments-artifacts/dynamic-artifacts/LineaRollupV6.json
Due: hardhat

validate default admin and fallback operator init (#374)
  contracts/contracts/LineaRollup.sol
  contracts/test/LineaRollup.ts
Due: hardhat

[Fix] 4.5, 4.10 - Allow updating pause to role mappings and prevented using UNUSUED type (#415)
  contracts/contracts/interfaces/IPauseManager.sol
  contracts/contracts/lib/PauseManager.sol
  contracts/contracts/test-contracts/OpcodeTestContract.sol
  contracts/test/common/constants/pauseTypes.ts
  contracts/test/lib/PauseManager.ts
Due: hardhat

[Fix] Use finalization data struct to remove confusion (#354)
  contracts/contracts/LineaRollup.sol
  contracts/contracts/interfaces/l1/ILineaRollup.sol
  contracts/test/LineaRollup.ts
Due: hardhat

remove duplicated initialize from contracts (#417)
  contracts/contracts/LineaRollup.sol
  contracts/contracts/ZkEvmV2.sol
  contracts/contracts/lib/PauseManager.sol
  contracts/contracts/lib/PermissionsManager.sol
  contracts/contracts/messageService/l1/v1/L1MessageServiceV1.sol
  contracts/contracts/messageService/l2/v1/L2MessageServiceV1.sol
  contracts/contracts/messageService/lib/RateLimiter.sol
  contracts/contracts/tokenBridge/TokenBridge.sol
Due: hardhat

use encodeCall vs encodeWithSelector (#414)
  contracts/contracts/ZkEvmV2.sol
Due: hardhat

[Fix] Add more checks to TokenBridge.initialize() (#380)
  contracts/contracts/lib/TokenBridgePauseManager.sol
  contracts/contracts/tokenBridge/TokenBridge.sol
  contracts/contracts/tokenBridge/interfaces/ITokenBridge.sol
  contracts/docs/api/lib/CallForwardingProxy.md
  contracts/docs/api/lib/TokenBridgePauseManager.mdx
  contracts/docs/api/tokenBridge/TokenBridge.mdx
  contracts/docs/api/tokenBridge/interfaces/ITokenBridge.mdx
  contracts/local-deployments-artifacts/dynamic-artifacts/TokenBridge.json
  contracts/test/tokenBridge/TokenBridge.ts
Due: hardhat

staterecover: remove redundant dependency in besu-libs
  jvm-libs/linea/besu-libs/build.gradle
Due: kotlin

add docgen for solidity changes to husky
  .husky/pre-commit.js
  contracts/docs/scripts/updateSidebar.js
  contracts/package.json
Due: hardhat

add solidity docs
  contracts/docs/api/LineaRollup.mdx
  contracts/docs/api/interfaces/IPauseManager.mdx
  contracts/docs/api/interfaces/l1/ILineaRollup.mdx
  contracts/docs/api/lib/CallForwardingProxy.mdx
  contracts/docs/api/lib/PauseManager.mdx
Due: hardhat

Update .husky/pre-commit.js
  .husky/pre-commit.js
Due: none

fix: clean e2e tests logs
  e2e/src/bridge-tokens.spec.ts
  e2e/src/common/deployments.ts
  e2e/src/common/utils.ts
  e2e/src/gas-limit.spec.ts
  e2e/src/l2.spec.ts
  e2e/src/messaging.spec.ts
  e2e/src/restart.spec.ts
  e2e/src/submission-finalization.spec.ts
  e2e/src/transaction-exclusion.spec.ts
Due: none

[Chore] - Match contract docs locally (#493)
  .husky/pre-commit.js
  contracts/docs/api/LineaRollup.mdx
  contracts/docs/api/interfaces/IPauseManager.mdx
  contracts/docs/api/interfaces/l1/ILineaRollup.mdx
  contracts/docs/api/lib/CallForwardingProxy.mdx
  contracts/docs/api/lib/PauseManager.mdx
  contracts/docs/scripts/updateSidebar.js
  contracts/package.json
Due: hardhat

fix: remove .md file in solidity docs folder
  contracts/docs/api/security/pausing/CallForwardingProxy.md
Due: hardhat

bug fix
  prover/maths/field/fext/additional.go
Due: none

fix: clean e2e tests logs (#495)
  e2e/src/bridge-tokens.spec.ts
  e2e/src/common/deployments.ts
  e2e/src/common/utils.ts
  e2e/src/gas-limit.spec.ts
  e2e/src/l2.spec.ts
  e2e/src/messaging.spec.ts
  e2e/src/restart.spec.ts
  e2e/src/submission-finalization.spec.ts
  e2e/src/transaction-exclusion.spec.ts
Due: none
