Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

echo results
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

fix name of needs
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

fix: update tests
  e2e/src/config/tests-config/setup/chains/constants.ts
  e2e/src/messaging.spec.ts
  e2e/src/send-bundle.spec.ts
  e2e/src/transaction-exclusion.spec.ts
Due: none

fix conditions of success
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

rm success
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

typo success
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

rm the tag is back
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

Version where red X shows
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

Maybe fix TimerTest flakiness
  jvm-libs/linea/core/long-running-service/src/test/kotlin/linea/timer/TimerTest.kt
Due: kotlin

Only delete if tag was not preexisting
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

Maybe fix TimerTest flakiness (#1937)
  jvm-libs/linea/core/long-running-service/src/test/kotlin/linea/timer/TimerTest.kt
Due: kotlin

chore(global): enforce node and pnpm versions
  .github/actions/setup-nodejs/action.yml
  .github/workflows/bridge-ui-e2e-tests.yml
  .npmrc
  .nvmrc
  bridge-ui/Dockerfile
  contracts/package.json
  native-yield-operations/automation-service/Dockerfile
  operations/Dockerfile
  operations/package.json
  package.json
  pnpm-lock.yaml
  postman/Dockerfile
Due: hardhat

fix: update node version management
  .github/actions/get-node-version/action.yml
  .github/actions/setup-nodejs/action.yml
  .github/workflows/all-tools.yml
  .github/workflows/bridge-ui-e2e-tests.yml
  .github/workflows/bridge-ui-publish.yml
  .github/workflows/native-yield-automation-service-build-and-publish.yml
  .github/workflows/postman-build-and-publish.yml
  .npmrc
  .nvmrc
  bridge-ui/Dockerfile
  native-yield-operations/automation-service/Dockerfile
  operations/Dockerfile
  package.json
  pnpm-lock.yaml
  postman/Dockerfile
Due: none

test TestDistributedWizardBasic passes
  prover/crypto/fiatshamir/fs.go
  prover/crypto/fiatshamir_bls12377/fiatshamir.go
  prover/crypto/fiatshamir_koalabear/fiatshamir.go
  prover/maths/common/smartvectors/smartvectors.go
  prover/protocol/coin/coin.go
  prover/protocol/compiler/recursion/recursion.go
  prover/protocol/distributed/conglomeration_hierarchical.go
  prover/protocol/distributed/distribute.go
  prover/protocol/distributed/distribute_test.go
  prover/protocol/distributed/module_gl.go
  prover/protocol/distributed/module_lpp.go
  prover/protocol/query/logderiv_sum.go
  prover/protocol/wizard/prover.go
  prover/protocol/wizard/verifier.go
  prover/zkevm/partial.go
  prover/zkevm/zkevm.go
Due: none

fix: change github workflow triggers
  .github/workflows/all-tools.yml
  .github/workflows/bridge-ui-e2e-tests.yml
  .github/workflows/bridge-ui-publish.yml
  .github/workflows/main.yml
Due: none

fix: get node version action
  .github/actions/get-node-version/action.yml
Due: none

Manual CI workflow to run e2e tests with VALIDIUM (#1846)
  .github/workflows/run-validium-e2e-tests.yml
  Makefile
  docker/compose-spec-l2-services.yml
  makefile-contracts.mk
Due: none

echo to test
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

try to output create_tag
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

chore(global): enforce node and pnpm versions (#1938)
  .github/actions/setup-nodejs/action.yml
  .github/workflows/bridge-ui-e2e-tests.yml
  .npmrc
  .nvmrc
  bridge-ui/Dockerfile
  contracts/package.json
  native-yield-operations/automation-service/Dockerfile
  operations/Dockerfile
  operations/package.json
  package.json
  pnpm-lock.yaml
  postman/Dockerfile
Due: hardhat

add outputs in build
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

added more test cases
  prover/protocol/accessors/from_coin.go
  prover/protocol/distributed/distribute_test.go
  prover/protocol/distributed/module_lpp.go
  prover/protocol/distributed/segment_compilation.go
Due: none

(decoder): enable zero copy of strings
  prover/protocol/serde/custom.go
  prover/protocol/serde/decoder.go
  prover/protocol/serde/mmap.go
  prover/protocol/serde/serde.go
Due: none

add comments for FileHeader
  prover/protocol/serde/decoder.go
  prover/protocol/serde/files.go
  prover/protocol/serde/mmap.go
Due: none

🐛 fix: resolve contract verification errors in YieldManager deployment
  contracts/deploy/14_deploy_YieldManager.ts
Due: hardhat

🐛 fix: wait for 5 confirmations before verifying factory-deployed contract
  contracts/deploy/14_deploy_YieldManager.ts
Due: hardhat

fix (public-input): compile errors
  prover/zkevm/prover/publicInput/fetchers_arithmetization/block_data_fetcher.go
Due: none

perf: update to latest gnark-crypto better simd poseidon2
  prover/crypto/vortex/vortex_koalabear/commtiment.go
  prover/go.mod
  prover/go.sum
  prover/maths/field/element.go
Due: none

(refactor): simplify getBinarySize() and add helpful comments for decoder
  prover/protocol/serde/decoder.go
  prover/protocol/serde/encoder.go
  prover/protocol/serde/mmap.go
  prover/protocol/serde/serde.go
Due: none

✨ feat: pause staking when funding yield provider if target reserve deficit exists
  contracts/contracts/yield/YieldManager.sol
  contracts/test/yield/helpers/setup.ts
  contracts/test/yield/unit/YieldManager.funds.ts
Due: hardhat

♻️ refactor: use internal function for target reserve deficit check
  contracts/contracts/yield/YieldManager.sol
Due: hardhat

fix(recursion): make commitment 8 koala
  prover/protocol/compiler/logderivativesum/lookup2logderivsum.go
  prover/protocol/compiler/recursion/circuit.go
  prover/protocol/compiler/recursion/recursion.go
Due: none

fix(recursion): allocation issue of merkle roots resolved
  prover/protocol/compiler/recursion/recursion.go
Due: none

in two steps for the create
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

add delete
  .github/workflows/linea-tracer-plugin-release.yml
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
