Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

[1394] Coordiantor - Make the retention of the Prover Reqeust files optional… (#1395)
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ProverToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorApp.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ProverParsingTest.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/Config.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactoryTest.kt
Due: kotlin

Chore: arithmetization="beta-v4.0-rc0-counting-only---Prague-EXCLUDING-new-precompiles-and-7702" (#1376)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/ExcludedPrecompilesLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimitsLimitless.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits_sendRawTx.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/noModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/strictModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/strictModuleLimitsLimitless.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/txOverflowModuleLimits.toml
  besu-plugins/linea-sequencer/sequencer/src/test/resources/sequencer/line-limits.toml
  gradle/libs.versions.toml
Due: none

Use Besu plugin Gradle plugin for Sequencer plugin (#1282)
  besu-plugins/linea-sequencer/acceptance-tests/build.gradle
  besu-plugins/linea-sequencer/build.gradle
  besu-plugins/linea-sequencer/gradle/common-dependencies.gradle
  besu-plugins/linea-sequencer/gradle/dependency-management.gradle
  besu-plugins/linea-sequencer/gradle/dist.gradle
  besu-plugins/linea-sequencer/gradle/java.gradle
  besu-plugins/linea-sequencer/sequencer/build.gradle
  gradle/libs.versions.toml
  settings.gradle
Due: none

ci - fix sequencer trigger for linea-sequencer-plugin (#1428)
  .github/workflows/main.yml
Due: none

style(bridge-ui): add sidebar mobile animation (#1422)
  bridge-ui/src/components/layouts/layout.module.scss
  bridge-ui/src/components/side-bar-mobile/side-bar-mobile.module.scss
Due: none

fix(bridge-ui): fix bridge issues (#1393)
  bridge-ui/next.config.mjs
  bridge-ui/src/app/(layerswap)/centralized-exchange/page.module.scss
  bridge-ui/src/app/(main)/faq/page.tsx
  bridge-ui/src/components/bridge/bridge-two-logo/bridge-two-logo.module.scss
  bridge-ui/src/components/bridge/claiming/index.tsx
  bridge-ui/src/components/bridge/destination-address/destination-address.module.scss
  bridge-ui/src/components/bridge/destination-address/index.tsx
  bridge-ui/src/components/bridge/form/bridge-form.module.scss
  bridge-ui/src/components/bridge/form/index.tsx
  bridge-ui/src/components/bridge/modal/transaction-confirmed/index.tsx
  bridge-ui/src/components/bridge/transaction-history/list-transaction/item/index.tsx
  bridge-ui/src/utils/message.ts
Due: none

add TGE contracts (#1402)
  contracts-tge/Makefile
  contracts-tge/README.md
  contracts-tge/exported-artifacts/L2LineaToken.json
  contracts-tge/exported-artifacts/LineaToken.json
  contracts-tge/exported-artifacts/TokenAirdrop.json
  contracts-tge/foundry.toml
  contracts-tge/script/DeployL2LineaToken.s.sol
  contracts-tge/script/DeployLineaToken.s.sol
  contracts-tge/script/DeployTokenAirdrop.s.sol
  contracts-tge/src/L1/LineaToken.sol
  contracts-tge/src/L1/interfaces/ILineaToken.sol
  contracts-tge/src/L2/L2LineaToken.sol
  contracts-tge/src/L2/interfaces/IL2LineaToken.sol
  contracts-tge/src/MessageServiceBase.sol
  contracts-tge/src/airdrops/TokenAirdrop.sol
  contracts-tge/src/interfaces/IGenericErrors.sol
  contracts-tge/src/interfaces/IMessageService.sol
  contracts-tge/src/referenceTokens/PrimaryConditionalMultiplier.sol
  contracts-tge/src/referenceTokens/PrimaryExplicitMultiplier.sol
  contracts-tge/src/referenceTokens/SecondaryExplicitMultiplier.sol
  contracts-tge/test/L1/LineaToken.t.sol
  contracts-tge/test/L2/L2LineaToken.t.sol
  contracts-tge/test/airdrops/TokenAirdrop.t.sol
  contracts-tge/test/helpers/TestL2MessageService.sol
  contracts-tge/test/helpers/TestMessageService.sol
Due: none

[Feat] - add empty fee vault and lint others (#1408)
  contracts/deploy/18_deploy_RollupFeeVault.ts
  contracts/hardhat_overrides.ts
  contracts/src/operational/RollupFeeVault.sol
  contracts/src/predeploy/UpgradeableBeaconChainDepositPredeploy.sol
  contracts/src/predeploy/UpgradeableWithdrawalQueuePredeploy.sol
Due: hardhat

Chore: set arithmetization="beta-v4.0-rc1-CANCUN (#1425)
  gradle/libs.versions.toml
Due: none

coordinator: improve log message (#1421)
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ProofGeneratingConflationHandlerImpl.kt
Due: kotlin

fix(bridge-ui): fix bridge issue when connect wallet and display difference text when bridging USDC (#1406)
  bridge-ui/src/components/bridge/amount/index.tsx
  bridge-ui/src/components/bridge/modal/transaction-confirmed/index.tsx
Due: none

Chore - exclude tge folder (#1403)
  .github/workflows/main.yml
Due: none

coordinator: traces-api share same queue for counters and conflation (#1405)
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/TracesConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/TracesToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/TracesClientFactory.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/TracesParsingTest.kt
Due: kotlin

use updated cyfrin audit file (#1412)
  docs/audits.md
Due: none

add token audits (#1401)
  docs/audits.md
Due: none

Feat/t 3 4 tx tests (#1351)
  contracts/package.json
  contracts/scripts/testEIP4844/NineInOne/sendBlobTransaction.ts
  contracts/scripts/testEIP7702/deploy_TestEIP7702Delegation.ts
  contracts/scripts/testEIP7702/sendType4Tx.ts
  contracts/scripts/utils.ts
  contracts/src/_testing/mocks/base/TestEIP7702Delegation.sol
  pnpm-lock.yaml
Due: hardhat

chore(global): group trivial PRs (#1438)
  bridge-ui/package.json
  pnpm-lock.yaml
  postman/src/services/processors/__tests__/MessageClaimingPersister.test.ts
  prover/circuits/blobdecompression/v0/compress/io.go
Due: none

[Refactor] Remove stale tx history for BridgeUI (#1420)
  .github/workflows/bridge-ui-e2e-tests.yml
  bridge-ui/src/constants/message.ts
  bridge-ui/src/hooks/useTransactionHistory.ts
  bridge-ui/src/stores/historyStore.ts
  bridge-ui/src/utils/history/fetchCctpBridgeEvents.ts
  bridge-ui/src/utils/history/fetchERC20BridgeEvents.ts
  bridge-ui/src/utils/history/fetchETHBridgeEvents.ts
  bridge-ui/src/utils/history/isBlockTooOld.spec.ts
  bridge-ui/src/utils/history/isTimestampTooOld.spec.ts
  bridge-ui/src/utils/history/isTimestampTooOld.ts
  bridge-ui/src/utils/history/restoreFromTransactionCache.ts
  bridge-ui/src/utils/history/saveToTransactionCache.ts
Due: none

Chore: set besu = "25.8.0-linea2" (#1449)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/LineaPluginTestBasePrague.java
  gradle/libs.versions.toml
Due: none

Chore: set arithmetization="beta-v4.0-rc6-CANCUN" (#1429)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/EstimateGasModuleLimitOverflowTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/SendBundleTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits_sendRawTx.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/noModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/strictModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/txOverflowModuleLimits.toml
  besu-plugins/linea-sequencer/sequencer/src/test/resources/sequencer/line-limits.toml
  gradle/libs.versions.toml
Due: none

Refactor/sendtype4tx (#1430)
  contracts/scripts/testEIP7702/sendType4Tx.ts
Due: hardhat

Fix: Sequencer release workflow and packaging (#1426)
  besu-plugins/linea-sequencer/sequencer/build.gradle
  linea-besu-package/scripts/assemble-packages.sh
Due: none

feat: EIP-7702 Set Code Transactions (Type 4) in the compressor (#1427)
  .github/workflows/prover-native-lib-blob-compressor-release.yml
  prover/backend/ethereum/chainid.go
  prover/backend/ethereum/tx_encoding.go
  prover/circuits/pi-interconnection/keccak/customize_keccak.go
  prover/go.mod
  prover/go.sum
  prover/lib/compressor/blob/blob_test.go
  prover/lib/compressor/blob/encode/encode.go
  prover/lib/compressor/blob/v1/blob_maker_test.go
  prover/lib/compressor/blob/v1/encode.go
  prover/lib/compressor/blob/v1/encode_test.go
  prover/lib/compressor/blob/v1/test_utils/blob_maker_testing.go
Due: none

[Chore] Local stack deploy scripts for system contracts (#1407)
  contracts/local-deployments-artifacts/deployEIPSystemContracts.ts
  contracts/local-deployments-artifacts/deployPredeployContractsV1.ts
  contracts/local-deployments-artifacts/dynamic-artifacts/UpgradeableBeaconChainDepositPredeployV1.json
  contracts/local-deployments-artifacts/dynamic-artifacts/UpgradeableConsolidationQueuePredeployV1.json
  contracts/local-deployments-artifacts/dynamic-artifacts/UpgradeableWithdrawalQueuePredeployV1.json
  makefile-contracts.mk
Due: hardhat

Chore: set arithmetization="beta-v4.0-rc7-CANCUN" (#1448)
  gradle/libs.versions.toml
Due: none

chore(bridge-ui): expand content width on mobile (#1440)
  bridge-ui/src/components/header/header.module.scss
  bridge-ui/src/components/layouts/layout.module.scss
Due: none

Feat: separate denylist for bundles (#1431)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/SendBundleTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/SendBundleTest2.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/bundleDenyList.txt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/defaultDenyList.txt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/denyList.txt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/emptyBundleDenyList.txt
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaTransactionPoolValidatorCliOptions.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaTransactionPoolValidatorConfiguration.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/services/LineaBundleEndpointsPlugin.java
Due: none

Feat: Support for cancelling bundle selection (#1444)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/LineaPluginTestBasePrague.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/BundleSelectionTimeoutTest.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactory.java
Due: none

feat: add retry for creating aggregation proof request and add metric… (#1433)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/LastProvenBlockNumberProviderAsync.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/BatchesRepoBasedLastProvenBlockNumberProviderTest.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ProofGeneratingConflationHandlerImpl.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/persistence/AggregationsRepository.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorServiceTest.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsPostgresDaoTest.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsDao.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsRepositoryImpl.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/PostgresAggregationsDao.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RetryingPostgresAggregationsDao.kt
Due: kotlin

ci: sequencer plugin improv (#1454)
  .github/workflows/linea-sequencer-plugin-testing.yml
Due: none

Refactor - Standardize tsconfig.json 'excludes' based on TypeScript documentation (#1451)
  bridge-ui/tsconfig.json
  e2e/tsconfig.json
  operations/tsconfig.json
  postman/README.md
  postman/src/application/postman/persistence/subscribers/MessageStatusSubscriber.ts
  postman/tsconfig.json
  sdk/sdk-core/tsconfig.json
  sdk/sdk-ethers/tsconfig.json
  sdk/sdk-viem/tsconfig.json
  ts-libs/linea-native-libs/tsconfig.json
  tsconfig.json
Due: none

local stack coordinator update (#1461)
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/ProtocolConfig.kt
  docker/compose-spec-l2-services.yml
Due: kotlin

Chore: set besu = "25.8.0-linea3" (#1460)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/SendBundleTest.java
  gradle/libs.versions.toml
Due: none

Fix the sticky failing client in LoadBalancingJsonRpcClient (#1414)
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/LoadBalancingJsonRpcClient.kt
  jvm-libs/generic/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/client/LoadBalancingJsonRpcClientTest.kt
Due: kotlin

chore(deps): update dependencies (#1443)
  bridge-ui/package.json
  operations/package.json
  package.json
  pnpm-lock.yaml
Due: none

Chore: remove SHF_REFERENCE_TABLE from Sequencer tests configuration (#1452)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits_sendRawTx.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/noModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/strictModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/txOverflowModuleLimits.toml
  besu-plugins/linea-sequencer/sequencer/src/test/resources/sequencer/line-limits.toml
Due: none

EIP7702 Type 4 transaction workaround (#1423)
  config/coordinator/coordinator-config-v2.toml
  gradle/libs.versions.toml
  jvm-libs/linea/besu-rlp-and-mappers/src/main/kotlin/linea/domain/MapperLineaDomainToBesu.kt
  jvm-libs/linea/besu-rlp-and-mappers/src/main/kotlin/linea/rlp/NoSignatureTransactionDecoder.kt
  jvm-libs/linea/besu-rlp-and-mappers/src/main/kotlin/linea/rlp/RLP.kt
  jvm-libs/linea/blob-compressor/build.gradle
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/GoNativeBlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/test/java/linea/blob/CompressorJavaAccessTest.java
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorTest.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/net/consensys/linea/blob/GoNativeCompressorAndShnarfCalculatorIntTest.kt
  jvm-libs/linea/blob-decompressor/build.gradle
  jvm-libs/linea/blob-decompressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressor.kt
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressorTest.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/Transaction.kt
  jvm-libs/linea/core/domain-models/src/testFixtures/kotlin/linea/domain/TransactionFactory.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/EthGetBlockToLineaBlockMappers.kt
  jvm-libs/linea/web3j-extensions/src/test/kotlin/linea/web3j/EthGetBlockToLineaBlockMapperTest.kt
Due: kotlin

add type 4 tx SetCodeTxType (#1450)
  prover/backend/ethereum/signature.go
Due: none

chore: update tracer to beta4.0-rc10 (#1477)
  gradle/libs.versions.toml
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
