Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

missing files
  contracts/scripts/operational/contract-integrity-verifier/__tests__/run-tests.ts
Due: hardhat

missing
  contracts/scripts/operational/contract-integrity-verifier/index.ts
Due: hardhat

support markdown format
  contracts/scripts/operational/contract-integrity-verifier/README.md
  contracts/scripts/operational/contract-integrity-verifier/__tests__/run-tests.ts
  contracts/scripts/operational/contract-integrity-verifier/configs/sepolia-linea-rollup-v7.config.json
  contracts/scripts/operational/contract-integrity-verifier/configs/sepolia-linea-rollup-v7.config.md
  contracts/scripts/operational/contract-integrity-verifier/index.ts
  contracts/scripts/operational/contract-integrity-verifier/src/config.ts
  contracts/scripts/operational/contract-integrity-verifier/src/index.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/index.ts
  contracts/scripts/operational/contract-integrity-verifier/src/utils/markdown-config.ts
  contracts/scripts/operational/contract-integrity-verifier/tests/run-tests.ts
Due: hardhat

[Coordinator] Test unhappy path in ProofAggregationCoordinatorService
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorServiceTest.kt
Due: kotlin

refactor: rename circuits/blobdecompression -> circuits/dataavailability
  prover/backend/dataavailability/prove.go
  prover/circuits/dataavailability/circuit.go
  prover/circuits/dataavailability/config/config.go
  prover/circuits/dataavailability/large-tests/compile-batch-hasher/main.go
  prover/circuits/dataavailability/large-tests/maximize_blob_size/main.go
  prover/circuits/dataavailability/publicinput/pi.go
  prover/circuits/dataavailability/publicinput/pi_test.go
  prover/circuits/dataavailability/v2/assign_test.go
  prover/circuits/dataavailability/v2/circuit.go
  prover/circuits/dataavailability/v2/circuit_test.go
  prover/circuits/dataavailability/v2/snark.go
  prover/circuits/dataavailability/v2/snark_test.go
  prover/circuits/dataavailability/v2/test_utils/snark_testing.go
Due: none

partially fixed keccak for ecrecover function and rlp
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

fix (public-input): public_input_test.go passes
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector_test.go
  prover/zkevm/prover/publicInput/input_extractor.go
  prover/zkevm/prover/publicInput/public_input.go
Due: none

Update public_input.go
  prover/zkevm/prover/publicInput/public_input.go
Due: none

fix(public-input): making sure the tests call the chainID fetcher
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector_hashing_test.go
Due: none

optimization for the lagrange evaluation if the lagrange coefficients are base field or zero
  prover/maths/common/fastpolyext/gnark_lagrange.go
  prover/maths/field/koalagnark/element.go
  prover/maths/field/koalagnark/ext.go
  prover/maths/polynomials/canonica_test.go
  prover/maths/polynomials/canonical.go
  prover/maths/polynomials/lagrange.go
  prover/maths/polynomials/lagrange_test.go
Due: none

refactor (public-input): replace MIMC references with Poseidon
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector_hashing_test.go
  prover/zkevm/prover/publicInput/execution_data_collector/poseidon2_hasher.go
Due: none

added rpad_320
  tracer-constraints/rlpauth/rlpauth.zkasm
  tracer-constraints/util/max2.zkasm
  tracer-constraints/util/padding.zkasm
Due: none

fix all the compilation errors
  prover/backend/execution/craft.go
  prover/circuits/dataavailability/circuit.go
  prover/circuits/dataavailability/large-tests/compile-batch-hasher/main.go
  prover/circuits/dataavailability/large-tests/maximize_blob_size/main.go
  prover/circuits/dataavailability/v2/assign_test.go
  prover/circuits/dataavailability/v2/circuit.go
  prover/circuits/dataavailability/v2/circuit_test.go
  prover/circuits/dataavailability/v2/snark_test.go
  prover/circuits/internal/utils.go
  prover/circuits/internal/utils_test.go
  prover/circuits/pi-interconnection/assign.go
  prover/circuits/pi-interconnection/circuit.go
  prover/circuits/pi-interconnection/io_test.go
  prover/circuits/pi-interconnection/keccak/snark.go
  prover/cmd/prover/cmd/setup.go
  prover/crypto/hasher_factory/docs.go
  prover/crypto/hasher_factory/mimc.go
  prover/crypto/hasherfactory_koalabear/factories.go
  prover/crypto/hasherfactory_koalabear/factories_test.go
  prover/crypto/multisethashing_koalabear/msethash.go
  prover/crypto/multisethashing_koalabear/msethash_test.go
  prover/protocol/compiler/recursion/circuit.go
  prover/protocol/distributed/conglomeration_hierarchical.go
  prover/protocol/distributed/distribute.go
  prover/protocol/distributed/distribute_test.go
  prover/protocol/distributed/module_gl.go
  prover/protocol/distributed/module_lpp.go
  prover/protocol/plonkinternal/context.go
  prover/protocol/plonkinternal/external_hashchecker_test.go
  prover/protocol/plonkinternal/external_rangechecker.go
  prover/protocol/plonkinternal/prover_commit.go
  prover/protocol/plonkinternal/prover_nocommit.go
  prover/protocol/wizard/gnark_verifier.go
  prover/public-input/aggregation.go
  prover/utils/types/field_bls12381Fr.go
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector_hashing_test.go
Due: none

added function to comput byte size and log256 for u512 and fixed keccak_for_ecrecover
  tracer-constraints/rlpauth/rlpauth.zkasm
  tracer-constraints/util/byte_size.zkasm
  tracer-constraints/util/log256.zkasm
Due: none

apply selfreview fixes
  prover/crypto/state-management/accumulator/verifierstate_test.go
  prover/maths/polynomials/lagrange.go
  prover/protocol/plonkinternal/context.go
  prover/zkevm/prover/publicInput/public_input.go
Due: none

[ZkTracer] EIP-7702 in STP
  tracer-constraints/hub/osaka/columns/miscellaneous.lisp
  tracer-constraints/hub/osaka/lookups/hub_into_stp.lisp
  tracer-constraints/stp/stp.zkasm
Due: none

perf: gnarkmdhasher uses poseidon2 + gkr
  prover/crypto/poseidon2_bls12377/poseidon2_circuit.go
  prover/go.mod
  prover/go.sum
  prover/protocol/compiler/standard_benchmark_test.go
Due: none

fix the public input encoding
  prover/public-input/execution.go
Due: none

fix bug in the input extractor
  prover/zkevm/prover/publicInput/input_extractor.go
Due: none

fix pi_test.go
  prover/circuits/dataavailability/publicinput/pi_test.go
  prover/go.sum
  prover/utils/types/field_bls12377Fr.go
  prover/utils/types/field_bls12381Fr.go
Due: none

update tests for the blob submission
  prover/backend/blobsubmission/samples/sample-empty-response.json
  prover/backend/blobsubmission/samples/sample-max-size-response.json
  prover/backend/blobsubmission/samples/sample-too-large.json
  prover/backend/blobsubmission/samples/sample0-response.json
  prover/backend/blobsubmission/samples/sample1-response.json
Due: none

[ZkTracer] Modexp in zkasm
  tracer-constraints/Makefile
  tracer-constraints/alu/mod.zkasm
  tracer-constraints/precompiles/blake2f.zkasm
  tracer-constraints/precompiles/modexp_u256.zkasm
  tracer-constraints/precompiles/modexp_u8192.zkasm
  tracer-constraints/rlputils/rlputils.zkasm
  tracer-constraints/util/divide.zkasm
Due: none

fix(circuits/execution): add BaseFee and CoinBase to PI hash computation
  prover/circuits/execution/pi.go
  prover/circuits/execution/pi_test.go
Due: none

fix(circuits/execution): add BaseFee and CoinBase to PI hash computation (#2125)
  prover/circuits/execution/pi.go
  prover/circuits/execution/pi_test.go
Due: none

fix after merge
  prover/crypto/fiatshamir/fs.go
  prover/protocol/compiler/recursion/circuit.go
  prover/protocol/distributed/conglomeration_hierarchical.go
  prover/protocol/distributed/conglomeration_test.go
  prover/protocol/distributed/module_gl.go
  prover/protocol/distributed/module_lpp.go
Due: none

all tests passes except the one relying on testdata that we cannot reproduce yet
  prover/backend/execution/statemanager/contract_bytecode_hashing.go
  prover/backend/execution/statemanager/parsing_test.go
  prover/backend/execution/statemanager/test_vectors_test.go
  prover/circuits/aggregation/circuit_test.go
  prover/circuits/execution/pi.go
  prover/circuits/execution/pi_test.go
  prover/circuits/pi-interconnection/circuit.go
  prover/config/config-devnet-full.toml
  prover/config/config-integration-benchmark.toml
  prover/config/config-integration-full.toml
  prover/config/config-sepolia-limitless.toml
  prover/config/traces_limit.go
  prover/crypto/state-management/accumulator/operation_test.go
  prover/crypto/state-management/accumulator/testvectors_poseidon2_test.go
  prover/lib/compressor/blob/v2/test_utils/blob_maker_testing.go
  prover/protocol/compiler/plonkinwizard/plonk_in_wizard_test.go
  prover/protocol/compiler/plonkinwizard/prover.go
  prover/protocol/dedicated/plonk/alignment_test.go
  prover/protocol/dedicated/plonk/testdata/alignment.csv
  prover/protocol/plonkinternal/external_rangechecker_test.go
  prover/protocol/query/range.go
  prover/public-input/aggregation.go
  prover/utils/csvtraces/csvtraces.go
  prover/utils/gnarkutil/io.go
  prover/utils/types/field_koalaoctuplet_test.go
  prover/utils/utils.go
  prover/zkevm/prover/hash/importpad/import_pad_test.go
  prover/zkevm/prover/hash/packing/dedicated/spaghettifier/spaghettifier_test.go
  prover/zkevm/prover/statemanager/mock/state_access_log_test.go
Due: none

adding new trace limits for the integration development config
  prover/config/config-integration-development.toml
Due: none

dev prover now passes
  prover/config/config-mainnet-limitless.toml
  prover/maths/field/element.go
  prover/public-input/execution.go
Due: none

Coordinator forced transactions - adapts ForcedTransactionsClient interface to latest Spec changes (#2114)
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/forcedtx/ForcedTransactionsClient.kt
Due: kotlin

smart contract cursor rule
  .cursor/rules/smart-contract-guidelines/RULE.md
Due: none

remove deprecated SAVE_ADDRESS env
  contracts/docs/deployment.md
  makefile-contracts.mk
Due: hardhat

local bugbot for contracts
  contracts/.cursor/BUGBOT.md
Due: hardhat

test bugbot
  contracts/src/messaging/l1/L1MessageService.sol
Due: hardhat

(fix): rm prev dangling inprogress file for ctrler with same id (#2115)
  prover/cmd/controller/controller/controller.go
  prover/cmd/controller/controller/fs_watcher.go
  prover/config/constants.go
Due: none

Revert "test bugbot"
  contracts/src/messaging/l1/L1MessageService.sol
Due: hardhat

chore: gnark update
  prover/go.mod
  prover/go.sum
Due: none

initial commit for agent skill
  .cursor/skills/migrate-to-hardhat-v3/SKILL.md
  .gitignore
Due: none
