Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

feat: update to go corset version v1127 (#825)
  .github/workflows/check.yml
  blockdata/cancun/processing/blobbasefee/common.lisp
  blockdata/cancun/processing/blobbasefee/linea.lisp
  blsdata/cancun/generalities/constraining_address_sum.lisp
  blsdata/cancun/generalities/constraints_for_ct.lisp
  blsdata/cancun/generalities/setting_index.lisp
  blsdata/cancun/generalities/setting_index_max.lisp
  blsdata/cancun/generalities/setting_is_first_input_and_is_second_input.lisp
  blsdata/cancun/generalities/setting_phase.lisp
  blsdata/prague/generalities/constraining_address_sum.lisp
  blsdata/prague/generalities/constraints_for_ct.lisp
  blsdata/prague/generalities/setting_index.lisp
  blsdata/prague/generalities/setting_index_max.lisp
  blsdata/prague/generalities/setting_is_first_input_and_is_second_input.lisp
  blsdata/prague/generalities/setting_phase.lisp
  logdata/constraints.lisp
  mxp/cancun/lookups/mxp_into_instruction_decoder.lisp
  rlptxn/cancun/constraints/generalities/requires_evm.lisp
  rlputils/cancun/constraints/generalities/ct_and_ctmax.lisp
  rlputils/cancun/constraints/instructions/bytes32.lisp
  stp/stp.zkasm
  util/bit_sar.zkasm
  util/bit_shr.zkasm
Due: none

rm YieldManager::withdrawFromYieldProvider and YieldManager::addToWithdrawalReserve
  contracts/contracts/yield/YieldManager.sol
  contracts/contracts/yield/interfaces/IYieldManager.sol
  contracts/test/yield/integration/YieldManager.integration.ts
  contracts/test/yield/unit/LidoStVaultYieldProvider.basic.ts
  contracts/test/yield/unit/YieldManager.funds.ts
Due: hardhat

update go-corset to v1.1.27 (#2476)
  tracer/.github/actions/setup-go-corset/action.yml
Due: none

mainnet test fix with correct data
  contracts/test/hardhat/_testData/betaV4_1_mainnet/proof/25472845-25473115-e76c58a6fad553315848a4e8f1793bfef5667a5434de1fdbc45d4a324c3301d6-getZkAggregatedProof.json
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
Due: hardhat

extend encode to encode and hash
  prover/crypto/vortex/vortex_bls12377/gnark_commitment.go
  prover/crypto/vortex/vortex_bls12377/gnark_test.go
  prover/crypto/vortex/vortex_bls12377/gnark_utils.go
Due: none

refactor: extend encode test to encode and hash test, remove lookup
  prover/crypto/vortex/vortex_bls12377/gnark_commitment.go
  prover/crypto/vortex/vortex_bls12377/gnark_test.go
  prover/crypto/vortex/vortex_bls12377/gnark_utils.go
Due: none

testing(contracts): move the testdata to a sepolia folder and create … (#1714)
  contracts/test/hardhat/_testData/betaV4_1_mainnet/25472845-25473115-bcv0.0-ccv0.0-81da22585f32b849b1d3ec3dd1aa0c027b517112f3b3bcc4aad086d59967af30-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV4_1_mainnet/proof/25472845-25473115-e76c58a6fad553315848a4e8f1793bfef5667a5434de1fdbc45d4a324c3301d6-getZkAggregatedProof.json
  contracts/test/hardhat/_testData/betaV4_1_sepolia/20106872-20107472-bcv0.0-ccv0.0-d27541dec7352a8bb7067b2e061e9d2de9af04502a915f5f69a456aebe2ae8f0-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV4_1_sepolia/proof/20106872-20107472-da29c954a5734a97a851964dc88ec7034f5f3ebd569d3f88b43acc00c9263124-getZkAggregatedProof.json
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
  prover/20106872-20107472-da29c954a5734a97a851964dc88ec7034f5f3ebd569d3f88b43acc00c9263124-getZkAggregatedProof.json
  prover/25472845-25473115-e76c58a6fad553315848a4e8f1793bfef5667a5434de1fdbc45d4a324c3301d6-getZkAggregatedProof.json
Due: hardhat

install updating pnpm lock
  pnpm-lock.yaml
Due: none

refactor: get the selectedColID LinearCombination
  prover/crypto/vortex/vortex_bls12377/gnark_utils.go
Due: none

test: include 8192 test data
  prover/zkevm/prover/modexp/testdata/single_8192_bits_input.csv
  prover/zkevm/prover/modexp/testdata/single_8192_bits_module.csv
Due: none

Add logging for l1-cl-node in e2e tests workflow
  .github/workflows/reuse-run-e2e-tests.yml
Due: none

fix: remove store address feature from contracts deployment scripts (#1652)
  contracts/common/helpers/index.ts
  contracts/common/helpers/storeAddress.ts
  contracts/deploy/01_deploy_PlonkVerifier.ts
  contracts/deploy/02_deploy_Timelock.ts
  contracts/deploy/03_deploy_ImplementationForProxy.ts
  contracts/deploy/03_deploy_LineaRollup.ts
  contracts/deploy/03_deploy_LineaRollupWithReinitialization.ts
  contracts/deploy/04_deploy_L2MessageService.ts
  contracts/deploy/04_deploy_L2MessageServiceV1Deployed.ts
  contracts/deploy/04_deploy_L2MessageServiceWithReinitialization.ts
  contracts/deploy/05_deploy_BridgedToken.ts
  contracts/deploy/06_deploy_TokenBridge.ts
  contracts/deploy/06_deploy_TokenBridgeWithReinitialization.ts
  contracts/deploy/08_deploy_CustomBridgedToken.ts
  contracts/deploy/10_deploy_RecoverFunds.ts
  contracts/deploy/11_deploy_TestERC20.ts
  contracts/deploy/12_deploy_CallForwardingProxy.ts
  contracts/deploy/13_deploy_BaseSequencerUptimeFeed.ts
  contracts/deploy/14_deploy_UpgradeableWithdrawalQueuePredeploy.ts
  contracts/deploy/15_deploy_UpgradeableConsolidationQueuePredeploy.ts
  contracts/deploy/17_deploy_UpgradeableBeaconChainDepositPredeploy.ts
  contracts/deploy/18_deploy_RollupRevenueVault.ts
  contracts/package.json
  contracts/scripts/tokenBridge/test/deployBridgedTokenBeacon.ts
  contracts/src/_testing/mocks/tokens/TestERC20.sol
  pnpm-lock.yaml
Due: hardhat

Add logging for l1-cl-node in e2e tests workflow (#1727)
  .github/workflows/reuse-run-e2e-tests.yml
Due: none

perf: do not include large modexp circuit when no limit
  prover/zkevm/prover/modexp/module.go
  prover/zkevm/prover/modexp/module_assignment.go
  prover/zkevm/prover/modexp/module_test.go
  prover/zkevm/prover/modexp/module_with_circuit_test.go
Due: none

fix: @karim's fix (#2472)
  tracer/reference-tests/src/test/java/net/consensys/linea/BlockchainReferenceTestTools.java
Due: none

coordinator: allow aggregation deadline to skip no l2 activity requir… (#1718)
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/ConflationConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ConflationToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ConflationParsingTest.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Aggregation.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByDeadline.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByDeadlineTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/GlobalAggregationCalculatorTest.kt
  jvm-libs/generic/extensions/futures/src/test/kotlin/net/consensys/linea/async/AsyncRetryerTest.kt
Due: kotlin

update teku in local stack
  docker/compose-spec-l1-services.yml
Due: none

dump l1 cl logs
  .github/workflows/reuse-run-e2e-tests.yml
Due: none

feat: MDHasher interface
  prover/crypto/poseidon2_bls12377/doc.go
  prover/crypto/poseidon2_bls12377/poseidon2.go
  prover/crypto/poseidon2_koalabear/poseidon2.go
  prover/crypto/poseidon2_koalabear/poseidon2_circuit.go
  prover/crypto/poseidon2_koalabear/poseidon2_test.go
  prover/crypto/poseidon_interface/poseidon2.go
Due: none

use jdk24 for Teku
  docker/compose-spec-l1-services.yml
Due: none

fix comments to reflect accurately
  docker/config/l1-node/cl/network-config.yml
Due: none

update teku in local stack (#1721)
  .github/workflows/reuse-run-e2e-tests.yml
  docker/compose-spec-l1-services.yml
Due: none

corrected comment
  docker/config/l1-node/cl/network-config.yml
Due: none

docs: better description
  prover/zkevm/prover/modexp/module.go
Due: none

coordinator: aggregation blob limit
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByBlobLimit.kt
Due: kotlin

coordinator: aggregation blob limit
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/ConflationConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ConflationToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ConflationParsingTest.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationCalculator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByBlobLimit.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/GlobalAggregationCalculator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/GlobalAggregationCalculatorTest.kt
Due: kotlin

coordinator: AggregationTriggerCalculatorByBlobLimit small code rearange
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByBlobLimit.kt
Due: kotlin

coordinator: AggregationTriggerCalculatorByDeadline remove unused field.
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByDeadline.kt
Due: kotlin

test TestGnarkVortexNCommitmentsWithMerkleNoSis ok except for assertIsCodeWordExt
  prover/crypto/vortex/vortex_bls12377/gnark_utils.go
Due: none

refactor: TestEvaluateLagrangeCircuit --> TestEvaluateLagrangeExtCircuit
  prover/crypto/vortex/vortex_bls12377/gnark_test.go
  prover/crypto/vortex/vortex_bls12377/gnark_utils.go
Due: none

chore: limitless segment size advice
  prover/zkevm/limitless.go
Due: none

try to fix CI
  .github/workflows/reuse-run-e2e-tests.yml
  Makefile
  docker/config/l1-node/cl/config.yaml
Due: none

refactor: add test linear combination
  prover/crypto/vortex/vortex_bls12377/gnark_test.go
Due: none

cleanup tests, add test for koalabear.Modulus()
  prover/crypto/vortex/vortex_bls12377/gnark_test.go
Due: none

added deploy scripts for YieldManager
  contracts/common/constants/general.ts
  contracts/common/constants/roles.ts
  contracts/deploy/03_deploy_LineaRollupV7WithReinitialization.ts
  contracts/deploy/13_deploy_TestLineaRollup.ts
  contracts/deploy/14_deploy_YieldManager.ts
  contracts/scripts/hardhat/utils.ts
  contracts/scripts/operational/addLidoStVaultYieldProvider.ts
Due: hardhat

chore: update also discovery advice for pattern
  prover/zkevm/limitless.go
Due: none

fix: compilation errors
  prover/protocol/coin/coin.go
  prover/protocol/column/gnark_derive.go
  prover/protocol/compiler/globalcs/evaluation.go
  prover/protocol/compiler/horner/horner.go
  prover/protocol/compiler/permutation/verifier.go
  prover/protocol/compiler/recursion/actions.go
  prover/protocol/compiler/recursion/recursion.go
  prover/protocol/compiler/selfrecursion/column_opening.go
  prover/protocol/compiler/selfrecursion/linearhashandmerkle.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/gnark_verifier.go
  prover/protocol/compiler/vortex/prover.go
  prover/protocol/dedicated/functionals/eval_bivariate.go
  prover/protocol/dedicated/merkle/flat_proof.go
  prover/protocol/dedicated/merkle/flat_proof_test.go
  prover/protocol/dedicated/merkle/merkle.go
  prover/protocol/dedicated/merkle/merkle_test.go
  prover/protocol/dedicated/plonk/alignment_test.go
  prover/protocol/dedicated/poseidon2/linear_hash_test.go
  prover/protocol/ifaces/query.go
  prover/protocol/query/grand_product.go
  prover/protocol/query/horner.go
  prover/protocol/query/innerproduct.go
  prover/protocol/query/local_opening.go
  prover/protocol/query/logderiv_sum.go
  prover/protocol/query/poseidon2.go
  prover/protocol/query/univariate.go
  prover/protocol/wizard/prover.go
  prover/protocol/wizard/verifier.go
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
