Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

Fix reference tests execution by excluding offending jar (#1466)
  tracer/gradle/dist.gradle
Due: none

correct deployBridgedTokenAndTokenBridge casing
  Makefile
Due: none

fix: upgrade storage version
  bridge-ui/.env.production
  bridge-ui/.env.template
Due: none

feat: integration test all needed gradle task description update
  transaction-exclusion-api/app/build.gradle
Due: none

fix: refactor getTokenConfig function in token service
  bridge-ui/src/services/tokenService.ts
Due: none

optimize token bridge e2e calls
  contracts/common/deployments/zkevm_dev/.chainId
  contracts/common/deployments/zkevm_dev/BridgedToken.json
  contracts/common/deployments/zkevm_dev/TokenBridge.json
  contracts/common/deployments/zkevm_dev/TokenBridgeProxyAdmin.json
  contracts/common/helpers/storeAddress.ts
  e2e/src/bridge-tokens.spec.ts
  e2e/src/config/jest/global-setup.ts
  e2e/src/submission-finalization.spec.ts
Due: hardhat

removes deprecated compileContracts task
  state-recover/clients/smartcontract/build.gradle
Due: none

fix don't assume zero-padded lanes (#267)
  prover/circuits/pi-interconnection/keccak/snark.go
  prover/circuits/pi-interconnection/keccak/snark_test.go
Due: none

Fix(128): improve bridge UI history (#216)
  .github/workflows/bridge-ui-e2e-tests.yml
  bridge-ui/.env.production
  bridge-ui/.env.template
  bridge-ui/src/app/layout.tsx
  bridge-ui/src/components/bridge/Bridge.tsx
  bridge-ui/src/components/bridge/BridgeLayout.tsx
  bridge-ui/src/components/bridge/form/Amount.tsx
  bridge-ui/src/components/bridge/form/ApproveERC20.tsx
  bridge-ui/src/components/bridge/form/ClaimingType.tsx
  bridge-ui/src/components/bridge/form/Submit.tsx
  bridge-ui/src/components/bridge/modals/TokenDetails.tsx
  bridge-ui/src/components/bridge/modals/TokenModal.tsx
  bridge-ui/src/components/layouts/Layout.tsx
  bridge-ui/src/components/layouts/Providers.tsx
  bridge-ui/src/components/layouts/header/dropdowns/Chains.tsx
  bridge-ui/src/components/layouts/header/dropdowns/Wallet.tsx
  bridge-ui/src/components/terms/TermsModal.tsx
  bridge-ui/src/components/transactions/NoTransaction.tsx
  bridge-ui/src/components/transactions/RefreshHistoryButton.tsx
  bridge-ui/src/components/transactions/Transactions.tsx
  bridge-ui/src/config/wagmi.ts
  bridge-ui/src/hooks/index.ts
  bridge-ui/src/hooks/useDebounce.ts
  bridge-ui/src/hooks/useERC20Storage.ts
  bridge-ui/src/hooks/useFetchBridgeTransactions.ts
  bridge-ui/src/hooks/useFetchHistory.ts
  bridge-ui/src/hooks/useInitialiseChain.ts
  bridge-ui/src/hooks/useInitialiseToken.ts
  bridge-ui/src/models/history.ts
  bridge-ui/src/services/tokenService.ts
  bridge-ui/src/stores/chainStore.ts
  bridge-ui/src/stores/historyStore.ts
  bridge-ui/src/stores/tokenStore.ts
  bridge-ui/src/stores/tokenStoreProvider.tsx
  bridge-ui/src/utils/transactionParsers/parseERC20Events.ts
  bridge-ui/src/utils/transactionParsers/parseETHEvents.ts
  bridge-ui/src/utils/transactionParsers/parseUSDCEvents.ts
Due: none

use explicit message event data
  e2e/src/bridge-tokens.spec.ts
Due: none

Fix/prover/aggregation/tree padding (#262)
  prover/circuits/aggregation/circuit.go
  prover/circuits/internal/utils.go
  prover/circuits/pi-interconnection/assign.go
  prover/circuits/pi-interconnection/circuit.go
  prover/circuits/pi-interconnection/e2e_test.go
  prover/circuits/pi-interconnection/keccak/assign.go
  prover/circuits/pi-interconnection/keccak/assign_test.go
  prover/public-input/aggregation.go
  prover/utils/test_utils/test_utils.go
  prover/utils/utils.go
Due: none

feat: separate tx exclusion api integration tests from coordinator (#263)
  .github/workflows/coordinator-testing.yml
  .github/workflows/transaction-exclusion-api-testing.yml
  coordinator/app/build.gradle
  jvm-libs/generic/persistence/db/build.gradle
  transaction-exclusion-api/app/build.gradle
  transaction-exclusion-api/persistence/rejectedtransaction/build.gradle
Due: kotlin

More Veridise debugging (#477)
  Makefile
  hub/constraints/consistency/stack/columns.lisp
  hub/constraints/generalities/context.lisp
  hub/lookups/hub_into_rlp_txn.lisp
  logdata/constraints.lisp
  loginfo/lookups/loginfo-into-hub.lisp
  loginfo/lookups/loginfo-into-logdata.lisp
  loginfo/lookups/loginfo-into-rlprcpt.lisp
Due: none

Adding unpermuted account columns (#482)
  .idea/.gitignore
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/zkevm-constraints.iml
  Makefile
  hub/columns/account.lisp
  hub/columns/storage.lisp
  hub/constraints/consistency/account/columns.lisp
  hub/constraints/consistency/stack/columns.lispX
  hub/constraints/consistency/stack/constraints.lispX
  hub/constraints/consistency/storage/columns.lisp
  notes.md
Due: none

Update Makefile (#490)
  Makefile
Due: none

delete duplicate constraint (#471)
  alu/mod/columns.lisp
  alu/mod/constraints.lisp
  alu/mul/constraints.lisp
  ecdata/constraints.lisp
  exp/constraints.lisp
  gas/constraints.lisp
  hub/columns/shared.lisp
  hub/constraints/consistency/account/constraints.lisp
  hub/constraints/heartbeat/peeking_flags.lisp
  hub/constraints/tx_skip/constraints.lisp
  logdata/lookups/logdata-to-rlprcpt.lisp
  mmu/constraints.lisp
  mxp/constraints.lisp
  oob/constraints.lisp
  shakiradata/constraints.lisp
  txndata/constraints.lisp
  wcp/constraints.lisp
Due: none

Duplicate and unused code snippets EXP OOB MXP (#489)
  exp/constraints.lisp
  oob/constraints.lisp
  wcp/constraints.lisp
Due: none

staterecover: refactor integration test fro code reuse
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/RangeExtensions.kt
  jvm-libs/linea/testing/l1-blob-and-proof-submission/src/main/kotlin/net/consensys/linea/testing/submission/ProverResponsesFileLoader.kt
  jvm-libs/linea/testing/l1-blob-and-proof-submission/src/main/kotlin/net/consensys/linea/testing/submission/SubmissionTestHelper.kt
  jvm-libs/linea/web3j-extensions/build.gradle
  state-recover/clients/smartcontract/src/integrationTest/kotlin/linea/build/staterecover/clients/smartcontract/LineaSubmissionEventsClientIntTest.kt
Due: kotlin

staterecover: fix naming typos
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/net/consensys/TypingsExtensionsTest.kt
  state-recover/appcore/clients-interfaces/src/main/kotlin/build/linea/staterecover/clients/LineaSubmissionEventsClient.kt
  state-recover/clients/smartcontract/src/integrationTest/kotlin/linea/build/staterecover/clients/smartcontract/LineaSubmissionEventsClientIntTest.kt
  state-recover/clients/smartcontract/src/main/kotlin/linea/build/staterecover/clients/smartcontract/LineaSubmissionEventsClientWeb3jIpml.kt
Due: kotlin

Use correct initializer value for L2MessageService
  contracts/contracts/messageService/l2/L2MessageService.sol
Due: hardhat

staterecover: add event fetcher client (#248)
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/RangeExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/TypingsExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/net/consensys/TypingsExtensionsTest.kt
  jvm-libs/generic/serialization/jackson/src/test/kotlin/build/linea/s11n/jackson/BytesSerDeTest.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/build/linea/domain/EthLog.kt
  jvm-libs/linea/testing/l1-blob-and-proof-submission/src/main/kotlin/net/consensys/linea/testing/submission/ProverResponsesFileLoader.kt
  jvm-libs/linea/testing/l1-blob-and-proof-submission/src/main/kotlin/net/consensys/linea/testing/submission/SubmissionTestHelper.kt
  jvm-libs/linea/web3j-extensions/build.gradle
  jvm-libs/linea/web3j-extensions/src/main/kotlin/build/linea/web3j/domain/EthLog.kt
  state-recover/appcore/clients-interfaces/src/main/kotlin/build/linea/staterecover/clients/LineaSubmissionEventsClient.kt
  state-recover/clients/smartcontract/build.gradle
  state-recover/clients/smartcontract/src/integrationTest/kotlin/linea/build/staterecover/clients/smartcontract/LineaSubmissionEventsClientIntTest.kt
  state-recover/clients/smartcontract/src/integrationTest/resources/log4j2.xml
  state-recover/clients/smartcontract/src/main/kotlin/linea/build/staterecover/clients/smartcontract/LineaSubmissionEventsClientWeb3jIpml.kt
Due: kotlin

use precomputed nonces for e2e stack
  Makefile
  contracts/local-deployments-artifacts/deployBridgedTokenAndTokenBridge.ts
  contracts/local-deployments-artifacts/deployL2MessageService.ts
  contracts/local-deployments-artifacts/deployPlonkVerifierAndLineaRollupV5.ts
  contracts/local-deployments-artifacts/deployPlonkVerifierAndLineaRollupV6.ts
  contracts/local-deployments-artifacts/deployTestERC20.ts
  contracts/local-deployments-artifacts/get-wallet-nonce.ts
Due: hardhat

Reduce memory usage of different pods (#260)
  docker/compose-local-dev-traces-v2.overrides.yml
  docker/compose-local-dev.overrides.yml
  docker/compose.yml
Due: none

G-01 fix removing old initialize function (#212)
  contracts/contracts/messageService/l2/L2MessageManager.sol
  contracts/contracts/messageService/l2/v1/L2MessageManagerV1.sol
  contracts/contracts/test-contracts/TestL2MessageManager.sol
  contracts/test/L2MessageManager.ts
Due: hardhat

[Fix] I-01 Use safe casting for the leaf index verification (#222)
  contracts/contracts/messageService/lib/SparseMerkleTreeVerifier.sol
  contracts/contracts/test-contracts/TestSparseMerkleTreeVerifier.sol
  contracts/test/common/constants/general.ts
  contracts/test/messageService/lib/SparseMerkleTreeVerifier.ts
Due: hardhat

Check parent shnarf exists for calldata submission (#223)
  contracts/contracts/LineaRollup.sol
  contracts/test/LineaRollup.ts
Due: hardhat

[Fix] M-01 Validate final blob was submitted on finalization (#226)
  config/common/smart-contract-errors.toml
  contracts/contracts/LineaRollup.sol
  contracts/contracts/interfaces/l1/ILineaRollup.sol
  contracts/test/LineaRollup.ts
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/config/CoordinatorConfigTest.kt
Due: hardhat, kotlin

[Fix] - I-02 Adjust information findings from report (#256)
  contracts/contracts/messageService/l1/L1MessageService.sol
  contracts/contracts/messageService/l1/v1/L1MessageManagerV1.sol
  contracts/contracts/messageService/l1/v1/L1MessageServiceV1.sol
  contracts/contracts/test-contracts/TestL1MessageManager.sol
  contracts/contracts/tokenBridge/TokenBridge.sol
  contracts/contracts/tokenBridge/mocks/MessageBridgeV2/MockMessageServiceV2.sol
  contracts/test/messageService/l1/L1MessageManager.ts
Due: hardhat
