Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

update gen.go
  prover/zkevm/prover/hash/generic/testdata/gen.go
Due: none

update ecadd/ecpairing/ecmul
  prover/zkevm/prover/ecarith/ecadd_test.go
  prover/zkevm/prover/ecarith/ecmul_test.go
  prover/zkevm/prover/ecarith/testdata/ecadd_test.csv
  prover/zkevm/prover/ecarith/testdata/ecmul_test.csv
  prover/zkevm/prover/ecdsa/antichamber_test.go
  prover/zkevm/prover/ecdsa/ecdata_test.go
  prover/zkevm/prover/ecdsa/testdata/antichamber.csv
  prover/zkevm/prover/ecdsa/testdata/ecdata_test.csv
  prover/zkevm/prover/ecdsa/testdata/unaligned_gnark_test.csv
  prover/zkevm/prover/ecdsa/unaligned_gnark_test.go
  prover/zkevm/prover/ecpair/ecpair.go
  prover/zkevm/prover/ecpair/ecpair_assignment.go
  prover/zkevm/prover/ecpair/ecpair_constraints.go
  prover/zkevm/prover/ecpair/ecpair_test.go
  prover/zkevm/prover/ecpair/testdata/ecpair_double_pair_input.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_double_pair_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_empty.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_empty_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_failing_double_pair_input.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_failing_double_pair_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_g2_both_cases_input.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_g2_both_cases_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_regression_1_input.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_regression_1_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_trace_input.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_trace_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_triple_pair_input.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_triple_pair_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_two_pairings_input.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_two_pairings_module.csv
Due: none

fix import and pad
  .gitignore
  prover/zkevm/prover/hash/importpad/import_pad.go
  prover/zkevm/prover/hash/importpad/import_pad_test.go
  prover/zkevm/prover/hash/importpad/testdata/gen.go
  prover/zkevm/prover/hash/importpad/testdata/input.csv
  prover/zkevm/prover/hash/importpad/testdata/mod_mimc.csv
Due: none

feat: execdatahash func
  prover/circuits/dataavailability/v2/snark.go
  prover/circuits/execution/pi.go
  prover/circuits/internal/utils.go
  prover/circuits/internal/utils_test.go
  prover/circuits/pi-interconnection/circuit.go
  prover/public-input/aggregation.go
  prover/public-input/execution.go
  prover/public-input/public_inputs_test.go
  prover/utils/snark.go
Due: none

Update existing ethFeeHistory method
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/LogsSearcherIntTest.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/EthApiFeeClient.kt
  jvm-libs/linea/clients/interfaces/src/testFixtures/kotlin/linea/ethapi/FakeEthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClientWithRetries.kt
Due: kotlin

test: subtests
  prover/public-input/public_inputs_test.go
Due: none

Review comments
  Makefile
  makefile-contracts.mk
Due: none

fix one bug in the accumulator module
  prover/zkevm/prover/hash/keccak/acc_module/data_acc.go
  prover/zkevm/prover/hash/keccak/acc_module/info_acc.go
Due: none

fix the imports from keccak_glue
  prover/zkevm/prover/hash/keccak/glue/keccak_over_blocks.go
  prover/zkevm/prover/hash/keccak/glue/keccak_single_provider.go
  prover/zkevm/prover/hash/keccak/glue/keccak_zkevm.go
  prover/zkevm/prover/hash/keccak/keccakf/chi_iota.go
  prover/zkevm/prover/hash/keccak/keccakf/chi_iota_test.go
  prover/zkevm/prover/hash/keccak/keccakf/iokeccakf/io_keccakf.go
  prover/zkevm/prover/hash/keccak/keccakf/iokeccakf/output_keccakf.go
  prover/zkevm/prover/hash/keccak/keccakf/keccakf.go
  prover/zkevm/prover/hash/keccak/keccakf/keccakf_test.go
  prover/zkevm/prover/hash/keccak/keccakf/rho_pi.go
  prover/zkevm/prover/hash/keccak/keccakf/theta.go
  prover/zkevm/prover/hash/keccak/keccakf/theta_test.go
  prover/zkevm/prover/hash/keccak/keccakf/to_theta_or_output.go
Due: none

fix the imports for the keccak glue
  prover/zkevm/prover/hash/keccak/glue/keccak_over_blocks_test.go
Due: none

fix sha2
  prover/zkevm/prover/hash/sha2/sha2.go
  prover/zkevm/prover/hash/sha2/sha2_block_test.go
  prover/zkevm/prover/hash/sha2/utils.go
Due: none

[ZkTracer] feat: enable stopping evm during block building
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/ZkTracer.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/defer/DeferRegistry.java
  tracer/reference-tests/build.gradle
Due: none

Add comments
  contracts/contracts/yield/libs/vendor/lido/SSZ.sol
Due: hardhat

⚡️ perf: use pre-increment operator in mergeSSZChunk loop
  contracts/contracts/yield/libs/vendor/lido/SSZ.sol
Due: hardhat

⚡️ perf: use pre-increment operators in loops
  contracts/contracts/yield/LidoStVaultYieldProvider.sol
  contracts/contracts/yield/libs/vendor/lido/SSZ.sol
Due: hardhat

⚡️ perf: use unchecked arithmetic for loop increments
  contracts/contracts/yield/libs/vendor/lido/SSZ.sol
Due: hardhat

⚡️ perf: use unchecked arithmetic for loop increment in unstakePermissionless
  contracts/contracts/yield/LidoStVaultYieldProvider.sol
Due: hardhat

⚡️ perf: cache array access in pending withdrawals loop
  contracts/contracts/yield/LidoStVaultYieldProvider.sol
Due: hardhat

🦺 fix: add upper bound validation for unstake amount and fix type consistency
  contracts/contracts/yield/YieldManager.sol
  contracts/contracts/yield/interfaces/IYieldManager.sol
  contracts/test/yield/unit/YieldManager.funds.ts
Due: hardhat

FinalizationMonitorImpl Web3j to EthApi migration 4/N
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/ethereum/finalization-monitor/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImpl.kt
  coordinator/ethereum/finalization-monitor/src/test/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImplTest.kt
Due: kotlin

fix(distributed): compiler error fixed in distribute.go
  prover/protocol/distributed/distribute.go
  prover/protocol/distributed/distribute_test.go
Due: none

adds a few more functions to limbs
  prover/protocol/limbs/utils.go
  prover/protocol/limbs/vector_builder.go
Due: none

fix ecdsa package
  prover/zkevm/prover/ecdsa/address_test.go
  prover/zkevm/prover/ecdsa/antichamber_columns.go
  prover/zkevm/prover/ecdsa/antichamber_test.go
  prover/zkevm/prover/ecdsa/ecdata.go
  prover/zkevm/prover/ecdsa/ecdata_test.go
  prover/zkevm/prover/ecdsa/txn_signature_test.go
  prover/zkevm/prover/ecdsa/unaligned_gnark.go
  prover/zkevm/prover/ecdsa/unaligned_gnark_test.go
  prover/zkevm/prover/ecdsa/utils_for_test.go
Due: none

[ZkTracer] feat: asm rlp utils
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/CancunHub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/LondonHub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpUtils/InstructionByteStringPrefix.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpUtils/InstructionBytes32.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpUtils/InstructionDataPricing.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpUtils/InstructionInteger.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpUtils/RlpUtils.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpUtils/RlpUtilsCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpUtils/WcpExoCall.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/tables/PowerRt.java
  tracer/reference-tests/build.gradle
Due: none

📝 docs: fix lastProvenSlot mapping documentation comment
  contracts/contracts/yield/YieldManagerStorageLayout.sol
Due: hardhat

⚡️ perf: optimize little-endian conversion for uint64 values
  contracts/contracts/yield/libs/vendor/lido/SSZ.sol
Due: hardhat

📝 docs: add natspec documentation for toLittleEndian64 function
  contracts/contracts/yield/libs/vendor/lido/SSZ.sol
Due: hardhat

🔥 fix: remove commented-out code from toLittleEndian64
  contracts/contracts/yield/libs/vendor/lido/SSZ.sol
Due: hardhat

📝 docs: document toLittleEndian64 optimization in header comment
  contracts/contracts/yield/libs/vendor/lido/SSZ.sol
Due: hardhat

fix(distribute): fix conglo (wip)
  prover/protocol/distributed/conglomeration_hierarchical.go
Due: none

initialStateFiatShamir is octuplet
  prover/backend/execution/limitless/prove.go
  prover/crypto/poseidon2_koalabear/poseidon2.go
  prover/protocol/distributed/conglomeration_hierarchical.go
  prover/protocol/distributed/distribute.go
  prover/protocol/distributed/distribute_test.go
  prover/protocol/distributed/module_lpp.go
  prover/protocol/distributed/module_witness.go
  prover/zkevm/limitless.go
Due: none

add objects description of forced txs.
  docs/architecture-description.md
Due: none

add a print
  prover/crypto/fiatshamir_bls12377/fiatshamir_circuit.go
Due: none

changed vk to octuplet
  prover/backend/execution/limitless/prove.go
  prover/crypto/hasher_factory/msethash.go
  prover/protocol/distributed/conglomeration_hierarchical.go
  prover/protocol/distributed/module_gl.go
  prover/protocol/distributed/module_lpp.go
  prover/protocol/distributed/module_witness.go
  prover/zkevm/limitless.go
Due: none

ras: make it compile
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpUtils/InstructionByteStringPrefix.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpUtils/InstructionBytes32.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpUtils/InstructionDataPricing.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpUtils/InstructionInteger.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpUtils/RlpUtils.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlptxn/cancun/phaseSection/DataPhaseSection.java
Due: none

fixed test
  prover/crypto/fiatshamir_bls12377/fiatshamir.go
  prover/crypto/fiatshamir_bls12377/fiatshamir_circuit.go
  prover/crypto/state-management/smt_bls12377/gnark.go
  prover/crypto/vortex/vortex_bls12377/verifier_circuit.go
  prover/protocol/compiler/vortex/verifier.go
  prover/protocol/plonkinternal/external_hashchecker_test.go
  prover/protocol/query/gnark_params.go
  prover/protocol/query/grand_product.go
Due: none

✨ feat: add zero hash validation for GIndex constructor params
  contracts/contracts/lib/ErrorUtils.sol
  contracts/contracts/yield/libs/ValidatorContainerProofVerifier.sol
  contracts/test/yield/unit/ValidatorContainerProofVerifier.ts
Due: hardhat

small cleaning
  prover/maths/field/element.go
  prover/protocol/distributed/distribute_test.go
  prover/protocol/distributed/module_discovery.go
  prover/protocol/distributed/module_gl.go
  prover/protocol/distributed/module_lpp.go
Due: none
