Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

distribution of global queries
  prover/protocol/compiler/stitch_split/splitter/constraints.go
  prover/protocol/distributed/compiler/global/global.go
  prover/protocol/distributed/compiler/global/global_test.go
  prover/protocol/distributed/compiler/global/helper_test.go
  prover/protocol/distributed/compiler/global/helpers.go
  prover/protocol/distributed/namebaseddiscoverer/period_separating_module_discoverer.go
Due: none

more pr adjustments
  contracts/local-deployments-artifacts/deployed-artifacts/README.md
  contracts/src/_testing/integration/IntegrationTestTrueVerifier.sol
  contracts/test/hardhat/bridging/token/TokenBridge.ts
  contracts/test/hardhat/messaging/l2/L2MessageService.ts
  e2e/src/common/utils.ts
  e2e/src/config/tests-config/setup.ts
Due: hardhat

docs(XPToken): add documentation about the XP Token
  docs/xp-token.md
Due: none

Update docs/xp-token.md
  docs/xp-token.md
Due: none

new ct selector column and new filterArith column
  prover/zkevm/prover/publicInput/fetchers_arithmetization/timestamp_fetcher.go
  prover/zkevm/prover/publicInput/testdata/blockdata_mock.csv
Due: none

update the timestamp mock
  prover/zkevm/prover/publicInput/fetchers_arithmetization/timestamp_fetcher.go
  prover/zkevm/prover/publicInput/testdata/blockdata_mock.csv
Due: none

Update timestamp_fetcher.go
  prover/zkevm/prover/publicInput/fetchers_arithmetization/timestamp_fetcher.go
Due: none

wip: added the boundary checks
  prover/protocol/distributed/compiler/global/global.go
  prover/protocol/distributed/compiler/global/global_test.go
Due: none

fix: temp fix for the corepack issue
  postman/Dockerfile
Due: none

feat: update constraints be40337 (#1765)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/tables/instructionDecoder/InstructionDecoder.java
Due: none

Prover/fix public input timestamps from new blockdata (#644)
  prover/zkevm/prover/publicInput/fetchers_arithmetization/timestamp_fetcher.go
  prover/zkevm/prover/publicInput/testdata/blockdata_mock.csv
Due: none

handling empty compilediop correctly
  prover/protocol/column/store.go
Due: none

feat(besupkg): update to a2497e3
  docker/compose-spec-l2-services.yml
  docker/compose-tracing-v2-ci-extension.yml
  docker/compose-tracing-v2.yml
Due: none

move public input computation into memory refactor
  contracts/.solcover.js
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/ZkEvmV2.sol
  contracts/src/rollup/interfaces/ILineaRollup.sol
Due: hardhat

minor
  prover/protocol/distributed/compiler/global/global.go
Due: none

fix: move the fix line above corepack enable
  postman/Dockerfile
Due: none

Prover/cross-checking among segments of limitless prover (#627)
  prover/protocol/accessors/from_grandprod.go
  prover/protocol/accessors/from_grandsum.go
  prover/protocol/accessors/from_logderivsum.go
  prover/protocol/column/store.go
  prover/protocol/distributed/compiler/inclusion/inclusion.go
  prover/protocol/distributed/compiler/inclusion/inclusion_test.go
  prover/protocol/distributed/xcomp/xcomp.go
  prover/protocol/query/gnark_params.go
  prover/protocol/query/grand_sum.go
  prover/protocol/wizard/verifier.go
Due: none

default pre-test implementation
  contracts/hardhat.config.ts
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/ZkEvmV2.sol
  contracts/src/rollup/interfaces/ILineaRollup.sol
  contracts/test/hardhat/rollup/LineaRollup.ts
Due: hardhat

staterecovery: code rearange on app configurator
  state-recovery/appcore/logic/src/main/kotlin/linea/staterecovery/StateSynchronizerService.kt
  state-recovery/besu-plugin/src/main/kotlin/linea/staterecovery/plugin/AppConfigurator.kt
Due: none

remove unused gradle lib file
  jvm-libs/linea/testing/teku-helper/build.gradle
Due: kotlin

Fix typos in bridge-ui/RELEASE-NOTES.md
  bridge-ui/RELEASE-NOTES.md
Due: none

Fix typos in contracts/README.md
  contracts/README.md
Due: hardhat

Fix typos in contracts/docs/operational.md
  contracts/docs/operational.md
Due: hardhat

Fix typos in contracts/docs/linea-token-bridge.md
  contracts/docs/linea-token-bridge.md
Due: hardhat

Fix typos in contracts/docs/contract-style-guide.md
  contracts/docs/contract-style-guide.md
Due: hardhat

Fix typos in bridge-ui/README.md
  bridge-ui/README.md
Due: none

Fix typos in contracts/docs/deployment.md
  contracts/docs/deployment.md
Due: hardhat

fix: improve null safety in RequestHandlersV1
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersV1.kt
Due: none

fix: temp fix for the corepack issue (#645)
  postman/Dockerfile
Due: none

fixup: missed merge change
  prover/protocol/compiler/projection/verifier.go
Due: none

clean(legacy): remove deprecated PublicInput column status
  prover/protocol/column/status.go
  prover/protocol/column/store.go
  prover/protocol/wizard/compiled.go
  prover/protocol/wizard/gnark_verifier.go
  prover/protocol/wizard/prover.go
  prover/protocol/wizard/verifier.go
Due: none

feat(conglo): integrates the cross-consistency checking in the public inputs
  prover/protocol/distributed/compiler/inclusion/inclusion.go
  prover/protocol/distributed/compiler/inclusion/inclusion_test.go
  prover/protocol/distributed/conglomeration/conglomeration.go
  prover/protocol/distributed/conglomeration/conglomeration_test.go
  prover/protocol/distributed/conglomeration/cross_segment_consistency.go
  prover/protocol/distributed/constants/constant.go
  prover/protocol/distributed/xcomp/xcomp.go
  prover/protocol/wizard/compiled.go
Due: none

[Feat] Floating pragma for inherited contracts (#630)
  contracts/src/bridging/token/interfaces/ITokenBridge.sol
  contracts/src/bridging/token/utils/StorageFiller39.sol
  contracts/src/interfaces/IGenericErrors.sol
  contracts/src/libraries/EfficientLeftRightKeccak.sol
  contracts/src/libraries/TransientStorageHelpers.sol
  contracts/src/messaging/MessageServiceBase.sol
  contracts/src/messaging/interfaces/IMessageService.sol
  contracts/src/messaging/l1/L1MessageManager.sol
  contracts/src/messaging/l1/L1MessageService.sol
  contracts/src/messaging/l1/interfaces/IL1MessageManager.sol
  contracts/src/messaging/l1/interfaces/IL1MessageService.sol
  contracts/src/messaging/l1/v1/L1MessageManagerV1.sol
  contracts/src/messaging/l1/v1/L1MessageServiceV1.sol
  contracts/src/messaging/l1/v1/interfaces/IL1MessageManagerV1.sol
  contracts/src/messaging/l2/L2MessageManager.sol
  contracts/src/messaging/l2/interfaces/IL2MessageManager.sol
  contracts/src/messaging/l2/v1/L2MessageManagerV1.sol
  contracts/src/messaging/l2/v1/L2MessageServiceV1.sol
  contracts/src/messaging/l2/v1/interfaces/IL2MessageManagerV1.sol
  contracts/src/messaging/l2/v1/interfaces/IL2MessageServiceV1.sol
  contracts/src/messaging/libraries/MessageHashing.sol
  contracts/src/messaging/libraries/SparseMerkleTreeVerifier.sol
  contracts/src/recovery/interfaces/IRecoverFunds.sol
  contracts/src/rollup/ZkEvmV2.sol
  contracts/src/rollup/interfaces/ILineaRollup.sol
  contracts/src/rollup/interfaces/IZkEvmV2.sol
  contracts/src/security/access/PermissionsManager.sol
  contracts/src/security/access/interfaces/IPermissionsManager.sol
  contracts/src/security/limiting/RateLimiter.sol
  contracts/src/security/limiting/interfaces/IRateLimiter.sol
  contracts/src/security/pausing/L2MessageServicePauseManager.sol
  contracts/src/security/pausing/LineaRollupPauseManager.sol
  contracts/src/security/pausing/PauseManager.sol
  contracts/src/security/pausing/TokenBridgePauseManager.sol
  contracts/src/security/pausing/interfaces/IPauseManager.sol
  contracts/src/security/reentrancy/TransientStorageReentrancyGuardUpgradeable.sol
  contracts/src/tokens/interfaces/ITokenMinter.sol
  contracts/src/tokens/interfaces/ITokenMintingRateLimiter.sol
  contracts/src/verifiers/interfaces/IPlonkVerifier.sol
Due: hardhat
