Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

coordinator: config v2 wip
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ConfigLoaderHelper.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/CoordinatorConfigToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/Decoders.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ConfigV2Test.kt
Due: kotlin

coordinator: extend Web3JFactory
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/Web3JFactory.kt
Due: kotlin

coordinator: add createReadOnly to Web3JL2MessageServiceSmartContractClient
  jvm-libs/linea/clients/linea-contract-clients/src/main/kotlin/linea/contract/l2/Web3JL2MessageServiceSmartContractClient.kt
Due: kotlin

coordinator: revert attempt to use web3signer on CI ONly :(
  config/coordinator/coordinator-config-v2-override-web3signer.toml
  config/coordinator/coordinator-config-v2.toml
  docker/compose-coordinator-web3signer.override.yml
  docker/compose-tracing-v2-ci-extension.yml
  docker/compose-tracing-v2.yml
Due: none

coordinator: config v2 - fix prover directory config
  config/coordinator/coordinator-config-v2-override-local-dev.toml
  config/coordinator/coordinator-config-v2.toml
Due: none

coordinator: add getChaindId to EthApiClient.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/EthApiClient.kt
  jvm-libs/linea/clients/interfaces/src/testFixtures/kotlin/linea/ethapi/FakeEthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClientFactory.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClientWithRetries.kt
Due: kotlin

coordinator: adapt local stack coordinator configs
  docker/compose-spec-l2-services.yml
  docker/compose-tracing-v2-ci-extension.yml
  docker/compose-tracing-v2.yml
Due: none

coordinator: improve EIP1559GasProvider validation
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/gas/EIP1559GasProvider.kt
Due: kotlin

coordinator: fix test and configs
  config/coordinator/coordinator-config-v2.toml
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/LocalStackConfigsParsingTest.kt
Due: kotlin

coordinator: add validation to FeeHistoryFetcherImpl
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/FeeHistoryFetcherImpl.kt
Due: kotlin

coordinator: fix test and configs
  config/coordinator/coordinator-config-v2.toml
Due: none

coordinator: add more configs to v2
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/ConflationConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/L1SubmissionConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ConflationToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/CoordinatorConfigFilesToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/L1FinalizationMonitorConfigToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/L1SubmissionConfigToml.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/DefaultsParsingTest.kt
Due: kotlin

coordinator: addapt CoordinatorApp to new V2 configs
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/BlockchainClientHelper.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorAppCli.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorAppMain.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/DisabledLongRunningService.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
Due: kotlin

coordinator: log4j clients.l1 debug
  config/coordinator/log4j2-dev.xml
Due: none

coordinator: default targetBlobsPerTransaction=7u
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/CoordinatorConfigFilesToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/DatabaseToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/L1SubmissionConfigToml.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/DataBaseConfigParsingTest.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/L1SubmissionConfigParsingTest.kt
Due: kotlin

coordinator: hardcode tracesVersion to v2.1.0 to match prover regex
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
Due: kotlin

coordinator: remove unnecessary file
  docker/compose-coordinator-web3signer.override.yml
Due: none

coordinator: fix traces node address
  config/coordinator/coordinator-config-v2.toml
Due: none

Update config/coordinator/coordinator-config-v2.toml
  config/coordinator/coordinator-config-v2.toml
Due: none

Apply suggestions from code review
  config/coordinator/coordinator-config-v2.toml
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/MessageAnchoringConfig.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ApiConfigParsingTest.kt
Due: kotlin

feat: update e2e test timeout
  e2e/src/shomei-get-proof.spec.ts
Due: none

feat: added log info for e2e test
  e2e/src/shomei-get-proof.spec.ts
Due: none

coordinator: hardcode tracesVersion to 2.1.0 to match prover regex
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
Due: kotlin

coordinator: fix agg configs
  config/coordinator/coordinator-config-v2.toml
Due: none

use base abstract contracts with version overrides
  contracts/docs/inheriting-main-contracts.md
  contracts/src/_testing/unit/bridging/InheritingTokenBridge.sol
  contracts/src/_testing/unit/messaging/InheritingL2MessageService.sol
  contracts/src/bridging/token/TokenBridge.sol
  contracts/src/bridging/token/TokenBridgeBase.sol
  contracts/src/bridging/token/interfaces/ITokenBridge.sol
  contracts/src/messaging/l2/L2MessageService.sol
  contracts/src/messaging/l2/L2MessageServiceBase.sol
  contracts/src/messaging/l2/v1/interfaces/IL2MessageServiceV1.sol
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/interfaces/ILineaRollup.sol
Due: hardhat

use TokenBridgeBase as abstract
  contracts/src/bridging/token/TokenBridgeBase.sol
Due: hardhat

Added dual license (#138)
  maru/LICENSE
  maru/LICENSE-APACHE
  maru/LICENSE-MIT
Due: none

feat: add missing combination linComb
  prover/crypto/vortex/opening_prover.go
Due: none

feat: revise the e2e test to avoid timeout
  e2e/src/shomei-get-proof.spec.ts
Due: none

Now fully works
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/JsonRpcMessageProcessor.kt
  jvm-libs/linea/core/metrics/build.gradle
  jvm-libs/linea/core/metrics/src/main/kotlin/net/consensys/linea/metrics/MetricsFacade.kt
  jvm-libs/linea/metrics/micrometer/build.gradle
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/AbstractTimerCapture.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/DynamicTagTimerCapture.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/Extensions.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/MicrometerCounterAdapter.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/MicrometerMetricsFacade.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/MicrometerTimerAdapter.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/SimpleTimerCapture.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/DynamicTagTimerCaptureTest.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/MicrometerMetricsFacadeTest.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/MicrometerTimerAdapterTest.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/SimpleTimerCaptureTest.kt
Due: kotlin

feat: add script for assemble linea besu packages and makefile (#1050)
  .github/actions/linea-besu-package/assemble/action.yml
  .github/workflows/linea-besu-package-release.yml
  .github/workflows/reuse-linea-besu-package-run-test.yml
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  docker/compose-spec-l2-services.yml
  e2e/src/common/utils.ts
  e2e/src/shomei-get-proof.spec.ts
  linea-besu-package/Makefile
  linea-besu-package/README.md
  linea-besu-package/scripts/assemble-packages.sh
  linea-besu-package/scripts/besu-container-verify.sh
Due: kotlin

fix: test prover, all passed except for checkColumnInclusion
  prover/crypto/state-management/smt/tree.go
  prover/crypto/vortex/commitment.go
  prover/crypto/vortex/commitment_test.go
  prover/crypto/vortex/opening_prover.go
  prover/crypto/vortex/opening_verifier.go
  prover/crypto/vortex/params.go
  prover/maths/common/smartvectors/arithmetic_basic_ext.go
Due: none

fix: TestVerifierNegative can partially pass
  prover/crypto/state-management/smt/tree.go
  prover/crypto/vortex/commitment.go
  prover/crypto/vortex/commitment_test.go
  prover/crypto/vortex/opening_verifier.go
  prover/maths/common/smartvectors/arithmetic_basic_ext.go
Due: none

coordinator: strict configs log warning when config is not used
  config/coordinator/coordinator-config-v2-override-local-dev.toml
  config/coordinator/coordinator-config-v2.toml
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ConfigLoaderHelper.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ConflationToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/CoordinatorConfigFilesToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/MessageAnchoringConfigToml.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ConflationParsingTest.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/DefaultsParsingTest.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/L2NetWorkingGasPricingConfigParsingTest.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/LocalStackConfigsParsingTest.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/MessageAnchoringConfigParsingTest.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ProverParsingTest.kt
Due: kotlin

coordinator: add carved out config files
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ApiConfigToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/DefaultsToml.kt
Due: kotlin

coordinator: add opt-in to avoid annoying warning log
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/ContractsManager.kt
Due: kotlin

add googleJavaSpotless to libs catalog
  build.gradle
  gradle/libs.versions.toml
Due: none

feat: update Makefile for new coordinator config file and variable name
  .github/workflows/reuse-linea-besu-package-run-e2e-tests.yml
  .run/Coordinator.run.xml.template
  Makefile
  coordinator/app/build.gradle
  linea-besu-package/Makefile
Due: kotlin
