Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

feat: switch costGEQStipendTest test to nightly to run blake with 2300+ rounds
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/instructionprocessing/callTests/sixtyThreeSixtyFourthsPrecompiles/SixtyThreeSixtyFourthsPrecompileTests.java
  tracer/gradle/tests.gradle
Due: none

feat: do Blake2f call at BlakeModexpData module
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2f/Blake2f.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2f/Blake2fOperation.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2fmodexpdata/BlakeModexpData.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/call/precompileSubsection/BlakeSubsection.java
Due: none

feat: move call only to Blakemodexpdata
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2f/Blake2f.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2fmodexpdata/BlakeModexpData.java
Due: none

fix traceEndconflation when not blakeé
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2fmodexpdata/BlakeModexpData.java
Due: none

feat: optimize switch from be to le and reverse
  tracer-constraints/blake2f/blake2f.zkasm
  tracer-constraints/util/be_to_le.zkasm
  tracer-constraints/util/switch_endian.zkasm
Due: none

doc: bit_ror + put back forced-tx for blake + rm unused imports in switch_endian
  tracer-constraints/hub/osaka/constraints/forced_transactions.lisp
  tracer-constraints/util/bit_ror64.zkasm
  tracer-constraints/util/switch_endian.zkasm
Due: none

simplified rlp of integer
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

add etherscan v2 config for mainnet + sepolia
  contracts/hardhat.config.ts
Due: hardhat

[ZkTracer] EIP7702 in ROMLEX
  tracer-constraints/constants/constants.lisp
  tracer-constraints/romlex/columns.lisp
  tracer-constraints/romlex/constraints.lisp
  tracer-constraints/romlex/lookups/romLex_into_rom.lisp
  tracer-constraints/romlex/lookups/romlex_into_rom_for_delegation.lispX
Due: none

fix(public-input): execution data collector tests pass
  prover/protocol/query/projection.go
  prover/utils/csvtraces/csvtraces.go
  prover/utils/utils.go
  prover/zkevm/prover/hash/generic/padding.go
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector.go
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector_hashing_test.go
  prover/zkevm/prover/publicInput/execution_data_collector/hasher.go
  prover/zkevm/prover/publicInput/public_input.go
Due: none

[ZkTracer] Feat/integrate blake2f (#2036)
  tracer-constraints/Makefile
  tracer-constraints/blake2f/blake2f.zkasm
  tracer-constraints/blake2fmodexpdata/lookups/blakemodexp_into_blake2f.lisp
  tracer-constraints/hub/osaka/constraints/forced_transactions.lisp
  tracer-constraints/util/bit_ror64.zkasm
  tracer-constraints/util/g1g2.zkasm
  tracer-constraints/util/switch_endian.zkasm
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/ZkCounter.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/ModuleName.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2f/Blake2f.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2f/Blake2fOperation.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2fmodexpdata/BlakeModexpData.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/call/precompileSubsection/BlakeSubsection.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/instructionprocessing/callTests/sixtyThreeSixtyFourthsPrecompiles/SixtyThreeSixtyFourthsPrecompileTests.java
  tracer/gradle/tests.gradle
Due: none

feat: pointeval 16-bit case
  prover/zkevm/prover/bls/circuits_pointeval.go
  prover/zkevm/prover/bls/module_pointeval.go
  prover/zkevm/prover/bls/module_pointeval_test.go
Due: none

test: return to dummy compiler
  prover/zkevm/prover/bls/module_add_test.go
  prover/zkevm/prover/bls/module_map_test.go
  prover/zkevm/prover/bls/module_msm_test.go
  prover/zkevm/prover/bls/module_pair_test.go
Due: none

test: compile circuit for every test case for height alignment
  prover/zkevm/prover/bls/module_pair_test.go
Due: none

fix a bug, opt evaluation
  prover/maths/common/fastpoly/gnark_lagrange.go
  prover/maths/common/fastpolyext/gnark_lagrange.go
  prover/protocol/compiler/globalcs/evaluation.go
  prover/protocol/compiler/standard_benchmark_test.go
  prover/protocol/wizard/gnark_verifier.go
Due: none

optimize lincomb
  prover/symbolic/lincomb.go
Due: none

update ftx gateway abi
  contracts/abi/ForcedTransactionGateway.abi
Due: hardhat

optimize GnarkEvalExt, the exponant mostly =1
  prover/symbolic/product.go
Due: none

optimize GnarkEvalAtOutOfDomain
  prover/protocol/variables/periodicsample.go
Due: none

cleanup
  prover/protocol/compiler/standard_benchmark_test.go
  prover/protocol/wizard/gnark_verifier.go
Due: none

Optimization: -16M constraints, optimize ExpExt in GnarkEvalExt, most exponent =1 (#2092)
  prover/maths/common/fastpoly/gnark_lagrange.go
  prover/maths/common/fastpolyext/gnark_lagrange.go
  prover/protocol/compiler/globalcs/evaluation.go
  prover/protocol/variables/periodicsample.go
  prover/symbolic/lincomb.go
  prover/symbolic/product.go
Due: none

feat: set block gas limit to Linea block gas limit
  docker/config/l2-genesis-initialization/genesis-besu.json.template
Due: none

coordinator: fix equals/hascode
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/InvalidtyProofRequestResponse.kt
Due: kotlin

coordinator: forced transactions client interface
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/forcedtx/ForcedTransactionsClient.kt
Due: kotlin

coordinator: forced transactions client interface
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/contract/events/ForcedTransactionAdded.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/forcedtx/ForcedTransactionsClient.kt
Due: kotlin

coordinator: forced transactions adds shomei and prover interfaces
  buildSrc/src/main/groovy/net.consensys.zkevm.kotlin-common-minimal-conventions.gradle
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/InvalidtyProofRequestResponse.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/ProverClient.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Aggregation.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/forcedtx/ForcedTransactionsClient.kt
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerAccountProofClient.kt
Due: kotlin

mul --> square
  prover/maths/polynomials/lagrange_wv.go
Due: none

[Coordinator] Refactor blob compression proof flow part 2 (#2057)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/GenericFileBasedProverClient.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofPoller.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ProofGeneratingConflationHandlerImpl.kt
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinatorIntTest.kt
  coordinator/persistence/blob/src/test/kotlin/net/consensys/zkevm/ethereum/coordinator/blob/BlobCompressionProofCoordinatorTest.kt
Due: kotlin

batch evaluate, -17M constraints
  prover/crypto/vortex/verifier_circuit_common.go
  prover/maths/polynomials/lagrange_wv.go
Due: none

coordinator: rename class to ForcedTransactionAddedEvent
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/contract/events/ForcedTransactionAddedEvent.kt
Due: kotlin

coordinator: add TracesConflationVirtualBlockClientV1 interface
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/TracesServiceClient.kt
Due: kotlin

coordinator - clients interfaces for forced transactions (#2077)
  buildSrc/src/main/groovy/net.consensys.zkevm.kotlin-common-minimal-conventions.gradle
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/InvalidtyProofRequestResponse.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/ProverClient.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/TracesServiceClient.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Aggregation.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/contract/events/ForcedTransactionAddedEvent.kt
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/forcedtx/ForcedTransactionsClient.kt
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerAccountProofClient.kt
Due: kotlin

tracer and sequencer spotless fixes
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/EstimateGasTest.kt
  besu-plugins/linea-sequencer/sequencer/build.gradle
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactory.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2f/Blake2f.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2f/Blake2fOperation.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/blake2fmodexpdata/BlakeModexpData.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/call/precompileSubsection/BlakeSubsection.java
Due: none

feat: mock WideCommit not to return all zeros and use kvstore from gnark
  prover/protocol/query/plonk_in_wizard.go
  prover/utils/gnarkutil/mock_builder.go
  prover/zkevm/prover/ecarith/ecmul_test.go
Due: none

fix: input filler for pointeval failure
  prover/zkevm/prover/bls/input_fillers.go
Due: none

Sequencer plugin - Forced transactions implementation
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/LineaPluginTestBase.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/ForcedTransactionRequestResponse.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/EstimateGasTest.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/ForcedTransactionTest.kt
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/AbstractLineaSharedPrivateOptionsPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaForcedTransactionCliOptions.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaForcedTransactionConfiguration.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/metrics/LineaMetricCategory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/methods/LineaGetForcedTransactionInclusionStatus.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/methods/LineaSendForcedRawTransaction.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/rpc/services/LineaForcedTransactionEndpointsPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/ForcedTransaction.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/ForcedTransactionInclusionResult.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/ForcedTransactionPoolService.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/ForcedTransactionStatus.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/LineaForcedTransactionPool.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/rpc/methods/LineaGetForcedTransactionInclusionStatusTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/rpc/methods/LineaSendForcedRawTransactionTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/forced/LineaForcedTransactionPoolTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactoryTest.java
  e2e/src/common/utils.ts
  e2e/src/forced-transactions.spec.ts
Due: none

Added forgotten class
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/utils/TestTransactionFactory.java
Due: none

Added missing deadlines to the typescript e2e tests
  e2e/src/common/utils.ts
  e2e/src/forced-transactions.spec.ts
Due: none

inline single use variable
  contracts/src/rollup/forcedTransactions/ForcedTransactionGateway.sol
Due: hardhat

optimize square for exp=power of 2
  prover/maths/field/gnarkfext/e4_gen.go
  prover/utils/gnarkutil/arith.go
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
