Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

add TGE contracts
  contracts-tge/Makefile
  contracts-tge/README.md
  contracts-tge/exported-artifacts/L2LineaToken.json
  contracts-tge/exported-artifacts/LineaToken.json
  contracts-tge/exported-artifacts/TokenAirdrop.json
  contracts-tge/foundry.toml
  contracts-tge/script/DeployL2LineaToken.s.sol
  contracts-tge/script/DeployLineaToken.s.sol
  contracts-tge/script/DeployTokenAirdrop.s.sol
  contracts-tge/src/L1/LineaToken.sol
  contracts-tge/src/L1/interfaces/ILineaToken.sol
  contracts-tge/src/L2/L2LineaToken.sol
  contracts-tge/src/L2/interfaces/IL2LineaToken.sol
  contracts-tge/src/MessageServiceBase.sol
  contracts-tge/src/airdrops/TokenAirdrop.sol
  contracts-tge/src/interfaces/IGenericErrors.sol
  contracts-tge/src/interfaces/IMessageService.sol
  contracts-tge/src/referenceTokens/PrimaryConditionalMultiplier.sol
  contracts-tge/src/referenceTokens/PrimaryExplicitMultiplier.sol
  contracts-tge/src/referenceTokens/SecondaryExplicitMultiplier.sol
  contracts-tge/test/L1/LineaToken.t.sol
  contracts-tge/test/L2/L2LineaToken.t.sol
  contracts-tge/test/airdrops/TokenAirdrop.t.sol
  contracts-tge/test/helpers/TestL2MessageService.sol
  contracts-tge/test/helpers/TestMessageService.sol
Due: none

add token audits (#1401)
  docs/audits.md
Due: none

serde comp-iop all basic tests pass
  prover/protocol/serialization/compiled_iop.go
Due: none

serde zkevm tests pass
  prover/protocol/serialization/compiled_iop.go
Due: none

exclude tge folder
  .github/workflows/main.yml
Due: none

rm unwanted refl in packed store
  prover/protocol/serialization/serializer.go
Due: none

rm unwanted files
  prover/protocol/serialization/compiled_iop_fast_test.go
  prover/protocol/serialization/proof_sanity_test.go
Due: none

Chore - exclude tge folder (#1403)
  .github/workflows/main.yml
Due: none

checkpoint
  prover/maths/common/smartvectors/arithmetic_basic_ext.go
  prover/symbolic/evaluation.go
  prover/symbolic/evaluation_ext.go
Due: none

add TGE contracts (#1402)
  contracts-tge/Makefile
  contracts-tge/README.md
  contracts-tge/exported-artifacts/L2LineaToken.json
  contracts-tge/exported-artifacts/LineaToken.json
  contracts-tge/exported-artifacts/TokenAirdrop.json
  contracts-tge/foundry.toml
  contracts-tge/script/DeployL2LineaToken.s.sol
  contracts-tge/script/DeployLineaToken.s.sol
  contracts-tge/script/DeployTokenAirdrop.s.sol
  contracts-tge/src/L1/LineaToken.sol
  contracts-tge/src/L1/interfaces/ILineaToken.sol
  contracts-tge/src/L2/L2LineaToken.sol
  contracts-tge/src/L2/interfaces/IL2LineaToken.sol
  contracts-tge/src/MessageServiceBase.sol
  contracts-tge/src/airdrops/TokenAirdrop.sol
  contracts-tge/src/interfaces/IGenericErrors.sol
  contracts-tge/src/interfaces/IMessageService.sol
  contracts-tge/src/referenceTokens/PrimaryConditionalMultiplier.sol
  contracts-tge/src/referenceTokens/PrimaryExplicitMultiplier.sol
  contracts-tge/src/referenceTokens/SecondaryExplicitMultiplier.sol
  contracts-tge/test/L1/LineaToken.t.sol
  contracts-tge/test/L2/L2LineaToken.t.sol
  contracts-tge/test/airdrops/TokenAirdrop.t.sol
  contracts-tge/test/helpers/TestL2MessageService.sol
  contracts-tge/test/helpers/TestMessageService.sol
Due: none

checkpoint
  prover/go.mod
  prover/go.sum
  prover/protocol/compiler/globalcs/quotient.go
  prover/symbolic/evaluation.go
  prover/symbolic/evaluation_board.go
  prover/symbolic/evaluation_ext.go
Due: none

feat: support file system caching of trace files (#2250)
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/RpcConfiguration.java
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/GenerateConflatedTracesV2.java
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/TraceRequestParams.java
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/TracesEndpointCliOptions.java
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/TracesEndpointConfiguration.java
  tracer/arithmetization/src/main/java/net/consensys/linea/tracewriter/TraceWriter.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/LtTraceFile.java
Due: none

cosmetics
  prover/protocol/accessors/from_expression.go
  prover/protocol/column/column.go
  prover/protocol/compiler/globalcs/quotient.go
  prover/protocol/query/global.go
  prover/protocol/query/local.go
  prover/symbolic/evaluation.go
  prover/symbolic/evaluation_test.go
  prover/symbolic/expression_test.go
Due: none

more cosmetics
  prover/symbolic/evaluation.go
  prover/symbolic/polyeval.go
Due: none

add benchmark helper func
  prover/protocol/serialization/benchmark_test.go
  prover/protocol/serialization/distributed_wizard_test.go
  prover/protocol/serialization/zkevm_test.go
Due: none

add packed compiled iop obj
  prover/protocol/serialization/compiled_iop.go
  prover/protocol/serialization/serializer.go
Due: none

Prover/vortex default poseidon2 (#1368)
  prover/crypto/vortex/commitment.go
  prover/crypto/vortex/commitment_test.go
  prover/crypto/vortex/gnark_test.go
  prover/crypto/vortex/opening_verifier.go
  prover/crypto/vortex/params.go
  prover/crypto/vortex/reedsolomon_ext_test.go
  prover/crypto/vortex/reedsolomon_test.go
  prover/protocol/compiler/standard_benchmark_test.go
  prover/protocol/compiler/vortex/compiler.go
Due: none

add benchmark file
  prover/protocol/serialization/benchmark_test.go
  prover/protocol/serialization/distributed_wizard_test.go
  prover/protocol/serialization/zkevm_test.go
Due: none

minor
  prover/backend/aggregation/prove.go
  prover/circuits/compilation_suite.go
  prover/circuits/internal/utils.go
  prover/circuits/invalidity/invalidity.go
  prover/circuits/pi-interconnection/circuit.go
Due: none

feat(StakeManager): add role based access control
  .editorconfig
  status-network-contracts/.gas-report
  status-network-contracts/.gas-snapshot
  status-network-contracts/.gitignore
  status-network-contracts/certora/specs/EmergencyMode.spec
  status-network-contracts/foundry.toml
  status-network-contracts/src/StakeManager.sol
  status-network-contracts/src/TrustedCodehashAccess.sol
  status-network-contracts/test/RewardsStreamerMP.t.sol
  status-network-contracts/test/mocks/StackOverflowStakeManager.sol
Due: none

chore(stitchsplit): typo fixes in stitcher test
  prover/protocol/compiler/stitchsplit/stitcher_test.go
Due: none

add benchmark for comp iop
  prover/protocol/serialization/benchmark_test.go
  prover/protocol/serialization/compiled_iop_test.go
Due: none

add global test and benchmark flag
  prover/protocol/serialization/compiled_iop_test.go
Due: none

coordinator: allow to use same endoint for traces counters and conflation
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/TracesConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/TracesToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/TracesClientFactory.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/TracesParsingTest.kt
Due: kotlin

Feat/t 3 4 tx tests (#1351)
  contracts/package.json
  contracts/scripts/testEIP4844/NineInOne/sendBlobTransaction.ts
  contracts/scripts/testEIP7702/deploy_TestEIP7702Delegation.ts
  contracts/scripts/testEIP7702/sendType4Tx.ts
  contracts/scripts/utils.ts
  contracts/src/_testing/mocks/base/TestEIP7702Delegation.sol
  pnpm-lock.yaml
Due: hardhat

coordinator: fix traces config check
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/TracesToml.kt
Due: kotlin

fix: fixed div
  prover/maths/field/gnarkfext/api_gen_test.go
  prover/maths/field/gnarkfext/api_test.go
  prover/maths/field/gnarkfext/e2_gen.go
  prover/maths/field/gnarkfext/e4.go
  prover/maths/field/gnarkfext/e4_gen.go
  prover/maths/field/gnarkfext/hints.go
  prover/protocol/zk/gnark_emulated_api.go
  prover/protocol/zk/gnark_mixed_api.go
  prover/protocol/zk/gnark_native_api.go
Due: none

coordinator: traces-api share same queue for counters and conflation (#1405)
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/TracesConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/TracesToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/TracesClientFactory.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/TracesParsingTest.kt
Due: kotlin

fix: fixed hint name issue
  prover/maths/field/gnarkfext/api_gen_test.go
  prover/maths/field/gnarkfext/e4.go
  prover/maths/field/gnarkfext/e4_gen.go
  prover/maths/field/gnarkfext/hints.go
  prover/protocol/zk/gnark_mixed_api.go
Due: none

create docker image with fixed tracer.
  linea-besu-package/versions.env
Due: none

added predeploy dynamic artifacts
  contracts/local-deployments-artifacts/dynamic-artifacts/UpgradeableBeaconChainDepositPredeployV1.json
  contracts/local-deployments-artifacts/dynamic-artifacts/UpgradeableConsolidationQueuePredeployV1.json
  contracts/local-deployments-artifacts/dynamic-artifacts/UpgradeableWithdrawalQueuePredeployV1.json
Due: hardhat

created local stack deployment scripts for predeploy and eip system contracts
  contracts/local-deployments-artifacts/deployEIPSystemContracts.ts
  contracts/local-deployments-artifacts/deployPredeployContractsV1.ts
  makefile-contracts.mk
Due: hardhat

fix: fixed add sub mul
  prover/maths/field/gnarkfext/api_gen_test.go
  prover/maths/field/gnarkfext/e4.go
  prover/maths/field/gnarkfext/e4_gen.go
  prover/maths/field/gnarkfext/hints.go
Due: none

success deployEIPSystemContract on anvil
  contracts/local-deployments-artifacts/deployEIPSystemContracts.ts
Due: hardhat

innerproduct ext to base
  prover/protocol/query/innerproduct.go
Due: none

fix(bridge-ui): fix bridge issue when connect wallet and display difference text when bridging USDC
  bridge-ui/src/components/bridge/amount/index.tsx
  bridge-ui/src/components/bridge/modal/transaction-confirmed/index.tsx
Due: none

add empty fee vault and lint others
  contracts/deploy/18_deploy_RollupFeeVault.ts
  contracts/hardhat_overrides.ts
  contracts/src/operational/RollupFeeVault.sol
  contracts/src/predeploy/UpgradeableBeaconChainDepositPredeploy.sol
  contracts/src/predeploy/UpgradeableWithdrawalQueuePredeploy.sol
Due: hardhat

fix: fixed arithmetic gen field
  prover/maths/field/gnarkfext/api_gen_test.go
  prover/maths/field/gnarkfext/e2_gen.go
  prover/maths/field/gnarkfext/e4_gen.go
  prover/protocol/zk/gnark_emulated_api.go
  prover/protocol/zk/gnark_mixed_api.go
  prover/protocol/zk/gnark_native_api.go
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
