Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

feat: added integration and unit tests and use reasonMessage for both request and response
  coordinator/persistence/db/src/testFixtures/kotlin/net/consensys/zkevm/persistence/test/CleanDbTestSuiteParallel.kt
  coordinator/persistence/rejectedtransaction/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDaoTest.kt
  coordinator/persistence/rejectedtransaction/src/integrationTest/resources/log4j2.xml
  jvm-libs/core/domain-models/src/main/kotlin/net/consensys/linea/RejectedTransaction.kt
  transaction-exclusion-api/README.md
  transaction-exclusion-api/app/build.gradle
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersV1.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/RejectedTransactionCleanupService.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/TransactionExclusionServiceV1Impl.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/Common.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/app/api/ArgumentParserTest.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersTest.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/repository/RejectedTransactionsRepositoryTest.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/service/RejectedTransactionCleanupServiceTest.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/service/TransactionExclusionServiceTest.kt
Due: kotlin

fix: transaction-exclusion-api unit test
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersTest.kt
Due: none

feat: updated image version of transaction exclusion api service in compose file
  docker/compose.yml
Due: none

feat: updated README.md and removed abi file
  contracts/abi/LineaRollupAlphaV4.abi
  transaction-exclusion-api/README.md
Due: hardhat

feat: removed unnecessary dependencies to prover client
  coordinator/persistence/batch/build.gradle
  coordinator/persistence/feehistory/build.gradle
Due: kotlin

feat: decoupled transaction exclusion api from coordinator package
  coordinator/persistence/rejectedtransaction/build.gradle
  coordinator/persistence/rejectedtransaction/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDaoTest.kt
  coordinator/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsDao.kt
  coordinator/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDao.kt
  coordinator/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RetryingRejectedTransactionsPostgresDao.kt
  coordinator/persistence/rejectedtransaction/src/test/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RetryingRejectedTransactionsPostgresDaoTest.kt
  jvm-libs/core/domain-models/build.gradle
  jvm-libs/core/domain-models/src/main/kotlin/net/consensys/linea/RejectedTransaction.kt
  settings.gradle
  transaction-exclusion-api/app/build.gradle
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/ArgumentParser.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersV1.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/repository/RejectedTransactionsRepositoryImpl.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/TransactionExclusionServiceV1Impl.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/Common.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/app/api/ArgumentParserTest.kt
  transaction-exclusion-api/core/build.gradle
  transaction-exclusion-api/core/src/main/kotlin/net/consensys/linea/transactionexclusion/RejectedTransaction.kt
  transaction-exclusion-api/core/src/main/kotlin/net/consensys/linea/transactionexclusion/RejectedTransactionsRepository.kt
  transaction-exclusion-api/core/src/main/kotlin/net/consensys/linea/transactionexclusion/TransactionExclusionServiceV1.kt
  transaction-exclusion-api/persistence/rejectedtransaction/build.gradle
  transaction-exclusion-api/persistence/rejectedtransaction/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDaoTest.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/integrationTest/resources/log4j2.xml
  transaction-exclusion-api/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsDao.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDao.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RetryingRejectedTransactionsPostgresDao.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/test/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RetryingRejectedTransactionsPostgresDaoTest.kt
Due: kotlin

feat: updated transaction exclusion api default image tag in compose file
  docker/compose.yml
Due: none

feat: removed debug logs and improved params error handling
  config/transaction-exclusion-api/transaction-exclusion-app-docker.config.toml
  config/transaction-exclusion-api/transaction-exclusion-app-local-dev.config.overrides.toml
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersV1.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/RejectedTransactionCleanupService.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/TransactionExclusionServiceV1Impl.kt
Due: none

feat: removed redundant commands in Makefile
  Makefile
Due: none

feat: improved json request param parsings
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/TransactionExclusionApp.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/Api.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/ArgumentParser.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersV1.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/TransactionExclusionErrorCodes.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/TransactionExclusionServiceV1Impl.kt
Due: none

fix: jacocoRootReport error
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/TransactionExclusionApp.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/Api.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersV1.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/TransactionExclusionErrorCodes.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/repository/RejectedTransactionsRepositoryImpl.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/RejectedTransactionCleanupService.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/TransactionExclusionServiceV1Impl.kt
  transaction-exclusion-api/core/src/main/kotlin/net/consensys/linea/transactionexclusion/ErrorType.kt
  transaction-exclusion-api/core/src/main/kotlin/net/consensys/linea/transactionexclusion/RejectedTransactionsRepository.kt
  transaction-exclusion-api/core/src/main/kotlin/net/consensys/linea/transactionexclusion/TransactionExclusionServiceV1.kt
Due: none

feat: added docker container and github workflow pipeline for transaction exclusion api
  .github/workflows/build-and-publish.yml
  .github/workflows/main.yml
  .github/workflows/reuse-check-images-tags-and-push.yml
  .github/workflows/testing.yml
  .github/workflows/transaction-exclusion-api-build-and-publish.yml
  .github/workflows/transaction-exclusion-api-testing.yml
  config/transaction-exclusion-api/transaction-exclusion-app-docker.config.toml
  config/transaction-exclusion-api/transaction-exclusion-app-local-dev.config.overrides.toml
  docker/compose.yml
Due: none

feat: added rejection stage in response and use txHash and rejectReason as primary key of tables
  config/transaction-exclusion-api/db/migration/V001__initial_schema.sql
  coordinator/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDao.kt
  jvm-libs/core/domain-models/src/main/kotlin/net/consensys/linea/RejectedTransaction.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/ArgumentParser.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersV1.kt
Due: kotlin

feat: added e2e tests and remove reasonMessage from get response and redundant codes
  coordinator/persistence/rejectedtransaction/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDaoTest.kt
  coordinator/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsDao.kt
  coordinator/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDao.kt
  coordinator/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RetryingRejectedTransactionsPostgresDao.kt
  coordinator/persistence/rejectedtransaction/src/test/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RetryingRejectedTransactionsPostgresDaoTest.kt
  docker/compose.yml
  e2e/env-setup/custom.d.ts
  e2e/env-setup/setup-dev.ts
  e2e/env-setup/setup-local-deploy.ts
  e2e/env-setup/setup-local.ts
  e2e/env-setup/setup-shadow.ts
  e2e/env-setup/setup-uat.ts
  e2e/src/index.ordered-test.ts
  e2e/src/transaction-exclusion.spec.ts
  e2e/src/utils/constants.dev.ts
  e2e/src/utils/constants.local.ts
  e2e/src/utils/constants.uat.ts
  e2e/src/utils/utils.ts
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersV1.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/repository/RejectedTransactionsRepositoryImpl.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersTest.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/repository/RejectedTransactionsRepositoryTest.kt
Due: kotlin

feat: added metric and change param name from reasonMessage to reason
  jvm-libs/core/metrics/src/main/kotlin/net/consensys/linea/metrics/MetricsFacade.kt
  transaction-exclusion-api/app/build.gradle
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/TransactionExclusionApp.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersV1.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/TransactionExclusionErrorCodes.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/TransactionExclusionServiceV1Impl.kt
  transaction-exclusion-api/core/src/main/kotlin/net/consensys/linea/transactionexclusion/ErrorType.kt
  transaction-exclusion-api/core/src/main/kotlin/net/consensys/linea/transactionexclusion/TransactionExclusionServiceV1.kt
Due: kotlin

fix: e2e testing error
  .github/workflows/reuse-run-e2e-tests.yml
Due: none

feat: separate database into read and write config and each with dedicated connection
  config/transaction-exclusion-api/transaction-exclusion-app-docker.config.toml
  config/transaction-exclusion-api/transaction-exclusion-app-local-dev.config.overrides.toml
  coordinator/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDao.kt
  docker/compose.yml
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/TransactionExclusionApp.kt
Due: kotlin

feat: first commit for transaction exclusion api service
  .run/TransactionExclusionApi.run.xml.template
  config/traces-api/traces-app-docker.config.toml
  config/transaction-exclusion-api/db/migration/V001__initial_schema.sql
  config/transaction-exclusion-api/log4j2-dev.xml
  config/transaction-exclusion-api/transaction-exclusion-app-docker.config.toml
  config/transaction-exclusion-api/transaction-exclusion-app-local-dev.config.overrides.toml
  config/transaction-exclusion-api/vertx-options.json
  contracts/abi/LineaRollupAlphaV4.abi
  coordinator/persistence/db/src/main/kotlin/net/consensys/zkevm/persistence/db/Db.kt
  coordinator/persistence/rejectedtransaction/build.gradle
  coordinator/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsDao.kt
  coordinator/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDao.kt
  coordinator/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RetryingRejectedTransactionsPostgresDao.kt
  docker/compose.yml
  docker/postgres/init/create-schema.sql
  jvm-libs/core/domain-models/build.gradle
  jvm-libs/core/domain-models/src/main/kotlin/net/consensys/linea/RejectedTransaction.kt
  settings.gradle
  transaction-exclusion-api/Dockerfile
  transaction-exclusion-api/README.md
  transaction-exclusion-api/app/build.gradle
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/TransactionExclusionApp.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/TransactionExclusionAppCli.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/TransactionExclusionAppMain.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/Api.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/ApiMethod.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/ArgumentParser.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/HttpJsonRpcServer.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersV1.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/TransactionExclusionErrorCodes.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/repository/RejectedTransactionsRepositoryImpl.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/RejectedTransactionCleanupService.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/TransactionExclusionServiceV1Impl.kt
  transaction-exclusion-api/core/build.gradle
  transaction-exclusion-api/core/src/main/kotlin/net/consensys/linea/ErrorType.kt
  transaction-exclusion-api/core/src/main/kotlin/net/consensys/linea/RejectedTransactionsRepository.kt
  transaction-exclusion-api/core/src/main/kotlin/net/consensys/linea/TransactionExclusionServiceV1.kt
Due: hardhat, kotlin

feat: moved persistence:db package to jvm-libs
  coordinator/app/build.gradle
  coordinator/app/src/main/resources/db/V001__initial_schema.sql
  coordinator/app/src/main/resources/db/V002__add_blob_and_aggregation_schema.sql
  coordinator/app/src/main/resources/db/V003__add_feehistory_schema.sql
  coordinator/app/src/main/resources/db/V004__remove_versioning_schema.sql
  coordinator/clients/prover-client/file-based-client/build.gradle
  coordinator/ethereum/blob-submitter/build.gradle
  coordinator/ethereum/blob-submitter/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/finalization/BlobAndAggregationFinalizationIntTest.kt
  coordinator/persistence/aggregation/build.gradle
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsPostgresDaoTest.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandlerTest.kt
  coordinator/persistence/batch/build.gradle
  coordinator/persistence/batch/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/BatchesPostgresDaoTest.kt
  coordinator/persistence/batch/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/PostgresBatchesRepositoryTest.kt
  coordinator/persistence/blob/build.gradle
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinatorIntTest.kt
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/blob/BlobsPostgresDaoTest.kt
  coordinator/persistence/feehistory/build.gradle
  coordinator/persistence/feehistory/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/feehistory/FeeHistoriesPostgresDaoTest.kt
  jvm-libs/persistence/db/build.gradle
  jvm-libs/persistence/db/src/integrationTest/kotlin/net/consensys/zkevm/persistence/db/DbSchemaUpdatesIntTest.kt
  jvm-libs/persistence/db/src/main/kotlin/net/consensys/zkevm/persistence/db/Db.kt
  jvm-libs/persistence/db/src/main/kotlin/net/consensys/zkevm/persistence/db/DbHelper.kt
  jvm-libs/persistence/db/src/main/kotlin/net/consensys/zkevm/persistence/db/PersistenceRetryer.kt
  jvm-libs/persistence/db/src/main/kotlin/net/consensys/zkevm/persistence/db/PostgresHelperFunctions.kt
  jvm-libs/persistence/db/src/main/kotlin/net/consensys/zkevm/persistence/db/SQLQueryLogger.kt
  jvm-libs/persistence/db/src/test/kotlin/net/consensys/zkevm/persistence/db/DbHelperTest.kt
  jvm-libs/persistence/db/src/test/kotlin/net/consensys/zkevm/persistence/db/PersistenceRetryerTest.kt
  jvm-libs/persistence/db/src/testFixtures/kotlin/net/consensys/zkevm/persistence/test/CleanDbTestSuiteParallel.kt
  jvm-libs/persistence/db/src/testFixtures/kotlin/net/consensys/zkevm/persistence/test/DbQueries.kt
  settings.gradle
  transaction-exclusion-api/app/build.gradle
  transaction-exclusion-api/app/src/main/resources/db/V001__initial_schema.sql
  transaction-exclusion-api/persistence/rejectedtransaction/build.gradle
  transaction-exclusion-api/persistence/rejectedtransaction/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDaoTest.kt
Due: kotlin

feat: avoid redundant logs on periodic db cleanup
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/RejectedTransactionCleanupService.kt
Due: none

feat: parse save method json request with jackson
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/ArgumentParser.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersV1.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/dto/RejectedTransactionJsonDto.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/app/api/ArgumentParserTest.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersTest.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDao.kt
Due: none

fix: db migration location for fee history integration test
  coordinator/persistence/feehistory/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/feehistory/FeeHistoriesPostgresDaoTest.kt
Due: kotlin

feat: updated coordinator config for geth node l2 gas pricing recipients
  config/coordinator/coordinator-docker-traces-v2-override.config.toml
  docker/compose.yml
Due: none

feat: updated more percise jvm-libs change filtering on transaction-exclusion-api
  .github/workflows/main.yml
  docker/compose.yml
Due: none

feat: switch from shadow jar to zipped jar
  .github/workflows/transaction-exclusion-api-build-and-publish.yml
  docker/compose.yml
  transaction-exclusion-api/Dockerfile
  transaction-exclusion-api/app/build.gradle
Due: none

feat: removed the find check before metric increment on save rejected transaction
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/TransactionExclusionServiceV1Impl.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/service/TransactionExclusionServiceTest.kt
Due: none

feat: skip migration scripts on read db instance
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/TransactionExclusionApp.kt
Due: none

feat: updated dockerfile of transaction-exclusion-api
  jvm-libs/persistence/db/build.gradle
  transaction-exclusion-api/Dockerfile
  transaction-exclusion-api/persistence/rejectedtransaction/build.gradle
Due: kotlin

feat: revised gradle.build dependencies
  coordinator/persistence/aggregation/build.gradle
  coordinator/persistence/blob/build.gradle
  coordinator/persistence/feehistory/build.gradle
  jvm-libs/persistence/db/build.gradle
  jvm-libs/persistence/db/src/testFixtures/kotlin/net/consensys/zkevm/persistence/test/CleanDbTestSuiteParallel.kt
  transaction-exclusion-api/app/build.gradle
  transaction-exclusion-api/persistence/rejectedtransaction/build.gradle
Due: kotlin

feat: revised request handlers plus better test assertions on insertion
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersV1.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersTest.kt
  transaction-exclusion-api/persistence/rejectedtransaction/build.gradle
  transaction-exclusion-api/persistence/rejectedtransaction/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDaoTest.kt
Due: none

feat: removed repository service and using persistence retryer
  config/transaction-exclusion-api/transaction-exclusion-app-docker.config.toml
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/TransactionExclusionApp.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersV1.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/repository/RejectedTransactionsRepositoryImpl.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/RejectedTransactionCleanupService.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/TransactionExclusionServiceV1Impl.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/repository/RejectedTransactionsRepositoryTest.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/service/RejectedTransactionCleanupServiceTest.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/service/TransactionExclusionServiceTest.kt
  transaction-exclusion-api/core/src/main/kotlin/net/consensys/linea/transactionexclusion/RejectedTransactionsRepository.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDao.kt
Due: none

fix: test case
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersTest.kt
Due: none

feat: removed migration file dir location config from transaction exclusion api
  config/transaction-exclusion-api/db/migration/V001__initial_schema.sql
  config/transaction-exclusion-api/transaction-exclusion-app-docker.config.toml
  config/transaction-exclusion-api/transaction-exclusion-app-local-dev.config.overrides.toml
  docker/compose.yml
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/TransactionExclusionApp.kt
Due: none

feat: rejected transaction dao and config refactoring
  config/transaction-exclusion-api/transaction-exclusion-app-docker.config.toml
  e2e/src/transaction-exclusion.spec.ts
  transaction-exclusion-api/README.md
  transaction-exclusion-api/app/build.gradle
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/TransactionExclusionApp.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/TransactionExclusionAppMain.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersV1.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/TransactionExclusionErrorCodes.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/repository/RejectedTransactionsRepositoryImpl.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/RejectedTransactionCleanupService.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/service/TransactionExclusionServiceV1Impl.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/app/api/RequestHandlersTest.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/repository/RejectedTransactionsRepositoryTest.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/service/RejectedTransactionCleanupServiceTest.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/service/TransactionExclusionServiceTest.kt
  transaction-exclusion-api/core/src/main/kotlin/net/consensys/linea/transactionexclusion/ErrorType.kt
  transaction-exclusion-api/core/src/main/kotlin/net/consensys/linea/transactionexclusion/RejectedTransactionsRepository.kt
  transaction-exclusion-api/core/src/main/kotlin/net/consensys/linea/transactionexclusion/TransactionExclusionServiceV1.kt
  transaction-exclusion-api/persistence/rejectedtransaction/build.gradle
  transaction-exclusion-api/persistence/rejectedtransaction/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDaoTest.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsDao.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDao.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RetryingRejectedTransactionsPostgresDao.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/test/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RetryingRejectedTransactionsPostgresDaoTest.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/testFixtures/kotlin/net.consensys.linea.transactionexclusion.test/Common.kt
Due: none

feat: decoupled coordinator modules from jvm-libs persistence db test module
  coordinator/ethereum/blob-submitter/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/finalization/BlobAndAggregationFinalizationIntTest.kt
  coordinator/persistence/aggregation/build.gradle
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsPostgresDaoTest.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandlerTest.kt
  coordinator/persistence/batch/build.gradle
  coordinator/persistence/batch/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/BatchesPostgresDaoTest.kt
  coordinator/persistence/batch/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/PostgresBatchesRepositoryTest.kt
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinatorIntTest.kt
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/blob/BlobsPostgresDaoTest.kt
  coordinator/persistence/db-common/build.gradle
  coordinator/persistence/db-common/src/integrationTest/kotlin/net/consensys/zkevm/persistence/db/test/DbSchemaUpdatesIntTest.kt
  coordinator/persistence/db-common/src/testFixtures/kotlin/net/consensys/zkevm/persistence/db/test/DbQueries.kt
  coordinator/persistence/feehistory/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/feehistory/FeeHistoriesPostgresDaoTest.kt
  jvm-libs/persistence/db/build.gradle
  jvm-libs/persistence/db/src/testFixtures/kotlin/net/consensys/zkevm/persistence/db/test/CleanDbTestSuiteParallel.kt
  transaction-exclusion-api/app/build.gradle
  transaction-exclusion-api/core/build.gradle
  transaction-exclusion-api/core/src/testFixtures/kotlin/net.consensys.linea.transactionexclusion.test/Common.kt
  transaction-exclusion-api/persistence/rejectedtransaction/build.gradle
  transaction-exclusion-api/persistence/rejectedtransaction/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDaoTest.kt
Due: kotlin

feat: improved log message for duplicate key error
  jvm-libs/persistence/db/src/main/kotlin/net/consensys/zkevm/persistence/db/PersistenceRetryer.kt
Due: kotlin

feat: extracted db migrations from the coordinator and transaction-exclusion app
  .github/workflows/main.yml
  coordinator/app/build.gradle
  coordinator/clients/type2-state-manager-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/Type2StateManagerJsonRpcClientTest.kt
  coordinator/ethereum/blob-submitter/build.gradle
  coordinator/ethereum/blob-submitter/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/finalization/BlobAndAggregationFinalizationIntTest.kt
  coordinator/persistence/aggregation/build.gradle
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsPostgresDaoTest.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandlerTest.kt
  coordinator/persistence/batch/build.gradle
  coordinator/persistence/batch/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/BatchesPostgresDaoTest.kt
  coordinator/persistence/batch/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/PostgresBatchesRepositoryTest.kt
  coordinator/persistence/blob/build.gradle
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinatorIntTest.kt
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/blob/BlobsPostgresDaoTest.kt
  coordinator/persistence/db-common/build.gradle
  coordinator/persistence/db-common/src/main/resources/db/V001__initial_schema.sql
  coordinator/persistence/db-common/src/main/resources/db/V002__add_blob_and_aggregation_schema.sql
  coordinator/persistence/db-common/src/main/resources/db/V003__add_feehistory_schema.sql
  coordinator/persistence/db-common/src/main/resources/db/V004__remove_versioning_schema.sql
  coordinator/persistence/feehistory/build.gradle
  coordinator/persistence/feehistory/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/feehistory/FeeHistoriesPostgresDaoTest.kt
  docker/compose.yml
  jvm-libs/persistence/db/build.gradle
  jvm-libs/persistence/db/src/integrationTest/kotlin/net/consensys/zkevm/persistence/db/DbSchemaUpdatesIntTest.kt
  settings.gradle
  transaction-exclusion-api/persistence/rejectedtransaction/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDaoTest.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/main/resources/db/V001__initial_schema.sql
Due: kotlin

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
