Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

Create NativeYieldAutomationMetricsService
  native-yield-operations/automation-service/src/application/metrics/NativeYieldAutomationMetricsService.ts
  native-yield-operations/automation-service/src/application/metrics/NativeYieldAutomationMetricsUpdater.ts
  native-yield-operations/automation-service/src/core/metrics/LineaNativeYieldAutomationServiceMetrics.ts
  postman/src/core/metrics/LineaPostmanMetrics.ts
Due: none

first draft for NativeYieldAutomationMetricsUpdater
  native-yield-operations/automation-service/src/application/metrics/NativeYieldAutomationMetricsUpdater.ts
  native-yield-operations/automation-service/src/core/metrics/LineaNativeYieldAutomationServiceMetrics.ts
Due: none

feat: bump maru version
  docker/compose-spec-l2-services.yml
  docs/getting-started/linea-mainnet/docker-compose.yml
  docs/getting-started/linea-sepolia/docker-compose.yml
Due: none

remove the segment index checker and the adjust the lpp commitment set
  prover/protocol/distributed/conglomeration_hierarchical.go
Due: none

fix: eth-transfer script args parsing (#1329)
  operations/src/commands/eth-transfer.ts
  operations/src/utils/eth-transfer/config.ts
Due: none

fix: update natspec in LineaSequencerUptimeFeed contract (#1334)
  contracts/src/operational/LineaSequencerUptimeFeed.sol
Due: hardhat

feat(estimator): uses the pessimistic estimate for CPW
  prover/sis_estimation/combinatorials.py
  prover/sis_estimation/sis_parameter_estimation.ipynb
Due: none

feat(hierarchical): implements the segment counting
  prover/maths/common/vector/vector.go
  prover/protocol/distributed/conglomeration_hierarchical.go
  prover/protocol/distributed/distribute.go
  prover/protocol/distributed/module_gl.go
  prover/protocol/distributed/module_lpp.go
  prover/protocol/distributed/module_witness.go
  prover/protocol/distributed/segment_compilation.go
Due: none

eth-api: adds support for blockNumber method (#1313)
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/ethapi/EthApiClient.kt
  jvm-libs/linea/clients/interfaces/src/testFixtures/kotlin/linea/ethapi/FakeEthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClient.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClientFactory.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ethapi/Web3jEthApiClientWithRetries.kt
Due: kotlin

change system contracts to 0.8.30 (#1318)
  contracts/hardhat.config.ts
  contracts/hardhat_overrides.ts
  contracts/src/predeploy/UpgradeableConsolidationQueuePredeploy.sol
  contracts/src/predeploy/UpgradeableWithdrawalQueuePredeploy.sol
Due: hardhat

feat: update linea-sequencer version for liveness (#1355)
  linea-besu-package/versions.env
Due: none

throw FileNotFoundException instead of IllegalArgumentException (#1336)
  jvm-libs/linea/testing/file-system/src/main/kotlin/net/consensys/linea/testing/filesystem/Files.kt
Due: kotlin

[Feat] Maru predeploy contracts (#1291)
  contracts/common/constants/general.ts
  contracts/deploy/13_deploy_EIP2935SystemContract.ts
  contracts/deploy/14_deploy_UpgradeableWithdrawalQueuePredeploy.ts
  contracts/deploy/15_deploy_UpgradeableConsolidationQueuePredeploy.ts
  contracts/docs/deployment.md
  contracts/hardhat.config.ts
  contracts/src/predeploy/UpgradeableConsolidationQueuePredeploy.sol
  contracts/src/predeploy/UpgradeableWithdrawalQueuePredeploy.sol
Due: hardhat

feat: update linea-besu-package image version in local stack (#1315)
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
  docker/config/linea-besu-sequencer/log4j.xml
Due: none

Fix - CI job cleanup-deployments (#1340)
  .github/workflows/main.yml
Due: none

Chores/add la limitless prover audit (#1333)
  docs/audits.md
  docs/audits/2025 August - Least Authority - Linea zkEVM Limitless Prover Final Audit Report.pdf
Due: none

Json rpc retry with order (#1369)
  build.gradle
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/clients/traces-generator-api-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV2.kt
  coordinator/clients/traces-generator-api-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/TracesApiRequestPriorityComparatorTest.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/LoadBalancingJsonRpcClient.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/PriorityQueueWithFIFOFallback.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClientFactory.kt
  jvm-libs/generic/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/client/FakeJsonRpcHandler.kt
  jvm-libs/generic/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/client/LoadBalancingJsonRpcClientTest.kt
  jvm-libs/generic/json-rpc/src/test/resources/log4j2.xml
Due: kotlin

fix: update http agent config in eth-transfer script (#1331)
  operations/src/utils/eth-transfer/transactions.ts
Due: none

1328 controller skip log search for exceptions (#1330)
  jvm-libs/linea/clients/eth-logs-searcher/src/main/kotlin/linea/ethapi/EthLogsSearcherImpl.kt
  jvm-libs/linea/clients/eth-logs-searcher/src/test/kotlin/linea/ethapi/LogsSearcherTest.kt
  jvm-libs/linea/clients/interfaces/src/testFixtures/kotlin/linea/ethapi/FakeEthApiClient.kt
Due: kotlin

Chore: arithmetization="beta-v4.0-rc0-counting-only---Prague-EXCLUDING-new-precompiles-and-7702" (#1376)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/ExcludedPrecompilesLimitlessTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimitsLimitless.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/moduleLimits_sendRawTx.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/noModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/strictModuleLimits.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/strictModuleLimitsLimitless.toml
  besu-plugins/linea-sequencer/acceptance-tests/src/test/resources/txOverflowModuleLimits.toml
  besu-plugins/linea-sequencer/sequencer/src/test/resources/sequencer/line-limits.toml
  gradle/libs.versions.toml
Due: none

Feat(1281): implement RBAC in LineaSequencerUptimeFeed contract (#1292)
  contracts/deploy/13_deploy_BaseSequencerUptimeFeed.ts
  contracts/hardhat_overrides.ts
  contracts/local-deployments-artifacts/static-artifacts/LineaSequencerUptimeFeed.json
  contracts/package.json
  contracts/src/_testing/unit/libraries/TestLineaSequencerUpTimeFeedAccess.sol
  contracts/src/libraries/LineaSequencerUptimeFeed.sol
  contracts/src/libraries/LineaSequencerUptimeFeedInterface.sol
  contracts/src/operational/LineaSequencerUptimeFeed.sol
  contracts/src/operational/interfaces/ILineaSequencerUptimeFeed.sol
  contracts/test/hardhat/operational/LineaSequencerUptimeFeed.ts
  e2e/src/config/jest/global-setup.ts
  e2e/src/liveness.spec.ts
  pnpm-lock.yaml
Due: hardhat

ci: try fix postgres reset on CI (#1341)
  build.gradle
  docker/compose-spec-l2-services.yml
  gradle/libs.versions.toml
Due: none

staterecovery: update blobscan (#1338)
  docker/compose-spec-l2-services.yml
Due: none

feat(mset): implements the general multiset hash for GL
  prover/protocol/distributed/module_gl.go
Due: none

feat(msethash): implements the multiset hash
  prover/crypto/mimc/msethash.go
Due: none

fix: eth-transfer script tls setup (#1324)
  operations/package.json
  operations/src/commands/eth-transfer.ts
  operations/src/utils/eth-transfer/config.ts
  operations/src/utils/eth-transfer/misc.ts
  operations/src/utils/eth-transfer/transactions.ts
  pnpm-lock.yaml
Due: none

Reuse tx-over-line-count-limit cache in transaction pool validation (#1310)
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/AbstractLineaSharedPrivateOptionsPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/validators/TraceLineLimitValidator.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/InvalidTransactionByLineCountCache.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/LineaTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/selectors/TraceLineLimitTransactionSelector.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/TraceLineLimitValidatorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorFactoryTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/TraceLineLimitCacheIntegrationTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txselection/selectors/TraceLineLimitTransactionSelectorTest.java
Due: none

feat: revised liveness metrics and registered them on start (#1352)
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/liveness/LineaLivenessService.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txselection/LineaTransactionSelectorPlugin.java
Due: none

new config for ForwardBundleTest (#1345)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/rpc/linea/ForwardBundleTest.java
Due: none

fix: update certs decoding for eth-transfer script (#1332)
  operations/src/utils/eth-transfer/transactions.ts
Due: none

Chore: update Besu to 25.8.0-linea1 (#1364)
  gradle/libs.versions.toml
Due: none

Traces api client fallback (#1375)
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/TracesConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/TracesToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/TracesParsingTest.kt
  coordinator/clients/traces-generator-api-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV2.kt
  coordinator/clients/traces-generator-api-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV2Test.kt
Due: kotlin

chore(bridge-ui): add Events and Rewards tabs to the navigation bar (#1327)
  bridge-ui/src/assets/icons/event.svg
  bridge-ui/src/assets/icons/reward.svg
  bridge-ui/src/components/side-bar-mobile/index.tsx
  bridge-ui/src/components/side-bar/index.tsx
Due: none

tmp
  prover/protocol/distributed/conglomeration_hierarchical.go
  prover/protocol/distributed/distribute.go
  prover/protocol/distributed/hierarchical-doc.md
  prover/protocol/distributed/module_default.go
  prover/protocol/distributed/module_discovery_standard.go
  prover/protocol/distributed/module_filtering.go
  prover/protocol/distributed/module_gl.go
  prover/protocol/distributed/module_lpp.go
  prover/protocol/distributed/module_witness.go
  prover/protocol/distributed/segment_compilation.go
Due: none

feat: adds the global sent/receive in the general multiset hash
  prover/protocol/distributed/conglomeration_hierarchical.go
  prover/protocol/distributed/hierarchical-doc.md
  prover/protocol/distributed/module_gl.go
  prover/protocol/distributed/module_lpp.go
Due: none

Releasing new linea besu version (#1314)
  linea-besu-package/versions.env
Due: none

feat: implements the merkle proof verification merkle proof
  prover/protocol/distributed/conglomeration_hierarchical.go
Due: none

update besu to 25.8.0-RC1-linea2 (#1337)
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/liveness/LivenessService.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/liveness/LivenessTxBuilder.java
  gradle/libs.versions.toml
  linea-besu-package/versions.env
Due: none

[Feat] Sequencer plugin to block Type4 Tx (#1305)
  besu-plugins/linea-sequencer/CHANGELOG.md
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/EIP7702TransactionDenialTest.java
  besu-plugins/linea-sequencer/acceptance-tests/src/test/java/linea/plugin/acc/test/LineaPluginTestBasePrague.java
  besu-plugins/linea-sequencer/docs/plugins.md
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaTransactionValidatorCliOptions.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/config/LineaTransactionValidatorConfiguration.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txvalidation/LineaTransactionValidatorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txvalidation/LineaTransactionValidatorPluginTest.java
Due: none

feat: update linea-besu-package image version with latest linea-seque… (#1316)
  .github/workflows/linea-sequencer-plugin-release.yml
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
  linea-besu-package/versions.env
Due: none
