Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

chore(e2e) - remove redundant pnpm-install option for contracts
  .github/workflows/reuse-run-e2e-tests.yml
Due: none

update go in setup workflow
  .github/actions/setup-arithmetization-riscv/action.yml
Due: none

fix : took zkevm bin from main
  prover/protocol/compiler/vortex/prover.go
  prover/zkevm/arithmetization/zkevm.bin
Due: none

[Coordinator] Local setup for testing conflation backtesting (#2626)
  config/coordinator/coordinator-config-v2.toml
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
  docs/features/coordinator.md
Due: kotlin

[Coordinator] Conflation backtesting creates aggregation proofs
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/InMemoryConsecutiveProvenBlobsProvider.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/InMemoryConsecutiveProvenBlobsProviderTest.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationProofHandler.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorServiceTest.kt
Due: kotlin

fix(coordinator) - fix cleanup should keep last finalized FTX
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ForcedTransactionsSafeBlockNumberManager.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandlerTest.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandler.kt
Due: kotlin

fix(coordinator) - revert ForcedTransactionsSafeBlockNumberManager update logic
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ForcedTransactionsSafeBlockNumberManager.kt
Due: kotlin

WIP
  config/coordinator/log4j2-dev.xml
  docker/config/l2-node-besu/log4j.xml
  docker/config/shomei/log4j.xml
  e2e/src/forced-transactions.spec.ts
  gradle/libs.versions.toml
  linea-besu-package/versions.env
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(coordinator) - fix cleanup should keep last finalized FTX (#2815)
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandlerTest.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RecordsCleanupFinalizationHandler.kt
Due: kotlin

Review comments
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/InMemoryConsecutiveProvenBlobsProvider.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/InMemoryConsecutiveProvenBlobsProviderTest.kt
Due: kotlin

chore: use CONFIG_OVERRIDE_OPTS for coordinator config overrides
  docker/compose-spec-l2-services.yml
  docker/compose-tracing-v2-partialprover-override.yml
Due: none

Fixed Besu plugin acceptance tests
  besu-plugins/linea-sequencer/acceptance-tests/build.gradle
  contracts/local-deployments-artifacts/static-artifacts/ExcludedPrecompiles.json
  contracts/local-deployments-artifacts/static-artifacts/MultiMessageSender.json
Due: hardhat

[Coordinator] Conflation backtesting creates aggregation proof requests (#2810)
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/InMemoryConsecutiveProvenBlobsProvider.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/InMemoryConsecutiveProvenBlobsProviderTest.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationProofHandler.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorServiceTest.kt
Due: kotlin

fix: add back the missing override configs from coordinator
  docker/compose-tracing-v2-partialprover-override.yml
Due: none

fix: deadline override configs from coordinator
  docker/compose-tracing-v2-partialprover-override.yml
Due: none

WIP
  linea-besu-package/versions.env
Due: none

feat(coordinator): target checkpoint pause for conflation with L1Finalization/API gates (#2779)
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/ConflationConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ConflationToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/api/Api.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/api/requesthandlers/ConflationTargetCheckpointResumeRequestHandler.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflationbacktesting/ConflationBacktestingApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitor.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/ConflationTargetCheckpointPauseController.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ConflationParsingTest.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitorTest.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/ConflationTargetCheckpointPauseControllerTest.kt
Due: kotlin

locking
  e2e/src/common/test-helpers/deny-list.spec.ts
  e2e/src/common/test-helpers/deny-list.ts
  e2e/src/common/test-helpers/eip7702-delegation.ts
  e2e/src/common/utils/retry.spec.ts
  e2e/src/common/utils/retry.ts
  e2e/src/eip7702.spec.ts
Due: none

add legacy retries
  e2e/src/common/utils/index.ts
  e2e/src/l2.spec.ts
Due: none

verf_action description by Claude
  prover/protocol/compiler/verifier_actions.md
Due: none

chore: revise to use environment variables for cooridnator config overrides and remove push workflow trigger
  .github/workflows/linea-besu-package-e2e-tests-with-partial-prover.yml
  docker/compose-spec-l2-services.yml
  docker/compose-tracing-v2-partialprover-override.yml
Due: none

chore: revert besu version
  gradle/libs.versions.toml
Due: none

chore: revise for review comments
  docker/compose-tracing-v2.yml
  linea-besu-package/Makefile
Due: none

fix: hyphen in coordinator docker env var
  docker/compose-spec-l2-services.yml
Due: none

chore: check if besuCommit has changed before we run linea-besu build and publish
  .github/workflows/main.yml
Due: none

minor fixed to documentation of Makefile
  arithmetization/src/test/examples/Makefile
Due: none

fix: check-lib-versions-changes
  .github/actions/check-lib-version-change/action.yml
  .github/workflows/check-lib-versions-changes.yml
  .github/workflows/linea-besu-build-and-publish.yml
  .github/workflows/main.yml
Due: none

refactor retry logic
  e2e/src/common/utils/retry.ts
Due: none

2537 manual ci workflow e2e with partial prover (#2553)
  .github/workflows/linea-besu-package-e2e-tests-with-partial-prover.yml
  Makefile
  docker/compose-spec-l2-services.yml
  docker/compose-tracing-v2-partialprover-override.yml
  docker/compose-tracing-v2.yml
  docker/config/prover/v3/prover-config-partial.toml
  e2e/package.json
  e2e/src/submission-finalization.spec.ts
  linea-besu-package/Makefile
  linea-besu-package/README.md
  prover/Makefile
Due: none

correct numbering and lower timeouts
  e2e/src/forced-transactions.spec.ts
  e2e/src/shomei-get-proof.spec.ts
  e2e/src/submission-finalization.spec.ts
Due: none

fix: remove the obsolete filter-commit-changes outputs check
  .github/workflows/main.yml
Due: none

flaky boundaries
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationL2StateProvider.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/InvalidityProofProvider.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/persistence/AggregationsRepository.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationL2StateProviderTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/InvalidityProofProviderTest.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/AggregationCalculatorByForcedTransaction.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ConflationCalculatorByForcedTransaction.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/ForcedTransactionsAppTest.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/conflation/AggregationCalculatorByForcedTransactionTest.kt
  coordinator/ethereum/forced-transactions/src/test/kotlin/linea/ftx/conflation/ConflationCalculatorByForcedTransactionTest.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsPostgresDaoTest.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsDao.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsRepositoryImpl.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/PostgresAggregationsDao.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RetryingPostgresAggregationsDao.kt
Due: kotlin

ras
  arithmetization/src/test/examples/zig/makefile
Due: none

fix(prover): use IsBlockActive for keccak cyclic counter isActive in limitless mode
  prover/zkevm/prover/hash/keccak/keccakf/chi_iota.go
  prover/zkevm/prover/hash/keccak/keccakf/chi_iota_test.go
  prover/zkevm/prover/hash/keccak/keccakf/iokeccakf/io_keccakf.go
  prover/zkevm/prover/hash/keccak/keccakf/keccakf.go
  prover/zkevm/prover/hash/keccak/keccakf/keccakf_test.go
Due: none

fix: #2648, Validation plugin restructuring
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/BlobTransactionBlockImportDenialTest.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/BlobTransactionDenialTest.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/EIP7702TransactionBlockImportDenialTest.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/EIP7702TransactionDenialTest.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/LineaPluginPoSTestBase.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/LineaPluginTestBase.kt
  besu-plugins/linea-sequencer/docs/plugins.md
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorFactory.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/LineaTransactionPoolValidatorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txpoolvalidation/validators/TransactionTypeValidator.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txvalidation/LineaBlockTransactionValidatorPlugin.java
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/txvalidation/TransactionTypeValidation.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txpoolvalidation/validators/TransactionTypeValidatorTest.java
  besu-plugins/linea-sequencer/sequencer/src/test/java/net/consensys/linea/sequencer/txvalidation/LineaTransactionValidatorPluginTest.java
Due: none

revert: clean up for compressor
  prover/lib/compressor/blob/blob.go
  prover/lib/compressor/blob/dictionary/dictionary_test.go
  prover/lib/compressor/blob/v0/blob_maker.go
  prover/lib/compressor/blob/v0/compress/lzss/compress.go
  prover/lib/compressor/blob/v0/compress/lzss/decompress.go
  prover/lib/compressor/blob/v0/compress/lzss/internal/suffixarray/suffixarray.go
  prover/lib/compressor/blob/v0/compress/stream.go
  prover/lib/compressor/blob/v1/blob_maker.go
  prover/lib/compressor/libcompressor/libcompressor.go
  prover/lib/compressor/libdecompressor/libdecompressor.go
Due: none

Added a comment about mutual exclusivity
  besu-plugins/linea-sequencer/docs/plugins.md
Due: none

fix(keccakf): added the decomposition constraint
  prover/zkevm/prover/hash/keccak/keccakf/theta.go
Due: none

revert: clean up for shnarf_caculator.go
  prover/lib/shnarf_calculator/shnarf_calculator.go
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
