Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

fix: update postman dependencies
  pnpm-lock.yaml
  postman/package.json
Due: none

fix: partially revert changes in deployment.md
  contracts/docs/deployment.md
Due: hardhat

staterecovery: add util to perform binay search for eth_getLogs accross long block range with a predicate
  jvm-libs/linea/core/domain-models/src/main/kotlin/build/linea/domain/RetryConfig.kt
  jvm-libs/linea/web3j-extensions/build.gradle
  jvm-libs/linea/web3j-extensions/src/main/kotlin/build/linea/web3j/Web3JLogsSearcher.kt
  jvm-libs/linea/web3j-extensions/src/test/kotlin/build/linea/web3j/Web3JLogsSearcherIntTest.kt
  jvm-libs/linea/web3j-extensions/src/test/resources/log4j2.xml
  state-recover/clients/execution-layer-json-rpc-client/build.gradle
Due: kotlin

staterecovery: improve fake jsonRpcServer
  jvm-libs/generic/json-rpc/src/testFixtures/kotlin/build/linea/jsonrpc/FakeJsonRpcServer.kt
Due: kotlin

feat clock based optimizer
  prover/lib/compressor/blob/v1/blob_maker.go
Due: none

feat synchronously-called optimizer
  prover/lib/compressor/blob/v1/blob_maker.go
Due: none

perf: insistent optimizer
  prover/lib/compressor/blob/v1/blob_maker.go
Due: none

fix private header
  prover/lib/compressor/blob/v1/blob_maker.go
  prover/lib/compressor/blob/v1/test_utils/blob_maker_testing.go
Due: none

fix typo operational.md
  contracts/docs/operational.md
Due: hardhat

fix typo operational.md (#368)
  contracts/docs/operational.md
Due: hardhat

chore: fix broken asset link in architecture docs (#351)
  docs/architecture-description.md
Due: none

staterecovery: simplify events fetcher
  jvm-libs/linea/web3j-extensions/src/main/kotlin/build/linea/web3j/Web3JLogsSearcher.kt
  state-recover/appcore/clients-interfaces/src/main/kotlin/build/linea/staterecover/clients/LineaSubmissionEventsClient.kt
  state-recover/clients/smartcontract/src/integrationTest/kotlin/linea/build/staterecover/clients/smartcontract/LineaSubmissionEventsClientIntTest.kt
  state-recover/clients/smartcontract/src/main/kotlin/linea/build/staterecover/clients/smartcontract/LineaSubmissionEventsClientWeb3jIpml.kt
Due: kotlin

staterecovery: carve out EthLogsSearcher interface to clients:interfaces module
  jvm-libs/linea/clients/interfaces/src/main/kotlin/linea/EthLogsSearcher.kt
  jvm-libs/linea/web3j-extensions/build.gradle
  jvm-libs/linea/web3j-extensions/src/main/kotlin/build/linea/web3j/Web3JLogsSearcher.kt
  jvm-libs/linea/web3j-extensions/src/test/kotlin/build/linea/web3j/Web3JLogsSearcherIntTest.kt
  state-recover/clients/smartcontract/build.gradle
  state-recover/clients/smartcontract/src/main/kotlin/linea/build/staterecover/clients/smartcontract/LineaSubmissionEventsClientWeb3jIpml.kt
Due: kotlin

test(StakeVault): introduce test file for `StakeVault`
  test/StakeVault.test.sol
Due: none

staterecover: move smartcontract client into core (it does not depend on web3j anymore)
  settings.gradle
  state-recover/appcore/logic/src/main/kotlin/build/linea/staterecover/core/StateRecoverApp.kt
  state-recover/appcore/logic/src/main/kotlin/build/linea/staterecover/core/StateSynchronizerService.kt
  state-recover/appcore/logic/src/main/kotlin/linea/staterecover/LineaSubmissionEventsClient.kt
  state-recover/appcore/logic/src/main/kotlin/linea/staterecover/LineaSubmissionEventsClientImpl.kt
  state-recover/clients/smartcontract/build.gradle
  state-recover/clients/smartcontract/src/integrationTest/kotlin/linea/build/staterecover/clients/smartcontract/LineaSubmissionEventsClientIntTest.kt
  state-recover/clients/smartcontract/src/integrationTest/resources/log4j2.xml
Due: none

staterecover: package refactor and fake clients
  state-recover/appcore/clients-interfaces/src/main/kotlin/build/linea/staterecover/clients/BlobFetcher.kt
  state-recover/appcore/clients-interfaces/src/main/kotlin/build/linea/staterecover/clients/ExecutionLayerClient.kt
  state-recover/appcore/clients-interfaces/src/main/kotlin/build/linea/staterecover/clients/TransactionDetailsClient.kt
  state-recover/appcore/clients-interfaces/src/main/kotlin/linea/staterecover/BlobFetcher.kt
  state-recover/appcore/clients-interfaces/src/main/kotlin/linea/staterecover/ExecutionLayerClient.kt
  state-recover/appcore/clients-interfaces/src/main/kotlin/linea/staterecover/TransactionDetailsClient.kt
  state-recover/appcore/logic/src/main/kotlin/build/linea/staterecover/core/BlobDecompressorAndDeserializer.kt
  state-recover/appcore/logic/src/main/kotlin/build/linea/staterecover/core/BlockImporterAndStateVerifier.kt
  state-recover/appcore/logic/src/main/kotlin/build/linea/staterecover/core/NoSignatureTransactionDecoder.kt
  state-recover/appcore/logic/src/main/kotlin/build/linea/staterecover/core/StateRecoverApp.kt
  state-recover/appcore/logic/src/main/kotlin/build/linea/staterecover/core/StateSynchronizerService.kt
  state-recover/appcore/logic/src/main/kotlin/linea/staterecover/BlobDecompressorAndDeserializer.kt
  state-recover/appcore/logic/src/main/kotlin/linea/staterecover/BlockImporterAndStateVerifier.kt
  state-recover/appcore/logic/src/main/kotlin/linea/staterecover/NoSignatureTransactionDecoder.kt
  state-recover/appcore/logic/src/main/kotlin/linea/staterecover/StateRecoverApp.kt
  state-recover/appcore/logic/src/main/kotlin/linea/staterecover/StateSynchronizerService.kt
  state-recover/appcore/logic/src/test/kotlin/build/linea/staterecover/core/BlobDecompressorAndDeserializerV1Test.kt
  state-recover/appcore/logic/src/test/kotlin/linea/staterecover/BlobDecompressorAndDeserializerV1Test.kt
  state-recover/clients/blobscan-client/build.gradle
  state-recover/clients/blobscan-client/src/main/kotlin/build/linea/staterecover/clients/blobscan/BlobScanClient.kt
  state-recover/clients/blobscan-client/src/main/kotlin/build/linea/staterecover/clients/blobscan/VertxRestClient.kt
  state-recover/clients/blobscan-client/src/main/kotlin/linea/staterecover/clients/blobscan/BlobScanClient.kt
  state-recover/clients/blobscan-client/src/main/kotlin/linea/staterecover/clients/blobscan/VertxRestClient.kt
  state-recover/clients/blobscan-client/src/test/kotlin/build/linea/staterecover/clients/blobscan/BlobScanClientTest.kt
  state-recover/clients/blobscan-client/src/test/kotlin/linea/staterecover/clients/blobscan/BlobScanClientTest.kt
  state-recover/clients/blobscan-client/src/testFixtures/kotlin/linea/staterecover/clients/blobscan/FakeBlobFetcher.kt
  state-recover/clients/eth-api/src/main/kotlin/linea/build/staterecover/clients/VertxTransactionDetailsClient.kt
  state-recover/clients/execution-layer-json-rpc-client/src/main/kotlin/build/linea/staterecover/clients/el/ExecutionLayerJsonRpcClient.kt
  state-recover/clients/execution-layer-json-rpc-client/src/test/kotlin/build/linea/staterecover/clients/el/ExecutionLayerJsonRpcClientTest.kt
  state-recover/test-cases/src/integrationTest/kotlin/linea/staterecover/LineaSubmissionEventsClientIntTest.kt
  state-recover/test-cases/src/main/kotlin/linea/staterecover/test/FakeExecutionLayerClient.kt
  state-recover/test-cases/src/main/kotlin/linea/staterecover/test/FakeStateManagerClient.kt
Due: none

staterecover: testcases gradle file
  state-recover/test-cases/build.gradle
Due: none

Fix PI Initial Rolling Hash Update (#360)
  prover/backend/aggregation/craft.go
  prover/backend/aggregation/prove.go
  prover/backend/execution/craft.go
  prover/backend/execution/prove.go
  prover/circuits/execution/circuit.go
  prover/circuits/execution/pi.go
  prover/circuits/execution/pi_test.go
  prover/circuits/execution/pi_wizard_extraction.go
  prover/circuits/internal/utils.go
  prover/circuits/pi-interconnection/assign.go
  prover/circuits/pi-interconnection/circuit.go
  prover/circuits/pi-interconnection/circuit_test.go
  prover/circuits/pi-interconnection/e2e_test.go
  prover/circuits/pi-interconnection/test_utils/test_utils.go
  prover/public-input/aggregation.go
  prover/public-input/execution.go
  prover/utils/test_utils/test_utils.go
Due: none

staterecover: add App test cases
  state-recover/clients/eth-api/build.gradle
  state-recover/test-cases/src/integrationTest/kotlin/linea/staterecover/StateRecoverAppWithFakeExecutionClientIntTest.kt
  state-recover/test-cases/src/integrationTest/resources/log4j2.xml
Due: none

staterecover: class renaming
  state-recover/appcore/logic/src/main/kotlin/linea/staterecover/BlockImporter.kt
Due: none

BlobAndAggregationFinalizationIntTest.kt
  coordinator/ethereum/blob-submitter/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/finalization/BlobAndAggregationFinalizationIntTest.kt
Due: kotlin

mimc.go
  prover/crypto/mimc/mimc.go
Due: none

is_zero.go
  prover/protocol/dedicated/is_zero.go
Due: none

prover.go
  prover/protocol/wizard/prover.go
Due: none

compression.go
  prover/backend/blobsubmission/compression.go
Due: none

test(StakeVault): add test to ensure users cannot withdraw without unstaking
  .gas-report
  .gas-snapshot
  src/StakeVault.sol
  test/StakeVault.test.sol
Due: none

feat(RewardsStreamerMP): make `RewardsStreamerMP` upgradeable
  .gas-report
  .gas-snapshot
  .github/workflows/ci.yml
  .gitmodules
  certora/confs/EmergencyMode.conf
  certora/confs/RewardsStreamerMP.conf
  certora/specs/EmergencyMode.spec
  certora/specs/RewardsStreamerMP.spec
  foundry.toml
  remappings.txt
  slither.config.json
  src/RewardsStreamerMP.sol
  src/TrustedCodehashAccess.sol
  test/RewardsStreamerMP.t.sol
  test/StakeVault.test.sol
Due: none

test(RewardsStreamerMP): add test to ensure funds are saffe when stack overflow
  .gas-report
  .gas-snapshot
  test/RewardsStreamerMP.t.sol
  test/mocks/StackOverflowStakeManager.sol
Due: none

feat(RewardsStreamerMP): introduce `leave()` function
  .gas-report
  .gas-snapshot
  certora/specs/EmergencyMode.spec
  certora/specs/RewardsStreamerMP.spec
  src/RewardsStreamerMP.sol
  src/StakeManagerProxy.sol
  src/StakeVault.sol
  src/interfaces/IStakeManager.sol
  src/interfaces/IStakeManagerProxy.sol
  test/RewardsStreamerMP.t.sol
  test/StakeVault.test.sol
Due: none

staterecover: simplify core gradle build
  state-recover/appcore/logic/build.gradle
Due: none

fix: correct variable name and grammatical errors in deployment.md (#291)
  contracts/docs/deployment.md
Due: hardhat

did .md exclusion rules for workflow files
  .github/workflows/bridge-ui-e2e-tests.yml
  .github/workflows/bridge-ui-publish.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/run-smc-tests.yml
Due: none

test md change
  contracts/README.md
Due: hardhat

add markdown exclusion to pull_request event in main.yml
  .github/workflows/main.yml
Due: none

modify main.yml to ignore *.md file on pull_request
  .github/workflows/main.yml
Due: none

test if main.yml will ignore yml changes
  .github/workflows/main.yml
Due: none

adjust paths exclusion for *.md
  .github/workflows/codeql.yml
  .github/workflows/main.yml
Due: none

test commit
  contracts/README.md
Due: hardhat

test commit
  .github/workflows/main.yml
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
