Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

fix: run restart tests with all tests
  e2e/package.json
Due: none

add toml errors
  config/common/smart-contract-errors.toml
Due: none

use correct value for the fee
  contracts/scripts/operational/forcedTransactions/sendForcedTransaction.ts
Due: hardhat

validium deployment updates
  Makefile
  contracts/local-deployments-artifacts/dynamic-artifacts/IntegrationTestTrueVerifier.json
Due: hardhat

update ABI and artifacts
  contracts/abi/ForcedTransactionGateway.abi
  contracts/abi/LineaRollupV8.0.abi
  contracts/local-deployments-artifacts/dynamic-artifacts/LineaRollupV8.json
  contracts/local-deployments-artifacts/static-artifacts/ForcedTransactionGateway.json
Due: hardhat

[ZkTracer] feat: update requires evm bit for 7702
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/TransactionProcessingMetadata.java
Due: none

chore: remove AGENTS.md and skill symlinks
  .agents/skills/developing-smart-contracts/AGENTS.md
  .claude/skills
  .codex/skills/developing-smart-contracts
  .cursor/skills/developing-smart-contracts
Due: none

docs: update gas optimization examples to use require pattern
  .agents/skills/developing-smart-contracts/rules/gas-optimization.md
Due: none

docs: add guidance for deprecated state variables
  .agents/skills/developing-smart-contracts/rules/natspec.md
Due: none

ras
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/AccountSnapshot.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/AddressUtils.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/TransactionProcessingMetadata.java
Due: none

fixed 2 limbs case keccak function
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

docs: update pragma version guidance for file layout
  .agents/skills/developing-smart-contracts/rules/file-layout.md
Due: none

docs: enhance unchecked math guidance with audit flag
  .agents/skills/developing-smart-contracts/rules/gas-optimization.md
Due: none

docs: add guidance for explicit inheritance of key ancestors
  .agents/skills/developing-smart-contracts/rules/imports.md
Due: none

docs: require public virtual instead of external virtual
  .agents/skills/developing-smart-contracts/rules/visibility.md
Due: none

docs: fix rules path reference and remove obsolete section
  .agents/skills/developing-smart-contracts/SKILL.md
Due: none

WIP - 2250 - Tx compressor
  .github/workflows/prover-native-lib-blob-compressor-release.yml
  jvm-libs/linea/tx-compressor/build.gradle
  jvm-libs/linea/tx-compressor/src/main/kotlin/linea/blob/GoNativeTxCompressor.kt
  jvm-libs/linea/tx-compressor/src/main/kotlin/linea/blob/TxCompressor.kt
  jvm-libs/linea/tx-compressor/src/test/kotlin/linea/blob/GoBackedTxCompressorTest.kt
  jvm-libs/linea/tx-compressor/src/test/kotlin/linea/blob/TxCompressorBlobMakerCompatibilityTest.kt
  prover/Makefile
  prover/lib/compressor/blob/v1/encode.go
  prover/lib/compressor/blob/v1/tx_compressor.go
  prover/lib/compressor/blob/v1/tx_compressor_test.go
  prover/lib/compressor/libtxcompressor/libtxcompressor.go
  settings.gradle
Due: kotlin

fix no delegation if no nonce matches, ebven if ec recover successful
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/ZkCounter.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/TransactionProcessingMetadata.java
Due: none

ras
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/TransactionProcessingMetadata.java
Due: none

docs: add ERC-7201 storage guidance and enhance NatSpec requirements
  .agents/skills/developing-smart-contracts/rules/general-rules.md
  .agents/skills/developing-smart-contracts/rules/naming-conventions.md
  .agents/skills/developing-smart-contracts/rules/natspec.md
Due: none

docs: add reinitializer pattern and modifier extraction guidance
  .agents/skills/developing-smart-contracts/rules/general-rules.md
Due: none

docs: require explicit visibility on state variables
  .agents/skills/developing-smart-contracts/rules/general-rules.md
Due: none

care if sender == to for the nonce
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/types/TransactionProcessingMetadata.java
Due: none

docs: rename skill and add ErrorUtils zero-value check guidance
  .agents/skills/developing-smart-contracts/metadata.json
  .agents/skills/developing-smart-contracts/rules/general-rules.md
Due: none

default to old timestamp if fork-timestamp file missing
  makefile-contracts.mk
Due: none

completely fixed shakira lookup
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

use correct validium version
  contracts/test/hardhat/rollup/Validium.ts
Due: hardhat

[Fix] Add support for Validium (#2380)
  Makefile
  contracts/abi/ValidiumV2.0.abi
  contracts/local-deployments-artifacts/deployPlonkVerifierAndValidiumV2.ts
  contracts/local-deployments-artifacts/dynamic-artifacts/IntegrationTestTrueVerifier.json
  contracts/local-deployments-artifacts/dynamic-artifacts/ValidiumV2.json
  contracts/src/rollup/Validium.sol
  contracts/test/hardhat/rollup/Validium.ts
  makefile-contracts.mk
Due: hardhat

partially fixed lookup to ecdata
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

[2272] Remove expectedTracesEngineVersion constraint from RPC requests
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/batchlinecount/ConflatedCountTracesV2.java
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/linecounts/GenerateLineCountsV2.java
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/linecounts/LineCountsRequestParams.java
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/GenerateConflatedTracesV2.java
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/TraceRequestParams.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/json/JsonConverter.java
  tracer/arithmetization/src/test/java/net/consensys/linea/plugins/rpc/linecounts/LineCountsRequestParamsTest.java
  tracer/arithmetization/src/test/java/net/consensys/linea/plugins/rpc/tracegeneration/TraceRequestParamsTest.java
  tracer/testing/src/main/java/net/consensys/linea/testing/BesuExecutionTools.java
Due: none

updated ABI
  contracts/abi/ValidiumV2.0.abi
  contracts/local-deployments-artifacts/dynamic-artifacts/ValidiumV2.json
Due: hardhat

Forced Transactions - Acceptance tests - Added TooManyLogs test (#2296)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/RawTransactionHelper.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/AbstractForcedTransactionTest.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/BlsMapFpToG1OverflowSetup.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/EstimateGasModuleLimitOverflowLimitlessTest.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/ForcedTransactionTest.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/ForcedTransactionTooManyLogsTest.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/solidity/LogEmmitter.sol
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/LineaForcedTransactionPool.java
Due: none

fix: add forced transactions e2e tests
  e2e/scripts/generateAbi.ts
  e2e/src/bridge-tokens.spec.ts
  e2e/src/common/constants.ts
  e2e/src/common/test-helpers/forced-transaction.ts
  e2e/src/config/contracts/contracts.ts
  e2e/src/config/contracts/l1-contract-registry.ts
  e2e/src/forced-transaction.spec.ts
  e2e/src/messaging.spec.ts
  e2e/src/restart.spec.ts
  e2e/src/submission-finalization.spec.ts
Due: none

added left pad to ecrecover inputs
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpAuth/RlpAuthOperation.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/rlpauth/TestRlpAuth.java
Due: none

fix: signature parsing issue and path
  e2e/src/common/constants.ts
  e2e/src/common/test-helpers/forced-transaction.ts
  e2e/src/forced-transaction.spec.ts
Due: none

v in Besu CodeDelegation is actually yParity, so rlpAuth module has been fixed accordingly
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/rlpAuth/RlpAuthOperation.java
Due: none

Fixed some bugs, added more comparison tests
  jvm-libs/linea/tx-compressor/build.gradle
  jvm-libs/linea/tx-compressor/src/test/kotlin/linea/blob/GoBackedTxCompressorTest.kt
  jvm-libs/linea/tx-compressor/src/test/kotlin/linea/blob/TxCompressorBlobMakerCompatibilityTest.kt
  prover/lib/compressor/blob/v1/tx_compressor.go
  prover/lib/compressor/blob/v1/tx_compressor_test.go
Due: kotlin
