Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

coordinator: simplify Logger import in TracesClientFactory configuration
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/TracesClientFactory.kt
Due: kotlin

fixed formatting
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

coordinator: traces client add placeholder for generateVirtualBlockConflatedTracesToFile
  coordinator/clients/traces-generator-api-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV2.kt
Due: kotlin

coordinator: integrate invalidity proof generation with ForcedTransactionsApp
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/ForcedTransactionsConfig.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedInvalidityProverClient.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/ForcedTransactionsApp.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ForcedTransactionsInvalidityProofService.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/InvalidityProofAssembler.kt
Due: kotlin

coordinator: refactor AggregationTriggerCalculator to support dynamic target block numbers and trigger type customization
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByTargetBlockNumbers.kt
Due: kotlin

coordinator: add dependency on besu-libs in ForcedTransactions build configuration
  coordinator/ethereum/forced-transactions/build.gradle
Due: kotlin

coordinator: add ForcedTransactionsConflationCoordinator and integrate invalidity proof generation refinements
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/Config.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/FileBasedProofAggregationClientV2.kt
  coordinator/ethereum/forced-transactions/src/main/kotlin/linea/ftx/conflation/ForcedTransactionsConflationCoordinator.kt
Due: kotlin

coordinator: update environment variable for coordinator disabling to `dev_LINEA_COORDINATOR_DISABLED` in compose config
  docker/compose-spec-l2-services.yml
Due: none

coordinator: add `invalidity` prover configuration support
  config/coordinator/coordinator-config-v2-override-local-dev.toml
  config/coordinator/coordinator-config-v2.toml
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ProverToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
Due: kotlin

add extra new deploy check to initialize
  contracts/src/bridging/token/TokenBridge.sol
  contracts/src/common/InitializationVersionCheck.sol
  contracts/src/interfaces/IGenericErrors.sol
  contracts/src/messaging/l2/L2MessageService.sol
  contracts/src/rollup/LineaRollup.sol
  contracts/src/security/reentrancy/TransientStorageReentrancyGuardUpgradeable.sol
  contracts/test/hardhat/bridging/token/TokenBridge.ts
  contracts/test/hardhat/messaging/l2/L2MessageService.ts
  contracts/test/hardhat/rollup/LineaRollup.ts
Due: hardhat

added tmp test for limb_u1024
  tracer-constraints/zkasm_test_tmp/byte.accepts
Due: none

fix(execdata): fix unsound and incorrect projection
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector.go
Due: none

fix(devnet): use the maru coinBase
  prover/config/config-devnet-full.toml
Due: none

Prover/koala fix full prover (#2373)
  prover/backend/execution/prove.go
  prover/circuits/execution/pi_wizard_extraction.go
  prover/circuits/pi-interconnection/assign.go
  prover/circuits/setup.go
  prover/config/config-devnet-full.toml
  prover/crypto/fiatshamir_koalabear/fiatshamir_circuit.go
  prover/crypto/hasherfactory_koalabear/factories.go
  prover/protocol/compiler/arcane.go
  prover/protocol/compiler/degreereduction/degreereduction.go
  prover/protocol/compiler/dummy/dummy_prover_level.go
  prover/protocol/compiler/globalcs/degree_reduction.go
  prover/protocol/compiler/globalcs/merging.go
  prover/protocol/compiler/globalcs/normalize_offset.go
  prover/protocol/compiler/localcs/local_constraint.go
  prover/protocol/compiler/mpts/multipoint_to_singlepoint.go
  prover/protocol/compiler/stitchsplit/splitter_constraints.go
  prover/protocol/compiler/stitchsplit/stitcher_constraints.go
  prover/protocol/dedicated/is_zero.go
  prover/protocol/distributed/module_gl.go
  prover/protocol/query/global.go
  prover/protocol/query/gnark_params.go
  prover/protocol/wizard/compiled.go
  prover/protocol/wizard/gnark_verifier.go
  prover/protocol/wizard/prover.go
  prover/protocol/wizard/verifier.go
  prover/public-input/execution.go
  prover/symbolic/degree_reduction.go
  prover/symbolic/evaluation.go
  prover/symbolic/polyeval.go
  prover/utils/gnarkutil/gnarkutil.go
  prover/utils/parallel/parallel.go
  prover/zkevm/full.go
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector.go
  prover/zkevm/prover/publicInput/public_input.go
  prover/zkevm/zkevm.go
Due: none

changed size of keccak input to make usage of indeces easier
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

fix: refactoring refunds (Java)
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/common/CommonFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/TraceSection.java
Due: none

fix: refactoring refunds (lisp)
  tracer-constraints/hub/osaka/constraints/generalities/refunds.lisp
Due: none

removed index_max_data
  tracer-constraints/rlpauth/rlpauth.zkasm
Due: none

feat: updated the STP instruction for CALL's
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/imc/StpCall.java
Due: none

feat: CallSection overhaul for 7702 ... likely to be buggy to no end
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/call/CallSection.java
Due: none

feat: important documentation on AccountSnapshot methods
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/AccountSnapshot.java
Due: none

refactor: remove slackMessageTs tracking
  native-yield-operations/lido-governance-monitor/prisma/migrations/20260210125856_init/migration.sql
  native-yield-operations/lido-governance-monitor/prisma/schema.prisma
  native-yield-operations/lido-governance-monitor/src/__tests__/integration/proposal-lifecycle.test.ts
  native-yield-operations/lido-governance-monitor/src/clients/SlackClient.ts
  native-yield-operations/lido-governance-monitor/src/clients/__tests__/SlackClient.test.ts
  native-yield-operations/lido-governance-monitor/src/clients/db/ProposalRepository.ts
  native-yield-operations/lido-governance-monitor/src/clients/db/__tests__/ProposalRepository.test.ts
  native-yield-operations/lido-governance-monitor/src/core/clients/ISlackClient.ts
  native-yield-operations/lido-governance-monitor/src/core/entities/Proposal.ts
  native-yield-operations/lido-governance-monitor/src/core/repositories/IProposalRepository.ts
  native-yield-operations/lido-governance-monitor/src/services/NotificationService.ts
  native-yield-operations/lido-governance-monitor/src/services/__tests__/NotificationService.test.ts
  native-yield-operations/lido-governance-monitor/src/services/__tests__/ProposalProcessor.test.ts
Due: none

sharedSlackBlocks
  native-yield-operations/lido-governance-monitor/src/clients/SlackClient.ts
  native-yield-operations/lido-governance-monitor/src/clients/__tests__/SlackClient.test.ts
Due: none

ras
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/delegation/DelegatesAndRevertsTests.java
Due: none

[ZkTracer] test: 7702 and refund (#2340)
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/delegation/DelegatesAndRevertsTests.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyTransaction.java
Due: none

fix: use correct input name for docker-build-publish action
  .github/workflows/lido-governance-monitor-build-and-publish.yml
Due: none

move db-migration.md
  native-yield-operations/lido-governance-monitor/docs/db-migration.md
Due: none

docs: extract architecture to dedicated doc
  native-yield-operations/lido-governance-monitor/README.md
  native-yield-operations/lido-governance-monitor/docs/architecture.md
Due: none

docs: clarify ordering rationale in findLatestSourceIdBySource
  native-yield-operations/lido-governance-monitor/src/clients/db/ProposalRepository.ts
Due: none

fix: escalate votesLength failure log from warn to critical
  native-yield-operations/lido-governance-monitor/src/services/__tests__/fetchers/LdoVotingContractFetcher.test.ts
  native-yield-operations/lido-governance-monitor/src/services/fetchers/LdoVotingContractFetcher.ts
Due: none

fix: typo for action descriptions
  .github/actions/linea-besu-package/assemble/action.yml
  .github/actions/linea-besu-package/build-plugins-and-assemble/action.yml
Due: none

test: manual linea-besu-package release with download artifacts
  linea-besu-package/versions.env
Due: none

fix: sequencer version
  linea-besu-package/versions.env
Due: none

docs: extract architecture documentation to separate file
  native-yield-operations/automation-service/README.md
  native-yield-operations/automation-service/docs/architecture.md
Due: none

validium v2 prep
  contracts/abi/ValidiumV2.0.abi
  contracts/local-deployments-artifacts/deployPlonkVerifierAndValidiumV2.ts
  contracts/local-deployments-artifacts/dynamic-artifacts/ValidiumV2.json
  contracts/src/rollup/Validium.sol
  makefile-contracts.mk
Due: hardhat

use OZ recover vs tryRecover
  contracts/src/rollup/forcedTransactions/ForcedTransactionGateway.sol
  contracts/src/rollup/forcedTransactions/interfaces/IForcedTransactionGateway.sol
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
Due: hardhat

store L1 block number for checks
  contracts/src/rollup/forcedTransactions/ForcedTransactionGateway.sol
  contracts/src/rollup/forcedTransactions/interfaces/IForcedTransactionGateway.sol
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
Due: hardhat

Sequencer/ftx other rejection reason (#2312)
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/RawTransactionHelper.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/BlsMapFpToG1OverflowSetup.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/EstimateGasModuleLimitOverflowLimitlessTest.kt
  besu-plugins/linea-sequencer/acceptance-tests/src/test/kotlin/linea/plugin/acc/test/rpc/linea/ForcedTransactionTest.kt
  besu-plugins/linea-sequencer/sequencer/src/main/java/net/consensys/linea/sequencer/forced/LineaForcedTransactionPool.java
Due: none

add sanity check for final forced tx number
  contracts/src/rollup/LineaRollupBase.sol
  contracts/src/rollup/forcedTransactions/interfaces/IAcceptForcedTransactions.sol
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
Due: hardhat

fix: add retry mechanism in e2e tests
  e2e/src/bridge-tokens.spec.ts
  e2e/src/common/test-helpers/messaging.ts
  e2e/src/common/utils/gas.ts
  e2e/src/common/utils/index.ts
  e2e/src/common/utils/retry.ts
  e2e/src/common/utils/traffic.ts
  e2e/src/common/utils/transaction.ts
  e2e/src/common/utils/wait.ts
  e2e/src/l2.spec.ts
  e2e/src/opcodes.spec.ts
  e2e/src/restart.spec.ts
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
