Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

codecov.yml:

codecov:
  max_report_age: off
  notify:
    wait_for_ci: false
  require_ci_to_pass: false

comment:
  behavior: default
  hide_project_coverage: false
  layout: "diff, flags, files"
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true

coverage:
  precision: 2
  range: 60..80
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project: true

flags:
  hardhat:
    paths:
      - contracts/
    carryforward: true
  kotlin:
    paths:
      - coordinator/
      - jvm-libs/
    carryforward: true

github_checks:
  annotations: false
slack_app: false

feat: refactor GAS / ADD tracers for asm implementations (#2234)
  tracer/.github/actions/setup-go-corset/action.yml
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/add/Add.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/add/AddOperation.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/add/LondonAdd.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/add/ShanghaiAdd.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/gas/Gas.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/gas/GasOperation.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/gas/GasOperationComparator.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/Hub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/LondonHub.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/ShanghaiHub.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/containers/StackedListTests.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/containers/StackedSetTests.java
Due: none

Peer scoring (#311)
  maru/app/build.gradle
  maru/app/src/integrationTest/kotlin/maru/app/MaruPeerScoringTest.kt
  maru/app/src/integrationTest/kotlin/testutils/MisbehavingP2PNetwork.kt
  maru/app/src/main/kotlin/maru/app/MaruApp.kt
  maru/app/src/main/kotlin/maru/app/MaruAppFactory.kt
  maru/chaos-testing/helm/charts/maru/values.yaml
  maru/config/src/main/kotlin/maru/config/Config.kt
  maru/config/src/test/kotlin/maru/config/HopliteFriendlinessTest.kt
  maru/core/src/main/kotlin/maru/metrics/MaruMetricsCategory.kt
  maru/jvm-libs/test-utils/build.gradle
  maru/jvm-libs/test-utils/src/main/kotlin/testutils/maru/MaruFactory.kt
  maru/p2p/build.gradle
  maru/p2p/src/main/kotlin/maru/p2p/Libp2pNetworkFactory.kt
  maru/p2p/src/main/kotlin/maru/p2p/MaruPeer.kt
  maru/p2p/src/main/kotlin/maru/p2p/MaruPeerManager.kt
  maru/p2p/src/main/kotlin/maru/p2p/MaruReputationManager.kt
  maru/p2p/src/main/kotlin/maru/p2p/NoOpP2PNetwork.kt
  maru/p2p/src/main/kotlin/maru/p2p/P2PNetwork.kt
  maru/p2p/src/main/kotlin/maru/p2p/P2PNetworkImpl.kt
  maru/p2p/src/main/kotlin/maru/p2p/RpcMethods.kt
  maru/p2p/src/main/kotlin/maru/p2p/messages/BeaconBlocksByRangeHandler.kt
  maru/p2p/src/main/kotlin/maru/p2p/messages/BlockRetrievalStrategy.kt
  maru/p2p/src/test/kotlin/maru/p2p/DefaultMaruPeerTest.kt
  maru/p2p/src/test/kotlin/maru/p2p/MaruPeerManagerTest.kt
  maru/p2p/src/test/kotlin/maru/p2p/MaruReputationManagerTest.kt
  maru/p2p/src/test/kotlin/maru/p2p/P2PTest.kt
  maru/p2p/src/test/kotlin/maru/p2p/discovery/MaruDiscoveryServiceTest.kt
  maru/syncing/src/main/kotlin/maru/syncing/beaconchain/pipeline/DownloadBlocksStep.kt
  maru/syncing/src/main/kotlin/maru/syncing/beaconchain/pipeline/ImportBlocksStep.kt
Due: none

`SYSI` transaction fix in the `HUB` (#736)
  hub/cancun/columns/transaction.lisp
  hub/cancun/constraints/tx_skip/sysi/eip-2935/peeking_flags.lisp
  hub/cancun/constraints/tx_skip/sysi/eip-2935/rows/_context_final_zero_context___nontrivial_case.lisp
  hub/cancun/constraints/tx_skip/sysi/eip-2935/rows/_context_final_zero_context___trivial_case.lisp
  hub/cancun/constraints/tx_skip/sysi/eip-2935/rows/storage_store_block_hash_in_state.lisp
  hub/cancun/constraints/tx_skip/sysi/eip-2935/shorthands.lisp
  hub/cancun/constraints/tx_skip/sysi/eip-4788/peeking_flags.lisp
  hub/cancun/constraints/tx_skip/sysi/eip-4788/rows/_context_final_zero_context___nontrivial_case.lisp
  hub/cancun/constraints/tx_skip/sysi/eip-4788/rows/_context_final_zero_context___trivial_case.lisp
  hub/cancun/constraints/tx_skip/sysi/eip-4788/rows/storage_store_beacon_root.lisp
  hub/cancun/constraints/tx_skip/sysi/eip-4788/rows/storage_store_timestamp.lisp
  hub/cancun/constraints/tx_skip/sysi/eip-4788/shorthands.lisp
Due: none

fix(bridge-ui): fix bridge issues
  bridge-ui/next.config.mjs
  bridge-ui/src/app/(layerswap)/centralized-exchange/page.module.scss
  bridge-ui/src/app/(main)/faq/page.tsx
  bridge-ui/src/components/bridge/bridge-two-logo/bridge-two-logo.module.scss
  bridge-ui/src/components/bridge/claiming/index.tsx
  bridge-ui/src/components/bridge/destination-address/destination-address.module.scss
  bridge-ui/src/components/bridge/destination-address/index.tsx
  bridge-ui/src/components/bridge/form/bridge-form.module.scss
  bridge-ui/src/components/bridge/form/index.tsx
  bridge-ui/src/components/bridge/modal/transaction-confirmed/index.tsx
  bridge-ui/src/components/bridge/transaction-history/list-transaction/item/index.tsx
  bridge-ui/src/utils/message.ts
Due: none

[Feat] changeProxyAdmin script (#1358)
  contracts/hardhat_overrides.ts
  contracts/scripts/operational/changeProxyAdmin.ts
Due: hardhat

feat: update sysi transaction (#2217)
  tracer/arithmetization/src/main/java/net/consensys/linea/blockcapture/snapshots/BlockHeaderSnapshot.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/AccountSnapshot.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/account/AccountFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/account/CancunAccountFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/transaction/system/EIP2935TransactionFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/fragment/transaction/system/Eip4788TransactionFragment.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/systemTransaction/EIP2935HistoricalHash.java
  tracer/arithmetization/src/main/java/net/consensys/linea/zktracer/module/hub/section/systemTransaction/EIP4788BeaconBlockRoot.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/forkSpecific/cancun/SystemTransaction4788Tests.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/forkSpecific/prague/SystemTransaction2935Tests.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/forkSpecific/systemTransaction/SystemTransactionTestUtils.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/forkSpecific/systemTransaction/SystemTransactionTests.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/module/rlptxn/RlptxnTests.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ExecutionEnvironment.java
  tracer/testing/src/main/java/net/consensys/linea/testing/MultiBlockExecutionEnvironment.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ReplayExecutionEnvironment.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyAccount.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyExecutionTools.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyTransaction.java
  tracer/testing/src/main/java/net/consensys/linea/testing/TransactionProcessingResultValidator.java
Due: none

Chaos testing fix (#370)
  maru/chaos-testing/health-checker/src/acceptanceTest/kotlin/chaos/NodesSyncTest.kt
  maru/chaos-testing/helm/charts/besu/templates/_helpers.tpl
  maru/syncing/src/main/kotlin/maru/syncing/ELSyncService.kt
Due: none

adjust some log levels
  coordinator/ethereum/finalization-monitor/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImpl.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/ExtraDataV1PricerService.kt
Due: kotlin

Apply suggestions from code review
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculator.kt
Due: kotlin

rm unwanted refl. while packing/unpacking stores
  prover/protocol/serialization/serializer.go
Due: none

Coordiantor add comment (#1390)
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculator.kt
  coordinator/ethereum/finalization-monitor/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImpl.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/ExtraDataV1PricerService.kt
Due: kotlin

Coordiantor - Make the retention of the Prover Reqeust files optional.Files are retained by default
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ProverToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorApp.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/Config.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactoryTest.kt
Due: kotlin

Update contracts/src/_testing/mocks/base/TestEIP7702Delegation.sol
  contracts/src/_testing/mocks/base/TestEIP7702Delegation.sol
Due: hardhat

Added a configuration test
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ProverParsingTest.kt
Due: kotlin

Simplified the test
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ProverParsingTest.kt
Due: kotlin

[1394] Coordiantor - Make the retention of the Prover Reqeust files optional… (#1395)
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/ProverToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/CoordinatorApp.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/ProverParsingTest.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/Config.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactoryTest.kt
Due: kotlin

test: add BLS testdata generator
  .gitignore
  prover/zkevm/prover/bls/testdata/main.go
  prover/zkevm/prover/bls/testdata/testdata_generate.go
  prover/zkevm/prover/bls/testdata/testdata_generate_add.go
  prover/zkevm/prover/bls/testdata/testdata_generate_map.go
  prover/zkevm/prover/bls/testdata/testdata_generate_msm.go
  prover/zkevm/prover/bls/testdata/testdata_generate_pair.go
  prover/zkevm/prover/bls/testdata/testdata_generate_pointeval.go
  prover/zkevm/prover/bls/testdata/testdata_generate_pointeval_trusted.go
  prover/zkevm/prover/bls/testdata/testdata_generate_pointeval_types.go
  prover/zkevm/prover/bls/testdata/testdata_test.go
Due: none

fix(StakeVault): ensure StakeManager accouning is done before withdraing
  status-network-contracts/.gas-report
  status-network-contracts/.gas-snapshot
  status-network-contracts/certora/confs/LeaveMode.conf
  status-network-contracts/certora/harness/StakeVaultHarness.sol
  status-network-contracts/certora/specs/LeaveMode.spec
  status-network-contracts/certora/specs/StakeVault.spec
  status-network-contracts/src/StakeVault.sol
  status-network-contracts/test/RewardsStreamerMP.t.sol
Due: none

add linea_estimategas utility
  contracts/scripts/testEIP7702/sendType4Tx.ts
  contracts/scripts/utils.ts
Due: hardhat

less params for estimateGas
  contracts/scripts/testEIP7702/sendType4Tx.ts
  contracts/scripts/utils.ts
Due: hardhat

Update contracts/scripts/testEIP4844/NineInOne/sendBlobTransaction.ts
  contracts/scripts/testEIP4844/NineInOne/sendBlobTransaction.ts
Due: hardhat

refactor: wrap frontend.Variable and rewrite extensions
  prover/maths/field/gnarkfext/api_gen_test.go
  prover/maths/field/gnarkfext/e2_gen.go
  prover/maths/field/gnarkfext/e4_gen.go
  prover/protocol/zk/gnark_emulated_api.go
  prover/protocol/zk/gnark_mixed_api.go
  prover/protocol/zk/gnark_native_api.go
Due: none

allocated the circuit to the right size
  prover/backend/invalidity/prove.go
  prover/circuits/invalidity/bad_balance.go
  prover/circuits/invalidity/bad_balance_test.go
  prover/circuits/invalidity/bad_nonce.go
  prover/circuits/invalidity/bad_nonce_test.go
  prover/circuits/invalidity/invalidity.go
  prover/circuits/invalidity/transaction.go
Due: none

Fixing the tx sync script
  operations/src/commands/synctx.ts
Due: none

refactor: use AddCleanup to cleanup cache
  prover/go.mod
  prover/maths/fftdomain/domain.go
  prover/maths/fftdomain/domain_test.go
Due: none

try use a shorter key
  prover/maths/fftdomain/domain.go
  prover/maths/fftdomain/domain_test.go
Due: none

init fast ser/de com iop
  prover/protocol/serialization/compiled_iop.go
Due: none

coordinator: optimize conflation to skip trace conflation and shomei when proof is already exists
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/ABProverClientRouter.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/GenericFileBasedProverClient.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactory.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/ProverClient.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ProofGeneratingConflationHandlerImpl.kt
Due: kotlin

coordinator: fix typing and adds log message
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ProofGeneratingConflationHandlerImpl.kt
Due: kotlin

coordinator: small log tweak
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ProofGeneratingConflationHandlerImpl.kt
Due: kotlin

commit progress
  prover/protocol/serialization/compiled_iop.go
  prover/protocol/wizard/compiled.go
Due: none

init raw comp iop
  prover/protocol/serialization/compiled_iop.go
  prover/protocol/serialization/serializer.go
Due: none

fast comp iop ser basic tests pass
  prover/protocol/serialization/compiled_iop.go
  prover/protocol/serialization/compiled_iop_fast_test.go
  prover/protocol/serialization/serializer.go
Due: none

refactor ser. com-iop fast
  prover/protocol/serialization/compiled_iop.go
Due: none

init deser comp-iop
  prover/protocol/serialization/compiled_iop.go
  prover/protocol/serialization/serializer.go
Due: none

try deser comp-iop
  prover/protocol/serialization/compiled_iop.go
  prover/protocol/serialization/serializer.go
Due: none

query params working
  prover/protocol/serialization/compiled_iop.go
Due: none

deser query success
  prover/protocol/serialization/compiled_iop.go
Due: none
