Repository Consensys/linea-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hardhat, kotlin

update comments
  prover/protocol/serialization/cbor.go
  prover/protocol/serialization/column_assignment.go
  prover/protocol/serialization/compiled_iop.go
  prover/protocol/serialization/serialization.go
Due: none

split cbor encoder and decoder
  prover/protocol/serialization/cbor.go
Due: none

update go.mod
  prover/go.mod
  prover/go.sum
Due: none

refactor MessageClaimingPersister
  postman/src/services/processors/MessageClaimingPersister.ts
  postman/src/services/processors/__tests__/MessageClaimingPersister.test.ts
Due: none

remove bad comment
  postman/src/services/processors/MessageClaimingProcessor.ts
Due: none

coordinator: order MessageSentEvent.kt params for better reading
  coordinator/ethereum/message-anchoring-i2/src/main/kotlin/linea/anchoring/events/MessageSentEvent.kt
  coordinator/ethereum/message-anchoring-i2/src/test/kotlin/linea/anchoring/events/MessageSentEventTest.kt
Due: kotlin

add censorship resistance check
  contracts/src/_testing/unit/rollup/TestLineaRollup.sol
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/interfaces/ILineaRollup.sol
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
Due: hardhat

coordinator: fix MessageSentEvent.kt serialization
  coordinator/ethereum/message-anchoring-i2/src/main/kotlin/linea/anchoring/events/MessageSentEvent.kt
  coordinator/ethereum/message-anchoring-i2/src/test/kotlin/linea/anchoring/MessageAnchoringAppTest.kt
  coordinator/ethereum/message-anchoring-i2/src/test/kotlin/linea/anchoring/ModelsFactory.kt
  coordinator/ethereum/message-anchoring-i2/src/test/kotlin/linea/anchoring/events/MessageSentEventTest.kt
Due: kotlin

feat: columns and constant of SHANGHAI
  hub/columns/miscellaneous.lisp
  oob/columns.lisp
  oob/constants.lisp
Due: none

test: mainnet-ee8dc74 linea besu pkg
  docker/compose-tracing-v1-ci-extension.yml
  docker/compose-tracing-v1.yml
Due: none

test tracing v2
  docker/compose-spec-l1-services.yml
  docker/compose-spec-l2-services.yml
  docker/compose-tracing-v1-ci-extension.yml
  docker/compose-tracing-v1.yml
Due: none

Prover/limitless ser deser (#907)
  prover/protocol/column/natural.go
  prover/protocol/serialization/cbor.go
  prover/protocol/serialization/column_assignment.go
  prover/protocol/serialization/column_assignment_test.go
  prover/protocol/serialization/column_declaration.go
  prover/protocol/serialization/compiled_iop.go
  prover/protocol/serialization/compiled_iop_test.go
  prover/protocol/serialization/implementation_registry.go
  prover/protocol/serialization/serialization.go
  prover/protocol/serialization/serialization_test.go
  prover/utils/collection/mapping.go
  prover/zkevm/encoding_only.go
Due: none

added migration:create command
  postman/README.md
  postman/package.json
Due: none

installed packages
  pnpm-lock.yaml
Due: none

generate migration docs
  postman/README.md
  postman/package.json
  postman/src/application/postman/persistence/migrations/MigrationDataSource.ts
Due: none

added new migration for sponsorship
  postman/README.md
  postman/package.json
  postman/src/application/postman/persistence/dataSource.ts
  postman/src/application/postman/persistence/migrations/1745569276097-AddSponsorshipMetrics.ts
  postman/src/application/postman/persistence/migrations/MigrationDataSource.ts
Due: none

typo
  postman/README.md
Due: none

more func for symbolic extensions
  prover/maths/common/smartvectors/regular_ext.go
  prover/maths/common/smartvectors/smartvectors.go
  prover/maths/field/fext/e2.go
  prover/maths/field/fext/element.go
  prover/protocol/wizard/gnark_verifier.go
  prover/symbolic/evaluation_bench_test.go
  prover/symbolic/evaluation_board.go
  prover/symbolic/evaluation_ext.go
  prover/symbolic/evaluation_test.go
  prover/symbolic/expression.go
  prover/symbolic/expression_test.go
  prover/symbolic/lincomb.go
  prover/symbolic/product.go
  prover/symbolic/simplification_test.go
  prover/symbolic/simplify/factor.go
  prover/symbolic/simplify/factor_test.go
Due: none

skipping to confirm CI issue is related
  contracts/test/hardhat/messaging/l2/L2MessageService.ts
Due: hardhat

fixing infinite loop
  contracts/package.json
  contracts/src/_testing/unit/NoFundReceiver.sol
  contracts/test/hardhat/messaging/l2/L2MessageService.ts
  pnpm-lock.yaml
Due: hardhat

coordinator: simplify rejectOnJsonRpcError function typing
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/RequestHelper.kt
Due: kotlin

coordinator: tiny optimization on L1MessageSentEventsFetcher
  coordinator/ethereum/message-anchoring-i2/src/main/kotlin/linea/anchoring/clients/L1MessageSentEventsFetcher.kt
Due: kotlin

coordinator: WIP implementation of new Web3JL2MessageServiceSmartContractClient
  coordinator/app/build.gradle
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/Web3JHelperFunctions.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupSmartContractClient.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/smartcontract/LineaRollupSmartContractClient.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/gaspricing/GasPriceCapProvider.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapProviderForDataSubmission.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapProviderForFinalization.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapProviderImpl.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapProviderForDataSubmissionTest.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapProviderForFinalizationTest.kt
  coordinator/ethereum/gas-pricing/dynamic-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/dynamiccap/GasPriceCapProviderImplTest.kt
  coordinator/ethereum/gas-pricing/src/testFixtures/kotlin/net/consensys/linea/ethereum/gaspricing/FakeGasPriceCapProvider.kt
  coordinator/ethereum/message-anchoring-i2/src/main/kotlin/linea/anchoring/clients/L1MessageSentEventsFetcher.kt
  jvm-libs/linea/clients/linea-l1-contract-client/build.gradle
  jvm-libs/linea/clients/linea-l1-contract-client/src/main/kotlin/linea/contract/Web3JContractAsyncHelper.kt
  jvm-libs/linea/clients/linea-l1-contract-client/src/main/kotlin/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
  jvm-libs/linea/clients/linea-l1-contract-client/src/main/kotlin/linea/contract/l2/SmartContractFunctionCallBuilders.kt
  jvm-libs/linea/clients/linea-l1-contract-client/src/main/kotlin/linea/contract/l2/Web3JL2MessageServiceSmartContractClient.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/gas/GasPriceCaps.kt
Due: kotlin

refactor to remove the temporary lincombext and prodext
  prover/maths/common/smartvectors/arithmetic_gen_ext.go
  prover/maths/common/smartvectors/arithmetic_op_ext.go
  prover/maths/common/smartvectors/windowed_ext_test.go
Due: none

Update evaluation_bench_test.go
  prover/symbolic/evaluation_bench_test.go
Due: none

feat: changes in the gnark is done
  prover/crypto/vortex/commitment.go
  prover/crypto/vortex/commitment_test.go
  prover/crypto/vortex/gnark_test.go
  prover/crypto/vortex/gnark_utils.go
  prover/crypto/vortex/opening_verifier.go
  prover/crypto/vortex/params.go
Due: none

ToyExecutionEnvironment can run transactions by starting a besu node (#1981)
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/TraceRequestParams.java
  tracer/arithmetization/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/TracesEndpointCliOptions.java
  tracer/arithmetization/src/test/java/net/consensys/linea/zktracer/ExampleBesuTest.java
  tracer/gradle.properties
  tracer/gradle/dependency-management.gradle
  tracer/gradle/dist.gradle
  tracer/gradle/tests.gradle
  tracer/plugins/src/main/java/net/consensys/linea/plugins/rpc/tracegeneration/TracesEndpointServicePlugin.java
  tracer/reference-tests/src/test/java/net/consensys/linea/CorsetBlockProcessor.java
  tracer/testing/build.gradle
  tracer/testing/src/main/java/net/consensys/linea/testing/BesuExecutionTools.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ExecutionEnvironment.java
  tracer/testing/src/main/java/net/consensys/linea/testing/GenesisConfigBuilder.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyAccount.java
  tracer/testing/src/main/java/net/consensys/linea/testing/ToyExecutionEnvironmentV2.java
  tracer/testing/src/main/resources/lineabesu.json
Due: none

feat: upgrade go corset to v11 (#636)
  .github/workflows/check.yml
  bin/constraints.lisp
  hub/constraints/instruction-handling/halting/revert.lisp
  loginfo/constraints.lisp
  mxp/constraints.lisp
  rlpaddr/constraints.lisp
  rlptxn/constraints.lisp
  rlptxrcpt/constraints.lisp
  stp/constraints.lisp
  txndata/constraints.lisp
Due: none

[Fix] Bridge-UI Docker build in CI (#906)
  .github/workflows/bridge-ui-publish.yml
Due: none

use better naming for missing tx error
  contracts/src/rollup/LineaRollup.sol
  contracts/src/rollup/interfaces/ILineaRollup.sol
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
Due: hardhat

cover ftx race condition
  contracts/test/hardhat/rollup/LineaRollup/ForcedTransactionGateway.ts
Due: hardhat

cover ftx race condition
  contracts/src/rollup/ForcedTransactionGateway.sol
  contracts/src/rollup/LineaRollup.sol
Due: hardhat

isBase function for expression
  prover/symbolic/constant.go
  prover/symbolic/expression.go
  prover/symbolic/lincomb.go
  prover/symbolic/polyeval.go
  prover/symbolic/product.go
  prover/symbolic/variable.go
Due: none

exclude expression banchmark test
  prover/symbolic/evaluation_bench_test.go
Due: none

feat: compiler part is done
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/option.go
Due: none

passing tests for MessageMetricsService & MetricsService refactor
  postman/src/application/postman/api/metrics/MessageMetricsService.ts
  postman/src/application/postman/api/metrics/MetricsService.ts
  postman/src/application/postman/api/metrics/__tests__/MessageMetricsService.test.ts
  postman/src/core/metrics/IMetricsService.ts
Due: none

remove console logs
  postman/src/application/postman/api/metrics/MessageMetricsService.ts
  postman/src/application/postman/api/metrics/MetricsService.ts
Due: none

bump to beta v2.1-rc16
  prover/zkevm/arithmetization/zkevm.bin
Due: none

Path conditions:
  hardhat: any of: contracts/
  kotlin: any of: coordinator/, jvm-libs/
